@model IEnumerable<AltivaWebApp.Domains.TbFdTarea>
@inject IStringLocalizer<SharedResources> Lb

@{ 
    var usuarios = ViewData["usuarios"] as IList<TbSeUsuario>;
}


<div class="table-responsive">

    <table class="table table-bordered">
        <thead>
            <tr>
                <th hidden>
                    id
                </th>
                <th>
                    @Lb["Título"]
                </th>
                <th>
                    @Lb["UsuarioEncargado"]
                </th>
                <th>
                    @Lb["Inicio"]
                </th>
                <th>
                    @Lb["Final"]
                </th>
                <th>
                    @Lb["Estado"]
                </th>
                <th>
                    @Lb["Tipo"]
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th hidden >@item.Id</th>
                    <td>
                         @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        <a href="@Url.Action("CuentaUsuario", "ManejoUsuarios", new { codigo =  usuarios.FirstOrDefault(u => u.Id == item.IdUsuario).Codigo })">@usuarios.FirstOrDefault(u => u.Id == item.IdUsuario).Nombre</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaLimite)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdEstadoNavigation.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdTipoNavigation.Titulo)
                    </td>

                </tr>
            }
        </tbody>
    </table>

</div>

