@model IList<AltivaWebApp.Domains.TbCrContactoRelacion>
@inject IStringLocalizer<SharedResources> Lb



<div id="crearEditarPartial">

</div>

<div class="table-responsive">
    <table class="table table-bordered">

        <thead>
            <tr>
                <th class="col-md-2">@Lb["Nombre"]</th>
                <th class="col-md-2">@Lb["Cédula"]</th>
                <th class="col-md-2">@Lb["nota"]</th>
                <th class="col-md-1">@Lb["Acción"]</th>
            </tr>
        </thead>
        <tbody id="tr">

            @foreach (var cr in Model)
            {
            <tr>
                @if (cr.IdContactoPadre != ViewBag.idContacto)
                {
                    @if ((bool)cr.IdContactoPadreNavigation.Persona)
                    {
                        <td><a class="btn btn-link" href="@Url.Action("EditarContacto", new { id = @cr.IdContactoPadre })">@cr.IdContactoPadreNavigation.Nombre @cr.IdContactoPadreNavigation.Apellidos</a></td>
                    }
                    else
                    {
                        <td><a class="btn btn-link" href="@Url.Action("EditarContacto", new { id = @cr.IdContactoPadre })">@cr.IdContactoPadreNavigation.NombreComercial</a></td>
                    }

                    <td style="padding-top:1.8rem">@cr.IdContactoPadreNavigation.Cedula</td>
                    <td style="padding-top:1.8rem">@cr.NotaRelacion </td>
                    <td><button class="btn btn-link" id="nota" onclick="crearEditarRelacion(@cr.Id, @cr.IdContactoHijo, @cr.IdContactoPadre, '@cr.NotaRelacion')"><i class="fas fa-edit"></i></button><button class="btn btn-link" onclick="eliminarRelacion(@cr.Id)"><i class="fas fa-trash"></i></button></td>

                }
                else
                {
                    @if ((bool)cr.IdContactoHijoNavigation.Persona)
                    {

                        <td><a class="btn btn-link" href="@Url.Action("EditarContacto", new { id = @cr.IdContactoHijo })">@cr.IdContactoHijoNavigation.Nombre @cr.IdContactoHijoNavigation.Apellidos</a></td>
                    }
                    else
                    {
                        <td><a class="btn btn-link" href="@Url.Action("EditarContacto", new { id = @cr.IdContactoHijo })">@cr.IdContactoHijoNavigation.NombreComercial</a></td>
                    }

                    <td style="padding-top:1.8rem">@cr.IdContactoHijoNavigation.Cedula</td>
                    <td style="padding-top:1.8rem">@cr.NotaRelacion </td>
                    <td><button class="btn btn-link" id="nota" onclick="crearEditarRelacion(@cr.Id, @cr.IdContactoPadre, @cr.IdContactoHijo, '@cr.NotaRelacion')"><i class="fas fa-edit"></i></button><button class="btn btn-link" onclick="eliminarRelacion(@cr.Id)"><i class="fas fa-trash"></i></button></td>


                }




            </tr>

            }
        </tbody>
    </table>
</div>

<script>

    $(document).ready(function () {

        crearEditarRelacion(0, "@ViewBag.idContacto");
    });

    function crearEditarRelacion(idRelacion, idPadre, idHijo, nota) {

        var model = {
            id: idRelacion,
            idContactoPadre: idPadre,
            idContactoHijo: idHijo,
            notaRelacion: nota
        };

         $.ajax({
             type: "POST",
             url: '@Url.Action("_CrearEditarRelacion", "Contacto")',
             data: { viewModel: model },
             success: function (data) {
                 $('#crearEditarPartial').html(data);
             },
             error: function (err, scnd) {
                 console.log(err.statusText);
             }

        });

    }

    function eliminarRelacion(idRelacion) {

        bootbox.confirm("@Lb["confirmEliminar"]", function (result) {

            if (result) {

                $.ajax({
                    type: "post",
                    url: '@Url.Action("EliminarRelacionContacto", "Contacto")',
                    data: { idRelacion: idRelacion },
                    success: function (data) {
                        getRelaciones();
                    },
                    error: function (err, scnd) {
                        cargarAlert("errorGeneral")
                        console.log(err.statusText);
                    }
                });
            }

        });
    }
</script>
