@model AltivaWebApp.ViewModels.ContactoViewModel

@{
    var model = new ContactoViewModel();
    ViewData["Title"] = "Crear Contacto";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<style>
    .disabledTab {
        pointer-events: none;
    }
</style>
<div id="panel1"><partial name="~/Views/Contacto/nuevo.cshtml" model=" new ContactoViewModel()" /></div>

<script src=" https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>

<script>
   
    $(function () {

        $("#btnEditar").hide();
        $('#divBotones').append('<button  id="btnNuevo" class="btn btn-success" onclick="guardar()">Guardar <i  class="fas fa-save"></i></button>  <button  class="btn btn-default btnAtras">Cancelar</button>');


        $("#tel").val("");
        $('#radio').attr('checked', true);
        $('#btnNewSubcontacto').click(function () {

            $('#radio').attr('checked', true);
            $('#panel1').hide();
            $('#panel2').show();


        });
        $('#salir').click(function () {
            ;
            $('#panel2').hide();
            $('#panel1').show();


        });
        $('.atras').on('click', function () {
                       var urls = '@Url.Action("Index", "Contacto", new { palabra = "__id__"})';
                                    window.location.href = urls.replace('__id__', "All");
                                
        });
    });

</script>

<script type="text/javascript">

    $('#tel').mask('00000000');
    $('#fisica').mask('0-0000-0000');
    $('#juridica').mask('0-0000-00000');
    $('#dimex').mask(' 000000000000');
    $('#nite').mask('0000000000');
    $(function () {
        $(' input[type=radio]').change(function () {
            if ($(this).val() == "Persona") {
               $("#nombre").show();
                $("#NombreJuridico").attr('required', false);
                $("#NombreJuridico").val("");
                $("#comercial").attr('required', false);
                $("#comercial").val("");
                $("#comercial").hide();


                $("#Nombre").attr('required', '');
                $("#Apellidos").attr('required', '');
                $("#apellidos").show();
                $("#NombreComercial").attr('required', false);

                $("#juridico").hide();

            } else {
                $("#nombre").hide();

                $("#comercial").show();

                $("#Apellidos").attr('required', false);
                $("#Apellidos").val("")
                $("#Nombre").attr('required', false);
                $("#Nombre").val("");
                $("#NombreComercial").attr('required', '');
                $("#apellidos").hide();
                $("#apellidos").val("");

                $("#juridico").show();
                $("#NombreJuridico").attr('required', '');

            }
        });

    });

    $(document).ready(function () {

        $('#pais').change(function () {
            if ($(this).val() == "CostaRica") {

      $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("Provincias", "Contacto")',



                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {

                            $("#provincia").append('<option class="provin" value=' + data[i].idProvincia + '>' + data[i].descProvincia+' </option>');
                        }

                        $("#provincia").prop("disabled", false);
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });

            } else if ($(this).val() != "CostaRica") {
                $("#provincia").prop("disabled", true);
                $("#canton").prop("disabled", true);
                $("#distrito").prop("disabled", true);
                $('.provin').remove();
                $('.canton').remove();
                $('.distrito').remove();
            }

        });
        $('#provincia').change(function () {

            $('.canton').remove();
      $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("Cantones", "Contacto")',

          data: { idProvincia : $(this).val()},

                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {

                            $("#canton").append('<option class="canton" value=' + data[i].idCanton + '>' + data[i].descCanton+' </option>');
                        }


                        $("#canton").prop("disabled", false);
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
        });

        $('#canton').change(function () {

            $('.distrito').remove();
      $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("Distritos", "Contacto")',

          data: { idDistrito: $(this).val(), idProvincia: $('#provincia').val()},

                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {

                            $("#distrito").append('<option class="distrito" value=' + data[i].idDistrito + '>' + data[i].descDistrito+' </option>');
                        }


                        $("#distrito").prop("disabled", false);
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });

        });
        $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("Usuarios", "Contacto")',



                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {

                            $("#usuarioEncargado").append('<option  value=' + data[i].id + '>' + data[i].nombre+' </option>');
                        }


                    
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });

        $('#combo').change(function () {
            if ($(this).val() == "CedulaJuridica") {
                $("#juridica").attr('required', '');
                $("#fisica").attr('required', false);

                $("#dimex").attr('required', false);
                $("#nite").attr('required', false);
                $("#nombreAlert6").empty();
                $("#cedFisica").hide();
                $("#cedJuridica").show();
                $("#cedDimex").hide();
                $("#cedNite").hide();

            } else if ($(this).val() == "CedulaFisica") {
                $("#fisica").attr('required', '');
                $("#juridica").attr('required', false);
                $("#dimex").attr('required', false);
                $("#nite").attr('required', false);

                $("#nombreAlert5").empty();
                $("#cedFisica").show();
                $("#cedJuridica").hide();
                $("#cedDimex").hide();
                $("#cedNite").hide();
            } else if ($(this).val() == "Dimex") {
                $("#dimex").attr('required', '');
                $("#juridica").attr('required', false);
                $("#fisica").attr('required', false);
                $("#nite").attr('required', false);
                $("#cedDimex").show();
                $("#cedFisica").hide();
                $("#cedJuridica").hide();
                $("#nombreAlert7").empty();
                $("#cedNite").hide();
            } else if ($(this).val() == "NITE") {
                $("#nite").attr('required', '');
                $("#juridica").attr('required', false);
                $("#dimex").attr('required', false);
                $("#fisica").attr('required', false);
                $("#cedNite").show();
                $("#cedFisica").hide();
                $("#cedJuridica").hide();
                $("#nombreAlert8").empty();
                $("#cedDimex").hide();
                $("#cedNite").show();
            }
        });
    });




</script>


<script>
    var j = 0;
    var k = 0;
    var y = 0;
    var t = 0;
    $(document).ready(function () {


        $.ajax({
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            type: "POST",


            url: '@Url.Action("TraerCamposPersonalizados", "CamposPersonalizados")',


            success: function (data) {

                for (var i = 0; i < data.length; i++) {
                    if (data[i].tipo == 'textArea') {
                        $("#ul").append('<li> <div class="form-group"><input id="id' + k + '" type="text" asp-for="idTextoGrande[]" name="idTextoGrande[]" hidden value="' + data[i].id + '"/><Label>' + data[i].nombre + '&nbsp;</label><textArea id="' + j + '" class="form-control" asp-for="textoGrande[]" ></textArea></div></li>');
                        j++; k++;
                    } else if (data[i].tipo == 'checkbox') {
                        $("#ul").append('<li><input id="idc' + t + '"  type="text" asp-for="idChechBox[]" name="idChechBox[]" hidden value="' + data[i].id + '"/><Label>' + data[i].nombre + ':</label>&nbsp;<input  id="c' + y + '" asp-for="checkbox[]" name="checkbox" type="checkbox" checked="checked" /></li>');
                        y++; t++;
                    } else if (data[i].tipo == 'datetime-local') {
                        $("#ul").append('<li><div class="form-group"><input id="id' + k + '"  type="text" asp-for="idFecha[]" name="idFecha[]" hidden value="' + data[i].id + '"/><Label>' + data[i].nombre + ':</label>&nbsp; <input asp-for="Fechas[]" id="' + j + '" name="fechas[]" class="form-control  " data-target="#datetimepicker1" type="' + data[i].tipo + '"/></div></li>');
                        j++; k++;
                    } else if (data[i].tipo == 'lista') {
                        $("#ul").append('<li><div class="form-group"><input id="id' + k + '"  type="text" asp-for="idFecha[]" name="idFecha[]" hidden value="' + data[i].id + '"/><Label>' + data[i].nombre + ':</label>&nbsp; <select id="' + j + '" class="form-control"><option hidden value="">Seleccione</option></select></div></li>');

                       
                        cargarPersonalizados(data[i].id,j);

                        j++; k++;
                    }
                    else {
                        $("#ul").append('<li> <div class="form-group"><input type="text" asp-for="idTexto[]" id="id' + k + '"  name="idTexto[]" hidden value="' + data[i].id + '"/><Label>' + data[i].nombre + '&nbsp;</label><input  asp-for="texto[]" id="' + j + '" name="texto[]"  class="form-control "/></div></li>');
                      
                        j++; k++;
                    }



                }


            },

            error: function (err, scnd) {
                console.log(err.statusText);
            }

        });
    
    
    });
   

    function cargarPersonalizados(id,j) {
      $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("GetCampos", "ListaDesplegable")',

          data: {id:id},

                    success: function (data1) {
                        
                        for (var i = 0; i < data1.length; i++) {
                          
                            $('#'+j+'').append('<option>'+data1[i].valor+'</option>');
                        }


                    
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
    }
    function guardar() {

        if (validarContactos() == true) {
            var nombreContacto = $('#Nombre').val();
            var apellidos = $('#Apellidos').val();
            var nombreComercial = $('#NombreComercial').val();
            var nombreJuridico = $('#NombreJuridico').val();
            var tipoCedula = $('#combo').val();
            var fisica = $('#fisica').val();
            var juridica = $('#juridica').val();
            var dimex = $('#dimex').val();
            var nite = $('#nite').val();
            var telefono = $('#tel').val();
            var correo = $('#Correo').val();
            var pais = $('#pais').val();
            var provincia = $('#provincia').val();
            var canton = $('#canton').val();
            var distrito = $('#distrito').val();
            var otrasSenas = $('#otrasSenas').val();
            var idUsuario = $('#usuarioEncargado').val();
            var imagen = $('#imagen').val();
            var WebLink = $('#WebLink').val();
            var MapLink = $('#MapLink').val();
            var fileUpload = $("#imagen").get(0);

            var files = fileUpload.files;
            var formData = new FormData();
            formData.append('foto', $("#imagen")[0].files[0]);
            console.log(formData);
            var proveedor = new Boolean(false);

            if ($("#cliente").prop('checked')) {

                cliente = true;


            } else {
                cliente = null;

            } if ($("#proveedor").prop('checked')) {

                proveedor = true;


            } else {
                proveedor = null;

            }

            var camposPersonalizados = [];
            var Contacto = [];

            var model2 = {
                nombre: nombreContacto,
                apellidos: apellidos,
                nombreComercial: nombreComercial,
                nombreJuridico: nombreJuridico,
                tipoCedula: tipoCedula,
                cedula: fisica,
                juridica: juridica,
                dimex: dimex,
                nite: nite,
                telefono: telefono,
                correo: correo,
                pais: pais,
                provincia: provincia,
                canton: canton,
                distrito: distrito,
                cliente: cliente,
                proveedor: proveedor,

                otrasSenas: otrasSenas,
                idUsuario: idUsuario,
                webLink: WebLink,
                mapLink: MapLink,
                idTipoCliente: $('#tipoClientes').val(),
                idFamiliaCliente: $('#familia').val(),
                idSubFamiliaCliente: $('#subFamilia').val(),
                idTipoProveedor: $('#tipoProveedor').val(),
                idFamiliaProveedor: $('#familiaProveedor').val(),
                idSubFamiliaProveedor: $('#subFamiliaProveedor').val()
            };
            // formData.append('model2', JSON.stringify( model2));
            Contacto.push(model2);
            console.log(formData);
            for (var r = 0; r < y; r++) {


                if ($("#c" + r + "").prop('checked')) {
                    var model = {

                        idCampoPersonalizados: $("#idc" + r + "").val(),
                        valor: $("#c" + r + "").val()
                    };
                } else {
                    var model = {

                        idCampoPersonalizados: $("#idc" + r + "").val(),
                        Valor: ""
                    };
                }

                camposPersonalizados.push(model);

            }


            for (var i = 0; i < j; i++) {

                var model = {

                    IdCampoPersonalizados: $("#id" + i + "").val(),
                    valor: $("#" + i + "").val()
                };
                camposPersonalizados.push(model);
            }
            $('#btnNuevo').attr('disabled',true);

            $.ajax({
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                type: "POST",


                url: '@Url.Action("Crear", "Contacto")',

                data: { model: camposPersonalizados, model2: model2 },

                success: function (data) {
                    var id = data.id;
                    if (data.correo != "correo") {

                        if (data.cedula != "cedula") {
                            if ($("#cliente").prop('checked')) {
                           
                                AgregarCondicionCliente(id);
                            }
                            if ($("#proveedor").prop('checked')) {
                                AgregarCondicionProveedor(id);
                            }
                            if (imagen != "") {
                                formData.append('id', data.id);
                                $.ajax({
                                    headers: {
                                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                                    },
                                    type: "POST",
                                    cache: false,
                                    contentType: false,
                                    processData: false,

                                    url: '@Url.Action("editFoto", "Contacto")',

                                    data: formData,

                                    success: function (data) {

                                        var urls = '@Url.Action("Edit", "Contacto", new { id = "__id__"})';
                                        window.location.href = urls.replace('__id__', id);

                                    },

                                    error: function (err, scnd) {
                                        console.log(err.statusText);
                                    }

                                });
                            } else {
                                var urls = '@Url.Action("Edit", "Contacto", new { id = "__id__"})';
                                window.location.href = urls.replace('__id__', id);
                            }
                        } else {
                            $("#nombreAlert5").empty();
                            $("#nombreAlert6").empty();
                            $("#nombreAlert7").empty();
                            $("#nombreAlert8").empty();
                            $("#nombreAlert5").append('     <span class="text-danger data-translate="CedulaExiste" >Esta cédula ya existe. </span>');
                            $("#nombreAlert6").append('    <span class="text-danger " data-translate="CedulaExiste" >Esta cédula ya existe. </span>');
                            $("#nombreAlert7").append('     <span class="text-danger " data-translate="CedulaExiste"  >Esta cédula ya existe.</span>');
                            $("#nombreAlert8").append('     <span class="text-danger " data-translate="CedulaExiste"  >Esta cédula ya existe.</span>');
                          
                            $('#btnNuevo').attr('disabled', false);
                        }
                    } else {
                        $("#nombreAlert10").empty();
                        $("#nombreAlert10").append('     <span class="text-danger " >Ya existe un contacto con este correo. </span>');
                        $('#btnNuevo').attr('disabled', false);
                    }
                },

                error: function (err, scnd) {
                    console.log(err.statusText);
                }

            });

        }
       
    }
  

</script>

