@model AltivaWebApp.ViewModels.ContactoViemModelDetalle

@{
    ViewData["Title"] = "Detalle del contacto   ";
}

<h2>Details</h2>

<div class="container">
    <h4>Contacto</h4>
    <a asp-action="Index" class="btn btn-link">Atras</a>
    <div class="row  ">
        <div class="col-md-6">

            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <th class="col-md-4">     @Html.DisplayNameFor(model => model.Nombre)    </th>
                        <td>  @Html.DisplayFor(model => model.Nombre)        </td>
                    </tr>

                    <tr>
                        <th class="col-md-4">     @Html.DisplayNameFor(model => model.Apellidos)    </th>
                        <td>               @Html.DisplayFor(model => model.Apellidos)    </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">         @Html.DisplayNameFor(model => model.NombreComercial)    </th>
                        <td>             @Html.DisplayFor(model => model.NombreComercial)     </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">       @Html.DisplayNameFor(model => model.NombreJuridico)    </th>
                        <td>     @Html.DisplayFor(model => model.NombreJuridico)</td>
                    </tr>
                    <tr>
                        <th class="col-md-4">     @Html.DisplayNameFor(model => model.Cedula)   </th>
                        <td>          @Html.DisplayFor(model => model.Cedula)    </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">       @Html.DisplayNameFor(model => model.TipoCedula)    </th>
                        <td>                 @Html.DisplayFor(model => model.TipoCedula)   </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">            @Html.DisplayNameFor(model => model.Telefono)  </th>
                        <td>    @Html.DisplayFor(model => model.Telefono)      </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">      @Html.DisplayNameFor(model => model.Correo)  </th>
                        <td>        @Html.DisplayFor(model => model.Correo)    </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">     @Html.DisplayNameFor(model => model.Pais)    </th>
                        <td>          @Html.DisplayFor(model => model.Pais)    </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">     @Html.DisplayNameFor(model => model.Provincia)  </th>
                        <td>          @Html.DisplayFor(model => model.Provincia)    </td>
                    </tr>

                    <tr>
                        <th class="col-md-4">     @Html.DisplayNameFor(model => model.Canton)  </th>
                        <td>          @Html.DisplayFor(model => model.Canton)    </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">     @Html.DisplayNameFor(model => model.Distrito)  </th>
                        <td>          @Html.DisplayFor(model => model.Distrito)    </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">       @Html.DisplayNameFor(model => model.Persona)</th>
                        <td>       <input type="checkbox" checked="@Model.Persona" disabled="disabled"/>  </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">         @Html.DisplayNameFor(model => model.Empresa)  </th>
                        <td>     <input type="checkbox" checked="@Model.Empresa" disabled="disabled" />   </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">                  @Html.DisplayNameFor(model => model.Cliente)  </th>
                        <td>    <input type="checkbox" checked="@Model.Cliente" disabled="disabled" />    </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">          @Html.DisplayNameFor(model => model.Proveedor) </th>
                        <td>      <input type="checkbox" checked="@Model.Proveedor" disabled="disabled" /> </td>
                    </tr>
                    <tr>
                        <th class="col-md-4">
                            @Html.DisplayNameFor(model => model.OtrasSenas)
                        </th>
                        <td>         @Html.DisplayFor(model => model.OtrasSenas)   </td>
                    </tr>



                    <tr>
                        <th data-translate="editar" class="col-md-4">  <span>Editar</span> </th>
                        <td>   <a href="#" class="btn btn-link  ">Editar&nbsp;<i style="font-size:2rem;" class="fas fa-edit"></i></a> </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>

</div>

