
@model AltivaWebApp.ViewModels.ContactoViewModel

@{
    ViewData["Title"] = "Crear Contacto";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<input type="text" value="@Model.Id" id="id" hidden />
<div><partial name="~/Views/Contacto/nuevo.cshtml" model=" @Model" /></div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.11/jquery.mask.min.js"></script>
<script>



    if ($("#pais").val() == "CostaRica") {

        $("#provincia").prop("disabled", false);
        $("#canton").prop("disabled", true);
        $("#distrito").prop("disabled", true);
        $('.provin').remove();
        $('.canton').remove();
        $('.distrito').remove();
              $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("Provincias", "Contacto")',



                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {
                            if (data[i].idProvincia == @Model.Provincia) {
                                $("#provincia").append('<option class="provin" selected="selected" value=' + data[i].idProvincia + '>' + data[i].descProvincia + ' </option>');
                            } else {
                                $("#provincia").append('<option class="provin"  value=' + data[i].idProvincia + '>' + data[i].descProvincia + ' </option>');

                            }
                            $("#provincia").prop("disabled", false);
                        }

                     
                    }
        });
         $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("Cantones", "Contacto")',

          data: { idProvincia : @Model.Provincia},

                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {
                            if (data[i].idCanton == @Model.Canton) {
                                $("#canton").append('<option class="canton" selected="selected" value=' + data[i].idCanton + '>' + data[i].descCanton + ' </option>');
                            }
                            else {
                                $("#canton").append('<option class="canton"  value=' + data[i].idCanton + '>' + data[i].descCanton + ' </option>');
                            }
                            $("#canton").prop("disabled", false);
                        }

                }
        });
          $('.distrito').remove();
      $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("Distritos", "Contacto")',

          data: { idDistrito: @Model.Canton, idProvincia: @Model.Provincia},

                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {
                            if (data[i].idDistrito == @Model.Distrito) {
                                $("#distrito").append('<option class="distrito" selected="selected" value=' + data[i].idDistrito + '>' + data[i].descDistrito + ' </option>');
                            } else {
                                $("#distrito").append('<option class="distrito"  value=' + data[i].idDistrito + '>' + data[i].descDistrito + ' </option>');

                            }
                        }


                        $("#distrito").prop("disabled", false);
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });


    }
</script>
<script>
    $(function () {

        $('[href="#menu1"]').tab('show');
        $('[href="#contactoComentarios"]').tab('show');
        if ($("#combo").val() == "CedulaFisica") {
            $("#fisica").attr('required', '');
            $("#dimex").val("");

            $("#dimex").attr('required', false);
            $("#nite").attr('required', false);
            $("#cedFisica").show();
            $("#cedJuridica").hide();
            $("#cedDimex").hide();
            $("#cedNite").hide();
        } else if ($("#combo").val() == "CedulaJuridica") {

            $("#fisica").val("");

            $("#fisica").attr('required', false);
            $("#cedFisica").hide();
            $("#cedJuridica").show();
            $("#cedDimex").hide();
            $("#cedNite").hide();

            $("#dimex").attr('required', false);
            $("#nite").attr('required', false);

        } else if ($("#combo").val() == "Dimex") {
            $("#dimex").attr('required', '');
            $("#juridica").attr('required', false);
            $("#fisica").attr('required', false);
            $("#nite").attr('required', false);
            $("#cedDimex").show();
            $("#cedFisica").hide();
            $("#cedJuridica").hide();

            $("#cedNite").hide();
        } else if ($("#combo").val() == "NITE") {
            $("#nite").attr('required', '');

            $("#juridica").attr('required', false);
            $("#dimex").attr('required', false);
            $("#fisica").attr('required', false);
            $("#cedNite").show();
            $("#nite").val("");
            $("#cedFisica").hide();
            $("#cedJuridica").hide();
            $("#cedDimex").hide();
            $("#cedNite").show();
        }
    });

</script>
<script type="text/javascript">

    $('#tel').mask('00000000');
    $('#fisica').mask('0-0000-0000');
    $('#juridica').mask('0-0000-00000');
    $('#dimex').mask(' 000000000000');
    $('#nite').mask('0000000000');
    $(function () {

        $("#btnNuevo").hide();
        $('#divBotones').append('<button type="submit" id="btnEditar" class="btn btn-success" onclick="editar()">Guardar <i style="font-size:2rem;" class="fas fa-save"></i></button> <button  class="btn btn-default atras">Cancelar</button>');
             $('.atras').on('click', function () {
                       var urls = '@Url.Action("Index", "Contacto", new { palabra = "__id__"})';
                                    window.location.href = urls.replace('__id__', "All");
                                
        });

        if ($("#radio").is(':checked')) {

            $("#nombre").show();
            $("#NombreJuridico").attr('required', false);
            $("#comercial").attr('required', false);
            $("#comercial").hide();
    
          
            $("#Nombre").attr('required', '');
            $("#Apellidos").attr('required', '');
            $("#apellidos").show();
            $("#NombreComercial").attr('required', false);
           
            $("#juridico").hide();
       

        } else if ($("#radio1").is(':checked')) {
          
            $("#nombre").hide();
            $("#comercial").show();

            $("#Apellidos").attr('required', false);
            $("#Nombre").attr('required', false);
            $("#NombreComercial").attr('required', '');
                        $("#apellidos").hide();
                     
            $("#juridico").show();
            $("#NombreJuridico").attr('required', '');
        }


    });
    $(document).ready(function () {

        $('#pais').change(function () {
            if ($(this).val() == "CostaRica") {

      $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("Provincias", "Contacto")',



                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {

                            $("#provincia").append('<option class="provin" value=' + data[i].idProvincia + '>' + data[i].descProvincia+' </option>');
                        }

                        $("#provincia").prop("disabled", false);
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });

            } else if ($(this).val() != "CostaRica") {
                $("#provincia").prop("disabled", true);
                $("#canton").prop("disabled", true);
                $("#distrito").prop("disabled", true);
                $('.provin').remove();
                $('.canton').remove();
                $('.distrito').remove();
            }

        });
        $('#provincia').change(function () {

            $('.canton').remove();
      $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("Cantones", "Contacto")',

          data: { idProvincia : $(this).val()},

                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {

                            $("#canton").append('<option class="canton" value=' + data[i].idCanton + '>' + data[i].descCanton+' </option>');
                        }


                        $("#canton").prop("disabled", false);
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }
        });

        });

        $('#canton').change(function () {


      $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("Distritos", "Contacto")',

          data: { idDistrito: $(this).val(), idProvincia: $('#provincia').val()},

                    success: function (data) {
                      
                        for (var i = 0; i < data.length; i++) {

                            $("#distrito").append('<option class="distrito" value=' + data[i].idDistrito + '>' + data[i].descDistrito+' </option>');
                        }


                        $("#distrito").prop("disabled", false);
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });

        });
        $('#combo').change(function () {
            if ($(this).val() == "CedulaJuridica") {
                $("#juridica").attr('required', '');
                $("#fisica").attr('required', false);

                $("#dimex").attr('required', false);
                $("#nite").attr('required', false);
                $("#juridica").val("");
                $("#cedFisica").hide();
                $("#cedJuridica").show();
                $("#cedDimex").hide();
                $("#cedNite").hide();

            } else if ($(this).val() == "CedulaFisica") {
                $("#fisica").attr('required', '');
                $("#juridica").attr('required', false);
                $("#dimex").attr('required', false);
                $("#nite").attr('required', false);

                $("#fisica").val("");
                $("#cedFisica").show();
                $("#cedJuridica").hide();
                $("#cedDimex").hide();
                $("#cedNite").hide();
            } else if ($(this).val() == "Dimex") {
                $("#dimex").attr('required', '');
                $("#juridica").attr('required', false);
                $("#fisica").attr('required', false);
                $("#nite").attr('required', false);
                $("#cedDimex").show();
                $("#cedFisica").hide();
                $("#cedJuridica").hide();
                $("#dimex").val("");
                $("#cedNite").hide();
            } else if ($(this).val() == "NITE") {
                $("#nite").attr('required', '');

                $("#juridica").attr('required', false);
                $("#dimex").attr('required', false);
                $("#fisica").attr('required', false);
                $("#cedNite").show();
                $("#nite").val("");
                $("#cedFisica").hide();
                $("#cedJuridica").hide();
                $("#cedDimex").hide();
                $("#cedNite").show();
            }
        });
    });




</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/js/tempusdominus-bootstrap-4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />
<script>
    $(' input[type=radio]').change(function () {
        if ($(this).val() == "Persona") {
            $("#nombre").show();
        
            $("#NombreJuridico").attr('required', false);
            $("#NombreJuridico").val("");
            $("#comercial").attr('required', false);
            $("#comercial").val("");
            $("#comercial").hide();


            $("#Nombre").attr('required', '');
            $("#Apellidos").attr('required', '');
            $("#apellidos").show();
            $("#NombreComercial").attr('required', false);
            $("#NombreComercial").val("");

            $("#juridico").hide();

        } else {
           
            $("#nombre").hide();

            $("#comercial").show();

            $("#Apellidos").attr('required', false);
            $("#Apellidos").val("")
            $("#Nombre").attr('required', false);
            $("#Nombre").val("");
            $("#NombreComercial").attr('required', '');
            $("#apellidos").hide();
            $("#apellidos").val("");

            $("#juridico").show();
            $("#NombreJuridico").attr('required', '');

        }
    });

</script>
<script>
    var j = 0;
    var k = 0;
    var y = 0;
    var t = 0;
    $(document).ready(function () {
     $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("Usuarios", "Contacto")',



                    success: function (data) {

                        for (var i = 0; i < data.length; i++) {

                            if (data[i].id == @Model.IdUsuario) {
                                $("#usuarioEncargado").append('<option selected="selected"  value=' + data[i].id + '>' + data[i].nombre + ' </option>');
                            } else {
                                $("#usuarioEncargado").append('<option value=' + data[i].id + '>' + data[i].nombre + ' </option>');

                            }

                           
                                if (data[i].id != @Model.IdUsuario) {
                                    $("#usuarioEncargado").append('<option value=' + data[i].id + '>' + data[i].nombre + ' </option>');
                                } else {
                                   
                                    $("#usuarioEncargado").append('<option selected="selected"  value=' + data[i].id + '>' + data[i].nombre + ' </option>');
                                }
                            
                        

                        }
                        


                    
                    }

                });

          $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",
              data: {id:@Model.Id},

                    url: '@Url.Action("camposEdit", "Contacto")',


                    success: function (data) {

                        cargarCamposPersonalizados(data);


                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

        });

    });

    function cargarCamposPersonalizados(data) {
        for (var i = 0; i < data.length; i++) {
            if (data[i].tipo == 'textArea') {
                if (data[i].valor != null) {
                    $("#ul").append('<li> <div class="form-group"><input id="id' + k + '" type="text" asp-for="idTextoGrande[]" name="idTextoGrande[]" hidden value="' + data[i].idCampoPersonalizados + '"/><Label>' + data[i].nombreCampo + '&nbsp;</label><textArea id="' + j + '" class="form-control" asp-for="textoGrande[]" >' + data[i].valor + '</textArea></div></li>');
                } else {
                    $("#ul").append('<li> <div class="form-group"><input id="id' + k + '" type="text" asp-for="idTextoGrande[]" name="idTextoGrande[]" hidden value="' + data[i].idCampoPersonalizados + '"/><Label>' + data[i].nombreCampo + '&nbsp;</label><textArea id="' + j + '" class="form-control" asp-for="textoGrande[]" ></textArea></div></li>');

                }
                j++; k++;
            } else if (data[i].tipo == 'checkbox') {
                if (data[i].valor == "on") {
                    $("#ul").append('<li><input id="idc' + t + '"  type="text" asp-for="idChechBox[]" name="idChechBox[]" hidden value="' + data[i].idCampoPersonalizados + '"/><Label>' + data[i].nombreCampo + ':</label>&nbsp;<input  id="c' + y + '" asp-for="checkbox[]" name="checkbox" type="checkbox" checked="checked" /></li>');
                } else {
                    $("#ul").append('<li><input id="idc' + t + '"  type="text" asp-for="idChechBox[]" name="idChechBox[]" hidden value="' + data[i].idCampoPersonalizados + '"/><Label>' + data[i].nombreCampo + ':</label>&nbsp;<input  id="c' + y + '" asp-for="checkbox[]" name="checkbox" type="checkbox"  /></li>');

                }
                y++; t++;
            } else if (data[i].tipo == 'datetime-local') {

                if (data[i].valor == null) {
                    $("#ul").append('<li><div class="form-group"><input id="id' + k + '"  type="text" asp-for="idFecha[]" name="idFecha[]" hidden value="' + data[i].idCampoPersonalizados + '"/><Label>' + data[i].nombreCampo + ':</label>&nbsp; <input asp-for="Fechas[]" id="' + j + '" name="fechas[]" class="form-control  input-lg"  data-target="#datetimepicker1" type="' + data[i].tipo + '"/></div></li>');
                } else {
                    console.log();
                    var fecha = new Date(data[i].valor);

                    $("#ul").append('<li><div class="form-group"><input id="id' + k + '"  type="text" asp-for="idFecha[]" name="idFecha[]" hidden value="' + data[i].idCampoPersonalizados + '"/><Label>' + data[i].nombreCampo + ':</label>&nbsp; <input asp-for="Fechas[]" id="' + j + '" name="fechas[]" class="form-control  input-lg" value="' + data[i].valor + '" data-target="#datetimepicker1" type="' + data[i].tipo + '"/></div></li>');

                }

                j++; k++;
            } else if (data[i].tipo == 'lista') {
                $("#ul").append('<li><div class="form-group"><input id="id' + k + '"  type="text" asp-for="idFecha[]" name="idFecha[]" hidden value="' + data[i].idCampoPersonalizados + '"/><Label>' + data[i].nombreCampo + ':</label>&nbsp; <select id="' + j + '" class="form-control"><option hidden value="">Seleccione</option></select></div></li>');

                cargarPersonalizados(data[i].id, j, data[i].valor);
                j++; k++;
            }else {
                if (data[i].valor != null) {
                 
                    $("#ul").append('<li> <div class="form-group"><input type="text" asp-for="idTexto[]" id="id' + k + '"  name="idTexto[]" hidden value="' + data[i].idCampoPersonalizados + '"/><Label>' + data[i].nombreCampo + '&nbsp;</label><input  asp-for="texto[]" id="' + j + '" name="texto[]"  class="form-control input-lg" value="' + data[i].valor + '"/></div></li>');
                } else {
                    $("#ul").append('<li> <div class="form-group"><input type="text" asp-for="idTexto[]" id="id' + k + '"  name="idTexto[]" hidden value="' + data[i].idCampoPersonalizados + '"/><Label>' + data[i].nombreCampo + '&nbsp;</label><input  asp-for="texto[]" id="' + j + '" name="texto[]"  class="form-control input-lg" /></div></li>');

                }
                j++; k++;
            }


        }
        }
    function cargarPersonalizados(id,j,valor) {
      $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("GetCampos", "ListaDesplegable")',

          data: {id:id},

                    success: function (data1) {
                        
                        for (var i = 0; i < data1.length; i++) {
                            if (valor == data1[i].valor) {
                                $('#' + j + '').append('<option selected>' + data1[i].valor + '</option>');
                            } else {
                                $('#' + j + '').append('<option >' + data1[i].valor + '</option>');

                            }
                        }


                    
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
    }
    function editar() {
        if (validarContactos() == true) {
            var nombreContacto = $('#Nombre').val();

            var apellidos = $('#Apellidos').val();
            var nombreComercial = $('#NombreComercial').val();
            var nombreJuridico = $('#NombreJuridico').val();
            if (nombreComercial != "") {
                nombreContacto = "";
            } else if (nombreContacto != "") {
                nombreComercial = "";
            }
            var tipoCedula = $('#combo').val();
            var fisica = $('#fisica').val();
            var id = $('#id').val();
            var juridica = $('#juridica').val();
            var dimex = $('#dimex').val();
            var nite = $('#nite').val();
            var telefono = $('#tel').val();
            var correo = $('#Correo').val();
            var pais = $('#pais').val();
            var provincia = $('#provincia').val();
            var canton = $('#canton').val();
            var distrito = $('#distrito').val();
            var idUsuario = $('#usuarioEncargado').val();
            var otrasSenas = $('#otrasSenas').val();
            var imagen = $('#imagen').val();

            var fileUpload = $("#imagen").get(0);

            var files = fileUpload.files;
            var formData = new FormData();
            formData.append('foto', $("#imagen")[0].files[0]);
            console.log(formData);
            var cliente = new Boolean(false);
            var proveedor = new Boolean(false);

            if ($("#cliente").prop('checked')) {

                cliente = true;


            } else {
                cliente = false;

            } if ($("#proveedor").prop('checked')) {

                proveedor = true;


            } else {
                proveedor = false;

            }

            var camposPersonalizados = [];
            var Contacto = [];

            var model2 = {
                id: id,
                nombre: nombreContacto,
                apellidos: apellidos,
                nombreComercial: nombreComercial,
                nombreJuridico: nombreJuridico,
                tipoCedula: tipoCedula,
                cedula: fisica,
                juridica: juridica,
                dimex: dimex,
                nite: nite,
                telefono: telefono,
                correo: correo,
                pais: pais,
                provincia: provincia,
                canton: canton,
                distrito: distrito,
                cliente: cliente,
                proveedor: proveedor,
                otrasSenas: otrasSenas,
                idUsuario: idUsuario

            };

            Contacto.push(model2);

            for (var r = 0; r < y; r++) {


                if ($("#c" + r + "").prop('checked')) {
                    var model = {

                        idCampoPersonalizados: $("#idc" + r + "").val(),
                        valor: $("#c" + r + "").val()
                    };
                } else {
                    var model = {

                        idCampoPersonalizados: $("#idc" + r + "").val(),
                        Valor: ""
                    };
                }


                camposPersonalizados.push(model);

            }
            for (var i = 0; i < j; i++) {

                var model = {

                    IdCampoPersonalizados: $("#id" + i + "").val(),
                    valor: $("#" + i + "").val()
                };
                camposPersonalizados.push(model);
            }
            $('#btnEditar').attr('disabled',true);
            $.ajax({
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                type: "POST",


                url: '@Url.Action("Editar", "Contacto")',

                data: { model1: camposPersonalizados, model2: model2 },
                success: function (data) {
                    if (data.correo != "correo") {

                        if (data.cedula != "cedula") {

                            if (imagen != "") {

                                $.ajax({
                                    headers: {
                                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                                    },
                                    type: "POST",


                                    url: '@Url.Action("Editar", "Contacto")',

                                    data: { model1: camposPersonalizados, model2: model2 },
                                    success: function (data) {

                                        formData.append('id', data.id);
                                        $.ajax({
                                            headers: {
                                                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                                            },
                                            type: "POST",
                                            cache: false,
                                            contentType: false,
                                            processData: false,

                                            url: '@Url.Action("editFoto", "Contacto")',

                                            data: formData,

                                            success: function (data) {
                                                if (nombreComercial != "") {
                                                    alert('1');
                                                    var urls = '@Url.Action("Index", "Contacto", new { palabra = "__id__"})';
                                                    window.location.href = urls.replace('__id__', nombreComercial);
                                                } else if (nombreContacto != "") {
                                                    var urls = '@Url.Action("Index", "Contacto", new { palabra = "__id__"})';
                                                    window.location.href = urls.replace('__id__', nombreContacto);
                                                }
                                            },

                                            error: function (err, scnd) {
                                                console.log(err.statusText);
                                            }

                                        });

                                    }
                                });
                            } else {
                                if (nombreComercial != "") {
                                    alert(nombreComercial);
                                    var urls = '@Url.Action("Index", "Contacto", new { palabra = "__id__"})';
                                    window.location.href = urls.replace('__id__', nombreComercial);
                                } else if (nombreContacto != "") {
                                    var urls = '@Url.Action("Index", "Contacto", new { palabra = "__id__"})';
                                    window.location.href = urls.replace('__id__', nombreContacto);
                                }

                            }
                        }
                        else {
                            $("#nombreAlert5").append('     <span class="text-danger " >El campo de cedula fisica  que ingreso ya existe. </span>');
                            $("#nombreAlert6").append('     <span class="text-danger " >El campo de cedula Juridico  que ingreso ya existe. </span>');
                            $("#nombreAlert7").append('     <span class="text-danger " >El campo de cedula Dimex  que ingreso ya existe. </span>');
                            $("#nombreAlert8").append('     <span class="text-danger " >El campo de cedula Nite  que ingreso ya existe. </span>');
                        }
                    } else {
                        $("#nombreAlert10").append('     <span class="text-danger " >Ya existe un contacto con este correo. </span>');
                    }

                }

            });
        }
    }
       
    
    
                     
    

</script>



