@model IEnumerable<AltivaWebApp.Domains.TbCrContacto>
@{


    var personas = new List<TbCrContacto>();

    personas = ViewData["conPersonas"] as List<TbCrContacto>;

    var empresas = new List<TbCrContacto>();
    empresas = ViewData["conEmpresa"] as List<TbCrContacto>;


}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


<style>
    /*
    html {
        box-sizing: border-box;
    }

    *, *:before, *:after {
        box-sizing: inherit;
    }

    .column {
        float: left;
        width: 33.3%;
        margin-bottom: 16px;
        padding: 0 8px;
    }



    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    }

    .container {
        padding: 0 16px;
    }

    @@media screen and (max-width: 650px) {
        .column {
            width: 100%;
            display: block;
        }
    }

    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .title {
        color: grey;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }

        .button:hover {
            background-color: #555;
        }
        */
</style>

<div class="container ">

    <div class="row col-md-12">
        <div class="col-md-3 col-sm-5 col-xs-12 form-group ">
            <h3>Lista de Contactos:</h3>
        </div>
        <div class="col-md-4 col-sm-5 col-xs-12 form-group pull-left top_search">
            <div class="input-group">
                <a asp-action="Create" class="btn btn-primary">Agregar <i class="fas fa-plus-circle "></i></a>
            </div>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" id="nombre" placeholder="Buscar por Nombre,Nombre Comercial,Cedula o Correo">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="button">Buscar</button>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <div role="main">
        <div>


            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 text-center">
                                    <ul class="pagination pagination-split">
                                        <li id="All"><button class="abecedario " value="All">Todos</button></li>
                                        <li id="A"><button class="abecedario" onclick="changeColor(this)" value="A">A</button></li>
                                        <li id="B"><button class="abecedario" onclick="changeColor(this)" value="B">B</button></li>
                                        <li id="C"><button class="abecedario" onclick="changeColor(this)" value="C">C</button></li>
                                        <li id="D"><button class="abecedario" onclick="changeColor(this)" value="D">D</button></li>
                                        <li id="E"><button class="abecedario" onclick="changeColor(this)" value="E">E</button></li>
                                        <li id="F"><button class="abecedario" onclick="changeColor(this)" value="F">F</button></li>
                                        <li id="G"><button class="abecedario" onclick="changeColor(this)" value="G">G</button></li>
                                        <li id="H"><button class="abecedario" onclick="changeColor(this)" value="H">H</button></li>
                                        <li id="I"><button class="abecedario" onclick="changeColor(this)" value="I">I</button></li>
                                        <li id="J"><button class="abecedario" onclick="changeColor(this)" value="J">J</button></li>
                                        <li id="K"><button class="abecedario" onclick="changeColor(this)" value="K">K</button></li>
                                        <li id="L"><button class="abecedario" onclick="changeColor(this)" value="L">L</button></li>
                                        <li id="M"><button class="abecedario" onclick="changeColor(this)" value="M">M</button></li>
                                        <li id="N"><button class="abecedario" onclick="changeColor(this)" value="N">N</button></li>
                                        <li id="O"><button class="abecedario" onclick="changeColor(this)" value="O">O</button></li>
                                        <li id="P"><button class="abecedario" onclick="changeColor(this)" value="P">P</button></li>
                                        <li id="Q"><button class="abecedario" onclick="changeColor(this)" value="Q">Q</button></li>
                                        <li id="R"><button class="abecedario" onclick="changeColor(this)" value="R">R</button></li>
                                        <li id="S"><button class="abecedario" onclick="changeColor(this)" value="S">S</button></li>
                                        <li id="T"><button class="abecedario" onclick="changeColor(this)" value="T">T</button></li>
                                        <li id="U"><button class="abecedario" onclick="changeColor(this)" value="U">U</button></li>
                                        <li id="U"><button class="abecedario" onclick="changeColor(this)" value="V">V</button></li>
                                        <li id="W"><button class="abecedario" onclick="changeColor(this)" value="W">W</button></li>
                                        <li id="X"><button class="abecedario" onclick="changeColor(this)" value="X">X</button></li>
                                        <li id="Y"><button class="abecedario" onclick="changeColor(this)" value="Y">Y</button></li>
                                        <li id="Z"><button class="abecedario" onclick="changeColor(this)" value="Z">Z</button></li>

                                    </ul>
                                </div>

                                <div class="clearfix"></div>

                                @if (personas != null)
                                {
                                    @foreach (var itemz in personas)
                                    {

                                        <div class="col-md-4 col-sm-4 col-xs-12 profile_details">
                                            <a asp-action="Edit" asp-controller="Contacto" asp-route-id="@itemz.IdContacto" id="edit">

                                                <div class="well profile_view">
                                                    <div class="col-sm-12">
                                                        @if (itemz.Persona == true)
                                                        {
                                                            <h2><i class="fas fa-male"></i> &nbsp @itemz.Nombre </h2>
                                                        }
                                                        else
                                                        {

                                                            <h2><i class="fas fa-building"></i> &nbsp @itemz.NombreComercial </h2>
                                                        }
                                                        <div class="left col-xs-7">


                                                            <ul class="list-unstyled">
                                                                <li><i class="fas fa-flag"></i>-@itemz.Pais </li>
                                                                <li><i class="fa fa-phone"></i>-@itemz.Telefono </li>
                                                                <li><i class="fas fa-at"></i>-@itemz.Correo </li>
                                                            </ul>
                                                        </div>
                                                        <div class="right col-xs-5 text-center">
                                                            @if (@itemz.Ruta != null)
                                                            {

                                                                <div class="text-center">
                                                                    <p>
                                                                        <img class="img-circle img-responsive" src="@itemz.Ruta">
                                                                    </p>
                                                                </div>

                                                            }
                                                            else
                                                            {

                                                                @if (@itemz.Nombre != null)
                                                                {
                                                                    <p class="img-circle img-responsive"><strong>@itemz.Nombre.Substring(0, 2)</strong></p>
                                                                }
                                                                else if (itemz.NombreComercial != null)
                                                                {
                                                                    <p class="img-circle img-responsive"><strong>@itemz.NombreComercial.Substring(0, 2)</strong></p>
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-12 bottom text-center">
                                                        <div class="col-xs-12 col-sm-6 emphasis">
                                                            <p class="ratings" hidden>
                                                                <a>4.0</a>
                                                                <a href="#"><span class="fa fa-star"></span></a>
                                                                <a href="#"><span class="fa fa-star"></span></a>
                                                                <a href="#"><span class="fa fa-star"></span></a>
                                                                <a href="#"><span class="fa fa-star"></span></a>
                                                                <a href="#"><span class="fa fa-star-o"></span></a>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 emphasis">



                                                            <a asp-action="Edit" asp-controller="Contacto" asp-route-id="@itemz.IdContacto" class="btn btn-primary btn-xs">
                                                                <i class="fa fa-user"> Ver perfil</i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>

                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<script>



    $("#button").click(function () {

        setUrl($('#nombre').val());

    });
        //class abecedario;
    $('.abecedario').click( function () {
        // alert($(this).val());

       setUrl($(this).val());

        $("#" + setUrl($(this).val())).css({ background: 'red' });


    });



      function setUrl(id) {
           var url = '@Url.Action("Index", "Contacto", new { palabra = "__id__"})';
          window.location.href = url.replace('__id__', id);


    }


</script>
<script>
    $(document).ready(function () {


        $(".table").DataTable({
            dom: 'Bfrtip',

            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "<a class='btn btn-link '><i class='fas fa-search' style='font-size:2rem;'></i></a>",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }





        });
    });


    function changeColor(x) {
        //if (x.style.background == "rgb(247, 211, 88)") {
        //    x.style.background = "#fff";
        //} else {
        //    x.style.background = "#F7D358";
        //}
        //return false;


        x.style.background = "red";
    }


</script>