@model IEnumerable<AltivaWebApp.Domains.TbCrContacto>
@{


    var personas = new List<TbCrContacto>();

    personas = ViewData["conPersonas"] as List<TbCrContacto>;

    var empresas = new List<TbCrContacto>();
    empresas = ViewData["conEmpresa"] as List<TbCrContacto>;


}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<style>
    html {
        font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    h5 {
        font-size: 1.28571429em;
        font-weight: 700;
        line-height: 1.2857em;
        margin: 0;
    }

    .card {
        font-size: 1em;
        overflow: hidden;
        padding: 0;
        border: none;
        border-radius: .28571429rem;
        box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    }

    .card-block {
        font-size: 1em;
        position: relative;
        margin: 0;
        padding: 1em;
        border: none;
        border-top: 1px solid rgba(34, 36, 38, .1);
        box-shadow: none;
    }

    .card-img-top {
        display: block;
        width: 100%;
        height: auto;
    }

    .card-title {
        font-size: 1.28571429em;
        font-weight: 700;
        line-height: 1.2857em;
    }

    .card-text {
        clear: both;
        margin-top: .5em;
        color: rgba(0, 0, 0, .68);
    }

    .card-footer {
        font-size: 1em;
        position: static;
        top: 0;
        left: 0;
        max-width: 100%;
        padding: .75em 1em;
        color: rgba(0, 0, 0, .4);
        border-top: 1px solid rgba(0, 0, 0, .05) !important;
        background: #fff;
    }

    .card-inverse .btn {
        border: 1px solid rgba(0, 0, 0, .05);
    }

    .profile {
        position: absolute;
        top: -12px;
        display: inline-block;
        overflow: hidden;
        box-sizing: border-box;
        width: 25px;
        height: 25px;
        margin: 0;
        border: 1px solid #fff;
        border-radius: 50%;
    }

    .profile-avatar {
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

    .profile-inline {
        position: relative;
        top: 0;
        display: inline-block;
    }

        .profile-inline ~ .card-title {
            display: inline-block;
            margin-left: 4px;
            vertical-align: top;
        }

    .text-bold {
        font-weight: 700;
    }

    .meta {
        font-size: 1em;
        color: rgba(0, 0, 0, .4);
    }

        .meta a {
            text-decoration: none;
            color: rgba(0, 0, 0, .4);
        }

            .meta a:hover {
                color: rgba(0, 0, 0, .87);
            }
</style>
<div class="container ">
    <div class="row col-md-12">
        <p>
            <a asp-action="Create" style="font-size:2rem;">Agregar Nuevo<i style="font-size:2rem;" class="fas fa-plus-circle "></i></a>
        </p>

        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" class="form-control" id="nombre" placeholder="Buscar por Nombre,Nombre Comercial,Cedula o Correo">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" id="button">Buscar</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12 text-center">
            <ul class="pagination pagination-split">
                <li><button class="abecedario " value="All">Todos</button></li>
                <li><button class="abecedario " value="A">A</button></li>
                <li><button class="abecedario " value="B">B</button></li>
                <li><button class="abecedario " value="C">C</button></li>
                <li><button class="abecedario " value="D">D</button></li>
                <li><button class="abecedario" value="E">E</button></li>
                <li><button class="abecedario" value="F">F</button></li>
                <li><button class="abecedario" value="G">G</button></li>
                <li><button class="abecedario" value="H">H</button></li>
                <li><button class="abecedario" value="I">I</button></li>
                <li><button class="abecedario" value="J">J</button></li>
                <li><button class="abecedario" value="K">K</button></li>
                <li><button class="abecedario" value="L">L</button></li>
                <li><button class="abecedario" value="M">M</button></li>
                <li><button class="abecedario" value="N">N</button></li>
                <li><button class="abecedario" value="O">O</button></li>
                <li><button class="abecedario" value="P">P</button></li>
                <li><button class="abecedario" value="Q">Q</button></li>
                <li><button class="abecedario" value="R">R</button></li>
                <li><button class="abecedario" value="S">S</button></li>
                <li><button class="abecedario" value="T">T</button></li>
                <li><button class="abecedario" value="U">U</button></li>
                <li><button class="abecedario" value="V">V</button></li>
                <li><button class="abecedario" value="W">W</button></li>
                <li><button class="abecedario" value="X">X</button></li>
                <li><button class="abecedario" value="Y">Y</button></li>
                <li><button class="abecedario" value="Z">Z</button></li>
            </ul>
        </div>
    </div>


    <div class="col-md-12 row ">
        @if (personas != null)
        {
        @foreach (var itemz in personas)
        {

            <div class="col-sm-6 col-md-4 col-lg-3 mt-4">
                <div class="card ">
                    <div>
                        @if (@itemz.Ruta != null)
                        {
                     
                            <div class="text-center"  >
                                <img style="height:155px;  border-radius:10px; width:140px;" class="rounded" src="@itemz.Ruta">
                            </div>
                    
                        }
                        else
                        {
                            @if (@itemz.Nombre != null)
                            {
                                <p style="height:155px; text-align:center;"><strong>@itemz.Nombre.Substring(0, 2)</strong></p>
                            }
                            else if (itemz.NombreComercial != null)
                            {
                                <p style="height:155px; text-align:center;"><strong>@itemz.NombreComercial.Substring(0, 2)</strong></p>
                            }
                        }
                    </div>
                    <a asp-action="Edit" asp-controller="Contacto" asp-route-id="@itemz.IdContacto" id="edit">
                        <div class="card-block">
                            <div class="card-title">
                                @if (itemz.Persona == true)
                                {
                                    <h2><i class="fas fa-male"></i> &nbsp @itemz.Nombre </h2>
                                }
                                else
                                {

                                    <h2><i class="fas fa-building"></i> &nbsp @itemz.NombreComercial </h2>
                                }
                            </div>

                            <div class="card-text">

                                <p><strong>Cedula: </strong>@itemz.Cedula </p>
                                <ul class="list-unstyled ">
                                    <li><i class="fas fa-flag"></i>-@itemz.Pais </li>
                                    <li><i class="fa fa-phone"></i>-@itemz.Telefono </li>
                                    <li><i class="fas fa-at"></i>-@itemz.Correo </li>
                                </ul>
                            </div>
                        </div>
                    </a>
                </div>

            </div>



        }

              <br />
        }
        else
        {
            <div class="col-md-4" style="text-align:center;">
                <span class="alert alert-warning" >No existe ningun contacto.</span>
            </div>
        }
    </div>
       
</div>

                <script>



    $("#button").click(function () {

        setUrl($('#nombre').val());

    });
        //class abecedario;
    $('.abecedario').click( function () {
        // alert($(this).val());

            setUrl($(this).val());

    });
      function setUrl(id) {
           var url = '@Url.Action("Index", "Contacto", new { palabra = "__id__"})';
            window.location.href = url.replace('__id__', id );
       }
                </script>
                <script>
                    $(document).ready(function () {



                        $(".table").DataTable({
                            dom: 'Bfrtip',

                            language: {
                                "decimal": "",
                                "emptyTable": "No hay información",
                                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                                "infoPostFix": "",
                                "thousands": ",",
                                "lengthMenu": "Mostrar _MENU_ Entradas",
                                "loadingRecords": "Cargando...",
                                "processing": "Procesando...",
                                "search": "<a class='btn btn-link '><i class='fas fa-search' style='font-size:2rem;'></i></a>",
                                "zeroRecords": "Sin resultados encontrados",
                                "paginate": {
                                    "first": "Primero",
                                    "last": "Ultimo",
                                    "next": "Siguiente",
                                    "previous": "Anterior"
                                }
                            }



                        });
                    });


                </script>
