@model AltivaWebApp.ViewModels.ContactoViewModel
@inject IStringLocalizer<SharedResources> Lb
@{

    var usuarios = new List<TbSeUsuario>();

    usuarios = ViewData["Usuarios"] as List<TbSeUsuario>;


    var contactos = new List<TbCrContacto>();

    contactos = ViewData["contactos"] as List<TbCrContacto>;
    var contactoRelacion = new List<ContactoRelacionGETViewModel>();
    contactoRelacion = ViewData["contactoRelacion"] as List<ContactoRelacionGETViewModel>;


}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


<link href="~/css/Code.css" />
<div class="col-md-12"><div class="col-md-6 alert alert-success" hidden id=" Mensaje"> Se ha creado un contacto exitosamente</div></div>
<div class="container ">
    <h3>Contactos</h3>
    <div class="row">
        <div class="col-md-3">
            <label class="radio-inline"><input type="radio" name="radio" checked="@Model.Persona" value="Persona" id="radio" />Persona</label>
            <label class="radio-inline"><input type="radio" name="radio" checked="@Model.Empresa" id="radio1" />Empresa</label>
        </div>

    </div>

    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">


            <div class="form-group  " id="nombre">

                <div id="NombreCon" class="form-group ">
                    <label class="control-label ">Nombre:</label>
                    <input required asp-for="Nombre" class="form-control " maxlength="100" />
                    <div id="nombreAlert"></div>

                </div>

            </div>
            <div class="form-group " hidden id="comercial">
                <label class="control-label ape">Nombre Comercial:</label>  <input asp-for="NombreComercial" class="form-control come " maxlength="100" />
                <div id="nombreAlert1"></div>
            </div>


        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="form-group " id="apellidos">
                <label class="control-label ape">Apellidos:</label>
                <input asp-for="Apellidos" class="form-control ape " maxlength="100" />
                <div id="nombreAlert2"></div>
            </div>
            <div class="form-group " id="juridico" hidden>
                <label class="control-label ape">Nombre Jurídico</label>  <input asp-for="@Model.NombreJuridico" maxlength="100" class="form-control come " />
                <div id="nombreAlert3"></div>
            </div>

        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="form-group ">
                <label>Tipo Cédula:</label>
                <select asp-for="TipoCedula" class="form-control  " id="combo" required>
                    <option selected value="Seleccione" hidden>@Lb["Seleccione"]</option>
                    <option value="1">@Lb["Cédula"] @Lb["Física"]</option>
                    <option value="2">@Lb["cedulaJuridica"]</option>
                    <option value="3">@Lb["Dimex"]</option>
                    <option value="4">@Lb["NITE"]</option>
                </select>
                <div id="nombreAlert4"></div>
            </div>
        </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
            <div class="form-group " id="cedFisica">
                <label class="control-label ">@Lb["Cédula"] @Lb["Física"]:</label>
                <input asp-for="Cedula" class="form-control " id="fisica" size=20 type="text" placeholder="0-0000-0000" required />
                <div id="nombreAlert5"></div>
            </div>

            <div class="form-group " id="cedJuridica" hidden>
                <label class="control-label ">@Lb["cedulaJuridica"]:</label>
                <input asp-for="juridica" class="form-control " id="juridica" size=20 type="text" placeholder="0-000-000000" />
                <div id="nombreAlert6"></div>
            </div>
            <div class="form-group " id="cedDimex" hidden>
                <label class="control-label ">@Lb["Dimex"]:</label>
                <input asp-for="dimex" class="form-control" id="dimex" size=20 type="text" placeholder="000000000000" />
                <div id="nombreAlert7"></div>
            </div>
            <div class="form-group " id="cedNite" hidden>
                <label class="control-label ">@Lb["NITE"]:</label>
                <input asp-for="nite" class="form-control  " id="nite" size=20 type="text" placeholder="000000000000" />
                <div id="nombreAlert8"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label"> Teléfono:</label>
            <input class="form-control " placeholder="00000000" asp-for="Telefono" size=30 required type="text" id="tel" />
            <div id="nombreAlert9"></div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <label class="control-label ">Correo:</label>
            <input asp-for="Correo" class="form-control" placeholder="Correo" maxlength="60" required type="email" />
            <div id="nombreAlert10"></div>

        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">

            <div class="form-group ">
                <label>País:</label>
                <select asp-for="Pais" class="form-control " id="pais" required>
                    <option selected hidden value="">Pais</option>
                    <option>CostaRica</option>
                    <option>Estados Unidos</option>
                    <option>Brasil</option>
                    <option>Chile</option>
                    <option>Panama</option>
                    <option>Honduras</option>
                    <option>Salvador</option>
                    <option>Nicaragua</option>
                </select>
                <div id="nombreAlert11"></div>
            </div>

        </div>


    </div>
</div>
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">

        <div class="form-group ">
            <label>Provincia:</label>
            <select asp-for="Provincia" class="form-control " id="provincia" disabled="disabled">
                <option value="Seleccione" selected hidden>Seleccione</option>

            </select>
            <div id="nombreAlert12"></div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group ">
            <label>Cantón:</label>
            <select asp-for="Canton" class="form-control " id="canton" disabled="disabled">

                <option value="Seleccione" selected hidden>Seleccione</option>
            </select>
            <div id="nombreAlert13"></div>
        </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="form-group ">
            <label>Distrito:</label>
            <select asp-for="Distrito " class="form-control " id="distrito" disabled="disabled">
                <option value="Seleccione" selected hidden>Seleccione</option>

            </select>
            <div id="nombreAlert14"></div>
        </div>
    </div>
</div>
<div class=" row">
    <div class="col-md-8 col-sm-10 col-xs-12">
        <label>Otras Señas:</label>
        <div class="form-group">
            <textarea class="form-control" rows="6" asp-for="OtrasSenas" id="otrasSenas">
</textarea>
        </div>

    </div>
    <div class="col-md-4">
        <input type="checkbox" id="cliente" name="Cliente" checked="@Model.Cliente" />
        <label class="form-check-label" for="materialUnchecked">Cliente</label>
        <input type="checkbox" class="form-check-input" id="proveedor" name="Proveedor" checked="@Model.Proveedor" />
        <label class="form-check-label" for="materialUnchecked" name="Proveedor">Proveedor</label>


        <div class="form-group">
            <label>Usuario encargado:</label>
            <select class="form-control " id="usuarioEncargado">
                <option value="" selected hidden>Seleccione</option>

            </select>
        </div>
        <div class="form-group">
            <label>Seleccionar foto de contacto:</label>
            <input type="file" id="imagen" class="form-control" name="Foto" />
        </div>
        <div class="form-group">
            @if (@Model.WebLink == null)
            {
                <label>Web Page Link:</label>
            }
            else
            {
                <a href="@Model.WebLink" target="_blank"><u>Web Page Link:</u></a>
            }
            <input type="text" id="WebLink" class="form-control" asp-for="WebLink" />
        </div>
        <div class="form-group">
            @if (Model.MapLink == null)
            {
                <label>Map Link:</label>
            }
            else
            {
                <a href="@Model.MapLink" target="_blank"><u>Map  Link:</u></a>

            }
            <input type="text" id="MapLink" class="form-control" name="MapLink" asp-for="MapLink" />
        </div>
    </div>

    <div class="col-md-12">

    </div>
    <div class="row" id="TiposClientes" hidden="hidden">

        <div class="col-md-2">
            <label>Tipo Cliente:</label>
            <select disabled id="tipoClientes" class="form-control search-key">
                <option value="0" selected> Seleccione</option>

            </select>
            <div id="AlertTipoCliente"></div>
        </div>
        <div class="col-md-2">
            <br />

            <button disabled class="btn btn-link " id="AgregarTipoCliente" value="crear">
                <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
            </button>
            <button class="btn btn-link " disabled id="editarTipoCliente" value="editar">
                <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
            </button>

        </div>
        <div class="col-md-2">
            <label>Familia:</label>
            <select disabled id="familia" class="form-control search-key">
                <option value="0" selected>Seleccione</option>


            </select>
            <div id="AlertFamiliaCliente"></div>
        </div>
        <div class="col-md-2">
            <br />
            <button class="btn btn-link " disabled id="CrearEditarFamilias" value="crear">
                <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
            </button>
            <button class="btn btn-link " disabled id="editarFamilia" value="editar">
                <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
            </button>
        </div>
        <div class="col-md-2">
            <label>Sub-Familia:</label>
            <select id="subFamilia" class="form-control search-key" disabled>
                <option selected value="0" data-translate="selecciones">Seleccione</option>
            </select>
            <div id="AlertSubFamiliaCliente"></div>
        </div>
        <div class="col-md-2">
            <br />
            <button class="btn btn-link " disabled id="CrearEditarSubFamilias" value="crear">
                <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
            </button>
            <button class="btn btn-link " disabled id="editarSubFamilia" value="editar">
                <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
            </button>

        </div>
    </div>
    <div class="row" id="TiposProveedor" hidden>

        <div class="col-md-2">
            <label>Tipo proveedor:</label>
            <select disabled id="tipoProveedor" class="form-control search-key">

                <option value="0" selected>Seleccione</option>
            </select>
            <div class="AlertTipoProveedor"></div>
        </div>
        <div class="col-md-2">
            <br />

            <button class="btn btn-link " id="AgregarTipoProveedor" value="crear" disabled>
                <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
            </button>
            <button class="btn btn-link " disabled id="editarTipoProveedor" value="editar">
                <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
            </button>

        </div>
        <div class="col-md-2">
            <label>familiaProveedor:</label>
            <select id="familiaProveedor" class="form-control search-key" disabled>
                <option value="0" selected>Seleccione</option>


            </select>
            <div id="AlertFamiliaProveedor"></div>
        </div>
        <div class="col-md-2">
            <br />
            <button class="btn btn-link " disabled id="CreareditarfamiliaProveedor" value="crear">
                <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
            </button>
            <button class="btn btn-link " disabled id="editarfamiliaProveedor" value="editar">
                <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
            </button>

        </div>
        <div class="col-md-2">
            <label>Sub-familiaProveedor:</label>
            <select id="subFamiliaProveedor" class="form-control search-key" disabled>
                <option selected value="0" data-translate="selecciones">Seleccione</option>


            </select>
            <div class="AlertSubFamailiaProveedor"></div>

        </div>
        <div class="col-md-2">
            <br />
            <button class="btn btn-link " disabled id="CreareditarSubfamiliaProveedor" value="crear">
                <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
            </button>
            <button class="btn btn-link " disabled id="editarSubfamiliaProveedor" value="editar">
                <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
            </button>

        </div>
    </div>





</div>
<!-- Material unchecked -->


<div class="container mt-3" id="tabs">

    <br>
    <!-- Nav tabs -->

    <ul class="nav nav-tabs " id="tabs">
        <li class="nav-item active">
            <a class="nav-link " data-toggle="tab" id="campos" href="#home">Campos personalizados</a>
        </li>
        <li class="  nav-item  ">
            <a class="  nav-link  disabledTab" data-toggle="tab" href="#menu1" id="relaciones">Relaciones</a>
        </li>
        <li class="   nav-item ">
            <a class="nav-link  disabledTab" data-toggle="tab" data-translate="comentarios" href="#contactoComentarios">Comentarios</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link  disabledTab" data-toggle="tab" href="#contactostTareas">Tareas relacionadas</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link disabledTab " data-toggle="tab" href="#CondicionesCliente">Condiciones de pago cliente</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link  disabledTab" data-toggle="tab" href="#CondicionesProveedor">Condiciones de pago proveedor</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active">
            <br>

            <div class="col-md-4">
                <ul id="ul"></ul>
            </div>
        </div>
        <div id="menu1" class="container tab-pane fade ">
            <div class="btnSubContacto">
                <button style="font-size:2rem;" type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
                    <i class="far fa-plus-square"></i>
                </button>
            </div>
            <div style="align-content:center;">
                <div class="contactoRelaciones">
                    @*<partial name="_RelacionContacto" model="contactoRelacion" />*@
                </div>
            </div>

        </div>
        <div id="contactoComentarios" class="container tab-pane">
            <br>

            <div class="col-md-12">
                <div id="comentarios">

                </div>
            </div>
        </div>
        <div id="contactostTareas" class="container tab-pane fade">
            <br>

            <div class="col-md-12">
                <div id="tareas">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group col-md-4">
                                <label>Buscar por Titulo:</label>

                                <input type="text" id="filtroByTitulo" class="form-control" value="" />
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-12">


                        <div class="col-md-2">
                            <label style="padding-top: 0.2rem">Asignados:</label>
                            <select class="selectpicker form-control selectFiltro" data-live-search="true" id="filtroAsignado">
                                <option value="0" selected>Seleccione</option>
                                <option value="na">No Asignados</option>
                                @foreach (var asignados in ViewData["Asignados"] as IList<TbSeUsuario>)
                                {
                                    <option value="@asignados.Id">@asignados.Nombre</option>
                                }
                            </select>
                        </div>
                        <div class="col-md-2">
                            <label style="padding-top: 0.2rem">Contactos:</label>
                            <select class="selectpicker form-control selectFiltro" data-live-search="true" id="filtroContacto">
                                <option value="0" selected>Seleccione</option>
                                @foreach (var contacto in ViewData["contactos"] as IList<TbCrContacto>)
                                {
                                    @if (contacto.Persona == true)
                                    {
                                        <option value="@contacto.IdContacto">@contacto.Nombre</option>
                                    }
                                    else
                                    {
                                        <option value="@contacto.IdContacto">@contacto.NombreComercial</option>
                                    }
                                }
                            </select>
                        </div> <div class="col-md-2">
                            <label style="padding-top: 0.2rem">Estados:</label>
                            <select class=" form-control selectFiltro" data-live-search="true" id="filtroEstados">
                                <option value="0" selected>Seleccione</option>
                                @foreach (var estados in ViewData["estados"] as IList<TbFdTareaEstado>)
                                {
                                    @if (estados.Activo == true)
                                    {
                                        <option value="@estados.Id" style="background:@estados.Color;color:black;">@estados.Titulo</option>

                                    }
                                }
                            </select>
                        </div><div class="col-md-2">
                            <label style="padding-top: 0.2rem">Tipos:</label>
                            <select class="  form-control selectFiltro" data-live-search="true" id="filtroTipos">
                                <option value="0" selected>Seleccione</option>
                                @foreach (var tipos in ViewData["tipos"] as IList<TbFdTareaTipo>)
                                {
                                    @if (tipos.Activo == true)
                                    {
                                        <option value="@tipos.Id" style="background:@tipos.Color;color:black;">@tipos.Titulo</option>

                                    }
                                }
                            </select>
                        </div>
                        <div class="col-md-3">

                            <label>Filtrar por fecha:</label>
                            <form id="frmFecha">
                                <fieldset>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="input-prepend input-group">
                                                <span class="add-on input-group-addon"><i class="fas fa-calendar"></i></span>
                                                <input type="text" style="width: 200px" name="filtroFecha" id="filtroFecha" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <table class="table table-bordered dt-responsive nowrap " id="TablaTareasContacto" style="width:100%">
                            <thead>
                                <tr>

                                    <th>
                                        Título
                                    </th>
                                    <th>
                                        Asignado
                                    </th>
                                    <th>
                                        Contacto
                                    </th>


                                    <th>
                                        Fecha Limite
                                    </th>

                                    <th>
                                        Estado tarea
                                    </th>
                                    <th>
                                        Tipo tarea
                                    </th>

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>




                </div>
            </div>

        </div>
        <div id="CondicionesCliente" class="container tab-pane fade">
            <br />
            <form>
                <div hidden>
                    <input type="text" id="IdConCliente" />
                </div>
                <div class="form-group col-md-4">
                    <label>Plazo Credito:</label>
                    <input type="number" min="0" placeholder="0" class="form-control" id="plazoCliente" />
                </div>
                <div class="form-group col-md-4">
                    <label>Monto Maximo:</label>
                    <input type="number" min="0" placeholder="0" class="form-control" id="montoCliente" />
                </div>
            </form>
        </div>
        <div id="CondicionesProveedor" class="container tab-pane ">
            <br />

            <form>
                <div hidden>
                    <input type="text" id="IdConProveedor" />
                </div>
                <div class="form-group col-md-4">
                    <label>Plazo Credito:</label>
                    <input type="number" min="0" placeholder="0" class="form-control" id="plazoProveedor" />
                </div>
                <div class="form-group col-md-4">
                    <label>Monto Maximo:</label>
                    <input type="number" min="0" placeholder="0" class="form-control" id="montoProveedor" />
                </div>
            </form>
            <div class="row">
                <div class="col-md-1">
                    <h3>Cuentas:</h3>
                </div>
                <div class="col-md-6" style="margin-left:1rem; padding-top:0.7rem">

                    <button disabled id="btnAgregarCuentas" class=" btn btn-primary "><span> Agregar <i class="fas fa-plus-circle "></i></span></button>
                </div>
            </div>
            <div>
                <table id="tablaCuentasBancarias" class="table table-bordered dt-responsive nowrap" style="width:100%">
                    <thead>
                        <tr>
                            <th>Tipo Cuenta</th>
                            <th>Cuenta Bancaria</th>
                            <th>Banco</th>
                            <th>Moneda</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <br />
    </div>
</div>

<div id="divBotones">


</div>




<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <table id="example1" class="display table-bordered  " style="width:100%">
                        <thead>
                            <tr>
                                <th>@Lb["Acción"]</th>
                                <th>@Lb["Nombre"]</th>
                                <th>@Lb["Cedula"]</th>
                                <th>@Lb["Correo"]</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var items in contactos)
                            {
                            <tr>
                                <td><button class="btn btn-link" id="agregarSubcontacto" onclick="Relacion(@Model.Id,@items.IdContacto);"><i style="font-size:1rem;" class="fas fa-plus"></i></button></td>
                                @if (items.Nombre != null)
                                {
                                    <td>@items.Nombre</td>
                                }
                                else
                                {
                                    <td> @items.NombreComercial</td>
                                }
                                <td>
                                    @items.Cedula
                                </td>
                                <td>@items.Correo</td>
                            </tr>
                            }
                        </tbody>
                    </table>


                </div>


            </div>

            <div class="modal-footer">
                <br /> <br />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Detalle de subcontacto</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">

                    <table class="table table-hover">

                        <tbody>
                            <tr>
                                <th class="col-md-4">   Nombre:  </th>
                                <td id="nombreTable">        </td>
                            </tr>

                            <tr>
                                <th class="col-md-4">  Apellidos:  </th>
                                <td id="apellido">              </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">    Nombre Comercial:   </th>
                                <td id="nombreComercial">             </td>
                            </tr>
                            <tr>
                                <th class="col-md-4"> Nombre Jurídico:    </th>
                                <td id="nombreJuridico">    </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">   Tipo Cédula:   </th>
                                <td id="tipoCedula">           </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">    Cédula:   </th>
                                <td id="cedula">           </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">  Teléfono: </th>
                                <td id="tele">       </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">    Correo:  </th>
                                <td id="correo">        </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">    Pais:   </th>
                                <td id="pa">         </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">   Provincia: </th>
                                <td id="provincias">            </td>
                            </tr>

                            <tr>
                                <th class="col-md-4">  Cantón:  </th>
                                <td id="cantones">          </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">     Distríto: </th>
                                <td id="distritos">           </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">   Persona:</th>
                                <td>       <input type="checkbox" id="persona" disabled="disabled" />  </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">   Empresa: </th>
                                <td>     <input type="checkbox" id="empresa" disabled="disabled" />   </td>
                            </tr>
                            <tr>
                                <th class="col-md-4"> Cliente:  </th>
                                <td>    <input type="checkbox" id="clien" disabled="disabled" />    </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">        Proveedor:</th>
                                <td>      <input type="checkbox" id="provee" disabled="disabled" /> </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">
                                    Otras señas:
                                </th>
                                <td id="otrasSen">           </td>
                            </tr>



                            <tr>
                                <th data-translate="editar" class="col-md-4">  <span>Editar</span> </th>
                                <td><button id="edit" class="btn btn-link  ">Editar&nbsp;<i style="font-size:2rem;" class="fas fa-edit"></i></button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>

</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="number" value="" id="Padre" hidden />
                <input type="number" id="Hijo" hidden />
                <input type="text" maxlength="30" id="nota" placeholder="Nota sobre la relacion" class="form-control col-sm-4" />
                <div id="alertNota"></div>
                <br />
                <br />
                <button class="btn btn-success" id="ingresarRelacion">Guardar <i style="font-size:2rem;" class="fas fa-save"></i></button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>

</div>

<!-- The Modal -->
<div class="modal fade" id="editarRelacion">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="number" id="idRelacion" hidden />

                <input type="text" maxlength="30" id="nota1" value="" placeholder="Nota sobre la relacion" class="form-control col-sm-4" />
                <div id="alertNota"></div>
                <br />
                <br />
                <button class="btn btn-success" onclick="editarRelacion()">Guardar <i style="font-size:2rem;" class="fas fa-save"></i></button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>

</div>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<!--Script que da forma ala tabla de contactos-->



<script>

     function GetComentario(referencia, idRefernecia) {



        var comentarioModel = {
            mensaje: '',
            tipoMensaje: 'CO',
            tipoReferencia: referencia,
            id: idRefernecia
        };

        $.ajax({
            type: "POST",
            url:  '@Url.Action("Nuevo-Comentario", "Mensajes") ',
            data: comentarioModel,
            success: function (data) {
                $('#comentarios').html(data);
            },
            error: function (err, scnd) {

                alert("Lo sentimos, tuvimos un problema al procesar tu solicitud.");
                console.log(err.statusText);

            }

        });
    }


    //editar condiciones pago proveedor
    function EditarCondicionProveedor(idContacto) {
    var proveedor ;
        var plazo = $('#plazoProveedor').val();
        var monto = $('#montoProveedor').val();
        if ($("#proveedor").prop('checked')) {

            proveedor = true;


        } else {
            proveedor = null;
        }
        var condiciones = {
            id: $('#IdConProveedor').val(),
            plazoCredito: plazo,
            montoMaximo: monto,
            esCliente: null,
            esProveedor: proveedor,
            idContacto: idContacto
        };
        $.ajax({
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            type: "POST",
            url: '@Url.Action("EditCondicionesPago", "Contacto")',
            data: { domain: condiciones},
            success: function (data) {


            },

            error: function (err, scnd) {
                console.log(err.statusText);
            }
        });
    }
    //editar condiciones pago
    function EditarCondicionCliente(idContacto) {
        var plazo = $('#plazoCliente').val();
        var monto = $('#montoCliente').val();
        var cliente;

        if ($("#cliente").prop('checked')) {

            cliente = true;


        } else {
            cliente = null;
        }


        var condiciones = {
            id: $('#IdConCliente').val(),
            plazoCredito: plazo,
            montoMaximo: monto,
            esCliente: cliente,
            esProveedor: null,
            idContacto: idContacto
        };
        $.ajax({
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            type: "POST",
            url: '@Url.Action("EditCondicionesPago", "Contacto")',
            data: { domain: condiciones},
            success: function (data) {

            },
            error: function (err, scnd) {
                console.log(err.statusText);
            }
        });
    }

    //agregar condiciones pago getfamiliaProveedor
    function AgregarCondicionProveedor(idContacto) {
        var proveedor ;
        var plazo = $('#plazoProveedor').val();
        var monto = $('#montoProveedor').val();
        if ($("#proveedor").prop('checked')) {

            proveedor = true;


        } else {
            proveedor = null;
        }
        var condiciones = {
          id :null,
            plazoCredito: plazo,
            montoMaximo: monto,
            esCliente: null,
            esProveedor: proveedor,
            idContacto: idContacto
        };
 $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("AddCondicionesPago", "Contacto")',


     data: { domain: condiciones},
                    success: function (data) {


                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }
        });
    }
    //agregar condiciones de pago cliente..
    function AgregarCondicionCliente(idContacto) {
        var plazo = $('#plazoCliente').val();
        var monto = $('#montoCliente').val();
        var cliente;

        if ($("#cliente").prop('checked')) {

            cliente = true;


        } else {
            cliente = null;
        }


        var condiciones = {
          id :null,
            plazoCredito: plazo,
            montoMaximo: monto,
            esCliente: cliente,
            esProveedor: null,
            idContacto: idContacto
        };
 $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("AddCondicionesPago", "Contacto")',


     data: { domain: condiciones},
                    success: function (data) {


                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }
        });
    }
    function validarCondicionesClientes() {
        return true;
    }
    var contactoTareas = [];
    var TareasMostrar = [];
    var desde;
    var hasta;
    $("#btnAgregarCuentas").on('click',function () {

        $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "GET",


                    url: '@Url.Action("PartialCrearTipoCuentaBancaria", "Contacto")',



                    success: function (data) {
                        $('#cuentasBancarias').modal('show');
                        $('#agregarCuentas').html(data);

                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }
        });
    });

    $(document).ready(function () {

        if (@Model.Id != 0) {
            GetComentario("Contacto", @Model.Id);
            getContactoRelaciones();
        }
        


    });
    $("#filtroByTitulo").on("keyup", function () {
        TablaTareas
            .columns(0)
            .search(this.value)
            .draw();
    });
    $('.selectFiltro').change(function () {

        cargarFiltros();

    });
    function cargarFiltros() {

        TareasMostrar = JSON.parse(JSON.stringify(contactoTareas));

        TareasMostrar = filtroContacto(TareasMostrar);
        TareasMostrar = filtroEstado(TareasMostrar);
        TareasMostrar = filtroTipos(TareasMostrar);
        TareasMostrar = filtroFecha(desde, hasta);
        TareasMostrar = FistroAsignados(TareasMostrar);
        cargarDatos(TareasMostrar);

    }
    function filtroEstado(TareasMostrar) {


        var IdEstado = parseInt($('#filtroEstados').val());

        var EstadosFiltrado = [];


        if (IdEstado === 0) {
            return TareasMostrar;
        }
        else {

            for (var i = 0; i < TareasMostrar.length; i++) {
                var estados = TareasMostrar[i].idEstadoNavigation;
                ;
                if (estados.id === IdEstado) {
                    console.log(IdEstado)
                    EstadosFiltrado.push(TareasMostrar[i]);





                }
            }
            console.log(EstadosFiltrado);
            return EstadosFiltrado;

        }

    }
    function filtroTipos(TareasMostrar) {
        var IdTipo = parseInt($('#filtroTipos').val());

        var tiposFiltrado = [];


        if (IdTipo === 0) {
            return TareasMostrar;
        }
        else {

            for (var i = 0; i < TareasMostrar.length; i++) {
                var tipos = TareasMostrar[i].idTipoNavigation;

                if (tipos.id === IdTipo) {

                    tiposFiltrado.push(TareasMostrar[i]);

                }

            }

            return tiposFiltrado;

        }

    } function filtroFecha(_desde, _hasta) {


        var arrayTareas = JSON.parse(JSON.stringify(TareasMostrar));
        if (_desde == _hasta || _desde === null) {

            return TareasMostrar;
        } else {

            var desdeLocal = new Date(_desde).getTime();
            var hastaLocal = new Date(_hasta).getTime();



            for (var i = 0; i < tareas.length; i++) {

                var documento = new Date(tareas[i].fechaLimite).getTime();
                var flag = false;

                if (documento >= desdeLocal && documento <= hastaLocal)
                    flag = true;

                // else flag = true;

                if (!flag)
                    arrayTareas.splice(i, 1);
            }
            return arrayTareas;
        }


    }
    function FistroAsignados(TareasMostrar) {

        var IdAsignado = parseInt($('#filtroAsignado').val());

        var AsignadosFiltrado = [];


        if (IdAsignado === 0) {

            return TareasMostrar;
        }
        else {

            for (var i = 0; i < TareasMostrar.length; i++) {

                if (TareasMostrar[i].idUsuario != 0) {

                    var asignados = TareasMostrar[i].idUsuario;

                    if (asignados === IdAsignado) {

                        AsignadosFiltrado.push(TareasMostrar[i]);
                        console.log(AsignadosFiltrado);
                    }
                }

            }

            return AsignadosFiltrado;

        }
    }
    function filtroContacto(TareasMostrar) {


        var IdContacto = parseInt($('#filtroContacto').val());

        var TareasFiltrado = [];

        console.log(TareasMostrar);
        if (IdContacto === 0) {
            return TareasMostrar;
        }
        else {

            for (var i = 0; i < TareasMostrar.length; i++) {

                if (TareasMostrar[i].idContacto === IdContacto) {
                    console.log(contacto.idContacto);
                    TareasFiltrado.push(TareasMostrar[i]);

                }
            }
            console.log(TareasFiltrado);
            return TareasFiltrado;

        }


    }
    $(document).ready(function () {

        $('#filtroFecha').daterangepicker({
            opens: 'left',


            "locale": {
                format: "DD/MM/YYYY",
                "separator": " - ",
                "applyLabel": "Aplicar",
                "cancelLabel": "Cancelar",
                "fromLabel": "DE",
                "toLabel": "Hasta",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "Dom",
                    "Lun",
                    "Mar",
                    "Mie",
                    "Jue",
                    "Vie",
                    "Sáb"
                ],
                "monthNames": [
                    "Enero",
                    "Febrero",
                    "Marzo",
                    "Abril",
                    "Mayo",
                    "Junio",
                    "Julio",
                    "Agosto",
                    "Septiembre",
                    "Octubre",
                    "Noviembre",
                    "Diciembre"
                ],
                "firstDay": 1
            }
        },
            function (start, end, label) {

                desde = start.format('YYYY-MM-DD');
                hasta = end.format('YYYY-MM-DD');
                cargarFiltros();
                //filtroFecha(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));

            });
    });
    function EditarRelacionLista(id,x) {

        $("#editarRelacion").modal('show');

        var nota = $('#as_' + x + '').val();

        $('#nota1').val(nota);
        $('#idRelacion').val(id);



    }
    function editarRelacion() {
        var idRelacion = $('#idRelacion').val();
        var nota = $('#nota1').val();



        if (nota == "") {
            $('#alertNota').append('<span class="text-danger">La nota es requerida.</span>');

            return false;
        }
        var ContactoRelacionEditar = {

            idRelacion: idRelacion,
                        nota: nota
        };
        console.log(ContactoRelacionEditar);
        $.ajax({
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            type: "POST",
            url: '@Url.Action("EditarRelacion", "Contacto")',
            data: { domain: ContactoRelacionEditar },
            success: function (data) {
                getContactoRelaciones();
                $("#editarRelacion").modal('hide');
            },

            error: function (err, scnd) {
                console.log(err.statusText);
            }

        });
    }
    $('#edit').on('click',function () {


                            var urls = '@Url.Action("Edit", "Contacto", new { id = "__id__"})';
                            window.location.href = urls.replace('__id__', $(this).val());
    });
    function MostarInfo(id) {

        $.ajax({
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            type: "GET",
            data: { id: id },

            url: '@Url.Action("Details", "Contacto")',


            data: { id: id },
            success: function (data) {
                $('#nombreTable').empty();
                $('#apellido').empty();
                $('#nombreComercial').empty();
                $('#nombreJuridico').empty();
                $('#tipoCedula').empty();
                $('#cedula').empty();
                $('#tele').empty();
                $('#correo').empty();
                $('#pa').empty();
                $('#provincias').empty();
                $('#cantones').empty();
                $('#distritos').empty();

                $('#otrasSen').empty();
                $('#myModal2').modal('show');
                $('#nombreTable').append(data.nombre);
                $('#apellido').append(data.apellidos);
                $('#nombreComercial').append(data.nombreComercial);
                $('#nombreJuridico').append(data.nombreJuridico);
                $('#tipoCedula').append(data.tipoCedula);
                $('#cedula').append(data.cedula);
                $('#tele').append(data.telefono);
                $('#correo').append(data.correo);
                $('#pa').append(data.pais);
                $('#provincias').append(data.provincia);
                $('#cantones').append(data.canton);
                $('#distritos').append(data.distrito);

                $('#otrasSen').append(data.otrasSenas);

                $('#persona').attr('checked',data.persona);
                $('#empresa').attr('checked', data.empresa);

                $('#clien').attr('checked', data.cliente);

                $('#provee').attr('checked', data.proveedor);

                $('#edit').attr('value',data.id);



                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });

    }
    function Relacion(idPadre, IdHijo) {

        $("#myModal").modal('show');
        $("#Padre").val(idPadre);
        $("#Hijo").val(IdHijo);

    }
   
    $("#example1").DataTable({
        "bLengthChange": false,
        "bInfo": false,
        "bAutoWidth": false,
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "infoPostFix": "",
            "thousands": ",",

            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "<i class='fas fa-search'></i>",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }

    });
</script>
<!--Script que va insertar las relaciones de los contactos-->
<script>
    $('#ingresarRelacion').on('click', function () {

   var idContactoPadre=$('#Padre').val();
   var idCOntactoHijo =    $('#Hijo').val();
     var nota = $('#nota').val();
        if (nota == "") {
            $('#alertNota').append('<span class="text-danger">La nota es requerida.</span>');

            return false;
        }
        var ContactoRelacion = {

            idContactoPadre: idContactoPadre,
            idContactoHijo: idCOntactoHijo,
            notaRelacion: nota
        };
          $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("GuardarRelacion", "Contacto")',


              data: { domain: ContactoRelacion },
              success: function (data) {
                  //getContactoRelaciones();
                  //$('#myModal').modal('hide');

                  window.location.href = window.location.href; 

              },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });


    });

    function getContactoRelaciones() {

                $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: '@Url.Action("_RelacionContacto", new { idContacto = Model.Id })',
                    success: function (data) {
                        $('.contactoRelaciones').html(data);
                    },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }
                });

    }

    

    //function validar
    function validarContactos() {
        var nombreContacto = $('#Nombre').val();
        var apellidos = $('#Apellidos').val();
        var nombreComercial = $('#NombreComercial').val();
        var nombreJuridico = $('#NombreJuridico').val();
        var tipoCedula = $('#combo').val();
        var fisica = $('#fisica').val();
        var juridica = $('#juridica').val();
        var dimex = $('#dimex').val();
        var nite = $('#nite').val();
        var telefono = $('#tel').val();
        var correo = $('#Correo').val();
        var pais = $('#pais').val();
        var provincia = $('#provincia').val();
        var canton = $('#canton').val();
        var distrito = $('#distrito').val();
        var otrasSenas = $('#otrasSenas').val();
        var idUsuario = $('#usuarioEncargado').val();
        var imagen = $('#imagen').val();
        if ($("#radio").prop('checked')) {

            if (nombreContacto == "") {
                $("#nombreAlert").empty();
                $("#nombreAlert").append('<span class="text-danger " >Nombre es requerido. </span>');


                return false;
            }
            if (apellidos == "") {
                $("#nombreAlert2").empty();
                $("#nombreAlert2").append('<span class="text-danger " >Apellidos es requerido. </span>');


                return false;
            }
        } else {

            if (nombreComercial == "") {
                $("#nombreAlert1").empty();
                $("#nombreAlert1").append('     <span class="text-danger " >Nombre comercial es requerido. </span>');

                return false;
            }
            if (nombreJuridico == "") {
                $("#nombreAlert3").empty();
                $("#nombreAlert3").append('     <span class="text-danger " >Nombre jurídico es requerido. </span>');
                return false;
            }

        }
        if (tipoCedula == "Seleccione") {
            $("#nombreAlert4").empty();
            $("#nombreAlert4").append('     <span class="text-danger " >El tipo de cédula  es requerido. </span>');
            return false;
        }
        if (tipoCedula == "CedulaFisica") {
            if (fisica == "") {
                $("#nombreAlert5").empty();
                $("#nombreAlert5").append('     <span class="text-danger " >La cédula fisica  es requerido. </span>');

                return false;
            }
            if (fisica.length < 11) {
                $("#nombreAlert5").empty();
                $("#nombreAlert5").append('     <span class="text-danger " >El formato es de 9 digitos.</span>');

                return false;
        }
        }
        if (tipoCedula == "CedulaJuridica") {
            if (juridica == "") {
                $("#nombreAlert6").empty();
                $("#nombreAlert6").append('     <span class="text-danger " >La cédula Jurídica  es requerido. </span>');

                return false;
            }
            if (juridica.length < 12) {
                $("#nombreAlert6").empty();
                $("#nombreAlert6").append('     <span class="text-danger " >El formato es de 10 digitos. </span>');

                return false;
            }
        }
        if (tipoCedula == "Dimex") {
            if (dimex == "") {
                $("#nombreAlert7").empty();
                $("#nombreAlert7").append('     <span class="text-danger " >La cédula dimex  es requerido. </span>');
                return false;
            }
            if (dimex.length < 11) {
                $("#nombreAlert7").empty();
                $("#nombreAlert7").append('     <span class="text-danger " >El formato es de 11 0 12 digitos. </span>');
                return false;
            }
        } if (tipoCedula == "NITE") {
            if (nite == "") {
                $("#nombreAlert8").empty();
                $("#nombreAlert8").append('     <span class="text-danger " >La cédula nite  es requerido. </span>');

                return false;
            }

        }
        if (telefono == "") {
            $("#nombreAlert9").empty();
            $("#nombreAlert9").append('     <span class="text-danger " >El  teléfono es requerido. </span>');

            return false;
        }
        if (telefono.length < 8) {
            $("#nombreAlert").empty();
            $("#nombreAlert9").append('     <span class="text-danger " >El formato es de 8 digitos. </span>');

            return false;
        }
        if (correo == "") {
            $("#nombreAlert10").empty();
            $("#nombreAlert10").append('     <span class="text-danger " >El  correo es requerido. </span>');

               return false;
        }
        if (IsEmail(correo) == false) {
            $("#nombreAlert10").empty();
            $("#nombreAlert10").append('     <span class="text-danger " >Digite un formato correco para el correo. Eje: ejemplo@domain.com. </span>');

            return false;
        }
        if (pais == "Pais") {
            $("#nombreAlert11").empty();
            $("#nombreAlert11").append('     <span class="text-danger " >El campo país es requerido. </span>');

            return false;
        }
        if (pais == "CostaRica") {
            if (provincia == "Seleccione") {
                $("#nombreAlert12").empty();
                $("#nombreAlert12").append('     <span class="text-danger " >La provincia es requerido. </span>');

                return false;
            } if (canton == "Seleccione") {
                $("#nombreAlert13").empty();
                $("#nombreAlert13").append('     <span class="text-danger " >El Canton es requerido. </span>');

                return false;
            } if (distrito == "Seleccione") {
                $("#nombreAlert14").empty();
                $("#nombreAlert14").append('     <span class="text-danger " >El distrito es requerido. </span>');

                return false;
            }

        }
        if ($('#cliente').is(':checked')) {
            if ($('#tipoClientes').val() != 0) {
                if ($('#familia').val() == 0) {
                    return false;
                } if ($('#subFamilia').val() == 0) {
                    return false;
                }
            }
            return true;
        }
        if ($('#proveedor').is(':checked')) {

            if ($('#tipoProveedor').val() != 0) {
                if ($('#familiaProveedor').val() == 0) {
                    return false;
                } if ($('#subFamiliaProveedor').val() == 0) {
                    return false;
                }
            }
            return true;
        }

        return true;
    }
     function IsEmail(email) {
         var regex = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
         if(!regex.test(email)) {
            return false;
         }
         else {
            return true;
         }
    }
    //metodo para cargar tareas en los contactos
    $(function () {

     //   $('.selectpicker').selectpicker();
    });

    function recuperarFecha(_fecha) {

        var fecha = _fecha.substr(0, 10);
        var y = fecha.substr(0, 4);
        var m = fecha.substr(6, 1);
        var d = fecha.substr(8, 3);

        //var date = new Date();
        //console.log(fecha);

        return d + "/" + m + "/" + y + " " + _fecha.substr(-8, 8);

    }
    function recuperarFechaSinHora(_fecha) {

        var fecha = _fecha.substr(0, 10);
        var y = fecha.substr(0, 4);
        var m = fecha.substr(6, 1);
        var d = fecha.substr(8, 3);

        //var date = new Date();
        //console.log(fecha);

        return d + "/" + m + "/" + y;

    }
</script>
<div class="modal fade" id="modalTipoCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-full-height modal-right" role="document">


        <div class="modal-content">
            <div class="modal-header" id="head">
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="tipoCliente">

            </div>

        </div>
    </div>
</div>

<script>
    $("#cliente").click(function () {
        if ($(this).is(':checked')) {
            $('[href="#CondicionesCliente"]').removeClass('disabledTab');
            $('#TiposClientes').attr('hidden', false);
            $('#tipoClientes').attr('disabled', false);
            $('#familia').attr('disabled', false);
            $('#subFamilia').attr('disabled', false);
            $('#AgregarTipoCliente').attr('disabled', false);
        } else {
            $('[href="#CondicionesCliente"]').addClass('disabledTab');

            $('#AgregarTipoCliente').attr('disabled', true);

            $('#TiposClientes').attr('hidden', true);


            $('#tipoClientes').val(0);
            $('#familia').val(0);
            $('#subFamilia').val(0);
            $('#familia').attr('disabled', true);
            $('#tipoClientes').attr('disabled', false);
            $('#subFamilia').attr('disabled', true);
            $('#AgregarTipoCliente').attr('disabled', true);
            $('#editarSubFamilia').attr("disabled", true);

            $('#editarTipoCliente').attr("disabled", true);
            $('#CrearEditarFamilias').attr("disabled", true);
            $('#CrearEditarFamilias').attr("disabled", true);
            $('#CrearEditarSubFamilias').attr("disabled", true);
            $('#editarFamilia').attr("disabled", true);
            $('#CrearEditarSubFamilias').attr("disabled", true);
            $('#editarSubFamilia').attr("disabled", true);
            $('#eliminarSubFamilia').attr("disabled", true);

            $("#subFamilia option").remove();

            var option = new Option("Seleccione", 0);

            $("#subFamilia").append(option);
            $("#familia option").remove();

            var option = new Option("Seleccione", 0);

            $("#familia").append(option);


        }
    });


    //jquery
    $(document).ready(function () {
        getTiposClientes();

    //
    if ($('#cliente').is(':checked')) {

        $('[href="#CondicionesCliente"]').removeClass('disabledTab');
        $('[href="#CondicionesCliente"]').tab('show');
        $('#TiposClientes').attr('hidden', false);
        $('#tipoClientes').attr('disabled', false);
        $('#familia').attr('disabled', false);
        $('#subFamilia').attr('disabled', false);
        $('#AgregarTipoCliente').attr('disabled', false);
        $('#editarSubFamilia').attr("disabled", false);

        $('#editarTipoCliente').attr("disabled", false);
        $('#CrearEditarFamilias').attr("disabled", false);
        $('#CrearEditarFamilias').attr("disabled", false);
        $('#CrearEditarSubFamilias').attr("disabled", false);
        $('#editarFamilia').attr("disabled", false);
        $('#CrearEditarSubFamilias').attr("disabled", false);
        $('#editarSubFamilia').attr("disabled", false);
        $('#eliminarSubFamilia').attr("disabled", false);
        getTiposClientes();

        getFamilias(@Model.IdTipoCliente);

        getSubFamilias(@Model.IdFamiliaCliente);
    }


    });
    //accion del select tipo cliente que llama ala familia..
    $("#tipoClientes").change(function () {
        if ($(this).val() != 0) {


            $('#editarFamilia').attr("disabled", true);
            $('#editarTipoCliente').attr("disabled", true);

            $('#editarTipoCliente').attr("disabled", false);
            $('#CrearEditarFamilias').attr("disabled", false);
            getFamilias($(this).val());

        } else {
            $('#editarSubFamilia').attr("disabled", true);
            $('#editarTipoCliente').attr("disabled", true);
            $('#editarFamilia').attr("disabled", true);
            $('#CrearEditarFamilias').attr("disabled", true);

            $('#CrearEditarSubFamilias').attr("disabled", true);
            $("#subFamilia option").remove();

            var option = new Option("Seleccione", 0);

            $("#subFamilia").append(option);
            $("#familia option").remove();

            var option = new Option("Seleccione", 0);

            $("#familia").append(option);
        }
    });
    //accion del select familia que devuelve alas subfamilias:
    $("#familia").change(function () {
        if ($(this).val() != 0) {
            getSubFamilias($(this).val());

            $('#editarSubFamilia').attr("disabled", true);
            $('#CrearEditarFamilias').attr("disabled", false);
            $('#CrearEditarSubFamilias').attr("disabled", false);
            $('#editarFamilia').attr("disabled", false);
            $('#eliminarSubFamilia').attr("disabled", true);

        } else {
            $("#subFamilia option").remove();

            var option = new Option("Seleccione", 0);

            $("#subFamilia").append(option);
            $('#editarFamilia').attr("disabled", true);
            $('#editarSubFamilia').attr("disabled", true);
            $('#CrearEditarSubFamilias').attr("disabled", true);
            $('#CrearEditarFamilias').attr("disabled", false);


        }
    });

    $("#subFamilia").change(function () {
        if ($(this).val() != 0) {

            $('#CrearEditarSubFamilias').attr("disabled", false);
            $('#editarSubFamilia').attr("disabled", false);
            $('#eliminarSubFamilia').attr("disabled", false);
        } else {
            $('#editarFamilia').attr("disabled", false);
           $('#CrearEditarSubFamilias').attr("disabled", false);
            $('#editarSubFamilia').attr("disabled", true);
            $('#eliminarSubFamilia').attr("disabled", true);
        }
    });
    //

    //function que devuelte las subfamilias por iD
    function getSubFamilias(idTipoCliente) {

         var url = '@Url.Action("GetSubFamilias", "TipoCliente")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: { idCliente: idTipoCliente },
                success: function (data) {
                    if (data != false) {
                        $("#subFamilia option").remove();

                            var option = new Option("Seleccione", 0);

                            $("#subFamilia").append(option);


                        for (var i = 0; i < data.length; i++) {

                            if (data[i].id === @Model.IdSubFamiliaCliente) {

                                    var o = new Option(data[i].nombre, data[i].id);
                                    o.setAttribute("selected", "selected");

                            } else {
            var o = new Option(data[i].nombre, data[i].id);
                            }

                            $("#subFamilia").append(o);

                        }

                        $("#subFamilia").trigger('change');
                    }
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                    cargarAlert("Tuvimos un error al procesar tu solicitud");
                }
            });
    }

    //function que devuelve las familias por ID
    function getFamilias(idTipoCliente) {

         var url = '@Url.Action("GetFamiliasTipoCliente", "TipoCliente")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: { idCliente: idTipoCliente },
                success: function (data) {
                    if (data != false) {
                        $("#familia option").remove();

                            var option = new Option("Seleccione", 0);

                            $("#familia").append(option);

                        for (var i = 0; i < data.length; i++) {

                                if (@Model.IdFamiliaCliente == data[i].id) {

                                    var o = new Option(data[i].nombre, data[i].id);
                                    o.setAttribute("selected", "selected");
                                }

                            else {
                                var o = new Option(data[i].nombre, data[i].id);

                            }

                            $("#familia").append(o);

                        }

                        $("#familia").trigger('change');
                    }
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                    cargarAlert("Tuvimos un error al procesar tu solicitud");
                }
            });
    }
    $('#modalTipoCliente').on('hidden.bs.modal', function () {

        getTiposClientes();


    });
    //cargar los tipos de clientes
     function getTiposClientes() {

            var url = '@Url.Action("GetTiposClientes", "TipoCliente")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                success: function (data) {
                    if (data != false) {
                        $("#tipoClientes option").remove();

                            var option = new Option("Seleccione", 0);

                            $("#tipoClientes").append(option);

                        for (var i = 0; i < data.length; i++) {

                                if (@Model.IdTipoCliente == data[i].id) {
                                    var o = new Option(data[i].nombre, data[i].id);
                                    o.setAttribute("selected", "selected");
                                }
                            else {
                                var o = new Option(data[i].nombre, data[i].id);

                            }
                            $("#tipoClientes").append(o);


                        }

                        $("#tipoClientes").trigger('change');
                    }
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                    cargarAlert("Tuvimos un error al procesar tu solicitud");
                }
            });
        }

    //function para llamar a vista parcial
    $('#AgregarTipoCliente').on("click", function () {
        var url = '@Url.Action("PartialCrearTipoCliente", "TipoCliente")';
           $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
               url: url,

              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });

    //function que llama a vista parcial para crear una familia de un tipo de cliente
    $('#CrearEditarFamilias').on("click", function () {
              var url = '@Url.Action("PartialCrearTipoCliente", "TipoCliente")';
        var idTipoCliente = $('#tipoClientes').val();
           $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
               },
               url: url,
               data: { idCliente: idTipoCliente},

              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });

    //function que llama ala vista parcial para ingresar una subfamilia

    //function que llama a vista parcial para crear una familia de un tipo de cliente
    $('#CrearEditarSubFamilias').on("click", function () {
          var url = '@Url.Action("PartialCrearTipoCliente", "TipoCliente")';
        var idFamiliaTipoCliente = $('#familia').val();
        $.ajax({
            type: "get",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: url,
            data: { idCliente: idFamiliaTipoCliente},

              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
    //editar editarTipoCliente
    $('#editarTipoCliente').on("click", function () {
              var url = '@Url.Action("PartialEditarTipoCliente", "TipoCliente")';
        var idTipoCliente = $('#tipoClientes').val();
        $.ajax({
            type: "get",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: url,
            data: { idCliente: idTipoCliente },

              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
    $('#editarFamilia').on("click", function () {
          var url = '@Url.Action("PartialEditarTipoCliente", "TipoCliente")';
        var idFamiliaCliente = $('#familia').val();
        $.ajax({
            type: "get",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: url,
            data: { idCliente: idFamiliaCliente },

              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
   $('#editarSubFamilia').on("click", function () {
         var url = '@Url.Action("PartialEditarTipoCliente", "TipoCliente")';
       var idSubFamiliaCliente = $('#subFamilia').val();
           $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
               },
               url: url,
               data: { idCliente: idSubFamiliaCliente},

              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
</script>
<script>
    $('#proveedor').click(function () {
        if ($(this).is(':checked')) {
            $('[href="#CondicionesProveedor"]').removeClass('disabledTab');
            $('#TiposProveedor').attr('hidden', false);
            $('#tipoProveedor').attr('disabled', false);
            $('#familiaProveedor').attr('disabled', false);
            $('#subFamiliaProveedor').attr('disabled', false);
            $('#AgregarTipoProveedor').attr('disabled', false);
        } else {
            $('[href="#CondicionesProveedor"]').addClass('disabledTab');
            $('#TiposProveedor').attr('hidden', true);
            $("#subFamiliaProveedor option").remove();

            var option = new Option("Seleccione", 0);

            $("#subFamiliaProveedor").append(option);
            $("#familiaProveedor option").remove();

            var option = new Option("Seleccione", 0);

            $("#familiaProveedor").append(option);

            $('#tipoProveedor').attr('disabled', true);
            $('#familiaProveedor').attr('disabled', true);
            $('#subFamiliaProveedor').attr('disabled', true);
            $('#AgregarTipoProveedor').attr('disabled', true);

            $('#familiaProveedor').attr('disabled', true);
            $('#subFamiliaProveedor').attr('disabled', true);
            $('#AgregarTipoProveedor').attr('disabled', true);
            $('#editarfamiliaProveedor').attr("disabled", true);
            $('#editarTipoProveedor').attr("disabled", true);
            $('#CreareditarfamiliaProveedor').attr("disabled", true);
            $('#CreareditarSubfamiliaProveedor').attr("disabled", true);
            $('#CreareditarfamiliaProveedor').attr("disabled", true);
            $('#editarfamiliaProveedor').attr("disabled", true);
            $('#CreareditarSubfamiliaProveedor').attr("disabled", true);
            $('#editarSubfamiliaProveedor').attr("disabled", true);
            $('#eliminarSubfamiliaProveedor').attr("disabled", true);
            $('#tipoProveedor').val(0);
            $('#familiaProveedor').val(0);
            $('#subFamiliaProveedor').val(0);

        }
    });
    //jquery
    $(document).ready(function () {
        getTiposProveedor();
        if ($('#proveedor').is(':checked')) {
            $('[href="#CondicionesProveedor"]').removeClass('disabledTab');
           // $('[href="#CondicionesProveedor"]').tab('show');
            $('#TiposProveedor').attr('hidden', false);
        $('#tipoProveedor').attr('disabled', false);
        $('#familiaProveedor').attr('disabled', false);
        $('#subFamiliaProveedor').attr('disabled', false);
                  $('#AgregarTipoProveedor').attr('disabled', false);
                  $('#editarfamiliaProveedor').attr("disabled", false);
                  $('#editarTipoProveedor').attr("disabled", false);
                  $('#CreareditarfamiliaProveedor').attr("disabled", false);
                  $('#CreareditarSubfamiliaProveedor').attr("disabled", false);
                  $('#CreareditarfamiliaProveedor').attr("disabled", false);
                  $('#editarfamiliaProveedor').attr("disabled", false);
                  $('#CreareditarSubfamiliaProveedor').attr("disabled", false);
                  $('#editarSubfamiliaProveedor').attr("disabled", false);
                  $('#eliminarSubfamiliaProveedor').attr("disabled", false);
        getTiposProveedor();

        getfamiliaProveedors(@Model.IdTipoProveedor);
        getSubfamiliaProveedors(@Model.IdFamiliaProveedor);
    }

    });
    //accion del select tipo cliente que llama ala familiaProveedor..
    $("#tipoProveedor").change(function () {
        if ($(this).val() != 0) {


            $('#CreareditarfamiliaProveedor').attr("disabled", false);
            $('#editarTipoProveedor').attr("disabled", true);

            $('#editarTipoProveedor').attr("disabled", false);
            $('#editarfamiliaProveedor').attr("disabled", false);
            $('#editarfamiliaProveedor').attr("disabled", true);
            getfamiliaProveedors($(this).val());

        } else {
            $("#subFamiliaProveedor option").remove();

            var option = new Option("Seleccione", 0);

            $("#subFamiliaProveedor").append(option);
            $("#familiaProveedor option").remove();

            var option = new Option("Seleccione", 0);

            $("#familiaProveedor").append(option);

            $('#editarTipoProveedor').attr("disabled", true);
            $('#CreareditarfamiliaProveedor').attr("disabled", true);
            $('#editarfamiliaProveedor').attr("disabled", true);
            $('#editarSubfamiliaProveedor').attr("disabled", true);
            $('#CreareditarSubfamiliaProveedor').attr("disabled", true);

        }
    });
    //accion del select familiaProveedor que devuelve alas subfamiliaProveedors:
    $("#familiaProveedor").change(function () {
        if ($(this).val() != 0) {

            $('#editarSubfamiliaProveedor').attr("disabled", true);
            $('#CreareditarSubfamiliaProveedor').attr("disabled", false);
            $('#CreareditarfamiliaProveedor').attr("disabled", false);
            $('#editarfamiliaProveedor').attr("disabled", false);
            getSubfamiliaProveedors($(this).val());

        } else {
            $("#subFamiliaProveedor option").remove();

            var option = new Option("Seleccione", 0);

            $("#subFamiliaProveedor").append(option);
            $('#editarfamiliaProveedor').attr("disabled", true);
            $('#editarSubfamiliaProveedor').attr("disabled", true);
            $('#CreareditarSubfamiliaProveedor').attr("disabled", true);
            $('#CreareditarfamiliaProveedor').attr("disabled", false);


        }
    });

    $("#subFamiliaProveedor").change(function () {

        if ($(this).val() != 0) {

            $('#CreareditarSubfamiliaProveedor').attr("disabled", false);
            $('#editarSubfamiliaProveedor').attr("disabled", false);
            $('#eliminarSubfamiliaProveedor').attr("disabled", false);
        } else {
            $('#editarfamiliaProveedor').attr("disabled", false);
           $('#CreareditarSubfamiliaProveedor').attr("disabled", false);
            $('#editarSubfamiliaProveedor').attr("disabled", true);
        }
    });
    //function que devuelte las subfamiliaProveedors por iD
    function getSubfamiliaProveedors(idTipoCliente) {
         var url = '@Url.Action("GetSubFamiliasProveedor", "TipoProveedor")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: { idProveedor: idTipoCliente },
                success: function (data) {

                        $("#subFamiliaProveedor option").remove();

                        var option = new Option("Seleccione", 0);

                        $("#subFamiliaProveedor").append(option);

                    for (var i = 0; i < data.length; i++) {

                            if (data[i].id === @Model.IdSubFamiliaProveedor) {

                                var o = new Option(data[i].nombre, data[i].id);
                                o.setAttribute("selected", "selected");

                        }else {
                                var o = new Option(data[i].nombre, data[i].id);
                            }

                            $("#subFamiliaProveedor").append(o);

                        }

                    $("#subFamiliaProveedor").trigger('change');

                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                    cargarAlert("Tuvimos un error al procesar tu solicitud");
                }
            });
    }
    //function que devuelve las familiaProveedors por ID
    function getfamiliaProveedors(idTipoCliente) {
         var url = '@Url.Action("GetFamiliasTipoProveedor", "TipoProveedor")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: { idProveedor: idTipoCliente },
                success: function (data) {
                    if (data != false) {
                        $("#familiaProveedor option").remove();

                            var option = new Option("Seleccione", 0);

                            $("#familiaProveedor").append(option);


                        for (var i = 0; i < data.length; i++) {

                                if (@Model.IdFamiliaProveedor == data[i].id) {

                                    var o = new Option(data[i].nombre, data[i].id);
                                    o.setAttribute("selected", "selected");
                                }
                            else {
                                var o = new Option(data[i].nombre, data[i].id);

                            }

                            $("#familiaProveedor").append(o);

                        }

                        $("#familiaProveedor").trigger('change');
                    }
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                    cargarAlert("Tuvimos un error al procesar tu solicitud");
                }
            });
    }
    $('#modalTipoCliente').on('hidden.bs.modal', function () {

        getTiposProveedor();


    });
    //cargar los tipos de clientes
     function getTiposProveedor() {

            var url = '@Url.Action("GetTiposDeProveedores", "TipoProveedor")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                success: function (data) {
                    if (data != false) {
                        $("#tipoProveedor option").remove();

                            var option = new Option("Seleccione", 0);

                            $("#tipoProveedor").append(option);

                        for (var i = 0; i < data.length; i++) {

                                if (@Model.IdTipoProveedor === data[i].id) {
                                    var o = new Option(data[i].nombre, data[i].id);
                                    o.setAttribute("selected", "selected");

                                }

                             else {
                                var o = new Option(data[i].nombre, data[i].id);
                            }



                            $("#tipoProveedor").append(o);
                        }

                        $("#tipoProveedor").trigger('change');
                    }
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                    cargarAlert("Tuvimos un error al procesar tu solicitud");
                }
            });
        }

    //function para llamar a vista parcial
    $('#AgregarTipoProveedor').on("click", function () {
          var url = '@Url.Action("PartialCrearTipoProveedor", "TipoProveedor")';
           $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
               url: url,


              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
    //crear subfamilia
    $('#CreareditarSubfamiliaProveedor').on("click", function () {
                  var url = '@Url.Action("PartialCrearTipoProveedor", "TipoProveedor")';
        var idProveedor = $('#familiaProveedor').val();
        $.ajax({
            type: "get",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: url,
            data: { idProveedor: idProveedor },

              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });

    });
    //function que llama a vista parcial para crear una familiaProveedor de un tipo de cliente
    $('#CreareditarfamiliaProveedor').on("click", function () {
           var url = '@Url.Action("PartialCrearTipoProveedor", "TipoProveedor")';
        var idProveedor = $('#tipoProveedor').val();
        $.ajax({
            type: "get",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: url,
            data: { idProveedor: idProveedor },

              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });

    //function que llama ala vista parcial para ingresar una subfamiliaProveedor

    //function que llama a vista parcial para crear una familiaProveedor de un tipo de cliente
    $('#editarfamiliaProveedor').on("click", function () {
                   var url = '@Url.Action("PartialCrearTipoProveedor", "TipoProveedor")';

        var idfamiliaProveedorTipoCliente = $('#familiaProveedor').val();
        $.ajax({
            type: "get",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: url,
            data: { idProveedor: idfamiliaProveedorTipoCliente },

              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
    //editar editarTipoProveedor
    $('#editarTipoProveedor').on("click", function () {
                var url = '@Url.Action("PartialEditarTipoProveedor", "TipoProveedor")';
        var idProveedor = $('#tipoProveedor').val();
        $.ajax({
            type: "get",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: url,
            data: { idProveedor: idProveedor },

              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
    $('#editarfamiliaProveedor').on("click", function () {
           var url = '@Url.Action("PartialEditarTipoProveedor", "TipoProveedor")';
        var idfamiliaProveedorCliente = $('#familiaProveedor').val();
        $.ajax({
            type: "get",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: url,
            data: { idProveedor: idfamiliaProveedorCliente },

              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
   $('#editarSubfamiliaProveedor').on("click", function () {
           var url = '@Url.Action("PartialEditarTipoProveedor", "TipoProveedor")';
       var idSubfamiliaProveedorCliente = $('#subFamiliaProveedor').val();

       $.ajax({
           type: "get",
           headers: {
               "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
           },
           url: url,
           data: { idProveedor: idSubfamiliaProveedorCliente },

              success: function (data) {

                  $('#modalTipoCliente').modal('show');

                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
</script>