@model AltivaWebApp.ViewModels.ContactoViewModel
@{


    var usuarios = new List<TbSeUsuario>();

    usuarios = ViewData["Usuarios"] as List<TbSeUsuario>;


    var contactos = new List<TbCrContacto>();

    contactos = ViewData["contactos"] as List<TbCrContacto>;
    var contactoRelacion = new List<ContactoRelacionGETViewModel>();
    contactoRelacion = ViewData["contactoRelacion"] as List<ContactoRelacionGETViewModel>;


}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


<link href="~/css/Code.css" />
<div class="col-md-12"><div class="col-md-6 alert alert-success" hidden id=" Mensaje"> Se ha creado un contacto exitosamente</div></div>
<div class="container ">
    <div id="atras" hidden><button id="atrass" class="btn btn-link">Atras</button></div>
    <div class="row">
        <div class="col-md-3">
            <label class="radio-inline" style="font-size:2rem;"><input style="height:20px; width:20px; " type="radio" name="radio" checked="@Model.Persona" value="Persona" id="radio" />Persona</label>
            <label class="radio-inline" style="font-size:2rem;"><input style="height:20px; width:20px; " type="radio" name="radio" checked="@Model.Empresa" id="radio1" />Empresa</label>
        </div>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">


            <div class="form-group  " id="nombre">

                <div id="NombreCon" class="form-group ">
                    <label hidden asp-for="Nombre" class="control-label ">Nombre</label>
                    <input required asp-for="Nombre" class="form-control input-lg" maxlength="20" placeholder="Nombre" size=30 />
                    <div id="nombreAlert"></div>

                </div>

            </div>
            <div class="form-group " hidden id="comercial">
                <label hidden class="control-label ape">Nombre Comercial</label>  <input asp-for="NombreComercial" class="form-control come input-lg" size=30 placeholder="NombreComercial" maxlength="20" />
                <div id="nombreAlert1"></div>
            </div>


        </div>
        <div class="col-md-3">
            <div class="form-group " id="apellidos">
                <label asp-for="Apellidos" class="control-label ape" hidden></label>
                <input asp-for="Apellidos" class="form-control ape input-lg" size=30 placeholder="Apellidos" maxlength="30" />
                <div id="nombreAlert2"></div>
            </div>
            <div class="form-group " id="juridico" hidden>
                <label class="control-label ape" asp-for="NombreJuridico" hidden></label>  <input asp-for="@Model.NombreJuridico" maxlength="30" placeholder="NombreJuridico" class="form-control come input-lg" size=30 />
                <div id="nombreAlert3"></div>
            </div>

        </div>
        <div class="col-sm-2">
            <div class="form-group ">

                <label asp-for="TipoCedula" hidden></label>
                <select asp-for="TipoCedula" class="form-control input-lg " id="combo" required>

                    <option selected value="Seleccione" hidden>Seleccione</option>
                    <option value="CedulaFisica">CedulaFisica</option>
                    <option value="CedulaJuridica">CedulaJuridica</option>

                    <option value="Dimex">Dimex</option>
                    <option value="NITE">NITE</option>
                </select>
                <div id="nombreAlert4"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group " id="cedFisica">
                <label class="control-label " hidden>Cedula Fisica</label>
                <input asp-for="Cedula" class="form-control input-lg" id="fisica" size=20 type="text" placeholder="0-0000-0000" required />
                <div id="nombreAlert5"></div>
            </div>

            <div class="form-group " id="cedJuridica" hidden>
                <label class="control-label " hidden>Cedula Juridica</label>
                <input asp-for="juridica" class="form-control input-lg" id="juridica" size=20 type="text" placeholder="0-0000-000000" />
                <div id="nombreAlert6"></div>
            </div>
            <div class="form-group " id="cedDimex" hidden>
                <label class="control-label " hidden>Cedula Dimex</label>
                <input asp-for="dimex" class="form-control input-lg " id="dimex" size=20 type="text" placeholder="00000000000" />
                <div id="nombreAlert7"></div>
            </div>
            <div class="form-group " id="cedNite" hidden>
                <label class="control-label " hidden>Cedula Nite</label>
                <input asp-for="nite" class="form-control input-lg " id="nite" size=20 type="text" placeholder="0000000000" />
                <div id="nombreAlert8"></div>
            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-3">
            <label class="control-label" hidden> Telefono</label>
            <input class="form-control input-lg" placeholder="Telefono" asp-for="Telefono" size=30 required type="text" id="tel" />
            <div id="nombreAlert9"></div>
        </div>
        <div class="col-md-4">
            <label asp-for="Correo" class="control-label " hidden></label>
            <input asp-for="Correo" class="form-control input-lg" placeholder="Correo" size=30 required type="email" />
            <div id="nombreAlert10"></div>

        </div>  <div class="col-md-4">
<<<<<<< HEAD
                    <div class="form-group ">
                        <label asp-for="Pais" hidden></label>
                        <select asp-for="Pais" class="form-control input-lg" id="pais" required>
                            <option selected hidden value="">Pais</option>
                            <option>CostaRica</option>
                            <option>Estados Unidos</option>
                            <option>Brasil</option>
                            <option>Chile</option>
                            <option>Panama</option>
                            <option>Honduras</option>
                            <option>Salvador</option>
                            <option>Nicaragua</option>
                        </select>
                        <div id="nombreAlert11"></div>
                    </div>
   
</div>
=======
            <div class="form-group ">
                <label asp-for="Pais" hidden></label>
                <select asp-for="Pais" class="form-control input-lg" id="pais" required>
                    <option selected hidden value="Pais">Pais</option>
                    <option>CostaRica</option>
                    <option>Estados Unidos</option>
                    <option>Brasil</option>
                    <option>Chile</option>
                    <option>Panama</option>
                    <option>Honduras</option>
                    <option>Salvador</option>
                    <option>Nicaragua</option>
                </select>
                <div id="nombreAlert11"></div>
            </div>

        </div>
>>>>>>> Juan

    </div>
    <div class="row">
        <div class="col-md-3">



            <br />
            <div class="form-group ">
                <label asp-for="Provincia" hidden></label>
                <select asp-for="Provincia" class="form-control input-lg" id="provincia" disabled="disabled">
                    <option value="" selected hidden>Provincia</option>

                </select>
            </div>
            <br />
            <div class="form-group ">
                <label asp-for="Canton" hidden></label>
                <select asp-for="Canton" class="form-control input-lg" id="canton" disabled="disabled">

                    <option value="" selected hidden>Canton</option>
                </select>
            </div>
            <br />
            <div class="form-group ">
                <label asp-for="Distrito" hidden></label>
                <select asp-for="Distrito " class="form-control input-lg" id="distrito" disabled="disabled">
                    <option value="" selected hidden>Distrito</option>

                </select>
            </div>

            <div class="form-group">
                <label>Usuario encargado:</label>
                <select class="form-control input-lg" id="usuarioEncargado">
                    <option value="" selected hidden>Seleccione</option>

                </select>
            </div>
            <div class="form-group">
                <label>Seleccionar foto de contacto:</label>
                <input type="file" id="imagen" class="form-control" name="Foto" />
            </div>
        </div>

        <div class="col-md-8" style="text-align:center;">
            <div class="col-md-8">
                <label style="font-size:1.5rem;">Otras Señas</label>
            </div><br />
            <textarea class="input-lg" style="width:40rem; height:20rem;" asp-for="OtrasSenas" id="otrasSenas">
</textarea>
            <br />
            <br />
            <!-- Material unchecked -->


            <input type="checkbox" id="cliente" name="Cliente" checked="@Model.Cliente" style="height:20px; width:20px; " />
            <label class="form-check-label" for="materialUnchecked" style="font-size:2rem;">Cliente</label>



            <input type="checkbox" class="form-check-input" id="proveedor" name="Proveedor" checked="@Model.Proveedor" style="height:20px; width:20px; " />
            <label class="form-check-label" for="materialUnchecked" name="Proveedor" style="font-size:2rem;">Proveedor</label>


        </div>






    </div>



    <div class="container mt-3" id="tabs">

        <br>
        <!-- Nav tabs -->

        <ul class="nav nav-tabs " id="tabs">
            <li class="nav-item active">
                <a class="nav-link " data-toggle="tab" id="campos" href="#home">Campos personalizados</a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link disabledTab " data-toggle="tab" href="#menu1" id="relaciones">Relaciones</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane active">
                <br>

                <div class="col-md-4">
                    <ul id="ul"></ul>
                </div>
            </div>
            <div id="menu1" class="container tab-pane fade ">
                <div class="btnSubContacto">

                    <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
                        Agregar Relacion
                    </button>
                </div>
                <div class="col-md-8" style="align-content:center;">
                    @if (contactoRelacion != null)
                    {
                        <div class="row ">
                            <table id="example" class="display table-bordered example" style="width:100%">

                                <thead>
                                    <tr>
                                        <th hidden >id</th>
                                        <th class="col-md-2">Nombre</th>
                                        <th class="col-md-2">NombreComercial</th>
                                        <th class="col-md-2">Cedula</th>
                                        <th class="col-md-2">Nota de relacion</th>
                                    </tr>
                                </thead>
                                <tbody id="tr">
                                    @foreach (var cr in contactoRelacion)
                                    {
                                        <tr>
                                            <td hidden>@cr.IdContactoHijo</td>
                                            @if (cr.Nombre != null)
                                            {
                                                <td><button class="btn btn-link" onclick="MostarInfo(@cr.IdContactoHijo);">@cr.Nombre</button></td>
                                            }
                                            else
                                            {
                                                <td>---</td>
                                            }
                                            @if (cr.NombreComercial != null)
                                            {
                                                <td><button class="btn btn-link" onclick="MostarInfo(@cr.IdContactoHijo);">@cr.NombreComercial</button></td>
                                            }
                                            else
                                            {
                                                <td>---</td>
                                            }

                                            <td>@cr.Cedula</td>
                                            <td>@cr.NotaRelacion</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>

            </div>

        </div>
    </div>
    <div id="divBotones">


    </div>



</div>


<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">




                <div class="row">



                    <table id="example1" class="display table-bordered  " style="width:100%">
                        <thead>
                            <tr>
                                <th>Accion</th>
                                <th>Nombre</th>
                                <th>Nombre Comercial</th>
                                <th>Cedula</th>
                                <th>Correo</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var items in contactos)
                            {

                                <tr>
                                    <td><button class="btn btn-primary" id="agregarSubcontacto" onclick="Relacion(@Model.Id,@items.IdContacto);">Agregar</button></td>
                                    <td>@items.Nombre</td>
                                    <td> @items.NombreComercial</td>
                                    <td>
                                        @items.Cedula
                                    </td>
                                    <td>@items.Correo</td>


                                </tr>

                            }
                        </tbody>
                    </table>


                </div>


            </div>
           
            <div class="modal-footer">
                <br /> <br />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Detalle de subcontacto</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">

                    <table class="table table-hover">

                        <tbody>
                            <tr>
                                <th class="col-md-4">   Nombre:  </th>
                                <td id="nombreTable">        </td>
                            </tr>

                            <tr>
                                <th class="col-md-4">  Apellidos:  </th>
                                <td id="apellido">              </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">    Nombre Comercial:   </th>
                                <td id="nombreComercial">             </td>
                            </tr>
                            <tr>
                                <th class="col-md-4"> Nombre Juridico:    </th>
                                <td id="nombreJuridico">    </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">   Tipo Cedula:   </th>
                                <td id="tipoCedula">           </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">    Cedula:   </th>
                                <td id="cedula">           </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">  Telefono: </th>
                                <td  id="tele">       </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">    Correo:  </th>
                                <td id="correo">        </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">    Pais:   </th>
                                <td id="pa">         </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">   Provincia: </th>
                                <td id="provincias">            </td>
                            </tr>

                            <tr>
                                <th class="col-md-4">  Canton:  </th>
                                <td id="cantones">          </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">     Distrito: </th>
                                <td id="distritos">           </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">   Persona:</th>
                                <td>       <input type="checkbox" id="persona"  disabled="disabled" />  </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">   Empresa: </th>
                                <td>     <input type="checkbox" id="empresa"  disabled="disabled" />   </td>
                            </tr>
                            <tr>
                                <th class="col-md-4"> Cliente:  </th>
                                <td>    <input type="checkbox" id="clien"  disabled="disabled" />    </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">        Proveedor:</th>
                                <td>      <input type="checkbox" id="provee" disabled="disabled" /> </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">
                                 Otras señas:
                                </th >
                                <td id="otrasSen">           </td>
                            </tr>



                            <tr>
                                <th data-translate="editar" class="col-md-4">  <span>Editar</span> </th>
                                <td ><button id="edit" class="btn btn-link  "  >Editar&nbsp;<i style="font-size:2rem;" class="fas fa-edit"></i></button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>

</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="number" value="" id="Padre" hidden />
                <input type="number" id="Hijo" hidden />
                <input type="text" maxlength="30" id="nota" placeholder="Nota sobre la relacion" class="form-control col-sm-4" />
                <br />
                <br />
                <button class="btn btn-primary" id="ingresarRelacion">Guardar Cambios</button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<!--Script que da forma ala tabla de contactos-->

<script>

    $('#edit').on('click',function () {

     
                            var urls = '@Url.Action("Edit", "Contacto", new { id = "__id__"})';
                            window.location.href = urls.replace('__id__', $(this).val());
    });
    function MostarInfo(id) {
       
        $.ajax({
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            type: "GET",
            data: { id: id },

            url: '@Url.Action("Details", "Contacto")',


            data: { id: id },
            success: function (data) {
                $('#nombreTable').empty();
                $('#apellido').empty();
                $('#nombreComercial').empty();
                $('#nombreJuridico').empty();
                $('#tipoCedula').empty();
                $('#cedula').empty();
                $('#tele').empty();
                $('#correo').empty();
                $('#pa').empty();
                $('#provincias').empty();
                $('#cantones').empty();
                $('#distritos').empty();

                $('#otrasSen').empty();
                $('#myModal2').modal('show');
                $('#nombreTable').append(data.nombre);
                $('#apellido').append(data.apellidos);
                $('#nombreComercial').append(data.nombreComercial);
                $('#nombreJuridico').append(data.nombreJuridico);
                $('#tipoCedula').append(data.tipoCedula);
                $('#cedula').append(data.cedula);
                $('#tele').append(data.telefono);
                $('#correo').append(data.correo);
                $('#pa').append(data.pais);
                $('#provincias').append(data.provincia);
                $('#cantones').append(data.canton);
                $('#distritos').append(data.distrito);
         
                $('#otrasSen').append(data.otrasSenas);
             
                $('#persona').attr('checked',data.persona);
                $('#empresa').attr('checked', data.empresa);
           
                $('#clien').attr('checked', data.cliente);
              
                $('#provee').attr('checked', data.proveedor);

                $('#edit').attr('value',data.id);
            
                
           
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });

    }
    function Relacion(idPadre, IdHijo) {

        $("#myModal").modal('show');
        $("#Padre").val(idPadre);
        $("#Hijo").val(IdHijo);

    }
    $("#example").DataTable({

        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false,
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "infoPostFix": "",
            "thousands": ",",
       
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "<a class='btn btn-link '><i class='fas fa-search btn-sm'></i></a>",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }

    });
    $("#example1").DataTable({
        "bLengthChange": false,
        "bInfo": false,
        "bAutoWidth": false,
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "infoPostFix": "",
            "thousands": ",",

            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "<a class='btn btn-link '><i class='fas fa-search btn-sm'></i></a>",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }

    });
</script>
<!--Script que va insertar las relaciones de los contactos-->
<script>
    $('#ingresarRelacion').on('click', function () {

   var idContactoPadre=$('#Padre').val();
   var idCOntactoHijo =    $('#Hijo').val();
     var nota = $('#nota').val();

        var ContactoRelacion = {

            idContactoPadre: idContactoPadre,
            idContactoHijo: idCOntactoHijo,
            notaRelacion: nota
        };
          $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("GuardarRelacion", "Contacto")',


              data: { domain: ContactoRelacion },
              success: function (data) {
                  window.location.reload();
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });


    });
</script>

