@model AltivaWebApp.ViewModels.ContactoViewModel
@{


    var usuarios = new List<TbSeUsuario>();

    usuarios = ViewData["Usuarios"] as List<TbSeUsuario>;


    var contactos = new List<TbCrContacto>();

    contactos = ViewData["contactos"] as List<TbCrContacto>;
    var contactoRelacion = new List<ContactoRelacionGETViewModel>();
    contactoRelacion = ViewData["contactoRelacion"] as List<ContactoRelacionGETViewModel>;


}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


<link href="~/css/Code.css" />
<div class="col-md-12"><div class="col-md-6 alert alert-success" hidden id=" Mensaje"> Se ha creado un contacto exitosamente</div></div>
<div class="container ">
    <h4>Contactos</h4>
    <div id="atras" hidden><button id="atrass" class="btn btn-link">Atras</button></div>
    <div class="row">
        <div class="col-md-3">
            <label class="radio-inline" ><input  type="radio" name="radio" checked="@Model.Persona" value="Persona" id="radio" />Persona</label>
            <label class="radio-inline" ><input  type="radio" name="radio" checked="@Model.Empresa" id="radio1" />Empresa</label>
        </div>

    </div>
  
    <div class="row">
        <div class="col-md-4">


            <div class="form-group  " id="nombre">

                <div id="NombreCon" class="form-group ">
                    <label   class="control-label ">Nombre:</label>
                    <input required asp-for="Nombre" class="form-control " maxlength="20"size=30 />
                    <div id="nombreAlert"></div>

                </div>

            </div>
            <div class="form-group " hidden id="comercial">
                <label  class="control-label ape">Nombre Comercial:</label>  <input asp-for="NombreComercial" class="form-control come " size=30 maxlength="20" />
                <div id="nombreAlert1"></div>
            </div>


        </div>
        <div class="col-md-4">
            <div class="form-group " id="apellidos">
                <label class="control-label ape">Apellidos:</label>
                <input asp-for="Apellidos" class="form-control ape " size=30  maxlength="30" />
                <div id="nombreAlert2"></div>
            </div>
            <div class="form-group " id="juridico" hidden>
                <label class="control-label ape">Nombre Jurídico</label>  <input asp-for="@Model.NombreJuridico" maxlength="30"  class="form-control come " size=30 />
                <div id="nombreAlert3"></div>
            </div>

        </div>
        <div class="col-md-2">
            <div class="form-group ">

                <label>Tipo Cédula:</label>
                <select asp-for="TipoCedula" class="form-control  " id="combo" required>

                    <option selected value="Seleccione" hidden>Seleccione</option>
                    <option value="CedulaFisica">CedulaFisica</option>
                    <option value="CedulaJuridica">CedulaJuridica</option>

                    <option value="Dimex">Dimex</option>
                    <option value="NITE">NITE</option>
                </select>
                <div id="nombreAlert4"></div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group " id="cedFisica">
                <label class="control-label " >Cedula Física:</label>
                <input asp-for="Cedula" class="form-control " id="fisica" size=20 type="text" placeholder="0-0000-0000" required />
                <div id="nombreAlert5"></div>
            </div>

            <div class="form-group " id="cedJuridica" hidden>
                <label class="control-label " >Cedula Juridica:</label>
                <input asp-for="juridica" class="form-control " id="juridica" size=20 type="text" placeholder="0-0000-000000" />
                <div id="nombreAlert6"></div>
            </div>
            <div class="form-group " id="cedDimex" hidden>
                <label class="control-label " >Cedula Dimex:</label>
                <input asp-for="dimex" class="form-control " id="dimex" size=20 type="text" placeholder="00000000000" />
                <div id="nombreAlert7"></div>
            </div>
            <div class="form-group " id="cedNite" hidden>
                <label class="control-label " >Cedula Nite:</label>
                <input asp-for="nite" class="form-control  " id="nite" size=20 type="text" placeholder="0000000000" />
                <div id="nombreAlert8"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <label class="control-label" > Telefono:</label>
            <input class="form-control " placeholder="00000000" asp-for="Telefono" size=30 required type="text" id="tel" />
            <div id="nombreAlert9"></div>
        </div>
        <div class="col-md-4">
            <label  class="control-label " >Correo:</label>
            <input asp-for="Correo" class="form-control" placeholder="Correo" size=30 required type="email" />
            <div id="nombreAlert10"></div>

        </div>  <div class="col-md-4">

                    <div class="form-group ">
                        <label >País:</label>
                        <select asp-for="Pais" class="form-control " id="pais" required>
                            <option selected hidden value="">Pais</option>
                            <option>CostaRica</option>
                            <option>Estados Unidos</option>
                            <option>Brasil</option>
                            <option>Chile</option>
                            <option>Panama</option>
                            <option>Honduras</option>
                            <option>Salvador</option>
                            <option>Nicaragua</option>
                        </select>
                        <div id="nombreAlert11"></div>
                    </div>
   
</div>

           
        </div>
    </div>
<div class="row">
    <div class="col-md-4">

        <div class="form-group ">
            <label>Provincia:</label>
            <select asp-for="Provincia" class="form-control " id="provincia" disabled="disabled">
                <option value="Seleccione" selected hidden>Seleccione</option>

            </select>
            <div id="nombreAlert12"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group ">
            <label>Cantón:</label>
            <select asp-for="Canton" class="form-control " id="canton" disabled="disabled">

                <option value="Seleccione" selected hidden>Seleccione</option>
            </select>
            <div id="nombreAlert13"></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group ">
            <label>Distrito:</label>
            <select asp-for="Distrito " class="form-control " id="distrito" disabled="disabled">
                <option value="Seleccione" selected hidden>Seleccione</option>

            </select>
            <div id="nombreAlert14"></div>
        </div>
    </div>
</div>
<div class=" row">
    <div class="col-md-8">
        <label>Otras Señas:</label>
        <div class="form-group">
            <textarea class="form-control" style="height:140px;"  asp-for="OtrasSenas" id="otrasSenas">
</textarea>
        </div>

    </div>
    <div class="col-md-4">
        <input type="checkbox" id="cliente" name="Cliente" checked="@Model.Cliente" />
        <label class="form-check-label" for="materialUnchecked" >Cliente</label>
        <input type="checkbox" class="form-check-input" id="proveedor" name="Proveedor" checked="@Model.Proveedor"  />
        <label class="form-check-label" for="materialUnchecked" name="Proveedor" >Proveedor</label>


        <div class="form-group">
            <label>Usuario encargado:</label>
            <select class="form-control input-lg" id="usuarioEncargado">
                <option value="" selected hidden>Seleccione</option>

            </select>
        </div>
        <div class="form-group">
            <label>Seleccionar foto de contacto:</label>
            <input type="file" id="imagen" class="form-control" name="Foto" />
        </div>
    </div>

    <div class="col-md-4">
      
        </div>



    </div>
    <!-- Material unchecked -->




    <div class="container mt-3" id="tabs">

        <br>
        <!-- Nav tabs -->

        <ul class="nav nav-tabs " id="tabs">
            <li class="nav-item active">
                <a class="nav-link " data-toggle="tab" id="campos" href="#home">Campos personalizados</a>
            </li>
            <li class="nav-item  ">
                <a class="nav-link disabledTab " data-toggle="tab" href="#menu1" id="relaciones">Relaciones</a>
            </li>
            <li class="nav-item"> 
                <a class="nav-link" data-toggle="tab" data-translate="comentarios" href="#contactoComentarios">Comentarios</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home" class="container tab-pane active">
                <br>

                <div class="col-md-4">
                    <ul id="ul"></ul>
                </div>
            </div>
            <div id="menu1" class="container tab-pane fade ">
                <div class="btnSubContacto">

                    <button style="font-size:2rem;" type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
                        <i class="far fa-plus-square"></i>
                    </button>
                </div>
                <div class="col-md-8" style="align-content:center;">
                    @if (contactoRelacion != null)
                    {
                        <div class="row ">
                            <table id="example" class="display table-bordered example" style="width:100%">

                                <thead>
                                    <tr>
                                        <th hidden>id</th>
                                        <th class="col-md-2">Nombre</th>
                                        <th class="col-md-2">NombreComercial</th>
                                        <th class="col-md-2">Cedula</th>
                                        <th class="col-md-2">Nota de relacion</th>
                                    </tr>
                                </thead>
                                <tbody id="tr">
                                    @foreach (var cr in contactoRelacion)
                                    {
                                        <tr>
                                            <td hidden>@cr.IdContactoHijo</td>
                                            @if (cr.Nombre != null)
                                            {
                                                <td><button class="btn btn-link" onclick="MostarInfo(@cr.IdContactoHijo);">@cr.Nombre</button></td>
                                            }
                                            else
                                            {
                                                <td>---</td>
                                            }
                                            @if (cr.NombreComercial != null)
                                            {
                                                <td><button class="btn btn-link" onclick="MostarInfo(@cr.IdContactoHijo);">@cr.NombreComercial</button></td>
                                            }
                                            else
                                            {
                                                <td>---</td>
                                            }

                                            <td>@cr.Cedula</td>
                                            <td>@cr.NotaRelacion</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    }
                </div>
            </div>
            <div id="contactoComentarios" class="container tab-pane">
                <br>

                <div class="col-md-12">
                    <div id="comentarios">

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="divBotones">


    </div>




<div class="modal fade " id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">




                <div class="row">



                    <table id="example1" class="display table-bordered  " style="width:100%">
                        <thead>
                            <tr>
                                <th>Accion</th>
                                <th>Nombre</th>
                                <th>Nombre Comercial</th>
                                <th>Cedula</th>
                                <th>Correo</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var items in contactos)
                            {

                                <tr>
                                    <td><button class="btn btn-link" id="agregarSubcontacto" onclick="Relacion(@Model.Id,@items.IdContacto);"><i style="font-size:1rem;" class="fas fa-plus"></i></button></td>
                                    <td>@items.Nombre</td>
                                    <td> @items.NombreComercial</td>
                                    <td>
                                        @items.Cedula
                                    </td>
                                    <td>@items.Correo</td>


                                </tr>

                            }
                        </tbody>
                    </table>


                </div>


            </div>
           
            <div class="modal-footer">
                <br /> <br />
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

            </div>
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Detalle de subcontacto</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">

                    <table class="table table-hover">

                        <tbody>
                            <tr>
                                <th class="col-md-4">   Nombre:  </th>
                                <td id="nombreTable">        </td>
                            </tr>

                            <tr>
                                <th class="col-md-4">  Apellidos:  </th>
                                <td id="apellido">              </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">    Nombre Comercial:   </th>
                                <td id="nombreComercial">             </td>
                            </tr>
                            <tr>
                                <th class="col-md-4"> Nombre Juridico:    </th>
                                <td id="nombreJuridico">    </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">   Tipo Cedula:   </th>
                                <td id="tipoCedula">           </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">    Cedula:   </th>
                                <td id="cedula">           </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">  Telefono: </th>
                                <td  id="tele">       </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">    Correo:  </th>
                                <td id="correo">        </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">    Pais:   </th>
                                <td id="pa">         </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">   Provincia: </th>
                                <td id="provincias">            </td>
                            </tr>

                            <tr>
                                <th class="col-md-4">  Canton:  </th>
                                <td id="cantones">          </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">     Distrito: </th>
                                <td id="distritos">           </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">   Persona:</th>
                                <td>       <input type="checkbox" id="persona"  disabled="disabled" />  </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">   Empresa: </th>
                                <td>     <input type="checkbox" id="empresa"  disabled="disabled" />   </td>
                            </tr>
                            <tr>
                                <th class="col-md-4"> Cliente:  </th>
                                <td>    <input type="checkbox" id="clien"  disabled="disabled" />    </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">        Proveedor:</th>
                                <td>      <input type="checkbox" id="provee" disabled="disabled" /> </td>
                            </tr>
                            <tr>
                                <th class="col-md-4">
                                 Otras señas:
                                </th >
                                <td id="otrasSen">           </td>
                            </tr>



                            <tr>
                                <th data-translate="editar" class="col-md-4">  <span>Editar</span> </th>
                                <td ><button id="edit" class="btn btn-link  "  >Editar&nbsp;<i style="font-size:2rem;" class="fas fa-edit"></i></button></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>

</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="number" value="" id="Padre" hidden />
                <input type="number" id="Hijo" hidden />
                <input type="text" maxlength="30" id="nota" placeholder="Nota sobre la relacion" class="form-control col-sm-4" />
                <div id="alertNota"></div>
                <br />
                <br />
                <button class="btn btn-success" id="ingresarRelacion">Guardar <i style="font-size:2rem;" class="fas fa-save"></i></button>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
<!--Script que da forma ala tabla de contactos-->

<script src="~/js/comentario.js"></script>

<script>


    $(document).ready(function () {
        GetComentarios("Contacto", @Model.Id);
    });

    $('#edit').on('click',function () {

     
                            var urls = '@Url.Action("Edit", "Contacto", new { id = "__id__"})';
                            window.location.href = urls.replace('__id__', $(this).val());
    });
    function MostarInfo(id) {

       
        $.ajax({
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            type: "GET",
            data: { id: id },

            url: '@Url.Action("Details", "Contacto")',


            data: { id: id },
            success: function (data) {
                $('#nombreTable').empty();
                $('#apellido').empty();
                $('#nombreComercial').empty();
                $('#nombreJuridico').empty();
                $('#tipoCedula').empty();
                $('#cedula').empty();
                $('#tele').empty();
                $('#correo').empty();
                $('#pa').empty();
                $('#provincias').empty();
                $('#cantones').empty();
                $('#distritos').empty();

                $('#otrasSen').empty();
                $('#myModal2').modal('show');
                $('#nombreTable').append(data.nombre);
                $('#apellido').append(data.apellidos);
                $('#nombreComercial').append(data.nombreComercial);
                $('#nombreJuridico').append(data.nombreJuridico);
                $('#tipoCedula').append(data.tipoCedula);
                $('#cedula').append(data.cedula);
                $('#tele').append(data.telefono);
                $('#correo').append(data.correo);
                $('#pa').append(data.pais);
                $('#provincias').append(data.provincia);
                $('#cantones').append(data.canton);
                $('#distritos').append(data.distrito);
         
                $('#otrasSen').append(data.otrasSenas);
             
                $('#persona').attr('checked',data.persona);
                $('#empresa').attr('checked', data.empresa);
           
                $('#clien').attr('checked', data.cliente);
              
                $('#provee').attr('checked', data.proveedor);

                $('#edit').attr('value',data.id);
            
                
           
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });

    }
    function Relacion(idPadre, IdHijo) {

        $("#myModal").modal('show');
        $("#Padre").val(idPadre);
        $("#Hijo").val(IdHijo);

    }
    $("#example").DataTable({

        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
        "bAutoWidth": false,
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "infoPostFix": "",
            "thousands": ",",
       
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "<a class='btn btn-link '><i class='fas fa-search '></i></a>",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }

    });
    $("#example1").DataTable({
        "bLengthChange": false,
        "bInfo": false,
        "bAutoWidth": false,
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "infoPostFix": "",
            "thousands": ",",

            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "<a class='btn btn-link '><i class='fas fa-search'></i></a>",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        }

    });
</script>
<!--Script que va insertar las relaciones de los contactos-->
<script>
    $('#ingresarRelacion').on('click', function () {

   var idContactoPadre=$('#Padre').val();
   var idCOntactoHijo =    $('#Hijo').val();
     var nota = $('#nota').val();
        if (nota == "") {
            $('#alertNota').append('<span class="text-danger">La nota es requerida.</span>');
        }
        var ContactoRelacion = {

            idContactoPadre: idContactoPadre,
            idContactoHijo: idCOntactoHijo,
            notaRelacion: nota
        };
          $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("GuardarRelacion", "Contacto")',


              data: { domain: ContactoRelacion },
              success: function (data) {
                  window.location.reload();
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });


    });

    //function validar
    function validarContactos() {
        var nombreContacto = $('#Nombre').val();
        var apellidos = $('#Apellidos').val();
        var nombreComercial = $('#NombreComercial').val();
        var nombreJuridico = $('#NombreJuridico').val();
        var tipoCedula = $('#combo').val();
        var fisica = $('#fisica').val();
        var juridica = $('#juridica').val();
        var dimex = $('#dimex').val();
        var nite = $('#nite').val();
        var telefono = $('#tel').val();
        var correo = $('#Correo').val();
        var pais = $('#pais').val();
        var provincia = $('#provincia').val();
        var canton = $('#canton').val();
        var distrito = $('#distrito').val();
        var otrasSenas = $('#otrasSenas').val();
        var idUsuario = $('#usuarioEncargado').val();
        var imagen = $('#imagen').val();
        if ($("#radio").prop('checked')) {

            if (nombreContacto == "") {
                $("#nombreAlert").empty();
                $("#nombreAlert").append('<span class="text-danger " >Nombre es requerido. </span>');


                return false;
            }
            if (apellidos == "") {
                $("#nombreAlert2").empty();
                $("#nombreAlert2").append('<span class="text-danger " >Apellidos es requerido. </span>');
             

                return false;
            }
        } else {

            if (nombreComercial == "") {
                $("#nombreAlert1").empty();
                $("#nombreAlert1").append('     <span class="text-danger " >Nombre comercial es requerido. </span>');
               
                return false;
            }
            if (nombreJuridico == "") {
                $("#nombreAlert3").empty();
                $("#nombreAlert3").append('     <span class="text-danger " >Nombre jurídico es requerido. </span>');
                return false;
            }

        }
        if (tipoCedula == "Seleccione") {
            $("#nombreAlert4").empty();
            $("#nombreAlert4").append('     <span class="text-danger " >El tipo de cédula  es requerido. </span>');
            return false;
        }
        if (tipoCedula == "CedulaFisica") {
            if (fisica == "") {
                $("#nombreAlert5").empty();
                $("#nombreAlert5").append('     <span class="text-danger " >La cédula fisica  es requerido. </span>');

                return false;
            }
            if (fisica.length < 11) {
                $("#nombreAlert5").empty();
                $("#nombreAlert5").append('     <span class="text-danger " >El formato es de 9 digitos.</span>');

                return false;
        }
        }
        if (tipoCedula == "CedulaJuridica") {
            if (juridica == "") {
                $("#nombreAlert6").empty();
                $("#nombreAlert6").append('     <span class="text-danger " >La cédula Jurídica  es requerido. </span>');

                return false;
            }
            if (juridica.length < 12) {
                $("#nombreAlert6").empty();
                $("#nombreAlert6").append('     <span class="text-danger " >El formato es de 10 digitos </span>');

                return false;
            }
        }
        if (tipoCedula == "Dimex") {
            if (dimex == "") {
                $("#nombreAlert7").empty();
                $("#nombreAlert7").append('     <span class="text-danger " >La cédula dimex  es requerido. </span>');
                return false;
            }
            if (dimex.length < 11) {
                $("#nombreAlert7").empty();
                $("#nombreAlert7").append('     <span class="text-danger " >El formato es de 11 0 12 digitos. </span>');
                return false;
            }
        } if (tipoCedula == "NITE") {
            if (nite == "") {
                $("#nombreAlert8").empty();
                $("#nombreAlert8").append('     <span class="text-danger " >La cédula nite  es requerido. </span>');

                return false;
            }
            
        }
        if (telefono == "") {
            $("#nombreAlert9").empty();
            $("#nombreAlert9").append('     <span class="text-danger " >El  teléfono es requerido. </span>');

            return false;
        }
        if (telefono.length < 8) {
            $("#nombreAlert").empty();
            $("#nombreAlert9").append('     <span class="text-danger " >El formato es de 8 digitos. </span>');

            return false;
        }
        if (correo == "") {
            $("#nombreAlert10").empty();
            $("#nombreAlert10").append('     <span class="text-danger " >El  correo es requerido. </span>');

               return false;
        }
        if (IsEmail(correo) == false) {
            $("#nombreAlert10").empty();
            $("#nombreAlert10").append('     <span class="text-danger " >Digite un formato correco para el correo. Eje: ejemplo@domain.com. </span>');

            return false;
        }
        if (pais == "Pais") {
            $("#nombreAlert11").empty();
            $("#nombreAlert11").append('     <span class="text-danger " >El campo país es requerido. </span>');

            return false;
        }
        if (pais == "CostaRica") {
            if (provincia == "Seleccione") {
                $("#nombreAlert12").empty();
                $("#nombreAlert12").append('     <span class="text-danger " >La provincia es requerido. </span>');

                return false;
            } if (canton == "Seleccione") {
                $("#nombreAlert13").empty();
                $("#nombreAlert13").append('     <span class="text-danger " >El Canton es requerido. </span>');

                return false;
            } if (distrito == "Seleccione") {
                $("#nombreAlert14").empty();
                $("#nombreAlert14").append('     <span class="text-danger " >El dsitrito es requerido. </span>');

                return false;
            }
        }


        return true;
    }
     function IsEmail(email) {
         var regex = /^([\w-\.]+\u0040([\w-]+\.)+[\w-]{2,4})?$/;
  if(!regex.test(email)) {
    return false;
  }else{
    return true;
  }
}
</script>

