@model AltivaWebApp.ViewModels.ContactoViewModel
@{


    var usuarios = new List<TbSeUsuario>();

    usuarios = ViewData["Usuarios"] as List<TbSeUsuario>;




}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


<link href="~/css/Code.css" />
<div class="col-md-12"><div class="col-md-6 alert alert-success" hidden id=" Mensaje"> Se ha creado un contacto exitosamente</div></div>
<div class="container " >
    
    <div class="row">
        <div class="col-md-3">
            <label class="radio-inline" style="font-size:2rem;" id="radio2"><input type="radio" name="radio" checked="@Model.Persona" value="Persona" id="radio" />Persona</label>
            <label class="radio-inline" style="font-size:2rem;" id="radio3"><input type="radio" name="radio" checked="@Model.Empresa" id="radio1" />Empresa</label>
        </div>

    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">


            <div class="form-group  " id="nombre">

                <div id="NombreCon" class="form-group "><label hidden asp-for="Nombre" class="control-label ">Nombre</label><input required asp-for="Nombre" class="form-control input-lg" maxlength="20" placeholder="Nombre" size=30 /></div>

            </div>
            <div class="form-group " hidden id="comercial">
                <label hidden class="control-label ape">Nombre Comercial</label>  <input asp-for="NombreComercial" class="form-control come input-lg" size=30 placeholder="NombreComercial" maxlength="20" />

            </div>


        </div>
        <div class="col-md-3">
            <div class="form-group " id="apellidos">
                <label asp-for="Apellidos" class="control-label ape" hidden></label>
                <input asp-for="Apellidos" class="form-control ape input-lg" size=30 placeholder="Apellidos" maxlength="30" />
            </div>
            <div class="form-group " id="juridico" hidden>
                <label class="control-label ape" asp-for="NombreJuridico" hidden></label>  <input asp-for="@Model.NombreJuridico" maxlength="30" placeholder="NombreJuridico" class="form-control come input-lg" size=30 />
            </div>

        </div>
        <div class="col-sm-2">
            <div class="form-group ">

                <label asp-for="TipoCedula" hidden></label>
                <select asp-for="TipoCedula" class="form-control input-lg " id="combo" required>

                    <option selected value="" hidden>Seleccione</option>
                    <option value="CedulaFisica">CedulaFisica</option>
                    <option value="CedulaJuridica">CedulaJuridica</option>

                    <option value="Dimex">Dimex</option>
                    <option value="NITE">NITE</option>
                </select>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group " id="cedFisica">
                <label class="control-label " hidden>Cedula Fisica</label>
                <input asp-for="Cedula" class="form-control input-lg" id="fisica" size=20 type="text" placeholder="0-0000-0000" required />
                <span asp-validation-for="Cedula" class="text-danger"></span>
            </div>

            <div class="form-group " id="cedJuridica" hidden>
                <label class="control-label " hidden>Cedula Juridica</label>
                <input  class="form-control input-lg" id="juridica" size=20 type="text" placeholder="0-0000-000000" />

            </div>
            <div class="form-group " id="cedDimex" hidden>
                <label class="control-label " hidden>Cedula Dimex</label>
                <input  class="form-control input-lg " id="dimex" size=20 type="text" placeholder="00000000000" />

            </div>
            <div class="form-group " id="cedNite" hidden>
                <label class="control-label " hidden>Cedula Nite</label>
                <input  class="form-control input-lg " id="nite" size=20 type="text" placeholder="0000000000" />

            </div>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-md-3">
            <label class="control-label" hidden> Telefono</label>
            <input class="form-control input-lg" placeholder="Telefono" asp-for="Telefono" size=30 required type="text" id="tel" />
            <span asp-validation-for="  Telefono" class="text-danger"></span>
        </div>
        <div class="col-md-4">
            <label asp-for="Correo" class="control-label " hidden></label>
            <input asp-for="Correo" class="form-control input-lg" placeholder="Correo" size=30 required type="email" />
            <span asp-validation-for="Correo" class="text-danger"></span>

        </div>  <div class="col-md-4">
            <div class="form-group ">
                <label asp-for="Pais" hidden></label>
                <select asp-for="Pais" class="form-control input-lg" id="pais" required>
                    <option selected hidden value="">Pais</option>
                    <option>CostaRica</option>
                    <option>Estados Unidos</option>
                    <option>Brasil</option>
                    <option>Chile</option>
                    <option>Panama</option>
                    <option>Honduras</option>
                    <option>Salvador</option>
                    <option>Nicaragua</option>
                </select>
            </div>

        </div>

    </div>
    <div class="row">
        <div class="col-md-3">



            <br />
            <div class="form-group ">
                <label asp-for="Provincia" hidden></label>
                <select asp-for="Provincia" class="form-control input-lg" id="provincia" disabled="disabled">
                    <option value="" selected hidden>Provincia</option>

                </select>
            </div>
            <br />
            <div class="form-group ">
                <label asp-for="Canton" hidden></label>
                <select asp-for="Canton" class="form-control input-lg" id="canton" disabled="disabled">

                    <option value="" selected hidden>Canton</option>
                </select>
            </div>
            <br />
            <div class="form-group ">
                <label asp-for="Distrito" hidden></label>
                <select asp-for="Distrito " class="form-control input-lg" id="distrito" disabled="disabled">
                    <option value="" selected hidden>Distrito</option>

                </select>
            </div>

            <div class="form-group ">
                <label>Usuario encargado</label>
                <select class="form-control input-lg">
                    <option value="" selected hidden>Selecione</option>
                    @foreach (var item in usuarios)
                    {
                        <option value="@item.Id">@item.Nombre</option>
                    }
                </select>
            </div>
        </div>

        <div class="col-md-8" style="text-align:center;">
            <div class="col-md-8">
                <label style="font-size:1.5rem;">Otras Señas</label>
            </div><br />
            <textarea class="input-lg" style="width:40rem; height:20rem;" asp-for="OtrasSenas" id="otrasSenas">
</textarea>
            <br />
            <br />
            <!-- Material unchecked -->


            <input type="checkbox" id="cliente" name="Cliente" checked="@Model.Cliente" />
            <label class="form-check-label" for="materialUnchecked" style="font-size:2rem;">Cliente</label>



            <input type="checkbox" class="form-check-input" id="proveedor" name="Proveedor" checked="@Model.Proveedor" />
            <label class="form-check-label" for="materialUnchecked" name="Proveedor" style="font-size:2rem;">Proveedor</label>


        </div>






    </div>



    <div class="container mt-3">

        <br>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#home1">Campos personalizados</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#menu2">Relaciones</a>
            </li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div id="home1" class="container tab-pane active">
                <br>

                <div class="col-md-4">
                    <ul id="ul"></ul>
                </div>
            </div>
            <div id="menu2" class="container tab-pane fade">
                <table class="table table-hover">


                    <thead>
                        <tr>
                            <th>Nombre:</th>
                            <th>Tipo Cedula:</th>
                            <th>Cedula:</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Juan</td>
                            <td>Fisica</td>
                            <td>504120984</td>
                        </tr>
                    </tbody>
                </table>
                <div class="btnSubContacto">
                    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar Subcontacto</button>

                </div>
            </div>

        </div>
    </div>


    <div class="form-group">

        <a asp-action="Index">Atras</a>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-4">
                    <input type="text" placeholder="Buscar Contacto" class="form-control" />
                </div>
                <div id="panelContacto">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="btnNewSubcontacto">Agregar Nuevo</button>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
