@model AltivaWebApp.ViewModels.ContactoViewModel
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
        public string GetAntiXsrfRequestToken()
        {
            return Xsrf.GetAndStoreTokens(Context).RequestToken;
        }     
        


}
@{
    string nombre = "";
    long id = Model.IdContacto;
    if (Model.Empresa)
    {
        nombre = Model.NombreComercial + " / " + Model.NombreJuridico;
    }
    else {
        nombre = Model.Nombre + " " + Model.Apellidos;
    }
    DateTime hoy = DateTime.Now;
    DateTime ayer = hoy.AddDays(-1);
    int posTipo = 0;
    int posConcecutivo = 23;
    int posFecha = 24;
    int posMonto = 9;
    int posSaldo = 19;
    ViewData["Title"] = nombre;
 }
<div class="row">
    <h2>@nombre <a class="btn btn-primary" asp-action="EditarContacto" asp-route-id="@id"><span>@Lb["Editar"]</span>&nbsp;<i class="fas fa-edit"></i></a></h2>
</div>
<div class="row">
    <div class="col-lg-3 col-md-3  col-xs-12 well">
        <p><a style="font-weight:bold"> @Lb["Telefono"]</a>: @Model.Telefono.</p>
        <p><a style="font-weight:bold">@Lb["Email"]</a>: @Model.Correo</p>
        @{
            if (Model.WebLink.Length > 20)
            {
                <p><a style="font-weight:bold">@Lb["Web"]</a>: <a href="@Model.WebLink">@Model.WebLink.Substring(0, 20) ...</a></p>
            }
            else
            {
                <p><a style="font-weight:bold">@Lb["Web"]</a>: <a href="@Model.WebLink">@Model.WebLink </a></p>
            }
            if (Model.Cliente)
            {
                <p><a style="font-weight:bold">@Lb["Cliente"] <i class="fas fa-check-circle"></i></a></p>
            }
            if (Model.Proveedor)
            {
                <p><a style="font-weight:bold">@Lb["Provedor"] <i class="fas fa-check-circle"></i></a></p>
            }
        }


        <p><a style="font-weight:bold">@Lb["Cedula"]</a>: @Model.Cedula</p>
        @{
            if (!Model.MapLink.Equals(""))
            {
                <p><a href="@Model.MapLink"><i class="fas fa-map-marked-alt"></i></a></p>
            }

        }
    </div>
    <div class="col-lg-7 col-md-8 col-xs-12 well" style="margin-left: 2em;padding-left: 2em">
        @{
            if (Model.Cliente)
            {
                <div class="row">
                    <div class="col-lg-3"><a class="btn btn-primary" asp-controller="Factura" asp-action="CrearFactura" asp-route-idContacto="@id"><span>@Lb["Factura"]</span>&nbsp;<i class="fas fa-plus"></i></a> </div>
                    <div class="col-lg-3"><a class="btn btn-primary" asp-controller="Nota" asp-action="CrearNota" asp-route-idContacto="@id"><span>@Lb["Movimiento"]</span>&nbsp;<i class="fas fa-plus"></i></a> </div>
                    <div class="col-lg-3"><a class="btn btn-primary" asp-controller="CotizacionProducto" asp-action="CrearCotizacion" asp-route-idContacto="@id"><span>@Lb["Cotización"]</span>&nbsp;<i class="fas fa-plus"></i></a> </div>


                </div>
                }


            }



                            <div class="row">
                                @{ bool hayHoy = false;
                                    foreach (var item in ViewBag.Docs)
                                    {

                                        if (item.ItemArray[posFecha].Date.ToString() == hoy.Date.ToString())
                                        {
                                            hayHoy = true;
                                        }
                                    }
                                    if (hayHoy)
                                    {
                                        <h4>@Lb["Hoy"]</h4>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td width="120">@Lb["Documento"]</td>
                                                    <td width="150">@Lb["Tipo"]</td>
                                                    <td width="120">@Lb["Fecha"]</td>
                                                    <td style="text-align:right">@Lb["Monto"]</td>
                                                    <td style="text-align:right">@Lb["Pendiente"]</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var item in ViewBag.Docs)
                                                    {

                                                        if (item.ItemArray[posFecha].Date.ToString() == hoy.Date.ToString())
                                                        {
                                                            <tr role="row" class="odd">
                                                                <td>@item.ItemArray[posConcecutivo].ToString()</td>
                                                                <td>@item.ItemArray[posTipo].ToString()</td>
                                                                <td>@item.ItemArray[posFecha].Date.ToString("dd/MM/yyyy")</td>
                                                                <td style="text-align:right">@item.ItemArray[posMonto].ToString("#,##0.00")</td>
                                                                <td style="text-align:right">@item.ItemArray[posSaldo].ToString("#,##0.00")</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                }

                                @{ bool hayAyer = false;
                                    foreach (var item in ViewBag.Docs)
                                    {

                                        if (item.ItemArray[posFecha].Date.ToString() == ayer.Date.ToString())
                                        {
                                            hayAyer = true;

                                        }
                                    }
                                    if (hayAyer)
                                    {
                                        <h4>@Lb["Ayer"]</h4>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td width="120">@Lb["Documento"]</td>
                                                    <td width="150">@Lb["Tipo"]</td>
                                                    <td width="120">@Lb["Fecha"]</td>
                                                    <td style="text-align:right">@Lb["Monto"]</td>
                                                    <td style="text-align:right">@Lb["Pendiente"]</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var item in ViewBag.Docs)
                                                    {
                                                        if (item.ItemArray[posFecha].Date.ToString() == ayer.Date.ToString())
                                                        {
                                                            <tr role="row" class="odd">
                                                                <td>@item.ItemArray[posConcecutivo].ToString()</td>
                                                                <td>@item.ItemArray[posTipo].ToString()</td>
                                                                <td>@item.ItemArray[posFecha].Date.ToString("dd/MM/yyyy")</td>
                                                                <td style="text-align:right">@item.ItemArray[posMonto].ToString("#,##0.00")</td>
                                                                <td style="text-align:right">@item.ItemArray[posSaldo].ToString("#,##0.00")</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }
                                }
                                @{ bool hayAntier = false;
                                    foreach (var item in ViewBag.Docs)
                                    {

                                        if (item.ItemArray[posFecha].Date.ToString() == ayer.Date.ToString())
                                        {
                                            hayAntier = true;

                                        }
                                    }
                                    if (hayAntier)
                                    {
                                        <h4>@ayer.AddDays(-1).ToString("ddd dd/MM/yyyy")</h4>
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <td width="120">@Lb["Documento"]</td>
                                                    <td width="150">@Lb["Tipo"]</td>
                                                    <td width="120">@Lb["Fecha"]</td>
                                                    <td style="text-align:right">@Lb["Monto"]</td>
                                                    <td style="text-align:right">@Lb["Saldo"]</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    foreach (var item in ViewBag.Docs)
                                                    {
                                                        if (item.ItemArray[posFecha].Date.ToString() == ayer.AddDays(-1).Date.ToString())
                                                        {
                                                            <tr role="row" class="odd">
                                                                <td>@item.ItemArray[posConcecutivo].ToString()</td>
                                                                <td>@item.ItemArray[posTipo].ToString()</td>
                                                                <td>@item.ItemArray[posFecha].ToString("dd/MM/yyyy")</td>
                                                                <td style="text-align:right">@item.ItemArray[posMonto].ToString("#,##0.00")</td>
                                                                <td style="text-align:right">@item.ItemArray[posSaldo].ToString("#,##0.00")</td>
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            </tbody>
                                        </table>
                                    }

                                }
                                <h4>@Lb["Mas"]</h4>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <td width="120">@Lb["Documento"]</td>
                                            <td width="150">@Lb["Tipo"]</td>
                                            <td width="120">@Lb["Fecha"]</td>
                                            <td style="text-align:right">@Lb["Monto"]</td>
                                            <td style="text-align:right">@Lb["Saldo"]</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in ViewBag.Docs)
                                            {
                                                if (item.ItemArray[posFecha].Date < ayer.AddDays(-1))
                                                {
                                                    <tr role="row" class="odd">
                                                        <td>@item.ItemArray[posConcecutivo].ToString()</td>
                                                        <td>@item.ItemArray[posTipo].ToString()</td>
                                                        <td>@item.ItemArray[posFecha].ToString("dd/MM/yyyy")</td>
                                                        <td style="text-align:right">@item.ItemArray[posMonto].ToString("#,##0.00")</td>
                                                        <td style="text-align:right">@item.ItemArray[posSaldo].ToString("#,##0.00")</td>
                                                    </tr>
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
</div>

