@model AltivaWebApp.GEDomain.TbSePais


@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div>
    <h4>Detalle del País</h4>
    <hr />
    <div class="col-md-5">
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <th class="col-md-4"> <span data-translate="nombreEspañol">Nombre en Español</span></th>
                    <td>      @Html.DisplayFor(model => model.NombreEs)</td>
                </tr>
                <tr>
                    <th> <span data-translate="nombreIngles">Nombre en Ingles</span></th>
                    <td>        @Html.DisplayFor(model => model.NombreEn) </td>
                </tr>
                <tr>
                    <th>  <span data-translate="genEs">Gentilicio en español</span></th>
                    <td>    @Html.DisplayFor(model => model.GentilicioEs)</td>
                </tr>
                <tr>
                    <th><span data-translate="genEn">Gentilicio en ingles</span></th>
                    <td>       @Html.DisplayFor(model => model.GentilicioEn)</td>
                </tr>
                <tr>
                    <th data-translate="iniciales">Iniciales</th>
                    <td>@Html.DisplayFor(model => model.Iniciales)</td>
                </tr>
                <tr>
                    <th data-translate="inactivo">  <span>Inactivo</span> </th>
                    <td> @Html.DisplayFor(model => model.Inactivo) </td>
                </tr>

                <tr>
                    <th data-translate="editar">  <span>Editar</span> </th>
                    <td>   <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-link  " >Editar&nbsp;<i style="font-size:2rem;" class="fas fa-edit"></i></a> </td>
                </tr>
            </tbody>
        </table>

        <a asp-action="Index" class="btn btn-default" data-translate="atras">Atrás</a>
    </div>
</div>



<!-- Modal ingresar -->

