@model IEnumerable<AltivaWebApp.GEDomain.TbSePais>
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IStringLocalizer<SharedResources> Lb
@{ 
    ViewData["Title"] = Lb["PaisesNacionalidades"];
}

<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <h3>@Lb["PaisesNacionalidades"]</h3>
    </div>
    <div class="col-md-7 col-sm-7 col-xs-12" style="margin-left:1rem; padding-top:0.7rem">
        <a asp-action="CrearPais" class=" btn btn-primary "><span> Agregar <i class="fas fa-plus-circle "></i></span></a>
    </div>
</div>

<hr />
@if (ViewBag.estado == 1)
{
    <a class="btn btn-dark" href="@Url.Action("Index", "Pais", new { mensaje = "Inactivo" })"><span>@Lb["VerInactivos"]</span></a>
}
else
{
    <a class="btn btn-dark" href="@Url.Action("Index", "Pais", new { mensaje = "" })"><span>@Lb["VerActivos"]</span></a>
}



<div class="row">
    <div class="table-responsive col-xs-12 col-sm-12 col-md-12">
        <table id="tblPais" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th class="col-md-2">
                        <span>@Lb["Nombre"] @Lb["ES"]</span>
                    </th>
                    <th class="col-md-2">
                        <span>@Lb["Nombre"] @Lb["EN"]</span>
                    </th>
                    <th class="col-md-2">
                        <span>@Lb["Gentilicio"] @Lb["ES"]</span>
                    </th>
                    <th class="col-md-2">
                        <span>@Lb["Gentilicio"] @Lb["EN"]</span>
                    </th>
                    <th>
                        <span>@Lb["Estado"]</span>
                    </th>
                    <th>
                        <span>@Lb["Iniciales"]</span>
                    </th>
                    <th><span class="col-md-1">@Lb["Acción"]</span></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a asp-action="EditarPais" asp-route-id="@item.Id">@item.NombreEs</a>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NombreEn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GentilicioEs)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GentilicioEn)
                        </td>
                        <td>
                            @if (item.Inactivo)
                            {
                                <span>@SharedLocalizer["Inactivo"]</span>
                            }
                            else
                            {
                                <span>@SharedLocalizer["Activo"]</span>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Iniciales)
                        </td>
                        <td>
                            <a asp-action="EditarPais" asp-route-id="@item.Id"><span class="dark" style="font-size:1.5rem"><i class="fas fa-edit"></i></span></a>
                            &nbsp;
                            <a asp-action="Delete" asp-route-id="@item.Id"><span class="dark" style="font-size:1.5rem"><i class="fas fa-trash "></i></span></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function () {


        inicializarTabla();

    });

    function inicializarTabla() {
        $('#tblPais').DataTable({
            "info": false,
            dom: 'Bfrtip',
            language: {
                "decimal": "",
                "emptyTable": "@SharedLocalizer["NoDatos"]",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "@SharedLocalizer["Mostrar"] _MENU_ @SharedLocalizer["Entradas"]",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "<i class='fas fa-search'></i>",
                "zeroRecords": "@SharedLocalizer["sinResultados"]",
                "paginate": {
                    "first": "@SharedLocalizer["Primero"]",
                    "last": "@SharedLocalizer["Último"]",
                    "next": "@SharedLocalizer["Sguiente"]",
                    "previous": "@SharedLocalizer["Anterior"]"
                }
            },
            buttons: [
                {
                  extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel  "></i>',
                    titleAttr: 'Excel',
                    title: getTitulo(),
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }  

                },
                {
                    
                    extend: 'copyHtml5',
                    text: '<i class="fas fa-copy   "></i>',
                    titleAttr: 'Copy',
                    title: getTitulo(),
                    exportOptions: {
                        columns: [0, 1, 2 ,3 ,4 ,5]
                    }
                },

                {
                    extend: 'pdfHtml5',
                    text: '<i class="fas fa-file-pdf   "></i>',
                    titleAttr: 'PDF',
                    title: getTitulo(),
                    exportOptions: {
                        columns: [0, 1, 2, 3, 4, 5]
                    }
                }
            ]
        });
    }

    function getTitulo() {
        if (localStorage.getItem("idioma") === "es")
            return "Países";
        else
            return "Countries";
    }
</script>
<style>
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }
</style>