@model IEnumerable<AltivaWebApp.GEDomain.TbSePais>

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <h3>Países</h3>
        </div>
        <div class="col-md-6" style="margin-left:1rem; padding-top:0.7rem">

            <a asp-action="Create" class=" btn btn-primary "><span> Agregar <i class="fas fa-plus-circle "></i></span></a>
        </div>
    </div>

    <hr />
    @if (ViewBag.estado == 1)
    {
        <a class="btn btn-dark" href="@Url.Action("Index", "Pais", new { mensaje = "Inactivo" })"><span >Ver Inactivos</span></a>
    }
    else
    {
        <a class="btn btn-dark" href="@Url.Action("Index", "Pais", new { mensaje = "" })"><span >Ver Activos</span></a>
    }
    <table id="example" class="display table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th class="col-md-2">
                    <span>Nombre en Español</span>
                </th>
                <th class="col-md-2">
                    <span>Nombre en Inglés</span>
                </th>
                <th class="col-md-2">
                    <span>Gentilicio en español</span>
                </th>
                <th class="col-md-2">
                    <span>Gentilicio en inglés</span>
                </th>
                <th>
                    <span data-translate="estadoI">Inativo</span>
                </th>
                <th>
                    <span data-translate="iniciales">Iniciales</span>
                </th>
                <th><span data-translate="accion" class="col-md-1">Acción</span></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreEs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreEn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GentilicioEs)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GentilicioEn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inactivo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Iniciales)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"><span class="dark"><i class="fas fa-edit"></i></span></a>

                        <a asp-action="Delete" asp-route-id="@item.Id"><span class="dark"><i class="fas fa-trash "></i></span></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>

 
    $('#example').DataTable({
        dom: 'Bfrtip',
        info: false,
        "ordering": false,
         language: {
            "decimal": "",
            "emptyTable": "No hay información",
            
            "infoPostFix": "",
            "thousands": ",",
         
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
             "search": "<a ><i  class='fas fa-search ' ></i></a>",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        buttons: [
            {
                extend: 'copyHtml5',
                text: '<i class="fas fa-copy   " ></i>',
                titleAttr: 'Copy',
                title: 'Países',
                exportOptions: {
                    columns: [0, 1,2, 3, 5]
                }
            },
            {
                extend: 'excelHtml5',
                text: '<i class="fas fa-file-excel  "></i>',
                titleAttr: 'Excel',
                title: 'Países',
                exportOptions: {
                    columns: [0, 1,2, 3,  5]
                }
            },

            {
                extend: 'pdfHtml5',
                text: '<i class="fas fa-file-pdf   "></i>',
                titleAttr: 'PDF',
                title: 'Países',
                exportOptions: {
                    columns: [0, 1,2, 3, 5]
                }
            }
        ]
    });



</script>
