@model AltivaWebApp.ViewModels.DepartamentoViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    var titulo = "";

    @if (Model.Id != 0)
    {

        titulo = @SharedLocalizer["EditarDepartamento"];

    }
    else
    {
        titulo = @SharedLocalizer["Nuevo"] + " " + @SharedLocalizer["Departamento"];
    }

}


<div class="row">
    <h5 class="col-md-11" id="departamentoModallabel">@titulo</h5>
    <div class="col-md-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

</div>


<hr />
<div class="row">
    <div class="col-md-12">
        <form id="frmDepartamento">
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.IdUsuario)
            @Html.HiddenFor(x => x.Fecha)

            <div class="form-group">
                <label asp-for="Descripcion" class="control-label">@SharedLocalizer["Descripción"]:</label>
                <input asp-for="Descripcion" class="form-control" id="txtDescripcionDepa" />
                <span hidden id="descripcionReqValid" class="text-danger">@SharedLocalizer["descripcionValid"]</span>
                <span hidden id="duplicacionValid" class="text-danger">@SharedLocalizer["repetidoValid"]</span>
            </div>
        </form>

        <div class="form-group">
            <button class="btn btn-success" onclick="guardarDepartamento()">@SharedLocalizer["Guardar"] <i class="fas fa-save"></i></button>
            <button class="btn btn-default" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).keypress(function (e) {
        if (e.keyCode === 13) {
            e.preventDefault();
            guardarDepartamento();
        }

    });



    function guardarDepartamento() {
        if ($('#txtDescripcionDepa').val().replace(/ /g, "") != "")
            $.ajax({
                type: "POST",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                dataType: "json",
                url: '@Url.Action("CrearEditarDepartamento")',
                data: $('#frmDepartamento').serialize(),
                success: function (data) {

                    if (data.success) {

                        $('#modalDepartamento').modal('hide');
                        getDepartamentos(data.departamento.id);
                    }
                    else {
                        $('#descripcionReqValid').attr('hidden', true);
                        $('#duplicacionValid').attr('hidden', false);
                    }



                },
                error: function (err, scnd) {
                    cargarAlert('@SharedLocalizer["errorGeneral"]');
                    console.log(err.statusText);
                }
            });
        else {
            $('#descripcionReqValid').attr('hidden', false);
            $('#duplicacionValid').attr('hidden', true);
        }
            

    }
</script>

