@model AltivaWebApp.ViewModels.UsuarioViewModel



<div class="row">
    <div class="col-md-12">

        @foreach (var a in ViewData["avatares"] as IList<string>)
        {             
             <a href="@Url.Action("EditarAvatar", "ManejoUsuarios", new { codigo = Model.codigo, img = a })">
                    <img style="height: 5rem; width:5rem" src="~/avatars/@a" class="img-circle" />
             </a>            
        }

    </div>
</div>
<br />
<div class="row">

    <form asp-controller="ManejoUsuarios" asp-action="EditarUsuario" method="post" enctype="multipart/form-data">
        @Html.HiddenFor(x => x.codigo)

        @Html.HiddenFor(x => x.contrasena)
        @Html.HiddenFor(x => x.correo)
        @Html.HiddenFor(x => x.estado)
        @Html.HiddenFor(x => x.iniciales)
        @Html.HiddenFor(x => x.nombre)
        @Html.HiddenFor(x => x.Id_Usuario)


        <div class="form-group">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend custom-file">
                    <span data-translate="avatar" class="input-group-text" id="inputGroup-sizing-sm">Cargar tu avatar</span>
                </div>
                <input accept=".png, .jpg" type="file" asp-for="Foto" class="form-control custom-file-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
        </div>

        <button data-translate="cancelar" type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancelar</button>
        <button data-translate="guardar" class="btn btn-success btn-sm" type="submit">
            Guardar
        </button>
    </form>
</div>
