@model IList<TbPrInventarioCaracteristica>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<div class="row" style="overflow-y:auto; height:300px">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ul  class="list-group list-group-flush">
            @foreach (var item in Model)
            {
                <li class="list-group-item"><i class="fas fa-check-circle"></i> @item.Caracteristicas <button class="btn btn-link" onclick="eliminarCaracteristica(@item.IdCaracteristicas)"><i class="fas fa-trash"></i></button>  </li>
            }
        </ul>
    </div>
</div>


<script>

    function eliminarCaracteristica(id) {
        //$('#frmComentario').serializeArray()
        var url = "@Url.Action("EliminarCaracteristica", "Inventario", new { id = "__id__" })";
        url = url.replace("__id__", id);

       // var url = '@Url.Action("EliminarCaracteristica")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                success: function (data) {
                    getCaracteristicas();

                },
                error: function (err, scnd) {
                    @*cargarAlert("@SharedLocalizer("errorGeneral")");*@
                    console.log(err.statusText);
                }
            });

    }


</script>
