@model AltivaWebApp.ViewModels.InventarioViewModel

@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{


    if (Model.IdInventario != 0)
    {
        ViewData["Title"] = SharedLocalizer["EditarItem"];
    }
    else
    {
        ViewData["Title"] = SharedLocalizer["NuevoItem"];
    }


    var habilitaVentaDirecta = "";
    var habilitaVentaOnline = "";

    if (ViewBag.accion == "1")
    {
        habilitaVentaDirecta = "Checked";
        habilitaVentaOnline = "Checked";
    }
    else
    {
        if (Model.HabilitarVentaDirecta)
        {
            habilitaVentaDirecta = "Checked";

            if (Model.HabilitarVentaOnline)
            {
                habilitaVentaOnline = "Checked";
            }
            else
            {
                habilitaVentaOnline = "";
            }
        }
        else
        {
            habilitaVentaDirecta = "";
        }
    }

    var bodegas = ViewData["bodegas"] as IList<TbPrBodega>;
}

@if (ViewBag.accion == "1")
{
    <h3>@SharedLocalizer["NuevoItem"]</h3>
}
else
{

    <h3>@SharedLocalizer["EditarItem"]</h3>
}
<hr />
<div class="row">
    <div class="col-md-12 col-sm-12">
        <div class="form-group habilitaEdicionGroup">
            <input type="checkbox" class="form-check-input" id="habilitaEdicion" />
            <label data-translate="habilitaEdicion" class="form-check-label" for="habilitaEdicion">@SharedLocalizer["habilitaEdicion"]</label>
        </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <form id="formInventario">
            @Html.HiddenFor(x => x.IdInventario)
            @Html.HiddenFor(x => x.CostoPromedioGeneral)
            @Html.HiddenFor(x => x.UltimoPrecioCompra)
            @Html.HiddenFor(x => x.ExistenciaGeneral)
            @Html.HiddenFor(x => x.Inactiva)
            @Html.HiddenFor(x => x.IdUsuario)
            <div class="row">
                <div class="form-group col-md-2 col-sm-6 col-xs-12">
                    <label asp-for="CantidadUnidad" class="control-label">@SharedLocalizer["Presentacion"]:</label>
                    <input asp-for="CantidadUnidad" value="@Model.CantidadUnidad.ToString().Replace(',', '.')" class="form-control numerico" />
                    <span id="presentacionValid" hidden class="text-danger">@SharedLocalizer["presentacionValid"].</span>
                </div>
                <div class="form-group col-md-2 col-sm-6 col-xs-12">
                    <label asp-for="IdUnidadMedida" class="control-label">@SharedLocalizer["UnidadMedida"]:</label>
                    <select asp-for="IdUnidadMedida" class="form-control">
                        @{
                            foreach (var item in ViewData["unidades"] as IList<TbPrUnidadMedida>)
                            {
                                <option value="@item.Id">@item.Nombre</option>
                            }
                        }
                    </select>
                </div>

                <!--familia-->



                <div class="form-group col-md-3 col-sm-4 col-xs-4">
                    <label class="control-label">@SharedLocalizer["familia"]:</label>
                    <select id="familias" class="form-control search-key"></select>
                </div>
                <div class="form-group col-md-1 col-sm-2 col-xs-2">
                    <br />
                    <a style="padding:0; margin:0rem; margin-top:1rem; margin-right:0.5rem" class="btn btn-link crearEditarFamilia" id="crearFamilia">
                        <span><i style="font-size: 2rem" class="fas fa-plus-circle"></i></span>
                    </a>
                    <a style="padding:0; margin:0; margin-top:1rem" class="btn btn-link crearEditarFamilia" id="editarFamilia">
                        <span><i style="font-size: 2rem" class="fas fa-edit"></i></span>
                    </a>
                </div>



                <div class="form-group col-md-3 col-sm-4 col-xs-4">
                    <label class="control-label">@SharedLocalizer["subFamilias"]:</label>
                    <select asp-for="IdSubFamilia" id="subFamilias" class="form-control search-key"></select>
                </div>
                <div class="form-group col-md-1 col-sm-2 col-xs-2">
                    <br />
                    <a class="btn btn-link crearEditarSubFamilia" id="editarSubFamilia">
                        <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
                    </a>
                </div>


            </div>
            <div class="row">
                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label asp-for="Codigo" class="control-label">@SharedLocalizer["Codigo"]:</label>
                    <input asp-for="Codigo" class="form-control" />
                    <span hidden id="codigoValid" class="text-danger">@SharedLocalizer["codigoValid"]</span>
                    <span hidden id="existeCodigoValid" class="text-danger">@SharedLocalizer["repetidoValid"]</span>
                </div>

                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label asp-for="ImpuestoVenta" class="control-label">@SharedLocalizer["Impuesto"] %</label>
                    <input id="impVenta" asp-for="ImpuestoVenta" class="form-control porc inputPorcentaje" />
                </div>

                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label class="control-label">@SharedLocalizer["CostoPromedio"]:</label>
                    <input style="text-align:right" readonly value="@Model.CostoPromedioGeneral.ToString("N").Replace(',', '.')" class="form-control money" />
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-6 col-sm-12 col-xs-12">
                    <label asp-for="Descripcion" class="control-label">@SharedLocalizer["Descripción"]:</label>
                    <input id="txtDescripcion" maxlength="150" asp-for="Descripcion" class="form-control" />
                    <span id="descripcionValid" class="text-danger" hidden>@SharedLocalizer["descripcionValid"]</span>
                </div>

                <div class="form-group col-md-2" col-sm-12>
                    <label asp-for="CodigoMoneda" class="control-label">@SharedLocalizer["Moneda"]:</label>
                    <select asp-for="CodigoMoneda" id="moneda" class="form-control search-key">
                        @{
                            foreach (var item in ViewData["moneda"] as IList<TbSeMoneda>)
                            {
                                <option value="@item.Codigo">@item.Nombre</option>
                            }

                        }

                    </select>
                </div>

                <div class="form-group col-md-4 col-sm-6 col-xs-12">
                    <label class="control-label">@SharedLocalizer["Último"] @SharedLocalizer["Costo"]:</label>
                    <input style="text-align:right" readonly value="@Model.UltimoPrecioCompra.ToString().Replace(',', '.')" class="form-control money" />
                </div>

            </div>
            <div class="row">
                <div class="form-group col-md-8 col-sm-12 col-xs-12">
                    <label asp-for="Notas" class="control-label">@SharedLocalizer["nota"]:</label>
                    <textarea maxlength="500" rows="5" asp-for="Notas" class="form-control"></textarea>
                </div>
                <div class="form-group col-md-4 col-sm-6">
                    <label class="control-label">@SharedLocalizer["FactorAprovechamiento"] %</label>
                    <input asp-for="FactorAprovechamiento" value="@Model.FactorAprovechamiento.ToString().Replace(',', '.')" class="form-control numerico" />
                </div>
            </div>
            <div class="row">

                <br />

                <div class="form-group col-md-12">
                    <input type="checkbox" class="form-check-input" id="habilitaVenta" asp-for="HabilitarVentaDirecta" />
                    <label class="form-check-label" for="habilitaVenta">@SharedLocalizer["Habilitar"] @SharedLocalizer["VentaDirecta"]</label>
                </div>
            </div>


            <!--///////////////////////////venta directa form///////////////////////////////-->

            <div class="well collapse ventaDirectaForm">

                <div class="row">
                    <div class="form-group col-md-offset-2 col-md-2 col-md-4 col-xs-4">
                        <label class="control-label">@SharedLocalizer["UtilidadDeseada"] %</label>
                    </div>
                    <div class="form-group col-md-2 col-md-4 col-xs-4">
                        <label class="control-label">@SharedLocalizer["Precio"] @SharedLocalizer["SinImpuesto"]:</label>
                    </div>
                    <div class="form-group col-md-2 col-md-4 col-xs-4">
                        <label asp-for="PrecioVentaFinal" class="control-label">@SharedLocalizer["PrecioVentaFinal"]:</label>
                    </div>
                </div>

                <div class="row ">

                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <label>@SharedLocalizer["Precio"] @SharedLocalizer["Contado"]:</label>
                    </div>
                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                        <input id="utilidadDeseada" asp-for="UtilidadDeseada" value="@Model.UtilidadDeseada.ToString().Replace(',', '.')" class="form-control numerico" />
                    </div>
                    <div class="form-group col-md-2 col-sm-4 col-xs-4 ">
                        <input id="precioVenta" asp-for="PrecioVenta" value="@Model.PrecioVenta.ToString().Replace(',', '.')" class="form-control inputVentaDirecta " />
                    </div>
                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                        <input id="precioVentaFinal" asp-for="PrecioVentaFinal" value="@Model.PrecioVentaFinal.ToString().Replace(',', '.')" class="form-control inputVentaDirecta" />
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <label>@SharedLocalizer["PrecioCredito"]:</label>
                    </div>
                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                        <input id="utilidadCredito" asp-for="UtilidadCredito" value="@Model.UtilidadCredito.ToString().Replace(',', '.')" class="form-control numerico  inputPorcentaje" />
                    </div>

                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                        <input id="precioCredito" asp-for="PrecioCredito" value="@Model.PrecioCredito.ToString().Replace(',', '.')" class="form-control inputVentaDirecta" />
                    </div>
                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                        <input id="precioCreditoFinal" asp-for="PrecioCreditoFinal" value="@Model.PrecioCreditoFinal.ToString().Replace(',', '.')" class="form-control inputVentaDirecta" />
                    </div>

                </div>
                <br />
                <div class="row">

                    <div class="col-md-2 col-sm-12 col-xs-12">
                        <label>@SharedLocalizer["PrecioTemporal"]:</label>
                    </div>
                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                        <input id="utilidadTemporal" asp-for="UtilidadTemporal" value="@Model.UtilidadTemporal.ToString().Replace(',', '.')" class="form-control numerico inputPorcentaje" />
                    </div>
                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                        <input id="precioTemporal" asp-for="PrecioTemporal" value="@Model.PrecioTemporal.ToString().Replace(',', '.')" class="form-control inputVentaDirecta" />
                    </div>
                    <div class="form-group col-md-2 col-sm-4 col-xs-4">
                        <input id="precioTemporalFinal" asp-for="PrecioTemporalFinal" value="@Model.PrecioTemporalFinal.ToString().Replace(',', '.')" class="form-control inputVentaDirecta" />
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-6 col-sm-12 col-xs-12">
                        <label asp-for="DescripcionVenta" class="control-label">@SharedLocalizer["DescripcionVenta"]:</label>
                        <input id="txtDescripcionVenta" asp-for="DescripcionVenta" class="form-control" />
                        <span hidden id="descripcionVentaValid" class="text-danger">@SharedLocalizer["descripcionValid"]</span>
                    </div>
                    <div class="form-group col-md-2 col-sm-6">
                        <label class="control-label">@SharedLocalizer["Moneda"]:</label>
                        <select asp-for="CodigoMonedaVenta" id="monedaVenta" class="form-control search-key">
                            @{
                                foreach (var item in ViewData["moneda"] as IList<TbSeMoneda>)
                                {
                                    <option value="@item.Codigo">@item.Nombre</option>
                                }

                            }

                        </select>
                    </div>
                </div>


                <br />
                <div class="form-group col-md-12 col-sm-12">
                    <input type="checkbox" class="form-check-input" id="habilitaVentaOnline" asp-for="HabilitarVentaOnline" />
                    <label class="form-check-label" for="habilitaVentaOnline">@SharedLocalizer["HabilitarVentaOnline"] </label>
                </div>
                <br />

                <!--Habilitar Venta online-->
                <hr />
                <div class="row collapse ventaOnlineForm">

                    <!--Familias online-->
                    <div class="col-md-5 col-sm-5 col-xs-9">
                        <label class="control-label">@SharedLocalizer["familia"]:</label>
                        <select id="familiasOnline" class="form-control search-key"></select>
                    </div>
                    <div class="form-group col-md-1 col-sm-1 col-xs-3">
                        <br />
                        <a style="padding:0; margin:0rem; margin-top:1rem; margin-right:0.5rem" class="btn btn-link crearEditarFamiliaOnline" id="crearFamiliaOnline">
                            <span><i style="font-size: 2rem" class="fas fa-plus-circle"></i></span>
                        </a>
                        <a style="padding:0; margin:0; margin-top:1rem" class="btn btn-link crearEditarFamiliaOnline" id="editarFamiliaOnline">
                            <span><i style="font-size: 2rem" class="fas fa-edit"></i></span>
                        </a>
                    </div>
                    <!--Fin familia online-->
                    <!--SubFamiliaOnline-->

                    <div class="col-md-5 col-sm-5 col-xs-10">
                        <label data-translate="subFamilia" class="control-label">@SharedLocalizer["subFamilias"]:</label>
                        <select asp-for="IdFamiliaOnline" id="subFamiliasOnline" class="form-control search-key"></select>
                    </div>
                    <div class="col-md-1 col-sm-1 col-xs-1">
                        <br />
                        <a class="btn btn-link crearEditarSubFamiliaOnline" id="editarSubFamiliaOnline">
                            <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
                        </a>
                    </div>



                    <!--Fin SubFamiliaOnline-->


                    <br />
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label asp-for="NombreCarrito" class="control-label">@SharedLocalizer["NombreCarritoCompras"]:</label>
                        <input id="txtNombreCarrito" asp-for="NombreCarrito" class="form-control" />
                        <span hidden id="nombreCarritoValid" class="text-danger">@SharedLocalizer["nombreRequired"]</span>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label asp-for="AbreviacionFactura" class="control-label">@SharedLocalizer["AbreviacionFactura"]:</label>
                        <input id="txtAbreviacionFactura" asp-for="AbreviacionFactura" class="form-control" />
                        <span hidden id="abreviacionFacturaValid" class="text-danger">@SharedLocalizer["abreviacionValid"]</span>
                    </div>

                    <div class="form-group col-md-3 col-sm-3 col-xs-12">
                        <label class="control-label">@SharedLocalizer["Moneda"]:</label>
                        <select asp-for="CodigoMonedaOnline" id="monedaVentaOnline" class="form-control search-key">
                            @{
                                foreach (var item in ViewData["moneda"] as IList<TbSeMoneda>)
                                {
                                    <option value="@item.Codigo">@item.Nombre</option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group col-md-3 col-sm-6 col-xs-12">
                        <label asp-for="PrecioVentaOnline" class="control-label">@SharedLocalizer["PrecioVentaOnline"]:</label>
                        <input id="precioVentaOnline" asp-for="PrecioVentaOnline" value="@Model.PrecioVentaOnline.ToString().Replace(',', '.')" class="form-control inputVentaDirecta" />
                        <span hidden id="precioVentaOnlineValid" class="text-danger">@SharedLocalizer["precioVentaOnlineValid"]</span>
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label asp-for="SkuOnline" class="control-label">@SharedLocalizer["SKU"]:</label>
                        <input id="txtSkuOnline" asp-for="SkuOnline" class="form-control" />
                        <span hidden id="skuOnline" class="text-danger">@SharedLocalizer["skuValid"]</span>
                    </div>
                </div>

                <!--Tabs de fotos y caracteristicas-->
                @if (Model.IdInventario != 0)
                {
                    <div class="row">
                        <div class="container mt-3" id="tabs">

                            <br>
                            <!-- Nav tabs -->

                            <ul class="nav nav-tabs " id="tabs">
                                <li class="nav-item active">
                                    <a class="nav-link" data-toggle="tab" href="#fotosOnline">@SharedLocalizer["Fotos"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-toggle="tab" href="#caracteristicasOnline">@SharedLocalizer["Caracteristicas"]</a>
                                </li>

                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div id="fotosOnline" class="container tab-pane active">

                                    <br />

                                    <button id="nuevaImagen" class="btn btn-success btn-sm" type="button" onclick="modalImagenes()"> @SharedLocalizer["CargarImagen"]</button>

                                    <br />

                                    <div id="partialImagenes">

                                    </div>


                                </div>


                                <div id="caracteristicasOnline" class="container tab-pane">

                                    <br />

                                    <button id="nuevaCaracteristica" class="btn btn-success btn-sm" type="button" onclick="modalCaracteristica()"> @SharedLocalizer["Agregar"] @SharedLocalizer["Caracteristicas"]</button>

                                    <br />

                                    <div id="partialCaracteristicas">

                                    </div>

                                </div>

                            </div>


                            <br />


                        </div>
                    </div>
                }
                <!--Fin de tabs fotos y caracteristicas-->

            </div>

        </form>

    </div>


    
</div>

<!--///////////////////////////fin venta directa fomr///////////////////////////////-->



<div class="container mt-3" id="tabs">

    <br>
    <!-- Nav tabs -->

    <ul class="nav nav-tabs " id="tabs">
        <li class="nav-item active">
            <a class="nav-link" data-translate="bodegas" data-toggle="tab" href="#bodegas">@SharedLocalizer["Bodegas"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#inventarioEquivalencias">@SharedLocalizer["Equivalencias"]</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" data-translate="comentarios" href="#inventarioComentarios">@SharedLocalizer["Comentarios"]</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">

        <input hidden readonly class="monedaFormatter" id="formatterMoneda" />

        <div id="bodegas" class="container tab-pane active">

            <div class="row">
                <div class="col-md-12 table-responsive">
                    <span hidden id="itemSinBodega" class="text-danger">@SharedLocalizer["bodegaSinItemValid"].</span>
                    <table class="table table-bordered" id="tblBodegas" style="min-width:900px">
                        <thead>
                            <tr>
                                <th style="width:20%">
                                    <span>@SharedLocalizer["Bodega"]</span>
                                </th>
                                <th style="width:10%">
                                    <span>@SharedLocalizer["Minima"]</span>
                                </th>
                                <th style="width:10%">
                                    <span>@SharedLocalizer["Media"]</span>
                                </th>
                                <th style="width:10%">
                                    <span>@SharedLocalizer["Maxima"]</span>
                                </th>
                                <th style="width:10%">
                                    <span>@SharedLocalizer["Actual"]</span>
                                </th>
                                <th style="width:10%">
                                    <span>@SharedLocalizer["CostoPromedio"]</span>
                                </th>
                                <th style="width:20%">
                                    <span>@SharedLocalizer["Saldo"]</span>
                                </th>
                                <th style="width:10%"><span>@SharedLocalizer["Acción"]</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="bodegaInventarioForm">
                                <td>
                                    <select class="form-control" id="bodega">
                                        @{
                                            foreach (var item in ViewData["bodegas"] as IList<TbPrBodega>)
                                            {
                                                <option value="@item.Id">@item.Nombre</option>
                                            }

                                        }

                                    </select>
                                </td>
                                <td><input class="form-control numerico" id="minima" /></td>
                                <td><input class="form-control numerico" id="media" /></td>
                                <td><input class="form-control numerico" id="maxima" /></td>
                                <td><input class="form-control" readonly id="actual" /></td>
                                <td><input class="form-control" readonly id="costoPromedio" /></td>
                                <td><input class="form-control" readonly id="saldo" /></td>
                                <td><button class="btn btn-link" id="agregarBodega"><i class="fas fa-save"></i></button></td>
                            </tr>


                        </tbody>
                    </table>
                </div>

            </div>



        </div>

        <div id="inventarioComentarios" class="container tab-pane">
            <br>

            <div class="col-md-12">
                <div id="comentarios">

                </div>
            </div>
        </div>
        <div id="ventaOnline" class="container tab-pane"></div>

        <div id="inventarioEquivalencias" class="container tab-pane">
            <br>
            <div class="col-md-12 table-responsive" id="equivalencias">

            </div>

        </div>

    </div>
</div>

<br />
<div class="row">
    <div class="form-group col-md-12">
        <button id="btnGuardar" class="btn btn-success"><span>@SharedLocalizer["Guardar"]</span> <span><i class="fas fa-save"></i></span></button>
        <a class="btn btn-default" id="btnCancelar" data-translate="cancelar">@SharedLocalizer["Cancelar"]</a>
    </div>
</div>




<div>
    <!-- Modal -->
    <div class="modal fade" id="modalFamilia" tabindex="-1" role="dialog" aria-labelledby="familiaModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="crearEditarPartial">

                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <!-- Modal -->
    <div class="modal fade" id="modalFamiliaOnline" tabindex="-1" role="dialog" aria-labelledby="familiaOnlineModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="crearEditarPartialOnline">

                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <!-- Modal Editar -->
    <div class="modal fade" id="modalEditarBodega" aria-labelledby="bodegaIventarioLabel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="col-md-6"> <h5 data-translate="EditIBodega" class="modal-title" id="bodegaIventarioLabel">@SharedLocalizer["EditIBodega"]</h5></div>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="editarBodega">

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Modal Imagenes-->
    <div class="modal fade" id="modalImagenesOnline" tabindex="-1" role="dialog" aria-labelledby="imagenesModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="row modal-header">
                    <div class="col-md-6"><h5 data-translate="nuevaImagen" class="modal-title" id="imagnesModallabel">@SharedLocalizer["Imágenes"]</h5></div>
                    <div class="col-md-6">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body">
                    <form id="frmImagenesOline" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3">
                                <div class="input-group-prepend custom-file">
                                    <span class="input-group-text" id="inputGroup-sizing-sm">@SharedLocalizer["CargarImagen"]:</span>
                                </div>
                                <input id="fileUploadOnline" type="file" multiple="multiple" name="files" accept="image/*"  class="jfilestyle" data-theme="blue" data-text="@SharedLocalizer["Examinar"]">
                                <span hidden id="tamanoArchivoOnline" class="text-danger">@SharedLocalizer["tamanoArchivo"]</span>
                                <span hidden id="tipoArchivoOnline" class="text-danger">@SharedLocalizer["tipoArchivo"].</span>
                                <span hidden id="imgValid" class="text-danger">@SharedLocalizer["imagenRequerida"]</span>
                                <span hidden id="cantidadArchivoOnline" class="text-danger">@SharedLocalizer["cantidadArchivosValid"].</span>
                            </div>
                        </div>
                    </form>
                    <button onclick="guardarImagen()" id="guardarFoto" class="btn btn-success btn-sm" type="submit">
                        <span>@SharedLocalizer["Guardar"]</span><span> <i class="fas fa-save"></i></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal Caracteriscas -->
<div class="modal fade" id="modalCaracteristicas" tabindex="-1" role="dialog" aria-labelledby="caracterisitcasModallabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row modal-header">
                <div class="col-md-6"><h5 class="modal-title" id="caracteristicasModallabel">@SharedLocalizer["Caracteristicas"]</h5></div>
                <div class="col-md-6">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
            <div class="row modal-body">

                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <label data-translate="caracteristicasOnline" class="control-label">@SharedLocalizer["Descripción"]:</label>
                    <textarea maxlength="500" rows="4" id="txtCaracteriscas" class="form-control"></textarea>
                    <span hidden id="caractericaRepetida"  class="text-danger">@SharedLocalizer["repetidoValid"]</span>
                    <span hidden id="caracteristicasValid" class="text-danger">@SharedLocalizer["descripcionValid"]</span>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12"></div>
                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                    <button id="guardarCaracteristicas" onclick="guardarCaracteristica()" class="btn btn-sm btn-success">
                        <span>@SharedLocalizer["Guardar"]</span><span> <i class="fas fa-save"></i></span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<input type="hidden" id="anulado" value="false" />

<script src="~/js/comentario.js"></script>

<script>
     var $anulado = $('#anulado');
    var contadorFila = 0;
    var inventarioBodega = [];
    var inventarioBodegaNuevas = [];

    $(document).ready(function () {
        if (@Model.IdInventario != 0) {

            GetComentarios("Inventario", @Model.IdInventario);

            $('#impVenta').val("@Model.ImpuestoVenta.ToString().Replace(',', '.')");
        }

        $(".inputVentaDirecta").inputmask({
            'alias': 'decimal',
            rightAlign: true,
            digits: 2
        });

        $(".money").inputmask('currency', {
            prefix: '',
            rightAlign: true,
            min: 0
        });

        $(".numerico").inputmask({
            'alias': 'decimal',
            rightAlign: false,
        });

        $(".monedaFormatter").inputmask('currency', {
            prefix: " ",
            rightAlign: true
        });


        $(".porc").inputmask({
            'alias': 'percentage',
            rightAlign: false,
        });


        if ($('#habilitaVenta').prop('checked')){
            $('.ventaDirectaForm').collapse('toggle');
        }

        if ($('#habilitaVentaOnline').prop('checked')) {
            $('.ventaOnlineForm').collapse('toggle');
        }

        var familias = [];
        var subFamilia = [];
        var familiasOnline = [];
        var subFamiliaOnline = [];

        getFamilias(null, null);
        getFamiliasOnline(null, null);
        cambiarValor();

        if (@Model.IdInventario != 0) {
            getBodegas();
            getEquivalencias();
            getImagenes();
            getCaracteristicas();
        }
        else
            $('.habilitaEdicionGroup').attr('hidden', true);

        $('#modalCaracteristicas').on('hidden.bs.modal', function (e) {
            $('#txtCaracteriscas').val('');
        });


        $('#familias').change(function () {

            setSubFamilia($(this).val(), 0);

        });

        $('#familiasOnline').change(function () {

            setSubFamiliaOnline($(this).val(), 0);

        });

        $('#btnCancelar').click(function () {
            bootbox.confirm("@SharedLocalizer["confirmCancelar"]", function (result) { if (result) window.location.href = "@Url.Action("ListarInventario")"; });
        });

        $('#habilitaVenta').change(function () {

            $('.ventaDirectaForm').collapse('toggle');

            if (!$('#habilitaVenta').prop('checked')) {
                $('.inputVentaDirecta').val(0);
                $('#txtDescripcionVenta').val("");
            }
            else
                $('#txtDescripcionVenta').val("Ninguna");

        });

         $('#habilitaVentaOnline').change(function () {

            $('.ventaOnlineForm').collapse('toggle');

             if (!$('#habilitaVentaOnline').prop('checked')) {
                 $('.inputVentaOnline').val(0);
                 //$('#txtNombreCarrito').val("");
             }
             //else
        });

        $('#IdUnidadMedida').change(function () {
            $('#unidadesInput').val($(this).val());
        });

        $('#agregarBodega').click(function () {

            var flag = false;

            var bodega = parseInt($('#bodega option:selected').val());

            for (var i = 0; i < inventarioBodega.length; i++) {
                if (bodega === inventarioBodega[i].idBodega) {
                    cargarAlert("@SharedLocalizer["repetidoValid"]");
                    flag = true;
                }
            }
            if (!flag) {


                var model = {
                    id: 0,
                    idBodegaNavigation: { nombre: $('#bodega option:selected').html() },
                    idBodega: parseInt($('#bodega').val()),
                    existenciaMinima: parseFloat($('#minima').val()),
                    existenciaMedia: parseFloat($('#media').val()),
                    existenciaMaxima: parseFloat($('#maxima').val()),
                    existenciaBodega: $('#actual').val(),
                    costoPromedioBodega: parseFloat($('#costoPromedio').val()),
                    saldoBodega: 0,//$('#saldo').val(),
                    idInventario: 0,
                    costoPromedioBodega: 0
                };

                var flag2 = true;

                if (model.existenciaMinima > 0 && model.existenciaMedia > 0 && model.existenciaMaxima > 0) {

                    if (model.existenciaMinima >= model.existenciaMedia) {
                        cargarAlert('@SharedLocalizer["minimaValid"]');
                        flag2 = false;
                    }

                    else if (model.existenciaMedia >= model.existenciaMaxima) {
                        cargarAlert('@SharedLocalizer["mediaValid"]');
                        flag2 = false;
                    }

                    if (flag2) {
                        inventarioBodegaNuevas.push(model);
                        inventarioBodega.push(model);
                        cargarDatos(inventarioBodega);
                        $('#itemSinBodega').attr('hidden', true);
                        $('#minima').val(0);
                        $('#media').val(0);
                        $('#maxima').val(0);
                    }
                }
                else {
                    cargarAlert("@SharedLocalizer["existenciasValid"]");
                }
            }
        });



        $('#btnGuardar').click(function () {

            var model = $('#formInventario').serializeArray();



            for (var i = 0; i < model.length; i++) {
                if (model[i].name === "ImpuestoVenta" || model[i].name === "CantidadUnidad" || model[i].name === "FactorAprovechamiento" || model[i].name === "UtilidadDeseada" || model[i].name === "PrecioVenta"
                    || model[i].name === "PrecioVentaFinal" || model[i].name === "UtilidadCredito" || model[i].name === "PrecioCredito" || model[i].name === "PrecioCreditoFinal" || model[i].name === "UtilidadTemporal"
                    || model[i].name === "PrecioTemporal" || model[i].name === "PrecioTemporalFinal" || model[i].name === "PrecioVentaOnline"
                )
                {
                    model[i].value = model[i].value.replace("%", "");
                    model[i].value = model[i].value.replace(".", ",");
                }
            }

            var url = '@Url.Action("CrearEditarInventario", "Inventario", new { id = Model.IdInventario })';

            if (!formIsValid())
                return;
    
            $.ajax({
                        type: "post",
                        headers: {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                        url: url,
                        data: model,
                         success: function (data) {

                             if (data.id != 0) {
                                 if (inventarioBodega.length != 0) {
                                     guardarRelacionIB(data.id, data.codigo);
                                 }

                                 window.location.href = '@Url.Action("ListarInventario", "Inventario", new { cod = "__cod__" })'.replace("__cod__", data.codigo);

                             }
                             else {
                                 $('#existeCodigoValid').attr('hidden', false);
                             }

                        },
                         error: function (err, scnd) {
                            cargarAlert("@SharedLocalizer["errorGeneral"]")
                            console.log(err.statusText);
                        }
                    });
                     

        });




        $('#editarFamilia').click(function () {

            var url = '@Url.Action("EditarFamilia", "Familia", new { id = "__id__" })'.replace("__id__", $('#familias').val() );//'../FamiliasOnline/Editar-Familia/' + $('#familiasOnline').val();
            crearEditarFamilia(url);
        });

        $('#crearFamilia').click(function () {

            var url = "@Url.Action("CrearFamilia", "Familia")";//'../FamiliasOnline/Crear-Familia/';
            crearEditarFamilia(url);
        });

        $('#editarSubFamilia').click(function () {

            var url = '@Url.Action("EditarFamilia", "Familia", new { id = "__id__" })'.replace("__id__", $('#subFamilias').val());
            crearEditarFamilia(url);
        });

        $('#crearSubFamilia').click(function () {

            var url = "@Url.Action("CrearFamilia", "Familia")";
            crearEditarFamilia(url);

        });



        $('#editarFamiliaOnline').click(function () {

            var url = '@Url.Action("EditarFamilia", "FamiliaVentaOnline", new { id = "__id__" })'.replace("__id__", $('#familiasOnline').val() );//'../FamiliasOnline/Editar-Familia/' + $('#familiasOnline').val();
            crearEditarFamiliaOnline(url);
        });

        $('#crearFamiliaOnline').click(function () {

            var url = "@Url.Action("CrearFamilia", "FamiliaVentaOnline")";//'../FamiliasOnline/Crear-Familia/';
            crearEditarFamiliaOnline(url);
        });

        $('#editarSubFamiliaOnline').click(function () {

            var url = '@Url.Action("EditarFamilia", "FamiliaVentaOnline", new { id = "__id__" })'.replace("__id__", $('#subFamiliasOnline').val() ); ;//'../FamiliasOnline/Editar-Familia/' + $('#subFamiliasOnline').val();
            crearEditarFamiliaOnline(url);
        });

        $('#crearSubFamiliaOnline').click(function () {

            var url = "@Url.Action("CrearFamilia", "FamiliaVentaOnline")"; //'../FamiliasOnline/Crear-Familia/';
            crearEditarFamiliaOnline(url);
        });






    }); // FIn del Document ready


    $('#fileUploadOnline').bind('change', function () {

        var flag = true;
        var e = 0;
        for (var i = 0; i < this.files.length; i++) {

            e = + this.files[i].size;
            if (!(/\.(jpg|png|gif)$/i).test(this.files[i].name)) {
                $('#tipoArchivoOnline').attr('hidden', false);
                $(this).val('');
                flag = false;
            }

        }

        if (e > 30000000) {
            $('#tamanoArchivoOnline').attr('hidden', false);
            $(this).val('');
            flag = false;
        }
        else
            $('#tamanoArchivoOnline').attr('hidden', true);



        if (this.files.length > 5) {
            $('#cantidadArchivoOnline').attr('hidden', false);
            $(this).val('');
            flag = false;
        } else
            $('#cantidadArchivoOnline').attr('hidden', true);

        if (flag) {
            $('#tipoArchivoOnline').attr('hidden', true);
            $('#guardarFoto').focus();
        }

    });



    function guardarImagen() {

        if ($('#fileUploadOnline').val() == "") {
            $('#imgValid').prop('hidden', false);
            return;
        }
        else
            $('#imgValid').prop('hidden', true);




        var formData = new FormData();
        var file = [];
        var files = $('#fileUploadOnline')[0].files;

        for (var i = 0; i < files.length; i++) {
            formData.append("files", files[i]);
        }


        $.ajax({
            type: "post",
            url: '@Url.Action("CargarImagenesInventario", "Inventario", new{ id = Model.IdInventario })',
            dataType: 'json',
            contentType: false,
            processData: false,
            data: formData,
            success: function (data) {
                getImagenes();

                $('#modalImagenesOnline').modal('hide');
            },
            error: function (err) {
                console.log(err.success);
            }
        });

    }

    function modalImagenes() {

        $('#fileUploadOnline').val('');
        $('#tamanoArchivo').prop('hidden', true);
        $('#imgValid').prop('hidden', true);
        $('#cantidadArchivoOnline').attr('hidden', true);
        $('#tipoArchivoOnline').attr('hidden', true);

        $('#modalImagenesOnline').modal('show');
    }


    function crearEditarFamilia (url) {

            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                success: function (data) {

                    $('#crearEditarPartial').html(data);
                    $('#modalFamilia').modal('show');
                },
                error: function (err, scnd) {
                    cargarAlert("@SharedLocalizer["errorGeneral"]");
                    console.log(err.statusText);
                }
            });
    }

    function crearEditarFamiliaOnline (url) {

            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                success: function (data) {

                    $('#crearEditarPartialOnline').html(data);
                    $('#modalFamiliaOnline').modal('show');
                },
                error: function (err, scnd) {
                    cargarAlert("@SharedLocalizer["errorGeneral"]");
                    console.log(err.statusText);
                }
            });
    }

    function getFamilias(_idP, _idH) {

            var url = '@Url.Action("GetFamilia", "Inventario")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                success: function (data) {

                    familias = data;
                    var idP = 0;
                    var idH = @Model.IdSubFamilia

                    if (_idH !== null)
                        idH = _idH;

                    $("#familias option").remove();

                    for (var i = 0; i < data.length; i++) {
                        var o = new Option(data[i].descripcion, data[i].id);

                       // if (idH !== 0)
                            for (var j = 0; j < data[i].inverseIdFamiliaNavigation.length; j++) {
                                if (data[i].inverseIdFamiliaNavigation[j].id === idH)
                                    $(o).attr('selected', true);
                            }
                        //else
                        //    $(o).attr('selected', true);
                        $("#familias").append(o);
                    }

                    idP = $("#familias").val();

                    if (_idP !== null) {
                        idP = _idP;

                    }
                    $("#familias").val(idP);

                    setSubFamilia(idP, idH);
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                    cargarAlert("@SharedLocalizer["errorGeneral"]");
                }
            });
        }

    function getFamiliasOnline(_idP, _idH) {

            var url = '@Url.Action("GetFamiliaOnline", "Inventario")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                success: function (data) {

                    familiasOnline = data;
                    var idP = 0;
                    var idH = @Model.IdFamiliaOnline

                    if (_idH !== null)
                        idH = _idH;

                    $("#familiasOnline option").remove();

                    for (var i = 0; i < data.length; i++) {
                        var o = new Option(data[i].descripcion, data[i].id);

                       // if (idH !== 0)
                            for (var j = 0; j < data[i].inverseIdFamiliaNavigation.length; j++) {
                                if (data[i].inverseIdFamiliaNavigation[j].id === idH)
                                    $(o).attr('selected', true);
                            }
                        //else
                        //    $(o).attr('selected', true);
                        $("#familiasOnline").append(o);
                    }

                    idP = $("#familiasOnline").val();

                    if (_idP !== null) {
                        idP = _idP;

                    }
                    $("#familiasOnline").val(idP);

                    setSubFamiliaOnline(idP, idH);

                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                    cargarAlert("@SharedLocalizer["errorGeneral"]");
                }
            });
        }

        function getBodegas() {

            var url = '@Url.Action("GetBodegas", "Inventario")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: {id: @Model.IdInventario},
                success: function (data) {

                    //inventarioBodegaOriginal = JSON.parse(JSON.stringify(data));
                    inventarioBodega = JSON.parse(JSON.stringify(data));
                    cargarDatos(data);
                },
                error: function (err, scnd) {
                    cargarAlert("@SharedLocalizer["errorGeneral"]");
                    console.log(err.statusText);
                }
            });
        }

        function getEquivalencias() {

            var url = '@Url.Action("_ListarEquivalencias", "Inventario")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: {id: @Model.IdInventario},
                success: function (data) {
                    $('#equivalencias').html(data);
                },
                error: function (err, scnd) {
                    cargarAlert('@SharedLocalizer["errorGeneral"]');
                    console.log(err.statusText);
                }
            });
        }

        function getImagenes() {

            var url = '@Url.Action("_ListarImagenes", "Inventario")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: {id: @Model.IdInventario},
                success: function (data) {
                    $('#partialImagenes').html(data);
                },
                error: function (err, scnd) {
                    cargarAlert('@SharedLocalizer["errorGeneral"]');
                    console.log(err.statusText);
                }
            });
        }



        function guardarRelacionIB(id, cod) {

            var url = "@Url.Action("CrearInventarioBodega", "Inventario", new { id = "__id__" })";

            url = url.replace("__id__", id);

            for (var i = 0; i < inventarioBodegaNuevas.length; i++) {
                inventarioBodegaNuevas[i].existenciaMedia = inventarioBodegaNuevas[i].existenciaMedia.toString().replace(".", ",");
                inventarioBodegaNuevas[i].existenciaMinima = inventarioBodegaNuevas[i].existenciaMinima.toString().replace(".", ",");
                inventarioBodegaNuevas[i].existenciaMaxima = inventarioBodegaNuevas[i].existenciaMaxima.toString().replace(".", ",");
            }

            $.ajax({
                type: "post",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: { inventarioBodega: inventarioBodegaNuevas},
                success: function (data) {

                    window.location.href = '@Url.Action("ListarInventario", "Inventario", new { cod = "__cod__" })'.replace("__cod__", cod);

                },
                error: function (err, scnd) {

                    cargarAlert('@SharedLocalizer["errorGeneral"]');
                    console.log(err.statusText);
                }
            });
        }

        function setSubFamilia(id, idSub) {
            $('#subFamilias option').remove();
            for (var i = 0; i < familias.length; i++) {
                subFamilia = familias[i].inverseIdFamiliaNavigation;
                if (familias[i].id === parseInt(id))
                    for (var j = 0; j < subFamilia.length; j++) {
                        var o = new Option(subFamilia[j].descripcion, subFamilia[j].id);
                        $("#subFamilias").append(o);
                        if (subFamilia[j].id === idSub)
                            $(o).attr('selected', true);
                    }
            }
        }


    function setSubFamiliaOnline(id, idSub) {
            $('#subFamiliasOnline option').remove();
            for (var i = 0; i < familiasOnline.length; i++) {
                subFamiliaOnline = familiasOnline[i].inverseIdFamiliaNavigation;
                if (familiasOnline[i].id === parseInt(id))
                    for (var j = 0; j < subFamiliaOnline.length; j++) {
                        var o = new Option(subFamiliaOnline[j].descripcion, subFamiliaOnline[j].id);
                        $("#subFamiliasOnline").append(o);
                        if (subFamiliaOnline[j].id === idSub)
                            $(o).attr('selected', true);
                    }
            }
        }

    function setFamilias(data) {

        var familiaLocal = data.familia;

        if (familiaLocal.idFamilia === null)
            getFamilias(familiaLocal.id, 0);
        else
            getFamilias(familiaLocal.idFamilia, familiaLocal.id);

        $('#modalFamilia').modal('hide');

    }

    function setFamiliasOnline(data) {

        var familiaLocal = data.familia;

        if (familiaLocal.idFamilia === null)
            getFamiliasOnline(familiaLocal.id, 0);
        else
            getFamiliasOnline(familiaLocal.idFamilia, familiaLocal.id);

        $('#modalFamiliaOnline').modal('hide');

    }


    function eliminarFamiliaPadre(id) {
        for (var i = 0; i < familias.length; i++) {
            if (id === familias[i].id)
                lineas.splice(i, 1);
        }

    }

    function eliminarSubFamilia(id, idSub) {
        for (var i = 0; i < familias.length; i++) {
            if (id === familias[i].id)
                for (var i = 0; i < familias[i].inverseIdFamiliaNavigation.length; i++) {
                    lineas.splice(j, 1);
                }
        }
    }

    function formIsValid() {
        var array = $('#formInventario').serializeArray();
        var flag = true;


        if (parseFloat($('#CantidadUnidad').val()) <= 0 || $('#CantidadUnidad').val() === ""){
            $('#presentacionValid').attr('hidden', false);
            flag = false;
        } else
            $('#presentacionValid').attr('hidden', true);


        if ($('#Codigo').val().replace(/ /g, "") === "") {
            $('#codigoValid').attr('hidden', false);
            flag = false;
        } else
            $('#codigoValid').attr('hidden', true);

        if ($('#txtDescripcion').val().replace(/ /g, "") === "") {
            $('#descripcionValid').attr('hidden', false);
            flag = false;
        } else
            $('#descripcionValid').attr('hidden', true);

        if (inventarioBodega.length <= 0) {
            $('#itemSinBodega').attr('hidden', false);//cargarAlert("");
            flag = false;
        }
        else
            $('#itemSinBodega').attr('hidden', true);

        return flag;
    }

    function cargarDatos(data) {

        //console.log(data);

        $('.filasCargadas').remove();

        contadorFila = 0;

        for (var i = 0; i < data.length; i++) {
            var editar = '<td style="text-align: center;">';

            if (data[i].id != 0) {
                editar = '<td><a style="font-size:1.5rem;" href="#" onclick="editarBodegaInventario( ' + contadorFila + ',' + data[i].id + ')" ><i class="fas fa-edit"></i></a>&nbsp;&nbsp; ';
            }
            contadorFila++;
            var body = '<tr class="filasCargadas" id="fila' + contadorFila + '"><td style="padding-top: 1.2rem">' + data[i].idBodegaNavigation.nombre + '</td>'
                + '<td style="padding-top: 1.2rem">' + data[i].existenciaMinima + '</td>'
                + '<td style="padding-top: 1.2rem">' + data[i].existenciaMedia + ' </td>'
                + '<td style="padding-top: 1.2rem">' + data[i].existenciaMaxima + '</td>'
                + '<td style="padding-top: 1.2rem">' + data[i].existenciaBodega + '</td>'
                + '<td style="text-align: right; padding-top: 1.2rem">' + formatMoneda(data[i].costoPromedioBodega) + '</td>'
                + '<td style="text-align: right; padding-top: 1.1rem">' + formatMoneda(data[i].saldoBodega) + '</td>'
                + editar
                + '<a style="font-size:1.5rem;" href="#" onclick="eliminarBodegaInventario(' + contadorFila + ', ' + data[i].id + ')" ><i class="fas fa-trash"></i></a></td></tr>';

            $('.bodegaInventarioForm').before(body);
        }
    }


    function formatMoneda(value) {
        $('#formatterMoneda').val(value);

        return $('#formatterMoneda').val();
    }
    function editarBodegaInventario(fila, idRelacion) {

        var url = "@Url.Action("EditarBodegaIventario", "Inventario", new { id = "__id__" })";
        url = url.replace("__id__", idRelacion);

        $.ajax({
        type: "get",
        headers: {
        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
        },
        url: url,

            success: function (data) {
                $('#editarBodega').html(data);
                $('#modalEditarBodega').modal('show');
            }

        });

    }
    function eliminarBodegaInventario(fila, idRelacion) {

        bootbox.confirm("@SharedLocalizer["confirmEliminarLinea"]", function (result) {

            if (result) {
                var flag = false;

                if (idRelacion != 0) {
                    var url = "@Url.Action("EliminarInventarioBodega", "Inventario")";

                    $.ajax({
                        type: "post",
                        headers: {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                        url: url,
                        data: { id: idRelacion },
                        success: function (data) {
                            if (data)
                                eliminarLocal(fila);
                            else
                                cargarAlert("@SharedLocalizer["eliminarInventario"]");
                        },
                        error: function (err, scnd) {
                            console.log(err.statusText);
                            cargarAlert('@SharedLocalizer["errorGeneral"]');
                        }
                    });

                }
                else {
                    eliminarLocal(fila);
                }

            }

        });
    }

    function eliminarLocal(id) {

        inventarioBodega.splice(id - 1, 1);
        cargarDatos(inventarioBodega);

        }

    function cambiarValor() {
        $("#txtDescripcion").keyup(function () {
            var value = $(this).val();
            $("#txtNombreCarrito").val(value);
            $("#txtAbreviacionFactura").val(value);
        });
    }

    function getCaracteristicas() {

            var url = '@Url.Action("_ListarCaracteristicas", "Inventario")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: {id: @Model.IdInventario},
                success: function (data) {
                    $('#partialCaracteristicas').html(data);
                },
                error: function (err, scnd) {
                    cargarAlert('@SharedLocalizer["errorGeneral"]');
                    console.log(err.statusText);
                }
            });
    }

    function modalCaracteristica() {

        $('#txtCaracteriscas').val('');
        setTimeout(function () { $('#txtCaracteriscas').focus(); }, 500);
        $('#caracteristicasValid').prop('hidden', true);
        $('#caractericaRepetida').prop('hidden', true);
        $('#modalCaracteristicas').modal('show');

    }

    function guardarCaracteristica() {

        var comentario = $('#txtCaracteriscas').val();

        if (comentario.replace(/ /g, "") == "" || comentario.split("\n").join("") == "") {
                $('#caracteristicasValid').prop('hidden', false);
                return;
        }
        else
            $('#caracteristicasValid').prop('hidden', true);



        $.ajax({
            type: "post",
            url: '@Url.Action("CargarCaracteristicasInventario", new {id = Model.IdInventario })',
            data: {
                model: comentario
            },
            success: function (data) {

                if (data.success) {
                    $('#modalCaracteristicas').modal('hide');
                    $('#caractericaRepetida').prop('hidden', true);
                    getCaracteristicas();
                }
                else {
                    $('#caractericaRepetida').prop('hidden', false);
                }

            },
            error: function (err, scnd) {
                cargarAlert("@SharedLocalizer["errorGeneral"]");
                console.log(err.statusText);
            }
        });

    }




</script>

