@model IEnumerable<AltivaWebApp.Domains.TbPrInventario>
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{ 

    ViewData["Title"] = @Lb["Catálogo"];

}


<div class="row">
    <div class="col-md-2">
        <h3>@Lb["Catálogo"]</h3>
    </div>
    <div class="col-md-8" style="margin-left:1rem; padding-top:0.7rem">
        <p>
            <a asp-action="CrearInventario" class="btn btn-primary"><span>@Lb["Agregar"]</span>&nbsp;<i class="fas fa-plus-circle"></i></a>
        </p>
    </div>

</div>

<hr />
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6" style="padding-top:2rem">
        <button value="0" class="btn btn-dark btnEstado" id="btnInactivo"><span>@Lb["VerInactivos"]</span></button>
        <button value="1" class="btn btn-dark btnEstado" id="btnActivo"><span>@Lb["VerActivos"]</span></button>
    </div>

    <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-6 right">
        <label for="filtroBodega">@Lb["Bodega"]:</label>
        <select class="form-control selectFiltro" id="filtroBodega">
            <option id="seleccione"  selected>@Lb["Todas"]</option>
            @{
                foreach (var item in ViewData["bodegas"] as IList<TbPrBodega>)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }

            }
        </select>
    </div>
</div>

<br />

<div class="row">

    <div class="col-md-2 col-sm-6 col-xs-12" style="padding-top:0.4rem">
        <label>@Lb["buscarPorCodigo"]:</label>
        <input type="text" id="filtroBuscar" class="form-control" />
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12" style="padding-top:0.4rem">
        <label>@Lb["buscarPorDescripcion"]:</label>
        <input type="text" id="filtroBuscarDescripcion" class="form-control" />
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6" style="padding-top:0.4rem">
        <label for="filtroFamilia">@Lb["familia"]:</label>
        <select id="filtroFamilia" class="form-control search-key selectFiltro">
            <option value="0" selected>Todos</option>
        </select>
    </div>
    <div class="col-md-2 col-sm-6 col-xs-6" style="padding-top:0.4rem">
        <label for="filtroSubFamilias">@Lb["subFamilias"]:</label>
        <select id="filtroSubFamilias" class="form-control search-key selectFiltro">
            <option id="seleccione" value="0" selected>@Lb["Todos"]</option>
        </select>
    </div>

    <div class="col-md-offset-1  col-md-3 col-sm-6 col-xs-12">
        <input type="checkbox" id="filtroExistencia" class="selectFiltro" />
        <label for="filtroExistencia">@Lb["FiltroExistencia"]</label>
        <div class="row ">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <select style="width:12rem" id="filtroSExistencia" class="form-control form-control-sm selectExistencia selectFiltro">
                    <option value="1" selected>@Lb["MenorQue"]</option>
                    <option value="2" selected>@Lb["Igual"]</option>
                    <option value="3" selected>@Lb["MayorQue"]</option>
                    <option value="4" selected>@Lb["MenorIgual"]</option>
                    <option value="5" selected>@Lb["MayorIgual"]</option>
                    <option value="6" selected>@Lb["Diferente"]</option>
                </select>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <select style="width:10rem" id="filtroMedida" class="form-control form-control-sm selectExistencia selectFiltro">
                    <option value="1" selected>@Lb["Min"]</option>
                    <option value="2" selected>@Lb["Med"]</option>
                    <option value="3" selected>@Lb["Max"]</option>
                </select>
            </div>
        </div>
    </div>

</div>

<hr />


<div id="partialInventario">

</div>

<script>

      var familias = [];
    var subFamilia = [];
    $(document).ready(function () {
        getlistarPartial(false);
        $('.selectExistencia').attr('disabled', true);
        $('#filtroSubFamilias').attr('disabled', true);
        $('#btnActivo').hide();

                /////////////////////////get Familias//////////////////////////

        var url = '@Url.Action("GetFamilia", "Inventario")';
        $.ajax({
            type: "get",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: url,
            success: function (data) {

                familias = data;

                for (var i = 0; i < data.length; i++) {
                    var o = new Option(data[i].descripcion, data[i].id);
                    $("#filtroFamilia").append(o);
                }



            },
            error: function (err, scnd) {
                 cargarAlert("@Lb["errorGeneral"]");
            }
        });
    });
    ////////////////////////Eventos Directros/////////////////////
     $('#filtroExistencia').change(function () {
         if ($(this).prop('checked')) {
             $('.selectExistencia').attr('disabled', false);
            $('#filtroBodega').attr('disabled', true);
             getlistarPartial(true);
         }
         else {
             $('.selectExistencia').attr('disabled', true);
             $('#filtroBodega').attr('disabled', false);
             getlistarPartial(false);
           
         }

         
     });
    $("#filtroSExistencia").change(function () {
        getlistarPartial(true);

    });
    $("#filtroMedida").change(function () {
       getlistarPartial(true);

    });
    $('#filtroFamilia').change(function () {
        setFiltroSubFamilia($(this).val());
        console.log($(this).val());
        if ($(this).val() === "0") {          
            $('#filtroSubFamilias').attr('disabled', true);
            tblIV.search('').columns(11).search('').draw();
        }
           else {
                 tblIV.columns(11).search(this.value).draw();
               $('#filtroSubFamilias').attr('disabled', false);
           }
    });
    $('#filtroSubFamilias').change(function () {

        if ($(this).val() == 0)  
            tblIV.search('').columns(12).search('').draw();
           
         if ($(this).val() != 0)
           tblIV.columns(12).search(this.value).draw();
           
    });
    $('#filtroBodega').change(function () {
        console.log($(this).find('option:selected').text());
        console.log($(this).val());
        if ($(this).find('option:selected').text() === "Todas") 
            tblIV.search('').columns(13).search('').draw();        
         else
           tblIV.columns(13).search(this.value).draw();

    }); 

      $('.btnEstado').click(function () {
            $(this).hide();
            if ($(this).val() === '1') {
                 tblIV.columns(14).search('False').draw();
                $('#btnInactivo').show();
            }
            else {
                tblIV.columns(14).search('True').draw();
                $('#btnActivo').show();
            }
      });
        function setFiltroSubFamilia(id) {

              $('#filtroSubFamilias option').remove();

              var opt = new Option("Todos", 0);
              $(opt).attr('selected', true);


              $("#filtroSubFamilias").append(opt);

              for (var i = 0; i < familias.length; i++) {
                subFamilia = familias[i].inverseIdFamiliaNavigation;
                if (familias[i].id === parseInt(id)) {
                    for (var j = 0; j < subFamilia.length; j++) {
                        var o = new Option(subFamilia[j].descripcion, subFamilia[j].id);
                        $("#filtroSubFamilias").append(o);
                    }

                }
              }
        }
    ///////////AJAX////////////////////
    function getlistarPartial(est) {
        var claveBod = false;
        var val = parseInt($("#filtroSExistencia").val());
        var tip = parseInt($("#filtroMedida").val());
        var bod = parseInt($("#filtroBodega").val());
        if ($("#filtroBodega").find('option:selected').text() === "Todas")
            claveBod = true;
        
        var url = "@Url.Action("_ListarInventario", "Inventario")";           
        $.ajax({
            type: "Post",
            url: url,
            data: {valor: val, tipo:tip, estado: est, bodega: bod, clave: claveBod},
            success: function (data) {
                $('#partialInventario').html(data);               
            },
            error: function (err, scnd) {
                console.log(err.statusText);
            }

        });

    }

    //////////////////helpers/////////////////////////////////

    function cambiarEstadoInventarioLocal(id, inactiva) {
        console.log(inactiva);
        if (inactiva == 2)
            msj = '@Lb["confirmReactivar"]';//"Está seguro que desea reactivar este item?";
        else
            msj = '@Lb["confirmDesactivar"]';//"Está seguro que desea desactivar este item?";

        bootbox.confirm(msj, function (result) {

            if (result) {
                cambiarEstadoInventario(id);
            }

        });
    }
    //editado por lenin
    function cambiarEstadoInventario(id) {

        $.ajax({

            type: "get",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            dataType: "json",
            url: '@Url.Action("CambiarEstadoInventario", "Inventario", new { id = "__id__" })'.replace('__id__', id),
            success: function (data) {
                if (data.success)
                getlistarPartial(false);
            },
            error: function (err, scnd) {
                console.log(err.statusText);
                cargarAlert("@Lb["errorGeneral"]");
            }

        });

    }
/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////




</script>

<style>
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }
</style>