@model AltivaWebApp.ViewModels.TipoJustificanteViewModel
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    var titulo = @Lb["Crear"];
    if (Model.IdTipoJustificante != 0)
    {
        titulo = @Lb["Editar"];
    }


}


<h5 class="col-md-11 col-sm-11 col-xs-11" id="departamentoModallabel">@titulo @Lb["tipoJustificante"]</h5>
<div class="col-md-1 col-sm-1 col-xs-1">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row">
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <form id="frmTipoJustificante">
            @Html.HiddenFor(x => x.IdTipoJustificante)
            @Html.HiddenFor(x => x.Cxc)
            @Html.HiddenFor(x => x.Cxp)
            @Html.HiddenFor(x => x.Estado)
            <div class="form-group col-md-10 col-sm-10 col-xs-12">
                <label asp-for="Nombre" class="control-label">@Lb["Nombre"]:</label>
                <input asp-for="Nombre" id="tjNombre" class="form-control" />
                <span hidden id="tjNombreValid" class="text-danger">@Lb["nombreValid"]</span>
                <span hidden id="tjNombreRequerido" class="text-danger">@Lb["datosExiste"]</span>

            </div>
            <div class="form-group  col-md-12 col-sm-12 col-xs-12">
                <div class="checkbox-inline">
                    <input id="activo" type="checkbox" class="estados" /> @Lb["activo"]
                </div>

                <div class="checkbox-inline">
                    <input id="inactivo" type="checkbox" class="estados" /> @Lb["inactivo"]
                </div>
            </div>
            <div class="form-group col-md-12 col-sm-12 col-xs-12">
                <div class="checkbox-inline">
                    <input id="xp" type="checkbox" /> @Lb["CXP"]
                </div>
                <div class="checkbox-inline" style="padding-left:29px;">
                    <input id="xc" type="checkbox" /> @Lb["CXC"]
                </div>
            </div>
            <div class="form-group col-md-5 col-sm-15 col-xs-12">
                <span hidden id="tjCxpcValid" class="text-danger">@Lb["cxpcValid"]</span>
            </div>
        </form>
        <div class="form-group col-sm-7">

            <button id="btnEditOrden" onclick="crearEditarTipoJustificante()" class="btn btn-success"><span>@Lb["Guardar"] </span><span><i class="fas fa-save"></i></span></button>

            <button class="btn btn-default" data-dismiss="modal"><span>@Lb["Cancelar"]</span></button>

        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
       $('#activo').prop('checked', true);
        if ('@Model.IdTipoJustificante' != 0) {
            if ($('#Cxp').val() == "True")
                $('#xp').prop('checked', true);
            if ($('#Cxc').val() == "True")
                $('#xc').prop('checked', true);
        }
    });

    $('#activo').change(function () {
        if ($(this).prop('checked') == true) {
            $('#inactivo').prop('checked', false);
            $('#Estado').val(1);
        }

    });

    $('#inactivo').change(function () {
        if ($(this).prop('checked') == true) {
            $('#activo').prop('checked', false);
            $('#Estado').val(2);
        }
    });

    $('#xp').change(function () {
        if ($(this).prop('checked') == true) {
            $('#xc').prop('checked', false);
            $('#Cxp').val("True");
            $('#Cxc').val("False");
        }

    });

    $('#xc').change(function () {
        if ($(this).prop('checked') == true) {
            $('#xp').prop('checked', false);
            $('#Cxc').val("True");
            $('#Cxp').val("False");
        }
    });

    function validarCampos() {
        $('#tjNombreValid').attr('hidden', true);
        $('#tjCxpcValid').attr('hidden', true);
        $('#tjNombreRequerido').attr('hidden', true);
        var flag = true;

        if (comprobarRepetido($("#tjNombre").val(), '@Model.IdTipoJustificante')) {
            if ($("#xp").prop('checked') == false && $("#xc").prop('checked') == false) {
            $('#tjCxpcValid').attr('hidden', false);
                flag = false;
            }
            if ($("#tjNombre").val() === "") {

              $('#tjNombreValid').attr('hidden', false);
                flag = false;
            }
        } else{
            $('#tjNombreRequerido').attr('hidden', false);
            flag = false;

        }
        return flag;
    }
    function crearEditarTipoJustificante() {
        if (validarCampos()) {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: '@Url.Action("CrearEditarTipoJustificante")',
                data: $('#frmTipoJustificante').serialize(),
                success: function (data) {

                    $('#modalTipoJustificante').modal('hide');
                    getTipoJustificante();
                },
                error: function (err, scnd) {
                    cargarAlert('@Lb["errorGeneral"]');
                    console.log(err.statusText);
                }
            });
        }
    }



</script>
