@model AltivaWebApp.ViewModels.UnidadViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }

}

@{
    var titulo = "";

    @if (Model.Id != 0)
    {

        titulo = @SharedLocalizer["editarUnidadMedida"];

    }
    else
    {
        titulo = @SharedLocalizer["nuevaUnidadMedida"];


    }

}

<button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
<h5 data-translate="nuevaUnidad" class="modal-title" id="unidadModallabel">@titulo</h5>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12">
        <form id="frmUnidad">
            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label">Id</label>
                <input asp-for="Id" class="form-control" />
            </div>
            <div class="form-group">
                <label data-translate="nombre" asp-for="Nombre" class="control-label">@SharedLocalizer["nombre"]</label>
                <input maxlength="20" asp-for="Nombre" class="form-control" />
                <span hidden id="validatedTextNombre" class="text-danger">@SharedLocalizer["nombreValid"]</span>
                <span hidden id="nombreExiste" class="text-danger">@SharedLocalizer["repetidoValid"]</span>
            </div>
            <div class="form-group">
                <label data-translate="abreviatura" asp-for="Abreviatura" class="control-label">@SharedLocalizer["Abreviatura"]</label>
                <input maxlength="4" asp-for="Abreviatura" class="form-control" />
                <span hidden id="validatedTextAbreviatura" class="text-danger">@SharedLocalizer["abreviaturaRequerida"]</span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="IdUsuario" class="control-label"></label>
                <input asp-for="IdUsuario" class="form-control" />
            </div>
        </form>

        <div class="form-group row">
            <div class="col-md-6">
                <button id="submitFrmUnidad" class="btn btn-success"><span>@SharedLocalizer["Guardar"] </span><span><i class="fas fa-save"></i></span></button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-default" data-dismiss="modal"><span>@SharedLocalizer["Cancelar"]</span></button>
            </div>

        </div>
    </div>
</div>

<script>
  
   
        $("#submitFrmUnidad").click(function (e) {
            
            validarForm();
        });
    function guardarCambios(validar) {
        if (validar) {
            var url = '@Url.Action("CrearEditarUnidad", "Unidades")';
            $.ajax({
                type: "post",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: 'CrearEditar-Unidad/' + @Model.Id,
                data: $('#frmUnidad').serialize(),
                success: function (data) {

                    if (@Model.Id != 0)
                        $("#unidades option:selected").remove();

                    var text = data.nombre + ' - ' + data.abreviatura
                    var o = new Option(text, data.id);
                    $(o).attr('selected', true);
                    $("#unidades").append(o);
                    $("#unidades").trigger('change');
                    $('#modalUnidad').modal('hide');
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                }
            });
        }  
    }
    function validarForm() {
       
            $.ajax({
                type: "GET",
                dataType: "json",
                url: '@Url.Action("GetUnidad", "Unidades")',
                data: { nombre: $("#Nombre").val() },
                success: function (data) {

                    if (data.data == true) {
                        $('#validatedTextNombre').attr('hidden', true);
                        $('#validatedTextAbreviatura').attr('hidden', true);
                        $('#nombreExiste').attr('hidden', false);
                        guardarCambios(false);
                    }
                    else {
                         var flag = true;
                      $('#nombreExiste').attr('hidden', true);

                if ($('#Nombre').val().replace(/ /g, "") == "") {
                    $('#validatedTextNombre').attr('hidden', false);
                    flag = false;
                }
                else {
                    $('#validatedTextNombre').attr('hidden', true);
                }
                if ($('#Abreviatura').val().replace(/ /g, "") == "") {
                    $('#validatedTextAbreviatura').attr('hidden', false);
                    flag = false;
                }
                else {
                    $('#validatedTextAbreviatura').attr('hidden', true);
                }
                        guardarCambios(flag); 
                    }


                },
                error: function (err, scnd) {
                    cargarAlert('@SharedLocalizer["errorGeneral"]');
                    console.log(err.statusText);
                }
            });

       
    }


   

</script>

