@model AltivaWebApp.Domains.TbFdTipoCliente
@{
    ViewData["Title"] = "Crear Tipo Clientes";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<div class="container ">
    <div class="row">
        <div class="col-md-12"><h3>Tipo de clientes:</h3></div>
        <div class="col-md-2">
            <label>TIpo Cliente:</label>
            <select id="tipoClientes" class="form-control search-key">
              

            </select>
        </div>
        <div class="col-md-2">
            <br />

            <button class="btn btn-link " id="AgregarTipoCliente" value="crear">
                <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
            </button>
            <button class="btn btn-link " disabled id="editarTipoCliente" value="editar">
                <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
            </button>
            <button id="eliminarFamilia" disabled data-toggle="confirmation" class="btn btn-link">
                <span style="font-size: 2rem"><i class="fas fa-trash"></i></span>
            </button>
        </div>
        <div class="col-md-2">
            <label>Familia:</label>
            <select id="familia" class="form-control search-key">
                <option selected value="0" data-translate="selecciones">Seleccione</option>


            </select>
        </div>
        <div class="col-md-2">
            <br />
            <button class="btn btn-link " disabled id="CrearEditarFamilias" value="crear">
                <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
            </button>
            <button class="btn btn-link " disabled id="editarFamilia" value="editar">
                <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
            </button>
            <button id="eliminarSubFamilia" disabled data-toggle="confirmation" class="btn btn-link">
                <span style="font-size: 2rem"><i class="fas fa-trash"></i></span>
            </button>
        </div>
        <div class="col-md-2">
            <label>Sub-Familia:</label>
            <select id="subFamilia" class="form-control search-key">
                <option selected value="0" data-translate="selecciones">Seleccione</option>


            </select>
        </div>
        <div class="col-md-2">
            <br />
            <button class="btn btn-link " disabled id="CrearEditarSubFamilias" value="crear">
                <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
            </button>
            <button class="btn btn-link " disabled id="editarSubFamilia" value="editar">
                <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
            </button>
            <button id="eliminarSubFamilia" disabled data-toggle="confirmation" class="btn btn-link">
                <span style="font-size: 2rem"><i class="fas fa-trash"></i></span>
            </button>
        </div>
    </div>




</div>
<!--Modal agregar tipo cliente-->

<div class="modal fade" id="modalTipoCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <div class="modal-dialog modal-full-height modal-right" role="document">


        <div class="modal-content">
            <div class="modal-header" id="head">
                <h4 class="modal-title w-100" id="myModalLabel">Modal title</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="tipoCliente">

            </div>

        </div>
    </div>
</div>

<script>
    //jquery
    $(document).ready(function () {
        getTiposClientes();
      
       
    });
    //accion del select tipo cliente que llama ala familia..
    $("#tipoClientes").change(function () {
        if ($(this).val() != 0) {
          
            
            $('#editarFamilia').attr("disabled", true);
            $('#editarTipoCliente').attr("disabled", true);

            $('#editarTipoCliente').attr("disabled", false);
            $('#CrearEditarFamilias').attr("disabled", false);
            getFamilias($(this).val());
          
        } else {
            $("#subFamilia option").remove();
            $("#familia option").remove();
           
            $('#editarTipoCliente').attr("disabled", true);
            $('#editarFamilia').attr("disabled", true);
            $('#CrearEditarFamilias').attr("disabled", true);
          

   
        }
    });
    //accion del select familia que devuelve alas subfamilias:
    $("#familia").change(function () {
        if ($(this).val() != 0) {
            getSubFamilias($(this).val());
          
            $('#editarSubFamilia').attr("disabled", true);

            $('#CrearEditarSubFamilias').attr("disabled", false);
            $('#editarFamilia').attr("disabled", false);
            $('#eliminarSubFamilia').attr("disabled", true);
            $('#CrearEditarFamilias').attr("disabled", false);
        } else {    
            $("#subFamilia option").remove();
            $('#editarFamilia').attr("disabled", true);
            $('#editarSubFamilia').attr("disabled", true);
            $('#CrearEditarSubFamilias').attr("disabled", true);
            $('#CrearEditarFamilias').attr("disabled", false);

         
        }
    });

    $("#subFamilia").change(function () {
        if ($(this).val() != 0) {
          
            $('#CrearEditarSubFamilias').attr("disabled", false);
            $('#editarSubFamilia').attr("disabled", false);
            $('#eliminarSubFamilia').attr("disabled", false);
        } else {
            $('#editarFamilia').attr("disabled", false);
           $('#CrearEditarSubFamilias').attr("disabled", false);
            $('#editarSubFamilia').attr("disabled", true);
            $('#eliminarSubFamilia').attr("disabled", true);
        }
    });
    //function que devuelte las subfamilias por iD
    function getSubFamilias(idTipoCliente) {
         var url = '@Url.Action("GetSubFamilias", "TipoCliente")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: { idCliente: idTipoCliente },
                success: function (data) {
                    if (data != false) {
                        $("#subFamilia option").remove();
                        var option = new Option("Seleccione", 0);
                        option.setAttribute("selected", "selected");
                        $("#subFamilia").append(option);
                        for (var i = 0; i < data.length; i++) {


                            var o = new Option(data[i].nombre, data[i].id);


                            $("#subFamilia").append(o);

                        }

                        $("#subFamilia").trigger('change');
                    }
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                    cargarAlert("Tuvimos un error al procesar tu solicitud");
                }
            });
    }
    //function que devuelve las familias por ID
    function getFamilias(idTipoCliente) {
         var url = '@Url.Action("GetFamiliasTipoCliente", "TipoCliente")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: { idCliente: idTipoCliente },
                success: function (data) {
                    if (data != false) {
                        $("#familia option").remove();

                        var option = new Option("Seleccione", 0);
                        option.setAttribute("selected", "selected");
                        $("#familia").append(option);
                        for (var i = 0; i < data.length; i++) {


                            var o = new Option(data[i].nombre, data[i].id);


                            $("#familia").append(o);

                        }

                        $("#familia").trigger('change');
                    }
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                    cargarAlert("Tuvimos un error al procesar tu solicitud");
                }
            });
    }
    $('#modalTipoCliente').on('hidden.bs.modal', function () {

        getTiposClientes();
     

    });
    //cargar los tipos de clientes
     function getTiposClientes() {

            var url = '@Url.Action("GetTiposClientes", "TipoCliente")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                success: function (data) {
                    if (data != false) {
                        $("#tipoClientes option").remove();

                        var option = new Option("Seleccione", 0);
                        option.setAttribute("selected", "selected");
                        $("#tipoClientes").append(option);

                        for (var i = 0; i < data.length; i++) {

                            var o = new Option(data[i].nombre, data[i].id);

                            $("#tipoClientes").append(o);


                            $("#tipoClientes").append(o);
                        }

                        $("#tipoClientes").trigger('change');
                    }
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                    cargarAlert("Tuvimos un error al procesar tu solicitud");
                }
            });
        }

    //function para llamar a vista parcial
    $('#AgregarTipoCliente').on("click", function () {
           $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
               url: '/TipoCliente/PartialCrearTipoCliente/',

              success: function (data) {

                  $('#modalTipoCliente').modal('show');
                  
                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });

    //function que llama a vista parcial para crear una familia de un tipo de cliente
    $('#CrearEditarFamilias').on("click", function () {
        var idTipoCliente = $('#tipoClientes').val();
           $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
               },
               url: '/TipoCliente/PartialCrearTipoCliente/' + idTipoCliente,

              success: function (data) {

                  $('#modalTipoCliente').modal('show');
                  
                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });

    //function que llama ala vista parcial para ingresar una subfamilia
    
    //function que llama a vista parcial para crear una familia de un tipo de cliente
    $('#CrearEditarSubFamilias').on("click", function () {
       
        var idFamiliaTipoCliente = $('#familia').val();
           $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
               },
               url: '/TipoCliente/PartialCrearTipoCliente/' + idFamiliaTipoCliente,

              success: function (data) {

                  $('#modalTipoCliente').modal('show');
                  
                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
    //editar editarTipoCliente
    $('#editarTipoCliente').on("click", function () {
       
        var idTipoCliente = $('#tipoClientes').val();
           $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
               },
               url: '/TipoCliente/PartialEditarTipoCliente/' + idTipoCliente,

              success: function (data) {

                  $('#modalTipoCliente').modal('show');
                  
                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
    $('#editarFamilia').on("click", function () {
       
        var idFamiliaCliente = $('#familia').val();
           $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
               },
               url: '/TipoCliente/PartialEditarTipoCliente/' + idFamiliaCliente,

              success: function (data) {

                  $('#modalTipoCliente').modal('show');
                  
                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
   $('#editarSubFamilia').on("click", function () {
       
       var idSubFamiliaCliente = $('#subFamilia').val();
           $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
               },
               url: '/TipoCliente/PartialEditarTipoCliente/' + idSubFamiliaCliente,

              success: function (data) {

                  $('#modalTipoCliente').modal('show');
                  
                  $('#tipoCliente').html(data);
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });
    });
</script>