@inject IStringLocalizer<SharedResources> Lb
@{
    ViewData["Title"] = "ListarTipoClientes";
}



<div class="row">
    <div class="col-md-12">
        <h3>@Lb["TiposdeClientes"]</h3>
    </div>
</div>

<div class="row">


    <div class="form-group col-md-6 col-sm-6 col-xs-10 ">
        <label for="IdTipoCliente" class="control-label">@Lb["tipo"]:</label>
        <select onchange="cargarFamiliaClientes(value)" id="IdTipoCliente" class="form-control"><option value=""></option></select>


    </div>

    <div class="form-group col-md-6 col-sm-6 col-xs-2">
        <br />
        <button style="padding:0.2rem; margin:0.5rem" onclick="crearEditarTipoCliente(1, 0)" class="btn btn-link">
            <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
        </button>
        <button style="padding:0.2rem; margin:0.5rem" onclick="editarTipoCliente(1)" class="btn btn-link ">
            <span style="font-size: 2rem"> <i class="fas fa-edit"></i></span>
        </button>
    </div>

    <div class="form-group col-md-6 col-sm-6 col-xs-10">
        <label for="IdFamiliaCliente" class="control-label">@Lb["familia"]:</label>
        <select onchange="cargarSubFamiliaClientes(value)" id="IdFamiliaCliente" class="form-control"><option value=""></option></select>
    </div>

    <div class="form-group col-md-6 col-sm-6 col-xs-2">
        <br />
        <button style="padding:0.2rem; margin:0.5rem" onclick="crearEditarTipoCliente(2, 0)" class="btn btn-link">
            <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
        </button>
        <button style="padding:0.2rem; margin:0.5rem" onclick="editarTipoCliente(2)" class="btn btn-link ">
            <span style="font-size: 2rem"> <i class="fas fa-edit"></i></span>
        </button>
    </div>


    <div class="form-group col-md-6 col-sm-6 col-xs-10 ">
        <label for="IdSubFamiliaCliente" class="control-label">@Lb["subFamilias"]:</label>
        <select id="IdSubFamiliaCliente" class="form-control "><option value=""></option></select>
    </div>
    <div class="form-group col-md-6 col-sm-6 col-xs-2">
        <br />
        <button style="padding:0.2rem; margin:0.5rem" onclick="crearEditarTipoCliente(3, 0)" class="btn btn-link">
            <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
        </button>
        <button style="padding:0.2rem; margin:0.5rem" onclick="editarTipoCliente(3)" class="btn btn-link ">
            <span style="font-size: 2rem"> <i class="fas fa-edit"></i></span>
        </button>
    </div>

</div>


<div>
    <!-- Modal -->
    <div class="modal fade" id="modalTipoCliente" tabindex="-1" role="dialog" aria-labelledby="tipoClienteModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="crearEditarPartialCliente">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
     var tipoClientesList = [];

    $(document).ready(function () {

        getTipoClientes(1, 0);

    });

    function editarTipoCliente(key) {

        var valor = 0;
        if (key === 1)
            valor = $('#IdTipoCliente').val();
        else if (key === 2)
            valor = $('#IdFamiliaCliente').val();
        else
            valor = $('#IdSubFamiliaCliente').val();

        crearEditarTipoCliente(key, valor);
    }

    function crearEditarTipoCliente(tipo, id) {

        
        var url = '@Url.Action("_CrearEditarTipoCliente", "TipoCliente", new { id = "__id__" })';

        var model = {

            tipo: tipo,
            idFamilia: $('#IdFamiliaCliente').val(),
            idTipo: $('#IdTipoCliente').val()
        };

        $.ajax({
            type: "POST",
            url: url.replace("__id__", id),
            data: {viewModel: model},
            success: function (data) {
                $('#crearEditarPartialCliente').html(data);
                $('#modalTipoCliente').modal('show');
            },
            error: function (err, scnd) {
                console.log(err.statusText);
            }

        });
    }

    /////////Tipos de Clientes

    function getTipoClientes(tipo, idTipoCliente) {



         $.ajax({
            type: "get",
            dataType: "json",
            url: '@Url.Action("GetTiposClientes", "TipoCliente")',
            success: function (data) {


                tipoClientesList = data;
                if (tipo === 1)
                    setTipoClientes(tipo, idTipoCliente);
                else if (tipo === 2)
                    cargarFamiliaClientes($('#IdTipoCliente').val(), 2, idTipoCliente);
                else 
                    cargarSubFamiliaClientes($('#IdFamiliaCliente').val(), 3, idTipoCliente);


            },
            error: function (err, scnd) {
                cargarAlert('@Lb["errorGeneral"]');
                console.log(err.statusText);
            }
         });
    }

    function setTipoClientes(tipo, idTipo) {

        $('#IdTipoCliente')
            .find('option')
            .remove();

        for (var i = 0; i < tipoClientesList.length; i++) {
            if (tipoClientesList[i].idPadre === 0) {
                var o = new Option(tipoClientesList[i].nombre, tipoClientesList[i].id);
                if (tipo === 1 && tipoClientesList[i].id === idTipo) {
                    $(o).attr('selected', true);
                }
                $("#IdTipoCliente").append(o);
            }
        }

        cargarFamiliaClientes($('#IdTipoCliente').val(), tipo, idTipo);

    }

    function cargarFamiliaClientes(_idPadre, tipo, idTipo) {

        var idPadre = parseInt(_idPadre);
        $('#IdFamiliaCliente')
            .find('option')
            .remove();

        for (var i = 0; i < tipoClientesList.length; i++) {
            if (tipoClientesList[i].idPadre === idPadre) {
                var o = new Option(tipoClientesList[i].nombre, tipoClientesList[i].id);
                if (tipo === 2 && tipoClientesList[i].id === idTipo) {
                    $(o).attr('selected', true);
                }
                $("#IdFamiliaCliente").append(o);
            }
        }

        cargarSubFamiliaClientes($('#IdFamiliaCliente').val());

    }

    function cargarSubFamiliaClientes(_idFamilia, tipo, idTipo) {


        var idFamilia = parseInt(_idFamilia);

        $('#IdSubFamiliaCliente')
            .find('option')
            .remove();

        for (var i = 0; i < tipoClientesList.length; i++) {
            if (tipoClientesList[i].idPadre === idFamilia) {
                var o = new Option(tipoClientesList[i].nombre, tipoClientesList[i].id);
                if (tipo === 3 && tipoClientesList[i].id === idTipo) {
                    $(o).attr('selected', true);
                }
                $("#IdSubFamiliaCliente").append(o);
            }
        }

    }


</script>

