@inject IStringLocalizer<SharedResources> Lb
@{
    ViewData["Title"] = Lb["Bienvenido"] + " - ALTIVA";
    Layout = "_HomeLayout";

}

<div class="card" style="border:solid; border-color:#0C68B1">
    <div class="text-center">
        <img class="img-fluid" style="max-height:200px; max-height:300px;"
             src="~/images/AltivaColorSinFondo.png"
             alt="Altiva Soluciones" />
    </div>

    <p class="card-text" style="margin:5px;">
        @if (ViewBag.error == 1)
        {
            <span class="text-danger"> @Lb["grupoInvalid"]</span>
        }
    </p>
    <div class="input-group-append" style="margin:5px;">
        <input type="text" id="txt_grupo" class="form-control" placeholder="@Lb["nombreGrupo"]" style="font-size:calc(1rem + 1vw)">
        <button id="ir" class="btn btn-outline-primary">@Lb["Ir"]</button>
    </div>

    <p class="card-text">
        <span hidden class="text-danger" id="nombreValid">@Lb["nombreValid"]</span>
    <p>

</div>

<script type="text/javascript">

    $(document).ready(function () {

        cambioIdioma();

        $('input[type="text"]')[0].focus();

        $('#ir').click(function () {
            if ($('#txt_grupo').val().replace(/ /g, "") == "") {
                $('#nombreValid').prop('hidden', false);
            } else {
                $('#nombreValid').prop('hidden', true);
                setUrl();
            }

        });



        $('#txt_grupo').keyup(function (e) {
            //console.log($(this).val());
            if($(this).val() === '')
                $('#ir').attr("disabled", true);
            else
                $('#ir').attr("disabled", false);

            var code = (e.keyCode ? e.keyCode : e.which); if (code == 13) { setUrl(); return false; }
        });


        function setUrl() {

            var grupo = $('#txt_grupo').val();
            var url = setIdiomaUrl('@Url.Action("ValidarGrupo", new { grupo = "__grupo__" })');

            window.location.href = url.replace('__grupo__', grupo);
        }



    });


</script>





