@inject IStringLocalizer<SharedResources> Lb
@{
    ViewData["Title"] = "Home Page";
    Layout = "_HomeLayout";

}
<div class="col-md-12">

</div>

<hr />

<div class="row">
    <div class="col-md-12">
        <h6>@Lb["digiteNombreE"]</h6>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        @if (ViewBag.error == 1)
        {
            <span class="text-danger"> @Lb["grupoInvalid"]</span>
        }
        <div class="input-group">
            <input type="text" id="txt_grupo" class="form-control" placeholder="@Lb["nombreGrupo"]">
            <div class="input-group-append">
                <button id="ir" class="btn btn-outline-primary">@Lb["Ir"]</button>
            </div>
        </div>
        <span hidden class="text-danger" id="nombreValid">@Lb["nombreValid"]</span>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        cambioIdioma();

        $('input[type="text"]')[0].focus();

        $('#ir').click(function () {
            if ($('#txt_grupo').val().replace(/ /g, "") == "") {
                $('#nombreValid').prop('hidden', false);
            } else {
                $('#nombreValid').prop('hidden', true);
                setUrl();
            }
                
        });



        $('#txt_grupo').keyup(function (e) {
            //console.log($(this).val());
            if($(this).val() === '')
                $('#ir').attr("disabled", true);
            else
                $('#ir').attr("disabled", false);

            var code = (e.keyCode ? e.keyCode : e.which); if (code == 13) { setUrl(); return false; }
        });


        function setUrl() {

            var grupo = $('#txt_grupo').val();
            var url = setIdiomaUrl('@Url.Action("ValidarGrupo", new { grupo = "__grupo__" })');

            window.location.href = url.replace('__grupo__', grupo);
        }



    });


</script>





