@{
    double TotalSaldoAnterior = 0;
    double TotalDebitos = 0;
    double TotalCreditos = 0;
    double TotalSaldoPeriodo = 0;
    double TotalsaldoAcumulado = 0;
    var formatoMoneda = ViewBag.Moneda.Simbolo + " #,##0.00";

}

@inject IStringLocalizer<SharedResources> lb

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@foreach (var item in ViewBag.resultado)
{
    var estiloFila = "font-weight:normal; font-size:x-small; text-decoration:underline"; if (@item.ItemArray[2].ToString() == "1") { estiloFila = "font-weight:bold; font-size:small; color:blue"; }
    if (@item.ItemArray[2].ToString() == "2") { estiloFila = "font-weight:normal; font-size:small"; }
    if (@item.ItemArray[6].ToString() == "True") { estiloFila = "font-weight:normal; font-size:xx-small"; }


    var saldoAnteriorPos = 8;
    var debitosPos = 9;
    var creditosPos = 10;
    var saldoPeriodoPos = 11;
    var acumuladoPos = 12;
    if (ViewBag.Moneda.Codigo == 2)
    {
        saldoAnteriorPos = 13;
        debitosPos = 14;
        creditosPos = 15;
        saldoPeriodoPos = 16;
        acumuladoPos = 17;
    }
    if (ViewBag.Moneda.Codigo == 3)
    {
        saldoAnteriorPos = 18;
        debitosPos = 19;
        creditosPos = 20;
        saldoPeriodoPos = 21;
        acumuladoPos = 22;
    }
    if (@item.ItemArray[6].ToString() == "True")
    {
        TotalDebitos += double.Parse(item.ItemArray[debitosPos].ToString());
        TotalCreditos += double.Parse(item.ItemArray[creditosPos].ToString());
        TotalSaldoAnterior += double.Parse(item.ItemArray[saldoAnteriorPos].ToString());
        TotalSaldoPeriodo += double.Parse(item.ItemArray[saldoPeriodoPos].ToString());
        TotalsaldoAcumulado += double.Parse(item.ItemArray[acumuladoPos].ToString());

    }


    <tr style="@estiloFila">
        <td>
            @item.ItemArray[0].ToString()
        </td>
        <td>
            @item.ItemArray[2].ToString()
        </td>
        <td>

            @{
                if (item.ItemArray[6].ToString() == "True")
                { 
                    <a href="#" onclick="verAnalitico(@ViewBag.IdPeriodoSelecionado,@item.ItemArray[25].ToString(),@ViewBag.IdMonedaSeleccionada, @item.ItemArray[saldoAnteriorPos].ToString(), @item.ItemArray[saldoPeriodoPos].ToString(),@item.ItemArray[acumuladoPos].ToString())">
                     @item.ItemArray[1].ToString() <i class="fas fa-search"></i>
                    </a>
                }
                else
                {
                @item.ItemArray[1].ToString()
                }
            }
        </td>
        <td style="text-align:right">
            @item.ItemArray[saldoAnteriorPos].ToString(formatoMoneda)
        </td>
        <td style="text-align:right">
            @item.ItemArray[debitosPos].ToString(formatoMoneda)
        </td>
        <td style="text-align:right">
            @item.ItemArray[creditosPos].ToString(formatoMoneda)
        </td>
        <td style="text-align:right">
            @item.ItemArray[saldoPeriodoPos].ToString(formatoMoneda)
        </td>
        <td style="text-align:right">
            @item.ItemArray[acumuladoPos].ToString(formatoMoneda)
        </td>
       
    </tr>
}
<tr>
    <td></td>
    <td></td>
    <td></td>
    <td style="text-align:right; font-weight:bold">
        @TotalSaldoAnterior.ToString(formatoMoneda)
    </td>
    <td style="text-align:right; font-weight:bold">
        @TotalDebitos.ToString(formatoMoneda)
    </td>
    <td style="text-align:right; font-weight:bold">
        @TotalCreditos.ToString(formatoMoneda)
    </td>
    <td style="text-align:right; font-weight:bold">
        @TotalSaldoPeriodo.ToString(formatoMoneda)
    </td>
    <td style="text-align:right; font-weight:bold">
        @TotalsaldoAcumulado.ToString(formatoMoneda)
    </td>
</tr>
<script>
    $(document).ready(function () {
        inicializarTabla();
    });
    function verAnalitico(IdPeriodoSeleccionado,  IdCuenta, CodigoMoneda, SaldoAnterior, SaldoPeriodo, SaldoAcumulado) {  
        //int idperiodo, int idcuentacontable, int idmoneda, string saldoanterior, string saldoperiodo, string saldoacumulado
        var url = '@Url.Action("_Analitico", "ContaAsiento")';    
         $.ajax({
             type: "Post",
             url: url,
             data: { idperiodo: IdPeriodoSeleccionado, idcuentacontable: IdCuenta, idmoneda: CodigoMoneda, saldoanterior: SaldoAnterior, saldoperiodo: SaldoPeriodo, saldoacumulado: SaldoAcumulado},
             success: function (data) {
                 $('#item').html(data);
                 mostrarAnalitico();
             },
             error: function (err, scnd) {
                 console.log(err.statusText);
             }

         });

    }
    function inicializarTabla() {

        $('#tblBalance').DataTable().destroy();

        tbl = $('#tblBalance').DataTable({
            "paging": false,
            "info": false,
             "bSort": false,
            dom: 'Bfrtip',
            language: {
                "decimal": ".",
                "emptyTable": "@lb["NoDatos"]",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",             
                "thousands": ",",
                "lengthMenu": "@lb["Mostrar"] _MENU_ @lb["Entradas"]",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "<i class='fas fa-search'></i>",
                "zeroRecords": "@lb["sinResultados"]",
                "paginate": {
                    "first": "@lb["Primero"]",
                    "last": "@lb["Último"]",
                    "next": "@lb["Sguiente"]",
                    "previous": "@lb["Anterior"]"
                }
            },

            buttons: [
                    {
                        extend: 'excelHtml5',
                        title: "@lb["Balance"]",
                        text:'Excel'
                        //Columns to export
                        //exportOptions: {
                       //     columns: [0, 1, 2, 3,4,5,6]
                       // }
                    }
            ]
        });
         $(".dataTables_searching").hide();
    }

</script>
<style>
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }
</style>
