@model IList<AltivaWebApp.DomainsConta.Asiento>
@inject IStringLocalizer<SharedResources> lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    var contadorFila = 1;
    foreach (AltivaWebApp.DomainsConta.Asiento item in Model)
    {
        var formatoMonedaBase = ViewBag.SimboloBase + " #,##0.00";
        var formatoMonedaDolar = ViewBag.SimboloDolar + " #,##0.00";
        var formatoMonedaEuro = ViewBag.SimboloEuro + " #,##0.00";
        var colorFila = "";
        if (item.Estado == 3)
        { colorFila = "color: #808080";}
        var estadonombre = "";

        if (item.Estado == 1) { estadonombre = lb["ACTIVO"]; }
        if (item.Estado == 2) { estadonombre = lb["BLOQUEADO"]; }
        if (item.Estado == 3) { estadonombre = lb["ANULADO"]; }

<tr role="row" class="odd" style="@colorFila">

    <td>
        <a href="#" onclick="editarItem(@item.IdAsientoContable)" >@item.IdAsientoContable </a>
    </td>
    <td>
        <a href="#" onclick="editarItem(@item.IdAsientoContable)">@item.Codigo </a>
    </td>
    <td>
    <p hidden>@item.Fecha.Year@item.Fecha.Month@item.Fecha.Day</p>

    <p>@item.Fecha.ToString("dd/MM/yyyy")</p>
    </td>
    <td>
        <p style="text-align:right;">@item.MontoColones.ToString(formatoMonedaBase)</p>
    </td>
    <td>
        <p style="text-align:right;">@item.MontoDolar.ToString(formatoMonedaDolar)</p>
</td>
    <td>
        <p style="text-align:right;">@item.MontoEuro.ToString(formatoMonedaEuro)</p>
    </td>
    <td>
        <p style="text-align:right;">@estadonombre</p>
    </td>
    <td>
        <button onclick=editarItem(@item.IdAsientoContable) class="btn btn-link btnEditar"><i class="fas fa-edit"></i></button>
    </td>
</tr>
        contadorFila++;
    }

}



