@inject IStringLocalizer<SharedResources> lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    ViewData["Title"] = lb[ViewBag.Titulo];

}
<!DOCTYPE html>

<html>
<body>
    <div class="row">
        <div class="col-md-2"><h3>@lb[ViewBag.Titulo]</h3></div>
       
    </div>
    <div class="row well">

        <div class="row">
            <div class="col-md-3 col-sm-4 col-xs-12" style="margin-top: 0.2rem">
                <label>@lb["PeriodoFiscal"]:</label>
                <input id="LtPeriodosFiscal" list="LtPeriodoFiscal" class="form-control" autocomplete=on onchange="escogePeriodoFiscal()" placeholder="@lb["PeriodoFiscal"]">
                <datalist id="LtPeriodoFiscal">
                    @{
                        foreach (var item in ViewBag.PeriodosFiscales)
                        {
                            <option value="@item.Nombre">@item.FechaDesde.ToString("yyyy/MM/dd") | @item.FechaHasta.ToString("yyyy/MM/dd") </option>

                        }
                    }
                </datalist>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12" style="margin-top: 0.2rem">
                <label>@lb["Periodo"]:</label>
                <input id="LtPeriodos" list="LtPeriodoTrabajo" class="form-control" autocomplete=on onchange="escogePeriodoTrabajo()" placeholder="@lb["Periodo"]">
                <datalist id="LtPeriodoTrabajo">
                    @{
                        foreach (var item in ViewBag.Periodos)
                        {
                            <option value="@item.Nombre">@item.FechaInicio.ToString("yyyy/MM/dd") | @item.FechaFinal.ToString("yyyy/MM/dd") </option>

                        }

                    }
                </datalist>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12" style="margin-top: 0.2rem">
                <label class="control-label">@lb["Moneda"]:</label>
                <input id="LtMonedas" list="LtCodigoMoneda" class="form-control" autocomplete=on onchange="escogeMoneda()">
                <datalist id="LtCodigoMoneda">
                    @{
                        foreach (var item in ViewBag.Monedas)
                        {
                            <option>@item.Simbolo</option>
                        }
                    }
                </datalist>
            </div>
            <div class="col-md-3 col-sm-4 col-xs-12" style="margin-top: 0.2rem">
                <div class="col-md-10" style="padding-top: 0.5rem">
                    <a class="btn btn-primary" asp-action="item"><span>@lb["Ver"]</span>&nbsp;<i class="fas fa-plus-circle"></i></a>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:4px">
            <div class="col-md-12 col-xs-12 table-responsive">
                <table class="table table-bordered" id="tblBalance">
                    <thead>
                        <tr>
                            <th>
                                @lb["Catalogo"]
                            </th>
                            <th>
                                @lb["Nivel"]
                            </th>
                            <th>
                                @lb["Nombre"]
                            </th>
                            <th>
                                @lb["SaldoAnterior"]
                            </th>
                            <th>
                                @lb["Debe"] 
                            </th>
                            <th>
                                @lb["Haber"]
                            </th>
                            <th>
                                @lb["SaldoPeriodo"]
                            </th>
                            <th>
                                @lb["Acumulado"]
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>
<script>
    function cargarDatos() {


    }
</script>
