@model AltivaWebApp.DomainsConta.Asiento
@{

    if (Model.IdAsientoContable == 0)
    {
        @inject IStringLocalizer<SharedResources> lb
        @inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
        @functions{
            public string GetAntiXsrfRequestToken()
            {
                return Xsrf.GetAndStoreTokens(Context).RequestToken;
            }
        }
    }
    else
    {
        Layout = null;

    }

    var estado = "";
    var cambiaEstado = "";
    var usuario = ViewData["usuario"] as TbSeUsuario;
    var quitarAgregaLineas = "";
    if (Model.Estado != 1)
    {
        estado = "disabled";
    }
    if (Model.Estado == 3 || (Model.IdUsuarioMod != ViewBag.CurrentIdUsuario && Model.Estado == 2))
    {
        cambiaEstado = "disabled";
    }
    var tipoDefecto = "";
    foreach (var item in ViewBag.Tipos)
    {
        if (item.IdTipoDocumento == 1)
        {
            tipoDefecto = item.Descripcion;
        }


    }
    var numDocumento = Model.IdDocumento;
    ViewData["Title"] = lb["Asiento"];
}
<script src="~/js/comentario.js"></script>

<div id="datosAsiento">

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12">
            @if (Model.IdAsientoContable != 0)
            {

                <div class="col-md-8">
                    <h3>
                        <a href="#" style="font-size:2rem;" onclick="regresarBuscador()">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                        @lb["Editar"] @lb["Asiento"]
                    </h3>
                </div>
                <div class="col-lb-offset-4"><button onclick="crearPdf()" class="btn btn-primary"><i class="fas fa-file-print"></i>@lb["Imprimir"]</button></div>
            }
            else
            {
                <script>EsAnalitico = false;</script>
                <div class="col-md-8">
                    <h3>
                        <a href="#" style="font-size:2rem;" onclick="regresarBuscador()">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                        @lb["Nuevo"] @lb["Asiento"]
                    </h3>
                </div>
            }
        </div>
    </div>


    <div hidden><input hidden id="formater" class="currency" type="text" /></div>
    <div class="col-lg-12 well">
        <div class="col-lg-12">

            @Html.HiddenFor(x => x.IdAsientoContable)
            @Html.HiddenFor(x => x.Estado)
            @Html.HiddenFor(x => x.FechaCreacion)
            @Html.HiddenFor(x => x.IdUsuarioCreador)
            @Html.HiddenFor(x => x.Frecuente)
            <div class="form-group col-md-3 col-sm-12 col-xs-12">
                <div class="row">
                    <label for="fecha">@lb["Fecha"]:</label>
                    <input @estado id="dtFechaAsiento" type="date" asp-for="Fecha" onchange="CambioFecha()" class="form-control date" name="fecha" min="@ViewBag.FechaDesdePeriodo.ToString("yyyy-MM-dd")" max="@ViewBag.FechaHastaPeriodo.ToString("yyyy-MM-dd")" value="@Model.Fecha.ToString("yyyy-MM-dd")">
                    <span hidden id="fechaCorregir" class="text-danger">@lb["fechaCorregir"]</span>
                </div>
                <div class="row">
                    <label asp-for="IdPeriodoTrabajo" class="control-label">@lb["Periodo"]:</label>
                    <input readonly id="LtPeriodos" list="LtPeriodoTrabajo" class="form-control" autocomplete=on onchange="cambioPeriodo()">
                    <datalist id="LtPeriodoTrabajo">
                        @{
                            foreach (var item in ViewBag.Periodos)
                            {
                                <option value="@item.Nombre">@item.FechaInicio.ToString("yyyy/MM/dd") | @item.FechaFinal.ToString("yyyy/MM/dd") </option>
                            }
                        }
                    </datalist>
                    <span hidden id="periodoCorregir" class="text-danger">@lb["periodoCorregir"]</span>
                </div>
                <div class="row">
                    <label asp-for="Codigo" class="control-label">@lb["Asiento"]:</label>
                    <input readonly="readonly" asp-for="Codigo" id="CodigoAsiento" class="form-control" />
                    <span hidden id="codigoCorregir" class="text-danger">@lb["asientoCorregir"]</span>
                </div>

            </div>
            <div class="form-group col-md-3 col-sm-6 col-xs-12" style="margin-left:1rem">
                <div class="row">
                    <label class="control-label">@lb["Estado"] :</label>
                    <input @cambiaEstado id="LtAsientoE" list="ListAsientoE" class="form-control" autocomplete="ÑÖcompletes" value="@lb["ACTIVO"]">
                    <datalist id="ListAsientoE">
                        <option value="@lb["ACTIVO"]">@lb["ACTIVO"]</option>
                        <option value="@lb["BLOQUEADO"]">@lb["BLOQUEADO"]</option>
                        <option value="@lb["ANULADO"]">@lb["ANULADO"]</option>

                    </datalist>
                    <span hidden id="estadoCorregir" class="text-danger">@lb["estadoCorregir"]</span>



                </div>
                <div class="row">
                    <label asp-for="CodigoMoneda" class="control-label">@lb["Moneda"]:</label>
                    <input @estado id="LtMonedas" list="LtCodigoMoneda" class="form-control" autocomplete=on onchange="cambioMoneda()" value="@ViewBag.SimboloBase">
                    <datalist id="LtCodigoMoneda">
                        @{
                            foreach (var item in ViewBag.Monedas)
                            {
                                <option>@item.Simbolo</option>
                            }
                        }
                    </datalist>
                    <span hidden id="monedaCorregir" class="text-danger">@lb["monedaCorregir"]</span>
                </div>
                <div class="row">
                    <label asp-for="IdTipoDocumento" class="control-label">@lb["tipo"]:</label>
                    <input @estado id="LtTipos" list="LtTipoDoc" class="form-control" autocomplete=on onchange="cambioTipoDoc()" value="@tipoDefecto">
                    <datalist id="LtTipoDoc">
                        @{
                            foreach (var item in ViewBag.Tipos)
                            {
                                <option>@lb[item.Descripcion]</option>
                            }
                        }

                    </datalist>
                    <span hidden id="tipoDocCorregir" class="text-danger">@lb["tipoDocCorregir"]</span>
                </div>
            </div>
            <div class="form-group col-md-4 col-sm-12 col-xs-12">
                <div class="form-group shadow-textarea">
                    <label for="exampleFormControlTextarea2">@lb["Descripción"]</label>
                    <textarea @estado asp-for="Descripcion" maxlength="400" class="form-control rounded-0" id="descripcionAsiento" rows="8"></textarea>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="row" id="lineasNuevas" style="display:none;">
                <div class="form-group col-md-4 col-sm-6 col-xs-6">
                    <label class="control-label">@lb["Cuenta"]:</label>
                    <input @estado list="ltCuentas" class="form-control" id="catalogoCuentas" onkeydown="pasarSigCampo(event,'tipoCambioDolar','true')">
                    <datalist id="ltCuentas">
                        @{
                            foreach (var item in ViewBag.Catalogo)
                            {
                                <option value="@lb[item.Descripcion]">@lb[item.CuentaContable]</option>
                            }
                        }
                    </datalist>
                    <span hidden id="cuentaCorregir" class="text-danger">@lb["cuentaCorregir"]</span>
                </div>
                <div class="form-group col-md-6 col-sm-6 col-xs-6">
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label id="lblItem" class="control-label">@lb["TipoCambio"] $: <span style="font-size:1.1rem" class="text-info"><a id="lblInfoItem"></a></span></label>
                        <input @estado class="form-control" id="tipoCambioDolar" autofocus onkeyup="pasarSigCampo(event,'tipoCambioEuro')" style="text-align:right" />
                        <span hidden id="tipoCambioDolarCorregir" class="text-danger">@lb["tipoCambioDolarCorregir"]</span>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-6">
                        <label id="lblItem" class="control-label">@lb["TipoCambio"] Eur: <span style="font-size:1.1rem" class="text-info"><a id="lblInfoItem"></a></span></label>
                        <input @estado class="form-control" id="tipoCambioEuro" autofocus onkeyup="pasarSigCampo(event,'MontoBase')" style="text-align:right" />
                        <span hidden id="tipoCambioEuroCorregir" class="text-danger">@lb["tipoCambioEuroCorregir"]</span>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10 col-sm-12 col-xs-12">
                        <div class="form-group col-md-4 col-sm-4 col-xs-4">
                            <label class="control-label">@lb["Monto"] @ViewBag.SimboloBase:</label>
                            <input @estado type="number" class="form-control" id="MontoBase" onchange="fnMontoColon('')" autofocus onkeyup="pasarSigCampo(event,'Monto2')" style="text-align:right" />
                            <span hidden id="montoBaseCorregir" class="text-danger">@lb["montoBaseCorregir"]</span>
                        </div>
                        <div class="form-group col-md-4 col-sm-4 col-xs-4">
                            <label id="lblItem" class="control-label">@lb["Monto"] @ViewBag.SimboloDolar: <span style="font-size:1.1rem" class="text-info"><a id="lblInfoItem"></a></span></label>
                            <input @estado type="number" class="form-control" id="Monto2" onchange="fnMontoDolar('')" autofocus onkeyup="pasarSigCampo(event,'Monto3')" style="text-align:right" />
                            <span hidden id="montoDolarCorregir" class="text-danger">@lb["montoDolarCorregir"]</span>
                        </div>
                        <div class="form-group col-md-4 col-sm-4 col-xs-4">
                            <label id="lblItem" class="control-label">@lb["Monto"] @ViewBag.SimboloEuro: <span style="font-size:1.1rem" class="text-info"><a id="lblInfoItem"></a></span></label>
                            <input @estado type="number" class="form-control" id="Monto3" onchange="fnMontoEuro('')" autofocus onkeyup="pasarSigCampo(event,'LtTipoDocDet')" style="text-align:right" />
                            <span hidden id="montoEuroCorregir" class="text-danger">@lb["montoEuroCorregir"]</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-10 col-sm-12 col-xs-12">
                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label id="lblItem" class="control-label">@lb["TipoDocumento"]: <span style="font-size:1.1rem" class="text-info"><a id="lblInfoItem"></a></span></label>
                            <input @estado id="LtTipoDocDet" list="LtTiposDocDet" class="form-control" autocomplete=on onchange="cambioTipoDoc()" onkeyup="pasarSigCampo(event,'NumDocumentoDet')">
                            <datalist id="LtTiposDocDet">
                                @{
                                    foreach (var item in ViewBag.TiposDet)
                                    {
                                        <option>@lb[item.Descripcion]</option>
                                    }
                                }
                            </datalist>
                            <span hidden id="tipoDocCorregir" class="text-danger">@lb["tipoDocCorregir"]</span>
                        </div>
                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">@lb["Número"] @lb["Documento"]:</label>
                            <input @estado type="number" class="form-control" id="NumDocumentoDet" onkeyup="pasarSigCampo(event,'NotaAsientoDet')" style="text-align:right" />
                            <span hidden id="numeroDocumentoCorregir" class="text-danger">@lb["numeroDocumentoCorregir"]</span>
                        </div>
                        <div class="form-group col-md-4 col-sm-4 col-xs-12">
                            <label class="control-label">@lb["Nota"]:</label>
                            <input @estado type="text" class="form-control" id="NotaAsientoDet" onkeyup="pasarSigCampo(event,'btnAgregarDebe')" />
                            <span hidden id="NotaAsientoCorregir" class="text-danger">@lb["NotaAsientoCorregir"]</span>
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-left:1.5em">
                    <div class="form-group col-md-4 col-sm-12 col-xs-12">
                        <button @estado id="btnAgregarDebe" onclick="agregarLinea('Debe')" onkeyup="pasarSigCampo(event,'btnAgregarHaber')" class="btn btn-success"><span>@lb["Debe"] </span><span><i class="fas fa-plus"></i></span></button>
                        <button @estado id="btnAgregarHaber" onclick="agregarLinea('Haber')" onkeyup="pasarSigCampo(event,'btnAgregarDebe')" class="btn btn-success"><span>@lb["Haber"] </span><span><i class="fas fa-plus"></i></span></button>
                    </div>
                </div>
            </div>
            <div class="row" id="tablaDetalleAsiento" style="display:block;">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped" id="tbAsientoDetalle" style="min-width:1250px">
                        <thead>
                            <tr>
                                <th style="width:10%"><span>@lb["Cuenta"]</span></th>
                                <th style="width:18%"><span>@lb["Nombre"]</span></th>
                                <th style="width:11%"><span>@lb["Debe"] @ViewBag.SimboloBase</span></th>
                                <th style="width:11%"><span>@lb["Haber"] @ViewBag.SimboloBase</span></th>
                                <th style="width:11%"><span>@lb["Debe"] @ViewBag.SimboloDolar</span></th>
                                <th style="width:11%"><span>@lb["Haber"] @ViewBag.SimboloDolar</span></th>
                                <th style="width:11%"><span>@lb["Debe"] @ViewBag.SimboloEuro</span></th>
                                <th style="width:11%"><span>@lb["Haber"] @ViewBag.SimboloEuro</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="lineaForm"></tr>
                        </tbody>
                    </table>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-xs-12">
                            <label class="control-label">@lb["Total"]  @lb["Debe"] @ViewBag.SimboloBase:</label>
                            <input readonly id="totalDebeBase" class="form-control" style="text-align: right" />
                        </div>
                        <div class="col-lg-4 col-md-12 col-xs-12">
                            <label class="control-label">@lb["Total"]  @lb["Haber"] @ViewBag.SimboloBase:</label>
                            <input readonly id="totalHaberBase" class="form-control" style="text-align: right" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-xs-12">
                            <label class="control-label">@lb["Total"]  @lb["Debe"] @ViewBag.SimboloDolar:</label>
                            <input readonly id="totalDebeDolar" class="form-control" style="text-align: right" />
                        </div>
                        <div class="col-lg-4 col-md-12 col-xs-12">
                            <label class="control-label">@lb["Total"]  @lb["Haber"] @ViewBag.SimboloDolar:</label>
                            <input readonly id="totalHaberDolar" class="form-control" style="text-align: right" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-xs-12">
                            <label class="control-label">@lb["Total"]  @lb["Debe"] @ViewBag.SimboloEuro:</label>
                            <input readonly id="totalDebeEuro" class="form-control" style="text-align: right" />
                        </div>
                        <div class="col-lg-4 col-md-12 col-xs-12">
                            <label class="control-label">@lb["Total"]  @lb["Haber"] @ViewBag.SimboloEuro:</label>
                            <input readonly id="totalHaberEuro" class="form-control" style="text-align: right" />
                        </div>
                    </div>
                </div>

            </div>

            <div class="row" style="margin-top:10px">
                <div class="col-md-12">
                    <div class="form-group col-md-3">
                        <button @cambiaEstado class="btn btn-success btnAccion" onclick="guardar()">@lb["Guardar"] <i class="fas fa-save"></i></button>
                        <a onclick="cancelar()" class="btn btn-default">@lb["Cancelar"]</a>
                        <span style="margin-top:4px" hidden id="totalCorregir" class="text-danger">@lb["totalCorregir"]</span>
                        <span style="margin-top:4px" hidden id="lineasCorregir" class="text-danger">@lb["lineasCorregir"]</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>@lb["Creacion"]:@ViewBag.UsuarioCreador.Nombre - @Model.FechaCreacion | @lb["Último"] @lb["Cambio"]: @ViewBag.UsuarioMod.Nombre - @Model.FechaMod<p>
                </div>

            </div>
            <input readonly hidden id="monedaFormaterDet" />
        </div>
    </div>
    <!------------------------------------------modal para editar----------------------------------------------------------->

    <div class="modal fade" id="lineaModal" tabindex="-1" role="dialog" aria-labelledby="lineaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header row">
                    <div class="col-md-10 col-sm-10 col-xs-10" style="text-align:left">
                        <h4 class="modal-title" id="lineaModalLabel">@lb["Editar"] @lb["Línea"]</h4>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-2" style="text-align:right">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
                <div class="modal-body row">
                    <div hidden class="form-group col-md-2 col-sm-2 col-xs-12">
                        <input readonly id="idLinea" class="form-control" type="number" />
                    </div>
                    <div class="form-group col-md-12 col-sm-6 col-xs-6">
                        <label class="control-label">@lb["Cuenta"]:</label>
                        <input @estado list="ltCuentas" class="form-control" id="catalogoCuentasModal" onkeydown="pasarSigCampo(event,'tipoCambioDolar')">
                        <datalist id="ltCuentas">
                            @{
                                foreach (var item in ViewBag.Catalogo)
                                {
                                    <option value="@lb[item.Descripcion]">@lb[item.CuentaContable]</option>
                                }
                            }
                        </datalist>
                        <span hidden id="cuentaCorregirModal" class="text-danger">@lb["cuentaCorregir"]</span>
                    </div>
                    <div class="form-group col-md-12 col-sm-12 col-xs-6">
                        <div class="form-group col-md-6 col-sm-6 col-xs-6">
                            <label id="lblItem" class="control-label">@lb["TipoCambio"] @ViewBag.SimboloDolar:</label>
                            <input @estado class="form-control" id="tipoCambioDolarModal" autofocus onkeyup="pasarSigCampo(event,'tipoCambioEuroModal')" style="text-align:right" />
                            <span hidden id="tipoCambioDolarCorregirModal" class="text-danger">@lb["tipoCambioDolarCorregir"]</span>
                        </div>
                        <div class="form-group col-md-6 col-sm-6 col-xs-6">
                            <label id="lblItem" class="control-label">@lb["TipoCambio"] @ViewBag.SimboloEuro:</label>
                            <input @estado class="form-control" id="tipoCambioEuroModal" autofocus onkeyup="pasarSigCampo(event,'MontoBaseModal')" style="text-align:right" />
                            <span hidden id="tipoCambioEuroCorregirModal" class="text-danger">@lb["tipoCambioEuroCorregir"]</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">@lb["Monto"] @ViewBag.SimboloBase:</label>
                                <input @estado type="number" class="form-control" id="MontoBaseModal" onchange="fnMontoColon('Modal')" autofocus onkeyup="pasarSigCampo(event,'Monto2Modal')" style="text-align:right" />
                                <span hidden id="montoBaseCorregirModal" class="text-danger">@lb["montoBaseCorregir"]</span>
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                <label id="lblItem" class="control-label">@lb["Monto"] @ViewBag.SimboloDolar: <span style="font-size:1.1rem" class="text-info"><a id="lblInfoItem"></a></span></label>
                                <input @estado type="number" class="form-control" id="Monto2Modal" onchange="fnMontoDolar('Modal')" autofocus onkeyup="pasarSigCampo(event,'Monto3Modal')" style="text-align:right" />
                                <span hidden id="montoDolarCorregirModal" class="text-danger">@lb["montoDolarCorregir"]</span>
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                <label id="lblItem" class="control-label">@lb["Monto"] @ViewBag.SimboloEuro: <span style="font-size:1.1rem" class="text-info"><a id="lblInfoItem"></a></span></label>
                                <input @estado type="number" class="form-control" id="Monto3Modal" onchange="fnMontoEuro('Modal')" autofocus onkeyup="pasarSigCampo(event,'LtTipoDocDetModal')" style="text-align:right" />
                                <span hidden id="montoEuroCorregirModal" class="text-danger">@lb["montoEuroCorregir"]</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-10 col-sm-12 col-xs-12">
                            <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                <label id="lblItem" class="control-label">@lb["TipoDocumento"]: <span style="font-size:1.1rem" class="text-info"><a id="lblInfoItem"></a></span></label>
                                <input @estado id="LtTipoDocDetModal" list="LtTiposDocDetModal" class="form-control" autocomplete=on onchange="cambioTipoDoc()">
                                <datalist id="LtTiposDocDetModal">
                                    @{
                                        foreach (var item in ViewBag.TiposDet)
                                        {
                                            <option>@lb[item.Descripcion]</option>
                                        }
                                    }
                                </datalist>
                                <span hidden id="tipoDocCorregir" class="text-danger">@lb["tipoDocCorregir"]</span>
                            </div>
                            <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">@lb["Número"] @lb["Documento"]:</label>
                                <input @estado type="number" class="form-control" id="NumDocumentoDetModal" onkeyup="pasarSigCampo(event,'NotaAsientoDetModal')" style="text-align:right" />
                                <span hidden id="numeroDocumentoCorregir" class="text-danger">@lb["numeroDocumentoCorregir"]</span>
                            </div>

                            <div class="form-group col-md-4 col-sm-4 col-xs-12">
                                <label class="control-label">@lb["Nota"]:</label>
                                <input @estado type="text" class="form-control" id="NotaAsientoDetModal" onkeyup="pasarSigCampo(event,'btnAgregarDebeModal')" />
                                <span hidden id="NotaAsientoCorregir" class="text-danger">@lb["NotaAsientoCorregir"]</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6 col-sm-6 col-xs-12">
                            <button @estado id="btnAgregarDebeModal" onclick="actualizarLinea('Debe')" onkeyup="pasarSigCampo(event,'btnAgregarHaberModal')" class="btn btn-success"><span>@lb["Debe"] </span><span><i class="fas fa-plus"></i></span></button>

                            <button @estado id="btnAgregarHaberModal" onclick="actualizarLinea('Haber')" onkeyup="pasarSigCampo(event,'btnAgregarDebeModal')" class="btn btn-success"><span>@lb["Haber"] </span><span><i class="fas fa-plus"></i></span></button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
<div>
    <div class="col-md-12 well">
        <div id="comentarios">

        </div>
    </div>
</div>

<script type="text/javascript">
            var periodos = [];
        var catalogo = [];
        var monedas = [];
        var tiposDoc = [];
        var tipoDoc;
        var monedaItem;
        var cuenta;
        var periodo;

        @foreach (var item in ViewBag.Periodos)
        {
        @:      periodo = {FechaInicio:'@item.FechaInicio.ToString("yyyy/MM/dd")',FechaFinal:'@item.FechaFinal.ToString("yyyy/MM/dd")',Nombre: '@item.Nombre',IdPeriodoTrabajo: '@item.IdPeriodoTrabajo'};
        @:      periodos.push(periodo);
        }
          @foreach (var item in ViewBag.Catalogo)
        {
        @:      cuenta = {IdCuentaContable:'@item.IdCuentaContable',Descripcion:'@item.Descripcion',CuentaContable: '@item.CuentaContable'};
        @:      catalogo.push(cuenta);
        }
         @foreach (var item in ViewBag.Monedas)
        {
        @:      monedaItem = {Codigo:'@item.Codigo',Nombre:'@item.Nombre',Simbolo: '@item.Simbolo'};
        @:      monedas.push(monedaItem);
        }
          @foreach (var item in ViewBag.TiposDet)
        {
        @:      tipoDoc = { IdTipoDocumento: '@item.IdTipoDocumento', Descripcion: '@item.Descripcion', Abreviatura: '@item.Abreviatura', Automatico: '@item.Automatico' };
        @:      tiposDoc.push(tipoDoc);
        }
    var TipoCambioDolar = '@ViewBag.TipoCambioDolar';
    var TipoCambioEuro = '@ViewBag.TipoCambioEuro';
    var IdAsiento = '@Model.IdAsientoContable';
    var lineas = [];
    Cargar();
    var editar;
    function Cargar() {
        IdAsiento = '@Model.IdAsientoContable';
        if (IdAsiento == '0') {
            document.getElementById('tipoCambioDolar').value = TipoCambioDolar;
            document.getElementById('tipoCambioEuro').value = TipoCambioEuro;

            CambioFecha();
            editar = false;
        }
        else {
            editar = true;
            document.getElementById('LtAsientoE').value = obtenerNombreEstado('@Model.Estado');
            document.getElementById('LtMonedas').value = '@ViewBag.Moneda.Simbolo';
            document.getElementById('LtTipos').value = '@ViewBag.TipoDoc.Descripcion';
            document.getElementById('LtPeriodos').value = '@ViewBag.Periodo.Nombre';
            document.getElementById('tipoCambioDolar').value = TipoCambioDolar;
            document.getElementById('tipoCambioEuro').value = TipoCambioEuro;
            var linea
            var tipolinea
            @foreach (AltivaWebApp.DomainsConta.AsientoDetalle item in Model.detalle)
            {
            @: var EsDebe = '@item.Debe'
            @: if (EsDebe == 'True') { tipolinea = 'Debe'; }
            @: if (EsDebe != 'True') { tipolinea = 'Haber'; }
            @:  linea = { MDolar: '@item.MontoDolares', MEuro: '@item.MontoEuro', MBase: '@item.MontoColones', cuenta: obtenerCuentaPorId('@item.IdCuentaContable'), Tipo: tipolinea, TCDolar: '@item.TipoCambioDolar', TCEuro: '@item.TipoCambioEuro', Id: '@item.IdDetalleAsientoContable', NumDocumento: '@item.NumDocumento', IdTipoDocumento: obtenerTipoDocPorId('@item.IdTipoDocumento') , observacion: '@item.Observacion'};
            @:  lineas.push(linea);
            }
            tabla();
        }



    }
    function obtenerNombreEstado(estadoId) {
        if (estadoId == '1') {
            return 'ACTIVO';
        }
        if (estadoId == '3') {
            return 'ANULADO';
        }
        if (estadoId == '2') {
            return 'BLOQUEADO';
        }
        return '';
    }
        var fechaAsiento;
        function CambioFecha() {
            fechaAsiento = document.getElementById("dtFechaAsiento").value;
            document.getElementById("LtPeriodos").value = fnPeriodoExacto(fechaAsiento);
        }

        function fnPeriodoExacto(_fecha) {
            var nombre = '';

            periodos.forEach(function (element) {
                var fDesde = fnFecha(element.FechaInicio);
                var fHasta = fnFecha(element.FechaFinal);
                var fech = fnFecha(_fecha);

                if (fDesde <= fech && fHasta >= fech) {
                    nombre = element.Nombre;
                }
            });


            return nombre;

        }
        function fnMontoColon(deModal) {
            obtenerLinea(deModal);
            montoDolar = 0;
            if (TipoCambioDolar > 0) {
                montoDolar = montoBase / TipoCambioDolar;
                 document.getElementById('Monto2'+ deModal).value = montoDolar;
            }
            montoEuro=0
            if (TipoCambioDolar > 0) {
                montoEuro = montoBase / TipoCambioEuro;
                document.getElementById('Monto3' + deModal).value = montoEuro;
            }
            document.getElementById('MontoBase' + deModal).value = montoBase;
        }
        function fnMontoDolar(deModal) {
            obtenerLinea(deModal);
            if (TipoCambioDolar > 0) {
                montoBase = montoDolar * TipoCambioDolar;
                document.getElementById('MontoBase' + deModal).value = montoBase;
            }
            if (TipoCambioEuro > 0) {
                montoEuro = montoDolar * TipoCambioDolar / TipoCambioEuro;
                document.getElementById('Monto3' + deModal).value = montoEuro;
            }

            document.getElementById('Monto2' + deModal).value = montoDolar;

        }
        function fnMontoEuro(deModal) {
            obtenerLinea(deModal);
            if (TipoCambioDolar > 0) {
                montoBase = montoEuro * TipoCambioEuro;
                document.getElementById('MontoBase' + deModal).value = montoBase;
            }
            if (TipoCambioEuro > 0) {
                montoDolar = montoEuro * TipoCambioEuro / TipoCambioDolar;
                 document.getElementById('Monto2' + deModal).value = montoDolar;
            }
            document.getElementById('Monto3'+  deModal).value = montoEuro;
        }
        function fnFecha(_fecha) {
            var date = _fecha.substring(0, 10);
            date = date.replace('/', '');
            date = date.replace('/', '');
            date = date.replace('-', '');
            date = date.replace('-', '');
            var num = parseFloat(date);
            return num;
    }
        var solo1 = 0;
        function pasarSigCampo(e, id, esLt) {
            (e.keyCode) ? k = e.keyCode : k = e.which;
            if (k == 13 || k == 39 || k == 37) {

                if (solo1 == 0) {

                    if (esLt == null) {
                        document.getElementById(id).focus();
                        $('#' + id).select();
                    }
                    else {
                        if (solo1 == 0) {
                            document.getElementById(id).focus();
                            $('#' + id).select();

                            solo1 = 1;
                        }
                        else {
                            solo1 = 0;
                        }
                    }
                } else { solo1 = 0;}
            }
        }
    var cuentaSeleccionada;
    function agregarLinea(tipo) {

        obtenerLinea('');
        cuentaSeleccionada = obtenerCuenta(cuenta);
        if (validarLinea('') == true) {
            var linea = { MDolar: montoDolar, MEuro: montoEuro, MBase: montoBase, cuenta: cuentaSeleccionada, Tipo: tipo, TCDolar: TipoCambioDolar, TCEuro: TipoCambioEuro, Id: (lineas.length + 1) * -1, NumDocumento: numDoc, IdTipoDocumento: idTipoDoc, observacion: nota };

            lineas.push(linea);
            tabla();
            document.getElementById('catalogoCuentas').value = '';
            document.getElementById('catalogoCuentas').focus();

        }
    }
    var TotalDebeBase = 0;
    var TotalHaberBase = 0;
    var TotalDebeDolar = 0;
    var TotalHaberDolar = 0;
    var TotalDebeEuro = 0;
    var TotalHaberEuro = 0;
        function tabla() {
            $("#tbAsientoDetalle > tbody").remove();
            $('#tbAsientoDetalle').append('<tbody></tbody>');

            contadorFila = 0;
            TotalDebeBase = 0;
            TotalHaberBase = 0;
            TotalDebeDolar = 0;
            TotalHaberDolar = 0;
            TotalDebeEuro = 0;
            TotalHaberEuro = 0;
            lineas.forEach(function (linea) {

                var montoDebeBase = 0;
                var montoHaberBase = 0;
                var montoDebeDolar = 0;
                var montoHaberDolar = 0;
                var montoDebeEuro = 0;
                var montoHaberEuro = 0;
                if (parseFloat(linea.MBase) >= 0) {

                    if (linea.Tipo == 'Debe') {
                        montoDebeBase = linea.MBase.replace(',','.');
                        montoDebeDolar = linea.MDolar.replace(',', '.');
                        montoDebeEuro = linea.MEuro.replace(',', '.');
                }
                if (linea.Tipo == 'Haber') {
                    montoHaberBase = linea.MBase.replace(',', '.');
                    montoHaberDolar = linea.MDolar.replace(',', '.');
                    montoHaberEuro = linea.MEuro.replace(',', '.');
                }


                      var filaVisual = '<tr class="filasCargadas" id="fila' + contadorFila + '"><td ><Label class="link" onclick="modalEditarLinea(' + linea.Id + ')">' + linea.cuenta.CuentaContable + '</label></td>'
                    + '<td>' + linea.cuenta.Descripcion + '</td>'
                     + '<td style="text-align: right">' + darFomatoMonedaDet(montoDebeBase,'1') + '</td>'
                     + '<td style="text-align: right">' + darFomatoMonedaDet(montoHaberBase,'1') + '</td>'
                     + '<td style="text-align: right">' + darFomatoMonedaDet(montoDebeDolar,'2') + '</td>'
                     + '<td style="text-align: right">' + darFomatoMonedaDet(montoHaberDolar, '2') + '</td>'
                     + '<td style="text-align: right">' + darFomatoMonedaDet(montoDebeEuro, '3') + '</td>'
                     + '<td style="text-align: right">' + darFomatoMonedaDet(montoHaberEuro, '3') + '</td>'
                     + '<td> <button class="btn btn-link" @estado style="margin:0; padding:0; font-size:1.8rem;" onclick="modalEditarLinea(' + linea.Id + ')" ><i class="fas fa-edit"></i></button>&nbsp;&nbsp; <button @estado class="btn btn-link" style="margin:0; padding:0; font-size:1.8rem;" value="' + contadorFila + '" onclick="removerLinea(' + linea.Id + ')" ><i class="fas fa-trash"></i></button></td></tr>';
                    $('#tbAsientoDetalle > tbody').append(filaVisual);
                     contadorFila++;
                }

                TotalDebeBase = parseFloat(TotalDebeBase) + parseFloat(montoDebeBase);
                TotalHaberBase = parseFloat(TotalHaberBase) + parseFloat(montoHaberBase);
                TotalDebeDolar =  parseFloat(TotalDebeDolar) + parseFloat(montoDebeDolar);
                TotalHaberDolar = parseFloat(TotalHaberDolar) + parseFloat(montoHaberDolar);
                TotalDebeEuro = parseFloat(TotalDebeEuro) + parseFloat(montoDebeEuro);
                TotalHaberEuro = parseFloat(TotalHaberEuro) + parseFloat(montoHaberEuro);
            });
            $('#totalDebeBase').val(darFomatoMonedaDet(TotalDebeBase,'1'));
            $('#totalHaberBase').val(darFomatoMonedaDet(TotalHaberBase,'1'));
            $('#totalDebeDolar').val(darFomatoMonedaDet(TotalDebeDolar,'2'));
            $('#totalHaberDolar').val(darFomatoMonedaDet(TotalHaberDolar,'2'));
            $('#totalDebeEuro').val(darFomatoMonedaDet(TotalDebeEuro,'3'));
            $('#totalHaberEuro').val(darFomatoMonedaDet(TotalHaberEuro,'3'));

        }

        function darFomatoMonedaDet(_value,moneda) {

            var value = parseFloat(_value);
            var simbolo = "";

            if (moneda === "1") {
                simbolo = '@ViewBag.SimboloBase';
            }
            else if (moneda === "2") {
                simbolo = '@ViewBag.SimboloDolar';
            }
            else if (moneda === "3") {
                simbolo = '@ViewBag.SimboloEuro';
            }

            MASKDET(document.getElementById('monedaFormaterDet'), value, '-##,###,##0.00', 1);

            return simbolo + ' ' + document.getElementById('monedaFormaterDet').value;

    }
    var lineaEdit;
    function modalEditarLinea(Id) {

        $('#cuentaCorregirModal').prop('hidden', true);
        $('#tipoCambioDolarCorregirModal').prop('hidden', true);
        $('#tipoCambioEuroCorregirModal').prop('hidden', true);
        $('#montoBaseCorregirModal').prop('hidden', true);
        $('#montoDolarCorregirModal').prop('hidden', true);
        $('#montoEuroCorregirModal').prop('hidden', true);


        lineas.forEach(function (linea) {
            if (linea.Id == Id) {
                lineaEdit = linea;
            }
        });


        $('#idLinea').val(Id);

        $('#catalogoCuentasModal').val(lineaEdit.cuenta.Descripcion);
        $('#tipoCambioDolarModal').val(lineaEdit.TCDolar);
        $('#tipoCambioEuroModal').val(lineaEdit.TCEuro);
        $('#MontoBaseModal').val(String(lineaEdit.MBase).replace(',','.'));
        $('#Monto2Modal').val(String(lineaEdit.MDolar).replace(',','.'));
        $('#Monto3Modal').val(String(lineaEdit.MEuro).replace(',', '.'));
        $('#LtTipoDocDetModal').val(lineaEdit.IdTipoDocumento);
        $('#NumDocumentoDetModal').val(lineaEdit.NumDocumento);
        $('#NotaAsientoDetModal').val(lineaEdit.observacion);

        $('#lineaModal').modal('show');
        document.getElementById('catalogoCuentasModal').focus();
        document.getElementById('catalogoCuentasModal').select();
    }
    function actualizarLinea(tipo) {

        obtenerLinea('Modal');
        cuentaSeleccionada = obtenerCuenta(cuenta);

        if (validarLinea('Modal') == true) {
            lineaEdit.MDolar = montoDolar;
            lineaEdit.MEuro = montoEuro;
            lineaEdit.MBase = montoBase;
            lineaEdit.cuenta = cuentaSeleccionada;
            lineaEdit.Tipo = tipo;
            lineaEdit.TCDolar = TipoCambioDolar;
            lineaEdit.TCEuro = TipoCambioEuro;
            lineaEdit.NumDocumento = numDoc;
            lineaEdit.IdTipoDocumento = idTipoDoc;
            lineaEdit.observacion = nota;
        }

        tabla();
        $('#lineaModal').modal('hide');

    }
    function removerLinea(Id) {

        lineas.forEach(function (linea) {
            if (linea.Id == Id) {
                lineaEdit = linea;
            }
        });
        lineaEdit.MBase = -1;
        tabla();

    }
    // formatea un numero según una mascara dada ej: "-$###,###,##0.00"
    //
    // elm   = elemento html <input> donde colocar el resultado
    // n     = numero a formatear
    // mask  = mascara ej: "-$###,###,##0.00"
    // force = formatea el numero aun si n es igual a 0
    //
    // La función devuelve el numero formateado

    function MASKDET(form, n, mask, format) {
        if (format == "undefined") format = false;
        if (format || NUM(n)) {
            dec = 0, point = 0;
            x = mask.indexOf(".") + 1;
            if (x) { dec = mask.length - x; }

            if (dec) {
                n = NUM(n, dec) + "";
                x = n.indexOf(".") + 1;
                if (x) { point = n.length - x; } else { n += "."; }
            } else {
                n = NUM(n, 0) + "";
            }
            for (var x = point; x < dec; x++) {
                n += "0";
            }
            x = n.length, y = mask.length, XMASK = "";
            while (x || y) {
                if (x) {
                    while (y && "#0.".indexOf(mask.charAt(y - 1)) == -1) {
                        if (n.charAt(x - 1) != "-")
                            XMASK = mask.charAt(y - 1) + XMASK;
                        y--;
                    }
                    XMASK = n.charAt(x - 1) + XMASK, x--;
                } else if (y && "$0".indexOf(mask.charAt(y - 1)) + 1) {
                    XMASK = mask.charAt(y - 1) + XMASK;
                }
                if (y) { y-- }
            }
        } else {
            XMASK = "";
        }
        if (form) {
            form.value = XMASK;
            if (NUM(n) < 0) {
                form.style.color = "#FF0000";
            } else {
                form.style.color = "#000000";
            }
        }
        return XMASK;
    }

    // Convierte una cadena alfanumérica a numérica (incluyendo formulas aritméticas)
    //
    // s   = cadena a ser convertida a numérica
    // dec = numero de decimales a redondear
    //
    // La función devuelve el numero redondeado

    function NUM(s, dec) {
        for (var s = s + "", num = "", x = 0; x < s.length; x++) {
            c = s.charAt(x);
            if (".-+/*".indexOf(c) + 1 || c != " " && !Number.isNaN(c)) { num += c; }
        }
        if (Number.isNaN(num)) { num = eval(num); }
        if (num == "") { num = 0; } else { num = parseFloat(num); }
        if (dec != undefined) {
            r = .5; if (num < 0) r = -r;
            e = Math.pow(10, (dec > 0) ? dec : 0);
            return parseInt(num * e + r) / e;
        } else {
            return num;
        }
    }
        var cuenta;
        var montoDolar;
        var montoEuro;
    var montoBase;
    var numDoc;
    var idTipoDoc;
    var nota;
        var monedaSeleccionada = [];
        function obtenerMoneda(nombre) {
            monedas.forEach(function (item) {
                if (nombre == item.Simbolo) {
                    monedaSeleccionada = item;
                }
            });
        }
        function cambioMoneda() {
            var nombreMoneda = document.getElementById("LtMonedas").value;
            obtenerMoneda(nombreMoneda);

        }
    var periodoSeleccionado;
    function obtenerPeriodo(nombre) {
        periodoSeleccionado = null;
        periodos.forEach(function (item) {
            if (nombre == item.Nombre) {
                periodoSeleccionado = item;
            }
        });
    }
        function cambioPeriodo() {
            var nombrePeriodo = document.getElementById("LtPeriodos").value;
            obtenerPeriodo(nombrePeriodo);

        }
        var tipoSeleccionado
        function obtenerTipoDoc(nombre) {
            tipoSeleccionado = null;
            tiposDoc.forEach(function (item) {
                if (nombre == item.Descripcion) {
                    tipoSeleccionado = item;
                }
            });
    }
    function obtenerTipoDocPorId(Id) {
        var descrip="";
        tiposDoc.forEach(function (item)
        {

            if (Id == item.IdTipoDocumento)
            {

                descrip = item.Descripcion;
            }
        });
        return descrip;
    }
        function cambioTipoDoc() {
            var nombreTipoDoc = document.getElementById("LtTipos").value;
            obtenerTipoDoc(nombreTipoDoc);

    }
    var anulado = '@lb["ANULADO"]'
    var activo = '@lb["ACTIVO"]'
    var bloqueado = '@lb["BLOQUEADO"]'
    var IdEstadoSeleccionado = 0;
      function cambioEstado() {
          var estadoNombre = document.getElementById("LtAsientoE").value;

          IdEstadoSeleccionado = 0;
          if (estadoNombre == anulado) {
              IdEstadoSeleccionado = 3
          }
          if (estadoNombre == activo) {
               IdEstadoSeleccionado = 1
          }
          if (estadoNombre == bloqueado) {
               IdEstadoSeleccionado = 2
          }


        }
        function obtenerLinea(deModal) {
            montoDolar = document.getElementById('Monto2' + deModal).value;
            montoEuro = document.getElementById('Monto3' + deModal).value;
            montoBase = document.getElementById('MontoBase' + deModal).value;
            cuenta = document.getElementById('catalogoCuentas' + deModal).value;
            TipoCambioDolar = document.getElementById('tipoCambioDolar'  + deModal).value;
            TipoCambioEuro = document.getElementById('tipoCambioEuro' + deModal).value;
            idTipoDoc = document.getElementById('LtTipoDocDet' + deModal).value;
            numDoc = document.getElementById('NumDocumentoDet' + deModal).value;
            nota = document.getElementById('NotaAsientoDet' + deModal).value;
        }
    function obtenerCuenta(_DescripcionCuenta) {
        var cuenta = null;
        catalogo.forEach(function (item) {
            if (_DescripcionCuenta == item.Descripcion) {
                cuenta = item;
            }
        });
        return cuenta;
    }
     function obtenerCuentaPorId(_IdCuentaContable) {
            var cuenta;
         catalogo.forEach(function (item) {
             if (_IdCuentaContable == item.IdCuentaContable) {
                    cuenta = item;
                }
            });
            return cuenta;
        }
    function guardar() {
        var asiento = crearModelo();
        if (asiento != null) {
           enviarAjax(asiento);
        }


    }
    function cancelar() {
        regresarBuscador();

    }
    function regresarBuscador() {

            if (EsAnalitico == true) {
                mostrarAnalitico();
            }
            else {
                if (editar == true) {
                    mostrarBuscador();
                }
                else {
                    window.location.href = "@Url.Action("Index")";
                }
            }

    }
    function enviarAjax(asiento) {

           $.ajax({
            type: "POST",
            headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
            url: '@Url.Action("upAsiento")',
            data: asiento,
            success: function (data) {
                if (data.success) {
                    actualizarBuscador(asiento);
                    regresarBuscador();

                }
                else {

                }
                 },
              error: function (err, scnd) {
                  cargarAlert('@lb["errorGeneral"]');
                  console.log(err.statusText);
              }
        });
    }
    function actualizarBuscador(asiento) {
        if (editar == true) {
              for (var i = 0; i < resultadoCargado.length; i++) {
                var n = resultadoCargado[i].idAsientoContable.toString() .localeCompare(asiento.IdAsientoContable);
                if (n == 0 ) {

                    resultadoCargado[i].codigo = asiento.Codigo;
                    resultadoCargado[i].fecha = asiento.Fecha;
                    resultadoCargado[i].montoColones = asiento.MontoColones;
                    resultadoCargado[i].montoDolar = asiento.MontoDolar;
                    resultadoCargado[i].montoEuro = asiento.MontoEuro;
                    resultadoCargado[i].estado = asiento.Estado;

                }

            }

            cargarDatos(resultadoCargado);
        }
    }
    function crearModelo() {
        var codigoAsiento = document.getElementById("CodigoAsiento").value;
        var DescripcionAsiento = document.getElementById("descripcionAsiento").value;
        cambioEstado();
        CambioFecha();
        cambioPeriodo();
        cambioTipoDoc();
        cambioMoneda();
        tabla();

        if (IdAsiento == 0) {
            IdAsiento = '';
        }
        if (validarModelo()) {
            var asientoModelo = {
                IdAsientoContable: IdAsiento,
                Fecha: fechaAsiento,
                Codigo: codigoAsiento,
                Estado: IdEstadoSeleccionado,
                Descripcion: DescripcionAsiento,
                CodigoMoneda: monedaSeleccionada.Codigo,
                MontoColones: String(TotalDebeBase).replace('.', ','),
                MontoDolar: String(TotalDebeDolar).replace('.', ','),
                MontoEuro: String(TotalDebeEuro).replace('.', ','),
                Modulo: tipoSeleccionado.Descripcion,
                IdPeriodoTrabajo: periodoSeleccionado.IdPeriodoTrabajo,
                IdTipoDocumento: tipoSeleccionado.IdTipoDocumento,
                IdDocumento: 0,
                IdUsuarioCreador: 1,
                IdUsuarioMod: 1,
                FechaCreacion: fechaAsiento,
                FechaMod: fechaAsiento,
                Frecuente: 0,
                detalle: generarLineas(lineas)
            };

            return asientoModelo;

        }
        else { return null; }

    }
    function validarLinea(esModal) {

        var estado = true;

        if (cuentaSeleccionada == null) {
            document.getElementById('cuentaCorregir' + esModal).style.display = 'block';
            estado = false;

        } else {
            document.getElementById('cuentaCorregir' + esModal).style.display = 'none';

        }
        montoDolar = document.getElementById("Monto2" + esModal).value;
        montoEuro = document.getElementById("Monto3" + esModal).value;
        montoBase = document.getElementById("MontoBase" + esModal).value;

        pasBase = parseFloat(montoBase);
        pasEuro = parseFloat(montoEuro);
        pasDolar = parseFloat(montoDolar);
        pasTCD = parseFloat(TipoCambioDolar);
        pasTCE = parseFloat(TipoCambioEuro);
        if (montoBase == null) {

                document.getElementById('montoBaseCorregir' + esModal).style.display = 'block';
                estado = false;

        } else {
            if (Number.isNaN(pasBase) == true) {
                document.getElementById('montoBaseCorregir' + esModal).style.display = 'block';
                estado = false;

            } else {
                document.getElementById('montoBaseCorregir' + esModal).style.display = 'none';

            }
        }
         if (montoDolar == null) {

                document.getElementById('montoDolarCorregir' + esModal).style.display = 'block';
                estado = false;

        } else {
            if (Number.isNaN(pasDolar) == true) {
                document.getElementById('montoDolarCorregir' + esModal).style.display = 'block';
                estado = false;

            } else {
                document.getElementById('montoDolarCorregir' + esModal).style.display = 'none';

            }
        }

         if (montoEuro == null) {

                document.getElementById('montoEuroCorregir' + esModal).style.display = 'block';
                estado = false;

        } else {
            if (Number.isNaN(pasEuro) == true) {
                document.getElementById('montoEuroCorregir' + esModal).style.display = 'block';
                estado = false;

            } else {
                document.getElementById('montoEuroCorregir' + esModal).style.display = 'none';

            }
        }

        if (TipoCambioDolar == null) {

                document.getElementById('tipoCambioDolarCorregir' + esModal).style.display = 'block';
                estado = false;

        } else {
            if (Number.isNaN(pasTCD) == true) {
                document.getElementById('tipoCambioDolarCorregir' + esModal).style.display = 'block';
                estado = false;

            } else {
                document.getElementById('tipoCambioDolarCorregir' + esModal).style.display = 'none';

            }
        }
        if (TipoCambioEuro == null) {

                document.getElementById('tipoCambioEuroCorregir' + esModal).style.display = 'block';
                estado = false;

        } else {
            if (Number.isNaN(pasTCE) == true) {
                document.getElementById('tipoCambioEuroCorregir' + esModal).style.display = 'block';
                estado = false;

            } else {
                document.getElementById('tipoCambioEuroCorregir' + esModal).style.display = 'none';

            }
        }
        return estado;

    }
    function validarModelo() {

        var estado = true;

        if (periodoSeleccionado == null) {
            document.getElementById('fechaCorregir').style.display = 'block';
            estado = false;

        } else {

            if (fechaAsiento == '') {
                document.getElementById('fechaCorregir').style.display = 'block';
                estado = false;

            } else {
                document.getElementById('fechaCorregir').style.display = 'none';

            }
        }



        if (IdEstadoSeleccionado == 0) {
            document.getElementById('estadoCorregir').style.display = 'block';
            estado = false;

        } else {
            document.getElementById('estadoCorregir').style.display = 'none';

        }
        if (monedaSeleccionada == 0) {
            document.getElementById('monedaCorregir').style.display = 'block';
            estado = false;

        } else {
            document.getElementById('monedaCorregir').style.display = 'none';

        }
        if (tipoSeleccionado == null) {
            document.getElementById('tipoDocCorregir').style.display = 'block';
            estado = false;

        } else {document.getElementById('tipoDocCorregir').style.display = 'none';

        }

        document.getElementById('lineasCorregir').style.display = 'none';

        if (TotalDebeBase != TotalHaberBase || TotalHaberDolar != TotalDebeDolar || TotalDebeEuro != TotalHaberEuro) {
            document.getElementById('totalCorregir').style.display = 'block';
            estado = false;

        } else {
            if (TotalDebeBase == 0 && TotalHaberDolar == 0 && TotalDebeEuro == 0) {
                document.getElementById('lineasCorregir').style.display = 'block';
                estado = false;
            } else {
                document.getElementById('lineasCorregir').style.display = 'none';
            }
            document.getElementById('totalCorregir').style.display = 'none';
        }
        return estado;

    }


    function generarLineas(lineas) {

            var lineasAsiento = [];
        for (var i = 0; i < lineas.length; i++) {
            obtenerTipoDoc(lineas[i].IdTipoDocumento);
                var detalle = {
                    IdDetalleAsientoContable: lineas[i].Id,
                    IdAsientoContable: IdAsiento,
                    Observacion: '',
                    IdCuentaContable: lineas[i].cuenta.IdCuentaContable,
                    MontoColones: String(lineas[i].MBase).replace('.',','),
                    MontoDolares: String(lineas[i].MDolar).replace('.',','),
                    MontoEuro:  String(lineas[i].MEuro).replace('.',','),
                    Debe : lineas[i].Tipo == 'Debe',
                    Haber: lineas[i].Tipo == 'Haber',
                    TipoCambioDolar: parseFloat(lineas[i].TCDolar),
                    TipoCambioEuro: parseFloat(lineas[i].TCEuro),
                    IdCentroDeGastos: 0,
                    NumDocumento: lineas[i].NumDocumento,
                    IdTipoDocumento: tipoSeleccionado.IdTipoDocumento,
                    Observacion: lineas[i].observacion
                }
                lineasAsiento.push(detalle);
            }

            return lineasAsiento;
        }
    $(document).ready(function () {
        var date = new Date();
        if (@Model.IdAsientoContable > 0) {

            GetComentarios("Asiento", @Model.IdAsientoContable, '@Url.Action("Nuevo-Comentario", "Mensajes")');
            date = new Date(formatearFecha());
        }
    });
      function formatearFecha() {

        return '@Model.Fecha.Month' + "-" + '@Model.Fecha.Day' + "-" + '@Model.Fecha.Year' + " " + '@Model.Fecha.TimeOfDay';

    }
</script>



