@model AltivaWebApp.DomainsConta.Asiento;
@inject IStringLocalizer<SharedResources> lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    ViewData["Title"] = "Asiento";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
  
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <form id="frmCuenta" asp-action="guardar" asp-controller="ContaAsiento" method="post">
                <input type="hidden" asp-for="IdAsientoContable" />
                <div class="form-group">
                    <input list="pasta" autocomplete=on>

                    <datalist id="pasta">
                        <option value="1-345-144">Bavette</option>
                        <option value="2-244-244">Cannelloni</option>
                        <option value="3-144-524">Fiorentine</option>
                        <option>Gnocchi</option>
                        <option>Pappardelle</option>
                        <option>Penne lisce</option>
                        <option>Pici</option>
                        <option>Rigatoni</option>
                        <option>Spaghetti</option>
                        <option>Tagliatelle</option>
                    </datalist>
                    <label asp-for="Fecha">@lb["Fecha"]:</label>

                    <input type="date" asp-for="Fecha" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Estado" class="control-label">@lb["Estado"]:</label>
                    <input asp-for="Estado" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label">@lb["Descripcion"]:</label>
                    <input asp-for="Descripcion" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="CodigoMoneda" class="control-label">@lb["Moneda"]:</label>
                    <input asp-for="CodigoMoneda" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MontoColones" class="control-label">@lb["TotalColones"]:</label>
                    <input asp-for="MontoColones" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MontoDolar" class="control-label">@lb["TotalDolar"]:</label>
                    <input asp-for="MontoDolar" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MontoEuro" class="control-label">@lb["TotalEuro"]:</label>
                    <input asp-for="MontoEuro" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="MontoEuro" class="control-label">@lb["TotalEuro"]:</label>
                    <input asp-for="MontoEuro" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Modulo" class="control-label">@lb["Modulo"]:</label>
                    <input asp-for="Modulo" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="IdTipoDocumento" class="control-label">@lb["TipoDocumento"]:</label>
                    <input asp-for="IdTipoDocumento" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="IdDocumento" class="control-label">@lb["Documento"]:</label>
                    <input asp-for="IdDocumento" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="IdUsuarioCreador" class="control-label">@lb["Usuario"]:</label>
                    <input asp-for="IdUsuarioCreador" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="IdUsuarioMod" class="control-label">@lb["Usuario Ultima Mod"]:</label>
                    <input asp-for="IdUsuarioMod" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="FechaCreacion" class="control-label">@lb["Fecha Creado"]:</label>
                    <input asp-for="FechaCreacion" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="FechaMod" class="control-label">@lb["Fecha Creado"]:</label>
                    <input asp-for="FechaMod" class="form-control" />
                </div>

                <div class="form-group">
                    <label asp-for="Frecuente" class="control-label">@lb["Frecuente"]:</label>
                    <input asp-for="Frecuente" class="form-control" />
                </div>

                <button id="btnGuardar" asp-controller="ContaAsiento" asp-action="guardar" value="Guardar" class="btn btn-success"><span>@lb["Guardar"]</span> <span><i class="fas fa-save"></i></span></button>
                <a class="btn btn-default btnAtras" asp-action="Index" asp-controller="ContaAsiento">@lb["Cancelar"]</a>

            </form>

        </div>
    </div>
</body>
</html>
