@model AltivaWebApp.ViewModels.UsuarioViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<h3>@SharedLocalizer["Nuevo"] @SharedLocalizer["Usuario"]</h3>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-8 col-xs-12">
        <form id="frmUsuario" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(x => x.id)
            @Html.HiddenFor(x => x.Id_Usuario)

            <div class="form-group">
                <label for="codigo" class="control-label">@SharedLocalizer["Codigo"]:</label>
               
                <input  id="codigo" maxlength="25" onkeyup="pasarSigCampo(event,'nombre')"  class="form-control sinEspaciosNiEspeciales" autofocus />
                <div id="codigoValidation"></div>
            </div>
            <div class="form-group">
                <label for="nombre" class="control-label">@SharedLocalizer["Nombre"]:</label>
                <input id="nombre" maxlength="50" onkeyup="pasarSigCampo(event,'estado')" class="form-control" />
                <div id="nombreValidation"></div>
            </div>
            <div class="form-group">
                <label for="estado" class="control-label">@SharedLocalizer["Estado"]:</label>
                <select id="estado" onkeyup="pasarSigCampo(event,'iniciales')" class="form-control">
                    <option  value="ACTIVO">@SharedLocalizer["ACTIVO"]</option>
                    <option  value="INACTIVO">@SharedLocalizer["INACTIVO"]</option>
                </select>
            </div>
            <div class="form-group">
                <label for="iniciales" class="control-label">@SharedLocalizer["Iniciales"]:</label>
                <input id="iniciales" onkeyup="pasarSigCampo(event,'contrasena')" maxlength="15" class="form-control" />
                <div id="inicialesValidation"></div>
            </div>
            <div class="form-group">
                <label for="contrasena" class="control-label">@SharedLocalizer["Contraseña"]: (@SharedLocalizer["claveRequisitos"]) </label>
                <input type="password" onkeyup="pasarSigCampo(event,'confirmContrasena')" id="contrasena" title="@SharedLocalizer["claveRequisitos"]" class="form-control" />
                <span hidden id="contrasenaValid" class="text-danger">@SharedLocalizer["contrasenaValid"]</span>
                <span hidden id="claveInvalida" class="text-danger">@SharedLocalizer["claveInvalida"]</span>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Confirmar"] @SharedLocalizer["Contraseña"]:</label>
                <input type="password" id="confirmContrasena" onkeyup="pasarSigCampo(event,'correo')" class="form-control" />
                <div id="passwordConfirmValidation"></div>
            </div>
            <div class="form-group">
                <label for="correo" class="control-label">@SharedLocalizer["Correo"]:</label>
                <input type="email" id="correo" onkeyup="pasarSigCampo(event,'btnCrearUsuario')" maxlength="50" class="form-control" />
                <div id="correoValidation"></div>
                <span hidden id="correoInvalido" class="text-danger">@SharedLocalizer["correoInvalido"]</span>
            </div>
            <div class="form-group">
                <label class="input-group-text" id="inputGroup-sizing-sm">@SharedLocalizer["Cargar"] Avatar (6MB)</label>
                <input type="file" accept="image/*" id="fileUpload" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                <span hidden id="tamanoArchivo" class="text-danger">@SharedLocalizer["tamanoArchivo"]</span>
                <span hidden id="tipoArchivo" class="text-danger">@SharedLocalizer["tipoArchivo"]</span>
            </div>
        </form>

        <div class="form-group">
            <button type="submit" id="btnCrearUsuario" onclick="validarForm()"  class="btn btn-success"><span>@SharedLocalizer["Guardar"] </span><span><i class="fas fa-save"></i></span></button>
            <button  id="btnCancelar" class="btn btn-default">@SharedLocalizer["Cancelar"]</button>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#btnCancelar').click(function () {

            bootbox.confirm("@SharedLocalizer["confirmCancelar"]", function (result) {
            if (result)
                window.location.href = "@Url.Action("ListaUsuarios")";
            else
                setTimeout(function () { $('#codigo').focus(); }, 1);
            });

        });
        
    });

    




    function pasarSigCampo(e,id)
    {
	
	  (e.keyCode)?k=e.keyCode:k=e.which;
 
	   if(k==13)
	   {
		  if(id=="btnCrearUsuario")
		  {
			validarForm();
          }
           else
           {
		    document.getElementById(id).focus();
		   }
	   }
    }

    function crearUsuario() {


        var model = $('#frmUsuario').serializeArray();

        console.log(model);

        var formData = new FormData();
        var file = $('#fileUpload')[0].files[0];

        formData.append('id', 0);
        formData.append('codigo',$('#codigo').val());
        formData.append('contrasena', $('#contrasena').val());
        formData.append('correo', $('#correo').val());
        formData.append('estado', $('#estado').val());
        formData.append('iniciales', $('#iniciales').val());
        formData.append('nombre', $('#nombre').val());
        formData.append("id_Usuario", 1);
        formData.append("direccion", "n/a");
        formData.append("foto", file);


         $.ajax({
                type: "post",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
             url: '@Url.Action("CrearUsuario", "ManejoUsuarios")',
             dataType: 'json',
             contentType: false,
             processData: false,
             data: formData,
             success: function (data) {
                 if (data.success === true) {
                     window.location.href = '@Url.Action("CuentaUsuario", "ManejoUsuarios", new { codigo = "__cod__" })'.replace("__cod__", data.cod);
                 }
                 else
                     cargarAlert(data.err);

                },
             error: function (err) {
                 cargarAlert('@SharedLocalizer["errorGeneral"]')
                 console.log(err.success);
             }
            });

    }

    $('#fileUpload').bind('change', function () {

        var file = $(this)[0].files[0];



        if ($(this).val() != '') {
           

            var e = 0;
            e = + file.size;

            if (e > 6000000) {
                $('#tamanoArchivo').attr('hidden', false);
                $(this).val('');
            }
            else
                $('#tamanoArchivo').attr('hidden', true);

            if (!(/\.(jpg|png)$/i).test(file.name)) {
                $('#tipoArchivo').attr('hidden', false);
                $(this).val('');
            }
            else
                $('#tipoArchivo').attr('hidden', true);

        }
        



    });

    function validarForm() {

        var flag = true;

        if ($('#codigo').val().replace(/ /g, "") === "") {

            $('#codigoValidation').empty();
            $('#codigoValidation').append('<span class="text-danger">@SharedLocalizer["codigoValid"]</span>');

            flag = false;
        }
        else
            $('#codigoValidation').empty();

        if ($('#nombre').val().replace(/ /g, "") === "") {
            $('#nombreValidation').empty();
            $('#nombreValidation').append('<span class="text-danger">@SharedLocalizer["nombreValid"]</span>');

            flag = false;
        }
        else
            $('#nombreValidation').empty();

        if ($('#iniciales').val().replace(/ /g, "") === "") {
            $('#inicialesValidation').empty();
            $('#inicialesValidation').append('<span class="text-danger">@SharedLocalizer["inicialesValid"]</span>');

            flag = false;
        }
        else
            $('#inicialesValidation').empty();

        if ($('#contrasena').val().replace(/ /g, "") === "") {
            $('#contrasenaValid').prop("hidden", false);
            flag = false;
        }
        else {
            $('#passwordValidation').empty();
            if (!validarContrasena($('#contrasena').val())) {
                $('#claveInvalida').prop("hidden", false);
                flag = false;
            }
            else
                $('#claveInvalida').prop("hidden", true);
        }

        if ($('#confirmContrasena').val().replace(/ /g, "") === "") {
            $('#passwordConfirmValidation').empty();
            $('#passwordConfirmValidation').append('<span class="text-danger">@SharedLocalizer["confirmacionValid"]</span>');

            flag = false;
        }
        else
            $('#passwordConfirmValidation').empty();

        if ($('#correo').val().replace(/ /g, "") === "") {
            
            $('#correoValidation').empty();
            $('#correoValidation').append('<span class="text-danger">@SharedLocalizer["correoValid"]</span>');

            flag = false;
        } else {
            $('#correoValidation').empty();
            if (!isEmail($('#correo').val())) {
                $('#correoInvalido').prop("hidden", false);
                flag = false;
            } else
                $('#correoInvalido').prop("hidden", true);

        }
            

        if ($('#contrasena').val() != $('#confirmContrasena').val()) {
            $('#passwordConfirmValidation').empty();
            
            if ($('#contrasena').val().replace(/ /g, "") !== "") {
                $('#passwordConfirmValidation').append('<span class="text-danger">@SharedLocalizer["coincidenciaValid"]</span>');
                $('#contrasenaValid').prop("hidden", true);
            }
                

            flag = false;
        }
        else {
            if ($('#contrasena').val().replace(/ /g, "") !== "")
                $('#contrasenaValid').prop("hidden", true);
           
            $('#passwordConfirmValidation').empty();
        }
            

        if (flag)
            crearUsuario();

    }

    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

    function validarContrasena(val) {

        
        var flag = true;
        
            var pswd = val;
            if (pswd.length < 8 || pswd.length > 16) {
                flag = false;
            } 

            if (!pswd.match(/[a-z]/g)) {
                flag = false;
            } 

            //validate capital letter
            if (!pswd.match(/[A-Z]/g)) {
                flag = false;
            } 

            //validate number
            if (!pswd.match(/[0-9]/g)) {
                flag = false;
            } 

        
        return flag;
    }

    

</script>
