@model AltivaWebApp.ViewModels.UsuarioViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<h3>@SharedLocalizer["Nuevo"] @SharedLocalizer["Usuario"]</h3>
<hr />
<div class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <form id="frmUsuario" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(x => x.id)
            @Html.HiddenFor(x => x.Id_Usuario)

            <div class="form-group">
                <label for="codigo" class="control-label">@SharedLocalizer["Codigo"]:</label>
                <input  id="codigo" class="form-control" />
                <div id="codigoValidation"></div>
            </div>
            <div class="form-group">
                <label for="nombre" class="control-label">@SharedLocalizer["Nombre"]:</label>
                <input id="nombre" class="form-control" />
                <div id="nombreValidation"></div>
            </div>
            <div class="form-group">
                <label for="estado" class="control-label">@SharedLocalizer["Estado"]:</label>
                <select id="estado" class="form-control">
                    <option value="ACTIVO">@SharedLocalizer["ACTIVO"]</option>
                    <option value="INACTIVO">@SharedLocalizer["INACTIVO"]</option>
                </select>
            </div>
            <div class="form-group">
                <label for="iniciales" class="control-label">@SharedLocalizer["Iniciales"]:</label>
                <input id="iniciales" class="form-control" />
                <div id="inicialesValidation"></div>
            </div>
            <div class="form-group">
                <label for="contrasena" class="control-label">@SharedLocalizer["Contraseña"]: </label>
                <input type="password" id="contrasena" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="@SharedLocalizer["claveRequisitos"]" class="form-control" />
                <div id="passwordValidation"></div>
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Confirmar"] @SharedLocalizer["Contraseña"]:</label>
                <input type="password" id="confirmContrasena" class="form-control" />
                <div id="passwordConfirmValidation"></div>
            </div>
            <div class="form-group">
                <label for="correo" class="control-label">@SharedLocalizer["Correo"]:</label>
                <input type="email" id="correo" class="form-control" />
                <div id="correoValidation"></div>
            </div>
            <div class="form-group">
                <span class="input-group-text" id="inputGroup-sizing-sm">@SharedLocalizer["Cargar"] Avatar</span>
                <input type="file" accept="image/*"  id="fileUpload" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                <span hidden class="text-danger">@SharedLocalizer["tamanoValid"] (6MB)</span>
                <span hidden class="text-danger">@SharedLocalizer["tipoArchivo"]</span>
            </div>
        </form>

        <div class="form-group">
            <button type="submit" id="btnCrearUsuario" onclick="validarForm()" class="btn btn-success"><span>@SharedLocalizer["Guardar"] </span><span><i class="fas fa-save"></i></span></button>
            <a class="btn btn-default btnAtras">Cancelar</a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {


    });

    function crearUsuario() {


        var model = $('#frmUsuario').serializeArray();

        console.log(model);

        var formData = new FormData();
        var file = $('#fileUpload')[0].files[0];

        formData.append('id', 0);
        formData.append('codigo',$('#codigo').val());
        formData.append('contrasena', $('#contrasena').val());
        formData.append('correo', $('#correo').val());
        formData.append('estado', $('#estado').val());
        formData.append('iniciales', $('#iniciales').val());
        formData.append('nombre', $('#nombre').val());
        formData.append("id_Usuario", 1);
        formData.append("direccion", "n/a");
        formData.append("foto", file);


         $.ajax({
                type: "post",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
             url: '@Url.Action("CrearUsuario", "ManejoUsuarios")',
             dataType: 'json',
             contentType: false,
             processData: false,
             data: formData,
             success: function (data) {
                 if (data.success === true) {
                     window.location.href = '@Url.Action("CuentaUsuario", "ManejoUsuarios", new { codigo = "__cod__" })'.replace("__cod__", data.cod);
                 }
                 else
                     cargarAlert(data.err);

                },
             error: function (err) {
                 cargarAlert('@SharedLocalizer["errorGeneral"]')
                 console.log(err.success);
             }
            });

    }

    $('#fileUpload').bind('change', function () {

        var file = $(this)[0].files[0];



        if ($(this).val() != '') {
           

            var e = 0;
            e = + file.size;

            if (e > 60000) {
                $('#tamanoArchivo').attr('hidden', false);
                $(this).val('');
            }

            if (!(/\.(jpg|png|gif)$/i).test(file.name)) {
                $('#tipoArchivo').attr('hidden', false);
                $(this).val('');
            }

        }
        



    });

    function validarForm() {

        var flag = true;

        if ($('#codigo').val().replace(/ /g, "") === "") {

            $('#codigoValidation').empty();
            $('#codigoValidation').append('<span class="text-danger">@SharedLocalizer["codigoValid"]</span>');

            flag = false;
        }

        if ($('#nombre').val().replace(/ /g, "") === "") {
            $('#nombreValidation').empty();
            $('#nombreValidation').append('<span class="text-danger">@SharedLocalizer["nombreValid"]</span>');

            flag = false;
        }
        if ($('#iniciales').val().replace(/ /g, "") === "") {
            $('#inicialesValidation').empty();
            $('#inicialesValidation').append('<span class="text-danger">@SharedLocalizer["inicialesValid"]</span>');

            flag = false;
        }
        if ($('#contrasena').val().replace(/ /g, "") === "") {
            $('#passwordValidation').empty();
            $('#passwordValidation').append('<span class="text-danger">@SharedLocalizer["contrasenaValid"]</span>');

            flag = false;
        }
        if ($('#confirmContrasena').val().replace(/ /g, "") === "") {
            $('#passwordConfirmValidation').empty();
            $('#passwordConfirmValidation').append('<span class="text-danger">@SharedLocalizer["confirmacionValid"]</span>');

            flag = false;
        } if ($('#correo').val().replace(/ /g, "") === "") {
            $('#correoValidation').empty();
            $('#correoValidation').append('<span class="text-danger">@SharedLocalizer["correoValid"]</span>');

            flag = false;
        }
        if ($('#contrasena').val() != $('#confirmContrasena').val()) {
            $('#passwordConfirmValidation').empty();
            $('#passwordConfirmValidation').append('<span class="text-danger">@SharedLocalizer["coincidenciaValid"]</span>');
            $('#passwordValidation').empty();
            $('#passwordValidation').append('<span class="text-danger">@SharedLocalizer["coincidenciaValid"]</span>');

            flag = false;
        }

        if (flag)
            crearUsuario();

    }

</script>
