@model UsuarioViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{

    var inactivo = "";

    if (Model.estado == "INACTIVO")
    {
        inactivo = "disabled";
    }

}


<style>
    .btn-circle {
        width: 20px;
        height: 20px;
        text-align: center;
        padding: 4px 0;
        font-size: 8px;
        line-height: 1.428571429;
        border-radius: 10px;
    }

    .btn-combined {
        background-image: linear-gradient(to right, black, white);
    }
</style>
<div class="row">
    <div class="col-md-12">

        @if (Model.codigo == User.Identity.Name)
        {
            <h3 data-translate="layoutNAVMicuenta">Mi Cuenta</h3>
        }
        else
        {
            <h3 data-translate="MUCuentaUsuario">Cuenta Usuario</h3>
        }

    </div>
</div>
<div class="row">

    <div class="col-md-2 col-sm-2">
        <h4>Avatar</h4>
        <div class="col-md-12">
            <div class="well" style="background-color:#EDEDED; padding: 1rem; text-align:center">
                <img style="height: 10rem; width:10rem" src="@Model.avatar" class="img-circle" />
                <div class="row">
                    <button @inactivo data-translate="avatar" class="btn btn-link" data-toggle="modal" data-target="#exampleModal">
                        Cargar tu avatar
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            @if (Model.codigo == User.Identity.Name)
            {

                <h5 data-translate="tema">Tema: </h5>

                <div class="col-md-12">
                    <p>@SharedLocalizer["Fuente"]: @SharedLocalizer["Mediana"]</p>
                    <button type="button" name="1" value="TemaClaro" class="btn btntema btn-default btn-circle"></button>
                    <button type="button" name="3" value="TemaCombinado" class="btn btntema btn-combined btn-circle"></button>
                </div>

                <div class="col-md-12">
                    <p>@SharedLocalizer["Fuente"]: @SharedLocalizer["Grande"] </p>
                    <button type="button" name="4" value="TemaClaroG" class="btn btntema btn-default btn-circle"></button>
                    <button type="button" name="6" value="TemaCombinadoG" class="btn btntema btn-combined btn-circle"></button>
                </div>


            }
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <h4 data-translate="datosUsuario">Datos</h4>
        <form id="frmUsuario" method="post">
            <fieldset @inactivo>
                @Html.HiddenFor(x => x.id)
                @Html.HiddenFor(x => x.Id_Usuario)
                @Html.HiddenFor(x => x.contrasena)
                @Html.HiddenFor(x => x.ConfirmPassowrd)

                <div class="form-group">
                    <label asp-for="codigo" class="control-label">@SharedLocalizer["Codigo"]:</label>
                    <input asp-for="codigo" id="codigo" maxlength="25" class="form-control sinEspaciosNiEspeciales" autofocus />
                    <div id="codigoValidation"></div>
                </div>
                <div class="form-group">
                    <label asp-for="nombre" class="control-label">@SharedLocalizer["Nombre"]:</label>
                    <input asp-for="nombre" maxlength="50" id="nombre" class="form-control" />
                    <div id="nombreValidation"></div>
                </div>
                <div class="form-group">
                    <label asp-for="estado" class="control-label">@SharedLocalizer["Estado"]:</label>
                    <select asp-for="estado" id="estado" class="form-control">
                        <option value="ACTIVO">@SharedLocalizer["ACTIVO"]</option>
                        <option value="INACTIVO">@SharedLocalizer["INACTIVO"]</option>
                    </select>
                    <span asp-validation-for="estado" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="iniciales" class="control-label">@SharedLocalizer["Iniciales"]:</label>
                    <input asp-for="iniciales" maxlength="15" id="iniciales" class="form-control" />
                    <div id="inicialesValidation"></div>
                </div>



                <div class="form-group">
                    <label asp-for="correo" class="control-label">@SharedLocalizer["Correo"]:</label>
                    <input type="email" asp-for="correo" id="correo" maxlength="50" class="form-control" />
                    <div id="correoValidation"></div>
                    <span hidden id="correoInvalido">@SharedLocalizer["correoInvalido"]</span>
                </div>
            </fieldset>
        </form>
        @if (Model.codigo == User.Identity.Name)
        {
            <div>
                <button @inactivo class="btn btn-link" data-toggle="modal" data-target="#claveModal">@SharedLocalizer["Cambiar"] @SharedLocalizer["Contraseña"]</button>
            </div>
        }

    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
        <h4>@SharedLocalizer["Perfiles Asignados"]</h4>
        <table class="table table-bordered" id="perfiles">
            <thead>
                <tr>
                    <th>
                        <p>@SharedLocalizer["Perfil"]</p>
                    </th>
                    <th>
                        <p>@SharedLocalizer["Acción"]</p>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in @ViewData["Asignados"] as IEnumerable<AltivaWebApp.GEDomain.TbSePerfil>)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td>
                            <button @inactivo class="btn btn-link" onclick="eliminarPerfilUsuario(value)" value="@item.Id"><i class="fas fa-trash"></i></button>
                        </td>

                    </tr>

                }
                <tr>
                    <td>
                        <button @inactivo class="btn btn-link" data-toggle="modal" data-target="#perfilModal">
                            <span style="font-size:3rem"><i class="fas fa-plus-circle"></i></span>
                        </button>
                    </td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>


</div>
<div class="row">
    <div class="form-group col-md-12">
        <button @inactivo type="submit" onclick="validarForm()" class="btn btn-success"><span>@SharedLocalizer["Guardar"] </span><span><i class="fas fa-save"></i></span></button>
        <a class="btn btn-default btnAtras">Cancelar</a>
    </div>
</div>

<!-- Modal for contrasena-->
<div class="modal fade" id="claveModal" tabindex="-1" role="dialog" aria-labelledby="claveModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col-md-6">
                    <h4 class="modal-title" id="claveModalLabel">@SharedLocalizer["Cambiar"] @SharedLocalizer["Contraseña"]</h4>
                </div>
                <div class="col-md-6">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body" style="padding-left: 5rem">
                <div class="row">
                    <div class="form-group">
                        <label class="control-label">@SharedLocalizer["Contraseña"]: (@SharedLocalizer["claveRequisitos"]) </label>
                        <input type="password" id="nuevaContrasena" pattern="(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="@SharedLocalizer["claveRequisitos"]" class="form-control" />
                        <div id="passwordValidation"></div>
                        <span hidden id="claveInvalida" class="text-danger">@SharedLocalizer["claveInvalida"]</span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">@SharedLocalizer["Confirmar"] @SharedLocalizer["Contraseña"]:</label>
                        <input type="password" id="confirmContrasena" class="form-control" />
                        <div id="passwordConfirmValidation"></div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="cambiarContrasena()" class="btn btn-primary">@SharedLocalizer["Guardar"]</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal for perfil-->
<div class="modal fade" id="perfilModal" tabindex="-1" role="dialog" aria-labelledby="perfilModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col-md-6">
                    <h4 data-translate="MUAsignarPerfil" class="modal-title" id="perfilModalLabel">Asignar Perfil</h4>
                </div>
                <div class="col-md-6">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body" style="padding-left: 5rem">
                <div class="row">
                    @foreach (var item in @ViewData["SinAsignar"] as IEnumerable<AltivaWebApp.GEDomain.TbSePerfil>)
                    {
                        <div class="col-md-4" style="margin-top: 1rem;">

                            <label>
                                <input value="@item.Id" class="asignar" name="@Model.id" type="checkbox" data-toggle="toggle">
                                @item.Nombre
                            </label>

                        </div>

                    }
                </div>
            </div>
            <div class="modal-footer">
                <button data-translate="guardar" type="button" id="guardar" class="btn btn-success">Guardar</button>
                <button data-translate="cancelar" type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for avatar-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="row modal-header">
                <div class="col-md-6"><h4 data-translate="avatar" class="modal-title" id="exampleModalLabel">Cargar mi Avatar</h4></div>
                <div class="col-md-6">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>

            <div class="modal-body" style="padding-left: 5rem">
                @await Component.InvokeAsync("Avatar", Model)
            </div>
        </div>
    </div>
</div>

<br />

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <ul class="nav nav-tabs">
            <li class="active"><a class="optTab" data-toggle="tab" href="#comentario">@Lb["Comentarios"]</a></li>
            <li><a class="optTab" data-toggle="tab" href="#empresas">@Lb["Empresas"]</a></li>
        </ul>
    </div>
</div>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade in active row" id="comentario">
        <div class="col-md-12">
            <div id="comentarios">

            </div>
        </div>
    </div>
    <div class=" tab-pane fade row" id="empresas">
        <br />
        <div class="col-md-12 col-sm-12 col-xs-12">
            <button onclick="guardarCambiosEmpresa()" class="btn btn-success">@Lb["Guardar"]</button>
        </div>
        <div class="col-md-8 col-md-10 col-xs-12">
            <div id="empresasUsuario">

            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="~/js/comentario.js"></script>
<script type="text/javascript">
    //Funcion guardar con la tecla enter

 $("#codigo").keypress(function(e) {
       if(e.which == 13) {
            validarForm();
       }
    });
     $(document).keypress(function (e) {
        if (e.which == 13) {
            validarForm();
        }
    });


        //validaciones de campos editar usuario

        function validarPassword(email) {
            var i = '(?=^.{ 8, } $) ((?=.*\d)| (?=.*\W +)) (? ![.\n])(?=.* [A - Z])(?=.* [a - z]).* $';
            if (!i.test(email)) {
                return false;
            } else {
                return true;
            }
        }

        $(document).ready(function () {

            GetComentarios('Usuario', @Model.id);
            getEmpresas();

            $('.btntema').on('click', function () {
                $("#tema").attr('href', '/../css/' + $(this).val() + '.css');
                localStorage.setItem('tema', $(this).val());


                var tema = $(this).attr('name');

                /////ajax para guradar el tema en la bd//////
                var userId = @Model.id;
                var urlPost = '@Url.Action("CambiarConfig", "ManejoUsuarios")';
                guardarConfigUsuario(@Model.id, urlPost);

            });


                        ///al cambiar avatar se cambia en el layout

            if ("@User.Identity.Name" === "@Model.codigo" ) {
                localStorage.setItem("avatar", "@Model.avatar");
                $("#perfilNAVAvatar").attr('src', localStorage.getItem("avatar"));
                $("#perfilAvatar").attr('src', localStorage.getItem("avatar"));
            }


            //metodo para asignar perfiles al usuario

            var arrayModel = [];


            $(".asignar").change(function () {

                if ($(this).is(":checked")) {
                    var model = {
                        idPerfil: $(this).val(),
                        idUsuario: $(this).attr("name")
                    };
                    arrayModel.push(model);
                }
                else {

                    var model = {
                        idPerfil: $(this).val(),
                        idUsuario: $(this).attr("name")
                    };

                    arrayModel.splice($.inArray(model, arrayModel), 1);
                }
                console.log(arrayModel);
            });



            $('#guardar').click(function () {
                console.log(arrayModel);

                var url = '@Url.Action("AsignarPerfil", "ManejoUsuarios")';

                $.ajax({
                    type: "POST",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: url,
                    data: {model: arrayModel },
                        success: function (data) {
                            //console.log($(this).parent());
                            window.location.href = window.location.href;
                    },
                        error: function (err, scnd) {
                            console.log(err.statusText);
                    }
                });
            });


            $('#claveModal').on('hidden.bs.modal', function () {
                $('#nuevaContrasena').val("");
                $('#confirmContrasena').val("");
                $('#passwordValidation').empty();
                $('#passwordConfirmValidation').empty();
                $('#claveInvalida').prop("hidden", true);
            });

            $('#exampleModal').on('hidden.bs.modal', function () {
                $('#tamanoArchivo').attr('hidden', true);
                $('#tipoArchivo').attr('hidden', true);
            });

        });




        function getEmpresas() {


            $.ajax({
                type: "GET",
                url: '@Url.Action("_AutorizacionUsuario", "ManejoUsuarios", new { idUsuario = Model.id })',
                success: function (data) {
                    $('#empresasUsuario').html(data);
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                }

            });
        }    

        function guardarUsuario() {

            console.log($('#frmUsuario').serializeArray());

            var url = '@Url.Action("EditarUsuario", "ManejoUsuarios")';
                $.ajax({
                    type: "POST",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: url,
                    data: $('#frmUsuario').serialize(),
                    success: function (data) {
                        if (data.success) {
                            cargarAlert('@SharedLocalizer["datosActualizados"]');
                            history.pushState(null, "", $('#codigo').val());
                        }
                        else
                            cargarAlert('@SharedLocalizer["usuarioExistente"]');
                    },
                        error: function (err, scnd) {
                            cargarAlert('@SharedLocalizer["errorGeneral"]');
                    }
                });


        }

        function eliminarPerfilUsuario(id) {
            window.location.href = '@Url.Action("QuitarPerfil", "ManejoUsuarios", new { usuario = Model.id, id = "__id__" })'.replace("__id__", id);
        }

        function cambiarContrasena() {

            var model = $('#frmUsuario').serializeArray()

    
            if (validarContrasena()) {

                model[2].value = $('#nuevaContrasena').val();
            //console.log(model);

            var url = '@Url.Action("CambiarContrasena", "ManejoUsuarios")';

                $.ajax({
                    type: "POST",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: url,
                    data: model,
                    success: function (data) {
                        if (data.success) {
                            cargarAlert('@SharedLocalizer["datosActualizados"]');

                        }
                        else
                            cargarAlert('@SharedLocalizer["usuarioExistente"]');
                    },
                        error: function (err, scnd) {
                            cargarAlert('@SharedLocalizer["errorGeneral"]');
                    }
                });
        }


        }




    function validarContrasena() {


        if ($('#nuevaContrasena').val().replace(/ /g, "") === "") {
            $('#passwordValidation').empty();
            $('#passwordValidation').append('<span class="text-danger">@SharedLocalizer["contrasenaValid"]</span>');
            $('#passwordConfirmValidation').empty();
            $('#claveInvalida').prop("hidden", true);
            return false;

        } else {
            $('#passwordValidation').empty();
            if (!validarFormatoContrasena($('#nuevaContrasena').val())) {
                $('#claveInvalida').prop("hidden", false);
                return false;
            }
            else
                $('#claveInvalida').prop("hidden", true);
        }

        if ($('#confirmContrasena').val().replace(/ /g, "") === "") {
            $('#passwordConfirmValidation').empty();
            $('#passwordConfirmValidation').append('<span class="text-danger">@SharedLocalizer["confirmacionValid"]</span>');

            return false;
        }
        else
            $('#passwordConfirmValidation').empty();

        if ($('#nuevaContrasena').val() != $('#confirmContrasena').val()) {
            $('#passwordConfirmValidation').empty();
            $('#passwordConfirmValidation').append('<span class="text-danger">@SharedLocalizer["coincidenciaValid"]</span>');
            $('#passwordValidation').empty();
            $('#passwordValidation').append('<span class="text-danger">@SharedLocalizer["coincidenciaValid"]</span>');

            return false;
        }
        else {
            $('#passwordConfirmValidation').empty();
            $('#passwordValidation').empty();
        }

        return true;
    }

    function validarForm() {

        var flag = true;

        if ($('#codigo').val().replace(/ /g, "") === "") {

            $('#codigoValidation').empty();
            $('#codigoValidation').append('<span class="text-danger">@SharedLocalizer["codigoValid"]</span>');

            flag = false;
        }

        if ($('#nombre').val().replace(/ /g, "") === "") {
            $('#nombreValidation').empty();
            $('#nombreValidation').append('<span class="text-danger">@SharedLocalizer["nombreValid"]</span>');

            flag = false;
        }
        if ($('#iniciales').val().replace(/ /g, "") === "") {
            $('#inicialesValidation').empty();
            $('#inicialesValidation').append('<span class="text-danger">@SharedLocalizer["inicialesValid"]</span>');

            flag = false;
        }

         if ($('#correo').val().replace(/ /g, "") === "") {
             $('#correoValidation').empty();
             $('#correoValidation').append('<span class="text-danger">@SharedLocalizer["correoValid"]</span>');

            flag = false;
         } else {
             $('#correoValidation').empty();
             if (!isEmail($('#correo').val())) {
                 $('#correoInvalido').prop("hidden", false);
                 flag = false;
             } else
                 $('#correoInvalido').prop("hidden", true);

         }


        if (flag)
            guardarUsuario();

    }

    function isEmail(email) {
        var regex = /^([a-zA-Z0-9_.+-])+\@@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
        return regex.test(email);
    }

    function validarFormatoContrasena(val) {

        var flag = true;

        var pswd = val;
        if (pswd.length < 8 || pswd.length > 16) {
            flag = false;
        }

        if (!pswd.match(/[a-z]/g)) {
            flag = false;
        }

        //validate capital letter
        if (!pswd.match(/[A-Z]/g)) {
            flag = false;
        }

        //validate number
        if (!pswd.match(/[0-9]/g)) {
            flag = false;
        }


        return flag;
    }

</script>
<script src="~/js/guardarConfigUsuario.js"></script>



