@model AltivaWebApp.GEDomain.TbSeModulo



<h2>@Model.NombreExterno</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreInterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreInterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NombreExterno)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NombreExterno)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotaOpcion1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotaOpcion1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NotaOpcion2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NotaOpcion2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Grupos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Grupos)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
