@model IEnumerable<AltivaWebApp.GEDomain.TbSeModulo>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.NombreInterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombreExterno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaOpcion1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaOpcion2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Grupos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreInterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreExterno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaOpcion1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaOpcion2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Grupos)
            </td>
            <td>
                @Html.ActionLink("Edit", "Editar", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Detalle", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Eliminarx", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
