@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@inject IStringLocalizer<SharedResources> Lb


@{
    ViewData["Title"] = "ListarCajas";
}


<div class="row">
    <div class="col-md-2 col-sm-6 col-xs-12">
        <h2>@Lb["Cajas"]</h2>

    </div>
    <div class="col-md-4 col-sm-6 col-xs-12" style="margin-left:1rem; padding-top:0.7rem">
        <p>
            <a asp-action="CajaApertura" class="btn btn-primary"><span>@Lb["Agregar"] </span>&nbsp;<i class="fas fa-plus-circle"></i></a>
        </p>
    </div>
</div>

<h5>
    <a data-toggle="collapse" href="#collapseFiltros" role="button" aria-expanded="false" aria-controls="collapseFiltros">
        <span>@Lb["Filtros"]</span>&nbsp;<i class="fas fa-plus-circle"></i>
    </a>
</h5>

<div class="row collapse" id="collapseFiltros">

    <div class="form-group col-md-3 col-sm-3 col-xs-12" style="margin-top: 0.4rem">
        <label for="filtroPV">@Lb["filtroPV"]:</label>
        <select class="form-control" id="filtroPV" onchange="getlistarPartial()">
            <option value="0">@Lb["Todos"]</option>
            @foreach (var item in ViewData["puntoVenta"] as IList<TbSePuntoVenta>)
            {
                <option value="@item.IdPuntoVenta">@item.Nombre</option>
            }
        </select>
    </div>

    <div class="col-md-2 col-sm-6 col-xs-12" style="margin-top: 0.4rem">
        <label class="numerico">@Lb["BuscarPorNum"]:</label>
        <input type="number" id="filtroId" class="form-control" onkeyup="getlistarPartial()" />
    </div>

    <div class="col-md-2 col-sm-6 col-xs-12" style="margin-top: 0.4rem">
        <label>@Lb["BuscarPorUsuario"]:</label>
        <select id="ddUsuarios" class="form-control search-key">
            <option selected value="">@Lb["Todos"]</option>
            @foreach (var item in ViewData["usuarios"] as IList<TbSeUsuario>)
            {
                <option value="@item.Nombre">@item.Nombre</option>
            }
        </select>
    </div>

    <div class="col-md-2 col-sm-6 col-xs-12 " style="margin-top: 0.4rem">
        <label>@Lb["BuscarPorEstado"]:</label>
        <select id="Estados" class="form-control search-key">
            <option value="">@Lb["Todos"]</option>
            <option value="1">@Lb["Abierta"]</option>
            <option value="2">@Lb["Arqueo"]</option>
            <option value="3">@Lb["ArqueoReabierto"]</option>
            <option value="4">@Lb["Cerrada"]</option>
            <option value="5">@Lb["CierreReabierto"]</option>
            <option value="6">@Lb["Anulada"]</option>
        </select>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">
        <input type="checkbox" id="habilitaFiltroFecha" />
        <label for="habilitaFiltroFecha">@Lb["FiltroFecha"]</label>
        <form id="frmFecha" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon"><i class="fas fa-calendar"></i></span>
                            <input type="text" style="width: 200px" name="filtroFecha" id="filtroFecha" class="form-control" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<div id="partialCajas">

</div>



<input readonly hidden id="monedaFormater" />



<script>
//////////////////////////////////////////////////////////DOCUMENT READY//////////////////////////////////////////////////////////////////////////////////////////
    var hasta;
    var desde;

    $(document).ready(function () {

        hasta = new Date().toLocaleString();
        desde = new Date().toLocaleString();

        getlistarPartial();

        $('#filtroFecha').attr('disabled', true);

        $('#filtroFecha').daterangepicker({
            opens: 'left',
            "locale": {
                format: "@Lb["DD/MM/YYYY"]",
                "separator": " - ",
                "applyLabel": "@Lb["Aplicar"]",
                "cancelLabel": "@Lb["Cancelar"]",
                "fromLabel": "@Lb["DE"]",
                "toLabel": "@Lb["Hasta"]",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "@Lb["Dom"]",
                    "@Lb["Lun"]",
                    "@Lb["Mar"]",
                    "@Lb["Mie"]",
                    "@Lb["Jue"]",
                    "@Lb["Vie"]",
                    "@Lb["Sáb"]"
                ],
                "monthNames": [
                    "@Lb["Enero"]",
                    "@Lb["Febrero"]",
                    "@Lb["Marzo"]",
                    "@Lb["Abril"]",
                    "@Lb["Mayo"]",
                    "@Lb["Junio"]",
                    "@Lb["Julio"]",
                    "@Lb["Agosto"]",
                    "@Lb["Septiembre"]",
                    "@Lb["Octubre"]",
                    "@Lb["Noviembre"]",
                    "@Lb["Diciembre"]"
                ],
                "firstDay": 1
            }
                },
            function (start, end, label) {

                desde = start.format('YYYY-MM-DD');
                hasta = end.format('YYYY-MM-DD');
                getlistarPartial();

            });

       
    });
////////////////////////////////////////////////////////////////GETS////////////////////////////////////////////////////////////////////////////
    function getlistarPartial(){
        var url = "@Url.Action("_ListarCajas")";
            
        $.ajax({
            type: "Post",
            url: url,
            data: { filtroFecha: crearFiltroFecha(), filtroNum: $('#filtroId').val(), filtroPV: $('#filtroPV').val() },
            success: function (data) {
                $('#partialCajas').html(data);
                cargarFiltros();
            },
            error: function (err, scnd) {
                console.log(err.statusText);
            }

        });
    }


    

 ////////////////////////////////////////////////FILTROS///////////////////////////////////////////////////////////////////////////////////////
    function crearFiltroFecha() {

        if ($('#habilitaFiltroFecha').prop('checked')) {

            return { desde: desde, hasta: hasta, filtrando: true }

        }
        else {
            return { desde: desde, hasta: hasta, filtrando: false }
        }
    }



    $('#ddUsuarios').on('change', function () {

        filtroUsuarios(this.value);
        
    });

    function filtroUsuarios(value) {
        tblCajas
            .columns(0)
            .search(value)
            .draw();
    }

    $('#Estados').on('change', function () {

        filtroEstado(this.value);
    });

    function filtroEstado(value) {
        tblCajas
            .columns(3)
            .search(value)
            .draw();
    }


    $('#habilitaFiltroFecha').change(function () {

        if (!$(this).prop('checked')) {
            $('#filtroFecha').attr('disabled', true);
        }

        else {
            $('#filtroFecha').attr('disabled', false);
        }

        getlistarPartial();

    });


    function cargarFiltros() {

        filtroEstado($('#Estados').val());
        filtroUsuarios($('#ddUsuarios').val());
    }

    



</script>

<style>
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }
</style>
