@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    ViewData["Title"] = SharedLocalizer["PuntoVenta"];

}

<div class="row">
    <div class="col-md-3"><h3>@SharedLocalizer["PuntoVenta"]</h3></div>
    <div class="col-md-6" style="padding-top: 0.5rem">
        <a asp-controller="PuntoVenta" asp-action="CrearPuntoVenta" class="btn btn-primary">@SharedLocalizer["Agregar"]</a>
    </div>
</div>

<div class="row">

    <div class="col-md-3 col-sm-4 col-xs-12" style="margin-top: 0.2rem">
        <label>@SharedLocalizer["buscarPorNombre"]:</label>
        <input type="text" id="filtroBuscarNombre" class="form-control" placeholder="@SharedLocalizer["Nombre"]" />
    </div>
    <div class="col-md-3 col-sm-4 col-xs-12" style="margin-top: 0.2rem">
        <label>@SharedLocalizer["buscarPorDescripcion"]:</label>
        <input type="text" id="filtroBuscarDes" class="form-control" placeholder="@SharedLocalizer["Descripción"]" />
    </div>

    <div class="col-md-3 col-sm-4 col-xs-12 checkbox" style="padding-top:1.5rem">
        <button value="0" class="btn btn-dark btnEstado" id="btnInactivo"><span>@SharedLocalizer["VerInactivos"]</span></button>
        <button value="1" class="btn btn-dark btnEstado" id="btnActivo"><span>@SharedLocalizer["VerActivos"]</span></button>
    </div>

</div>


<div class=" col-md-11 table-responsive">
    <table class="table table-bordered" id="tblPuntoVenta">
        <thead>
            <tr>
                <th hidden>
                </th>
                <th style="width:15%">
                    @SharedLocalizer["PuntoVenta"]
                </th>
                <th>
                    @SharedLocalizer["inactivo"]
                </th>
                <th>
                    @SharedLocalizer["tipo"]
                </th>
                <th>
                    @SharedLocalizer["Descripción"]
                </th>
                <th style="width:5%">
                    @SharedLocalizer["Acción"]
                </th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>


<script>
    var puntos = [];
    $(document).ready(function () {
        getPuntosVentas();
         $('#btnActivo').hide();
    });
    //Eventos directos
     $('.btnEstado').click(function () {

            $(this).hide();

         if ($(this).val() === '1') {
             filtroAnuladas(1);
                $('#btnInactivo').show();
            }
         else {
                filtroAnuladas(0);
                $('#btnActivo').show();
            }
        });
     $("#filtroBuscarNombre").on("keyup", function () {
        tblPuntoVenta
            .columns(1)
            .search(this.value)
            .draw();
     });

     $("#filtroBuscarDes").on("keyup", function () {
        tblPuntoVenta
            .columns(4)
            .search(this.value)
            .draw();
     });
    //Ajax
    function getPuntosVentas() {
          $.ajax({
            type: "get",

            dataType: "json",
            url: '@Url.Action("GetPuntosVentas", "PuntoVenta")',
            success: function (data) {
                console.log(data);
                puntos = data;
                filtroAnuladas(1);
            },
            error: function (err, scnd) {
                cargarAlert('@SharedLocalizer["errorGeneral"]');
                console.log(err.statusText);
            }
        });
    }
    function editarPuntoVenta(idPuntoVenta) {
        window.location.href = "@Url.Action("EditarPuntoVenta", "PuntoVenta", new { id = "__id__"})".replace("__id__", idPuntoVenta);
    }
    //Helpers
  function filtroAnuladas(cod) {
        var array = puntos;
        var arrayPuntos = [];
        if (cod==0) {

            for (var i = 0; i < array.length; i++) {
                if (array[i].inactivo)
                    arrayPuntos.push(array[i]);
            }

        }
         else
             for (var i = 0; i < array.length; i++) {
                if (!array[i].inactivo)
                    arrayPuntos.push(array[i]);
             }

        cargarDatos(arrayPuntos);

  }
  function recuperarFecha(_fecha) {
     var f = new Date(_fecha);
     return f.toLocaleString();
   }

  function cargarDatos(data) {

        $("#tblPuntoVenta> tbody").remove();
        $('#tblPuntoVenta').append('<tbody></tbody>');

        var contadorFila = 0;
        var colorFila = "";

        for (var i = 0; i < data.length; i++) {
             var Inactivo = '@SharedLocalizer["No"]';
            if (data[i].inactiva) {
                colorFila = "color: #808080";
                Inactivo ='@SharedLocalizer["Si"]';
            }

            var body = '<tr class="fila' + contadorFila + ' filas" style="' + colorFila + '">'
                 + '<td hidden>' + contadorFila + '</td>'
                 + '<td>' + data[i].nombre + '</td>'
                 + '<td>' + Inactivo + '</td>'
                 + '<td>' + recuperarTipo(data[i].tipo) + '</td>'
                 + '<td>' + data[i].descripcion + '</td>'
                 + '<td><button value="' + data[i].idPuntoVenta + '" onclick="editarPuntoVenta('+data[i].idPuntoVenta+')" class="btn btn-link btnEditar"><i class="fas fa-edit"></i></button></td></tr>';

            $('#tblPuntoVenta > tbody').append(body);
                contadorFila++;
        }
          inicializarTabla();
  }

  function inicializarTabla() {

        $('#tblPuntoVenta').DataTable().destroy();

        tblPuntoVenta = $('#tblPuntoVenta').DataTable({
            "info": false,
            dom: 'Bfrtip',
              language: {
                "decimal": "",
                "emptyTable": "@SharedLocalizer["NoDatos"]",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "@SharedLocalizer["Mostrar"] _MENU_ @SharedLocalizer["Entradas"]",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "<i class='fas fa-search'></i>",
                "zeroRecords": "@SharedLocalizer["sinResultados"]",
                "paginate": {
                    "first": "@SharedLocalizer["Primero"]",
                    "last": "@SharedLocalizer["Último"]",
                    "next": "@SharedLocalizer["Sguiente"]",
                    "previous": "@SharedLocalizer["Anterior"]"
                }
            },
            buttons: [

            ]
        });

  }
  function recuperarTipo(id) {
        var tipo = "";
        if (id == 1)
            tipo = '@SharedLocalizer["Front"] @SharedLocalizer["Desk"]';
        if(id==2)
            tipo= '@SharedLocalizer["comercioGeneral"]';
        if(id==3)
           tipo = '@SharedLocalizer["Tour"] @SharedLocalizer["Desk"]';
        if(id==4)
            tipo = '@SharedLocalizer["Restaurante"]';
        return tipo;
  }

</script>
<style>
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }
</style>