
@inject IStringLocalizer<SharedResources> Lb
@{
    ViewData["Title"] = "Facturas";
}

@{
    var date = DateTime.Now;

}

<div class="row">
    <div class="col-md-2 col-md-3 col-xs-6">
        <h3>@Lb["Facturas"]</h3>
    </div>
    <div class="col-md-4 col-md-7 col-xs-5" style="margin-left:1rem; padding-top:0.7rem">
        <p>
            <a onclick="validarExistePuntoVenta()" class="btn btn-primary"><span>@Lb["Agregar"] </span>&nbsp;<i class="fas fa-plus-circle"></i></a>
        </p>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-3 col-sm-3 col-xs-12">

        <div class="form-group col-md-6 col-sm-6 col-xs-6">
            <label for="filtroPV">@Lb["PuntoVenta"]:</label>
            <select class="form-control" id="filtroPV" onchange="getFacturas()">
                <option value="0">@Lb["Todos"]</option>
                @foreach (var item in ViewData["puntoVenta"] as IList<TbSePuntoVenta>)
                {
                    <option value="@item.IdPuntoVenta">@item.Nombre</option>
                }
            </select>


        </div>
        <div class="form-group col-md-6 col-sm-6 col-xs-6">
            <label for="filtroEstado">@Lb["Estado"]:</label>
            <select class="form-control" id="filtroEstado" onchange="getFacturas()">
                <option value="-1">@Lb["Todos"]</option>
                <option value="Anulada">@Lb["ANULADO"]</option>
                <option value="Pendiente">@Lb["PENDIENTE"]</option>
                <option value="Enviada">@Lb["ENVIADA"]</option>

            </select>
        </div>
    </div>
        <div class="form-group col-md-2 col-sm-3 col-xs-12">
            <label for="filtroCliente">@Lb["Cliente"]:</label>
            <input type="text" class="form-control" id="filtroCliente" placeholder="@Lb["Cliente"]" onchange="getFacturas()">
        </div>
        <div class="form-group col-md-2 col-sm-3 col-xs-12">
            <label for="filtroVendedor">@Lb["Vendedor"]:</label>
            <input type="text" class="form-control" id="filtroVendedor" placeholder="@Lb["Vendedor"]" onchange="getFacturas()">
        </div>
        <div class="form-group col-md-2 col-sm-3 col-xs-12">
            <label class="control-label">
                <input type="checkbox" id="habilitaFiltroFecha"> @Lb["FiltroFecha"]
            </label>
            <form id="frmFecha" class="form-horizontal">
                <fieldset>
                    <div class="control-group">
                        <div class="controls">
                            <div class="input-prepend input-group">
                                <span class="add-on input-group-addon"><i class="fas fa-calendar"></i></span>
                                <input type="text" style="width: 200px" name="filtroFecha" id="filtroFecha" class="form-control" value="@date.Date - @date.Date" />
                            </div>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-xs-12" id="facturasPartial">

        </div>
    </div>

    <script>
        var desde;
        var hasta;
        $('#habilitaFiltroFecha').change(function () {

            if (!$(this).prop('checked')) {
                $('#filtroFecha').attr('disabled', true);
            }
            else {
                $('#filtroFecha').attr('disabled', false);
            }

            getFacturas();
        });
    $(document).ready(function () {

        hasta = new Date().toLocaleString();
        desde = new Date().toLocaleString();

        getFacturas();

        $('#filtroFecha').attr('disabled', true);

        $('#filtroFecha').daterangepicker({
            opens: 'left',

            "locale": {
                format: "@Lb["formatoFecha"]",
                "separator": " - ",
                "applyLabel": "@Lb["Aplicar"]",
                "cancelLabel": "@Lb["Cancelar"]",
                "fromLabel": "@Lb["DE"]",
                "toLabel": "@Lb["Hasta"]",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "@Lb["Dom"]",
                    "@Lb["Lun"]",
                    "@Lb["Mar"]",
                    "@Lb["Mie"]",
                    "@Lb["Jue"]",
                    "@Lb["Vie"]",
                    "@Lb["Sáb"]"
                ],
                "monthNames": [
                    "@Lb["Enero"]",
                    "@Lb["Febrero"]",
                    "@Lb["Marzo"]",
                    "@Lb["Abril"]",
                    "@Lb["Mayo"]",
                    "@Lb["Junio"]",
                    "@Lb["Julio"]",
                    "@Lb["Agosto"]",
                    "@Lb["Septiembre"]",
                    "@Lb["Octubre"]",
                    "@Lb["Noviembre"]",
                    "@Lb["Diciembre"]"
                ],
                "firstDay": 1
            }
        },
        function (start, end, label) {

            desde = start.format('YYYY-MM-DD');
            hasta = end.format('YYYY-MM-DD');
            getFacturas();

            });

    });

    var facturas = [];

    $(function () {

        getFacturas();

    });

    function getFacturas()
    {
        var fDesde = "";
        var fHasta = "";
        if ($('#habilitaFiltroFecha').prop('checked')) {
            fDesde = desde;
            fHasta = hasta;
        }
        console.log("Desde: " + fDesde); console.log("Hasta:" + fHasta)
        $.ajax({
            type: "POST",
            url: '@Url.Action("_ListarFacturas", "Factura")',
            data: { pv: $('#filtroPV').val(), estado: $('#filtroEstado').val(), nombreCliente: $('#filtroCliente').val(), nombreVendedor: $('#filtroVendedor').val(), fechaDesde: fDesde, fechaHasta: fHasta },
            success: function (data) {
                $('#facturasPartial').html(data);
            },
            error: function (err, scnd) {
                cargarAlert('@Lb["errorGeneral"]');
                console.log(err.statusText);
            }
        });
    }

    function validarExistePuntoVenta() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("ValidarPV", "Factura")',
            dataType: 'json',
            success: function (data) {
                if (data) {
                    validarExisteFlujoCategoria();
                }
                else
                    cargarAlert("@Lb["puntoVentaInvalido"]");
            },
            error: function (err, scnd) {
                cargarAlert('@Lb["errorGeneral"]');
                console.log(err.statusText);
            }
        });

    }

    function validarExisteFlujoCategoria() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ExisteCatFlujo", "Factura")',
            dataType: 'json',
            success: function (data) {

                if (data) {
                    window.location.href = '@Url.Action("CrearFactura")';
                }
                else
                    cargarAlert("@Lb["configurarCategoriaFlujo"]");
            },
            error: function (err, scnd) {
                cargarAlert('@Lb["errorGeneral"]');
                console.log(err.statusText);
            }
        });
    }


    </script>
