
@inject IStringLocalizer<SharedResources> Lb
@{
    ViewData["Title"] = "Facturas";
}



<div class="row">
    <div class="col-md-2 col-md-3 col-xs-6">
        <h3>@Lb["Facturas"]</h3>
    </div>
    <div class="col-md-4 col-md-7 col-xs-5" style="margin-left:1rem; padding-top:0.7rem">
        <p>
            <a onclick="validarExistePuntoVenta()" class="btn btn-primary"><span>@Lb["Agregar"] </span>&nbsp;<i class="fas fa-plus-circle"></i></a>
        </p>
    </div>
</div>

<div class="row">
    <div class="form-group col-md-3 col-sm-3 col-xs-12">
        <label for="filtroPV">@Lb["filtroPV"]:</label>
        <select class="form-control" id="filtroPV" onchange="getFacuras()">
            <option value="0">@Lb["Todos"]</option>
            @foreach (var item in ViewData["puntoVenta"] as IList<TbSePuntoVenta>)
            {
                <option value="@item.IdPuntoVenta">@item.Nombre</option>
            }
        </select>
    </div>
</div>

<div class="row">

    <div class="col-md-12 col-sm-12 col-xs-12" id="facturasPartial">

    </div>
</div>

<script>

    var facturas = [];

    $(function () {

        getFacuras();

    });

    function getFacuras() {

        $.ajax({
            type: "POST",
            url: '@Url.Action("_ListarFacturas", "Factura")',
            data: { pv: $('#filtroPV').val() },
            success: function (data) {
                $('#facturasPartial').html(data);
            },
            error: function (err, scnd) {
                cargarAlert('@Lb["errorGeneral"]');
                console.log(err.statusText);
            }
        });
    }

    function validarExistePuntoVenta() {

        $.ajax({
            type: "GET",
            url: '@Url.Action("ValidarPV", "Factura")',
            dataType: 'json', 
            success: function (data) {
                if (data) {
                    validarExisteFlujoCategoria();
                }
                else
                    cargarAlert("@Lb["puntoVentaInvalido"]");
            },
            error: function (err, scnd) {
                cargarAlert('@Lb["errorGeneral"]');
                console.log(err.statusText);
            }
        });
       
    }

    function validarExisteFlujoCategoria() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("ExisteCatFlujo", "Factura")',
            dataType: 'json', 
            success: function (data) {

                if (data) {
                    window.location.href = '@Url.Action("CrearFactura")';
                }
                else
                    cargarAlert("@Lb["configurarCategoriaFlujo"]");
            },
            error: function (err, scnd) {
                cargarAlert('@Lb["errorGeneral"]');
                console.log(err.statusText);
            }
        });
    }
    

</script>