
@model AltivaWebApp.Domains.TbFdTipoProveedor
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<div class="container">
  
    <div class="col-md-12">
        <div class="row">
            @{

                if (Model.Nombre == null)
                {


                    <h2>Tipo de cliente:</h2>



                }
                else if (Model.IdPadre == 0)
                {

                    <h2>Familia:</h2>
                    <div class="form-group">
                        <label>Tipo:</label>
                        <div hidden>
                            <input type="text" asp-for="Id" id="idFamilia" />
                            <input type="text" asp-for="IdPadre" id="idPadre" />
                        </div>
                        <input type="text" disabled="disabled" value="@Model.Nombre" class="form-control" />
                    </div>
                }
                else
                {

                    <h2>Sub-Familia:</h2>
                    <div class="form-group">
                        <div hidden>
                            <input type="text" asp-for="Id" id="idSubFamilia" />
                            <input type="text" asp-for="IdPadre" id="idSubFamiliaPadre" />
                        </div>
                        <label>Familia:</label>
                        <input type="text" disabled="disabled" value="@Model.Nombre" class="form-control" />
                    </div>
                }
            }

            <div class="form-group">
                <label> Nombre:</label>
                <input type="text" class="form-control" id="nombreProveedor" />
                <div class="AlertEditarNombre"></div>
            </div>

        </div>
        <div class="row">
            @if (Model.Nombre == null)
            {
                <button class="btn btn-success" onclick="btnGuardarTipoProveedor()" type="submit">Guardar</button>
            }
            else if (Model.IdPadre == 0)
            {
                <button class="btn btn-success" onclick="btnGuardarFamiliaProveedor()" type="submit">Guardar</button>

            }
            else
            {
                <button class="btn btn-success" onclick="btnGuardarSubFamiliasProveedor()" type="button">Guardar</button>

            }
            <button  class=" btn btn-default" data-dismiss="modal" >Cerrar</button>
        </div>
    </div>
</div>
<script>
    //guardar subfamilia en base alas familias de los tipos
    function btnGuardarSubFamiliasProveedor() {
        if (ValidarDatos() == true) {
            var nombre = "";
            var nombre = "";
            nombre = $("#nombreProveedor").val();
            var TipoClienteViewModels = {
                id: null,
                idPadre: $('#idSubFamilia').val(),
                nombre: nombre,
                inactivo: false
            };
            var urls = '@Url.Action("CrearTipoProveedor", "TipoProveedor")';
            $.ajax({
                type: "POST",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: urls,
                data: { domain: TipoClienteViewModels },
                success: function (data) {
                    getSubfamiliaProveedors($('#familiaProveedor').val());
                    $('#modalTipoCliente').modal('hide');
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                }
            });
        }
    }
    //guardar familia del tipo del cliente
    function btnGuardarFamiliaProveedor() {
        if (ValidarDatos() == true) {
            var nombre = "";
            nombre = $("#nombreProveedor").val();
            var TipoClienteViewModels = {
                id: null,
                idPadre: $('#idFamilia').val(),
                nombre: nombre,
                inactivo: false
            };
            var urls = '@Url.Action("CrearTipoProveedor", "TipoProveedor")';
            $.ajax({
                type: "POST",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: urls,
                data: { domain: TipoClienteViewModels },
                success: function (data) {
                    getfamiliaProveedors($('#tipoProveedor').val());
                    $('#modalTipoCliente').modal('hide');
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                }
            });
        }
    }

    //guardar tipo cliente

    function btnGuardarTipoProveedor() {
        //agregar familia
        if (ValidarDatos() == true) {
            var nombre = "";
            nombre = $("#nombreProveedor").val();
            /*
            if ($('#idPadre').val() == 0 && nombre != true) {
    
                var TipoClienteViewModel = {
                    id: null,
                    idPadre: $('#idFamilia').val(),
                    nombre: nombre,
                    inactivo: false
                };
            } else if ($('#IdPadreFamilia').val() != 0 && nombre != true) {
    
    
            }*/

            var TipoClienteViewModel = {
                id: null,
                idPadre: 0,
                nombre: nombre,
                inactivo: false
            };
            var url = '@Url.Action("CrearTipoProveedor", "TipoProveedor")';
            $.ajax({
                type: "POST",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: { domain: TipoClienteViewModel },
                success: function (data) {
                    getTiposProveedor();
                    $('#modalTipoCliente').modal('hide');
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                }
            });
        }
    }
    function ValidarDatos() {
        if ($('#nombreProveedor').val() == "") {
            $('#AlertEditarNombre').empty();
            $('#AlertEditarNombre').append('<span class="danger-text">El Nombre es requerido.</span>');
            return false;
        }

        return true;
    }
</script>
