@model AltivaWebApp.Domains.TbFdTipoCliente
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<div class="container">
    <div class="col-md-12">
        <div class="row">







            <div class="form-group">
                <label> Nombre:</label>
                <div hidden>
                    <input type="text" asp-for="Id" id="idCliente" />

                </div>
                <input type="text" class="form-control" id="nombre" asp-for="Nombre" />
            </div>

        </div>
        <div class="row">

            <button class="btn btn-success" onclick="btnEditarTipoCliente()" type="submit">Guardar</button>



            <button class="btn btn-default">Cerrar</button>
        </div>
    </div>
</div>
<script>
//guardar subfamilia en base alas familias de los tipos
    function btnEditarSubFamilias() {
        var nombre = "";
        var nombre = "";
        nombre = $("#nombre").val();
        var TipoClienteViewModels = {
            id: $('#idCliente').val(),
            idPadre: null,
            nombre: nombre,
            inactivo: false
        };
                var urls = '@Url.Action("EditarTipoProveedor", "TipoProveedor")';
            $.ajax({
                type: "POST",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: urls,
                data: { domain: TipoClienteViewModels},
                success: function (data) {
                    getSubFamilias($('#familia').val());
                $('#modalTipoCliente').modal('hide');
            },
            error: function (err, scnd) {
                console.log(err.statusText);
            }
        });
    }
    //guardar familia del tipo del cliente
    function btnEditarFamilia() {

        var nombre = "";
        nombre = $("#nombre").val();
        var TipoClienteViewModels = {
            id: $('#idCliente').val(),
            idPadre: null,
            nombre: nombre,
            inactivo: false
        };
        var urls = '@Url.Action("EditarTipoProveedor", "TipoProveedor")';
            $.ajax({
                type: "POST",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: urls,
                data: { domain: TipoClienteViewModels},
                success: function (data) {
                    getFamilias($('#tipoClientes').val());
                $('#modalTipoCliente').modal('hide');
            },
            error: function (err, scnd) {
                console.log(err.statusText);
            }
        });
    }

    //guardar tipo cliente

    function btnEditarTipoCliente() {
        //agregar familia

        var nombre = "";
        nombre = $("#nombre").val();
        /*
        if ($('#idPadre').val() == 0 && nombre != true) {

            var TipoClienteViewModel = {
                id: null,
                idPadre: $('#idFamilia').val(),
                nombre: nombre,
                inactivo: false
            };
        } else if ($('#IdPadreFamilia').val() != 0 && nombre != true) {


        }*/

        var TipoClienteViewModel = {
            id: $('#idCliente').val(),
            idPadre: 0,
            nombre: nombre,
            inactivo: false
        };
        var url = '@Url.Action("EditarTipoProveedor", "TipoProveedor")';
            $.ajax({
                type: "POST",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,
                data: { domain: TipoClienteViewModel},
                success: function (data) {

                    getTiposClientes();
                    getFamilias(data);
                    getSubFamilias(data);
                $('#modalTipoCliente').modal('hide');
            },
            error: function (err, scnd) {
                console.log(err.statusText);
            }
        });
    }

</script>