
@model IEnumerable<TbPrFamiliaVentaOnline>
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-md-12"><h3>Familias Online</h3></div>
    <div class="col-md-3">
        <select id="familias" class="form-control search-key">
            @{
                foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Descripcion</option>
                }

            }

        </select>
    </div>
    <div class="col-md-6">
        <button class="btn btn-link crearEditarFamilia" value="crear">
            <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
        </button>
        <button class="btn btn-link crearEditarFamilia" id="editarFamilia" value="editar">
            <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
        </button>
        <button id="eliminarFamilia" data-toggle="confirmation" class="btn btn-link">
            <span style="font-size: 2rem"><i class="fas fa-trash"></i></span>
        </button>
    </div>
</div>


<div class="row">
    <div class="col-md-8" id="subFamilias">
        <partial name="_ListarSubFamilias" model="new TbPrFamiliaVentaOnline()" />
    </div>
</div>

<div>
    <!-- Modal -->
    <div class="modal fade" id="modalFamilia" tabindex="-1" role="dialog" aria-labelledby="familiaModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" id="crearEditarPartial">

                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {


        //$("#guardarFamilia").attr("disabled", true);
        deshabilitarBtn();
        getFamilias();


        $('#familias').on('change', function () {

            getFamilias();

        });


        $('.crearEditarFamilia').on('click', function () {


                var url = '';
                if ($(this).val() === "editar") {
                    url = 'Editar-Familia/' + $('#familias').val();

                }
                else {
                    url = 'Crear-Familia/';
                }


                $.ajax({
                    type: "GET",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: url,

                    success: function (data) {
                        $('#crearEditarPartial').html(data);
                        $('#modalFamilia').modal('show');
                    },
                    error: function (err, scnd) {
                        cargarAlert("@Lb["errorGeneral"]");
                    }

                });

        });


        $('#eliminarFamilia').on('click', function () {

                $.ajax({
                    type: "GET",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: 'Eliminar-Familia/' + $('#familias').val(),

                    success: function (data) {
                        if (data.data) {
                            $("#familias option:selected").remove();
                            var primeraPos =
                            $("#familiasoption:first-child").attr('selected', 'selected');
                            $("#familias").trigger('change');
                        }

                        else
                            cargarAlert("@Lb["familiaConSubFamilias"]");
                    },
                    error: function (err, scnd) {
                       cargarAlert("@Lb["errorGeneral"]");
                    }

                });

        });




    });

    function getFamilias() {

        if ($('#familias') != 0) {
                habilitarBtn();
            }
            else {
                deshabilitarBtn();
        }

        var url = '@Url.Action("ListarSubFamilias", "FamiliaVentaOnline")';

                $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: url,
                    data: { id: $('#familias').val()},
                    success: function (data) {
                        $('#subFamilias').html(data);
                    },
                    error: function (err, scnd) {
                        cargarAlert("@Lb["errorGeneral"]");
                    }
                });

    }

    function setFamiliasOnline(data) {

        ///valida si es una familia
        var model = $('#frmFamilia').serializeArray();
        if (!$('#esSubfamilia').is(':checked')) {
            //si edito remueve el option anterior
            if (data.edita) {
                $("#familias option[value= " + data.familia.id + "]").remove();
            }

            var text = data.familia.descripcion;
            var o = new Option(text, data.familia.id);
            $(o).attr('selected', true);
            $("#familias").append(o);
        }

        ///valida si es subfamilia
        else if (model[4].value != null && data.edita) {

            $("#familias").val(model[4].value);

            if (data.edita && data.familia.idFamilia != null) {
                $("#familias option[value= " + data.familia.id + "]").remove();
            }
        }


        $("#familias").trigger('change');
        $('#modalFamilia').modal('hide');

    }

    function habilitarBtn() {
        $("#editarFamilia").attr("disabled", false);
        $("#eliminarFamilia").attr("disabled", false);
        $(".crearEditarSubFamilia").attr("disabled", false);

    }
    function deshabilitarBtn() {
        $("#editarFamilia").attr("disabled", true);
        $("#eliminarFamilia").attr("disabled", true);
        $(".crearEditarSubFamilia").attr("disabled", true);
    }



</script>
