@model AltivaWebApp.ViewModels.LoginViewModel
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    Layout = "_HomeLayout";
    var emailModel = new EmailViewModel();
    ViewData["Title"] = Lb["Acceder"] + " - ALTIVA";
}
<style>
</style>
<div class="card" style="border-color:#0C68B1; border:solid">
    <div class="card-body">
        <h5 class="card-title">@Lb["ingreseCredenciales"]</h5>
        <div class="row ">
            <div class="col-md-12">
                <form id="frmLogin">
                    <span hidden class="text-danger" id="userInvalid">@Lb["userInValid"].</span>
                    <span hidden class="text-danger" id="userInactive">@Lb["userInactive"].</span>

                    <div class="form-group">
                        <label asp-for="usuario" class="control-label">@Lb["Usuario"]:</label>
                        <input asp-for="usuario" class="form-control" onkeyup="pasarSigCampo(event,'contrasena')" />
                        <span hidden class="text-danger" id="userValid">@Lb["userValid"].</span>
                    </div>
                    <div class="form-group">
                        <label asp-for="contrasena" class="control-label">@Lb["Contraseña"]:</label>
                        <input asp-for="contrasena" class="form-control" onkeyup="pasarSigCampo(event,'Ingresar')" type="password" />
                        <span hidden class="text-danger" id="passwordValid">@Lb["contrasenaValid"].</span>


                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <span>@Lb["Recordarme"]</span> <input asp-for="recuerdame" />
                            </label>
                        </div>
                    </div>

                </form>
                <div class="form-group">
                    <div>
                        <button type="submit" onclick="validarForm()" id="Ingresar" class="btn btn-primary">@Lb["Acceder"]</button>
                    </div>
                </div>
                <div class="row"><button class="btn btn-link" onclick="olvideContrasena()"> @Lb["olvideContraseña"]</button></div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="recuperarContrasena" tabindex="-1" role="dialog" aria-labelledby="recuperarContrasenaLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <partial name="../Cuenta/RecuperarContrasena" model="@emailModel" />
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('input[type="text"]')[0].focus();

    });
     function pasarSigCampo(e,id)
  {

	  (e.keyCode)?k=e.keyCode:k=e.which;

	   if(k==13)
	   {
		  if(id=="Ingresar")
		  {
              validarForm();
          }
           else
           {
              document.getElementById(id).focus();

		   }
	   }
  }
    function login()
    {

         $.ajax({
              type: "post",

              dataType: "json",
            url: '@Url.Action("LoginPost", "Cuenta")',
             data: $("#frmLogin").serialize(),
             success: function (data) {

                 console.log(data);
                 validarLogin(data);

             },
            error: function (err, scnd) {
                  cargarAlert('@Lb["errorGeneral"]');
                  console.log(err.statusText);
             }
         });
    }
    function validarLogin(data)
    {

            if (data.success) {

                var config = data.userConfig;

                console.log(config);

                localStorage.setItem('avatar', data.avatar);

                if (config.idioma != '') {
                    localStorage.setItem("idioma", config.idioma);
                    cambioIdioma();
                }

                if (config.tema != '') {
                    localStorage.setItem("tema", config.tema);
                }

                window.location.href = setIdiomaUrl("@Url.Action("ListarEmpresas", "GrupoEmpresarial")");
            }
        if (!data.success) {
            $("#contrasena").val("");


            if (data.credentials == false)
                    $("#userInvalid").prop("hidden", false);
                else
                    $("#userInvalid").prop("hidden", true);

            if (data.active == false)
                    $("#userInactive").prop("hidden", false);
            else
                    $("#userInactive").prop("hidden", true);


        }



    }
    function validarForm()
    {
        var validar = true;
        if ($("#usuario").val().replace(/ /g, "") == "")
        {
            $("#userValid").prop("hidden", false);
            validar = false;
        }
        else {
            $("#userValid").prop("hidden", true);
        }
        if ($("#contrasena").val().replace(/ /g, "") == "")
        {
            $("#passwordValid").prop("hidden", false);
            validar = false;

        } else {
           $("#passwordValid").prop("hidden", true);

        }


        if (validar)
            login();
    }

    function olvideContrasena() {

        $('#correo').val("");
        $('#correoValid').prop('hidden', true);
        $('#recuperarContrasena').modal('show');

    }

</script>