@model AltivaWebApp.ViewModels.CamposPersonalizadosViewModelSingle
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


<hr />
<div class="row "  id="empty2">
    <div class="col-md-4 ">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div hidden><label hidden>Campo de tipo:</label> @Model.Tipo</div>
        <div class="form-group">
            <input type="text" asp-for="@Model.Id" id="id" hidden />
        </div>
        <div class="form-group">
            <input type="text" asp-for="@Model.Tipo" id="Tipo" hidden />
        </div>
        <div class="form-group">
            <input type="text" asp-for="@Model.Estado" id="Estado" hidden />
        </div>
        <div class="form-group">
            <label lass="control-label">Digite el nombre de la Lista</label>
            <input type="text" class="form-control" id="nombreLista" asp-for="@Model.Nombre" />
            <div id="mensaje"></div>
        </div>

        <div class="form-group" hidden>
            <label lass="control-label">Tipo</label>
            <input type="text" class="form-control" disabled="disabled" placeholder="Lista Desplegable" id="tipo" />

        </div>
        <div class="form-group">
            <table class="table table-bordered">
                <tr>
                    <th><button class="btn btn-link" id="AgregarLista"><i style="font-size:2rem;" class="fas fa-plus"></i></button></th>
                </tr>
                <tr>
                    <th>  <div id="mensaje1"></div></th>
                </tr>
            </table>
        </div>



    </div>
    <div class="col-md-8" id="pa">

        <div class="  pre-scrollable " id="camposLista">
            <table class="table table-hover">
                <tbody id="uls">
                    <tr>

                        <th>Nombre de la opcion</th>
                        <td>Accion</td>
                    </tr>


                </tbody>

            </table>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-12">
            @if (ViewBag.id ==1)
            {

                <button type="button" onclick="EditarListaCampo()" class="btn btn-success">Guardar <i class="fas fa-save"></i></button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>

            }
            else if(ViewBag.id == 0)
            {

                <button type="submit" onclick="guardar()" class="btn btn-success">Guardar <i class="fas fa-save"></i></button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>


            }

        </div>
    </div>
</div>

    <script>
        var l = 0;

    $(document).ready(function () {
      
        if (@ViewBag.id == 1) {

            tableListaDesplegable();        }
      
        });
        function tableListaDesplegable() {
              $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("GetCampos", "ListaDesplegable")',

          data: {id:@Model.Id},

       success: function (data1) {


                        for (l= 0; l < data1.length; l++) {

                            $('#uls').append('<tr><th class="col-md-8"><input hidden type="text" value="' + data1[l].idListaDesplegable + '"  id="l' + l + '" /><input type="text"  id="cam' + l + '"  value="' + data1[l].idCampoPersonalizado + '" hidden/><input type="text"  class="form-control" id="e' + l + '" value="' + data1[l].valor + '" /><div  id="mensajeLi' + l + '"></div> </th><td><button class="btn btn-link" onclick="EliminarCamposListaDesplegable(' + data1[l].idCampoPersonalizado + ');"><i class="fas fa-trash dark"></i></button></td></tr>');

                        }



                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
        }
        var i = 0;
    $('#AgregarLista').on('click', function () {

        $('#uls').append('<tr id="li' + i + '"><th id="li' + i + '" class="col-md-8" ><input type="text" class="form-control" id="c' + i + '"/> <div  id="mensajeLi1' + i + '"></div></th><td id="li' + i + '"><button id="li' + i + '" class="btn btn-link" onclick="eliminarCampo(' + i + ');"><i id="li' + i + '" class="fas fa-trash"></i></button></td></tr>');

        i++;
    });




     function eliminarCampo(id) {
        var opcion = confirm("<span>Esta seguro que desea eliminar el campo?</span>");
        var mensaje;
        if (opcion == true) {
            $("#camposLista #li" + id + "").remove();

            i--;
            setTimeout(function () {
                $("#mensaje").fadeOut(10);
            }, 2000);

        } else {
            return;
        }


    }

    function EliminarCamposListaDesplegable(id) {
          $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",



                    url: '@Url.Action("Delete", "ListaDesplegable")',

                    data: { id: id },
              success: function (data) {
                  $('#uls').empty();
                        tableListaDesplegable();

                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
    }
    function EditarListaCampo() {
        var nombreLista = $('#nombreLista').val();


 if (nombreLista == "") {
                $('#mensaje').empty();
                $('#mensaje').append('<span class="text-danger">El nombre es requerido.</span>');
                return false;
        }

            for (var j = 0; j < l; j++) {
                if ($('#e' + j + '').val() == "") {
                    $('#mensajeLi' + j + '').empty();
                    $('#mensajeLi' + j + '').append('<span class="text-danger">El campo es querido</span>');
                    return false;
                }
            }

        if (l < 0) {
            $('#mensaje1').empty();
            $('#mensaje1').append('<span class="text-danger">Debes seleccionar un campo.</span>');
            return false;
        }
        var domain1 = {
                    id: $('#id').val(),
                    nombre: nombreLista,
                    tipo: "lista",
                    valor: "Activo"
        };
        if (i != 0) {

            for (var j = 0; j < i; j++) {
                if ($('#c' + j + '').val() == "") {
                    $('#mensajeLi1' + j + '').empty();
                    $('#mensajeLi1' + j + '').append('<span class="text-danger">El campo es querido</span>');
                    return false;
                }
            }

        }
      
                $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",



                    url: '@Url.Action("Editar", "CamposPersonalizados")',

                    data: { model1: domain1 },
                    success: function (data) {
                        EditarListaCamposPersonalizados();

                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });

    }
 function EditarListaCamposPersonalizados(){
     var ArrayLista = [];
     for (var j = 0; j < l; j++) {
         var model2 = {

             idCamposPersonalizados: $('#cam'+j+'').val(),
             valor: $('#e' + j + '').val()
         };
         ArrayLista.push(model2);
     }

     console.log(ArrayLista);
     var ArrayLista1 = [];
        $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("EditarListaCampos", "ListaDesplegable")',

            data: { domain: ArrayLista },
                    success: function (data) {
                         if (i != 0) {


                            for (var j = 0; j < i; j++) {

                                var model2 = {

                                    idCamposPersonalizados: $('#id').val(),
                                    valor: $('#c' + j + '').val()
                                };
                                ArrayLista1.push(model2);
                            }
                            $.ajax({
                                headers: {
                                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                                },
                                type: "POST",


                                url: '@Url.Action("CrearCamposRelacionLista", "ListaDesplegable")',

                                data: { lista: ArrayLista1 },
                                success: function (data) {
                                    $('#ul').empty();
                                    $('#uls').empty();
                                    
                                    cargarTable();
                                    $('#crearLista').modal('hide');
                                },

                                error: function (err, scnd) {
                                    console.log(err.statusText);
                                }

                            });
                         } else {
                             $('#ul').empty();
                             $('#uls').empty();
                               cargarTable();
                                    $('#crearLista').modal('hide');
                        }
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
    }

        //guardar la lista desplegable.
        function guardar() {
            var nombreLista = $('#nombreLista').val();

            if (nombreLista == "") {
                $('#mensaje').empty();
                $('#mensaje').append('<span class="text-danger">El nombre es requerido.</span>');
                return false;
            }
            for (var j = 0; j < i; j++) {
                if ($('#c' + j + '').val() == "") {
                    $('#mensajeLi' + j + '').empty();
                    $('#mensajeLi' + j + '').append('<span class="text-danger">El campo es querido</span>');
                    return false;
                }
            }
            if (i <= 0) {
                $('#mensaje1').empty();
                $('#mensaje1').append('<span class="text-danger">Debes seleccionar un campo.</span>');
                return false;
            }

                var model1 = {
                    id:0,
                    nombre: nombreLista,
                    tipo: "lista",
                    valor: "Inactivo"
                };

                $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("CrearCampos", "ListaDesplegable")',

                    data: { model1: model1 },
                    success: function (data) {
                        agregarRelacionLista(data);

                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });

        }
        //agrega relacion con el campo personalizado
        function agregarRelacionLista(data) {
            var ArrayLista = [];
            for (var j = 0; j < i; j++) {

                var model2 = {

                    idCamposPersonalizados: data.id,
                    valor: $('#c'+j+'').val()
                };
                ArrayLista.push(model2);
            }
           $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("CrearCamposRelacionLista", "ListaDesplegable")',

               data: { lista: ArrayLista },
               success: function (data) {
                   $('#ul').empty();
                   $('#uls').empty();
                   cargarTable();
               
                   $('#crearLista').modal('hide');

                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
        }
    </script>


