@model AltivaWebApp.ViewModels.FamiliaViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{

    Layout = null;
}

<div class="row">
    <div class="col-md-6">
        @if (Model.Id != 0)
        {
            <h4 class="modal-title" id="familiaModallabel">@SharedLocalizer["Editar"] @SharedLocalizer["Familia"] (@SharedLocalizer["Sub-Familia"])</h4>
        }
        else
        {
            <h4 class="modal-title" id="familiaModallabel">@SharedLocalizer["nuevaFamilia"] (@SharedLocalizer["Sub-Familia"])</h4>
        }

    </div>
    <div class="col-md-6">
        <button type="button" class="close" onclick=" btnCancelar()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<hr />
<div class="row">

    <form id="frmFamilia" class="col-md-6 col-sm-8 col-xs-12">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.IdUsuario)
        @Html.HiddenFor(x => x.FechaCreacion)

        <div class="form-group">
            <label asp-for="Descripcion" class="control-label">@SharedLocalizer["descripcion"]:</label>
            <input asp-for="Descripcion" maxlength="50" class="form-control" />
            <span hidden id="validatedTextDescripcion" class="text-danger">@SharedLocalizer["descripcionRequerida"]</span>
            <span hidden id="repetidoValid" class="text-danger">@SharedLocalizer["repetidoValid"]</span>
        </div>

        <div class="form-group">
            <div class="form-check">

                <label class="form-check-label">
                    <input id="esSubfamilia" type="checkbox" class="form-check-input" /> @SharedLocalizer["esSubFamilia"]
                </label>
            </div>
        </div>
        <div id="familiaPadre" class="form-group">
            <label class="control-label">@SharedLocalizer["Familia"]:</label>
            <select onchange="validarFamiliaPadre()" asp-for="IdFamilia" id="familiaPadreSelect" class="form-control search-key">
                <option value="null" selected>@SharedLocalizer["Seleccione"]</option>
                @{
                    foreach (var item in ViewData["familias"] as List<TbPrFamilia>)
                    {
                        if (item.Id != Model.Id)
                        {
                            <option value="@item.Id">@item.Descripcion</option>
                        }
                    }
                }
            </select>
        </div>
    </form>


    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <button onclick="guardarFamilia()" id="submitFrmFamilia" class="btn btn-success"><span>@SharedLocalizer["Guardar"]</span> <span><i class="fas fa-save"></i></span></button>
        <button class="btn btn-default" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
    </div>


</div>


<script>
    $(document).ready(function () {



        var familiaPadre = $('#familiaPadreSelect').val();
        var familia = familiaPadre;
        $('#familiaPadre').hide();

        if (familiaPadre != 'null') {
            $('#familiaPadre').show();
            $('#esSubfamilia').prop('checked', true);
        }



        $('#esSubfamilia').change(function () {


            if ($('#esSubfamilia').is(':checked')) {
                $('#familiaPadre').show();
                validarFamiliaPadre();
            }
            else {
                //var text = "";
                //var o = new Option(text, null);
                //$(o).attr('selected', true);
                //$("#familiaPadre").append(o);
                $('#familiaPadreSelect').val('null')
                $('#familiaPadre').hide();
                $('#submitFrmFamilia').attr('disabled', false);
            }


        });


    });
    function guardarFamilia() {

        var model = $('#frmFamilia').serializeArray();

            if (validarForm(model)) {

            $.ajax({
                type: "post",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: '@Url.Action("CrearEditarFamilia", "Familia", new { id = Model.Id })',@*//'../Familias/CrearEditar-Familia/' + @Model.Id,*@
                data: $('#frmFamilia').serialize(),
                success: function (data) {
                    if (data.success)
                        setFamilias(data);
                    else {
                        $('#repetidoValid').prop('hidden', false);
                        //if (data.idFamilia === null) {
                        //    $('#repetidoPadreValid').prop('hidden', false);
                        //    $('#repetidoHijoValid').prop('hidden', true);
                        //}
                        //else {
                        //    $('#repetidoPadreValid').prop('hidden', true);
                        //    $('#repetidoHijoValid').prop('hidden', false);
                        //}

                    }


                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                }
            });
            }

    }

    function validarForm(model) {

        console.log(model);
        if (model[3].value.replace(/ /g, "") != '') {
            return true;
        }
        else {
            $('#validatedTextDescripcion').attr('hidden', false);
            return false;
        }

    }

    function validarFamiliaPadre() {


        if ($('#familiaPadreSelect').val() === "null")
            $('#submitFrmFamilia').attr('disabled', true);
        else
            $('#submitFrmFamilia').attr('disabled', false);
    }

</script>
