@model TbPrFamilia
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }

}
@{

    var usuarios = ViewData["usuarios"] as IList<TbSeUsuario>;

}

<h5>@SharedLocalizer["subFamilias"]</h5>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    <span>@SharedLocalizer["descripcion"]</span>
                </th>
                <th>
                    <span>@SharedLocalizer["fechaCreacion"]</span>
                </th>
                <th>
                    <span>@SharedLocalizer["familia"]</span>
                </th>
                <th>
                    <span>@SharedLocalizer["usuario"]</span>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.InverseIdFamiliaNavigation)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        @Model.Descripcion
                    </td>
                    <td>
                        @{
                            var nombre = usuarios.FirstOrDefault(u => u.Id == item.IdUsuario).Nombre;
                            var codigo = usuarios.FirstOrDefault(u => u.Id == item.IdUsuario).Codigo;
                        }
                        <a href="@Url.Action("CuentaUsuario", "ManejoUsuarios", new { codigo = codigo })">@nombre</a>
                    </td>
                    <td>
                        <button class="btn btn-link crearEditarSubFamilia" value="@item.Id"><span><i class="fas fa-edit"></i></span></button>
                        <button class="btn btn-link eliminarSubFamilia" value="@item.Id"><span><i class="fas fa-trash"></i></span></button>
                    </td>
                </tr>
            }
            <!--   <tr>
            <td><strong> <span>@SharedLocalizer["descripcion"]</span></strong></td>
            <td> <strong><span>@SharedLocalizer["fechaCreacion"]</span></strong></td>
            <td><strong><span>@SharedLocalizer["familia"]</span></strong></td>
            <td><strong><span>@SharedLocalizer["usuario"]</span></strong></td>
            <td>
                <button class="btn btn-link crearEditarSubFamilia" value="0"><span><i class="fas fa-plus"></i></span></button>
            </td>
        </tr> -->
        </tbody>
    </table>
</div>

<script>

    $(document).ready(function () {

        if ($('#familias').val() != 0)
            $(".crearEditarSubFamilia").attr("disabled", false);
        else
            $(".crearEditarSubFamilia").attr("disabled", true);


        $('.crearEditarSubFamilia').on('click', function () {

            var url = 'Crear-SubFamilia/' + $('#familias').val();
            if ($(this).val() != 0)
                url = 'Editar-SubFamilia/' + $(this).val();

         $.ajax({
             type: "GET",
             headers: {
                 "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
             },
             url: url,
             success: function (data) {
                $('#crearEditarPartial').html(data);
                $('#modalFamilia').modal('show');
             },
             error: function (err, scnd) {
                console.log(err.statusText);
             }

             });

        });

        $('.eliminarSubFamilia').on('click', function () {

                $.ajax({
                    type: "GET",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: 'Eliminar-Familia/' + $(this).val(),

                    success: function (data) {
                        if (data.data) {
                            $("#familias").trigger('change');
                        }
                        else
                            alert("Error al eliminar la subFamilia");
                    },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });

        });


    });
</script>