





<table  class="display table table-striped" style="width:100%">
    <thead>
        <tr>
           
            <th>
                <span>ID Inventario</span>
            </th>
            <th>
                <span>Existencia Maxima</span>
            </th>
            <th>
                <span>Existencia Media</span>
            </th>
            <th>
                <span>Existencia Maxima</span>
            </th>
            <th hidden>
                <span>Existencia en Bodega </span>
            </th>
            <th>
                <span>Cantidad</span>
            </th>
           


           
        </tr>
    </thead>
    <tbody>
        @foreach (var auto in ViewBag.Auto)
        {
            <tr class="modelo">
               
                
                <td style="padding-top: 2rem">
                    @auto.IdInventario
                </td>
                <td style="padding-top: 2rem" class="estado">
                    @auto.ExistenciaMaxima
                </td>
                <td style="padding-top: 2rem">
                    @auto.ExistenciaMedia
                </td>
               
                <td style="padding-top: 2rem">
                    @auto.ExistenciaBodega
                </td>
                @{
                    var cantidad = auto.ExistenciaMedia - auto.ExistenciaBodega;
                 }
                <td style="padding-top: 2rem">
                  <span id="canti"> @cantidad</span>
                </td>




              
            </tr>
        }
    </tbody>

</table>