@model AltivaWebApp.ViewModels.OrdenViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = "CrearEditarOrden";
    var usuario = ViewData["usuario"] as TbSeUsuario;

    var estado = "";

    if (Model.Anulado)
    {
        estado = "disabled";
        
    }


    var generarOrden = "";
    if (Model.Id != 0)
    {
        generarOrden = "disabled";
    }

}


@if (Model.Id != 0)
{
    <div class="row">
        <div class="col-md-3"><h3>@SharedLocalizer["editarOrden"]</h3></div>
        <div class="col-md-offset-8 col-md-1"><button style="font-size:2rem; padding-top:1rem" onclick="crearPdf()" class="btn btn-link"><i class="fas fa-file-pdf"></i>PDF</button></div>
    </div>

}
else
{
    <h3>@SharedLocalizer["nuevaOrden"]</h3>
}


<hr />

<div class="row">
    @if (Model.Id != 0 && !Model.Anulado)
    {
        <div class="col-md-12 text-right"><button class="btn btn-danger btn-sm" onclick="cambiarEstadoOrden()">@SharedLocalizer["Anular"]</button></div>
    }
    else if (Model.Id != 0)
    {
        <div class="col-md-12 text-left"> <h4 class="text-danger">@SharedLocalizer["OrdenAnulada"]</h4></div>
    }
</div>

<div class="row well">
    <div>
        <form id="frmOrden">

            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Anulado)
            @Html.HiddenFor(x => x.TipoCambioDolar)
            @Html.HiddenFor(x => x.TipoCambioEuro)
            @Html.HiddenFor(x => x.IdUsuario)

            <div class="form-group col-md-2 col-sm-6 col-xs-12">
                <fieldset disabled>
                    <div class="form-group">
                        <label for="fecha">@SharedLocalizer["Fecha"]:</label>
                        <div class='input-group date' id='fechaPicker'>
                            <input type='text' class="form-control" id="fecha" />
                            <span class="input-group-addon">
                                <span class="fas fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="form-group col-md-3 col-sm-6 col-xs-12">
                <label asp-for="IdProveedor" class="control-label">@SharedLocalizer["Proveedor"]</label>
                <select class="form-control selectItems" id="proveedores"></select>
            </div>

            <div class="form-group col-md-5 col-sm-6 col-xs-12">
                <label asp-for="Observacion" class="control-label">@SharedLocalizer["Observación"]</label>
                <textarea @estado asp-for="Observacion" id="txtObservacion" rows="8" maxlength="500" class="form-control">@Model.Observacion</textarea>
                <span hidden id="observacionValid" class="text-danger">@SharedLocalizer["observacionValid"]</span>
            </div>
            <div class="col-md-2 col-sm-6 col-xs-12">
                <div class="form-group col-md-12">
                    <label asp-for="IdMoneda" class="control-label">@SharedLocalizer["Moneda"]</label>
                    <select @estado onchange="recalcularPrecio(), deshabilitaTipoCambio()" asp-for="IdMoneda" id="moneda" class="form-control tipoMoneda">
                        <option value="1">@SharedLocalizer["CRC"]</option>
                        <option value="2">@SharedLocalizer["USD"]</option>
                        <option value="3">@SharedLocalizer["EUR"]</option>
                    </select>
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label" for="dolar">@SharedLocalizer["TipoCambio"]</label>
                    <label class="control-label" for="dolar">@SharedLocalizer["Dolar"]:</label>
                    <input @estado class="form-control moneda" id="dolar" />
                </div>
                <div class="form-group col-md-12">
                    <label class="control-label" for="euro">@SharedLocalizer["Euro"]:</label>
                    <input @estado class="form-control moneda" id="euro" />
                </div>
            </div>
        </form>
    </div>

    <br />
    
   
     <div class="form-group col-md-4">
         <button @generarOrden class="btn btn-success btnAccion" onclick="validarCompraAutomatica()">@SharedLocalizer["ordenAutomatica"]</button>
     </div>
    
    
      <div class="col-md-12 table-responsive">

        <table class="table table-bordered table-striped" id="tblOrdenCompra" style="min-width:900px">
            <thead>
                <tr>
                    <th><span>@SharedLocalizer["Item"]</span></th>
                    <th><span>@SharedLocalizer["Descripción"]</span></th>
                    <th><span>@SharedLocalizer["Cantidad"]</span></th>
                    <th><span>@SharedLocalizer["PrecioUnitario"]</span></th>
                    <th><span class="col-md-1">@SharedLocalizer["Descuento"]</span></th>
                    <th><span>@SharedLocalizer["IVA"]</span></th>
                    <th><span>@SharedLocalizer["SubTotal"]</span></th>
                    <th hidden><span>@SharedLocalizer["Total"]</span></th>
                    <th style="width:10%"><span>@SharedLocalizer["Acción"]</span></th>
                </tr>
            </thead>
            <tbody>
                <tr class="lineaForm">
                    <td>
                        <select @estado class="form-control selectItems" id="item"></select>
                    </td>
                    <td>
                        <input readonly class="form-control" id="descripcion" />
                    </td>
                    <td hidden><input @estado class="form-control numerico" type="text" min="0" id="estado"   /></td>
                    <td><input @estado class="form-control numerico" type="text" min="0" id="cantidad" /></td>
                    <td><input @estado class="form-control moneda" type="text" min="1" id="precio" /></td>
                    <td><input @estado class="form-control numerico" type="text" id="descuento" /></td>
                    <td><input class="form-control" readonly type="number" id="iva" /></td>
                    <td><input class="form-control moneda" readonly type="text" id="subtotal" /></td>
                    <td hidden><input class="form-control moneda" readonly type="text" id="totalLinea" /></td>
                    <td><button @estado class="btn btn-link btnAccion"  onclick="guardarLinea()"><i class="fas fa-save"></i></button></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-offset-9 col-md-3">
        <form id="frmOrden2">

            <div class="form-group">
                <label class="control-label">@SharedLocalizer["SubTotal"]</label>
                <input readonly id="subTotal" class="form-control currency" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Descuento"]</label>
                <input readonly id="totalDescuento" class="form-control currency" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Impuesto"]</label>
                <input readonly id="totalImpuesto" class="form-control currency" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Total"]</label>
                <input readonly id="total" class="form-control currency" />
            </div>

        </form>
    </div>

    <br />

</div>
<div class="row">
    <div class="form-group col-md-3">
        <button @estado class="btn btn-success btnAccion" onclick="guardarCambios()">@SharedLocalizer["Guardar"]<i class="fas fa-save"></i></button>
        <a onclick="cancelar()" class="btn btn-default">@SharedLocalizer["Cancelar"]</a>
    </div>
</div>

<div  class="row" >
    <div  class="col-md-12">
        <div  id="comentarios">

        </div>
    </div>
</div>

<div hidden><input hidden id="formater" class="currency" type="text" /></div>



<script src="~/js/comentario.js"></script>
<script src="~/js/base64ImageCreator.js"></script>

<script>
    var $anulado = $('#Anulado');
    ///linea
    var $item = $('#item');
    var $descripcion = $('#descripcion');
    var $subTotalLinea = $('#subtotal');
    var $precio = $('#precio');
    var $iva = $('#iva');
    var $totalLinea = $('#totalLinea');
    var $cantidad = $('#cantidad');
    var $descuento = $('#descuento');
    var $estado = $('#estado');
    ///general
    var $moneda = $('#moneda');
    var $dolar = $('#dolar');
    var $euro = $('#euro');
    var $proveedores = $('#proveedores');
    var $fecha = $('#fecha');
    var $subTotal = $('#subTotal');
    var $totalImpuesto = $('#totalImpuesto');
    var $totalDescuento = $('#totalDescuento');
    var $total = $('#total');

    //resumen
    var subTotalExcento = 0;
    var subTotalGravado = 0;
    var subTotalNeto = 0;
    var subTotalOrden = 0;
    var totalDescuento = 0;
    var totalImpuesto = 0;
    var totalOrden = 0;

    var ordenDetalleBD = [];
    var lineas = [];
    var items = [];
    var lineasAgregadas = [];
    var lineasEliminadas = [];
    var lineasActualizadas = [];
    var tipo = 0;
 

    $(document).ready(function () {
       getProveedores();
        

        var date = new Date();
        if (@Model.Id != 0) {
            $proveedores.val(@Model.IdProveedor);
            GetComentarios("Orden", @Model.Id);
            date = new Date(formatearFecha());
            $('.tipoMoneda').val('@Model.IdMoneda');
        }

        deshabilitaTipoCambio();



        $descuento.val(0);
        var d = parseFloat('@Model.TipoCambioDolar'.replace(',', '.'));
        var e = parseFloat('@Model.TipoCambioEuro'.replace(',', '.'));
        $dolar.val(d);
        $euro.val(e);

        $('#fechaPicker').datetimepicker({
            defaultDate: date,
            locale: localStorage.getItem("idioma")
        });

        $(".moneda").inputmask({
            'alias': 'decimal',
            rightAlign: true,
        });

        $(".numerico").inputmask({
            'alias': 'decimal',
            rightAlign: false,
        });

        getInventario();
        

        $('.selectItems').select2({ width: null, language: localStorage.getItem("idioma") });

        $('#item').on('change.select2', function () {

            var itemInfo = getItem($(this).val());

            $descripcion.val(itemInfo.descripcion);
            $precio.val(getPrecioAlCambio(itemInfo));
            $cantidad.val(1);
            $iva.val(itemInfo.impuestoVenta);
            setSubTotalLinea();
        });

        $('textarea[data-limit-rows=true]')
            .on('keypress', function (event) {
                var textarea = $(this),
                    text = textarea.val(),
                    numberOfLines = (text.match(/\n/g) || []).length + 1,
                    maxRows = parseInt(textarea.attr('rows'));

                if (event.which === 13 && numberOfLines === maxRows) {
                    return false;
                }
            });

    });


    $cantidad.on('keyup, change, focusout', function () {
        if ($(this).val() < 0 || $(this).val() === "")
            $(this).val(0);

        setSubTotalLinea();
    });

    $precio.on('keyup, change, focusout', function () {
        if ($(this).val() < 0 || $(this).val() === "")
            $(this).val(0);

        setSubTotalLinea();

    });

    $descuento.on('keyup, change, focusout', function () {

        if ($(this).val() < 0 || $(this).val() === "")
            $(this).val(0)

    });

    function deshabilitaTipoCambio() {
        if ($('.tipoMoneda').val() != "1") {
            $dolar.attr('disabled', true);
            $euro.attr('disabled', true);
        }
        else {
            $dolar.attr('disabled', false);
            $euro.attr('disabled', false);
        }
    }

    function formatearFecha() {

        return '@Model.Fecha.Month' + "-" + '@Model.Fecha.Day' + "-" + '@Model.Fecha.Year' + " " + '@Model.Fecha.TimeOfDay';

    }
  

    ///calculos de línea
    function setSubTotalLinea() {

        var precio = parseFloat($precio.val());
        var cantidad = parseFloat($cantidad.val());

        $subTotalLinea.val(cantidad * precio);

    }

    function calcularSubtotalGrabadoLinea() {

        var iva = parseFloat($iva.val());
        if (iva > 0)
            return parseFloat($subTotalLinea.val());
        else
            return 0;
    }

    function calcularSubtotalExcentoLinea() {
        var iva = parseFloat($iva.val());
        if (iva === 0)
            return parseFloat($subTotalLinea.val());
        else
            return 0;
    }

    function calcularSubtotalNetoLinea() {

        return parseFloat($subTotalLinea.val()) - calcularTotalDescuentoLinea()

    }


    function calcularTotalIvaLinea() {
        var iva = parseFloat($iva.val());
        var subTotal = parseFloat($subTotalLinea.val()) - calcularTotalDescuentoLinea();
        return (iva / 100) * subTotal;
    }

    function calcularTotalDescuentoLinea() {

        var desc = parseFloat($descuento.val());
        var subTotal = parseFloat($subTotalLinea.val());
        return (desc / 100) * subTotal;

    }
    function calcularTotalLinea() {

        return calcularSubtotalNetoLinea() + calcularTotalIvaLinea();

    }


    function getOrdenDetalle() {
        if(@Model.Id != 0)
        $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
            url: '@Url.Action("GetOrdenDetalle")',

            success: function (data) {
                ordenDetalleBD = JSON.parse(JSON.stringify(data));
                cargarLineas(data);
                console.log(data);
                 
               },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
          });
    }

    function cargarLineas(data) {

        for (var i = 0; i < data.length; i++) {
            var model = {
                id: data[i].id,
                idOrden: @Model.Id,
                idInventario: data[i].idInventario,
                nombreInventario: data[i].nombreInventario,
                idMonedaOD: @Model.IdMoneda,
                cantidad: data[i].cantidad,
                precio: recuperarPrecio(data[i]),
                subTotalGrabado: recuperarSubTotalGrabado(data[i]),
                subTotalExcento: recuperarSubTotalExcento(data[i]),
                subTotalNeto: recuperarSubTotalNeto(data[i]),
                porcIva: data[i].porcIva,
                porcDesc: data[i].porcDesc,
                totalDescuento: recuperarTotalDesc(data[i]),
                porcIs: 0,
                totalIs: 0,
                totalIva: recuperarIva(data[i]),
                total: recuperarTotal(data[i])

            };
            lineas.push(model);
        }

        cargarTabla(lineas);

    }
    function guardarLineaAutomatico(data) {
        
        for (var i = 0; i < data.length; i++) {
            $('#item').val(data[i].idInventario);
            $('#item').trigger('change.select2');
            $cantidad.val(data[i].etotal);
            guardarLinea();
           $cantidad.val(1);

        }
     
            
    }
    function guardarLinea() {
        var pos = existeLinea($item.val()); 
    
        if ($cantidad.val() == 0)
        {
            bootbox.alert("@SharedLocalizer["AlertCompraCantidad"]", function () { });
        }
        else if (pos != null)
        {
            if (tipo != 2) {
                bootbox.confirm("@SharedLocalizer["confirmModOrden"]", function (resultado) {
                    if (resultado) {
                        
                lineas[pos].cantidad = parseFloat($cantidad.val());
                lineas[pos].precio = parseFloat($precio.val());
                lineas[pos].subTotal0Grabado = calcularSubtotalGrabadoLinea();
                lineas[pos].subTotalExcento = calcularSubtotalExcentoLinea();
                lineas[pos].subTotalNeto = calcularSubtotalNetoLinea();
                lineas[pos].porcIva = parseFloat($iva.val());
                lineas[pos].porcIs = 0;
                lineas[pos].totalIs = 0;
                lineas[pos].porcDesc = parseFloat($descuento.val());
                lineas[pos].totalDescuento = calcularTotalDescuentoLinea();
                lineas[pos].totalIva = calcularTotalIvaLinea();
                lineas[pos].total = calcularTotalLinea();
                cargarTabla(lineas);
                if (lineas[pos].id != 0)
                    lineasActualizadas.push(lineas[pos]);
                    }
                });
            }
            if (tipo == 2) {
                lineas[pos].cantidad = parseFloat($cantidad.val());
                lineas[pos].precio = parseFloat($precio.val());
                lineas[pos].subTotal0Grabado = calcularSubtotalGrabadoLinea();
                lineas[pos].subTotalExcento = calcularSubtotalExcentoLinea();
                lineas[pos].subTotalNeto = calcularSubtotalNetoLinea();
                lineas[pos].porcIva = parseFloat($iva.val());
                lineas[pos].porcIs = 0;
                lineas[pos].totalIs = 0;
                lineas[pos].porcDesc = parseFloat($descuento.val());
                lineas[pos].totalDescuento = calcularTotalDescuentoLinea();
                lineas[pos].totalIva = calcularTotalIvaLinea();
                lineas[pos].total = calcularTotalLinea();
                cargarTabla(lineas);
                if (lineas[pos].id != 0)
                    lineasActualizadas.push(lineas[pos]);
            }
        }
         else {
            
               var model = {
                id: 0,
                idOrden: @Model.Id,
                idInventario: $item.val(),
                nombreInventario: $descripcion.val(),
                idMonedaOD: parseInt($('.tipoMoneda').val()),
                cantidad: parseFloat($cantidad.val()),
                precio: parseFloat($precio.val()),
                subTotalGrabado: calcularSubtotalGrabadoLinea(),
                subTotalExcento: calcularSubtotalExcentoLinea(),
                subTotalNeto: calcularSubtotalNetoLinea(),
                porcIva: parseFloat($iva.val()),
                porcIs: 0,
                totalIs: 0,
                porcDesc: parseFloat($descuento.val()),
                totalDescuento: calcularTotalDescuentoLinea(),
                totalIva: calcularTotalIvaLinea(),
                total: calcularTotalLinea()
               };


                lineasAgregadas.push(model);
                lineas.push(model);
                $cantidad.val(1);
                cargarTabla(lineas);
             }
        tipo = 1;
    }
    function existeLinea(idInventario) {
        var pos = 0;
        var existe = 0;
        for (var i = 0; i < lineas.length; i++) {
            if (idInventario == lineas[i].idInventario)
            {
                 pos = i;
              existe = 1;
            }
               
        }
        if (existe == 1)
            return pos;
        else
            return null;
    }
    function validarCompraAutomatica() {
        console.log(lineasAgregadas);
        if (lineas.length != 0) {
            bootbox.confirm("@SharedLocalizer["confirmCompraAutomatica"]", function (resultado) {
                if (resultado) {
                    lineas = [];
                    lineasAgregadas = [];
                     cargarTabla(lineas);
                    generarCompraAutomatica();
                     
                    
                   
                   
                    


                }

            });
        }
        else {
            generarCompraAutomatica();
        }
        console.log(lineasAgregadas);
    }
    function generarCompraAutomatica() {
        
         var idProveedor = $("#proveedores").val();
          var url = "@Url.Action("GenerarCompraAutomatica", "Orden", new { idProveedor = "__id__" })".replace("__id__", idProveedor);
        lineas[""];
       
            $.ajax({
            type: "get",
        headers: {
        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
        },
            url: url,
            dataType:'json',
                success: function (data) {
                   
            guardarLineaAutomatico(data);
               
              

                
            }
        
            });
        
        

          

    }

    

    function modificarLinea(id) {
       var pos = id - 1;
      $('#item').val(lineas[pos].idInventario);
      $('#item').trigger('change.select2');
      $cantidad.val(lineas[pos].cantidad);
      lineas[id].porcIva = parseFloat($iva.val());
      $precio.val(lineas[pos].precio);
        $estado.val(lineas[pos].id);
        tipo = 2;
       
    }

    function eliminarLinea(_id, idLinea) {

        bootbox.confirm("@SharedLocalizer["confirmEliminarLinea"]", function (result) {

            if (result) {

                var id = _id - 1;


                if (idLinea != 0)
                    lineasEliminadas.push(lineas[id].id);
                else
                    lineasAgregadas.splice($.inArray(lineas[id], lineasAgregadas), 1);

                lineas.splice(id, 1);


                cargarTabla(lineas);


            }

        });


    }

    function calcularTotales() {

        subTotalExcento = 0;
        subTotalGravado = 0;
        subTotalNeto = 0;
        subTotalOrden = 0;
        totalDescuento = 0;
        totalImpuesto = 0;
        totalOrden = 0;

       

        for (var i = 0; i < lineas.length; i++) {
            subTotalExcento += parseFloat(lineas[i].subTotalExcento);
            subTotalGravado += parseFloat(lineas[i].subTotalGrabado);
            subTotalNeto += parseFloat(lineas[i].subTotalNeto);
            subTotalOrden += parseFloat(lineas[i].subTotalExcento) + parseFloat(lineas[i].subTotalGrabado);
            totalImpuesto += parseFloat(lineas[i].totalIva);
            totalDescuento += parseFloat(lineas[i].totalDescuento);
            totalOrden += parseFloat(lineas[i].total);
        }

        $subTotal.val(subTotalOrden);
        $totalImpuesto.val(totalImpuesto);
        $totalDescuento.val(totalDescuento);
        $total.val(totalOrden);
    }



    function cargarTabla(data) {

        $('.filasCargadas').remove();

        contadorFila = 0;
        var subtotal = 0;

        for (var i = 0; i < data.length; i++) {
            contadorFila++;

            if (data[i].porcIva > 0)
                subtotal = data[i].subTotalGrabado;
            else
                subtotal = data[i].subTotalExcento;

            var body = '<tr class="filasCargadas" id="fila' + contadorFila + '"><td style="padding-top:2rem;">' + getItem(data[i].idInventario).codigo + '</td>'
                + '<td style="padding-top:2rem;"><input style="border:0; background-color : #F7F7F7" value="' + data[i].nombreInventario + '"/></td>'
                + '<td style="padding-top:2rem;">' + data[i].cantidad + ' </td>'
                + '<td style="padding-top:2rem; width:12rem;"><input  style="border:0; background-color : #F7F7F7" class="currency" value="' + data[i].precio + '"/></td>'
                + '<td style="padding-top:2rem; width:12rem;"><input style="border:0; background-color : #F7F7F7"  value="' + data[i].porcDesc + '"/></td>'
                + '<td style="padding-top:2rem; "><input style="width:6rem; border:0; background-color : #F7F7F7"  value="' + data[i].porcIva + '%"/></td>'
                + '<td style="padding-top:2rem; width:12rem;"><input style="border:0; background-color : #F7F7F7" class="currency" value="' + subtotal + '"/></td>'
                + '<td><button @estado class="btn btn-link" value="' + contadorFila + '" onclick="modificarLinea(value)" ><i class="fas fa-edit"></i></button><button @estado class="btn btn-link" value="' + contadorFila + '" onclick="eliminarLinea(value, ' + data[i].id + ')" ><i class="fas fa-trash"></i></button></td></tr>';
                



            $('.lineaForm').before(body);

        }

        calcularTotales();
        var simbolo = "₡";
        if (parseInt($('.tipoMoneda').val()) === 2)
            simbolo = "$";
        else if (parseInt($('.tipoMoneda').val()) === 3)
            simbolo = "€";

        $(".currency").inputmask('currency', {
            prefix: simbolo,
            rightAlign: true
        });



    }

    function getInventario() {

         $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
              url: '@Url.Action("GetAllInventario", "Inventario")',
             success: function (data) {

                 //for (var i = 0; i < data.length; i++) {
                 //    if (!data[i].inactiva)
                 //        items.push(data[i]);
                 //}
                 items = data;
                 
                 cargarItems(items);
                 getOrdenDetalle();
               },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
          });
    }

    function getItem(id) {
        for (var i = 0; i < items.length; i++) {
            if (items[i].idInventario == parseInt(id))
                return items[i];
        }
    }

    function cargarItems(data) {
        for (var i = 0; i < data.length; i++) {
            var o = new Option(data[i].codigo, data[i].idInventario);
            $("#item").append(o);
            

        }

        $("#item").trigger('change');
    }

    function cancelar() {
        bootbox.confirm("@SharedLocalizer["confirmCancelar"]", function (result) {
            if (result)
                window.location.href = "@Url.Action("ListarOrdenes")";

        });
    }

    function getProveedores() {                                                                                                 

         $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
              url: '@Url.Action("GetProveedores", "Contacto")',
             success: function (data) {
                 proveedores = data;
                 for (var i = 0; i < data.length; i++) {
                     var nombre = "";
                     if (data[i].persona)
                         nombre = data[i].nombre + ' ' + data[i].apellidos;
                     else
                         nombre = data[i].nombreJuridico;
                    var o = new Option(nombre, data[i].idContacto);
                    $("#proveedores").append(o);
                 }
                 if (@Model.Id != 0) {
                    $proveedores.val(@Model.IdProveedor);
                 }



              },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
         });
    }

    function guardarCambios() {

        if(validarForm())
            guardarOrden();
    }

    function guardarOrden() {

        //crearModelo();

        $.ajax({
            type: "POST",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            dataType: "json",
            url: '@Url.Action("CrearEditarOrden")',
            data: { viewModel:crearModelo(), model2: lineasActualizadas },
            success: function (data) {
                if (lineasEliminadas.length > 0)
                    eliminarOrdenDetalle();
                window.location.href = "@Url.Action("ListarOrdenes")";
               },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
        });

    }

    function cambiarEstadoOrden() {
        bootbox.prompt({
            title: "@SharedLocalizer["confirmAnularOrden"]",
            message: '<p>@SharedLocalizer["Justificación"]</p>',
            inputType: 'textarea',
            callback: function (result) {
                if (result != null) {

                    if (result.replace(/ /g, "") != "") {


                    $.ajax({
                        type: "get",
                        headers: {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                        dataType: "json",
                        url: '@Url.Action("CambiarEstadoOrden", new { id = Model.Id })',
                        success: function (data) {
                            setMensajeFromOut(result);
                            cargarAlert('@SharedLocalizer["OrdenAnulada"]');
                            window.location.href = "@Url.Action("ListarOrdenes")";

                        },
                        error: function (err, scnd) {
                            cargarAlert('@SharedLocalizer["errorGeneral"]');
                            console.log(err.statusText);
                        }
                    });

                }
                else
                    cargarAlert('@SharedLocalizer["JustificacionInvalida"]');
                }

            }
        });
    }

    function eliminarOrdenDetalle() {


        $.ajax({
            type: "POST",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            dataType: "json",
            url: '@Url.Action("EliminarOrdenDetalle", new { id = Model.Id })',
            data: { viewModel: lineasEliminadas },
            success: function (data) {
               // console.log(data);
               },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
          });
    }

    function crearModelo() {

        var ordenModel = {
            id: @Model.Id,
            idProveedor: $proveedores.val(),
            fecha: $fecha.val(),
            idUsuario: 1,
            Anulado: '@Model.Anulado',
            IdMoneda: parseInt($('.tipoMoneda').val()),
            observacion: $('#txtObservacion').val(),
            subTotalGrabado: subTotalGravado.toString().replace(".", ","),
            subTotalExcento: subTotalExcento.toString().replace(".", ","),
            subTotalNeto: subTotalNeto.toString().replace(".", ","),
            totalIva: totalImpuesto.toString().replace(".", ","),
            totalDescuento: totalDescuento.toString().replace(".", ","),
            total: totalOrden.toString().replace(".", ","),
            tipoCambioDolar: $('#dolar').val().replace(".", ","),
            tipoCambioEuro: $('#euro').val().replace(".", ","),
            ordenDetalle: crearModeloDetalle(lineasAgregadas)

        };

        console.log(ordenModel);
        return ordenModel;
    }
    

    function crearModeloDetalle(model) {

        for (var i = 0; i < model.length; i++) {
            model[i].cantidad = model[i].cantidad.toString().replace(".", ",");
            model[i].precio = model[i].precio.toString().replace(".", ",");
            model[i].subTotalGrabado = model[i].subTotalGrabado.toString().replace(".", ",");
            model[i].subTotalExcento = model[i].subTotalExcento.toString().replace(".", ",");
            model[i].subTotalNeto = model[i].subTotalNeto.toString().replace(".", ",");
            model[i].porcIva = model[i].porcIva.toString().replace(".", ",");
            model[i].totalIva = model[i].totalIva.toString().replace(".", ",");
            model[i].porcDesc = model[i].porcDesc.toString().replace(".", ",");
            model[i].totalDescuento = model[i].totalDescuento.toString().replace(".", ",");
            model[i].total = model[i].total.toString().replace(".", ",");

        }

        return model;
    }
    

    function validarForm() {
        //var frmOrden = $('#frmOrden').serializeArray();

        if ($('#txtObservacion').val().replace(/ /g, "") === "") {
            $('#observacionValid').attr("hidden", false);
            return false;
        }
        else if (lineas.length <= 0) {
            cargarAlert('@SharedLocalizer["ordenSinDetalle"]');
            return false;
        }

        return true;
    }

    function recuperarPrecio(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.precioBase;
        else if (moneda === 2)
            return data.precioDolar;
        else if (moneda === 3)
            return data.precioEuro;
    }

    function recuperarSubTotalExcento(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.subTotalExcentoBase;
        else if (moneda === 2)
            return data.subTotalExcentoDolar;
        else if (moneda === 3)
            return data.subTotalExcentoEuro;
    }

    function recuperarSubTotalGrabado(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.subTotalGrabadoBase;
        else if (moneda === 2)
            return data.subTotalGrabadoDolar;
        else if (moneda === 3)
            return data.subTotalGrabadoEuro;
    }

    function recuperarSubTotalNeto(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.subTotalNetoBase;
        else if (moneda === 2)
            return data.subTotalNetoDolar;
        else if (moneda === 3)
            return data.subTotalNetoEuro;
    }

    function recuperarTotal(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.totalBase;
        else if (moneda === 2)
            return data.totalDolar;
        else if (moneda === 3)
            return data.totalEuro;
    }

    function recuperarIva(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.totalIvabase;
        else if (moneda === 2)
            return data.totalIvadolar;
        else if (moneda === 3)
            return data.totalIvauro;
    }
    function recuperarIs(data) {
        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.totalIsbase;
        else if (moneda === 2)
            return data.totalIsdolar;
        else if (moneda === 3)
            return data.totalIseuro;
    }

    function recuperarTotalDesc(data) {
        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.totalDescuentoBase;
        else if (moneda === 2)
            return data.totalDescuentoDolar;
        else if (moneda === 3)
            return data.totalDescuentoEuro;
    }

    function recalcularPrecio() {

        var subtotal = 0;

        for (var i = 0; i < lineas.length; i++) {

            lineas[i].precio = getPrecioAlCambioLocal(lineas[i]);
            lineas[i].idMonedaOD = parseInt($('.tipoMoneda').val());

            subtotal = lineas[i].precio * lineas[i].cantidad;



            if (lineas[i].porcIva > 0) {
                lineas[i].subTotalExcento = 0;
                lineas[i].subTotalGrabado = subtotal;
            }
            else {
                lineas[i].subTotalExcento = subtotal;
                lineas[i].subTotalGrabado = 0;
            }
            lineas[i].totalDescuento = (lineas[i].porcDesc / 100) * subtotal;
            lineas[i].subTotalNeto = subtotal - lineas[i].totalDescuento
            lineas[i].totalIva = (lineas[i].porcIva / 100) * lineas[i].subTotalNeto;
            lineas[i].total = lineas[i].subTotalNeto + lineas[i].totalIva;
        }

        if (lineasAgregadas.length > 0)
            for (var i = 0; i < lineasAgregadas.length; i++) {

                lineasAgregadas[i].precio = getPrecioAlCambioLocal(lineasAgregadas[i]);
                lineasAgregadas[i].idMonedaOD = parseInt($('.tipoMoneda').val());
                subtotal = lineasAgregadas[i].precio * lineasAgregadas[i].cantidad;

                if (lineasAgregadas[i].porcIva > 0) {
                    lineasAgregadas[i].subTotalExcento = 0;
                    lineasAgregadas[i].subTotalGrabado = subtotal;
                }
                else {
                    lineasAgregadas[i].subTotalExcento = subtotal;
                    lineasAgregadas[i].subTotalGrabado = 0;
                }
                lineasAgregadas[i].totalDescuento = (lineasAgregadas[i].porcDesc / 100) * subtotal;
                lineasAgregadas[i].subTotalNeto = subtotal - lineasAgregadas[i].totalDescuento
                lineasAgregadas[i].totalIva = (lineasAgregadas[i].porcIva / 100) * lineasAgregadas[i].subTotalNeto;
                lineasAgregadas[i].total = lineasAgregadas[i].subTotalNeto + lineasAgregadas[i].totalIva;
            }

        $('#item').trigger('change.select2');
        cargarTabla(lineas);

    }

    function getPrecioAlCambio(item) {

        var moneda = parseInt($('.tipoMoneda').val());

        var dolar = parseFloat($dolar.val());

        var euro = parseFloat($euro.val());




        if (moneda === 1 && item.codigoMoneda === 1)
            return item.costoPromedioGeneral;
        else if (moneda === 1 && item.codigoMoneda === 2)
            return item.costoPromedioGeneral * dolar;
        else if (moneda === 1 && item.codigoMoneda === 3)
            return item.costoPromedioGeneral * euro;
        else if (moneda === 2 && item.codigoMoneda === 1)
            return item.costoPromedioGeneral / dolar;
        else if (moneda === 2 && item.codigoMoneda === 2)
            return item.costoPromedioGeneral;
        else if (moneda === 2 && item.codigoMoneda === 3)
            return (item.costoPromedioGeneral * euro) / dolar;
        else if (moneda === 3 && item.codigoMoneda === 1)
            return item.costoPromedioGeneral / euro;
        else if (moneda === 3 && item.codigoMoneda === 2)
            return (item.costoPromedioGeneral * dolar) / euro;
        else if (moneda === 3 && item.codigoMoneda === 3)
            return item.costoPromedioGeneral;

    }

    function getPrecioAlCambioLocal(item) {

        var moneda = parseInt($('.tipoMoneda').val());

        var dolar = parseFloat($dolar.val());

        var euro = parseFloat($euro.val());



        if (moneda === 1 && item.idMonedaOD === 1)
            return item.precio;
        else if (moneda === 1 && item.idMonedaOD === 2)
            return item.precio * dolar;
        else if (moneda === 1 && item.idMonedaOD === 3)
            return item.precio * euro;
        else if (moneda === 2 && item.idMonedaOD === 1)
            return item.precio / dolar;
        else if (moneda === 2 && item.idMonedaOD === 2)
            return item.precio;
        else if (moneda === 2 && item.idMonedaOD === 3)
            return (item.precio * euro) / dolar;
        else if (moneda === 3 && item.idMonedaOD === 1)
            return item.precio / euro;
        else if (moneda === 3 && item.idMonedaOD === 2)
            return (item.precio * dolar) / euro;
        else if (moneda === 3 && item.idMonedaOD === 3)
            return item.precio;

    }


    function crearPdf() {

        generate_cutomPDF(crearModeloPDF());

    }

    function crearModeloPDF() {

        var empresaModel = JSON.parse(localStorage.getItem("empresaInfo"));

        var modelo = {
            empresa: {
                nombre: localStorage.getItem("empresa"),
                telefono: empresaModel.tel,
                correo: empresaModel.correo,
                cedJuridica: empresaModel.ced,
                logo: getImgFromUrl(localStorage.getItem("fotoEmpresa")),
                nombreTitulo: "@SharedLocalizer["Nombre"]:",
                telTitulo: "@SharedLocalizer["Telefonos"]:",
                correoTitulo: "@SharedLocalizer["Correo"]:",
                cedTitulo: getTittulos().cedJuridica
            },
            subtotal: formatTotales().subtotal,
            descuento: formatTotales().desc,
            impuesto: formatTotales().imp,
            total: formatTotales().total,
            nombreDoc: '@SharedLocalizer["OrdenCompra"] ' + '#@Model.Id',
            nombreDescarga: '@SharedLocalizer["orden_compra"]_' + @Model.Id + '.pdf',
            columnas: {
                item: "Item",
                descripcion: getTittulos().desc,
                cantidad: "@SharedLocalizer["Cantidad"]",
                precioUnid: "@SharedLocalizer["PrecioUnid"]",
                descuento: "@SharedLocalizer["Descuento"]",
                iva: "@SharedLocalizer["IVA"]",
                subtotal: "@SharedLocalizer["SubTotal"]"
            },
            filas: crearFilasPdf(),
            resumen: {
                subtotal: "@SharedLocalizer["SubTotal"]",
                descuento: "@SharedLocalizer["Descuento"]",
                impuesto: "@SharedLocalizer["Impuesto"]",
                total: "@SharedLocalizer["Total"]",
                autorizado: "@SharedLocalizer["Autorizado por"]:______________________"
            },
            proveedor: $('#proveedores option:selected').text(),
            fecha: $('#fecha').val(),
            descripcion: getDescripcion(),
            proveedorTitulo: "@SharedLocalizer["Proveedor"]:",
            observacionTitulo: "@SharedLocalizer["Observaciones"]:",
            fechaTitulo: "@SharedLocalizer["Fecha"]:",
            estado: getEstado(),
            tipoCambio: '@SharedLocalizer["Tipo de cambio"]',
            dolarTitulo: '@SharedLocalizer["Dolar"]',
            euroTitulo: '@SharedLocalizer["Euro"]',
            dolar: $('#dolar').val().toString(),
            euro: $('#euro').val().toString(),
            monedaTitulo: '@SharedLocalizer["Moneda"]',
            moneda: $('#moneda option:selected').text()
        };

        return modelo;

    } 
    
    function getEstado() {
        if ('@Model.Anulado' === "True")
            return "@SharedLocalizer["OrdenAnulada"]";
        else
            return "";
    }

    function getTittulos() {
        var idioma = localStorage.getItem("idioma");
        if (idioma === "es")
            return {
                desc: "Descripción:",
                cedJuridica: "Cédula Jurídica:"
            };
        else
            return {
                desc: "Description:",
                cedJuridica: "Legal Number:"
            };
    }

    function getDescripcion() {
        var d = $('#txtObservacion').val();
        var desc = d.match(/.{1,125}/g).join("\n");
        return desc;

    }

    function crearFilasPdf() {

        var row = [];
        for (var i = 0; i < lineas.length; i++) {

            var subtotal = 0;

            if (lineas[i].porcIva > 0)
                subtotal = lineas[i].subTotalGrabado;
            else
                subtotal = lineas[i].subTotalExcento;

            var model = {
                item: getItem(lineas[i].idInventario).codigo,
                descripcion: lineas[i].nombreInventario,
                cantidad: lineas[i].cantidad,
                precioUnid: formatearMoneda(lineas[i].precio),
                descuento: lineas[i].porcDesc,
                iva: lineas[i].porcIva,
                subtotal: formatearMoneda(subtotal)
            };

            row.push(model);
        }
        return row;
    }

    function formatearMoneda(val) {
        $('#formater').val(val);
        return $('#formater').val().replace("₡", "");
    }


    //var $subTotal = $('#subTotal');
    //var $totalImpuesto = $('#totalImpuesto');
    //var $totalDescuento = $('#totalDescuento');
    //var $total = $('#total');

    function formatTotales() {
        var tam = 0;

        var subtotal = "";
        var imp = "";
        var desc = "";

        
        tam = $total.val().length;

        for (var i = $subTotal.val().length; i < tam; i++) {
            subtotal += "\ \ ";
        }
        for (var i = $totalImpuesto.val().length; i < tam; i++) {
            imp += "\ \ ";
        }
        for (var i = $totalDescuento.val().length; i < tam; i++) {
            desc += "\ \ ";
        }




        return {
            subtotal: subtotal + $subTotal.val().replace("₡", ""),
            imp: imp + $totalImpuesto.val().replace("₡", ""),
            desc: desc + $totalDescuento.val().replace("₡", ""),
            total: $total.val().replace("₡", "")
        }

    }


</script>

<script src="~/lib/vendors/jsPDF/OC.js"></script>

<style>
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }
</style>