
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@inject IStringLocalizer<SharedResources> Lb

@{
    var date = DateTime.Now;

}




<div class="row">
    <div class="col-md-3">
        <h3>@Lb["OrdenesCompra"]</h3>
    </div>
    <div class="col-md-4" style="margin-left:1rem; padding-top:0.7rem">
        <p>
            <a asp-action="CrearOrden" class="btn btn-primary"><span>@Lb["Agregar"] </span>&nbsp;<i class="fas fa-plus-circle"></i></a>
        </p>
    </div>
</div>

<div class="row">

    <div class="col-md-2" style="margin-top: 0.2rem">
        <label>@Lb["buscarPorProveedor"]:</label>
        <input type="text" id="filtroBuscar" class="form-control" placeholder="@Lb["Nombre"]" />
    </div>

    <div class="col-md-2">
        <label style="padding-top: 0.2rem">@Lb["buscarItem"]:</label>
        <input type="text" id="filtroItem" class="form-control" onkeyup="getlistarPartial()" placeholder="@Lb["Código"]" />
    </div>
    

    <div class="col-md-3 col-sm-6 col-xs-12">

        <label class="control-label">
            <input type="checkbox" id="habilitaFiltroFecha"> @Lb["FiltroFecha"]
        </label>
        <form id="frmFecha" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon"><i class="fas fa-calendar"></i></span>
                            <input type="text" style="width: 200px" name="filtroFecha" id="filtroFecha"  class="form-control" value="@date.Date - @date.Date" />
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>



</div>

<br />

<div id="partialOrdenes">

</div>
<style>
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }
</style>

<script>
    var hasta;
    var desde;
    $(document).ready(function () {
        $('#filtroFecha').attr('disabled', true);
        getlistarPartial();
       $('#filtroFecha').daterangepicker({
            opens: 'left',

            "locale": {
                format: "@Lb["formatoFecha"]",
                "separator": " - ",
                "applyLabel": "@Lb["Aplicar"]",
                "cancelLabel": "@Lb["Cancelar"]",
                "fromLabel": "@Lb["DE"]",
                "toLabel": "@Lb["Hasta"]",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "@Lb["Dom"]",
                    "@Lb["Lun"]",
                    "@Lb["Mar"]",
                    "@Lb["Mie"]",
                    "@Lb["Jue"]",
                    "@Lb["Vie"]",
                    "@Lb["Sáb"]"
                ],
                "monthNames": [
                    "@Lb["Enero"]",
                    "@Lb["Febrero"]",
                    "@Lb["Marzo"]",
                    "@Lb["Abril"]",
                    "@Lb["Mayo"]",
                    "@Lb["Junio"]",
                    "@Lb["Julio"]",
                    "@Lb["Agosto"]",
                    "@Lb["Septiembre"]",
                    "@Lb["Octubre"]",
                    "@Lb["Noviembre"]",
                    "@Lb["Diciembre"]"
                ],
                "firstDay": 1
            }
        },
        function (start, end, label) {

            desde = start.format('YYYY-MM-DD');
            hasta = end.format('YYYY-MM-DD');
            getlistarPartial();

            });

    });
    $('#habilitaFiltroFecha').change(function () {

        if (!$(this).prop('checked')) {
            $('#filtroFecha').attr('disabled', true);
        }
        else {
            $('#filtroFecha').attr('disabled', false);
        }
                getlistarPartial();

    });

    function getlistarPartial() {
    var codigo = $("#filtroItem").val();
        var url = "@Url.Action("_ListarOrdenes")";           
        $.ajax({
            type: "Post",
            url: url,
            data: { filtro: crearModeloFiltro(), cod: codigo},
            success: function (data) {
                $('#partialOrdenes').html(data);
            },
            error: function (err, scnd) {
                console.log(err.statusText);
            }
        });
     }
     function crearModeloFiltro() {
        if ($('#habilitaFiltroFecha').prop('checked')) {
            return { desde: desde, hasta: hasta, filtrando: true }
        }
        else {
            return { desde: desde, hasta: hasta, filtrando: false }
        }
    }
    function filtrarItem(){
            if ($('#habilitaFiltroFecha').prop('checked')) {
            return { desde: desde, hasta: hasta, filtrando: true }
        }
        else {
            return { desde: desde, hasta: hasta, filtrando: false }
        }
    }



</script>
