@model AltivaWebApp.ViewModels.CompraViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{

    if (Model.Id != 0)
    {
        ViewData["Title"] = Lb["editarCompra"];
    }
    else
    {
        ViewData["Title"] = Lb["nuevaCompra"];
    }

    var monedas = ViewData["monedas"] as IList<TbSeMoneda>;
    var estado = "";
    var estado2 = "";
    var usuario = ViewData["usuario"] as TbSeUsuario;
    if (Model.Anulado || Model.EnCola)
    {
        estado = "disabled";
    }

    var numDocumento = Model.NumeroDocumento;

    if (Model.NumeroDocumento == "AutogeneradoXML")
    {
        numDocumento = Model.Id.ToString();
    }
    if (ViewBag.tieneToma)
    {
        estado2 = "disabled";
    }

}

@if (Model.Id != 0)
{
    <div class="row">
        <div class="col-md-3"><h3>@SharedLocalizer["editarCompra"]</h3></div>
        <div class="col-md-offset-8 col-md-1"><button style="font-size:2rem; padding-top:1rem" onclick="crearPdf()" class="btn btn-link"><i class="fas fa-file-pdf"></i>PDF</button></div>
    </div>

}
else
{
    <div class="row">
        <h3 class="col-md-3">@SharedLocalizer["nuevaCompra"]</h3>
        <div class="col-md-1" style="padding-top:1rem"><button class="btn btn-link" data-toggle="modal" data-target="#cargarXmlModal">@SharedLocalizer["ImportarXML"]</button></div>
    </div>
}




<hr />

<div class="row">
    @if (Model.Id != 0 && !Model.Anulado)
    {
        <div class="col-md-12 text-right"><button @estado2 class="btn btn-danger btn-sm" onclick="anularCompra()">@SharedLocalizer["Anular"]</button></div>
    }
    else if (Model.Id != 0 )
    {
        <div class="col-md-12 text-left"><h4 class="text-danger">@SharedLocalizer["CompraAnulada"]</h4></div>
    }
    @if (ViewBag.tieneToma && !Model.Anulado)
    {
        estado2 = "disabled";
        <div class="col-md-12 text-left"><h5 class="text-danger">@SharedLocalizer["DocumentoConToma"]</h5></div>

    }
</div>

<div class="row well">

    <form id="frmCompra">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.Anulado)
        @Html.HiddenFor(x => x.FechaCreacion)
        @Html.HiddenFor(x => x.IdUsuario)
        @Html.HiddenFor(x => x.Borrador)
        <div class="form-group col-md-2 col-sm-6 col-xs-12">
            <fieldset>
                <div class="form-group">
                    <label for="fecha">@SharedLocalizer["Fecha"]:</label>
                    <div class='input-group date' id='fechaPicker'>
                        <input type='text' class="form-control" id="fecha" />
                        <span class="input-group-addon">
                            <span class="fas fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="form-group col-md-2 col-sm-6 col-xs-12">
            <label asp-for="NumeroDocumento" class="control-label">@SharedLocalizer["NumeroDocumento"]:</label>
            <input asp-for="NumeroDocumento" id="numDocumento" value="@numDocumento" class="form-control" />
            <span hidden id="numDocumentoValid" class="text-danger">@SharedLocalizer["numDocumentoValid"]</span>
        </div>
        <div class="form-group col-md-2 col-sm-6 col-xs-12">
            <label asp-for="TipoDocumento" class="control-label">@SharedLocalizer["TipoDocumento"]:</label>
            <select asp-for="TipoDocumento" class="form-control tipoDocumento" id="tipoDocumento">
                <option value="1">@SharedLocalizer["Contado"]</option>
                <option value="2">@SharedLocalizer["Crédito"]</option>
                <option value="3">@SharedLocalizer["Consignación"]</option>
            </select>
        </div>

        <div class="form-group col-md-3 col-sm-6 col-xs-12">
            <label asp-for="IdProveedor" class="control-label">@SharedLocalizer["Proveedor"]:</label>
            <select class="form-control selectItems" id="proveedores"></select>
        </div>

        <div class="form-group col-md-3 col-sm-6 col-xs-12">

            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label asp-for="IdMoneda" class="control-label">@SharedLocalizer["Moneda"]:</label>
                <select onchange="recalcularPrecio()" id="moneda" class="form-control tipoMoneda">
                    @*@{
                            foreach (var item in monedas)
                            {
                                <option value="@item.Codigo">@item.Nombre</option>
                            }
                        }*@
                </select>
            </div>

            <div class="form-group col-md-6 col-sm-6 col-xs-12">
                <label class="control-label">@SharedLocalizer["Dolar"]:</label>
                <input id="dolar" asp-for="TipoCambioDolar" class="form-control moneda monedaCambio" />
                <label class="control-label">@SharedLocalizer["Euro"]:</label>
                <input id="euro" asp-for="TipoCambioEuro" class="form-control moneda monedaCambio" />
            </div>

        </div>

        @*<div class="form-group col-md-3 col-sm-6 col-xs-12">
               <label class="control-label">@SharedLocalizer["Usuario"]:</label>
               <input type="text" readonly class="form-control" value="@usuario.Nombre" />
            </div>*@

    </form>
    <div class="row">
        <div class="col-md-12 col-md-12 col-xs-12">
            <h4>@Lb["LineasDeCompra"]</h4>
        </div>

        <div class="form-group col-md-3 col-sm-4 col-xs-12">
            <label for="item" class="control-label">@Lb["Item"]: <span style="font-size:1.1rem" class="text-info"><a id="descripcion"></a></span></label>
            <input onkeyup="pasarSigCampo(event,'cantidad')" class="form-control autocomplete" autofocus id="item" type="text" />
        </div>
        <div class="form-group col-md-2 col-sm-2 col-xs-6">
            <label for="cantidad" class="control-label">@Lb["Cantidad"]:</label>
            <input onkeyup="pasarSigCampo(event,'precio')" class="form-control numerico" id="cantidad" type="text" autocomplete="off" />
        </div>
        <div class="form-group col-md-2 col-sm-2 col-xs-6">
            <label for="precio" class="control-label">@Lb["Precio"]:</label>
            <input onkeyup="pasarSigCampo(event,'descuento')" class="form-control moneda" id="precio" type="text" autocomplete="off" />
        </div>
        <div class="form-group col-md-1 col-sm-2 col-xs-6">
            <label for="descuento" class="control-label">@Lb["Descuento"]:</label>
            <input onkeyup="pasarSigCampo(event,'iva')" class="form-control porcentaje" id="descuento" type="text" />
        </div>
        <div class="form-group col-md-1 col-sm-2 col-xs-6">
            <label for="iva" class="control-label">@Lb["IVA"]:</label>
            <input readonly onkeyup="pasarSigCampo(event,'subtotalLinea')" class="form-control porcentaje" id="iva" type="text" />
        </div>

        <div class="form-group col-md-2 col-sm-2 col-xs-6">
            <label for="subtotalLinea" class="control-label">@Lb["Subtotal"]:</label>
            <input onkeyup="pasarSigCampo(event,'submitFrmCD')" class="form-control moneda" readonly id="subtotalLinea" type="text" />
        </div>

        <div class="form-group col-md-2 col-sm-2 col-xs-6">
            <label for="bodega" class="control-label">@Lb["Bodega"]:</label>
            <select class="form-control bodegas" id="bodega"></select>
        </div>

        <div class="form-group col-md-1 col-sm-1 col-xs-2" style="padding-top: 2.3rem;">
            <button onkeyup="pasarSigCampo(event,'item')" onclick="prepararLinea()" id="submitFrmCD" class="btn btn-success"><span><i class="fas fa-save"></i></span></button>
        </div>

        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <p hidden id="cantidadValid" class="text-danger">@Lb["cantidadValid"].</p>
            <p hidden id="precioValid" class="text-danger">@Lb["precioValid"].</p>
        </div>


    </div>
    
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="table-responsive">
                <span hidden id="sinDetalleValid" class="text-danger">@SharedLocalizer["docSinDetalle"].</span>
                <table class="table table-bordered table-striped" id="tblCD" style="min-width:1250px">
                    <thead>
                        <tr>
                            <th style="width:14%"><span>@SharedLocalizer["Item"]</span></th>
                            <th style="width:18%"><span>@SharedLocalizer["Descripción"]</span></th>
                            <th style="width:11%"><span>@SharedLocalizer["Cantidad"]</span></th>
                            <th style="width:12%"><span>@SharedLocalizer["PrecioUnitario"]</span></th>
                            <th style="width:7%"><span class="col-md-1">@SharedLocalizer["Descuento"]</span></th>
                            <th style="width:7%"><span>@SharedLocalizer["IVA"]</span></th>
                            <th style="width:12%"><span>@SharedLocalizer["SubTotal"]</span></th>
                            <th style="width:10%"><span>@SharedLocalizer["Bodega"]</span></th>
                            <th style="width:9%"><span>@SharedLocalizer["Acción"]</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        
                    </tbody>
                </table>
            </div>
        </div>
    </div>
   
    <div class="col-md-offset-9 col-md-3">
        <form id="frmResumen">
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["SubTotal"]</label>
                <input readonly id="subTotal" class="form-control currency" />
            </div>
            <div class="form-group" hidden>
                <label class="control-label">@SharedLocalizer["SubTotalExcento"]</label>
                <input readonly id="SubTotalExcento" class="form-control currency" />
            </div>

            <div class="form-group" hidden>
                <label class="control-label">@SharedLocalizer["SubTotalGravado"]</label>
                <input readonly id="SubTotalGravado" class="form-control currency" />
            </div>

            <div class="form-group" hidden>
                <label class="control-label">@SharedLocalizer["SubTotalExcentoNeto"]</label>
                <input readonly id="SubTotalExcentoNeto" class="form-control currency" />
            </div>

            <div class="form-group" hidden>
                <label class="control-label">@SharedLocalizer["SubTotalGravadoNeto"]</label>
                <input readonly id="SubTotalGravadoNeto" class="form-control currency" />
            </div>

            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Descuento"]</label>
                <input readonly id="totalDescuento" class="form-control currency" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Impuesto"]</label>
                <input readonly id="totalImpuesto" class="form-control currency" />
            </div>
            <div class="form-group">
                <label class="control-label">@SharedLocalizer["Total"]</label>
                <input readonly id="total" class="form-control currency" />
            </div>
        </form>
    </div>


</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group" col-md-3>
            <label @estado2 @estado class="control-label" style="padding-left:1rem">
                <input type="checkbox" asp-for="EnCola" id="enCola" /> @SharedLocalizer["EnviarACola"]
            </label>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group col-md-3">
            <button @estado2 @estado class="btn btn-success btnAccion" onclick="guardarSalir()">@SharedLocalizer["Guardar"] <i class="fas fa-save"></i></button>
            <a onclick="cancelar()" class="btn btn-default">@SharedLocalizer["Cancelar"]</a>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div id="comentarios">

        </div>
    </div>
</div>



<!------------------------------------------modal para editar----------------------------------------------------------->

<div class="modal fade" id="lineaModal" tabindex="-1" role="dialog" aria-labelledby="lineaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col-md-10 col-sm-10 col-xs-10" style="text-align:left">
                    <h4 class="modal-title" id="lineaModalLabel">@Lb["Editar"] @Lb["Línea"]</h4>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2" style="text-align:right">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body row">

                <div hidden class="form-group col-md-2 col-sm-2 col-xs-12">
                    <input readonly id="idLinea" class="form-control" type="number" />
                </div>

                <form>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label">@Lb["Cantidad"]:</label>
                        <input onkeyup="calcularSubtotalEditar()" id="cantidadEditar" class="form-control numerico" value="1" type="text" />
                        <span hidden id="cantidadEditarValid" class="text-danger">@Lb["cantidadValid"].</span>
                    </div>
                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label">@Lb["Precio"]:</label>
                        <input onkeyup="calcularSubtotalEditar()" id="precioEditar" class="form-control moneda" type="text" />
                        <span hidden id="precioEditarValid" class="text-danger">@Lb["precioValid"].</span>
                    </div>

                    <div class="form-group col-md-12 col-sm-12 col-xs-12"></div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label">@Lb["Descuento"]:</label>
                        <input id="descuentoEditar" class="form-control porcentaje" type="text" />
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label">@Lb["Subtotal"]:</label>
                        <input readonly id="subtotalEditar" class="form-control moneda" type="text" />
                    </div>

                    <div class="form-group col-md-6 col-sm-6 col-xs-12">
                        <label class="control-label">@Lb["Bodega"]:</label>
                        <select class="form-control selectItem" id="bodegaEditar"></select>
                    </div>

                </form>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <button @estado @estado2 type="button" onclick="editarLinea()" class="btn btn-success">@Lb["Guardar"]</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="cargarXmlModal" tabindex="-1" role="dialog" aria-labelledby="xmlModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="xmlModalLabel">@SharedLocalizer["ImportarXML"]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <span data-translate="cargaArchivos" class="input-group-text" id="inputGroup-sizing-sm">@SharedLocalizer["CargaXML"]</span>
                    <input type="file" accept="text/xml" class="form-control" id="fileUpload">
                    @*<span hidden class="text-danger" data-translate="tamanoArchivoValid" id="tamanoArchivos">El tamaño máximo del archivo es de 25MB.</span>
                        <span hidden data-translate="cantidadArchivosValid" id="cantidadArchivos" class="text-danger">No puede agregar más de 5 archivos.</span>*@
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
                <button type="button" class="btn btn-primary" onclick="crearXMLaJSON()">@SharedLocalizer["Guardar"]</button>
            </div>
        </div>
    </div>
</div>

<input readonly hidden id="monedaFormater" />
<div hidden><input hidden id="formater" class="currency" type="text" /></div>

<script src="~/js/comentario.js"></script>
<script src="~/js/base64ImageCreator.js"></script>


<script>


    ///linea
    var $item = $('#item');
    var $descripcion = $('#descripcion');
    var $subTotalLinea = $('#subtotalLinea');
    var $precio = $('#precio');
    var $iva = $('#iva');
    var $totalLinea = $('#totalLinea');
    var $cantidad = $('#cantidad');
    var $descuento = $('#descuento');
    var $unidad = $('#unidad');
    var $bodega = $('#bodega');
    var $bodegaEditar = $('#bodegaEditar');
    var $cantidadEditar = $('#cantidadEditar');
    var $precioEditar = $('#precioEditar');
    var $key = $('#key');

    ///general
    var $moneda = $('#moneda');
    var $dolar = $('#dolar');
    var $euro = $('#euro');
    var $proveedores = $('#proveedores');
    var $fecha = $('#fecha');
    var $subTotal = $('#subTotal');
    var $totalImpuesto = $('#totalImpuesto');
    var $totalDescuento = $('#totalDescuento');
    var $total = $('#total');
    var $numDocumento = $('#numDocumento');
    var $tipoDocumento = $('#tipoDocumento');


    //resumen
    var subTotalExcento = 0;
    var subTotalGravado = 0;
    var subTotalExcentoNeto = 0;
    var subTotalGravadoNeto = 0;
    var subTotalCompra = 0;
    var totalDescuento = 0;
    var totalImpuesto = 0;
    var totalCompra = 0;

    var compraDetalleBD = [];
    var lineas = [];
    var items = [];
    var lineasCrOrUp = [];
    var lineasEliminadas = [];
    var bodegas = [];
    var proveedores = [];
    var monedas = [];



    $(document).ready(function () {

        var date = new Date();
        if (@Model.Id != 0) {

            GetComentarios("Compra", @Model.Id);
            date = new Date(formatearFecha());
        }


        $descuento.val(0);
        var d = parseFloat('@Model.TipoCambioDolar'.replace(',', '.'));
        var e = parseFloat('@Model.TipoCambioEuro'.replace(',', '.'));
        $dolar.val(d);
        $euro.val(e);

        $('#fechaPicker').datetimepicker({
            defaultDate: date,
            locale: localStorage.getItem("idioma")
        });

        $(".moneda").inputmask('currency', {
            prefix: '',
            rightAlign: true,
            min: 0
        });

        $(".porcentaje").inputmask({
            'alias': 'percentage',
            rightAlign: false,
            min: 0,
            max: 100
        });

         if('@Model.Anulado' === 'True')
            $('input, select').attr('disabled', true);

         if('@ViewBag.tieneToma' === 'True')
            $('input, select').attr('disabled', true);

        $(".numerico").inputmask({
            'alias': 'decimal',
            rightAlign: false,
            min: 0
        });

         getMonedas();
         getInventario();
         getProveedores();


         $('.selectItems').select2({ width: null, language: localStorage.getItem("idioma") });

    });



    ///////manejo del dom///////////////////////////////////////////////////////////////////////////

    $cantidad.on('keyup, change, focusout', function () {
        if ($(this).val() < 0 || $(this).val() === "")
            $(this).val(0);

        setSubTotalLinea();
    });

    $precio.on('keyup, change, focusout', function () {
        if ($(this).val() < 0 || $(this).val() === "")
            $(this).val(0);

        setSubTotalLinea();

    });

    function calcularSubtotalEditar(){

        var res = parseFloat($('#precioEditar').inputmask('unmaskedvalue')) * parseFloat($('#cantidadEditar').inputmask('unmaskedvalue'));

        $('#subtotalEditar').val(res);
    }

    $descuento.on('keyup, change, focusout', function () {

        if ($(this).val() < 0 || $(this).val() === "")
            $(this).val(0)

    });

    //cuando escriba apenas el item
    $('#item').on('focusout', function (evt, item) {

        setTimeout(function () {
            if ($('#item').val().replace(/ /g, "") !== "")
                cargarInfoItem($('#item').val());
            else
                limpiarLinea();
        }, 500);

    });

    //cargar toda la info del intem 
    function cargarInfoItem(cod) {

        var itemInfo = getItemPorCodigo(cod); // comprueba si el item existe en el arrayItems, si no existe lo devuelve , si se encuentra

        if (itemInfo !== undefined) { // no existe

            $descripcion.text(itemInfo.descripcion.substr(0, 32) + (itemInfo.descripcion.length > 25 ? '...' : '')).prop('href', '@Url.Action("EditarInventario", "Inventario", new { id = "__id__" })'.replace("__id__", itemInfo.idInventario));
            $precio.val(getPrecioAlCambio(itemInfo));
            $cantidad.val(1);
            $unidad.text(itemInfo.idUnidadMedidaNavigation.abreviatura);
            $iva.val(itemInfo.impuestoVenta);

            setSubTotalLinea(); // calcula el subtotal del item agregado
        }
        else
            cargarAlert('@Lb["itemInvalido"]');
    }

    function limpiarLinea() {

        $item.val("");
        $descripcion.text("");
        $precio.val(0);
        $cantidad.val(0);
        $unidad.text("");
        $iva.val("");
        setSubTotalLinea();
    }


    ////helpers////////////////////////////////////////////////////////////////////////////////////




    function guardarSalir() {


        if (validarForm()) {

            
            if (lineas.length <= 0) {
                $('#sinDetalleValid').prop('hidden', false);
                flag = false;
            } else {
                if ($('#enCola').prop('checked')) {
                    bootbox.confirm("@SharedLocalizer["confirmEnivarCola"]", function (result) {

                        if (!result) {
                            $('#enCola').attr('checked', false);

                        }

                        if ('@Model.Borrador' === 'True')
                            guardarCompraBorrador();
                        else
                            guardarCompra(true);
                    });
                }

                else {

                    if ('@Model.Borrador' === 'True')
                        guardarCompraBorrador();
                    else
                        guardarCompra(true);

                }

            }

        }

    }

    function validarForm() {
        var flag = true;

        if ($('#numDocumento').val().replace(/ /g, "") === "") {
            $('#numDocumentoValid').attr("hidden", false);
            flag = false;
        } else
            $('#numDocumentoValid').attr("hidden", true);



        return flag;
    }

    //deja los input en cero
    function validarLinea(item) {

        if ($('#item').val().replace(/ /g, "") === "")
            return false;

        var flag = true;
        if (item !== undefined) {

            if (parseFloat($('#precio').inputmask('unmaskedvalue')) <= 0) {
                flag = false;
                $('#precioValid').prop('hidden', false);
            }
            else {
                $('#precioValid').prop('hidden', true);
            }
            if (parseFloat($('#cantidad').inputmask('unmaskedvalue')) <= 0) {
                flag = false;
                $('#cantidadValid').prop('hidden', false);
            }
            else {
                $('#cantidadValid').prop('hidden', true);
            }
        }
        else {
            cargarAlert('@Lb["itemInvalido"]');
        }


        return flag;

    }

    function validarLineaEditar() {

        var flag = true;

        

        if (parseFloat($('#precioEditar').inputmask('unmaskedvalue')) <= 0 || $('#precioEditar').inputmask('unmaskedvalue') === null) {
            flag = false;
            $('#precioEditarValid').prop('hidden', false);
        }
        else {
            $('#precioEditarValid').prop('hidden', true);
        }
        
        if (parseFloat($('#cantidadEditar').inputmask('unmaskedvalue')) <= 0 || $('#cantidadEditar').inputmask('unmaskedvalue') === null) {
            flag = false;
            $('#cantidadEditarValid').prop('hidden', false);        
        }
        else {
            $('#cantidadEditarValid').prop('hidden', true);
        }


        return flag;

    }

    function crearModelo() {


        var ordenModel = {
            id: @Model.Id,
            idProveedor: $proveedores.val(),
            fechaDocumento: $fecha.val(),
            tipoDocumento: $tipoDocumento.val(),
            numeroDocumento: $numDocumento.val(),
            idUsuario: 1,
            Anulado: '@Model.Anulado',
            borrador: '@Model.Borrador',
            idMoneda: parseInt($('.tipoMoneda').val()),
            subTotalGravado: $('#SubTotalGravado').inputmask('unmaskedvalue').replace(".", ","),
            subTotalExcento: $('#SubTotalExcento').inputmask('unmaskedvalue').replace(".", ","),
            subTotalGravadoNeto: $('#SubTotalGravadoNeto').inputmask('unmaskedvalue').replace(".", ","),
            subTotalExcentoNeto: $('#SubTotalExcentoNeto').inputmask('unmaskedvalue').replace(".", ","),
            totalIva: $('#totalImpuesto').inputmask('unmaskedvalue').replace(".", ","),
            totalDescuento: $('#totalDescuento').inputmask('unmaskedvalue').replace(".", ","),
            total: $('#total').inputmask('unmaskedvalue').replace(".", ","),
            tipoCambioDolar: $('#dolar').inputmask('unmaskedvalue').replace(".", ","),
            tipoCambioEuro: $('#euro').inputmask('unmaskedvalue').replace(".", ","),
            enCola: false,
            compraDetalle: crearModeloDetalle(lineasCrOrUp)

        };

        return ordenModel;
    }

    function crearModeloDetalle(model) {

        var newLineas = JSON.parse(JSON.stringify(model));

        for (var i = 0; i < newLineas.length; i++) {

            newLineas[i].cantidad = newLineas[i].cantidad.toString().replace(".", ",");
            newLineas[i].precioUnitario = newLineas[i].precioUnitario.toString().replace(".", ",");
            newLineas[i].subTotalGravado = newLineas[i].subTotalGravado.toString().replace(".", ",");
            newLineas[i].subTotalExcento = newLineas[i].subTotalExcento.toString().replace(".", ",");
            newLineas[i].subTotalGravadoNeto = newLineas[i].subTotalGravadoNeto.toString().replace(".", ",");
            newLineas[i].subTotalExcentoNeto = newLineas[i].subTotalExcentoNeto.toString().replace(".", ",");
            newLineas[i].porcIva = newLineas[i].porcIva.toString().replace(".", ",");
            newLineas[i].totalIva = newLineas[i].totalIva.toString().replace(".", ",");
            newLineas[i].porcFa = newLineas[i].porcFa.toString().replace(".", ",");
            newLineas[i].totalFa = newLineas[i].totalFa.toString().replace(".", ",");
            newLineas[i].porcDescuento = newLineas[i].porcDescuento.toString().replace(".", ",");
            newLineas[i].totalDescuento = newLineas[i].totalDescuento.toString().replace(".", ",");
            newLineas[i].total = newLineas[i].total.toString().replace(".", ",");

        }

        return newLineas;
    }


    function cargarLineas(data) {
        
        for (var i = 0; i < data.length; i++) {

            var item = getItem(data[i].idInventario);

            var model = {
                id: data[i].id,
                idCompra: @Model.Id,
                idInventario: data[i].idInventario,
                codigoItem: item.codigo,
                descripcionItem: item.descripcion,
                idMonedaCD: @Model.IdMoneda,
                cantidad: data[i].cantidad,
                precioUnitario: recuperarPrecio(data[i]),
                subTotalGravado: recuperarSubTotalGravado(data[i]),
                subTotalExcento: recuperarSubTotalExcento(data[i]),
                subTotalGravadoNeto: recuperarSubTotalGravadoNeto(data[i]),
                subTotalExcentoNeto: recuperarSubTotalExcentoNeto(data[i]),
                porcIva: parseFloat(data[i].porcIva),
                totalIs: 0,
                porcFa: 0,
                totalFa: 0,
                idBodega: data[i].idBodega,
                porcDescuento: parseFloat(data[i].porcDescuento),
                totalDescuento: recuperarTotalDesc(data[i]),
                totalIva: recuperarIva(data[i]),
                total: recuperarTotal(data[i]),
                bodega: getBodegaItem(data[i].idBodega).nombre

            };
            lineas.push(model);
        }

        cargarTabla(lineas);
        //calcularTotales();

    }

    // Se invoca cuando le da al metodo save
    function prepararLinea() {

        var item = getItemPorCodigo($item.val());  // comprueba si el item existe en el arrayItems, si no existe lo devuelve , si se encuentra
        console.log(item);

        if (validarForm() && validarLinea(item)) {
            guardarLinea(item); //creay el modelo y comprueba de que los itms nos se repitan
            //calcularTotales();
            limpiarLinea();
            guardarCompra(false);//GUADRDA
        }

    }

    function guardarLinea(item) {


        var model = {
            id: 0,
            idCompra: @Model.Id,
            idInventario: item.idInventario,
            codigoItem: item.codigo,
            descripcionItem: item.descripcion,
            idMonedaCD: parseInt($('.tipoMoneda').val()),
            cantidad: parseFloat($('#cantidad').inputmask('unmaskedvalue')),
            precioUnitario: parseFloat($('#precio').inputmask('unmaskedvalue')),
            subTotalGravado: calcularSubtotalGrabadoLinea(),
            subTotalExcento: calcularSubtotalExcentoLinea(),
            subTotalGravadoNeto: calcularSubtotalGrabadoNetoLinea(),
            subTotalExcentoNeto: calcularSubtotalExcentoNetoLinea(),
            porcIva: parseFloat($('#iva').inputmask('unmaskedvalue')),
            totalIs: 0,
            porcFa: 0,
            totalFa: 0,
            idBodega: $('#bodega').val(),
            porcDescuento: parseFloat($('#descuento').inputmask('unmaskedvalue')),
            totalDescuento: calcularTotalDescuentoLinea(),
            totalIva: calcularTotalIvaLinea(),
            total: calcularTotalLinea(),
            bodega: getBodegaItem($bodega.val()).nombre
        };

        lineasCrOrUp = [];

        existeLinea(model); 
        
    }

    function existeLinea(linea) {

        var pos = null;

        for (var i = 0; i < lineas.length; i++) {
            if (linea.idInventario == lineas[i].idInventario && linea.precioUnitario == lineas[i].precioUnitario && linea.porcDescuento == lineas[i].porcDescuento && linea.idBodega == lineas[i].idBodega) {
                pos = i;
                break;
            }
        }

        if (pos !== null) {
            lineas[pos].cantidad += linea.cantidad;
            lineas[pos].subTotalExcento += linea.subTotalExcento;
            lineas[pos].subTotalGravado += linea.subTotalGravado;
            lineas[pos].subTotalExcentoNeto += linea.subTotalExcentoNeto;
            lineas[pos].subTotalGravadoNeto += linea.subTotalGravadoNeto;
            lineas[pos].totalIva += linea.totalIva;
            lineas[pos].totalDescuento += linea.totalDescuento;
            lineas[pos].total += linea.total;

            lineasCrOrUp.push(lineas[pos]);
        }
        else {
            lineasCrOrUp.push(linea);
            lineas.push(linea);
        }

        console.log(lineas); //cuando ya estan agregado los items
        
       
    }
    


    function eliminarLinea(key) {

        lineasCrOrUp.splice($.inArray(lineas[key], lineasCrOrUp), 1);
        lineas.splice(key, 1);

        
        cargarTabla(lineas);

    }


    function modalEditarLinea(key) {

        $('#cantidadEditarValid').prop('hidden', true);
        $('#precioEditarValid').prop('hidden', true);

        var linea = lineas[key];



        $('#idLinea').val(key);
        $('#cantidadEditar').val(linea.cantidad);
        $('#precioEditar').val(linea.precioUnitario);
        $('#descuentoEditar').val(linea.porcDescuento);
        $('#bodegaEditar').val(linea.idBodega);
        $('#subtotalEditar').val(linea.subTotalExcento + linea.subTotalGravado);
        $('#lineaModal').modal('show');

    }


    function editarLinea() {

        if (!validarLineaEditar())
            return;


        var key = parseInt($('#idLinea').val());

        lineas[key].porcDescuento = parseFloat($('#descuentoEditar').inputmask('unmaskedvalue'));
        lineas[key].precioUnitario = parseFloat($('#precioEditar').inputmask('unmaskedvalue'));
        lineas[key].cantidad = parseFloat($('#cantidadEditar').inputmask('unmaskedvalue'));
        lineas[key].idBodega = $('#bodegaEditar').val();

        var subTotal = lineas[key].cantidad * lineas[key].precioUnitario;
        var descuento = subTotal * (lineas[key].porcDescuento / 100);

        var imp = lineas[key].porcIva;
        lineas[key].totalDescuento = descuento;
        lineas[key].totalIva = (subTotal - descuento) * (imp / 100);
        lineas[key].subTotalGravado = imp > 0 ? subTotal : 0;
        lineas[key].subTotalGravadoNeto = imp > 0 ? subTotal - descuento : 0;
        lineas[key].subTotalExcento = imp === 0 ? subTotal : 0;
        lineas[key].subTotalExcentoNeto = imp === 0 ? subTotal - descuento : 0;
        lineas[key].total = (subTotal - descuento) + lineas[key].totalIva;


        
        lineasCrOrUp = [];
        lineasCrOrUp.push(lineas[key]);

        guardarCompra(false);
        $('#lineaModal').modal('hide');
    }
    

    function cargarTabla(data) {


        $("#tblCD > tbody").remove();
        $('#tblCD').append('<tbody></tbody>');

        contadorFila = 0;
        var subtotal = 0;

        for (var i = 0; i < data.length; i++) {


            if (data[i].porcIva > 0)
                subtotal = data[i].subTotalGravado;
            else
                subtotal = data[i].subTotalExcento;

            var body = '<tr class="filasCargadas" id="fila' + contadorFila + '"><td >' + data[i].codigoItem + '</td>'
                + '<td>' + data[i].descripcionItem + '</td>'
                + '<td>' + data[i].cantidad + ' </td>'
                + '<td style="text-align: right">' + darFomatoMoneda(data[i].precioUnitario) + '</td>'
                + '<td>' + data[i].porcDescuento + '%</td>'
                + '<td>' + data[i].porcIva + '%</td>'
                + '<td style="text-align: right">' + darFomatoMoneda(subtotal) + '</td>'
                + '<td >' + data[i].bodega + ' </td>'
                + '<td> <button @estado @estado2 class="btn btn-link" style="margin:0; padding:0; font-size:1.8rem;" onclick="modalEditarLinea(' + contadorFila + ', ' + data[i].id + ')" ><i class="fas fa-edit"></i></button>&nbsp;&nbsp; <button @estado @estado2 class="btn btn-link" style="margin:0; padding:0; font-size:1.8rem;" value="' + contadorFila + '" onclick="elimarCompraDetalle(' + contadorFila + ', ' + data[i].id + ')" ><i class="fas fa-trash"></i></button></td></tr>';
            $('#tblCD > tbody').append(body);

            contadorFila++;

        }
        //data[i].precioUnitario)
        calcularTotales();
        var simbolo = monedas[0].simbolo + " ";

        if (parseInt($('.tipoMoneda').val()) === 2)
            simbolo = monedas[1].simbolo + " ";
        else if (parseInt($('.tipoMoneda').val()) === 3)
            simbolo = monedas[2].simbolo + " ";

        $(".currency").inputmask('currency', {
            prefix: simbolo,
            rightAlign: true
        });



    }


    function darFomatoMoneda(_value) {

        var value = parseFloat(_value);

        var clase = "";
        var moneda = $('.tipoMoneda').val();

        if (moneda === "1")
            clase = "colon";
        else if (moneda === "2")
            clase = "dolar"
        else if (moneda === "3")
            clase = "euro"

        $('#monedaFormater').removeClass("colon dolar euro");
        $('#monedaFormater').addClass(clase);

        //inicializa formato
        $(".colon").inputmask('currency', {
            prefix: "₡",
            rightAlign: true
        });
        $(".dolar").inputmask('currency', {
            prefix: "$",
            rightAlign: true
        });
        $(".euro").inputmask('currency', {
            prefix: "€",
            rightAlign: true
        });

        $('#monedaFormater').val(value);
        return $('#monedaFormater').val();

    }

    function getItem(id) {
        for (var i = 0; i < items.length; i++) {
            if (items[i].idInventario == parseInt(id))
                return items[i];
        }
    }

    function getItemPorCodigo(codigo) {
        for (var i = 0; i < items.length; i++) {
            if (codigo === items[i].codigo) {
                return items[i];
            }
        }
    }

    function getBodegaItem(id) {
        for (var i = 0; i < bodegas.length; i++) {
            if (parseInt(bodegas[i].id) == parseInt(id))
                return bodegas[i];
        }
    }

    function cargarItems(data) {

        var items = data;

        //$('#items').remove();
        //$('#lblItem').after('<input id="items" onkeyup="pasarSigCampo(event,movimiento)" class="form-control autocomplete" autofocus type="text" />');

        $('.autocomplete').unbind().removeData();

        $('.autocomplete').autoComplete({
            resolver: 'custom',
            formatResult: function (item) {

                return {
                    value: item.idInventario,
                    text:  item.codigo,
                    html: [
                        item.codigo + ' - ',
                        item.descripcion
                    ]
                };
            },
            events: {
                search: function (_keyword, callback) {
                    var keyword = _keyword.toUpperCase();
                    var filtrado = [];

                    if (keyword.replace(/ /g, "") === "") {
                        filtrado = [];
                    }
                    else {
                        for (var i = 0; i < items.length; i++) {

                            var keyArray = items[i].codigo.toUpperCase();
                            var keyArray2 = items[i].descripcion.toUpperCase();

                            if (keyArray.indexOf(keyword) > -1  )
                                filtrado.push(items[i]);
                            else
                                if (keyArray2.indexOf(keyword) > -1)
                                    filtrado.push(items[i]);
                        }

                    }



                    callback(filtrado);
                }
            },
            noResultsText: '@Lb["sinResultados"]',
            autoSelect: true,
            minLength: 2,

        });

    }

    function formatearFecha() {

        return '@Model.FechaDocumento.Month' + "-" + '@Model.FechaDocumento.Day' + "-" + '@Model.FechaDocumento.Year' + " " + '@Model.FechaDocumento.TimeOfDay';

    }



    //////calculos de linea/////////////////////////////////////////////////////////////////////

    function setSubTotalLinea() {

        var precio = parseFloat($('#precio').inputmask('unmaskedvalue'));
        var cantidad = parseFloat($('#cantidad').inputmask('unmaskedvalue'));

        $subTotalLinea.val(cantidad * precio);

    }

    function calcularSubtotalGrabadoLinea() {

        var iva = parseFloat($('#iva').inputmask('unmaskedvalue'));
        if (iva > 0)
            return parseFloat($('#subtotalLinea').inputmask('unmaskedvalue'));
        else
            return 0;
    }

    function calcularSubtotalExcentoLinea() {
        var iva = parseFloat($('#iva').inputmask('unmaskedvalue'));
        if (iva === 0)
            return parseFloat($('#subtotalLinea').inputmask('unmaskedvalue'));
        else
            return 0;
    }

    function calcularSubtotalExcentoNetoLinea() {

        var st = calcularSubtotalExcentoLinea();
        var desc = calcularTotalDescuentoLinea();
        if (st > 0)
            return st - desc;
        else
            return 0;

    }

    function calcularSubtotalGrabadoNetoLinea() {
        var st = calcularSubtotalGrabadoLinea();
        var desc = calcularTotalDescuentoLinea();
        if (st > 0)
            return st - desc;
        else
            return 0;
    }


    function calcularTotalIvaLinea() {
        var iva = parseFloat($('#iva').inputmask('unmaskedvalue'));
        var subTotal = parseFloat($('#subtotalLinea').inputmask('unmaskedvalue')) - calcularTotalDescuentoLinea();
        return (iva / 100) * subTotal;
    }

    function calcularTotalDescuentoLinea() {

        var desc = parseFloat($('#descuento').inputmask('unmaskedvalue'));
        var subTotal = parseFloat($('#subtotalLinea').inputmask('unmaskedvalue'));
      //  console.log(desc);
      //  console.log(subTotal);
        return (desc / 100) * subTotal;

    }
    function calcularTotalLinea() {

        return (calcularSubtotalGrabadoNetoLinea() + calcularSubtotalExcentoNetoLinea()) + calcularTotalIvaLinea();

    }

    ////calculos generales/////////////////////////////////////////////////////////

    function calcularTotales() {

        subTotalExcento = 0;
        subTotalGravado = 0;
        subTotalExcentoNeto = 0;
        subTotalGravadoNeto = 0;
        subTotalCompra = 0;
        totalDescuento = 0;
        totalImpuesto = 0;
        totalCompra = 0;


        for (var i = 0; i < lineas.length; i++) {
            subTotalExcento += parseFloat(lineas[i].subTotalExcento);
            subTotalExcentoNeto += parseFloat(lineas[i].subTotalExcentoNeto);
            subTotalGravado += parseFloat(lineas[i].subTotalGravado);
            subTotalGravadoNeto += parseFloat(lineas[i].subTotalGravadoNeto);
            subTotalCompra += parseFloat(lineas[i].subTotalExcento) + parseFloat(lineas[i].subTotalGravado);
            totalImpuesto += parseFloat(lineas[i].totalIva);
            totalDescuento += parseFloat(lineas[i].totalDescuento);
            totalCompra += parseFloat(lineas[i].total);
        }

        $subTotal.val(subTotalCompra);
        $('#SubTotalExcento').val(subTotalExcento);
        $('#SubTotalExcentoNeto').val(subTotalExcentoNeto);
        $('#SubTotalGravado').val(subTotalGravado);
        $('#SubTotalGravadoNeto').val(subTotalGravadoNeto);

        $totalImpuesto.val(totalImpuesto);
        $totalDescuento.val(totalDescuento);
        $total.val(totalCompra);

    }



    function getPrecioAlCambio(item) {



        var moneda = parseInt($('.tipoMoneda').val());

        var dolar = parseFloat($('#dolar').inputmask('unmaskedvalue'));
        console.log(dolar);
        var euro = parseFloat($('#euro').inputmask('unmaskedvalue'));
        console.log(item);

        if (moneda === 1 && item.codigoMoneda === 1)
            return item.ultimoPrecioCompra;
        else if (moneda === 1 && item.codigoMoneda === 2)
            return item.ultimoPrecioCompra * dolar;
        else if (moneda === 1 && item.codigoMoneda === 3)
            return item.ultimoPrecioCompra * euro;
        else if (moneda === 2 && item.codigoMoneda === 1)
            return item.ultimoPrecioCompra / dolar;
        else if (moneda === 2 && item.codigoMoneda === 2)
            return item.ultimoPrecioCompra;
        else if (moneda === 2 && item.codigoMoneda === 3)
            return (item.ultimoPrecioCompra * euro) / dolar;
        else if (moneda === 3 && item.codigoMoneda === 1)
            return item.ultimoPrecioCompra / euro;
        else if (moneda === 3 && item.codigoMoneda === 2)
            return (item.ultimoPrecioCompra * dolar) / euro;
        else if (moneda === 3 && item.codigoMoneda === 3)
            return item.ultimoPrecioCompra;

    }




    function recalcularPrecio() {


        var subtotal = 0;

        for (var i = 0; i < lineas.length; i++) {

            lineas[i].precioUnitario = getPrecioAlCambioLocal(lineas[i]);
            lineas[i].idMonedaCD = parseInt($('.tipoMoneda').val());

            subtotal = lineas[i].precioUnitario * lineas[i].cantidad;
            lineas[i].totalDescuento = (lineas[i].porcDescuento / 100) * subtotal;


            if (lineas[i].porcIva > 0) {
                lineas[i].subTotalExcento = 0;
                lineas[i].subTotalGravado = subtotal;
                lineas[i].subTotalExcentoNeto = 0;
                lineas[i].subTotalGravadoNeto = subtotal - lineas[i].totalDescuento;
            }
            else {
                lineas[i].subTotalExcento = subtotal;
                lineas[i].subTotalGravado = 0;
                lineas[i].subTotalExcentoNeto = subtotal - lineas[i].totalDescuento;
                lineas[i].subTotalGravadoNeto = 0;
            }

            lineas[i].totalIva = (lineas[i].porcIva / 100) * (lineas[i].subTotalExcentoNeto + lineas[i].subTotalGravadoNeto);
            lineas[i].total = (lineas[i].subTotalExcentoNeto + lineas[i].subTotalGravadoNeto) + lineas[i].totalIva;
        }

        cargarTabla(lineas);

    }




    function getPrecioAlCambioLocal(item) {

        var moneda = parseInt($('.tipoMoneda').val());

        var dolar = parseFloat($('#dolar').inputmask('unmaskedvalue'));

        var euro = parseFloat($('#euro').inputmask('unmaskedvalue'));



        if (moneda === 1 && item.idMonedaCD === 1) {
            console.log("colon 1");
            return item.precioUnitario;
        }
        else if (moneda === 1 && item.idMonedaCD === 2) {
            console.log("colon 2");
            return item.precioUnitario * dolar;
        }
        else if (moneda === 1 && item.idMonedaCD === 3) { // bien
            console.log("colon 3");
            return item.precioUnitario * euro;
        }


        else if (moneda === 2 && item.idMonedaCD === 1) { // bien
            console.log("dolar 1");
            return item.precioUnitario / dolar;
        }
        else if (moneda === 2 && item.idMonedaCD === 2) {
            console.log("dolar 2");
            return item.precioUnitario;
        }
        else if (moneda === 2 && item.idMonedaCD === 3) {
            console.log("dolar 3");
            return (item.precioUnitario * euro) / dolar;
        }


        else if (moneda === 3 && item.idMonedaCD === 1) {
            console.log("euro 1");
            return item.precioUnitario / euro;
        }
        else if (moneda === 3 && item.idMonedaCD === 2) { // bien
            console.log("euro 2");
            return (item.precioUnitario * dolar) / euro;
        }
        else if (moneda === 3 && item.idMonedaCD === 3) {
            console.log("euro 3");
            return item.precioUnitario;
        }

    }


    function recuperarPrecio(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.precioUnitarioBase;
        else if (moneda === 2)
            return data.precioUnitarioDolar;
        else if (moneda === 3)
            return data.precioUnitarioEuro;
    }


    function recuperarSubTotalExcento(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.subTotalExcentoBase;
        else if (moneda === 2)
            return data.subTotalExcentoDolar;
        else if (moneda === 3)
            return data.subTotalExcentoEuro;
    }

    function recuperarSubTotalGravado(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.subTotalGravadoBase;
        else if (moneda === 2)
            return data.subTotalGravadoDolar;
        else if (moneda === 3)
            return data.subTotalGravadoEuro;
    }

    function recuperarSubTotalGravadoNeto(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.subTotalGravadoNetoBase;
        else if (moneda === 2)
            return data.subTotalGravadoNetoDolar;
        else if (moneda === 3)
            return data.subTotalGravadoNetoEuro;
    }

    function recuperarSubTotalExcentoNeto(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.subTotalExcentoNetoBase;
        else if (moneda === 2)
            return data.subTotalExcentoNetoDolar;
        else if (moneda === 3)
            return data.subTotalExcentoNetoEuro;
    }

    function recuperarTotal(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.totalBase;
        else if (moneda === 2)
            return data.totalDolar;
        else if (moneda === 3)
            return data.totalEuro;
    }

    function recuperarIva(data) {

        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.totalIvabase;
        else if (moneda === 2)
            return data.totalIvadolar;
        else if (moneda === 3)
            return data.totalIvaeuro;
    }

    function recuperarIs(data) {
        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.totalIsbase;
        else if (moneda === 2)
            return data.totalIsdolar;
        else if (moneda === 3)
            return data.totalIseuro;
    }

    function recuperarTotalDesc(data) {
        var moneda = parseInt($('.tipoMoneda').val());

        if (moneda === 1)
            return data.totalDescuentoBase;
        else if (moneda === 2)
            return data.totalDescuentoDolar;
        else if (moneda === 3)
            return data.totalDescuentoEuro;
    }

    function cancelar() {
        bootbox.confirm("@SharedLocalizer["confirmCancelar"]", function (result) {
            if (result)
                window.location.href = "@Url.Action("ListarCompras")";

        });
    }

    //////ajax////////////////////////////////////////////////////////////////////////

    function getBodegas() {
         $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
              url: '@Url.Action("GetBodegas")',
              success: function (data) {

                 bodegas = data;

                 for (var i = 0; i < data.length; i++) {
                     if (data[i].almacenamiento) {
                         var o = new Option(data[i].nombre, data[i].id);
                         $(".bodegas").append(o);

                         var o2 = new Option(data[i].nombre, data[i].id);
                         $("#bodegaEditar").append(o2);
                     }

                 }

                 $(".bodegas").trigger('change');

                 getCompraDetalle();

              },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
          });
    }

    function getMonedas() {
         $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
              url: '@Url.Action("GetMonedas", "Monedas")',
              success: function (data) {

                 monedas = data;

                 for (var i = 0; i < data.length; i++) {
                     var o = new Option(data[i].nombre, data[i].codigo);
                    $(".tipoMoneda").append(o);

                 }
                 if(@Model.Id!= 0)
                     $(".tipoMoneda").val(@Model.IdMoneda);
                 else
                    $(".tipoMoneda").val(1);


                 $(".monedas").trigger('change');


              },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
          });
    }

    function getInventario() {

         $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
              url: '@Url.Action("GetAllInventario", "Inventario")',
              success: function (data) {
                  items = data;
                  cargarItems(data);
                  getBodegas();
              },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
         });
    }


    function getProveedores() {

         $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
              url: '@Url.Action("GetProveedores", "Contacto")',
             success: function (data) {
                 proveedores = data;
                 for (var i = 0; i < data.length; i++) {
                     var nombre = "";
                     if (data[i].persona)
                         nombre = data[i].nombre + ' ' + data[i].apellidos;
                     else
                         nombre = data[i].nombreComercial;
                    var o = new Option(nombre, data[i].idContacto);
                    $("#proveedores").append(o);
                 }
                 if (@Model.Id != 0) {
                    $proveedores.val(@Model.IdProveedor);
                 }



              },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
         });
    }

    function getCompraDetalle() {
        if(@Model.Id != 0)
        $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
            url: '@Url.Action("GetCompraDetalle")',

            success: function (data) {
                compraDetalleBD = JSON.parse(JSON.stringify(data));
                cargarLineas(data);

               },
            error: function (err, scnd) {
               cargarAlert('@SharedLocalizer["errorGeneral"]');
            }
        });
    }

    function guardarCompra(salir) {

        var model = crearModelo();
        console.log(model);
      

        if (lineasCrOrUp.length === 0)
            model.enCola = $('#enCola').prop('checked');

        $.ajax({
              type: "POST",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
            url: '@Url.Action("CrearEditarCompra")',
            data: model,
            success: function (data) {

                if (data.success) {

                    if (salir)
                        window.location.href = "@Url.Action("ListarCompras")";
                    else {
                      
                        if (@Model.Id === 0) {
                            var url = "@Url.Action("EditarCompra", new { id = "__id__" })";
                            window.location.href = url.replace("__id__", data.idCompra);
                        } else {

                            if (lineasCrOrUp[0].id == 0)
                                lineas[lineas.length - 1].id = data.idCD;

                            lineasCrOrUp = [];
                            cargarTabla(lineas);

                            setTimeout(function () { $('#item').focus(); }, 1);
                        }
                    }

                }
                else {
                    cargarAlert("@SharedLocalizer["numCompraRepitida"]");
                    //eliminarLinea(lineas.length -1);
                }



               },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
        });

          console.log(lineas);

    }

     function guardarCompraBorrador() {

        $.ajax({
              type: "POST",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
            url: '@Url.Action("CambiarEstadoBorradorCompra")',
            data: crearModelo(),
            success: function (data) {
                @*window.location.href = "@Url.Action("ListarCompras")";*@

                if (!data.success)
                    cargarAlert("@SharedLocalizer["numCompraRepitida"]");
                else
                    window.location.href = "@Url.Action("ListarCompras")";

               },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
        });

    }

    function elimarCompraDetalle(_id, idLinea) {
        bootbox.confirm("@SharedLocalizer["confirmEliminarLinea"]", function (result) {

            if (result) {
                eliminarDetalleDB(_id, idLinea);
            }
        });
    }

    function eliminarDetalleDB(_id, idLinea) {



                if (idLinea != 0) {
                    $.ajax({
                        type: "POST",
                        headers: {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                        dataType: "json",
                        url: '@Url.Action("EliminarCompraDetalle")',
                        data: { idCD: idLinea },
                        success: function (data) {
                            if (data.success) {
                                eliminarLinea(_id);
                                guardarCompra(false);
                            }
                            else
                                cargarAlert("@SharedLocalizer["anulacionInvalida"]");
                        },
                        error: function (err, scnd) {
                            cargarAlert('@SharedLocalizer["errorGeneral"]');
                            console.log(err.statusText);
                        }
                    });
                }
                else
                    eliminarLinea(_id);

    }

    function anularCompra() {
        bootbox.prompt({
            title: "@SharedLocalizer["confirmAnularCompra"]",
            message: '<p>@SharedLocalizer["Justificación"]</p>',
            inputType: 'textarea',
            callback: function (result) {
                if (result != null) {

                    if (result.replace(/ /g, "") != "") {


                    $.ajax({
                        type: "post",
                        headers: {
                            "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                        },
                        dataType: "json",
                        url: '@Url.Action("CambiarEstadoCompra")',
                        data: {id: @Model.Id},
                        success: function (data) {
                            if (data.success) {
                                setMensajeFromOut(result);
                                cargarAlert('@SharedLocalizer["CompraAnuladaMSJ"]');
                                window.location.href = "@Url.Action("ListarCompras")";
                            }
                            else{
                                cargarAlert("@SharedLocalizer["anulacionInvalida"]");
                        }
                        },
                        error: function (err, scnd) {
                            cargarAlert('@SharedLocalizer["errorGeneral"]');
                            console.log(err.statusText);
                        }
                    });

                }
                else
                    cargarAlert('@SharedLocalizer["JustificacionInvalida"]');
                }

            }
        });
    }


    ///////////////////////////////////////////////crear pdf//////////////////////////////////

    function crearPdf() {

        generate_cutomPDF(crearModeloPDF());

    }

    function crearModeloPDF() {

        var empresaModel = JSON.parse(localStorage.getItem("empresaInfo"));

        var modelo = {
            empresa: {
                nombre: localStorage.getItem("empresa"),
                telefono: empresaModel.tel,
                correo: empresaModel.correo,
                cedJuridica: empresaModel.ced,
                logo: getImgFromUrl(localStorage.getItem("fotoEmpresa")),
                nombreTitulo: "@SharedLocalizer["Nombre"]:",
                telTitulo: "@SharedLocalizer["Telefonos"]:",
                correoTitulo: "@SharedLocalizer["Correo"]:",
                cedTitulo: getTittulos().cedJuridica
            },
            subtotal: formatTotales().subtotal,
            descuento: formatTotales().desc,
            impuesto: formatTotales().imp,
            total: formatTotales().total,
            nombreDoc: '@SharedLocalizer["Compra"] ' + '#@Model.NumeroDocumento',
            nombreDescarga: '@SharedLocalizer["compra"]_' + @Model.Id + '.pdf',
            columnas: {
                item: "Item",
                descripcion: getTittulos().desc,
                cantidad: "@SharedLocalizer["Cantidad"]",
                precioUnid: "@SharedLocalizer["PrecioUnid"]",
                descuento: "@SharedLocalizer["Descuento"]",
                iva: "@SharedLocalizer["IVA"]",
                subtotal: "@SharedLocalizer["SubTotal"]",
                bodega: "@SharedLocalizer["Bodega"]"
            },
            filas: crearFilasPdf(),
            resumen: {
                subtotal: "@SharedLocalizer["SubTotal"]",
                descuento: "@SharedLocalizer["Descuento"]",
                impuesto: "@SharedLocalizer["Impuesto"]",
                total: "@SharedLocalizer["Total"]",
                autorizado: "@SharedLocalizer["Autorizado por"]:______________________"
            },
            proveedor: $('#proveedores option:selected').text(),
            fecha: $('#fecha').val(),
            proveedorTitulo: "@SharedLocalizer["Proveedor"]:",
            fechaTitulo: "@SharedLocalizer["Fecha"]:",
            estado: getEstado(),
            tipoCambio: '@SharedLocalizer["Tipo de cambio"]',
            dolarTitulo: '@SharedLocalizer["Dolar"]',
            euroTitulo: '@SharedLocalizer["Euro"]',
            dolar: $('#dolar').val().toString(),
            euro: $('#euro').val().toString(),
            monedaTitulo: '@SharedLocalizer["Moneda"]',
            moneda: $('.tipoMoneda option:selected').text(),
            tipoDocumentoTitulo: '@SharedLocalizer["TipoDocumento"]',
            tipoDocumento: $('#tipoDocumento option:selected').text()
        };
        console.log(modelo);
        return modelo;

    }

    function crearFilasPdf() {

        var row = [];
        for (var i = 0; i < lineas.length; i++) {

            var subtotal = 0;

            if (lineas[i].porcIva > 0)
                subtotal = lineas[i].subTotalGravado;
            else
                subtotal = lineas[i].subTotalExcento;

            var model = {
                item: getItem(lineas[i].idInventario).codigo,
                descripcion: getItem(lineas[i].idInventario).descripcion,
                cantidad: lineas[i].cantidad.toString(),
                precioUnid: formatearMoneda(lineas[i].precioUnitario),
                descuento: lineas[i].porcDescuento.toString(),
                iva: lineas[i].porcIva.toString(),
                subtotal: formatearMoneda(subtotal),
                bodega: getBodegaItem(lineas[i].idBodega).nombre
            };

            row.push(model);
        }


        return row;
    }


    function formatearMoneda(val) {
        $('#formater').val(val);
        return $('#formater').val().replace("₡", "");
    }

    function getEstado() {
        if ('@Model.Anulado' === "True")
            return "@SharedLocalizer["CompraAnulada"]";
        else
            return "";
    }


    function formatTotales() {
        var tam = 0;

        var subtotal = "";
        var imp = "";
        var desc = "";


        tam = $total.val().length;

        for (var i = $subTotal.val().length; i < tam; i++) {
            subtotal += "\ \ ";
        }
        for (var i = $totalImpuesto.val().length; i < tam; i++) {
            imp += "\ \ ";
        }
        for (var i = $totalDescuento.val().length; i < tam; i++) {
            desc += "\ \ ";
        }




        return {
            subtotal: subtotal + $subTotal.val().replace("₡", ""),
            imp: imp + $totalImpuesto.val().replace("₡", ""),
            desc: desc + $totalDescuento.val().replace("₡", ""),
            total: $total.val().replace("₡", "")
        }

    }

    function getTittulos() {
        var idioma = localStorage.getItem("idioma");
        if (idioma === "es")
            return {
                desc: "Descripción",
                cedJuridica: "Cédula Jurídica:"
            };
        else
            return {
                desc: "Description",
                cedJuridica: "Legal Number:"
            };
    }


    function getItemPorCodigo(cod) {
        for (var i = 0; i < items.length; i++) {
            if (items[i].codigo === cod)
                return items[i];
        }
    }

    function getProveedorPorCed(ced) {


        for (var i = 0; i < proveedores.length; i++) {
            if (proveedores[i].cedula.replace(/-/g, "") === ced)
                return proveedores[i];
        }
    }

    var input, file, fr;
    function crearXMLaJSON() {
        var selectedFile = $('#fileUpload')[0].files[0];



        ////console.log(selectedFile);
        var reader = new FileReader();
        reader.onload = function (e) {
            readXml = e.target.result;
            //console.log(readXml);
            var parser = new DOMParser();
            var doc = parser.parseFromString(readXml, "application/xml");
            returnJson(xmlToJson(doc));
        }
        reader.readAsText(selectedFile);


        //console.log(xml);

    }

    function returnJson(file) {

        console.log(file);

        if (validarXML(file)) {
            $('#cargarXmlModal').modal('hide');

            crearModeloCompra(file);
            var detalle = file.FacturaElectronica.DetalleServicio.LineaDetalle;


            if (detalle.length === undefined)
                crearModeloDetalleXML(detalle);
            else
                for (var i = 0; i < detalle.length; i++) {
                    crearModeloDetalleXML(detalle[i]);
                }

            $numDocumento.val('AutogeneradoXML');
            //console.log(crearModelo());

            guardarCompra(false);
        }




    }

    function crearModeloCompra(data) {
        var doc = data.FacturaElectronica;
        $('.tipoDocumento').val(doc.CondicionVenta["#text"].replace("0", ""));

        $proveedores.val(getProveedorPorCed(doc.Emisor.Identificacion.Numero["#text"]).idContacto);
        $('.selectItems').trigger('change');

        var date1 = new Date(doc.FechaEmision["#text"]);
        var date2 = new Date(date1.getTime());


        $('#fecha').datetimepicker({
            date: date2,
            locale: localStorage.getItem("idioma")
        });


    }

    function crearModeloDetalleXML(array) {
        console.log(array);

        var item = getItemPorCodigo(array.Codigo.Codigo["#text"]);

        var model = {
            id: 0,
            idCompra: 0,
            idInventario: item.idInventario,
            nombreItem: item.descripcion,
            cosigoItem: item.codigo,
            idMonedaCD: parseInt($('.tipoMoneda').val()),
            cantidad: parseFloat(array.Cantidad["#text"]),
            precioUnitario: parseFloat(array.PrecioUnitario["#text"]),
            subTotalGravado: calcularSubtotalGravadoXML(array),
            subTotalExcento: calcularSubtotalExcentoXML(array),
            subTotalGravadoNeto: calcularSubtotalGravadoNetoXML(array),
            subTotalExcentoNeto: calcularSubtotalExcentoNetoXML(array),
            porcIva: getImpuestoXML(array).Tarifa,
            totalIs: 0,
            porcFa: 0,
            totalFa: 0,
            idBodega: $('#bodega').val(),
            porcDescuento: getDescuentoXML(array),
            totalDescuento: getDescuentoXML(array),
            totalIva: getImpuestoXML(array).Monto,
            total: parseFloat(array.MontoTotalLinea["#text"]),
            bodega: $('#bodega option:selected').text()
        };

        //lineasCrOrUp = [];

        lineasCrOrUp.push(model);

        console.log(model);
        lineas.push(model);

        cargarTabla(lineas);
        //calcularTotales();



    }

    function validarXML(file) {
        var doc = file.FacturaElectronica;

        if (doc === undefined) {

            cargarAlert("@SharedLocalizer["XMLInvalido"]");
            return false;
        }

        var detalle = file.FacturaElectronica.DetalleServicio.LineaDetalle;
        var cedEmpresa = JSON.parse(localStorage.getItem("empresaInfo")).ced.replace(/-/g, "");

        var flag = true;


        if (doc.Receptor.Identificacion.Numero["#text"] != cedEmpresa) {
            flag = false;
        }


        if (doc.ResumenFactura.CodigoMoneda["#text"] != monedas[0].nombre) {
            flag = false;
        }



        if (detalle.length === undefined) {
            if (getItemPorCodigo(detalle.Codigo.Codigo["#text"]) === undefined) {
                flag = false;

            }

        }
        else {
            for (var i = 0; i < detalle.length; i++) {
                if (getItemPorCodigo(detalle[i].Codigo.Codigo["#text"]) === undefined) {
                    flag = false;
                    break;
                }
            }
        }

        if (!flag)
            cargarAlert("@SharedLocalizer["XMLInvalido"]");

        return flag;

    }


    function calcularSubtotalExcentoXML(array) {
        if (array.Impuesto === undefined)
            return paraseFloat(array.SubTotal["#text"]);
        else
            return 0;
    }

    function calcularSubtotalGravadoXML(array) {
        if (array.Impuesto != undefined)
            return parseFloat(array.SubTotal["#text"]);
        else
            return 0;
    }

    function getDescuentoXML(array) {
        if (array.MontoDescuento != undefined)
            return array.MontoDescuento["#text"];
        else
            return 0;
    }

    function getImpuestoXML(array) {
        if (array.Impuesto != undefined)
            return {
                Monto: parseFloat(array.Impuesto.Monto["#text"]),
                Tarifa: parseFloat(array.Impuesto.Tarifa["#text"])
            };
        else
            return {
                Monto: 0,
                Tarifa: 0
            };
    }

    function calcularSubtotalExcentoNetoXML(array) {
        if (array.Impuesto === undefined && array.Descuento != undefined)
            return parseFloat(array.SubTotal["#text"]) - parseFloat(array.Descuento.Monto["#text"]);
        else
            return calcularSubtotalExcentoXML(array);
    }

    function calcularSubtotalGravadoNetoXML(array) {
        if (array.Descuento != undefined && array.Descuento != undefined)
            return parseFloat(array.SubTotal["#text"]) - parseFloat(array.Descuento.Monto["#text"]);
        else
            return calcularSubtotalGravadoXML(array);
    }


    function pasarSigCampo(e, id) {


        (e.keyCode) ? k = e.keyCode : k = e.which;

        if (k == 13) {
            if (id == "submitFrmCD") {


                prepararLinea(); // invocado para preparar el item y comprobar su existencia


            }
            else {
                document.getElementById(id).focus();

            }

            $('#' + id).select();
        }
    }

</script>
<script src="~/lib/vendors/jsPDF/CI.js"></script>
<script src="~/js/XMLtoJSON.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/x2js/1.2.0/xml2json.min.js"></script>