@model IList<TbPrCompra>
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Compras"];
    var date = DateTime.Now;

    var monedas = ViewData["monedas"] as IList<TbSeMoneda>;
}


<div class="row">
    <div class="col-md-2">
        <h3>@SharedLocalizer["Compras"]</h3>
    </div>
    <div class="col-md-4" style="margin-left:1rem; padding-top:0.7rem">
        <p>
            <a asp-action="CrearCompra" class="btn btn-primary"><span>@SharedLocalizer["Agregar"] </span>&nbsp;<i class="fas fa-plus-circle"></i></a>
        </p>
    </div>
</div>



<div class="row">

    <div class="col-md-2 col-sm-4 col-xs-12" style="margin-top: 0.2rem">
        <label>@SharedLocalizer["buscarPorNumero"]:</label>
        <input type="text" id="filtroBuscarNum" class="form-control" placeholder="@SharedLocalizer["Número"]" />
    </div>

    <div class="col-md-2 col-sm-4 col-xs-12">
        <label style="padding-top: 0.2rem">@SharedLocalizer["buscarPorProveedor"]:</label>
        <input type="text" id="filtroBuscarPro" class="form-control" placeholder="@SharedLocalizer["Proveedor"]" />
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">

        <label class="control-label">
            <input type="checkbox" id="habilitaFiltroFecha"> @SharedLocalizer["FiltroFecha"]
        </label>
        <form id="frmFecha" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon"><i class="fas fa-calendar"></i></span>
                            <input type="text" style="width: 200px" name="filtroFecha" id="filtroFecha" class="form-control" value="@date.Date - @date.Date" />
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
    <div class="col-md-2 checkbox">
        <label class="control-label">
            <input type="checkbox" id="estado"> @SharedLocalizer["VerAnuladas"]
        </label>
    </div>

</div>


<div id="partialCompras">

</div>

<input readonly hidden id="monedaFormater" />

<style>
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }
</style>

<script>
    var compras = [];
    var comprasFiltrado = [];
    var hasta;
    var desde;


    $(document).ready(function () {

        hasta = new Date().toLocaleString();
        desde = new Date().toLocaleString();

        getlistarPartial();

        $('#filtroFecha').attr('disabled', true);

        $('#filtroFecha').daterangepicker({
            opens: 'left',

            "locale": {
                format: "@SharedLocalizer["formatoFecha"]",
                "separator": " - ",
                "applyLabel": "@SharedLocalizer["Aplicar"]",
                "cancelLabel": "@SharedLocalizer["Cancelar"]",
                "fromLabel": "@SharedLocalizer["DE"]",
                "toLabel": "@SharedLocalizer["Hasta"]",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "@SharedLocalizer["Dom"]",
                    "@SharedLocalizer["Lun"]",
                    "@SharedLocalizer["Mar"]",
                    "@SharedLocalizer["Mie"]",
                    "@SharedLocalizer["Jue"]",
                    "@SharedLocalizer["Vie"]",
                    "@SharedLocalizer["Sáb"]"
                ],
                "monthNames": [
                    "@SharedLocalizer["Enero"]",
                    "@SharedLocalizer["Febrero"]",
                    "@SharedLocalizer["Marzo"]",
                    "@SharedLocalizer["Abril"]",
                    "@SharedLocalizer["Mayo"]",
                    "@SharedLocalizer["Junio"]",
                    "@SharedLocalizer["Julio"]",
                    "@SharedLocalizer["Agosto"]",
                    "@SharedLocalizer["Septiembre"]",
                    "@SharedLocalizer["Octubre"]",
                    "@SharedLocalizer["Noviembre"]",
                    "@SharedLocalizer["Diciembre"]"
                ],
                "firstDay": 1
            }
        },
        function (start, end, label) {

            desde = start.format('YYYY-MM-DD');
            hasta = end.format('YYYY-MM-DD');
            getlistarPartial();

            });

    });

    function getlistarPartial(){
        var url = "@Url.Action("_ListarCompras")";
            
        $.ajax({
            type: "Post",
            url: url,
            data: { filtro: crearModeloFiltro() },
            success: function (data) {
                $('#partialCompras').html(data);
                cargarFiltros();
            },
            error: function (err, scnd) {
                console.log(err.statusText);
            }

        });
    }

    function crearModeloFiltro() {


        if ($('#habilitaFiltroFecha').prop('checked')) {

            return { desde: desde, hasta: hasta, filtrando: true }

        }
        else {
            return { desde: desde, hasta: hasta, filtrando: false }
        }
    }

    /////////////////////filtros//////////////////


    $("#filtroBuscarPro").on("keyup", function () {
        filtroBuscarPro(this.value);
    });

    function filtroBuscarPro(value) {
        tblCompras
            .columns(3)
            .search(value)
            .draw();
    }

    $("#filtroBuscarNum").on("keyup", function () {
        filtroBuscarNum(this.value);
    });

    function filtroBuscarNum(value) {
        tblCompras
            .columns(0)
            .search(value)
            .draw();
    }

    $('#habilitaFiltroFecha').change(function () {

        if (!$(this).prop('checked')) {
            $('#filtroFecha').attr('disabled', true);
        }
        else {
            $('#filtroFecha').attr('disabled', false);
        }

        getlistarPartial();
    });

    $('#estado').change(function () {

        filtroAnulados($('#estado').prop('checked'));

    });

    function filtroAnulados(value) {
        tblCompras
            .columns(4)
            .search(value.toString())
            .draw();
    }

    function cargarFiltros() {

        filtroBuscarPro($("#filtroBuscarPro").val());
        filtroBuscarNum($("#filtroBuscarNum").val());
        filtroAnulados($('#estado').prop('checked'));
    }
    

</script>

