@inject IStringLocalizer<SharedResources> lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    ViewData["Title"] = @lb[ViewBag.Titulo];
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@lb[ViewBag.Titulo]</title>

</head>
<body>
    <div class="row">
        <div class="col-md-1">
            <h3>@lb[ViewBag.Titulo]</h3>
        </div>
        <div class="col-md-4" style="margin-left:15rem; padding-top:0.7rem">
            <p>
                <a class="btn btn-primary" asp-action="u"><span>@lb["Agregar"]</span>&nbsp;<i class="fas fa-plus-circle"></i></a>
            </p>
        </div>
    </div>

    <table id="CatalogoCuenta" class="table" style="width:100%">
        <tr>           
            <td>@lb["CuentaContable"]</td>
            <td>@lb["Descripcion"]</td>
            <td>@lb["Tipo"]</td>
            <td>@lb["CuentaMadre"]</td>
            <td>@lb["DescCuentaMadre"]</td>
                     <td></td>
        </tr>

        @foreach (AltivaWebApp.DomainsConta.CatalogoContable c in ViewBag.CatalogoContable)
        {
    <tr>
        @{

            if (c.Inactivo)
            {
                <td>
                    <a  asp-action="uDet" asp-route-id="@c.IdCuentaContable" style="border: 0; padding: 2px 4px;background: #808080;color: white;border-radius: 24px; transition: 0.25s;">@c.CuentaContable</a>

                </td>
            }
            else
            {
                if (c.Movimiento)
                {
                    <td>
                        <a  asp-action="u" asp-route-id="@c.IdCuentaContable" style="border: 0; padding: 2px 4px;background: #0094ff;color: white;border-radius: 24px; transition: 0.25s;" >@c.CuentaContable</a>

                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="u" asp-route-id="@c.IdCuentaContable">@c.CuentaContable</a>  

                    </td>

                }
            }
            <td>
                <a asp-action="u" asp-route-id="@c.IdCuentaContable"> @c.Descripcion</a>
</td>
            <td>
                @{
                    if (c.IdTipoCuentaContable == 1)
                    {
                        <a asp-action="u" asp-route-id="@c.IdCuentaContable">@lb["ACTIVO"]</a>
                    }
                    if (c.IdTipoCuentaContable == 2)
                    {
            <a asp-action="u" asp-route-id="@c.IdCuentaContable">@lb["PASIVO"]</a>
                    }
                    if (c.IdTipoCuentaContable == 3)
                    {
            <a asp-action="u" asp-route-id="@c.IdCuentaContable">@lb["CAPITAL"]</a>
                    }
                    if (c.IdTipoCuentaContable == 4)
                    {
            <a asp-action="u" asp-route-id="@c.IdCuentaContable">@lb["INGRESO"]</a>
                    }
                    if (c.IdTipoCuentaContable == 5)
                    {
            <a asp-action="u" asp-route-id="@c.IdCuentaContable">@lb["COSTO"]</a>
                    }
                    if (c.IdTipoCuentaContable == 6)
                    {
            <a asp-action="u" asp-route-id="@c.IdCuentaContable">@lb["GASTO"]</a>
                    }
                }
            </td>
            <td>
                @c.CuentaContablePadre
            </td>
            <td>
                @c.DescCuentaPadre
            </td>

            <td>
                @{
                    if (!c.Movimiento)
                    {

                        <a asp-action="uDet" asp-route-id="@c.IdCuentaContable"><span>@lb["Hija"]</span>&nbsp;<i class="fas fa-plus-circle"></i></a>


                    }

                }
                <a asp-action="u" asp-route-id="@c.IdCuentaContable"><span>@lb["Editar"]</span>&nbsp;<i class="fas fa-edit"></i></a>

            </td>
        }

    </tr>
        }
    </table>

</body>
</html>