@inject IStringLocalizer<SharedResources> lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    ViewData["Title"] = @lb[ViewBag.Titulo];
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@lb[ViewBag.Titulo]</title>

</head>
<body>
    <div class="row">
        <div class="col-md-1">
            <h3>@lb[ViewBag.Titulo]</h3>
        </div>
        <div class="col-md-4" style="margin-left:15rem; padding-top:0.7rem">
            <p>
                <a class="btn btn-primary" asp-action="nItem"><span>@lb["Agregar"]</span>&nbsp;<i class="fas fa-plus-circle"></i></a>
            </p>
        </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-header">
            Featured
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Vestibulum at eros</li>
        </ul>
    </div>

    <table id="CatalogoCuenta" class="table" style="width:100%">
        <tr>
            <td>@lb["CuentaContable"]</td>
            <td>@lb["Descripcion"]</td>
            <td>@lb["Tipo"]</td>
            <td>@lb["CuentaMadre"]</td>
            <td>@lb["DescCuentaMadre"]</td>
            <td></td>
        </tr>
    </table>
    @foreach (AltivaWebApp.DomainsConta.CatalogoContable c in ViewBag.CatalogoContable)
    {
        <div class="@c.IdCuentaContablePadre" id="@c.IdCuentaContable">
            <div class="form-group">
                @{
                    if (c.Inactivo)
                    {
                        <div class=".col-xs-8 .col-sm-6">
                            <label>
                                @lb[">>"]<input type="checkbox" Id="VerCheck" onchange="activarVer(@c.IdCuentaContable)" />
                            </label>
                            <a asp-action="uDet" asp-route-id="@c.IdCuentaContable" style="border: 0; padding: 2px 4px;background: #808080;color: white;border-radius: 24px; transition: 0.25s;">@c.CuentaContable</a>
                        </div>

                    }
                    else
                    {
                        if (c.Movimiento)
                        {
                            <div class=".col-xs-8 .col-sm-6">
                                <label>
                                    @lb[">>"]<input type="checkbox" Id="VerCheck" onchange="activarVer(@c.IdCuentaContable)" />
                                </label>
                                <a asp-action="u" asp-route-id="@c.IdCuentaContable" style="border: 0; padding: 2px 4px;background: #0094ff;color: white;border-radius: 24px; transition: 0.25s;">@c.CuentaContable</a>
                            </div>

                        }
                        else
                        {
                            <div class=".col-xs-8 .col-sm-6">
                                <label>
                                    @lb[">>"]<input type="checkbox" Id="VerCheck" onchange="activarVer(@c.IdCuentaContable)" />
                                </label>
                                <a asp-action="u" asp-route-id="@c.IdCuentaContable">@c.CuentaContable</a>
                            </div>


                        }
                    }
                }
                <div class=".col-xs-8 .col-sm-6">
                    <a asp-action="u" asp-route-id="@c.IdCuentaContable"> @c.Descripcion</a>
                    @{
                        if (c.IdTipoCuentaContable == 1)
                        {
                            <a asp-action="u" asp-route-id="@c.IdCuentaContable">@lb["ACTIVO"]</a>
                        }
                        if (c.IdTipoCuentaContable == 2)
                        {
                            <a asp-action="u" asp-route-id="@c.IdCuentaContable">@lb["PASIVO"]</a>
                        }
                        if (c.IdTipoCuentaContable == 3)
                        {
                            <a asp-action="u" asp-route-id="@c.IdCuentaContable">@lb["CAPITAL"]</a>
                        }
                        if (c.IdTipoCuentaContable == 4)
                        {
                            <a asp-action="u" asp-route-id="@c.IdCuentaContable">@lb["INGRESO"]</a>
                        }
                        if (c.IdTipoCuentaContable == 5)
                        {
                            <a asp-action="u" asp-route-id="@c.IdCuentaContable">@lb["COSTO"]</a>
                        }
                        if (c.IdTipoCuentaContable == 6)
                        {
                            <a asp-action="u" asp-route-id="@c.IdCuentaContable">@lb["GASTO"]</a>
                        }
                    }
                </div>

                <div class=".col-xs-8 .col-sm-6">
                    <a>
                        @c.CuentaContablePadre

                    </a>
                </div>

                <div class=".col-xs-8 .col-sm-6">
                    <a>
                        @c.DescCuentaPadre
                    </a>
                </div>
                @{
                    if (!c.Movimiento)
                    {
                        <div class=".col-xs-8 .col-sm-6">
                            <a asp-action="nItem" asp-route-idP="@c.IdCuentaContable"><span>@lb["Hija"]</span>&nbsp;<i class="fas fa-plus-circle"></i></a>
                        </div>

                    }

                }
                <div class=".col-xs-8 .col-sm-6">
                    <a asp-action="eItem" asp-route-id="@c.IdCuentaContable"><span>@lb["Editar"]</span>&nbsp;<i class="fas fa-edit"></i></a>
                </div>
            </div>
        </div>
    }


    <script>
        function activarVer(IdCuenta) {
            muestra_oculta(IdCuenta);
        }
        function muestra_oculta(id) {


            var hijos = document.getElementsByClassName(id);
            console.log("Class: " + id + " Hijos: " + hijos.length);
            var i = 0;
            for (i = 0; i < hijos.length; i++) {
                var el = hijos[i];
                el.style.display = (el.style.display == 'none') ? 'block' : 'none';
                console.log("Class e: " + id + " // Id: " + el.id + " // Pos: " + i);
                muestra_oculta(el.id);
                console.log("Class s: " + id + " // Id: " + el.id + " // Pos: " + i);
            }
            console.log("Class f: " + id + " Hijos: " + hijos.length);

        }
    </script>

</body>
</html>