@model AltivaWebApp.ViewModels.CatalogoContableViewModel
@inject IStringLocalizer<SharedResources> lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = @lb[ViewBag.Titulo];

}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@lb[ViewBag.Titulo];</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4">
            <form id="frmCuenta" asp-action="guardar" asp-controller="CatalogoConta" method="post">
                <input type="hidden" asp-for="IdCuentaContable" />
                <div class="form-group">
                    <label asp-for="IdTipoCuentaContable" class="control-label">@lb["TipoCuentaContable"]:</label>
                    <select asp-for="IdTipoCuentaContable" class="form-control">
                        <option value="1">@lb["ACTIVO"]</option>
                        <option value="2">@lb["PASIVO"]</option>
                        <option value="3">@lb["CAPITAL"]</option>
                        <option value="4">@lb["INGRESO"]</option>
                        <option value="5">@lb["COSTO"]</option>
                        <option value="6">@lb["GASTO"]</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>
                        @lb["Movimientos"] <input asp-for="Movimiento" />

                    </label>
                    <span hidden id="MovimientoValid" class="text-danger">@lb["NoPermiteSerMovimiento"]</span>
                </div>
                <input type="number" min="@ViewBag.Min" max="@ViewBag.Max" class="form-control" placeholder="@lb["Numero"]" id="Numero" />
                <input type="hidden" class="form-control" placeholder="@lb["Numero"]" id="Nivel" asp-for="Nivel" />

                <div class="form-group">
                    <label asp-for="CuentaContable" class="control-label"><span class="text-danger"></span>@lb["CuentaContable"]:</label>
                    <input disabled asp-for="CuentaContable" id="CuentaContableInput" class="form-control" required maxlength="255" placeholder=@ViewBag.Formato data-mask=@ViewBag.Formato />
                    <span hidden id="duplicacionCuentaValid" class="text-danger">@lb["repetidoValid"]</span>
                    <span hidden id="nombreCuentaValid" class="text-danger">@lb["CuentaValid"]</span>
                </div>

                <div class="form-group">
                    <label asp-for="Descripcion" class="control-label">@lb["Descripcion"]:</label>
                    <input asp-for="Descripcion" id="DescripcionInput" class="form-control" required maxlength="250" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                    <span hidden id="duplicacionDescripcionValid" class="text-danger">@lb["repetidoValid"]</span>
                    <span hidden id="nombreDescripcionValid" class="text-danger">@lb["nombreValid"]</span>
                </div>
                <div id="cuentasPadre">
                    <div class="form-group">
                        <label asp-for="IdCuentaContablePadre" class="control-label"><span class="text-danger"></span>@lb["IdPadre"]:</label>
                        <input asp-for="IdCuentaContablePadre" class="form-control" type="number" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CuentaContablePadre" class="control-label"><span class="text-danger"></span>@lb["CuentaContablePadre"]:</label>
                        <input asp-for="CuentaContablePadre" class="form-control" maxlength="50" placeholder=@ViewBag.Formato data-mask=@ViewBag.Formato />
                    </div>
                    <div class="form-group">
                        <label asp-for="DescCuentaPadre" class="control-label">@lb["DescripcionPadre"]:</label>
                        <input asp-for="DescCuentaPadre" class="form-control" maxlength="250" />
                        <span asp-validation-for="DescCuentaPadre" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Notas" class="control-label">@lb["Notas"]:</label>
                    <textarea cols="40" rows="5" asp-for="Notas" class="form-control" maxlength="80000"></textarea>
                </div>
                <div class="form-group">
                    <label>
                        @lb["Evaluacion"] <input asp-for="Evaluacion" />
                    </label>

                </div>
                <div class="form-group">
                    <label asp-for="IdMonedaEvaluacion" class="control-label">@lb["MonedaEvaluacion"]:</label>
                    <select asp-for="IdMonedaEvaluacion" class="form-control">
                        <option value="1">@lb["BASE"]</option>
                        <option value="2">@lb["DOLAR"]</option>
                        <option value="3">@lb["EURO"]</option>
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="IdTipoConversion" class="control-label">@lb["Conversion"]:</label>
                    <select asp-for="IdTipoConversion" class="form-control">
                        <option value="1">@lb["HISTORICO"]</option>
                        <option value="2">@lb["CONVERSION"]</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>
                        @lb["Inactivo"] <input asp-for="Inactivo" />
                    </label>

                </div>
                <div class="form-group">
                    <button id="btnGuardar" asp-controller="CatalogoConta" asp-action="Guardar" value="Guardar" class="btn btn-success"><span>@lb["Guardar"]</span> <span><i class="fas fa-save"></i></span></button>
                    <a class="btn btn-default btnAtras" asp-action="Index" asp-controller="CatalogoConta">@lb["Cancelar"]</a>
                </div>
            </form>
        </div>
    </div>

</body>

</html>

@{
    if (ViewBag.Error)
    {
        if (ViewBag.Dato == "Cuenta")
        {
            <script>
                function CuentaRepetida() {
                    $('#duplicacionCuentaValid').attr('hidden', false);
                }
                CuentaRepetida();
            </script>
        }
        if (ViewBag.Dato == "Descripcion")
        {
            <script>
                function DescripcionRepetida() {
                    $('#duplicacionDescripcionValid').attr('hidden', false);
                }
                DescripcionRepetida();
            </script>
        }
        if (ViewBag.Dato == "MovimientoInvalido")
        {
            <script>
                function MovimientoNoValid() {
                    $('#MovimientoValid').attr('hidden', false);
                }
                MovimientoNoValid();
            </script>
        }

    }
}
<script type="text/javascript">

    $(function () {
        $("#Numero").on("change", function () {
            definirEjemplo();
        });
    });
    function definirEjemplo() {
        var numero = document.getElementById('Numero').value;
        var padre = document.getElementById('CuentaContablePadre').value;
        var ejemplo = rellenarCeros(document.getElementById('Nivel').value, numero.length) + numero;

        document.getElementById("CuentaContableInput").value = ejemplo;
        if 
    }
    function rellenarCeros(n, cant) {
        var ceros = "0";
        n = n - cant;
        console.log(n);
        console.log(cant);
        console.log(n);
        if (n <= 0) {
            return "";
        }

        for (var i = 1; i < n; i++) {
            ceros = ceros + "0";
        }

        return ceros;
    }
    definirEjemplo();
    function esPrimaria() {
        var numero = document.getElementById('Numero').value;
        if (numero = 1) {
            muestra_oculta('cuentasPadre');
        }

    }
    esPrimaria();
    function muestra_oculta(id) {
        if (document.getElementById) { //se obtiene el id
            var el = document.getElementById(id); //se define la variable "el" igual a nuestro div
            el.style.display = (el.style.display == 'none') ? 'block' : 'none'; //damos un atributo display:none que oculta el div
        }
    }
    window.onload = function () {/*hace que se cargue la función lo que predetermina que div estará oculto hasta llamar a la función nuevamente*/
        muestra_oculta('contenido');/* "contenido_a_mostrar" es el nombre que le dimos al DIV */
    }
</script>

