@model AltivaWebApp.DomainsConta.CatalogoContable
@inject IStringLocalizer<SharedResources> lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = @lb[ViewBag.Titulo];
    
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@lb[ViewBag.Titulo];</title>
</head>
<body>

    <div class="row">

        <div>
            <div class="col-md-4">

                <form asp-action="guardar" asp-controller="CatalogoConta" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="IdCuentaContable" />
                    <div class="form-group">
                        <label asp-for="IdTipoCuentaContable" class="control-label">@lb["TipoCuentaContable"]:</label>
                        <select asp-for="IdTipoCuentaContable" class="form-control">
                            <option value="1">@lb["ACTIVO"]</option>
                            <option value="2">@lb["PASIVO"]</option>
                            <option value="3">@lb["CAPITAL"]</option>
                            <option value="4">@lb["INGRESO"]</option>
                            <option value="5">@lb["COSTO"]</option>
                            <option value="6">@lb["GASTO"]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="CuentaContable" class="control-label"><span class="text-danger"></span>@lb["CuentaContable"]:</label>
                        <input asp-for="CuentaContable" class="form-control" required maxlength="255" placeholder=@ViewBag.Formato data-mask=@ViewBag.Formato />
                    </div>

                    <div class="form-group">
                        <label asp-for="Descripcion" class="control-label">@lb["Descripcion"]:</label>
                        <input asp-for="Descripcion" class="form-control" required maxlength="250" />
                        <span asp-validation-for="Descripcion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>
                            @lb["Movimientos"] <input asp-for="Movimiento" />
                        </label>

                    </div>
                    <div class="form-group">
                        <label asp-for="IdCuentaContablePadre" class="control-label"><span class="text-danger"></span>@lb["IdPadre"]:</label>
                        <input asp-for="IdCuentaContablePadre" class="form-control" type="number" />
                    </div>
                    <div class="form-group">
                        <label asp-for="CuentaContablePadre" class="control-label"><span class="text-danger"></span>@lb["CuentaContablePadre"]:</label>
                        <input asp-for="CuentaContablePadre" class="form-control" maxlength="255" placeholder=@ViewBag.Formato data-mask=@ViewBag.Formato />
                    </div>


                    <div class="form-group">
                        <label asp-for="DescCuentaPadre" class="control-label">@lb["DescripcionPadre"]:</label>
                        <input asp-for="DescCuentaPadre" class="form-control" maxlength="250" />
                        <span asp-validation-for="DescCuentaPadre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Notas" class="control-label">@lb["Notas"]:</label>
                        <textarea cols="40" rows="5" asp-for="Notas" class="form-control" maxlength="80000"></textarea>
                    </div>
                    <div class="form-group">
                        <label>
                            @lb["Evaluacion"] <input asp-for="Evaluacion" />
                        </label>

                    </div>


                    <div class="form-group">
                        <label asp-for="IdMonedaEvaluacion" class="control-label">@lb["MonedaEvaluacion"]:</label>
                        <select asp-for="IdMonedaEvaluacion" class="form-control">
                            <option value="1">@lb["BASE"]</option>
                            <option value="2">@lb["DOLAR"]</option>
                            <option value="3">@lb["EURO"]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label asp-for="IdTipoConversion" class="control-label">@lb["Conversion"]:</label>
                        <select asp-for="IdTipoConversion" class="form-control">
                            <option value="1">@lb["HISTORICO"]</option>
                            <option value="2">@lb["CONVERSION"]</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>
                            @lb["Inactivo"] <input asp-for="Inactivo" />
                        </label>

                    </div>
                    <div class="form-group">
                        <button type="submit" value="Editar" class="btn btn-success">@lb["Guardar"]<i class="fas fa-save"></i></button>
                        <a class="btn btn-default btnAtras" asp-action="Index" asp-controller="CatalogoConta">@lb["Cancelar"]</a>
                    </div>


                </form>
            </div>

        </div>
    </div>

</body>
</html>
