@model AltivaWebApp.ViewModels.MensajeViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<hr />
<div class="row">
    <div class="col-md-12">
        <h4>Comentarios</h4>
    </div>
    <div class="col-md-6">
        <form id="frmComentario">
            
            <div class="form-group">
                <label asp-for="mensaje" class="control-label">Comentario:</label>
                <textarea asp-for="mensaje" class="form-control" rows="4"> </textarea>
                <span hidden data-translate="comentarioValid" id="mensajeValid" class="text-danger">Comentario no puede ir vacío</span>
            </div>
            <div class="form-group">
                <span data-translate="cargaArchivos" class="input-group-text" id="inputGroup-sizing-sm">Adjuntar Archivos</span>
                <input type="file" asp-for="Files" class="form-control" multiple="multiple" id="fileUpload">
                <span hidden class="text-danger" data-translate="tamanoArchivoValid" id="tamanoArchivos">El tamaño máximo del archivo es de 25MB</span>
                <span hidden data-translate="cantidadArchivosValid" id="cantidadArchivos" class="text-danger">No puede agregar más de 5 archivos</span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="tipoMensaje" class="control-label"></label>
                <input asp-for="tipoMensaje" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label asp-for="tipoReferencia" class="control-label"></label>
                <input asp-for="tipoReferencia" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label asp-for="id" class="control-label"></label>
                <input asp-for="id" class="form-control" />
            </div>
        </form>
        <div class="form-group">
            <button class="btn btn-success" onclick="guardarComentario()" id="btnGuardarComentario">Guardar</button>
        </div>
    </div>
</div>

<div id="listaComentarios">
    <div id="contenido">

    </div>
</div>

<script>
    var model = {
            idReferencia: 0,
            tipoReferencia: ''
        };

    $(document).ready(function () {
     
        model.idReferencia= @Model.id;
        model.tipoReferencia = '@Model.tipoReferencia';

        GetComentarios(model);

    });



    function guardarComentario() {
        $.ajax({
                type: "post",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: '/Mensajes/Nuevo-Comentario',
                data: $('#frmComentario').serialize(),
                success: function (data) {
                    GetComentarios(model);                  
                },
                error: function (err, scnd) {
                    console.log(err.statusText);
                }
        });
    }

    $('#fileUpload').bind('change', function (e) {

  
        for (var i = 0; i < this.files.length; i++) {

            e = + this.files[i].size;
            if (e > 25000) {
                $('#tamanoArchivos').attr('hidden', false);
                break;
            }
        }

        if (this.files.length > 5) {

            $('#cantidadArchivos').attr('hidden', false);
          
        }
    });

    function GetComentarios(model) {
         $.ajax({
             type: "GET",
             headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
             },
             url: '@Url.Action("ListarComentarios", "Mensajes")',
             data: model,
             success: function (data) {
                 $('#contenido').remove();
                 $('#listaComentarios').html('<div id=contenido></div>');  
                 $('#contenido').html(data);   
                                      
             },
             error: function (err, scnd) {

                alert("Lo sentimos, tuvimos un problema al procesar tu solicitud.");
                console.log(err.statusText);

             }           

         });
    }
</script>
