@model AltivaWebApp.ViewModels.MensajeViewModel
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@*<link href="~/lib/vendors/jquery-filestyle-2.1.0/src/jquery-filestyle.css" rel="stylesheet" />*@

<div class="row">

    <div   class="col-md-6 col-sm-6 col-xs-12">
        <br />
        <form id="frmComentario" >
            <div  class="form-group">
                <label asp-for="mensaje" class="control-label">@Lb["Comentario"]:</label>
                <textarea id="txtMensaje" asp-for="mensaje" maxlength="1000" class="form-control " rows="4"> </textarea>
                <span hidden  id="comentarioValid" class="text-danger">@Lb["comentarioValid"].</span>
            </div>
            <div class="form-group">
                <p class="input-group-text" id="inputGroup-sizing-sm"><strong>@Lb["adjuntarArchivos"]</strong></p>
                <input type="file" asp-for="Files" multiple="multiple" id="fileUpload" class="jfilestyle" data-theme="blue" data-text="@Lb["Examinar"]">
                <span hidden class="text-danger" id="tamanoArchivos">@Lb["tamanoArchivo"]. (25MB)</span>
                <span hidden id="cantidadArchivos" class="text-danger">@Lb["cantidadArchivosValid"]</span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="tipoMensaje" class="control-label"></label>
                <input id="txtTipoMensaje" asp-for="tipoMensaje" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label asp-for="tipoReferencia" class="control-label"></label>
                <input id="txtTipoReferencia" asp-for="tipoReferencia" class="form-control" />
            </div>
            <div class="form-group" hidden>
                <label asp-for="id" class="control-label"></label>
                <input id="txtId" asp-for="id" class="form-control" />
            </div>
        </form>
        <div class="form-group">
            <button   class="btn btn-primary" onclick="guardarComentario()" id="btnGuardarComentario">@Lb["Enviar"] <i class="fas fa-paper-plane"></i></button>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-xs-12">
        <div id="listaComentarios">
            <div id="contenido">

            </div>
        </div>
    </div>
</div>


<script src="~/lib/vendors/jquery-filestyle-2.1.0/src/jquery-filestyle.js"></script>
<script>
    var model = {
            idReferencia: 0,
            tipoReferencia: ''
    };
      
    $(document).ready(function () {
        
        
        if ($('#estadoDocumento').val() === "false")
            $("#btnGuardarComentario").prop('disabled', true);
        else
            $("#btnGuardarComentario").prop('disabled', false);


        model.idReferencia= @Model.id;
        model.tipoReferencia = '@Model.tipoReferencia';

        GetComentarios(model);
       

    });

    function guardarComentario() {
        //$('#frmComentario').serialize()
      
        var formData = new FormData();
        var file = [];
        var files = $('#fileUpload')[0].files;

        for (var i = 0; i < files.length; i++) {
            formData.append("files", files[i]);
        }


        formData.append('mensaje', $('#txtMensaje').val());
        formData.append('tipoMensaje', $('#txtTipoMensaje').val());
        formData.append('tipoReferencia', $('#txtTipoReferencia').val());
        formData.append('id', $('#txtId').val());
        console.log($('#txtMensaje').val());
        if ($('#txtMensaje').val() != "")
            $.ajax({
                type: "post",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                //url: '../../Mensajes/Crear-ComentrioPost',
                url: '@Url.Action("CrearComentarioPost", "Mensajes")',
                dataType: 'json',
                contentType: false,
                processData: false,
                data: formData,
                success: function (data) {
                    $('#txtMensaje').val("");
                    //$('#fileUpload').val('');
                    $("#fileUpload").jfilestyle('clear');
                    GetComentarios(model);
                    $('#comentarioValid').attr('hidden', true);
                    $('#tamanoArchivos').attr('hidden', true);
                    $('#cantidadArchivos').attr('hidden', true);

                },
                error: function (err, scnd) {
                    cargarAlert("@Lb["errorGeneral"]");
                    console.log(err.statusText);
                }
            });
        else
            $('#comentarioValid').attr('hidden', false);
    }

    $('#fileUpload').bind('change', function () {

        var e = 0;
        for (var i = 0; i < this.files.length; i++) {

            e = + this.files[i].size;
            
        }

        if (e > 25000000) {
            $('#tamanoArchivos').attr('hidden', false);
            $(this).val('');
        }

        if (this.files.length > 5) {
            $(this).attr("value", "");
            $('#cantidadArchivos').attr('hidden', false);
            $(this).val('');
        }
    });

    function GetComentarios(model) {
        
         $.ajax({
             type: "POST",
             headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
             },
             url: '@Url.Action("ListarComentarios", "Mensajes")',
             data: model,
             success: function (data) {
                 $('#contenido').remove();
                 $('#listaComentarios').html('<div id=contenido></div>');
                 $('#contenido').html(data);

             },
             error: function (err, scnd) {

                cargarAlert('@Lb["errorGeneral"]');
                console.log(err.statusText);

             }

         });
    }

    function setMensajeFromOut(mensaje) {
        $('#txtMensaje').val(mensaje);
        guardarComentario();
    }
</script>
