
@model AltivaWebApp.ViewModels.ViewModelAdjunto
@{
    ViewData["Title"] = "Comentario a usuario";
    var Model0 = new List<MensajeRecibidoViewModel>();

    Model0 = ViewData["comentarioUsuario"] as List<MensajeRecibidoViewModel>;
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


<div class="container" id="div1">
    <div class="row">
        <div class="form-group col-md-3">
            <div class="panel-heading"><h4 style="text-align:center;">Usuario:@ViewBag.nombre </h4></div>
        </div>
        <div class="form-group col-md-3">
            <!--  <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-translate="nuevo">Nuevo</button>-->
            <a asp-action="CuentaUsuario" asp-controller="ManejoUsuarios" asp-route-codigo="@ViewBag.codigo" class="btn btn-link " ><span style="font-size: 4rem"><i class="fas fa-chevron-circle-left"></i></span></a>
        </div>
    </div>
    <br />
    <br />
    <div class="row panel panel-default">
        <form asp-action="CrearComentarioUser" asp-controller="Mensajes" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <input type="text" value="@ViewBag.id" id="hide" name="id" hidden />
            </div>
            <div class="col-md-6">
                <div class="form-group ">
                    <label class="control-label" data-translate="Comentario">Comentario:</label>

                    <textarea asp-for="@Model.mensaje" 2 rows="8" class="form-control input-lg" pattern=".{10,100}" title="Este mensaje su minimo de caracteres es 10" name="mensaje" required style="height:70px; width:450px;"></textarea>

                    <span asp-validation-for="@Model.mensaje" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">

                <label class="control-label" data-translate="seleccione">Seleccione un archivo</label>

                <input class="form-control input-lg  " type="file" asp-for="Files" multiple="multiple" id="fileUpload" />

            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <button class="btn btn-primary " id="btnEnviar" type="submit" ><i class="fas fa-save"></i></button>
                </div>
            </div>
        </form>
    </div>
    <div class="row  pre-scrollable">


        @{int i = 1;}

        @foreach (var items in Model0)
        {

            <div class="form-group col-md-3 ">
                <div class="panel panel-info">
                    <div class="card-body ">
                        <div class="card-header" id="headingTwo_@i">
                            <div class="form-group " style="text-align:right;">
                                <a class="btn  btn-sm" asp-action="EliminarComentarioUsuario" asp-controller="Mensajes" asp-route-id="@items.IdMensaje" asp-route-codigo="@ViewBag.id">

                                    <i class="glyphicon glyphicon-trash" style="font-size:2rem;color:red"></i>
                                </a>

                            </div>
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo_@i" aria-expanded="false" aria-controls="collapseTwo">
                                    <p>Comentario:  @items.UsuarioEmisor </p>
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo_@i" class="collapse collapse in" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body ">
                                <div class="form-group " style="text-align:center;">
                                  
                                </div>
                                <div class="form-group " style="text-align:center;">
                                    <textarea style="color:black;" disabled="disabled">@items.Mensaje</textarea>
                                </div>
                                <br />
                                <ul>
                                    @if (@items.ruta == "")
                                    {
                                        <li>No tiene Archivos Adjuntos</li>
                                    }
                                    else
                                    {
                                        <li><a href="@items.ruta" target="_blank">@items.ruta.Substring(7)</a></li>
                                    }
                                </ul>
                                <br />
                              
                              
                                <div class="form-group " style="text-align:center;">
                                    <label>@items.tipoReferencia</label>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            i++;
        }
    </div>

    <br />
    <!--
                <div class="panel panel-default col-md-12 ">

                    <div class="panel-body">

                        <table class="table table-hover" id="example">
                            <thead>

                                <tr>
                                    <th hidden>IdMensaje</th>
                                    <th><span data-translate="nombre">Nombre</span></th>
                                    <th><span data-translate="mensaje">Mensaje</span></th>
                                    <th><span data-translate="adjunto">Abjunto</span></th>
                                    <th> <span data-translate="referencia">Referencia</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model0)
                                {
                                    <tr>
                                        <td hidden>@item.IdMensaje</td>
                                        <td>@item.UsuarioEmisor</td>
                                        <td>
                                            @item.Mensaje.Substring(0, 10)
                                        </td>
                                        <td>  <button class="btn btn-dark" onclick="verMensaj(@item.IdMensaje)">Ver Comentario</button></td>
                                        <td>@item.tipoReferencia</td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>

    -->
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Contenido del Mensaje</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-left: 5rem">
                <div class="form-group">
                    <label class="control-label">Mensaje </label>
                    <textarea id="mensaje" class="form-control" style="height:auto;width:500px;" data-translate="mensaje"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="archivosAdjuntos">Archivos Adjuntos </label>
                    <a id="adjunto" href="#" class="form-control" style="height:auto;width:500px;" target="_blank">Ver archivo</a>
                    <p id="noFile"></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel" data-translate="contenido">Contenido del Comentario</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding-left: 5rem">
                <div class="form-group">
                    <label class="control-label" data-translate="mensaje">Mensaje </label>
                    <textarea id="mensajes" class="form-control" style="height:auto;width:500px;"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label" data-translate="adjunto">Archivos Adjuntos </label>
                    <a id="adjuntos" href="#" class="form-control" style="height:auto;width:500px;" target="_blank" data-translate="verArchivo">Ver archivo</a>
                    <p id="noFiles"></p>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
     function verMensaj(idMensaje) {


            $.ajax({
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                type: "GET",


                url: '@Url.Action("verComentario", "Mensajes")',

                data: { valor: idMensaje },

                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $("#exampleModal1").modal('show');
                    $("#mensajes").html(data[0].mensaje);
                    if (data[0].ruta != "") {
                        $('#adjuntos').show();
                        $('#noFiles').hide();
                        $('#adjuntos').attr('href', data[0].ruta);
                    } else {
                        $('#adjuntos').hide();
                        $('#noFiles').show();
                        $('#noFiles').html("Este comentario no tiene archivos adjuntos");
                    }
                },

                dataType: "json"

            });

    }
</script>
<script>

    function abrirModal() {
        $("#exampleModal").modal('show');
    }

    $(document).ready(function () {
        $('#example').DataTable({
            "pagingType": "full_numbers"
        });
        $("#hide").hide();
        //binds to onchange event of your input field
        $('#fileUpload').bind('change', function () {
            var e;
            for (var i = 0; i < this.files.length; i++) {

                e = + this.files[i].size;
                if (e > 90000) {
                    alert("Error el maximo del archivo a subir" + this.files[i].name + " debe ser menor o igual a 90 MEGAS");
                    window.location.reload();
                    return false;
                }
            }

            if (this.files.length > 5) {
                alert("Error el maximo de archivos a subir es de 5");
                window.location.reload();
                return false;
            }
        });
    });
</script>


