@model AltivaWebApp.ViewModels.FlujoCategoriaViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = "CrearEditarAjuste";

    var usuario = ViewData["usuario"] as TbSeUsuario;

    var estado = "";

    // if (Model.Estado)
    // {
    //     estado = "disabled";
    // }
}


@if (Model.IdCategoriaFlujo != 0)
{
    <div class="row">
        <div class="col-md-3"><h3>@SharedLocalizer["editarCategoriaFlujo"]</h3></div>
        <div class="col-md-offset-8 col-md-1"><button style="font-size:2rem; padding-top:1rem" onclick="crearPdf()" class="btn btn-link"><i class="fas fa-file-pdf"></i>PDF</button></div>
    </div>

}
else
{
    <h3>@SharedLocalizer["nuevoCategoriaFlujo"]</h3>
}

<hr />
<div class="row">
    <div class="col-md-3">


        @if (ViewBag.error != null)
        {
            <span class="text-danger" data-translate="errorCEBodega">Tuvimos un problema al procesar tu solicitud, revisa que no se haya creado categoria de flujo con ese nombre anteriormente</span>
        }

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        @Html.HiddenFor(x => x.IdUsuario)

        <div class="form-group">
            <label data-translate="IdCategoriaFlujo" asp-for="IdCategoriaFlujo" class="control-label">@SharedLocalizer["IdCategoriaFlujo"]:</label>
            <input readonly asp-for="IdCategoriaFlujo" id="IdCategoriaFlujo" class="form-control currency" type="text" />
            <span asp-validation-for="IdCategoriaFlujo" class="text-danger"></span>

        </div>

        <div class="form-group">
            <label data-translate="IdTipoFlujo" asp-for="IdTipoFlujo" class="control-label">@SharedLocalizer["TipoFlujo"]:</label>
            <select asp-for="IdTipoFlujo" id="IdTipoFlujo" class="form-control">
                <option value="1">@SharedLocalizer["Bancario"]</option>
                <option value="2">@SharedLocalizer["Efectivo"]</option>
                <option value="3">@SharedLocalizer["Canje"]</option>

            </select>
            <span hidden id="idTipoFlujoValid" class="text-danger">@SharedLocalizer["TipoFlujoValid"]</span>
        </div>

        <div class="form-group">
            <label data-translate="Nombre" asp-for="Nombre" class="control-label">@SharedLocalizer["Nombre"]:</label>
            <input asp-for="Nombre" id="Nombre" class="form-control" />
            <span hidden id="nombreValid" class="text-danger">@SharedLocalizer["NombreValid"]</span>

        </div>

        <div class="form-group">
            <label data-translate="Codigo" asp-for="Codigo" class="control-label">@SharedLocalizer["Codigo"]:</label>
            <input asp-for="Codigo" id="Codigo" class="form-control" />
            <span hidden id="codigoValid" class="text-danger">@SharedLocalizer["CodigoValid"]</span>
        </div>

        <div class="form-group">
            <label data-translate="Estado" asp-for="Estado" id="LvlEstado" class="control-label">@SharedLocalizer["Estado"]:</label>
            <select asp-for="Estado" id="Estado" class="form-control">
                <option value="1">@SharedLocalizer["Activo"]</option>
                <option value="0">@SharedLocalizer["Inactivo"]</option>

            </select>
            <span hidden id="estado" class="text-danger">@SharedLocalizer["Estado"]</span>
        </div>


        <div class="form-group">

            <label data-translate="FechaCreacion" asp-for="FechaCreacion" id="LvlFechaCreacion" class="control-label">@SharedLocalizer["FechaCreacion"]:</label>
            <input readonly asp-for="FechaCreacion" id="FechaCreacion" class="form-control" />

        </div>

        <div class="form-group">
            <!-- cambiar el id-->
            <label data-translate="" id="LvlNombreUsuario" class="control-label">@SharedLocalizer["NombreUsuario"]:</label>
            <input readonly id="Nombre" value="@usuario.Nombre" class="form-control" />

        </div>



        <div class="form-group">

            <button class="btn btn-success btnAccion" onclick="guardarCambios()" id="btnGuardar">@SharedLocalizer["Guardar"] <i class="fas fa-save"></i></button>

            <a onclick="cancelar()" class="btn btn-default">@SharedLocalizer["Cancelar"]</a>

        </div>

    </div>
</div>

<script>


    var lineas = [];


    var IdCategoriaFlujo = $('#IdCategoriaFlujo');
    var IdTipoFlujo = $('#IdTipoFlujo');
    var Nombre = $('#Nombre');
    var Codigo = $('#Codigo');
    var Usuarios = [];

    $(document).ready(function () {

        if (@Model.IdCategoriaFlujo != 0) {

            habilitarCampos();
          
           
          } else {

            deshabilitarCampos();

          }

        getUsuarios();

    });


     function guardarCambios() {

         //console.log('entro guardarCambios()');
         
              if (validarCampos() == false) {

                         console.log('valido');

                     } else {

                         console.log('no valido ');
                           if (@Model.IdCategoriaFlujo != 0) {
                               editarFlujoCategoria();
                         } else {
                               guardaRFlujoCategoria();
                         }
            
                     }
    }

    function deshabilitarCampos() {

        $("#Estado").hide(); 
        $("#FechaCreacion").hide();
        $("#NombreUsuario").hide();
        $("#LvlEstado").hide();
        $("#LvlFechaCreacion").hide();
        $("#LvlNombreUsuario").hide();

    }

    function habilitarCampos() {

        $("#Estado").show();
        $("#FechaCreacion").show();
        $("#NombreUsuario").show();
        $("#LvlEstado").show();
        $("#LvlFechaCreacion").show();
        $("#LvlNombreUsuario").show();

    }

    function deshabiltarBoton() {
        $("#btnGuardar").prop("disabled", true); // va a Bloquear el boton

    }

    function habilitarBoton() {
        $("#btnGuardar").prop("disabled",false ); // va a desbloquear el boton

    }



    function validarCampos() {

        if ($('#Nombre').val() == "") {

            $('#nombreValid').attr('hidden', false);
            return false;

        }

        else if ($('#Codigo').val() == "") {

            $('#codigoValid').attr('hidden', false);
            return false;

        }

    }


    function guardaRFlujoCategoria() {

      // console.log('entro guardaRFlujoCategoria()');

        $.ajax({
              type: "POST",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
          
                dataType: "json",
                url: '@Url.Action("CrearEditarCategoria", "FlujoCategoria")',// (nombre del metodo, nombre del controlador)
                data: crearModelo(),
            success: function (data) {
             
                if (data.success) {

                    console.log(data);
                    window.location.href = "@Url.Action("ListarCategorias", "FlujoCategoria")";

                }
                else {
                    cargarAlert("@SharedLocalizer["errorDuplicacion"]");
                }

            },
           error: function (err, scnd) {
                var msj = '@SharedLocalizer["errorGeneral"]';
                  cargarAlert(msj);
                  console.log(err.statusText);
              }
        });


    }


      function crearModelo() {
 
          var FlujoCategoriaModel = {

              idTipoFlujo: $('#IdTipoFlujo').val(),
              nombre: $('#Nombre').val(),
              codigo: $('#Codigo').val()
            
        };

        //  console.log(FlujoCategoriaModel);
          return FlujoCategoriaModel;
    }


    function editarFlujoCategoria() {

        console.log('entro editarFlujoCategoria()');

           $.ajax({
              type: "POST",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
            url: '@Url.Action("CrearEditarCategoria", "FlujoCategoria")',// (nombre del metodo, nombre del controlador)
               data: crearModeloEditar(),

            success: function (data) {
                console.log(data);
                window.location.href = "@Url.Action("ListarCategorias", "FlujoCategoria")";
               },
           error: function (err, scnd) {
                var msj = '@SharedLocalizer["errorGeneral"]';
                  cargarAlert(msj);
                  console.log(err.statusText);
              }
        });
      

    }


    function crearModeloEditar() {

             var FlujoCategoriaModel = {

              idCategoriaFlujo: @Model.IdCategoriaFlujo,
              idUsuario:  @Model.IdUsuario,
              idTipoFlujo: $('#IdTipoFlujo').val(),
              nombre: $('#Nombre').val(),
              codigo: $('#Codigo').val(),
              estado: $('#Estado').val(),
            };

            //  console.log(FlujoCategoriaModel);
              return FlujoCategoriaModel;

    }

     function cancelar() {
        var msj = "@SharedLocalizer["confirmCancelar"]";

        bootbox.confirm(msj, function (result) {

            if (result)

                window.location.href = "@Url.Action("ListarCategorias", "FlujoCategoria")";

        });
    }



</script>






