@inject IStringLocalizer<SharedResources> lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    ViewData["Title"] = @lb[ViewBag.Titulo];
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@lb[ViewBag.Titulo];</title>

</head>
<body>  
    <table id="PeriodosFiscales" class="table" style="width:100%">
        <tr>
            <td>@lb["ID"]</td>
            <td>@lb["Periodo"]</td>
            <td>@lb["Estado"]</td>
            <td>@lb["Editar"]</td>
           
        </tr>
      
        @foreach (AltivaWebApp.DomainsConta.PeriodoFiscal p in ViewBag.PeriodosFiscales)
        {
        <tr>
            @{
                <td>@p.IdPeriodoFiscal</td>
                <td>@p.Nombre</td>
                if (p.Estado == "ABIERTO")
                {
                    <td>
                        <a style="border: 0; padding: 2px 4px;background: #4800ff;color: white;border-radius: 24px; transition: 0.25s;">@p.Estado</a>
                        
                    </td>
                }
                else
                {

                    if (p.Estado == "CERRADO")
                    {
                        <td>
                            <a style="border: 0; padding: 2px 4px;background: #20212D;color: white;border-radius: 24px; transition: 0.25s;">
                                @p.Estado
                            </a>
                        </td>
                    }
                    else
                    {
                        if (p.Estado == "BLOQUEADO")
                        {
                            <td>
                                <a style="border: 0; padding: 2px 4px;background: #80818E;color: black;border-radius: 24px; transition: 0.25s;">
                                    @p.Estado
                                </a>
                            </td>
                        }
                        else
                        {
                            <td> @p.Estado </td>

                        }

                    }
                }
                <td>
                    <a class="btn btn-link btnEditar" asp-action="u" asp-controller="PeriodoFiscal" asp-route-id="@p.IdPeriodoFiscal">
                    <i class="fas fa-edit" style="text-align:start"></i>
                    </a>
                </td>
            }

        </tr>
        }
    </table>
 
</body>
</html>
