@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@inject IStringLocalizer<SharedResources> lb

@{
    Layout = "_Layout";
    ViewData["Title"] = lb["Inicio"];

}
<div class="row">
    <div class="col-lg-3">
        <div class="input-group-btn">
            <div class="btn-group-vertical">
                <a asp-controller="Contacto" asp-action="ListarContactos" class="btn btn-dark btn-lg" style="width:220px"><text class="left"><i class="fas fa-address-book"></i></text>@lb["Contactos"]</a>
                <a asp-controller="Tarea" asp-action="ListarTareas" class="btn btn-dark btn-lg" style="width:220px"><text class="left"><i class="fas fa-tasks"></i></text>@lb["Task"]</a>
                <a asp-controller="Factura" asp-action="ListarFacturas" class="btn btn-dark  btn-lg" style="width:220px"><text class="left"><i class="fa fa-barcode"></i></text>@lb["Factura"]</a>
                <a asp-controller="CotizacionProducto" asp-action="ListarCotizacionProducto" class="btn btn-dark  btn-lg" style="width:220px"><text class="left"><i class="fa fa-flag"></i></text>@lb["Cotización"]</a>
                <a asp-controller="Caja" asp-action="ListarCajas" class="btn btn-dark  btn-lg" style="width:220px"><text class="left"><i class="fa fa-list-alt"></i></text>@lb["Caja"]</a>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="input-group-btn">
            <div class="btn-group-vertical">
                <a asp-controller="Compra" asp-action="ListarCompras" type="button" class="btn btn-dark  btn-lg" style="width:220px"><text class="left"><i class="fas fa-cart-arrow-down"></i></text>@lb["Compras"]</a>
                <a asp-controller="Gasto" asp-action="ListarGastos" type="button" class="btn btn-dark  btn-lg" style="width:220px"><text class="left"><i class="fa fa-clipboard-list"></i></text>@lb["Gastos"]</a>
                <a asp-controller="Orden" asp-action="ListarOrdenes" type="button" class="btn btn-dark  btn-lg" style="width:220px"><text class="left"><i class="fa fa-money-check-alt"></i></text>@lb["OrdenesCompra"]</a>
                <a asp-controller="AjusteInventario" asp-action="ListarAjustes" type="button" class="btn btn-dark  btn-lg" style="width:220px"><text class="left"><i class="fa fa-edit"></i></text>@lb["AjusteManual"]</a>
                <a asp-controller="Nota" asp-action="ListarNotas" type="button" class="btn btn-dark  btn-lg" style="width:220px"><text class="left"><i class="fa fa-sticky-note"></i></text>@lb["Notas"]</a>

            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div class="input-group-btn">
            <div class="btn-group-vertical">
                <a asp-controller="ManejoUsuarios" asp-action="ListaUsuarios" class="btn btn-dark btn-lg" style="width:220px"><text class="left"><i class="fa fa-user"></i></text>@lb["Usuarios"]</a>
                <a asp-controller="Monedas" asp-action="ListarMonedas" class="btn btn-dark btn-lg" style="width:220px"><text class="left"><i class="fa fa-hand-holding-usd"></i></text>@lb["Moneda"]</a>
              
            </div>
        </div>
    </div>
</div>
