@model AltivaWebApp.ViewModels.ModuloViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}


<div class="row">
    <div class="col-md-6">
        <h4>@ViewBag.nombre</h4>
    </div>
    <div class="col-md-6">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>

<hr />
<div class="row">
    <div class="col-md-11">
        <form id="frmModulo">

            <div class="row">
                <div class="form-group" hidden>
                    <label asp-for="Id" class="control-label"></label>
                    <input asp-for="Id" class="form-control" />
                    <span asp-validation-for="Id" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Nombre" class="control-label">@SharedLocalizer["nombre"]</label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label data-translate="descripcion" asp-for="Descripcion" class="control-label">@SharedLocalizer["descripcion"]</label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-12">
                    <label asp-for="Nota1" class="control-label">@SharedLocalizer["nota"] 1</label>
                    <input asp-for="Nota1" class="form-control" />
                    <span asp-validation-for="Nota1" class="text-danger"></span>
                </div>
                <div class="form-group col-md-12">
                    <label data-translate="nota2" asp-for="Nota2" class="control-label">@SharedLocalizer["nota"] 2</label>
                    <input asp-for="Nota2" class="form-control" />
                    <span asp-validation-for="Nota2" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="Grupo" class="control-label">@SharedLocalizer["grupo"]</label>
                        <input readonly asp-for="Grupo" class="form-control" />
                        <span asp-validation-for="Grupo" class="text-danger"></span>
                    </div>
                </div>
            </div>

        </form>
        <div class="row">
            <div class="form-group col-md-3">
                <button type="button" id="frmBoton" value="Guardar" class="btn btn-success" data-dismiss="modal"><span>@SharedLocalizer["Guardar"]</span> <span><i class="fas fa-save"></i></span></button>
            </div>
            <div class="form-group col-md-3">
                <button type="button" class="btn btn-default" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {

        $("#frmBoton").click(function (e) {



            var form = $('#frmModulo').serializeArray();

            console.log(form);

            var model = {
                id: form[0].value,
                nombre: form[1].value,
                descripcion: form[2].value,
                nota1: form[3].value,
                nota2: form[4].value,
                Grupo: form[5].value
            };

            console.log(model);


            $.ajax({
                type: "post",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: '@Url.Action("EditarModulo", "Perfiles")',
                data: $('#frmModulo').serialize() ,
                    success: function (data) {

                        //console.log(data);
                        //window.location.href = window.location.href;
                },
                    error: function (err, scnd) {
                        //console.log(err.statusText);
                }
            });
        });

    });


</script>


