@model IEnumerable<TbSePerfil>
@inject IStringLocalizer<SharedResources> SharedLocalizer
@{
    var Perfil = new PerfilViewModel();
    var PerfilFilled = Model.FirstOrDefault(p => p.Id == ViewBag.id);

    var selected = Model.FirstOrDefault();
}

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<h3 data-translate="PETitulo">Perfiles</h3>
<div class="row">

    <div class="col-md-3">

        <select id="perfiles" class="form-control search-key">

            @{
                foreach (var item in Model)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }


            }
                    <option value="0">@SharedLocalizer["seleccione"]</option>
        </select>
    </div>

    <div class="col-md-4">
        <button value="0" id="nuevoPerfil" onclick="CrearEditarPerfil(value)" class="btn btn-link">
            <span style="font-size: 2rem"><i class="fas fa-plus-circle"></i></span>
        </button>
        <button value="@ViewBag.id" id="editarPerfilbtn" onclick="CrearEditarPerfil(value)" class="btn btn-link">
            <span style="font-size: 2rem"><i class="fas fa-edit"></i></span>
        </button>
        <button type="button" id="eliminarPerfil" class="btn btn-link">
            <span style="font-size: 2rem"><i class="fas fa-trash"></i></span>
        </button>

    </div>

</div>
<hr />

<div class="row">
    <div class="col-md-12" id="Modulos">

        <partial name="_ListarModulos"
                 for=@ViewData["ModulosAsignados"] />

    </div>
</div>

<div class="modal fade" id="crearEditarModal" tabindex="-1" role="dialog" aria-labelledby="crearEditarModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header row">
                <div class="col-md-6">
                    <h4 class="modal-title" id="crearEditarModalLabel">@SharedLocalizer["Perfil"]</h4>
                </div>
                <div class="col-md-6">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

            </div>
            <div class="modal-body">
                <div id="frmPerfil">

                </div>
            </div>
        </div>
    </div>
</div>




<script>
   $(document).ready(function () {


       var id = (location.search.split("id" + '=')[1] || '').split('&')[0];

       console.log(@ViewBag.id);
       if (@ViewBag.id != 0)
           $('#perfiles').val(@ViewBag.id);
       else {
           $('#perfiles').val('0');
           $('#eliminarPerfil').attr('disabled', true);
           $('#editarPerfilbtn').attr('disabled', true);
       }


       $('#perfiles').change(function () {
           //alert($(this).val());
            var id = $(this).val();
            setUrl(id);
       });

       $('#grupo').val('@ViewBag.grupo');

       $('#grupo').change(function () {

           var grupo = $(this).val();
           var url = '';
           if (grupo != '')
               var url = '../Lista-Perfiles/' + $('#perfiles').val() + '/' + grupo;
           else
               url = '../' + $('#perfiles').val();

           window.location.href = url;

         });


       $('#eliminarPerfil').click(function () {

           $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: '@Url.Action("EliminarPerfil", "Perfiles")',
               data: { id: $('#perfiles').val() },
               success: function (data) {

                   if (data.id === @ViewBag.id) {
                       cargarAlert("No se puede eliminar un perfil si este está asignado previamente a usuarios");
                   }
                   else {
                       setUrl(data.id);
                   }


                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });



       });


       function setUrl(id) {
           var url = '@Url.Action("ListarPerfiles", "Perfiles", new { id = "__id__"})';
            window.location.href = url.replace('__id__', id );
       }
    });

    function CrearEditarPerfil(id) {
        var url = '@Url.Action("CrearEditarPerfil", "Perfiles")';

        if (id === '0')
           url = url.replace('@ViewBag.id', '0');

        $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: url,
            data: { idPerfil: id },
            success: function (data) {
                $('#frmPerfil').html(data);
                $('#crearEditarModal').modal('show');
                },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                }
            });

    }

</script>

