@model IList<TbPrToma>

@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{ 

    var usuarios = ViewData["usuarios"] as IList<TbSeUsuario>;

}
<div class="table-responsive">

    <table class="table">
        <thead>
            <tr>
                <th><input type="checkbox" class="flat" id="todos" /></th>
                <th><span>@SharedLocalizer["N."]</span></th>
                <th>
                    <span>@SharedLocalizer["Fecha"]</span>
                </th>
                <th>
                    <span>@SharedLocalizer["Bodega"]</span>
                </th>
                <th>
                    <span>@SharedLocalizer["Usuario"]</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td><input type="checkbox" name="tomasBorrador" value="@item.Id" id="@item.Id" /></td>
                <td>@item.Id</td>
                <td>@item.FechaToma</td>
                <td>@item.IdBodegaNavigation.Nombre</td>
                <td><a href="@Url.Action("CuentaUsuario", "ManejoUsuarios", new { codigo =  usuarios.FirstOrDefault(u => u.Id == item.IdUsuarioCreacion).Codigo})"></a>@usuarios.FirstOrDefault(u => u.Id == item.IdUsuarioCreacion).Nombre</td>
            </tr>
            }
        </tbody>
    </table>
</div>

<div>
    <button class="btn btn-success" id="guardarCombinar" onclick="guardarCombinar()">@SharedLocalizer["Guardar"]</button>
    <button class="btn btn-default" data-dismiss="modal">@SharedLocalizer["Cancelar"]</button>
</div>


<script>

    var tomasBorrador = [];

    $(document).ready(function () {

        
        
    });

    $("#todos").change(function () {
        tomasBorrador = [];

        if ($(this).is(":checked")) {
            $("input[name='tomasBorrador']").prop("checked", true);

            $.each($("input[name='tomasBorrador']:checked"), function () {
                tomasBorrador.push($(this).val());
            });
           
        }
        else {
            $("input[name='tomasBorrador']").prop("checked", false);
            tomasBorrador = [];
           
        }

        if (tomasBorrador.length <= 0)
            $('#guardarCombinar').prop('disabled', true);
        else
            $('#guardarCombinar').prop('disabled', false);

    });

    $("input[name='tomasBorrador']").change(function () {

        if ($(this).is(":checked")) {
            
            tomasBorrador.push($(this).val());
        }
        else {

            if ($('#todos').is(":checked")) {
                $('#todos').prop("checked", false);
            }

            for (var i = 0; i <= tomasBorrador.length - 1; i++) {
                if (tomasBorrador[i] == $(this).val()) {
                    tomasBorrador.splice(i, 1);
                }
            }


        }

        if (tomasBorrador.length <= 0)
            $('#guardarCombinar').prop('disabled', true);
        else
            $('#guardarCombinar').prop('disabled', false);
        
    });

</script>