@model AltivaWebApp.DomainsConta.ConfiguracionContable
@inject IStringLocalizer<SharedResources>    lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    ViewData["Title"] = @lb[ViewBag.Titulo];
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@lb[ViewBag.Titulo];</title>
</head>
<body>
    <form asp-action="guardar" asp-controller="ConfigContabilidad" method="post">
        <input type="hidden" asp-for="IdConfiguracion"/>
        <div class="form-group">
            <label asp-for="TamanoCuenta" class="control-label">@lb["Niveles"]:</label>
            <input type="number" min="4" max="8" asp-for="TamanoCuenta" class="form-control" placeholder="@lb["Niveles"]" id="Niveles" />
        </div>

        <div class="form-inline">
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"></div>
                </div>
                <input type="number" min="1" max="1" asp-for="Nivel1" class="form-control stepNumber" id="nivel1" />

            </div>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"></div>
                </div>
                <input type="number" min="1" max="3" asp-for="Nivel2" class="form-control stepNumber" id="nivel2" />

            </div>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"></div>
                </div>
                <input type="number" min="1" max="4" asp-for="Nivel3" class="form-control stepNumber" id="nivel3"/>

            </div>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"></div>
                </div>
                <input type="number" min="1" max="4" asp-for="Nivel4" class="form-control stepNumber"  id="nivel4" />

            </div>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"></div>
                </div>
                <input type="number" min="1" max="4" asp-for="Nivel5" class="form-control stepNumber" id="nivel5" />

            </div>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"></div>
                </div>
                <input type="number" min="1" max="4" asp-for="Nivel6" class="form-control stepNumber" id="nivel6" />

            </div>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"></div>
                </div>
                <input type="number" min="1" max="4" asp-for="Nivel7" class="form-control stepNumber" id="nivel7"/>

            </div>
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"></div>
                </div>
                <input type="number" min="1" max="4" asp-for="Nivel8" class="form-control stepNumber" id="nivel8" />

            </div>
        </div>
        <div class="form-group">
            <input type="text" readonly="readonly" asp-for="Ejemplo" class="form-control" placeholder="@lb["Ejemplo"]" id="ejemplo" />
        </div>
        <div class="form-group">
            <button type="submit" value="Editar" class="btn btn-success">@lb["Guardar"]<i class="fas fa-save"></i></button>
            <a class="btn btn-default btnAtras">@lb["Cancelar"]</a>
        </div>
    </form>
    <script type="text/javascript">
       
        $(function () {          
            $("#Niveles").on("change", function () {
                definirEjemplo();
            });
        });
        $(function () {
            $("#nivel1").on("change", function () {
                definirEjemplo();
            });
        });
        $(function () {
            $("#nivel2").on("change", function () {
                definirEjemplo();
            });
        });
        $(function () {
            $("#nivel3").on("change", function () {
                definirEjemplo();
            });
        });
        $(function () {
            $("#nivel4").on("change", function () {
                definirEjemplo();
            });
        });
        $(function () {
            $("#nivel5").on("change", function () {
                definirEjemplo();
            });
        });
        $(function () {
            $("#nivel6").on("change", function () {
                definirEjemplo();
            });
        });
        $(function () {
            $("#nivel7").on("change", function () {
                definirEjemplo();
            });
        });
        $(function () {
            $("#nivel8").on("change", function () {
                definirEjemplo();
            });
        });
        function definirEjemplo() {
            var n = document.getElementById('Niveles').value;
            var ejemplo = "";
            ejemplo = ejemplo + devolverCeros(document.getElementById('nivel1').value);
            ejemplo = ejemplo + "-" + devolverCeros(document.getElementById('nivel2').value);
            ejemplo = ejemplo + "-" +  devolverCeros(document.getElementById('nivel3').value);            

            if (n <= 3) {
                $("#nivel4").prop("disabled", true);
                document.getElementById('nivel4').value = 0;
            } else {
                $("#nivel4").prop("disabled", false);
                ejemplo = ejemplo + "-" +  devolverCeros(document.getElementById('nivel4').value);
            }
            if (n <= 4) {
                $("#nivel5").prop("disabled", true);;
                document.getElementById('nivel5').value = 0;
            } else {
                $("#nivel5").prop("disabled", false);
                ejemplo = ejemplo + "-" +  devolverCeros(document.getElementById('nivel5').value);
            }
            if (n <= 5) {
                $("#nivel6").prop("disabled", true);
                document.getElementById('nivel6').value = 0;
            } else {
                $("#nivel6").prop("disabled", false);;
                ejemplo = ejemplo + "-" + devolverCeros(document.getElementById('nivel6').value);                
            }
            if (n <= 6) {
                $("#nivel7").prop("disabled", true);;
                document.getElementById('nivel7').value = 0;
            } else {
                $("#nivel7").prop("disabled", false);;
                ejemplo = ejemplo + "-" +  devolverCeros(document.getElementById('nivel7').value);
            }
            if (n <= 7) {
                $("#nivel8").prop("disabled", true);;
                document.getElementById('nivel8').value = 0;
            } else {
                $("#nivel8").prop("disabled", false);
                ejemplo = ejemplo + "-" +  devolverCeros(document.getElementById('nivel8').value);
            }

            document.getElementById("ejemplo").value = ejemplo;
        }
        function devolverCeros(n) {
            var ceros = "0";
            for (var i = 1; i < n; i++) {
                ceros = ceros + "0";
            }
            return ceros;
        }
        definirEjemplo();
    </script>
</body>

</html>

