@model AltivaWebApp.ViewModels.BodegaViewModel
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    var accion = ViewBag.accion as string;
    var nombreAccion = "";
    var ishidden = "hidden";
    var ischecked = "checked";
    var error = ViewBag.error as string;
}

@if (Model.Id == 0)
{
    <h3>@Lb["Nueva"] @Lb["Bodega"]</h3>
}
else
{
    <h3>@Lb["Editar"] @Lb["Bodega"]</h3>
    ishidden = "";
    ischecked = "";
}

<hr />
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-12">

        <form id="frmBodega">
            @Html.HiddenFor(x => x.Id)
            <div class="form-group">
                <label asp-for="Nombre" class="control-label">@Lb["Nombre"]:</label>
                <input id="nombreBodega" maxlength="50" asp-for="Nombre" autofocus class="form-control" />
                <span hidden id="duplicacionValid" class="text-danger">@Lb["repetidoValid"]</span>
                <span hidden id="nombreValid" class="text-danger">@Lb["nombreValid"]</span>
            </div>

            <span hidden id="tipoValid" class="text-danger">@Lb["tipoBodegaValid"].</span>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input tipoBodega" asp-for="Produccion" />
                    <label class="form-check-label">
                        <span>@Lb["Producción"] </span> <span><i class="fas fa-question" data-toggle="tooltip" data-placement="top" title="@Lb["tipoProduccion"]."></i></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input tipoBodega" asp-for="Almacenamiento" />
                    <label class="form-check-label">
                        <span>@Lb["Almacenamiento"] </span> <span><i class="fas fa-question" data-toggle="tooltip" data-placement="top" title="@Lb["tipoAlmacenamiento"]."></i></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input tipoBodega" asp-for="SuministrosInternos" />
                    <label  class="form-check-label">
                        <span>@Lb["SuministrosInternos"] </span><span><i class="fas fa-question" data-toggle="tooltip" data-placement="top" title="@Lb["tipoSuministros"]."></i></span>
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input class="form-check-input tipoBodega" asp-for="Consignacion" />
                    <label class="form-check-label">
                        <span>@Lb["Consignación"] </span><span><i class="fas fa-question" data-toggle="tooltip" data-placement="top" title="@Lb["tipoConsignacion"]."></i></span>
                    </label>
                </div>
            </div>
            <div class="form-group" @ishidden>
                <div class="form-check">
                    <input class="form-check-input" asp-for="Estado" @ischecked />
                    <label class="form-check-label">
                        @Lb["Activa"]?
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">@Lb["UsuarioEncargado"]:</label>
                <select asp-for="UsuarioEncargado" id="perfiles" class="form-control search-key">
                    @{
                        foreach (var item in ViewData["usuarios"] as List<TbSeUsuario>)
                        {
                            <option value="@item.Id">@item.Nombre</option>
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Observaciones" class="control-label">@Lb["Observaciones"]:</label>
                <textarea asp-for="Observaciones" class="form-control"></textarea>
            </div>

        </form>
        <div class="form-group">
            <button id="btnGuardar" onclick="validarForm()" type="submit" value="Guardar" class="btn btn-success"><span >@Lb["Guardar"]</span> <span><i class="fas fa-save"></i></span></button>
            <a class="btn btn-default" asp-action="ListarBodegas">@Lb["Cancelar"]</a>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        //if ($('#nombreBodega').val() === "") {
        //    $('#btnGuardar').attr('disabled', true);
        //}

        //$('#nombreBodega').keyup(function () {

        //    if ($(this).val() === "") {
        //        $('#btnGuardar').attr('disabled', true);
        //    }
        //    else
        //        $('#btnGuardar').attr('disabled', false);
        //});


    });

    function guardarCambios() {

        var frm = $('#frmBodega').serializeArray();

        var url = '@Url.Action("CrearEditarBodega", "Bodega")';

        $.ajax({

            type: "post",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: url,
            data: frm,
            success: function (data) {
                if (!data.success)
                    $('#duplicacionValid').attr('hidden', false);
                else
                    window.location.href = '@Url.Action("ListarBodegas")';
                },
             error: function (err) {
                 cargarAlert('@Lb["errorGeneral"]');
                 console.log(err.success);
             }
        });

    }

    function validarForm() {
        var flag = true;

        var contador = 0;

        var nombre = $('#nombreBodega').val().replace(/ /g, "");
        if (nombre.length < 1) {
            $('#nombreValid').attr('hidden', false);
            flag = false;
        } else
            $('#nombreValid').attr('hidden', true);

        $(".tipoBodega").each(function () {
            if ($(this).prop('checked'))
                contador++;
        });

        if (contador === 0) {
            $('#tipoValid').attr('hidden', false);
            flag = false;
        } else
            $('#tipoValid').attr('hidden', true);

        if (flag)
            guardarCambios();
    }

</script>


