@model TbPrBodega

@{
    ViewData["Title"] = "DetallesBodega";

    var usuario = ViewData["usuario"] as TbSeUsuario;
}

<h3 data-translate="infoBodega">Información de Bodega</h3>
<a href="@Url.Action("ListarBodegas")" class="btn btn-link" data-translate="atras">Atrás</a>
<hr />
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            <tr>
                <th class="col-md-3">
                    <strong><span data-translate="nombre">Nombre</span></strong>
                </th>
                <td>
                    @Html.DisplayFor(model => model.Nombre)
                </td>

            </tr>
            <tr>
                <th>
                    <strong><span data-translate="produccion">Producción</span></strong>
                </th>
                <td>
                    <input class="form-check-input" type="checkbox" disabled checked="@Model.Produccion">
                </td>

            </tr>
            <tr>
                <th>
                    <strong><span data-translate="almacenamiento">Almacenamiento</span></strong>
                </th>
                <td>
                    <input class="form-check-input" type="checkbox" disabled checked="@Model.Almacenamiento">
                </td>

            </tr>
            <tr>
                <th>
                    <strong><span data-translate="suministrosInternos">Suministros Internos</span></strong>
                </th>
                <td>
                    <input class="form-check-input" type="checkbox" disabled checked="@Model.SuministrosInternos">
                </td>

            </tr>
            <tr>
                <th>
                    <strong><span data-translate="consignacion">Consignación</span></strong>
                </th>
                <td>
                    <input class="form-check-input" type="checkbox" disabled checked="@Model.Consignacion">
                </td>

            </tr>
            <tr>
                <th>
                    <strong><span data-translate="estado">Estado</span></strong>
                </th>
                <td>
                    @if (Model.Estado == true)
                    {
                        <span data-translate="activo">Activa</span>
                    }
                    else
                    {
                        <span data-translate="incativa">Inactiva</span>
                    }
                </td>

            </tr>
            <tr>
                <th>
                    <strong><span data-translate="fechaCreacion">Fecha De Creación</span></strong>
                </th>
                <td>
                    @Html.DisplayFor(model => model.FechaCreacion)
                </td>

            </tr>
            <tr>
                <th>
                    <strong><span data-translate="usuarioEncargado">Usuario encargado</span></strong>
                </th>
                <td>
                    <a href="@Url.Action("CuentaUsuario", "ManejoUsuarios", new {codigo = usuario.Codigo })">@usuario.Nombre</a>
                </td>

            </tr>
            <tr>
                <th>
                    <strong><span data-translate="observaciones">Observaciones</span></strong>
                </th>
                <td>
                    @Html.DisplayFor(model => model.Observaciones)
                </td>

            </tr>
            <tr>
                <th>
                    <strong><span data-translate="accion">Accion</span></strong>
                </th>
                <td>
                    <a class="btn btn-link" asp-action="EditarBodega" asp-route-id="@Model.Id"><span data-translate="editar">Editar</span>&nbsp;<span style="font-size: 2rem"><i class="fas fa-edit"></i></span></a>
                </td>

            </tr>
        </table>
    </div>
</div>

