@model AltivaWebApp.Domains.TbFdTarea
<div class="row  ">
    <div class="form-group row ">

        <div class=" col-md-12">
            <label class="col-form-label">Título:</label><br />
            <input type="text" class="form-control">
        </div>
    </div>
    <div class=" form-group row">
        <div class=" col-md-6">
            <label class="col-form-label ">Contacto:</label><br />

            <select class="selectpicker form-control" data-live-search="true">
                @foreach (var contactos in ViewData["contactos"] as IList<TbCrContacto>)
                {
                    @if (contactos.Persona == true)
                    {
                        <option value="@contactos.IdContacto">@contactos.Nombre</option>
                    }
                    else
                    {
                        <option value="@contactos.IdContacto">@contactos.NombreComercial</option>
                    }
                }
            </select>
        </div>

        <div class=" col-md-6">
            <label for="staticEmail" class=" col-form-label">Asignado:</label><br />
            <select class="selectpicker form-control" data-live-search="true">
                @foreach (var asignados in ViewData["asignados"] as IList<TbSeUsuario>)
                {
                    <option value="@asignados.Id">@asignados.Nombre</option>
                }
            </select>
        </div>
    </div>
   
    <div class="form-group row ">
       
        <div class="col-md-1">
            <label for="staticEmail" class=" col-form-label">Ver más:</label><br/>
            <input type="checkbox" id="verMasCampos" />
        </div>
    </div>

    <div id="divVerMas" class=" card card-body collapse collapseCamposTareas">
        <div class="form-group row">

            <div class="col-md-4">
                <label class=" col-form-label">Tipo:</label><br />
                <select class="form-control">
                    <option></option>
                </select>
            </div>

            <div class="col-md-2">
                <button class="btn-link"><i class="fas fa-plus-circle dark" style="font-size:2rem;"></i></button>
                <button class=" btn-link"> <i class="fas fa-edit dark" style="font-size:2rem;"></i></button>

            </div>
            <div class="col-md-4">
                <label class=" col-form-label">Estado:</label><br />
                <select class="form-control">
                    <option></option>
                </select>
            </div>
            <div class="col-md-2">
                <button class=" btn-link"><i class="fas fa-plus-circle dark" style="font-size:2rem;"></i></button>
                <button class="btn-link"> <i class="fas fa-edit dark" style="font-size:2rem;"></i></button>
            </div>
            </div>


            <!--Va depender si en el tipo desea controlar la fecha Limite por fedecto 3 dias-->
            <div class="form-group row">

                <div class=" col-md-4">
                    <label class=" col-form-label">Fecha Limite:</label><br />
                    <input type="datetime-local" class="form-control" />
                </div>
            </div>


            <div class="form-group row">

                <div class=" col-md-6">
                    <label class=" col-form-label">Días estimados:</label><br />
                    <input type="text" class="form-control" />
                </div>
                <div class=" col-md-6">
                    <label class="col-form-label">Días reales:</label><br />

                    <input type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label class=" col-form-label">Costo estimado:</label><br />

                    <input type="text" class="form-control" />
                </div>

                <div class=" col-md-6">
                    <label class="col-form-label">Costo real:</label><br />
                    <input type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group row">
                <div class=" col-md-12">
                    <label class="col-form-label">Descripción:</label>
                    <br />
                    <textarea class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group row">

                <div class="col-md-1">
                    <label for="staticEmail" class=" col-form-label">Es cobrado:</label><br />
                    <input type="checkbox" />
                </div>

            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Monto Cobrado:</label>
                <div class="col-sm-10 col-md-4">
                    <input type="text" disabled="disabled" class="form-control" />
                </div>

            </div>

        </div>
    <div class="row">
        <button type="submit" id="btnGuardarTarea" class="btn btn-success">Guardar <i class="fas fa-save"></i></button>
        <button type="submit" id="btnCancelarTarea" class="btn btn-default">Cancelar</button>
    </div>
</div>

<script>
    $(function () {
        $('.selectpicker').selectpicker();
    });
    //Mostrar div con la opcion ver mas
    $(document).ready(function () {
        $('#divVerMas').attr("hidden", true);

        $('#verMasCampos').change(function () {

            $('.collapseCamposTareas').collapse('toggle');

            if (!$('#verMasCampos').prop('checked')) {

            }

        });

    });
</script>