@model AltivaWebApp.Domains.TbFdTareaTipo
@inject IStringLocalizer<SharedResources> Lb;
@{
    ViewData["Title"] = "Costos por usuario";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}



<button type="button" onclick="btnCerrarModal()" class="close" aria-label="Close">
    <span aria-hidden="true">&times;</span>
</button>
@if (Model.Id != 0)
{
    <h4 class="modal-title">@Lb["Editar"] @Lb["tipo"]</h4>
}
else
{
    <h4 class="modal-title">@Lb["Nuevo"] @Lb["tipo"]</h4>
}
<hr />

<div class="row">

    <div class="form-group col-md-12" hidden>
        <label>Id:</label>
        <input type="text" class="form-control" asp-for="Id" id="Id2" />
    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <label>@Lb["Título"]:</label>
        <input type="text" class="form-control" maxlength="98" asp-for="Titulo" id="Titulo2" />
        <div id="AlertTitulo2"></div>
    </div>


    <div class="form-group col-md-6 col-sm-6 col-xs-12">
        <label>Color:</label>
        <input type="text" class="form-control jscolor" id="Color2" asp-for="Color">

        <div id="AlertColor"> </div>
    </div>
    <div class="form-group col-md-12 col-sm-12 col-md-12">
        <label>
            Control @Lb["fechaLimite"] <input type="checkbox" id="controlaFecha" checked="@Model.ControlaFechaLimite" />
        </label>

    </div>
    <div id="campoDiasLimite" class=" card card-body collapse collapseTiposTareas">
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <label>
                @Lb["Días"] @Lb["fechaLimite"] <input type="number" class=" form-control " id="DiasLimite" asp-for="DiasFechaLimite" />
            </label>
        </div>
    </div>

    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <label>
            @Lb["esPorDefecto"] <input type="checkbox" id="defecto" checked="@Model.EsTipoDefecto" />
        </label>
        <div id="AlertDefecto"></div>

    </div>
    <div class="form-group col-md-12 col-sm-12 col-xs-12">
        <label>
            @Lb["activo"] <input type="checkbox" checked="@Model.Activo" id="activo" />
        </label>
    </div>

</div>
<div class="row">

    @if (Model.Id == 0)
    {
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <button type="button" id="GuardarTipo" class="btn btn-success">@Lb["Guardar"] <i class="fas fa-save"></i></button>
            <button type="submit" class="btn btn-default" onclick="btnCancelar()" id="btnCancelar">@Lb["Cancelar"]</button>
        </div>
    }
    else
    {
        <div class="form-group col-md-12 col-sm-12 col-xs-12">
            <button type="button" id="EditarTipoTarea" class="btn btn-success">@Lb["Guardar"] <i class="fas fa-save"></i></button>
            <button type="button" class="btn btn-default " onclick="btnCancelar()">@Lb["Cancelar"]</button>
        </div>
    }

</div>
<script src="~/js/jscolor.js"></script>

<script>

    function btnCancelar() {
        $('#ModalTipoTareas').modal('hide');
        $('#btnEditarTarea').prop("disabled", false); // perteneciente al modulo de tareas
       // window.location.href = "@Url.Action("ListarTipos", "TipoTarea")";
    }

    function btnCerrarModal() {
        $('#ModalTipoTareas').modal('hide');

    }

   
    var arreglo = [];// anadido por lenin

    $(document).ready(function () {

        jscolor.installByClassName("jscolor");

     if ($('#Titulo2').val() == "") {

         $("#Color2").val("F6FAF9");
          $('#Color2').on('click', function () {
          if ($(this).val() === "")
              $(this).val("F6FAF9");
    });

        }
            if ($('#controlaFecha').prop('checked')) {

                $('.collapseTiposTareas').collapse('toggle');
            }
            $('#campoDiasLimite').attr("hidden", true);

            $('#controlaFecha').change(function () {

                $('.collapseTiposTareas').collapse('toggle');

                if (!$('#controlaFecha').prop('checked')) {

                }

            });
         });
                 //metodo para ingresar
        $('#GuardarTipo').on('click', function () {
            if (validarCampos() == true) {
                var controlaFecha;
                var porDefecto;
                var activo;
                if ($('#controlaFecha').prop('checked')) {
                    controlaFecha = true;
                } else {
                    controlaFecha = false;

                }
                if ($('#defecto').prop('checked')) {
                    porDefecto = true;
                } else {
                    porDefecto = false;
                }
                if ($('#activo').prop('checked')) {

                    activo = true;
                } else {
                    activo = false;
                    $('#Color2').val('#858585');
                }
                if ($('#Color2').val().replace(/ /g, "") == "") {
                      $('#Color2').val('#f6faf9');
                }
                TipoTareaViewModel = {
                    id: null,
                    titulo: $('#Titulo2').val(),
                    color: '#' + $('#Color2').val(), //agregado por lenin
                    controlaFechaLimite: controlaFecha,
                    diasFechaLimite: $('#DiasLimite').val(),
                    esTipoDefecto: porDefecto,
                    activo: activo
                };
                console.log(TipoTareaViewModel);
                $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("CrearTipo", "TipoTarea")',

                    data: { domain: TipoTareaViewModel },
                    success: function (data) {
                        if (data.titulo == true) {
                            $('#AlertTitulo2').empty();
                            $('#AlertTitulo2').append('<span class="text-danger">@Lb["errorDuplicacion"]</span>');
                            return false;
                        }
                        if (data.color == true) {
                            $('#AlertColor').empty();
                            $('#AlertColor').append('<span class="text-danger">@Lb["colorRepetido"]</span>');
                            return false;
                        }
                        if (data.defecto == true) {
                            $('#AlertDefecto').empty();
                            $('#AlertDefecto').append('<span class="text-danger">@Lb["tipoPorDefecto"]</span>');
                            return false;
                        }
                        $('#ModalTipoTareas').modal('hide');
                        // window.location.href = "@Url.Action("ListarTipos", "TipoTarea")";
                        cargarTablaTipoTareas(); //aca

                        $('#cargarTablaTipos').empty();
                        if ($("#activos").css("display") == "block") {

                            $("#inactivos").css("display", "none");
                            $("#activos").css("display", "block");
                            VerInactivos();
                        } else {
                            $("#inactivos").css("display", "block");
                            $("#activos").css("display", "none");
                            
                            //cargarTablaTipoTareas();


                        }

                        return false;

                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });

            }

         //   $("#Color2").val("");
        });

    //editar tipos de tareas..
    $('#EditarTipoTarea').on('click', function () {
        if (validarCampos() == true) {
            if (!$('#controlaFecha').prop('checked')) {
                $('#fechaLimite').val(0);
            }
            if ($('#Color2').val().replace(/ /g, "") == "") {
                      $('#Color2').val('#f6faf9');
             }

            TipoTareaViewModel = {
                id: $('#Id2').val(),
                titulo: $('#Titulo2').val(),
                color: '#' + $('#Color2').val(),
                controlaFechaLimite: $('#controlaFecha').prop('checked'),
                diasFechaLimite: $('#DiasLimite').val(),
                esTipoDefecto: $('#defecto').prop('checked'),
                activo: $('#activo').prop('checked')
            };
            console.log(TipoTareaViewModel);
            $.ajax({
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                type: "POST",


                url: '@Url.Action("EditarTipoTarea", "TipoTarea")',

                data: { domain: TipoTareaViewModel },
                success: function (data) {
                    if (data.titulo == true) {
                        $('#AlertTitulo2').empty();
                        $('#AlertTitulo2').append('<span class="text-danger">@Lb["errorDuplicacion"]</span>');
                        return false;
                    }
                    if (data.color == true) {
                        $('#AlertColor').empty();
                        $('#AlertColor').append('<span class="text-danger">@Lb["colorRepetido"]</span>');
                        return false;
                    }
                    if (data.defecto == true) {
                        $('#AlertDefecto').empty();
                        $('#AlertDefecto').append('<span class="text-danger">@Lb["tipoPorDefecto"]</span>');
                        return false;
                    }
                    $('#ModalTipoTareas').modal('hide');
                   //window.location.href = "@Url.Action("ListarTipos", "TipoTarea")";
                    cargarTablaTipoTareas(); //aca

                    $('#cargarTablaTipos').empty();
                    if ($("#activos").css("display") == "block") {

                        $("#inactivos").css("display", "none");
                        $("#activos").css("display", "block");
                        VerInactivos();
                    } else {
                        $("#inactivos").css("display", "block");
                        $("#activos").css("display", "none");
                        //cargarTablaTipoTareas();


                    }
                    return false;
                },

                error: function (err, scnd) {
                    console.log(err.statusText);
                }

            });
        }
        });



    function validarCampos() {

        var titulo = $('#Titulo2').val();
     for (var i = 0; i < arreglo.length; i++) {
         if (titulo === arreglo[i].titulo) {
            // console.log("entro 1");
             $('#AlertTitulo2').append('<span class="text-danger">@Lb["tituloRequired"]</span>');
             return false;
         }
        }
        if ($('#Titulo2').val() == "") {
           // console.log("entro 2");
            $('#AlertTitulo2').empty();
            $('#AlertTitulo2').append('<span class="text-danger">@Lb["tituloRequired"]</span>');
            return false;
        }
        if ($('#Titulo2').val().length > 100) {
           // console.log("entro 3");
              $('#AlertTitulo2').empty();
            $('#AlertTitulo2').append('<span class="text-danger">@Lb["tituloToLong"]</span>');
            return false;
        }



        if ($('#activo').prop('checked')) {
           // console.log("entro 4");
            if ($('#Color').val() == '#858585') {
                console.log("entro 5");
                $('#AlertColor').empty();
                $('#AlertColor').append('<span class="text-danger">@Lb["colorNoSelect"]</span>');
                return false;
            }
        }
        return true;
    }

</script>

