
@model IEnumerable<AltivaWebApp.Domains.TbFdTareaTipo>
@inject IStringLocalizer<SharedResources> Lb;

@{
    ViewData["Title"] = Lb["Tipos de Tareas"];
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="col-md-12 table-responsive">
    <table class=" table table-bordered" style="width:100%" id="tablaTiposTarea">
        <thead>
            <tr>
                <th style="width:15%">
                    @Lb["Título"]
                </th>
                <th style="width:7%">
                    Color
                </th>
                <th style="width:12%">
                    Control @Lb["fechaLimite"]
                </th>
                <th style="width:12%">
                    @Lb["Días"] @Lb["fechaLimite"]
                </th>
                <th style="width:8%">
                    @Lb["porDefecto"]
                </th>
                <th style="width:7%">
                    @Lb["activo"]
                </th>
                <th style="width:12%">
                    @Lb["fechaCreacion"]
                </th>
                <th style="width:10%">
                    @Lb["Acción"]
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td bgcolor=" @item.Color"></td>
                    <td style="text-align: center;">
                        <input type="checkbox" checked="@item.ControlaFechaLimite" disabled />
                    </td>
                    <td style="text-align: center;">
                        @Html.DisplayFor(modelItem => item.DiasFechaLimite)
                    </td>
                    <td style="text-align: center;">

                        <input type="checkbox" checked="@item.EsTipoDefecto" disabled />
                    </td>
                    <td style="text-align: center;">

                        <input type="checkbox" checked="@item.Activo" disabled />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaCreacion)
                    </td>
                    <td>
                        <button onclick="EditarTipo(@item.Id)" class="btn btn-link "><i class="fas fa-edit dark"></i></button>
                        <button onclick="EliminarTipo(@item.Id)" class="btn btn-link dark"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<style>
  
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }

</style>






<script>

    $("#tablaTiposTarea").DataTable().destroy();

    $("#tablaTiposTarea").DataTable({
        //scrollY: '50rem',
        //scrollX: '50rem',
        //scrollCollapse: true,
        info: false,
        "order": [[0, "desc"]],
        paging: true,

        "ordering": false,
           language: {
                "decimal": "",
                "emptyTable": "@Lb["NoDatos"]",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "@Lb["Mostrar"] _MENU_ @Lb["Entradas"]",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "<i class='fas fa-search'></i>",
                "zeroRecords": "@Lb["sinResultados"]",
                "paginate": {
                    "first": "@Lb["Primero"]",
                    "last": "@Lb["Último"]",
                    "next": "@Lb["Sguiente"]",
                    "previous": "@Lb["Anterior"]"
                }
            }

    });

</script>
