@model IEnumerable<AltivaWebApp.Domains.TbFaDescuentoUsuarioRango>
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{

    var usuarios = ViewData["usuarios"] as IList<TbSeUsuario>;

}




<div class="row text-center">

    <div class="col-md-12 table-responsive" style="height: 400px; overflow:scroll;">


        <table id="descuentoUsuarios" class=" table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th hidden>
                        ID
                    </th>

                    <th width="125px">
                        <span data-translate="codigo"><center>Usuario</center></span>
                    </th>

                    <th width="25px">
                        <span data-translate="nombre"><center>Descuento</center></span>
                    </th>

                    <th width="150px">
                        <span data-translate="nombre"><center>Rango Fechas</center></span>
                    </th>

                    @*<th>
                        <span data-translate="estado">Hasta</span>
                    </th>*@

                    <th>
                        <span data-translate="estado"><center>Nota</center></span>
                    </th>

                    <th width="115px">
                        <span data-translate="accion"><center>Accion</center></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr class="modelo">
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.IdDescuentoUsuarioRango)
                    </td>

                    <td style="padding-top: 2rem">

                        @{
                            var nombre = usuarios.FirstOrDefault(u => u.Id == item.IdUsuario).Nombre;
                            var id = usuarios.FirstOrDefault(u => u.Id == item.IdUsuario).Codigo;
                        }
                        <a href="@Url.Action("CuentaUsuario", "ManejoUsuarios", new { codigo =  id})">@nombre</a>
                    </td>

                    <td style="padding-top: 2rem">
                        @Html.DisplayFor(modelItem => item.MaxDescuento) %
                    </td>

                    <td style="padding-top: 2rem">
                        @Html.DisplayFor(modelItem => item.FechaDesde) - @Html.DisplayFor(modelItem => item.FechaHasta)
                    </td>

                    @*<td style="padding-top: 2rem" class="estado">
                        @Html.DisplayFor(modelItem => item.FechaHasta)
                    </td>*@

                    <td style="padding-top: 2rem" class="estado">
                        @Html.DisplayFor(modelItem => item.Nota)
                    </td>

                    <td style="padding-top: 2rem">
                        <button class="btn btn-link editarDescuentoUsuarioRango" value="@item.IdDescuentoUsuarioRango"><span><i class="fas fa-edit"></i></span></button>
                        <button class="btn btn-link eliminarDescuentoUsuarioRango" value="@item.IdDescuentoUsuarioRango"><span><i class="fas fa-trash"></i></span></button>
                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<script>

    $(document).ready(function () {

                       $('.editarDescuentoUsuarioRango').on('click', function () {
                           var _id = $(this).val();
                           $('.selUsuarios').select2();

                          

                $.ajax({
                    type: "GET",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                   // url: 'Eliminar-Descuento/' + $(this).val(),
                    url: '@Url.Action("ObtenerDescuentoUsuarioRango", "DescuentoPromocion")',
                    data: {id: _id},

                    success: function (data) {

                         obtenerUserConDescRango(data.idUsuario);


                          $('#txtIdUsuarioDescRango').val(data.idDescuentoUsuarioRango);
                       // $("#asignado option[value='" + data.idUsuario + "']").prop("selected", true);
                      //  $("#asignadoRango").val(data.idUsuario);
                        $('#asignadoRango').trigger('change.select2').prop('disabled', 'disabled');
                        $("#txtMaxDescRango").val(data.maxDescuento);
                        $("#txtNotaDescRango").val(data.nota);
                        $('#txtInicio').val(data.fechaDesde);
                        $('#txtHasta').val(data.fechaHasta);
                        $('#modalAgregarMaximoDescFecha').modal("show");
                   
                    },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }
                });
           });
                   $('.eliminarDescuentoUsuarioRango').on('click', function () {
               var _id = $(this).val();

                $.ajax({
                    type: "GET",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                   // url: 'Eliminar-Descuento/' + $(this).val(),
                    url: '@Url.Action("EliminarDescuentoRango", "DescuentoPromocion")',
                    data: {id: _id},

                    success: function (data) {
                        if (data.data) {

                           getDescuentoUsuarioFecha()
                        }
                        else
                            alert("Error al eliminar la subFamilia");
                    },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
        });
    });

</script>



