@model IEnumerable<AltivaWebApp.Domains.TbFaDescuentoUsuario>
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{

    var usuarios = ViewData["usuarios"] as IList<TbSeUsuario>;

}




<div class="row text-center">

    <div class="col-md-12 table-responsive" style="height: 400px; overflow:scroll;">


        <table id="descuentoUsuarios" class=" table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th hidden>
                        ID
                    </th>

                    <th>
                        <span data-translate="codigo">Usuario</span>
                    </th>

                    <th>
                        <span data-translate="nombre">Maximo Descuento</span>
                    </th>

                    <th>
                        <span data-translate="estado">Nota</span>
                    </th>

                    <th>
                        <span data-translate="accion">Accion</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="modelo">
                        <td hidden>
                            @Html.DisplayFor(modelItem => item.IdDescuentoUsuario)
                        </td>

                        <td style="padding-top: 2rem">
                            @Html.DisplayFor(modelItem => item.IdUsuario)
                        </td>

                        <td style="padding-top: 2rem">
                            @Html.DisplayFor(modelItem => item.MaxDescuento)
                        </td>

                        <td style="padding-top: 2rem" class="estado">
                            @Html.DisplayFor(modelItem => item.Nota)
                        </td>

                        <td style="padding-top: 2rem">
                            <button class="btn btn-link editarDescuentoUsuario" value="@item.IdDescuentoUsuario"><span><i class="fas fa-edit"></i></span></button>
                            <button class="btn btn-link eliminarDescuentoUsuario" value="@item.IdDescuentoUsuario"><span><i class="fas fa-trash"></i></span></button>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>

<script>

    $(document).ready(function () {

                       $('.editarDescuentoUsuario').on('click', function () {
               var _id = $(this).val();
                           $('.selUsuarios').select2();

                $.ajax({
                    type: "GET",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                   // url: 'Eliminar-Descuento/' + $(this).val(),
                    url: '@Url.Action("ObtenerDescuentoUsuario", "DescuentoPromocion")',
                    data: {id: _id},

                    success: function (data) {
                        //$("#asignado").val(data.idUsuario).prop('selected', true);
                        $('#txtIdUsuarioDesc').val(data.idDescuentoUsuario);

                        $("#asignado option[value='" + data.idUsuario + "']").prop("selected", true);
                        $("#asignado").select2('val', data.idUsuario.toString());
                        $("#txtMaxDesc").val(data.maxDescuento);
                        $("#txtNotaDesc").val(data.nota);
                        $('#modalAgregarMaximoDesc').modal("show");
                        //if (data.data) {
                        //    getDescuentoUsuario();
                            
                        //}
                    },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }
                });
           });
                   $('.eliminarDescuentoUsuario').on('click', function () {
               var _id = $(this).val();

                $.ajax({
                    type: "GET",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                   // url: 'Eliminar-Descuento/' + $(this).val(),
                    url: '@Url.Action("EliminarDescuento", "DescuentoPromocion")',
                    data: {id: _id},

                    success: function (data) {
                        if (data.data) {
                           getDescuentoUsuario()
                        }
                        else
                            alert("Error al eliminar la subFamilia");
                    },
                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
        });
    });

</script>


