@model IEnumerable<AltivaWebApp.Domains.TbFaDescuentoUsuario>
@inject IStringLocalizer<SharedResources> SharedLocalizer




<div class="row text-center">

    <div class="col-md-12 table-responsive" style="height: 400px; overflow:scroll;">


        <table id="descuentoUsuarios" class=" table table-striped" style="width:100%">
            <thead>
                <tr>
                    <th hidden>
                        ID
                    </th>
                    <th>
                        <span data-translate="codigo">Usuario</span>
                    </th>
                    <th>
                        <span data-translate="nombre">Maximo Descuento</span>
                    </th>
                    <th>
                        <span data-translate="estado">Nota</span>
                    </th>

                    <th>
                        <span data-translate="accion">Accion</span>
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="modelo">
                        <td hidden>
                            @Html.DisplayFor(modelItem => item.IdDescuentoUsuario)
                        </td>
                        <td style="padding-top: 2rem">
                            @Html.DisplayFor(modelIten => item.IdUsuario)
                        </td>
                        <td style="padding-top: 2rem">
                            @Html.DisplayFor(modelItem => item.MaxDescuento)
                        </td>
                        <td style="padding-top: 2rem" class="estado">
                            @Html.DisplayFor(modelItem => item.Nota)
                        </td>

                        <td style="padding-top: 2rem">

                            <a href="@Url.Action("CuentaUsuario","ManejoUsuarios", new { codigo = item.IdDescuentoUsuario })"><span><i class="fas fa-edit"></i></span></a>
                            <a href="@Url.Action("CuentaUsuario","ManejoUsuarios", new { codigo = item.IdDescuentoUsuario })"><span><i class="fas fa-trash"></i></span></a>

                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>




