
@inject IStringLocalizer<SharedResources> SharedLocalizer

@model AltivaWebApp.ViewModels.RebajaConfigViewModel

@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }

}


<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-group descuentoGeneralnGroup">
            <input type="checkbox" class="form-check-input" id="chkDescuentoGeneral" asp-for="ActivaMaxGeneral" />
            <label data-translate="chkDescuentoGeneral" class="form-check-label" for="chkDescuentoGeneral">Maximo descuento general en el sistema</label>

            <input id="txtPorcentajeDescuentoGeneral" type="number" min="0" max="100" asp-for="PorcMaxGeneral" class="form-control porcentaje" />
        </div>

        <div class="form-group descMaximoUsuario">
            <input type="checkbox" class="form-check-input" id="chkDescMaximoUsuario" asp-for="ActivaMaxUsuario" />
            <label data-translate="chkDescMaximoUsuario" class="form-check-label" for="chkDescMaximoUsuario">Maximo de descuento permitido a ciertos usuarios  </label>

            <p>
                <a class="btn btn-primary btn-xs" id="btnDescMaximoUsuario"><span data-translate="Configurar">Configurar </span>&nbsp;<i class="fas fa-cog"></i></a>
            </p>
        </div>

        <div class="form-group descMaximoUsuarioRango">
            <input type="checkbox" class="form-check-input" id="chkDescMaximoUsuarioRango" asp-for="ActivaMaxUsuarioRango" />
            <label data-translate="chkDescMaximoUsuarioRango" class="form-check-label" for="chkDescMaximoUsuarioRango">Maximo de descuento permitido a ciertos usuarios por rango de fechas </label>

            <p>
                <a class="btn btn-primary btn-xs" id="btnDescMaximoUsuarioRango"><span data-translate="Configurar">Configurar </span>&nbsp;<i class="fas fa-cog"></i></a>
            </p>
        </div>

        <div class="form-group descMaximoUsuarioClave">
            <input type="checkbox" class="form-check-input" id="chkDescMaximoUsuarioClave" asp-for="ActivaMaxUsuarioClave" />
            <label data-translate="chkDescMaximoUsuarioClave" class="form-check-label" for="chkDescMaximoUsuarioClave">Maximo de descuento autorizado mediante clave especial y usuarios que autorizan  </label>

            <p>
                <a class="btn btn-primary btn-xs" id="btnDescMaximoUsuarioClave"><span data-translate="Configurar">Configurar </span>&nbsp;<i class="fas fa-cog"></i></a>
            </p>
        </div>

        <div class="form-group ActPromoProd">
            <input type="checkbox" class="form-check-input" id="chkActPromoProd" asp-for="ActivaPromoProducto" />
            <label data-translate="chkActPromoProd" class="form-check-label" for="chkActPromoProd">Activar promociones de producto </label>

            <p>
                <a class="btn btn-primary btn-xs" id="btnActPromoProd"><span data-translate="Configurar">Configurar </span>&nbsp;<i class="fas fa-cog"></i></a>
            </p>
        </div>

        <div class="form-group ActPromoUsuarioClave">
            <input type="checkbox" class="form-check-input" id="chkActPromoUsuarioClave" asp-for="ActivaPromoProductoUsuario" />
            <label data-translate="chkActPromoUsuarioClave" class="form-check-label" for="chkActPromoUsuarioClave">Activar promociones de los productos solo mediante clave especial y usuarios que autorizan  </label>

            <p>
                <a class="btn btn-primary btn-xs" id="btnActPromoUsuarioClave"><span data-translate="Configurar">Configurar </span>&nbsp;<i class="fas fa-cog"></i></a>
            </p>
        </div>

        <div class="form-group ActDescProd">
            <input type="checkbox" class="form-check-input" id="chkActDescProd" asp-for="ActivaDescuentoPromoUsuario" />
            <label data-translate="chk ActDescProd" class="form-check-label" for="chk ActDescProd">Activar descuentos de productos </label>

            <p>
                <a class="btn btn-primary btn-xs" id="btnActDescProd"><span data-translate="Configurar">Configurar </span>&nbsp;<i class="fas fa-cog"></i></a>
            </p>
        </div>

        <div class="form-group ActDescProdUsuarioClave">
            <input type="checkbox" class="form-check-input" id="chkActDescProdUsuarioClave" asp-for="ActivaDescuentoPromoUsuarioClave" />
            <label data-translate="chkActDescProdUsuarioClave" class="form-check-label acciones" for="chkActDescProdUsuarioClave">Activar descuentos de los productos solo mediante clave especial y usuarios que autorizan  </label>

            <p>
                <a class="btn btn-primary btn-xs config" id="btnActDescProdUsuarioClave"><span data-translate="Configurar">Configurar </span>&nbsp;<i class="fas fa-cog"></i></a>
            </p>
        </div>

        <hr />

        <div class="form-group">
            <button id="btnGuardar" class="btn btn-success" onclick="guardarConfiguracion()"><span data-translate="guardar">Guardar</span> <span><i class="fas fa-save"></i></span></button>
            <a class="btn btn-default" id="btnCancelar" data-translate="cancelar">@SharedLocalizer["Cancelar"]</a>
        </div>

    </div>
</div>

<div>
    <!-- Modal Maximo descuento permitido -->
    <div class="modal fade" id="modalMaximoDesc" tabindex="-1" role="dialog" aria-labelledby="maximoDescModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 data-translate="Configuracion" class="modal-title" id="maximoDescModallabel">@SharedLocalizer["Configuracion maximo descuento permitido"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <hr />

                    <div class="form-group" style="margin-left:1rem; padding-top:0.7rem">
                        <p>
                            <a class="btn btn-primary btn-xs" id="btnAgregarMaximoDesc"><span data-translate="Agregar">Agregar</span>&nbsp;<i class="fas fa-plus-circle"></i></a>
                        </p>
                    </div>
                </div>
                <div class="modal-body" id="crearPartialDescuentoUsuarios">

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Modal Maximo descuento permitido por Fecha-->
    <div class="modal fade" id="modalMaximoDescRango" tabindex="-1" role="dialog" aria-labelledby="maximoDescRangoModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 data-translate="Configuracion" class="modal-title" id="maximoDescRangoModallabel">@SharedLocalizer["Configuracion maximo descuento permitido por rango de Fecha"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <hr />

                    <div class="form-group" style="margin-left:1rem; padding-top:0.7rem">
                        <p>
                            <a class="btn btn-primary btn-xs" id="btnAgregarMaximoDescFecha"><span data-translate="Agregar">Agregar</span>&nbsp;<i class="fas fa-plus-circle"></i></a>
                        </p>
                    </div>
                </div>
                <div class="modal-body" id="crearPartialDescuentoUsuariosFecha">

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Modal Maximo descuento permitido mediante clave autorizada -->
    <div class="modal fade" id="modalMaximoDescClave" tabindex="-1" role="dialog" aria-labelledby="maximoDescClaveModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 data-translate="Configuracion" class="modal-title" id="maximoDescClaveModallabel">@SharedLocalizer["Configuracion maximo descuento permitido mediante clave autorizada"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="crearEditarPartial">

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Modal Activar Promociones de productos -->
    <div class="modal fade" id="modalPromoProd" tabindex="-1" role="dialog" aria-labelledby="PromoProdModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 data-translate="Configuracion" class="modal-title" id="PromoProdModallabel">@SharedLocalizer["Configuracion promociones de producto"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="crearEditarPartial">

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Modal Activar Promociones de productos mediante clave-->
    <div class="modal fade" id="modalPromoProdClave" tabindex="-1" role="dialog" aria-labelledby="PromoProdClaveModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 data-translate="Configuracion" class="modal-title" id="PromoProdClaveModallabel">@SharedLocalizer["Configuracion de promociones de producto mediante clave"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="crearEditarPartial">

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Modal Activar descuentos de productos -->
    <div class="modal fade" id="modalDescProd" tabindex="-1" role="dialog" aria-labelledby="DescProdModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 data-translate="Configuracion" class="modal-title" id="DescProdModallabel">@SharedLocalizer["Configuracion de descuentos de productos"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="crearEditarPartial">

                </div>
            </div>
        </div>
    </div>
</div>

<div>
    <!-- Modal Activar descuentos de productos mediante clave -->
    <div class="modal fade" id="modalDescProdClave" tabindex="-1" role="dialog" aria-labelledby="DescProdClaveModallabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 data-translate="Configuracion" class="modal-title" id="DescProdClaveModallabel">@SharedLocalizer["Configuracion de descuentos de producto mediante clave"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="crearEditarPartial">

                </div>
            </div>
        </div>
    </div>
</div>

<!--**********************SubModales ************************-->
<div>
    <!-- SubModal Maximo Descuento a Usuarios -->
    <div class="modal fade" role="dialog" id="modalAgregarMaximoDesc" tabindex="-1" style="overflow-y: scroll; " aria-labelledby="AgregarMaximoDescModallabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered big">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 data-translate="Configuracion" class="modal-title" id="AgregarMaximoDescModallabel">@SharedLocalizer["Maximo Descuento a Usuarios"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="limpiarCampos()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="crearEditarPartial">

                    <input id="txtIdUsuarioDesc" type="text" hidden  value="0"/>

                    <div class="form-group">
                        <label for="staticEmail" class=" col-form-label">Asignado:</label><br />
                        <select class="selUsuarios" multiple="multiple" data-live-search="true" id="asignado" onchange="cargarIdUsuarioSelect()" asp-for="@ViewData.[IdUsuario]">
                            @foreach (var asignados in ViewData["asignados"] as IList<TbSeUsuario>)
                            {

                                <option value="@asignados.Id">@asignados.Nombre</option>
                            }
                        </select>
                    </div>

                    <div class="form-group descuentoGeneralnGroup ">
                        <label data-translate="txtMaxDesc" class="form-label" for="txtMaxDesc"> Descuento (%)</label>

                        <input id="txtMaxDesc" type="number" min="0" max="100" class="form-control porcentaje" value="" required />
                        <span hidden id="txtMaxDesc" class="text-danger">@SharedLocalizer["Campo requerido."]</span>

                    </div>

                    <div class=" form-group">
                        <label class="col-form-label">Nota:</label><br />
                        <input type="text" class="form-control" id="txtNotaDesc" required>
                    </div>

                    <div class="form-group">
                        <button id="btnGuardarDescUsuario" class="btn btn-success btn-xs " onclick="guardarDescuentoUsuario()"><span data-translate="guardar">Guardar</span> <span><i class="fas fa-save"></i></span></button>
                        <a class="btn btn-default btn-xs" id="btnCancelar" onclick="limpiarCampos()" data-translate="cancelar">@SharedLocalizer["Cancelar"]</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<div>
    <!-- SubModal Maximo Descuento a Usuarios por rango de fecha -->
    <div class="modal fade" role="dialog" id="modalAgregarMaximoDescFecha" tabindex="-1" style="overflow-y: scroll; " aria-labelledby="AgregarMaximoDescFechaModallabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered big">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 data-translate="Configuracion" class="modal-title" id="AgregarMaximoDescFechaModallabel">@SharedLocalizer["Maximo Descuento a Usuarios"]</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="limpiarCampos()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="crearEditarPartial">

                    <div class="form-group">
                        <label for="staticEmail" class=" col-form-label">Asignado:</label><br />
                        <select class="selUsuarios" multiple="multiple" data-live-search="true" id="asignadoRango" onchange="cargarIdUsuarioRangoSelect()" asp-for="@ViewData.[IdUsuario]">
                            @foreach (var asignados in ViewData["asignadosRango"] as IList<TbSeUsuario>)
                            {
                                <option value="@asignados.Id">@asignados.Nombre</option>
                            }
                        </select>
                    </div>

                    <div class="form-group descuentoGeneralnGroup ">
                        <label data-translate="txtMaxDesc" class="form-label" for="txtMaxDescRango"> Descuento (%)</label>

                        <input id="txtMaxDescRango" type="number" min="0" max="100" class="form-control porcentaje" value="" required />
                        <span hidden id="txtMaxDescRango" class="text-danger">@SharedLocalizer["Campo requerido."]</span>

                    </div>

                    <div class="input-group date" data-provide="datepicker">
                        <label data-translate="txtInicio" class="form-label" for="txtInicio"> Desde </label>

                        <input type="date" class="form-control" id="txtInicio">

                    </div>

                    <div class="input-group date" data-provide="datepicker">
                        <label data-translate="txtHasta" class="form-label" for="txtHasta"> Hasta </label>

                        <input type="date" class="form-control" id="txtHasta">

                    </div>

                  

                    <div class=" form-group">
                        <label class="col-form-label">Nota:</label><br />
                        <input type="text" class="form-control" id="txtNotaDescRango" required>
                    </div>

                    <div class="form-group">
                        <button id="btnGuardarDescUsuarioFecha" class="btn btn-success btn-xs " onclick="guardarDescuentoUsuarioRango()"><span data-translate="guardar">Guardar</span> <span><i class="fas fa-save"></i></span></button>
                        <a class="btn btn-default btn-xs" id="btnCancelarFecha" onclick="limpiarCampos()" data-translate="cancelar">@SharedLocalizer["Cancelar"]</a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>


<!--********************Fin SubModales ***********************-->

<script>

    var usuarios = [];
     var usuariosRango = [];

    $(document).ready(function () {

            //*********************Mostrar Modales**********************************

            $('#btnDescMaximoUsuario').click(function () {

                if ($('#chkDescMaximoUsuario').prop('checked')) {
                    $('#modalMaximoDesc').modal('show');
                    getDescuentoUsuario();

                } else {
                    cargarAlert("@SharedLocalizer["No ha seleccionado ningun elemento"]");
                }
        });

            $('#btnDescMaximoUsuarioRango').click(function () {

                if ($('#chkDescMaximoUsuarioRango').prop('checked')) {
                    $('#modalMaximoDescRango').modal('show');
                    getDescuentoUsuarioFecha();

                } else {
                    cargarAlert("@SharedLocalizer["No ha seleccionado ningun elemento"]");
                }
        });

            $('#btnDescMaximoUsuarioClave').click(function () {

                  if ($('#chkDescMaximoUsuarioClave').prop('checked')) {
                $('#modalMaximoDescClave').modal('show');

                } else {
                    cargarAlert("@SharedLocalizer["No ha seleccionado ningun elemento"]");
                }
        });

            $('#btnActPromoProd').click(function () {

                     if ($('#chkActPromoProd').prop('checked')) {
                         $('#modalPromoProd').modal('show');

                } else {
                    cargarAlert("@SharedLocalizer["No ha seleccionado ningun elemento"]");
                }
        });

            $('#btnActPromoUsuarioClave').click(function () {

                  if ($('#chkActPromoUsuarioClave').prop('checked')) {
                $('#modalPromoProdClave').modal('show');

                } else {

                    cargarAlert("@SharedLocalizer["No ha seleccionado ningun elemento"]");
                }
        });

            $('#btnActDescProd').click(function () {

                if ($('#chkActDescProd').prop('checked')) {
                $('#modalDescProd').modal('show');

                } else {

                    cargarAlert("@SharedLocalizer["No ha seleccionado ningun elemento"]");
                }
        });

            $('#btnActDescProdUsuarioClave').click(function () {

               if ($('#chkActDescProdUsuarioClave').prop('checked')) {
                $('#modalDescProdClave').modal('show');

                } else {
                    cargarAlert("@SharedLocalizer["No ha seleccionado ningun elemento"]");
                }
        });

            //**********************Modal 1 **********************

        $('#btnAgregarMaximoDesc').click(function () {
            $('#modalAgregarMaximoDesc').modal("show");
            $('.selUsuarios').select2();
        });

            //**********************Fin Modal 1 ******************

          //**********************Modal 2 **********************

        $('#btnAgregarMaximoDescFecha').click(function () {
            $('#modalAgregarMaximoDescFecha').modal("show");
            $('.selUsuarios').select2();
        });

            //**********************Fin Modal 2 ******************

    }); //Fin de document ready

         function guardarConfiguracion() {

        var _porcentaje = $('#txtPorcentajeDescuentoGeneral').val();
        var _descGeneral = $('#chkDescuentoGeneral').is(':checked');
        var _descMaximoUsuario = $('#chkDescMaximoUsuario').is(':checked');
        var _descMaximoUsuarioRango = $('#chkDescMaximoUsuarioRango').is(':checked');
        var _descMaximoUsuarioClave = $('#chkDescMaximoUsuarioClave').is(':checked');
        var _actPromoProd = $('#chkActPromoProd').is(':checked');
        var _actPromoUsuarioClave = $('#chkActPromoUsuarioClave').is(':checked');
        var _actDescProd = $('#chkActDescProd').is(':checked');
        var _actDescProdUsuarioClave = $('#chkActDescProdUsuarioClave').is(':checked');
        var id = @Model.IdRebajaConfig;

             var model = {
                        IdRebajaConfig: id,
                        PorcMaxGeneral: _porcentaje,
                        ActivaMaxGeneral: _descGeneral,
                        ActivaMaxUsuario: _descMaximoUsuario,
                        ActivaMaxUsuarioRango: _descMaximoUsuarioRango,
                        ActivaMaxUsuarioClave: _descMaximoUsuarioClave,
                        ActivaPromoProducto: _actPromoProd,
                        ActivaPromoProductoUsuario: _actPromoUsuarioClave,
                        ActivaDescuentoPromoUsuario: _actDescProd,
                        ActivaDescuentoPromoUsuarioClave: _actDescProdUsuarioClave
             }

            $.ajax({
            type: "post",
                headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: '@Url.Action("ActualizarConfig")',
                data: model,
                success: function (data) {
                    cargarAlert("@SharedLocalizer["OperacionExitosa"]");
            },
                error: function (err, scnd) {
                    @*cargarAlert("@SharedLocalizer("errorGeneral")");*@
                    console.log(err.statusText);
            }
        });
    }

    //***************Funciones de modal 1********************//

    function cargarIdUsuarioSelect() {

        var selectUser = $('#asignado').val();

        usuarios = $('#asignado').val();
    }

    function guardarDescuentoUsuario() {

        console.log(usuarios);
        var model = [];
        var _IdDescuentoUsuario = $('#txtIdUsuarioDesc').val();
                 var _IdConfig = @Model.IdRebajaConfig;
                 var _IdUser = $('#asignado').val();
                 var _Descuento = $('#txtMaxDesc').val();
                 var _ObtenerUsuario =@User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value;
                 var _Nota = $('#txtNotaDesc').val();

        for (var i = 0; i < usuarios.length; i++) {
            var m = {
                IdRebajaConfig: _IdConfig,
                IdDescuentoUsuario: _IdDescuentoUsuario,
                IdUsuario: usuarios[i],
                MaxDescuento: _Descuento,
                IdUsuarioCreador: _ObtenerUsuario,
                Nota: _Nota
            };

            model.push(m);
        }

        $.ajax({
            type: "post",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: '@Url.Action("GuardarDescMaximo")',
            data: {model: model} ,
                success: function (data) {
                  //  cargarAlert("@SharedLocalizer["OperacionExitosa"]");
                    getDescuentoUsuario();
                    limpiarCampos();


            },
                error: function (err, scnd) {
                    @*cargarAlert("@SharedLocalizer("errorGeneral")");*@
                    console.log(err.statusText);
            }
        });
        }

    function limpiarCampos() {

        $('#txtIdUsuarioDesc').val('');

        $('#txtNotaDesc').val('');
        $('#txtMaxDesc').val('');
        $('#asignado').val('');

         $('#txtNotaDescRango').val('');
        $('#txtMaxDescRango').val('');
        $('#asignadoRango').val('');
        $('#modalAgregarMaximoDesc').modal("hide");
        $('#modalAgregarMaximoDescFecha').modal("hide");


    }


        function getDescuentoUsuario() {

            var url = '@Url.Action("_ListarDescuentoUsuario", "DescuentoPromocion")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,

                success: function (data) {
                    $('#crearPartialDescuentoUsuarios').html(data);
                },
                error: function (err, scnd) {
                    cargarAlert('@SharedLocalizer["errorGeneral"]');
                    console.log(err.statusText);
                }
            });
        }


    //************Fin funcioines modal 1*******************//

        //************Inicio funcioines modal 2*******************//

     function cargarIdUsuarioRangoSelect() {

        var selectUserRango = $('#asignadoRango').val();

        usuariosRango = $('#asignadoRango').val();
    }

        function guardarDescuentoUsuarioRango() {

        console.log(usuarios);
        var model = [];
                 var _IdConfig = @Model.IdRebajaConfig;
                 var _IdUser = $('#asignadoRango').val();
                 var _Descuento = $('#txtMaxDescRango').val();
            var _ObtenerUsuario =@User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier)?.Value;
            var _Desde = $('#txtInicio').val();
            var _Hasta = $('#txtHasta').val();
                 var _Nota = $('#txtNotaDescRango').val();

        for (var i = 0; i < usuariosRango.length; i++) {
            var m = {
                IdRebajaConfig: _IdConfig,
                IdUsuario: usuariosRango[i],
                MaxDescuento: _Descuento,
                IdUsuarioCreador: _ObtenerUsuario,
                FechaHasta: _Hasta,
                FechaDesde: _Desde,
                Nota: _Nota
            };

            model.push(m);
        }

        $.ajax({
            type: "post",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            url: '@Url.Action("GuardarDescMaximoRango")',
            data: {model: model} ,
                success: function (data) {
                  //  cargarAlert("@SharedLocalizer["OperacionExitosa"]");
                    getDescuentoUsuarioFecha();
                    limpiarCampos();


            },
                error: function (err, scnd) {
                    @*cargarAlert("@SharedLocalizer("errorGeneral")");*@
                    console.log(err.statusText);
            }
        });
        }

        function getDescuentoUsuarioFecha() {

            var url = '@Url.Action("_ListarDescuentoUsuarioFecha", "DescuentoPromocion")';
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                url: url,

                success: function (data) {
                    $('#crearPartialDescuentoUsuariosFecha').html(data);
                },
                error: function (err, scnd) {
                    cargarAlert('@SharedLocalizer["errorGeneral"]');
                    console.log(err.statusText);
                }
            });
        }


        //************Fin funcioines modal 2*******************//


</script>


