@model AltivaWebApp.Domains.TbFdTareaEstado
@inject IStringLocalizer<SharedResources> Lb
@{
    ViewData["Title"] = "Costos por usuario";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<!-- Agregado por lenin -->
@{
    var titulo = "";

    @if (Model.Id != 0)
    {

        titulo = @Lb["editarEstadoTarea"];

    }
    else
    {
        titulo = @Lb["nuevoEstadoTarea"];
    }

}

<!-- Agregado por lenin -->

<div class="container">

    <div class="row">
        <h4 class="col-md-11 col-sm-11 col-xs-11" id="trasladoModallabel">@titulo</h4>
        <div class="col-md-1">

            <button type="button" class="close" aria-label="Close" onclick="btnCancelar()">  <!--   btnCancelarEstados()  -->
                <span aria-hidden="true">&times;</span>
            </button>

        </div>
    </div>

    <hr />



    <div class="row">
        <div class="form-group col-md-12" hidden>
            <label>Id:</label>
            <input type="text" class="form-control" asp-for="Id" id="Id1" />
        </div>
        <div class="form-group col-md-12">
            <label> @Lb["Titulo"]:</label>
            <input type="text" class="form-control" asp-for="Titulo" id="Titulo3" />
            <div id="AlertTitulo3"></div>
        </div>


        <div class="form-group col-md-4">
            <label>Color:</label>

            <input type="text" class="form-control jscolor" id="Color1" asp-for="Color">

            <div id="AlertColor"> </div>

        </div>


        <div class="form-group col-sm-4 col-md-12">
            <label> @Lb["esPorDefecto"]: <span><i class="fas fa-question"></i></span></label>
            <div>
                <input type="checkbox" id="defecto" checked="@Model.EsDefecto" />
                <div id="AlertDefecto"></div>
            </div>
        </div>
        <div class="form-group col-sm-4 col-md-12">
            <label> @Lb["EsInicial"]: <span><i class="fas fa-question"></i></span></label>
            <div>
                <input type="checkbox" id="esInicial" checked="@Model.EsInicial" />
                <div id="AlertEsInicial"></div>
            </div>
        </div>
        <div class="form-group col-sm-4 col-md-12">
            <label> @Lb["EsFinal"]: <span><i class="fas fa-question"></i></span></label>
            <div>
                <input type="checkbox" id="esFinal" checked="@Model.EsFinal" />
                <div id="AlertEsFinal"></div>
            </div>
        </div>
        <div id="divCampoActivo" class="form-group col-sm-4 col-md-12" hidden>
            <label>@Lb["activo"]: <span><i class="fas fa-question"></i></span></label>
            <div>
                <input type="checkbox" checked="@Model.Activo" id="activo" />
            </div>
        </div>
        @if (Model.Titulo == null)
        {
            <div class="form-group col-sm-4 col-md-12">
                <button type="button" id="GuardarEstado" class="btn btn-success"> @Lb["Guardar"] <i class="fas fa-save"></i></button>


                <button type="button" class="btn btn-default" onclick="btnCancelarEstados()">@Lb["Cancelar"]</button>
            </div>
        }
        else
        {
            <div class="form-group col-sm-4 col-md-12">
                <button type="button" id="EditarEstado" class="btn btn-success">  @Lb["Guardar"]  <i class="fas fa-save"></i></button>


                <button type="button" class="btn btn-default" onclick="btnCancelarEstados()"> @Lb["Cancelar"] </button>
            </div>
        }


    </div>

</div>

<script src="~/js/jscolor.js"></script>

<script>
    //cerrar modal agregado por lenin

     function btnCancelar() {
         $('#ModalEstados').modal('hide');
        // window.location.href = "@Url.Action("Lisar-Estados", "EstadoTarea")"; //EstadoTarea/Lisar-Estados
    }
   

    function btnCancelarEstados() {
        $('#ModalEstados').modal('hide');
       //  window.location.href = "@Url.Action("Lisar-Estados", "EstadoTarea")"; //EstadoTarea/Lisar-Estados
    }


    $(document).ready(function () {

        jscolor.installByClassName("jscolor");



        if ($('#Titulo3').val() == "") {

            $("#Color1").val("F6FAF9");
            $('#Color1').on('click', function () {
                if ($(this).val() === "")
                    $(this).val("F6FAF9");
            });

        }

        $('#esFinal').change(function () {
            if ($(this).prop('checked')) {
                $('#esInicial').prop('checked', false);
            }
        });

        $('#esInicial').change(function () {
            if ($(this).prop('checked')) {
                $('#esFinal').prop('checked', false);
            }
        });


    });


    //guardar estado de la tarea
    $('#GuardarEstado').on('click', function () {
        if (ValidarDatosRequeridos() == true) {

            var defecto = "";
            var esInicio = "";
            var esFinal = "";           
            var activo = "";
           

            if ($('#defecto').prop('checked')) {
                defecto = true;
            } else {
                defecto = false;
            }

            if ($('#esInicial').prop('checked')) {
                esInicio = true;
            } else {
                esInicio = false;
            }

            if ($('#esFinal').prop('checked')) {
                esFinal = true;
            } else {
                esFinal = false;
            }
         
            if ($('#activo').prop('checked')) {
                activo = true;
            } else {
                activo = false;
                $('#Color').val('#858585');
            }

            var EstadoTarea = {
                Id: null,
                Titulo: $('#Titulo3').val(),
                Color: '#' + $('#Color1').val(),
                EsDefecto: defecto,
                EsInicial: esInicio,
                EsFinal: esFinal,
                Activo: activo
            };

            $.ajax({
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                type: "POST",


                url: '@Url.Action("CrearEstado", "EstadoTarea")',

                data: { domain: EstadoTarea },
                    success: function (data) {
                        if (data.titulo == true) {
                            $('#AlertTitulo3').empty();
                            $('#AlertTitulo3').append('<span class="text-danger">  @Lb["TituloRepetido"].   </span>');
                            return false;
                        }
                        if (data.color == true) {
                            $('#AlertColor').empty();
                            $('#AlertColor').append('<span class="text-danger">  @Lb["ColorRepetido"].</span>');
                            return false;
                        }
                        if (data.defecto == true) {
                            $('#AlertDefecto').empty();
                            $('#AlertDefecto').append('<span class="text-danger">  @Lb["EstadoDefectoRepetido"].</span>');
                            return false;
                        }

                        if (data.inicial == true) {
                            $('#AlertEsInicial').empty();
                            $('#AlertEsInicial').append('<span class="text-danger">  @Lb["EstadoInicialRepetido"].</span>');
                            return false;
                        }

                        if (data.final == true) {
                            $('#AlertEsFinal').empty();
                            $('#AlertEsFinal').append('<span class="text-danger">   @Lb["EstadoFinalRepetido"].</span>');
                            return false;                       
                        }


                        $('#ModalEstados').modal('hide');
                         // window.location.href = "@Url.Action("Lisar-Estados", "EstadoTarea")"; //lenin


                        if ($("#activos").css("display") == "block") {

                            $("#inactivos").css("display", "none");
                            $("#activos").css("display", "block");
                            VerInactivos("inactivos");
                        } else {
                            $("#inactivos").css("display", "block");
                            $("#activos").css("display", "none");
                            //verActivos(null);

                        }

                        return false;
                    },

                error: function (err, scnd) {
                    console.log(err.statusText);
                }

            });

        }
    });


    //editar los datos de los estados de la tarea..
    $('#EditarEstado').on('click', function () {
        if (ValidarDatosRequeridos() == true) {
    
            var defecto = "";
            var esInicio = "";
            var esFinal = "";
            var activo = "";

            if ($('#defecto').prop('checked')) {
                defecto = true;
            } else {
                defecto = false;
            }

            if ($('#esInicial').prop('checked')) {
                esInicio = true;
            } else {
                esInicio = false;
            }

            if ($('#esFinal').prop('checked')) {
                esFinal = true;
            } else {
                esFinal = false;
            }
          
            if ($('#activo').prop('checked')) {
                activo = true;
            } else {
                activo = false;
                $('#Color').val('#858585');
            }
                       
            console.log(activo);
            if (activo == true) {

                 var EstadoTarea = {

                    Id: $('#Id1').val(),
                    Titulo: $('#Titulo3').val(),
                    Color: '#' + $('#Color1').val(),
                    EsDefecto: defecto,
                    EsInicial: esInicio,
                    EsFinal: esFinal,
                    Activo: activo

                 };

                $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",

                    url: '@Url.Action("EditarEstado", "EstadoTarea")',

                    data: { domain: EstadoTarea },
                    success: function (data) {

                        if (data.titulo == true) {
                            $('#AlertTitulo3').empty();
                            $('#AlertTitulo3').append('<span class="text-danger">  @Lb["TituloRepetido"].   </span>');
                            return false;
                        }
                        if (data.color == true) {
                            $('#AlertColor').empty();
                            $('#AlertColor').append('<span class="text-danger">  @Lb["ColorRepetido"].</span>');
                            return false;
                        }
                        if (data.defecto == true) {
                            $('#AlertDefecto').empty();
                            $('#AlertDefecto').append('<span class="text-danger">  @Lb["EstadoDefectoRepetido"].</span>');
                            return false;
                        }
                        if (data.inicial == true) {
                            $('#AlertEsInicial').empty();
                            $('#AlertEsInicial').append('<span class="text-danger">  @Lb["EstadoInicialRepetido"].</span>');
                            return false;
                        }
                        if (data.final == true) {
                            $('#AlertEsFinal').empty();
                            $('#AlertEsFinal').append('<span class="text-danger">   @Lb["EstadoFinalRepetido"].</span>');
                            return false;                       
                        }

                        $('#tablaEstados').empty();

                        $('#ModalEstados').modal('hide');
                           // window.location.href = "@Url.Action("Lisar-Estados", "EstadoTarea")"; //lenin

                        if ($("#activos").css("display") == "block") {

                            $("#inactivos").css("display", "none");
                            $("#activos").css("display", "block");
                            VerInactivos("inactivos");
                        } else {
                            $("#inactivos").css("display", "block");
                            $("#activos").css("display", "none");
                            //verActivos(null);

                        }

                        return false;
                    },


                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });



            } else if (activo == false) {

                var EstadoTarea = {

                    Id: $('#Id1').val(),
                    Titulo: $('#Titulo3').val(),
                    Color: '#' + $('#Color1').val(),
                    EsDefecto: false,
                    EsInicial: false,
                    EsFinal: false,
                    Activo: activo

                };

                 $.ajax({
                      type: "POST",
                      headers: {
                          "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                      },
                      dataType: "json",
                      url: '@Url.Action("Inactivar", "EstadoTarea")',// (nombre del metodo, nombre del controlador)
                      data: { domain: EstadoTarea },

                      success: function (data) {

                          if (data.success) {

                               $('#tablaEstados').empty();
                               $('#ModalEstados').modal('hide');
                                                 
                              return false;

                           } else {
                              var msj = '@Lb["errorGeneral"]';
                              cargarAlert(msj);
                              console.log(err.statusText);
                          }

                      },
                      error: function (err, scnd) {
                         console.log(err.statusText);
                      }
                      
                  });


                console.log("editar deschequeando todo");
                return false;
            }





        }
    });



    function ValidarDatosRequeridos() {

        if ($('#Titulo3').val() == "") {
            $('#AlertTitulo3').empty();
            $('#AlertTitulo3').append('<span class="text-danger">  @Lb["tituloRequired"].   </span>');
            return false;
        }
       
        if ($('#Color1').val() == 858585) {
                $('#AlertColor').empty();
                $('#AlertColor').append('<span class="text-danger">   @Lb["ColorProhibido"].   </span>');
                return false;
        }
        
        return true;
    }

</script>
