@model AltivaWebApp.ViewModels.TrasladoViewModel
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{
    var titulo = "";

    @if (Model.IdTraslado != 0)
    {

        titulo = @Lb["editarTraslado"];

    }
    else
    {
        titulo = @Lb["nuevoTraslado"];
    }

}
<style>
    .color {
        color: #fff;
    }
</style>
<div class="row">
    <h4 class="col-md-11 col-sm-11 col-xs-11" id="trasladoModallabel">@titulo</h4>
    <div class="col-md-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
<span hidden id="existenciasCero" class="text-danger">@Lb["ExistenciaSuperada"]</span>
<hr />
<div class="container" style="overflow-y: scroll; height:40rem;">

    <div class="container" style="width:auto">
        <div class="form-row">
            <input type="hidden" asp-for="IdTraslado" class="form-control" id="IdTraslado" size="5" /> <!--   type="hidden"   -->
            <span hidden id="IdTrasladoValid" class="text-danger">@Lb["IdTrasladoValid"]</span>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 ">
                <label class="control-label">@Lb["BodegaOrigen"]:</label>
                <select id="IdBodegaOrigen" class="form-control" onChange="validarBodegaOrigenSeleccionada(value)" autofocus="autofocus">
                    <option id="option" value="">@Lb["seleccione"]</option>
                </select>
                <span hidden id="IdbodegaRequeridaValid" class="text-danger">@Lb["bodegaRequerida"]</span>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 ">
                <div class="row">
                    <fieldset>
                        <div class="form-group">
                            <label>@Lb["Fecha"]:</label>
                            <div class='input-group date' id='fechaPicker'>
                                <input type='text' class="form-control" id="fecha" min="2019-01-01" max="2019-01-01" required />
                                <span class="input-group-addon">
                                    <span class="fas fa-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-4 ">
                <label class="control-label">@Lb["BodegaDestino"]:</label>
                <select id="IdBodegaDestino" class="form-control">

                    <option id="option" value="">@Lb["seleccione"]</option>
                </select>
                <span hidden id="IdbodegaDestinoRequeridaValid" class="text-danger">@Lb["bodegaRequerida"]</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-sm-10 col-xs-10">
                <div class="input-group">
                    <div class="input-group">
                        <span id="errorExistenciaArticulo" class="text-danger">@Lb["Este articulo no existe"] </span>
                    </div>
                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-success" id="BuscarInventarioBodega" onclick="mostrarModalInventarioBodega()">@Lb["buscarInventarioBodega"]</button>
                        </span>
                        <input type="text" id="BuscarCodigoInventarioBodega" size="25" maxlength="50" class="form-control" placeholder="@Lb["buscarPorDescripcionCodigo"]">
                    </div>
                </div>
            </div>

            <div class="col-md-2 col-sm-2 col-xs-2">
                <div class="text-right">

                    <div class="row">

                        <div class="col-md-6 col-sm-6 col-xs-6">
                            <div class="input-group">
                                <br>
                                <button class="btn btn-danger btn-sm" id="Anular" onclick="anularTraslado()">@Lb["Anular"]</button>
                                <input type="hidden" value="@Model.Anulado.ToString()" id="Anulado" class="form-control" />
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="input-group">
                                    <br>
                                    <button class="btn btn-primary btn-sm" id="Pdf" onclick="crearPdfTrasladoEspecifico()">@Lb["PDF"]</button>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table class="table table-bordered" id="tablaTrasladoInventario">
                    <thead>
                        <tr>
                            <th>
                                @Lb["CodigoArticulo"]
                            </th>
                            <th>
                                @Lb["descripcion"]
                            </th>
                            <th>
                                @Lb["Cantidad"]
                            </th>

                            <th>
                                @Lb["PrecioUnitario"]
                            </th>
                            <th>
                                @Lb["CostoTotal"]
                            </th>

                            <th>
                                @Lb["accion"]
                            </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="input-group">
                    <label class="control-label">@Lb["Comentario"]:</label>
                    <textarea asp-for="Comentario" id="Comentario" rows="3" class="form-control" style="resize:none;" maxlength="200"></textarea>

                </div>
                <div class="input-group">
                    <button id="btnGuardarGeneral" class="btn btn-success" onclick="guardarTraslado()">@Lb["Guardar"] <i class="fas fa-save"></i></button>
                    <button class="btn btn-default" data-dismiss="modal" onclick="focus()">@Lb["Cancelar"]</button>
                </div>
                <div id="divTraslado">
                    <div class="input-group">
                        <label class="control-label">@Lb["fechaCreacion"]:</label>
                        <input readonly asp-for="FechaCreacion" size="12" type="text" maxlength="50" id="FechaCreacion" class="form-control" />
                    </div>
                    <div class="input-group">
                        <label class="control-label">@Lb["nombreUsuario"]:</label>
                        <input type="hidden" asp-for="IdUsuario" maxlength="50" id="IdUsuario" class="form-control" />
                        <input readonly id="IdUsuario2" size="14" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="text-right">
                    <label class="control-label">@Lb["CostoTotal"]:</label>
                    <input class="text-right colon" size="20" type="text" maxlength="50" id="CostoTraslado" />
                    <input class="text-right" size="20" type="text" maxlength="50" id="txtCostoTraslado" />
                </div>
            </div>

        </div>


    </div>
</div>





<!--  modal -->
<div class="row">
    <div class="modal fade bd-example-modal-lg" id="modalInventarioBodega" tabindex="-1" role="dialog" aria-labelledby="InventarioBodegaModallabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="exampleModalLongTitle">@Lb["InventarioBodega"]</h4>
                    <span id="error" class="text-danger">@Lb["ArticuloEnlistado"] </span>

                    <button type="button" class="close" aria-label="Close" onclick="ocultarModalInventarioBodega()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>



                <div class="modal-body">


                    <div class="row">
                        <div class="col-md-7 ">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-success">@Lb["buscar"] </button>
                                </span>
                                <input type="text" autofocus="autofocus" id="filtroBuscarInventarioBodega" class="form-control" maxlength="50" placeholder="@Lb["buscarPorDescripcionCodigo"]">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 table-responsive">
                                <table class="table table-bordered" id="tblInventarioBodega">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Lb["Id"]
                                            </th>

                                            <th>
                                                @Lb["Codigo"]
                                            </th>

                                            <th>
                                                @Lb["descripcion"]
                                            </th>

                                            <th>
                                                @Lb["existencia"]
                                            </th>

                                            <th>
                                                @Lb["PrecioUnitario"]
                                            </th>

                                            <th>
                                                @Lb["Elegir"]
                                            </th>
                                        </tr>
                                    </thead>

                                    <tbody></tbody>
                                </table>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    var arrayBodegas = [];
    var arrayInventarioBodegas = [];
    var arrayInventario = [];

    var arrayArticuloPorBodegaOrigenSeleccionada = [];
    var copiaArrayArticuloPorBodegaOrigenSeleccionada = [];

    var arrayTablaTraslado = [];
    var copiaArrayTablaTraslado = []; 

    var arrayTraslado = [];
    var arrayTrasladoInventario = [];
  
    var arrayArticulosEliminados = [];
    var arrayTablaTrasladoItemEditadosOnuevos = [];

    var fecha = $('#fecha');

    $(document).ready(function () {
        validarGuardarEditar();
        getBodegasInventario();
        if (@Model.IdTraslado != 0) {
            date = new Date(formatearFecha());
            $('#fechaPicker').datetimepicker({
                defaultDate: date,
                locale: localStorage.getItem("idioma")
            });
        } else {
            $('#fechaPicker').datetimepicker({
                defaultDate: new Date(),
                locale: localStorage.getItem("idioma")
            });
        }
        //inicializa formato de la moneda tambien aca unicamente por el input costoTotal
        $(".colon").inputmask('currency', {
            prefix: monedas[0].simbolo + " ",
            rightAlign: true
        });
        // cuando precione enter al buscador
        $('#BuscarCodigoInventarioBodega').keypress(function (e) {
            if (e.keyCode == 13)
                $('#BuscarInventarioBodega').click();
        });
    });

    function formatearFecha() {
        return '@Model.Fecha.Month' + "/" + '@Model.Fecha.Day' + "/" + '@Model.Fecha.Year' + " " + '@Model.Fecha.TimeOfDay';
    }


    function controlarEnter() {
        if (e.keyCode === 13) {
            e.preventDefault();
            enter();
        }
    }


    fecha.on('keyup', function () {
        $('#fechaPicker').datetimepicker('defaultDate', new Date());
    });


    function validarGuardarEditar(){
        if (validarModal() == true) {
            //alert('entro a guardar');
            ocultarCampos();
        } else {
           // alert('entro a editar');
            recuperarUsuario();
            mostrarOcultarCampos();
            getTraslado();
        }
    }


    function validarModal() {
        var idTraslado = $("#IdTraslado").val();
        if (idTraslado == 0) {
            return true;
        } else {
            return false;
        }
    }


    function ocultarCampos() {
        $('#divTraslado').hide();
        $('#BuscarInventarioBodega').prop("disabled", true);
        $('#CostoTraslado').prop("disabled", true);
     //   $('#txtCostoTraslado').hide();
        $('#errorExistenciaArticulo').hide(); //el mensaje del error se oculte
        $('#Anular').hide();
        $('#btnPDF').hide();
    }


    function mostrarOcultarCampos() {
        $('#divTraslado').show();
        $('#errorExistenciaArticulo').hide();
        $('#CostoTraslado').prop("disabled", true);
       // $('#txtCostoTraslado').hide();
        $('#IdBodegaDestino').prop("disabled", true);
        $('#IdBodegaOrigen').prop("disabled", true);
        $('#btnPDF').show();
        var estadoAnulado = "";
        estadoAnulado = "@Model.Anulado";
        //console.log(estadoAnulado);
        if (estadoAnulado == "False") {
           // console.log("dejar disponible el boton");
            $('#Anular').prop("disabled", false);
            $('#btnGuardar').prop("disabled", false);
        } else if (estadoAnulado == "True") {
          //  console.log("bloquear boton");
            $('#Anular').prop("disabled", true);
            $('#btnGuardar').prop("disabled", true);

        }
    }


     function getBodegasInventario() {
          $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
              url: '@Url.Action("GetBodegaInventario", "AjusteInventario")',
              success: function (data) {
                  arrayBodegas = data;
                  obtenerTablaInventarioBodega();
                  obtenerTablaInventario();
                  cargarBodegasOrigen();
                  cargarDatosTraslado(arrayTablaTraslado);//para que muestre la tabla vacia
               },
              error: function (err, scnd) {
                  cargarAlert('@Lb["errorGeneral"]');
                  console.log(err.statusText);
              }
          });
    }


    function obtenerTablaInventarioBodega() {
        for (var i = 0; i < arrayBodegas.length; i++) {
            if (arrayBodegas[i].tbPrInventarioBodega.length != 0) {
                arrayInventarioBodegas.push(arrayBodegas[i].tbPrInventarioBodega);
            }
        }
    }


    function obtenerTablaInventario() {
        var auxArrayInventarioBodegas  = [];
        for (var i = 0; i < arrayBodegas.length; i++) {
            auxArrayInventarioBodegas = arrayBodegas[i].tbPrInventarioBodega;
            for (var j = 0; j < auxArrayInventarioBodegas.length; j++) {
                arrayInventario.push(auxArrayInventarioBodegas[j].idInventarioNavigation);
            }
        }
    }


    function cargarBodegasOrigen() {
        for (var i = 0; i < arrayBodegas.length; i++) {
            if (arrayBodegas[i].tbPrInventarioBodega.length != 0) {
                var o = new Option(arrayBodegas[i].nombre, arrayBodegas[i].id);
                    if (@Model.IdBodegaOrigen == arrayBodegas[i].id) {
                        $(o).prop('selected', true);
                        validarBodegaOrigenSeleccionada(@Model.IdBodegaOrigen);
                    }
                $("#IdBodegaOrigen").append(o);
            }
        }
    }


    var array = [];
    function cargarBodegasDestino(idBodegaOrigenSeleccionada) {
        if (idBodegaOrigenSeleccionada != "") {
            array = [];
            for (var i = 0; i < arrayBodegas.length; i++) {
                var model = {
                    id: arrayBodegas[i].id,
                    nombre: arrayBodegas[i].nombre,
                };
                array.push(model);
            }
              document.getElementById('IdBodegaDestino').options.length = 0;
                for (var i = 0; i < array.length; i++)
                {
                    if ($('#IdTraslado').val() == 0) {
                        //guarda
                        if (array[i].id != idBodegaOrigenSeleccionada) {
                            var o = new Option(array[i].nombre, array[i].id);
                            $("#IdBodegaDestino").append(o);
                        }
                    } else {
                         //edita
                        var bodegaDestinoEditar = @Model.IdBodegaDestino;
                        if (array[i].id == bodegaDestinoEditar) {
                            var o = new Option(array[i].nombre, array[i].id);
                            $("#IdBodegaDestino").append(o);
                        }
                    }
                }
        }
    }



    function limpiarSelect() {
        var select = document.getElementById('IdBodegaDestino');
        while (select.length > 0) {
            select.remove(1);
        }
    }


    function validarBodegaOrigenSeleccionada(value) {
        $('#IdbodegaOrigenRequeridaValid').hide();
        $('#IdbodegaDestinoRequeridaValid').hide();
        var vacio = "";
        if (value == "") {
            ocultarCampos();
            cargarBodegasDestino(vacio);
        } else {
            $('#BuscarInventarioBodega').prop("disabled", false);
            cargarBodegasDestino(value);
            obtenerBodega(value);
            cargarDatosInventarioBodega(arrayArticuloPorBodegaOrigenSeleccionada);
         
        }
    }


    function mostrarModalInventarioBodega() {
        $('#error').hide();
        var value = $('#BuscarCodigoInventarioBodega').val().trim();
        if (value != 0) {
            buscarArticuloInventarioBodega(value);
        } else {
            $('#modalInventarioBodega').modal('show');
            $('#filtroBuscarInventarioBodega').val("");
        }
    }


    function buscarArticuloInventarioBodega(value) {
        var existeInventarioBodega = "";
        var existeTraslado = "";
        existeInventarioBodega = validarExistenciaInventarioBodega(arrayArticuloPorBodegaOrigenSeleccionada, value);
        //console.log(existeInventarioBodega);
        existeTraslado = validarExistenciaTablaTraslado(arrayTablaTraslado, value);
        if (existeInventarioBodega == true) {
            if (existeTraslado == true) {
                cargarAlert("@Lb["ArticuloEnlistado"]");
            } else {
                agregarArticuloTablaTraslado(value);
                $('#BuscarCodigoInventarioBodega').val("");
                $('#IdBodegaOrigen').prop("disabled", true);
                $('#IdBodegaDestino').prop("disabled", true);
            }
        } else {
            bootbox.alert({
                message: "@Lb["noExisteArticulo"]",
                locale: 'en'
            });
        }
    }



    function validarExistenciaInventarioBodega(array, value) {
        var respuesta = false;
        for (var i = 0; i < array.length; i++) {
            if (array[i].codigo == value || array[i].descripcion.trim() == value) {
                respuesta = true;
                break;
            }
        }
        return respuesta;
    }


    function validarExistenciaTablaTraslado(array, value) {
        var respuesta = false;
        for (var i = 0; i < array.length; i++) {
            if (array[i].codigoArticulo == value || array[i].descripcion.trim() == value) {
                respuesta = true;
                break;
            }
        }
        return respuesta;
    }


    function agregarArticuloTablaTraslado(value) {
        for (var i = 0; i < arrayArticuloPorBodegaOrigenSeleccionada.length; i++) {
            if (arrayArticuloPorBodegaOrigenSeleccionada[i].codigo == value || arrayArticuloPorBodegaOrigenSeleccionada[i].descripcion.trim() == value ) {
                var objEncontrado = {
                    id: 0,
                    idTraslado: @Model.IdTraslado,
                    idInventario: arrayArticuloPorBodegaOrigenSeleccionada[i].idInventario,
                    codigoArticulo: arrayArticuloPorBodegaOrigenSeleccionada[i].codigo,
                    descripcion: arrayArticuloPorBodegaOrigenSeleccionada[i].descripcion,
                    cantidad: 1,
                    precioUnitario: arrayArticuloPorBodegaOrigenSeleccionada[i].costoPromedioBodega,
                    costoTotal: arrayArticuloPorBodegaOrigenSeleccionada[i].costoPromedioBodega,
                    existenciaBodega: arrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega
                };
            }
        }
        arrayTablaTraslado.push(objEncontrado);
        cargarDatosTraslado(arrayTablaTraslado);
    }


    function ocultarModalInventarioBodega() {
        $('#modalInventarioBodega').modal('hide');
        if (arrayTablaTraslado.length == 0) {
            $('#IdBodegaOrigen').prop("disabled", false);
            $('#IdBodegaDestino').prop("disabled", false);
            } else {
                $('#IdBodegaOrigen').prop("disabled", true);
                $('#IdBodegaDestino').prop("disabled", true);
            }
    }


    function obtenerBodega(value) {
        for (var i = 0; i < arrayBodegas.length; i++) {
            if (value == arrayBodegas[i].id) {
                obtenerArticulosPorBodega(arrayBodegas[i].tbPrInventarioBodega);
                break;
            }
        }
    }


    function obtenerArticulosPorBodega(array) {
        var ib = array;
        arrayArticuloPorBodegaOrigenSeleccionada = [];
        copiaArrayArticuloPorBodegaOrigenSeleccionada = [];

        for (var i = 0; i < ib.length; i++) {
            if (ib[i].existenciaBodega > 0) {

                var model = {
                    idInventario: ib[i].idInventarioNavigation.idInventario,
                    codigo: ib[i].idInventarioNavigation.codigo,
                    descripcion: ib[i].idInventarioNavigation.descripcion,
                    existenciaBodega: ib[i].existenciaBodega,
                    costoPromedioBodega: ib[i].costoPromedioBodega,
                    idInventarioBodega: ib[i].id
                };

                var modelCopia = {
                    idInventario: ib[i].idInventarioNavigation.idInventario,
                    codigo: ib[i].idInventarioNavigation.codigo,
                    descripcion: ib[i].idInventarioNavigation.descripcion,
                    existenciaBodega: ib[i].existenciaBodega,
                    costoPromedioBodega: ib[i].costoPromedioBodega,
                    idInventarioBodega: ib[i].id
                };

                arrayArticuloPorBodegaOrigenSeleccionada.push(model);
                copiaArrayArticuloPorBodegaOrigenSeleccionada.push(modelCopia);
                
              
            }
        }
    }


    function cargarDatosInventarioBodega(arrayArticuloPorBodegaOrigenSeleccionada) {
        var contadorFila = 0;
        $("#tblInventarioBodega > tbody").remove();
        $('#tblInventarioBodega').append('<tbody></tbody>');
        for (var i = 0; i < arrayArticuloPorBodegaOrigenSeleccionada.length; i++) {
                var body = '<tr class="fila' + contadorFila + ' filas">'
                    + '<td id="idInventario"><p style="padding-top:1rem">' + arrayArticuloPorBodegaOrigenSeleccionada[i].idInventario + '</p></td>'
                    + '<td id="codigo" ><p style="padding-top:1rem">' + arrayArticuloPorBodegaOrigenSeleccionada[i].codigo + '</p></td>'
                    + '<td id="descripcion" ><p style="padding-top:1rem">' + arrayArticuloPorBodegaOrigenSeleccionada[i].descripcion + '</p></td>'
                    + '<td id="existenciaBodega" ><p style="padding-top:1rem">' + arrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega + '</p></td>'
                    + '<td id="costoPromedioBodega"><p style="padding-top:1rem" class="colon">' + arrayArticuloPorBodegaOrigenSeleccionada[i].costoPromedioBodega + '</p></td>'
                    + '<td>  <button value="' + contadorFila + '" onclick="capturar(value)" class="btn btn-link btnEditar"><i class="fas fa-plus"></i>';
                $('#tblInventarioBodega > tbody').append(body);
                contadorFila++;
        }
        $(".colon").inputmask('currency', {
            prefix: monedas[0].simbolo + " ",
            rightAlign: true
        });
        inicializarTablaInventarioBodega();
    }


    function inicializarTablaInventarioBodega() {
        $('#tblInventarioBodega').DataTable().destroy();
        tblInventarioBodega = $('#tblInventarioBodega').DataTable({
            "info": false,
            "iDisplayLength": 5,//Paginación
            "order": [[0, "desc"]],
            paging: true,
            language: {
                "decimal": "",
                "emptyTable": "@Lb["NoDatos"]",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "@Lb["Mostrar"] _MENU_ @Lb["Entradas"]",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "<i class='fas fa-search'></i>",
                "zeroRecords": "@Lb["sinResultados"]",
                 "paginate": {
                    "first": "@Lb["Primero"]",
                    "last": "@Lb["Último"]",
                    "next": "@Lb["Sguiente"]",
                    "previous": "@Lb["Anterior"]"
                }
            },
        });
        $(".dataTables_searching").hide();
    }



    $("#filtroBuscarInventarioBodega").on("keyup", function () {
        buscarPorNombre(this.value)
    });


    function buscarPorNombre(nombre) {
        tblInventarioBodega
            .columns(2)
            .search(nombre)
            .draw();
    }


    function capturar(pos) {
        var obj = "";
        obj = arrayArticuloPorBodegaOrigenSeleccionada[pos];
        var model = {
            id: 0,
            idTraslado: @Model.IdTraslado,
            idInventario: obj.idInventario,
            codigoArticulo: obj.codigo,
            descripcion: obj.descripcion,
            cantidad: 0,
            precioUnitario: obj.costoPromedioBodega,
            costoTotal: obj.costoPromedioBodega,
            existenciaBodega: obj.existenciaBodega
        };
        if (!existeItem(arrayTablaTraslado, model.idInventario)) {

            arrayTablaTraslado.push(model);
            arrayTablaTraslado = arrayTablaTraslado.reverse();
            cargarDatosTraslado(arrayTablaTraslado);
            agregarNuevoArticulo2(obj); //en caso de que edite
            ocultarModalInventarioBodega();
        } else
            $('#error').show();
    }


    function existeItem(array, idInventario) {
        var flag = false;
        for (var i = 0; i < array.length; i++) {
            if (array[i].idInventario == idInventario) {
                flag = true;
                break;
            }
        }
        return flag;
    }


    function pasarSigCampo(e, id) {
        id = "txtCostoTotal" + id;
        (e.keyCode) ? k = e.keyCode : k = e.which;
        if (k == 13) {
            document.getElementById(id).focus();
            document.getElementById(id).select();
        }
    }


    function soloNumeros(e) {
        var key = window.Event ? e.which : e.keyCode
        return (key >= 48 && key <= 57)
    }


    var estaAnulado = "";
    function cargarDatosTraslado(arrayTablaTraslado) {
        calcularCostoTraslado();
        var contadorFila = 0;
        $("#tablaTrasladoInventario > tbody").remove();
        $('#tablaTrasladoInventario').append('<tbody></tbody>');
        for (var i = 0; i < arrayTablaTraslado.length; i++) {
            var body = '<tr class="fila' + contadorFila + ' filas">'
                + '<td style="width:17%"><p style="padding-top:1rem">' + arrayTablaTraslado[i].codigoArticulo + '</p></td>'
                + '<td><p style="padding-top:1rem">' + arrayTablaTraslado[i].descripcion + '</p></td>'
                + '<td> <input type="number" style = "width:100%" id="' + contadorFila + '" class="form-control numerico" maxlength="10" value="' + arrayTablaTraslado[i].cantidad + '" onChange="calcular(value,' + contadorFila + ', ' + arrayTablaTraslado[i].idInventario + ' )"  min="1" pattern="^[0-9]+"  onkeyup="pasarSigCampo(event,' + contadorFila + ')"  readonly />             <input type="hidden" id="txtCantidadEntrante" class="form-control numerico" maxlength="10" value="' + arrayTablaTraslado[i].cantidad + '" />        </td>'
                + '<td style="width:17%"><p style="padding-top:1rem" class="colon">' + arrayTablaTraslado[i].precioUnitario + '</p></td>'
                + '<td style="width:20%"> <input type="text" style="width:100%" id="txtCostoTotal' + contadorFila + '" class="form-control colon" maxlength="50" size="10" value="' + arrayTablaTraslado[i].costoTotal + '" readonly />                           <input style="width:100%" type="hidden" id="txtCosto' + contadorFila + '" class="form-control" maxlength="50" size="10" value="' + arrayTablaTraslado[i].costoTotal + '"/>    </td>'
                + '<td style="width:15%"> <button id="btGuardarLinea' + contadorFila + '" value="' + contadorFila + '" onclick="editar(value)" class="btn btn-link btnEditar"><i class="fas fa-edit"></i></button>      <button onclick="eliminar(' + contadorFila + ', ' + arrayTablaTraslado[i].idInventario + ' )" class="btn btn-link btnEditar"><i class="fas fa-trash"></i></button>';
            $('#tablaTrasladoInventario > tbody').append(body);
            contadorFila++;
        }
        //inicializa formato de la moneda tambien aca
        $(".colon").inputmask('currency', {
            prefix: monedas[0].simbolo + " ",
            rightAlign: true
        });
        $(".numerico").inputmask({
            'alias': 'decimal',
            rightAlign: false,
            min: 0
        });
        inicializarTablaTraslado();
    }


    function inicializarTablaTraslado() {
        $('#tablaTrasladoInventario').DataTable().destroy();
        tablaTrasladoInventario = $('#tablaTrasladoInventario').DataTable({
            "info": false,
            "iDisplayLength": 10,
            //"order": [[0, "desc"]],
            'ordering': false,
            paging: true,
            language: {
                "decimal": "",
                "emptyTable": "@Lb["NoDatos"]",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "@Lb["Mostrar"] _MENU_ @Lb["Entradas"]",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "<i class='fas fa-search'></i>",
                "zeroRecords": "@Lb["sinResultados"]",
                "paginate": {
                    "first": "@Lb["Primero"]",
                    "last": "@Lb["Último"]",
                    "next": "@Lb["Sguiente"]",
                    "previous": "@Lb["Anterior"]"
                }
            },
        });
        $(".dataTables_searching").hide();
    }


    function editar(pos) {
        desbloquearCantidad(pos);
    }


    function desbloquearCantidad(pos) {
        $('#' + pos).prop("readonly", false);
    }



    function obtenerCantidadEntranteDeArticuloPorBodegaOrigenSeleccionada(idInventario) {
           
        var cantidadEntrante = 0;
        try {
            for (var j = 0; j < copiaArrayTablaTraslado.length; j++) {
                if (copiaArrayTablaTraslado[j].idInventario == idInventario) {
                    cantidadEntrante = copiaArrayTablaTraslado[j].cantidad;

                    if (cantidadEntrante > 0) {
                        return cantidadEntrante;
                        break;
                    }
                }
            }
        } catch (e) {
            return cantidadEntrante;
        }
    }


    function validarArticuloEditado(idInventario) {
        var flag = false;
        for (var i = 0; i < arrayTablaTraslado.length; i++) {
            if (arrayTablaTraslado[i].idInventario == idInventario && arrayTablaTraslado[i].id == 0) {
                flag = true;
                break;
            }
        }
        return flag;

    }

    function obtenerCantidadCopiaArrayTablaTraslado(idInventario) {
      
        var cantidadEntranteReal = 0;
        try {

            for (var j = 0; j < copiaArrayTablaTraslado.length; j++) {
                if (copiaArrayTablaTraslado[j].idInventario == idInventario) {
                  var cantidadEntranteReal = copiaArrayTablaTraslado[j].cantidad;               
                        return cantidadEntranteReal;
                        break;                  
                }
            }

        } catch (e) {

            return cantidadEntranteReal;
        }

    }




    function calcular(cantidadModificada, pos, idInventario) {

  

        var precioUnitario = 0;
        if (@Model.IdTraslado == 0) {

            if (cantidadModificada > arrayTablaTraslado[pos].existenciaBodega) { // si la cantidad dijitada es mayor que la que se encuentra en esa bodega

                var existenciaBodega = arrayTablaTraslado[pos].existenciaBodega;
                //console.log("entro 1");
                cargarAlert("@Lb["ExistenciaSuperada"]");
                $('#' + pos).val(1);
                $('#' + pos).prop("readonly", true);
                precioUnitario = arrayTablaTraslado[pos].precioUnitario;
                costo = precioUnitario * 1;
                $('#txtCostoTotal' + pos).val(costo);
                $('#txtCosto' + pos).val(costo);
                calcularCostoTotal(1, pos);
                actualizarArticuloPorBodegaOrigenSeleccionadaGuarda(1, cantidadModificada, idInventario);

            } else if (cantidadModificada <= 0) {

                //console.log("entro 2");               
                $('#' + pos).val(1);
                $('#' + pos).prop("readonly", true);
                precioUnitario = arrayTablaTraslado[pos].precioUnitario;
                costo = precioUnitario * 1;
                $('#txtCostoTotal' + pos).val(costo);
                $('#txtCosto' + pos).val(costo);
                calcularCostoTotal(1, pos);
                actualizarArticuloPorBodegaOrigenSeleccionadaGuarda(0, cantidadModificada, idInventario);


            } else {

                //console.log("entro 3");
                precioUnitario = arrayTablaTraslado[pos].precioUnitario;
                costo = precioUnitario * cantidadModificada;
                $('#txtCostoTotal' + pos).val(costo);
                $('#txtCosto' + pos).val(costo);
                $('#' + pos).prop("readonly", true);
                calcularCostoTotal(cantidadModificada, pos);
                actualizarArticuloPorBodegaOrigenSeleccionadaGuarda(0, cantidadModificada, idInventario);

            }


        } else {
            $('#existenciasCero').hide();
            var existenciaOriginal = 0;
            var existenciaBodega = 0;
            var nuevoOeditado = "";

            //console.log("arrayTablaTraslado: ");
            //console.log(arrayTablaTraslado);
            //console.log("copia: ");
            //console.log(copiaArrayTablaTraslado);
            //console.log("arrayArticuloPorBodegaOrigenSele: ");
            //console.log(arrayArticuloPorBodegaOrigenSeleccionada);
            //console.log("copia: ");
            //console.log(copiaArrayArticuloPorBodegaOrigenSeleccionada);


            var existenciaBodega = obtenerExistenciasDeArticuloPorBodegaOrigenSeleccionada(idInventario); // copia
            var cantidadEntrante = obtenerCantidadEntranteDeArticuloPorBodegaOrigenSeleccionada(idInventario);// copia
            var nuevoOeditado = validarArticuloEditado(idInventario);

            //console.log("cantidad modificada: " + cantidadModificada);   
            //console.log("idInventario: " + idInventario);                                
            //console.log("cantidad entrante: " + cantidadEntrante);                                                  
            existenciaOriginal = parseInt(existenciaBodega) + parseInt(cantidadEntrante);
            //console.log("existencia original: " + existenciaOriginal);
            //console.log("existencia bodega: " + existenciaBodega);


            if (existenciaBodega > 0) {

                                if (nuevoOeditado == true) {
                                    //console.log("nuevo");

                                    if (cantidadModificada > existenciaBodega) {

                                        //console.log("entro 4");
                                        cargarAlert("@Lb["ExistenciaSuperada"]");
                                        $('#' + pos).val(1);
                                        $('#' + pos).prop("readonly", true);
                                        precioUnitario = arrayTablaTraslado[pos].precioUnitario;
                                        costo = precioUnitario * 1;
                                        $('#txtCostoTotal' + pos).val(costo);
                                        $('#txtCosto' + pos).val(costo);
                                        calcularCostoTotal(1, pos);
                                        actualizarArticuloPorBodegaOrigenSeleccionadaGuarda(1, cantidadModificada, idInventario);


                                    } else if (cantidadModificada <= 0) {

                                        //console.log("entro 5");
                                        $('#' + pos).val(1);
                                        $('#' + pos).prop("readonly", true);
                                        precioUnitario = arrayTablaTraslado[pos].precioUnitario;
                                        costo = precioUnitario * 1;
                                        $('#txtCostoTotal' + pos).val(costo);
                                        $('#txtCosto' + pos).val(costo);
                                        calcularCostoTotal(1, pos);
                                        actualizarArticuloPorBodegaOrigenSeleccionadaGuarda(0, cantidadModificada, idInventario);


                                    } else {

                                        //console.log("entro 6");

                                        precioUnitario = arrayTablaTraslado[pos].precioUnitario;
                                        costo = precioUnitario * cantidadModificada;
                                        $('#txtCostoTotal' + pos).val(costo);
                                        $('#txtCosto' + pos).val(costo);
                                        $('#' + pos).prop("readonly", true);
                                        calcularCostoTotal(cantidadModificada, pos);
                                        capturarArticulosPorCantidadesEditadas(pos);
                                        actualizarArticuloPorBodegaOrigenSeleccionadaGuarda(0, cantidadModificada, idInventario);

                                    }


                                } else {
                                    //console.log("edito");

                                    if (cantidadModificada > existenciaOriginal) {

                                        console.log("entro 7");
                                        cargarAlert("@Lb["ExistenciaSuperada"]");
                                        $('#' + pos).val(1);
                                        $('#' + pos).prop("readonly", true);
                                        precioUnitario = arrayTablaTraslado[pos].precioUnitario;
                                        costo = precioUnitario * 1;
                                        $('#txtCostoTotal' + pos).val(costo);
                                        $('#txtCosto' + pos).val(costo);
                                        calcularCostoTotal(1, pos);
                                        capturarArticulosPorCantidadesEditadas(pos);
                                        actualizarArticuloPorBodegaOrigenSeleccionadaEdita(cantidadModificada, idInventario, cantidadEntrante, existenciaOriginal, existenciaBodega);


                                    } else if (cantidadModificada <= 0) {
                                       // console.log("entro 8");

                                        $('#' + pos).val(1);
                                        $('#' + pos).prop("readonly", true);
                                        precioUnitario = arrayTablaTraslado[pos].precioUnitario;
                                        costo = precioUnitario * 1;
                                        $('#txtCostoTotal' + pos).val(costo);
                                        $('#txtCosto' + pos).val(costo);
                                        calcularCostoTotal(1, pos);
                                        capturarArticulosPorCantidadesEditadas(pos);
                                        actualizarArticuloPorBodegaOrigenSeleccionadaEdita(cantidadModificada, idInventario, cantidadEntrante, existenciaOriginal, existenciaBodega);


                                    } else {
                                        //console.log("entro 9");

                                        precioUnitario = arrayTablaTraslado[pos].precioUnitario;
                                        costo = precioUnitario * cantidadModificada;
                                        $('#txtCostoTotal' + pos).val(costo);
                                        $('#txtCosto' + pos).val(costo);
                                        $('#' + pos).prop("readonly", true);
                                        calcularCostoTotal(cantidadModificada, pos);
                                        capturarArticulosPorCantidadesEditadas(pos);
                                        actualizarArticuloPorBodegaOrigenSeleccionadaEdita(cantidadModificada, idInventario, cantidadEntrante, existenciaOriginal, existenciaBodega);

                                    }
                                }

            } else if (existenciaBodega = 'undefined') {

                $('#existenciasCero').show();
                $('#' + pos).val(cantidadEntrante);
                $('#' + pos).prop("readonly", true);
              
            }
        }
    }
    


    function actualizarArticuloPorBodegaOrigenSeleccionadaEdita(cantidadModificada, idInventario, cantidadEntrante, existenciaOriginal, existenciaBodega) {

        //console.log("arrayTablaTraslado: ");
        //console.log(arrayTablaTraslado);
        //console.log("copia: ");
        //console.log(copiaArrayTablaTraslado);
        //console.log("arrayArticuloPorBodegaOrigenSele: ");
        //console.log(arrayArticuloPorBodegaOrigenSeleccionada);
        //console.log("copia: ");
        //console.log(copiaArrayArticuloPorBodegaOrigenSeleccionada);
        //console.log("cantidad modificada: " + cantidadModificada);   
        //console.log("idInventario: " + idInventario);                                
        //console.log("cantidad entrante: " + cantidadEntrante);                                                  
        //console.log("existencia original: " + existenciaOriginal);
        //console.log("existencia bodega: " + existenciaBodega);

        if (cantidadModificada > existenciaOriginal) {
            console.log("entro 7.1");

            for (var i = 0; i < copiaArrayArticuloPorBodegaOrigenSeleccionada.length; i++) {
                for (var j = 0; j < arrayArticuloPorBodegaOrigenSeleccionada.length; j++) {
                    if (copiaArrayArticuloPorBodegaOrigenSeleccionada[i].idInventario == idInventario && arrayArticuloPorBodegaOrigenSeleccionada[j].idInventario == idInventario) { // si coincide en el original y en el especifico

                        existenciaOriginal = existenciaOriginal - 1
                        arrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega = existenciaOriginal;
                        cargarDatosInventarioBodega(arrayArticuloPorBodegaOrigenSeleccionada);

                    }
                }
            }



        } else if (cantidadModificada <= 0) {
            console.log("entro 8.1");

            for (var i = 0; i < copiaArrayArticuloPorBodegaOrigenSeleccionada.length; i++) {
                for (var j = 0; j < arrayArticuloPorBodegaOrigenSeleccionada.length; j++) {
                    if (copiaArrayArticuloPorBodegaOrigenSeleccionada[i].idInventario == idInventario && arrayArticuloPorBodegaOrigenSeleccionada[j].idInventario == idInventario) { // si coincide en el original y en el especifico

                        existenciaOriginal = existenciaOriginal - 1
                        arrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega = existenciaOriginal;
                        cargarDatosInventarioBodega(arrayArticuloPorBodegaOrigenSeleccionada);

                    }
                }
            }


        } else {

            console.log("entro 9.1");

            for (var i = 0; i < copiaArrayArticuloPorBodegaOrigenSeleccionada.length; i++) {
                for (var j = 0; j < arrayArticuloPorBodegaOrigenSeleccionada.length; j++) {
                    if (copiaArrayArticuloPorBodegaOrigenSeleccionada[i].idInventario == idInventario && arrayArticuloPorBodegaOrigenSeleccionada[j].idInventario == idInventario) { // si coincide en el original y en el especifico

                        existenciaOriginal = existenciaOriginal - cantidadModificada;
                        arrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega = existenciaOriginal;
                        cargarDatosInventarioBodega(arrayArticuloPorBodegaOrigenSeleccionada);

                    }
                }
            }

        }

    }






   
    function actualizarArticuloPorBodegaOrigenSeleccionadaGuarda(superada, cantidadModificada, idInventario) {

          //console.log(arrayArticuloPorBodegaOrigenSeleccionada);
          //console.log(copiaArrayArticuloPorBodegaOrigenSeleccionada);
          //console.log("superada: " + superada);
          //console.log("cant modificada: " + cantidadModificada);
          //console.log("idInventario: " + idInventario); 
         
        
        var copiaExistenciaBodega = 0;
        var existenciaBodega = 0;
        var diferencia = 0
        var resultado = 0;


        if (superada == 1) { // lo escrito por el usuario supero a lo existente en bodega.

                    for (var i = 0; i < copiaArrayArticuloPorBodegaOrigenSeleccionada.length; i++) {
                        for (var j = 0; j < arrayArticuloPorBodegaOrigenSeleccionada.length; j++) {
                            if (copiaArrayArticuloPorBodegaOrigenSeleccionada[i].idInventario == idInventario && arrayArticuloPorBodegaOrigenSeleccionada[j].idInventario == idInventario) { 
                             
                                copiaExistenciaBodega = copiaArrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega;                              
                                resultado = copiaExistenciaBodega - 1;
                                console.log(resultado);
                                arrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega = resultado;
                                cargarDatosInventarioBodega(arrayArticuloPorBodegaOrigenSeleccionada);

                            }
                        }
                    }

        } else if (cantidadModificada <= 0) { // lo escrito por el usuario fue en negativo o en cero
          

                    for (var i = 0; i < copiaArrayArticuloPorBodegaOrigenSeleccionada.length; i++) {
                        for (var j = 0; j < arrayArticuloPorBodegaOrigenSeleccionada.length; j++) {
                            if (copiaArrayArticuloPorBodegaOrigenSeleccionada[i].idInventario == idInventario && arrayArticuloPorBodegaOrigenSeleccionada[j].idInventario == idInventario) { 

                                copiaExistenciaBodega = copiaArrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega;
                                resultado = copiaExistenciaBodega - 1;
                                console.log(resultado);
                                arrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega = resultado;
                                cargarDatosInventarioBodega(arrayArticuloPorBodegaOrigenSeleccionada);

                            }
                        }
                    }

        } else { // lo escrito por el usuario fue correpto
        
                    for (var i = 0; i < copiaArrayArticuloPorBodegaOrigenSeleccionada.length; i++) {
                        for (var j = 0; j < arrayArticuloPorBodegaOrigenSeleccionada.length; j++) {
                            if (copiaArrayArticuloPorBodegaOrigenSeleccionada[i].idInventario == idInventario && arrayArticuloPorBodegaOrigenSeleccionada[j].idInventario == idInventario) { 

                                copiaExistenciaBodega = copiaArrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega;
                                resultado = copiaExistenciaBodega - cantidadModificada;
                                console.log(resultado);
                                arrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega = resultado;
                                cargarDatosInventarioBodega(arrayArticuloPorBodegaOrigenSeleccionada);

                            }
                        }
                    }
        
               } 
    }





    //----------------------------------------------------------------------------------------------------------

    function validarTamnoArrayArticuloPorBodegaOrigenSeleccionada() {

        // valida si la tabla esta totalmente vacia
        if (arrayArticuloPorBodegaOrigenSeleccionada.length == 0) {
            resp = true;
            return resp;
        } else {
            resp = false;
            return resp;
        }

    }


    function validarExistenciaDeArticulo(id) {

        var resp = false;
        try {

            for (var i = 0; arrayArticuloPorBodegaOrigenSeleccionada.length; i++) {
                if (arrayArticuloPorBodegaOrigenSeleccionada[j].idInventario == id) {
                    resp = true;
                    return resp;
                    break;
                }
            }

        } catch (e) {
            resp = false;
            return resp;
        }

    }


    function obtenerExistenciasDeArticuloPorBodegaOrigenSeleccionada(id) {

        var existenciaBodega = 0;
        try {

            for (var j = 0; j < copiaArrayArticuloPorBodegaOrigenSeleccionada.length; j++) {
                if (copiaArrayArticuloPorBodegaOrigenSeleccionada[j].idInventario == id) {
                    existenciaBodega = copiaArrayArticuloPorBodegaOrigenSeleccionada[j].existenciaBodega;

                      if (existenciaBodega > 0) {
                          return existenciaBodega;
                          break;
                      }
                  }
            }

        } catch (e) {

            return existenciaBodega ;
        }

    }





    //----------------------------------------------------------------------------------------------------------



    function calcularCostoTraslado() {
        var sumatoria = 0;
        for (var i = 0; i < arrayTablaTraslado.length; i++) {
            sumatoria += parseFloat(arrayTablaTraslado[i].costoTotal);
        }
        $("#CostoTraslado").val("");
        $("#CostoTraslado").val(sumatoria);
        $("#txtCostoTraslado").val(sumatoria);
    }



    function calcularCostoTotal(cantidad, pos) {
        var nuevoPrecioUnitario = 0;
        nuevoPrecioUnitario = $('#txtCosto' + pos).val();
        for (var i = 0; i < arrayTablaTraslado.length; i++) {
             arrayTablaTraslado[pos].cantidad = parseFloat(cantidad);
             arrayTablaTraslado[pos].costoTotal = parseFloat(nuevoPrecioUnitario);
        }
        calcularCostoTraslado();
    }



    function eliminar(pos, idInventario) {


        devolverArticuloPorBodegaOrigenSeleccionada(idInventario);

        //eliminar en ambos
        var elementoEliminado = arrayTablaTraslado.splice(pos, 1);
        //copiaArrayTablaTraslado.splice(pos, 1);
       

        for (var i = 0; i < arrayTablaTrasladoItemEditadosOnuevos.length; i++) {
            if (arrayTablaTrasladoItemEditadosOnuevos[i].idInventario == elementoEliminado[0].idInventario) {
                arrayTablaTrasladoItemEditadosOnuevos.splice(i, 1);
            }
        }

        cargarDatosTraslado(arrayTablaTraslado);
        calcularCostoTraslado();   
      
        bloquearCampos();

        if (elementoEliminado[0].id != 0) {
            insertarArticuloEliminado(elementoEliminado);
        }



        // console.log("arrayTablaTraslado: ");
        // console.log(arrayTablaTraslado);
        // console.log("copia: ");
        // console.log(copiaArrayTablaTraslado);



    }



    function insertarArticuloEliminado(elementoEliminado) {
        var num = elementoEliminado[0].id;
        arrayArticulosEliminados.push(num);
    }



    function bloquearCampos() {
        if ($('#IdTraslado').val() == 0 && arrayTablaTraslado.length == 0) {
            $('#IdBodegaOrigen').prop("disabled", false);
            $('#IdBodegaDestino').prop("disabled", false);
        } else {
            $('#IdBodegaOrigen').prop("disabled", true);
            $('#IdBodegaDestino').prop("disabled", true);
        }
    }


    function devolverArticuloPorBodegaOrigenSeleccionada(idInventario) {

    
        if (@Model.IdTraslado == 0) {
            console.log("entro a eliminar guarda ");
            for (var i = 0; i < copiaArrayArticuloPorBodegaOrigenSeleccionada.length; i++) {
                for (var j = 0; j < arrayArticuloPorBodegaOrigenSeleccionada.length; j++) {
                    if (copiaArrayArticuloPorBodegaOrigenSeleccionada[i].idInventario == idInventario && arrayArticuloPorBodegaOrigenSeleccionada[j].idInventario == idInventario) { 

                        existenciaBodega = copiaArrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega;
                        arrayArticuloPorBodegaOrigenSeleccionada[j].existenciaBodega = existenciaBodega;
                        cargarDatosInventarioBodega(arrayArticuloPorBodegaOrigenSeleccionada);

                    }
                }
            }

        } else {

            console.log("entro a eliminar edita");    

            var cantidadEntrante = obtenerCantidadEntranteDeArticuloPorBodegaOrigenSeleccionada(idInventario);// copia
            var existenciaBodega = obtenerExistenciasDeArticuloPorBodegaOrigenSeleccionada(idInventario); // copia
            var existenciaOriginal = parseFloat(cantidadEntrante) + parseInt(existenciaBodega);

            if (cantidadEntrante == undefined) { // cuando el item fue agregado como nuevo se edito y luego se quito 
                console.log("entro aca");

                for (var i = 0; i < copiaArrayArticuloPorBodegaOrigenSeleccionada.length; i++) {
                    for (var j = 0; j < arrayArticuloPorBodegaOrigenSeleccionada.length; j++) {
                        if (copiaArrayArticuloPorBodegaOrigenSeleccionada[i].idInventario == idInventario && arrayArticuloPorBodegaOrigenSeleccionada[j].idInventario == idInventario) { 

                            existenciaBodega = copiaArrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega;
                            arrayArticuloPorBodegaOrigenSeleccionada[j].existenciaBodega = existenciaBodega;
                            cargarDatosInventarioBodega(arrayArticuloPorBodegaOrigenSeleccionada);

                        }
                    }
                }


            } else {

                        for (var i = 0; i < copiaArrayArticuloPorBodegaOrigenSeleccionada.length; i++) {
                            for (var j = 0; j < arrayArticuloPorBodegaOrigenSeleccionada.length; j++) {
                                if (copiaArrayArticuloPorBodegaOrigenSeleccionada[i].idInventario == idInventario && arrayArticuloPorBodegaOrigenSeleccionada[j].idInventario == idInventario) { 

                                    arrayArticuloPorBodegaOrigenSeleccionada[j].existenciaBodega = existenciaOriginal;
                                    copiaArrayArticuloPorBodegaOrigenSeleccionada[i].existenciaBodega = existenciaOriginal; 
                                    cargarDatosInventarioBodega(arrayArticuloPorBodegaOrigenSeleccionada);


                                }
                            }
                        }

            }

           
        }


        console.log("arrayTablaTraslado: ");
        console.log(arrayTablaTraslado);
        console.log("copia: ");
        console.log(copiaArrayTablaTraslado);
        console.log("arrayArticuloPorBodegaOrigenSele: ");
        console.log(arrayArticuloPorBodegaOrigenSeleccionada);
        console.log("copia: ");
        console.log(copiaArrayArticuloPorBodegaOrigenSeleccionada);
        console.log("cantidadEntrante: " + cantidadEntrante);
        console.log("existenciaBodega: " + existenciaBodega);

    }


    //------------------------------------------------------------------------------------------------------------------------


    function guardarTraslado() {




       if (validarGuardaEditar() == false) {
           // console.log("edita");
            if (validarTablaTrasladoNoEsteVacia() == false) {
                if (validarCantidadesItemAgregados() == false) {

                    prepararEnvioDetalleedita();

                            $.ajax({
                                type: "POST",
                                headers: {
                                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                                },
                                dataType: "json",
                                url: '@Url.Action("CrearEditarTraslado", "Traslado")',
                                data: { traslado: crearModelo(), inventarioTraslado: arrayTrasladoInventario, eliminados: arrayArticulosEliminados },
                                success: function (data) {
                                    if (data.success) {
                                        $('#modalTraslado').modal('hide');
                                        getTrasladosGeneral();
                                    }
                                    else
                                        cargarAlert("@Lb["errorDuplicacion"]");

                                },
                                error: function (err, scnd) {
                                    console.log(err);
                                    if (err.responseJSON.rollback == true)
                                        cargarAlert('@Lb["existenciasNegativas"].');
                                     $('#modalTraslado').modal('show');

                                }
                            });
                } else {
                     $('#modalTraslado').modal('show');
                     cargarAlert('@Lb["Item con cantidades en cero"]');
                    }
            } else {
                $('#modalTraslado').modal('show');
                cargarAlert('@Lb["TablaVacia"]');
                  }
        } else {
               if (validarSelectBodegaOrigen() == false) {
                   if (validarTablaTrasladoNoEsteVacia() == false) {
                       if (validarCantidadesItemAgregados() == false) {

                           prepararEnvioDetalleGuarda();

                            $.ajax({
                                type: "POST",
                                headers: {
                                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                                },
                                dataType: "json",
                                url: '@Url.Action("CrearEditarTraslado", "Traslado")',
                                data: { traslado: crearModelo(), inventarioTraslado: arrayTrasladoInventario, eliminados: arrayArticulosEliminados },
                                success: function (data) {
                                    if (data.success) {
                                        $('#modalTraslado').modal('hide');
                                        getTrasladosGeneral();
                                    }
                                    else
                                        cargarAlert("@Lb["errorDuplicacion"]");

                                },
                                error: function (err, scnd) {
                                    console.log(err);
                                    if (err.responseJSON.rollback == true)
                                        cargarAlert('@Lb["existenciasNegativas"].');
                                     $('#modalTraslado').modal('show');

                                }
                           });
                       } else {
                            $('#modalTraslado').modal('show');
                            cargarAlert('@Lb["ItemsConCatidadesEnCero"].');
                       }
                        }else {
                         $('#modalTraslado').modal('show');
                         cargarAlert('@Lb["TablaVacia"]');
                        }
            }else {
                $('#modalTraslado').modal('show');
                   $('#IdbodegaOrigenRequeridaValid').show();
                   $('#IdbodegaDestinoRequeridaValid').hide();
                   if (validarSelectBodegaDestino() == true) {$('#IdbodegaDestinoRequeridaValid').show();}
            }
        }
    }



    function prepararEnvioDetalleGuarda() {

        for (var i = 0; i < arrayTablaTraslado.length; i++) {

            var detalles = {

                id: 0,
                idTraslado: 0,
                idInventario: arrayTablaTraslado[i].idInventario,
                codigoArticulo: arrayTablaTraslado[i].codigoArticulo,
                descripcion: arrayTablaTraslado[i].descripcion,
                cantidad: arrayTablaTraslado[i].cantidad.toString().replace(".", ","),
                precioUnitario: arrayTablaTraslado[i].precioUnitario.toString().replace(".", ","),
                costoTotal: arrayTablaTraslado[i].costoTotal.toString().replace(".", ",")

            };

            arrayTrasladoInventario.push(detalles);
        }

       // console.log(arrayTrasladoInventario);
    }



    function prepararEnvioDetalleedita() {

        //console.log(arrayTablaTraslado);
        //console.log(arrayTablaTrasladoItemEditadosOnuevos);
        //console.log(arrayTrasladoInventario);

        for (var i = 0; i < arrayTablaTrasladoItemEditadosOnuevos.length; i++) {

            var detalles = {

                id: arrayTablaTrasladoItemEditadosOnuevos[i].id,
                idTraslado: arrayTablaTrasladoItemEditadosOnuevos[i].IdTraslado,
                idInventario: arrayTablaTrasladoItemEditadosOnuevos[i].idInventario,
                codigoArticulo: arrayTablaTrasladoItemEditadosOnuevos[i].codigoArticulo,
                descripcion: arrayTablaTrasladoItemEditadosOnuevos[i].descripcion,
                cantidad: arrayTablaTrasladoItemEditadosOnuevos[i].cantidad.toString().replace(".", ","),
                precioUnitario: arrayTablaTrasladoItemEditadosOnuevos[i].precioUnitario.toString().replace(".", ","),
                costoTotal: arrayTablaTrasladoItemEditadosOnuevos[i].costoTotal.toString().replace(".", ",")

            };

            arrayTrasladoInventario.push(detalles);
        }

    }







    function crearModelo() {

       var idBodegaOrigen = 0;
       var idBodegaDestino = 0;
       var fecha = "";
       var fechaCreacion = "";
       var anulado = 0;
       var txtCostoTraslado = 0;
       var comentario = "";
       idBodegaOrigen = $("#IdBodegaOrigen").val();
       idBodegaDestino = $("#IdBodegaDestino").val();
       fecha = $("#fecha").val();
       txtCostoTraslado = $("#txtCostoTraslado").val().replace(".", ",");
       comentario = $("#Comentario ").val();
       var modelTraslado = {
               idTraslado: @Model.IdTraslado,
               idUsuario:@Model.IdUsuario,
               idBodegaOrigen: idBodegaOrigen,
               idBodegaDestino: idBodegaDestino,
               fecha: fecha,
               fechaCreacion: fechaCreacion,
               anulado: anulado,
               costoTraslado: txtCostoTraslado,
               comentario: comentario
       };
       return modelTraslado;
    }








    function validarSelectBodegaOrigen() {
        var resp = false;
        if ($('#IdBodegaOrigen').val() == "" ) {
            resp = true;
            return resp;
        } else {
            resp = false;
            return resp;
        }
    }


     function validarSelectBodegaDestino() {
        var resp = false;
        if ($('#IdBodegaDestino').val() == "" ) {
            resp = true;
            return resp;
        } else {
            resp = false;
            return resp;
        }
    }


    function validarTablaTrasladoNoEsteVacia() {
        // valida si la tabla esta totalmente vacia
        if (arrayTablaTraslado.length == 0) {
            resp = true;
            return resp;
        } else {
            resp = false;
            return resp;
        }
    }


    function validarCantidadesItemAgregados() {
        var resp = false;
        try {
            for (var i = 0; arrayTablaTraslado.length; i++) {
                if (parseFloat(arrayTablaTraslado[i].cantidad) === 0) {
                    resp = true;
                    return resp;
                    break;
                }
            }
        } catch (e) {
            resp = false;
            return resp;
        }


    }


    function validarGuardaEditar() {
        var resp = false;
        if ($('#IdTraslado').val() == 0) {
            resp = true;
            return resp;
        } else {
            resp = false;
            return resp;
        }
    }


    function capturarArticulosPorCantidadesEditadas(pos){

        obj = arrayTablaTraslado[pos];
        if (obj.id == 0) { // el articulo es nuevo y se ha agregado
            editarNuevoArticulo(obj);
        } else { // el articulo a sido editado en su cantidad
            agregarArticuloExistenteEditado(obj);
        }
    }



   function agregarArticuloExistenteEditado(obj){
       // console.log("linea existente editada");
       // console.log(obj);
       if (validarArticuloExistente(obj) == true) {
         //  console.log("linea existente existe en el array");
           for (var i = 0; i < arrayTablaTrasladoItemEditadosOnuevos.length; i++) {
               if (arrayTablaTrasladoItemEditadosOnuevos[i].idInventario == obj.idInventario) {
                   arrayTablaTrasladoItemEditadosOnuevos[i].cantidad = obj.cantidad;
               }
           }
        //   console.log(arrayTablaTrasladoItemEditadosOnuevos);
       } else {
          // console.log("linea existente NO existe en el array");
           for (var i = 0; i < arrayTablaTraslado.length; i++) {
               if (arrayTablaTraslado[i].id == obj.id) {
                   var objEncontrado = {
                       id: obj.id,
                       idTraslado: obj.idTraslado,
                       idInventario: obj.idInventario,
                       codigoArticulo: obj.codigoArticulo,
                       descripcion: obj.descripcion,
                       cantidad: obj.cantidad,
                       precioUnitario: obj.precioUnitario,
                       costoTotal: obj.costoTotal
                   };
                   arrayTablaTrasladoItemEditadosOnuevos.push(objEncontrado);
               }
           }

       }
    }



    function editarNuevoArticulo(obj) {
       // console.log(obj);
       // console.log("linea nueva, agrego, edito");

        for (var i = 0; i < arrayTablaTrasladoItemEditadosOnuevos.length; i++) {
            if (arrayTablaTrasladoItemEditadosOnuevos[i].idInventario == obj.idInventario) {
                arrayTablaTrasladoItemEditadosOnuevos[i].cantidad = obj.cantidad;
                arrayTablaTrasladoItemEditadosOnuevos[i].costoTotal = obj.costoTotal;
            }
        }
       // console.log(arrayTablaTrasladoItemEditadosOnuevos);
    }


    //en caso de que solo agrege el articulo
    function agregarNuevoArticulo2(obj) {
       // console.log(obj);
        for (var i = 0; i < arrayTablaTraslado.length; i++) {
            if (arrayTablaTraslado[i].idInventario == obj.idInventario) {
                var objEncontrado = {
                    id: 0,
                    idTraslado: arrayTablaTraslado[i].idTraslado,
                    idInventario: obj.idInventario,
                    codigoArticulo: obj.codigo,
                    descripcion: obj.descripcion,
                    cantidad: 1,
                    precioUnitario: obj.costoPromedioBodega,
                    costoTotal: arrayTablaTraslado[i].costoTotal
                };
                arrayTablaTrasladoItemEditadosOnuevos.push(objEncontrado);
            }
        }
      //  console.log(arrayTablaTrasladoItemEditadosOnuevos);
    }


    function validarPreciosArticulos() {
        var resp = false;
        for (var i = 0; i < arrayTablaTraslado.length; i++) {
            if (arrayTablaTraslado[i].precioUnitario == 0) {
                resp = true;
                return resp;
                break;
            }
        }
    }



    function validarArticuloExistente(obj) {
        var resp = false;
        for (var i = 0; i < arrayTablaTrasladoItemEditadosOnuevos.length; i++) {
            if (arrayTablaTrasladoItemEditadosOnuevos[i].idInventario == obj.idInventario) {
                resp = true;
                break;
            }
        }
        return resp;
    }


//-----------------------------------------editar---------------------------------------------//
           function getTraslado() {
            var IdTraslado = $('#IdTraslado').val();
            if (IdTraslado != 0)
            $.ajax({
                  type: "get",
                  headers: {
                      "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                  },
                  dataType: "json",
                url: '@Url.Action("GetTraslado", "Traslado")',
                data: { id: IdTraslado},
                success: function (data) {
                    arrayTraslado = data;
                    if (data.anulado) {
                        estaAnulado = "Hidden";
                        document.getElementById("btnGuardarGeneral").disabled = true;
                        document.getElementById("Pdf").disabled = true;
                    }
                    getTrasladoInventario();
                },
                  error: function (err, scnd) {
                      cargarAlert('@Lb["errorGeneral"]');
                      console.log(err.statusText);
                  }
            });
    }



        function getTrasladoInventario() {
            var IdTraslado = $('#IdTraslado').val();
            if (IdTraslado != 0)
            $.ajax({
                  type: "get",
                  headers: {
                      "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                  },
                  dataType: "json",
                url: '@Url.Action("GetTrasladoInventario", "Traslado")',
                data: { id: IdTraslado},
                success: function (data) {
                    arrayTablaTraslado = data; 
                    crearCopiaArrayTablaTraslado(data);
                    cargarDatosTraslado(arrayTablaTraslado);
                },
                  error: function (err, scnd) {
                      cargarAlert('@Lb["errorGeneral"]');
                      console.log(err.statusText);
                  }
            });
    }

    function crearCopiaArrayTablaTraslado(data) {

        for (var i = 0; i < data.length; i++) {

            var copia = {

                id: data[i].id,
                idTraslado: data[i].idTraslado,
                idInventario: data[i].idInventario,
                codigoArticulo: data[i].codigoArticulo,
                descripcion: data[i].descripcion,
                cantidad: data[i].cantidad,
                precioUnitario: data[i].precioUnitario,
                costoTotal: data[i].costoTotal

            };

            copiaArrayTablaTraslado.push(copia);
        }

    }

  



    var anuleTraslado = "";
    function anularTraslado() {
            bootbox.confirm({
                message: "@Lb["AnularTraslado"]", //@Lb["confirmAnularTraslado"]"
                buttons: {
                    confirm: {
                        label: "@Lb["Aceptar"]",
                        className: 'btn btn-success'
                    },
                    cancel: {
                        label: "@Lb["Cancelar"]",
                        className: 'btn btn-default'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                              $.ajax({
                                type: "get",
                                headers: {
                                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                                },
                                dataType: "json",
                                url: '@Url.Action("AnularTraslado", "Traslado", new { id = Model.IdTraslado})',
                                success: function (data) {
                                    if (data.success) {

                                        cargarAlert('@Lb["TrasladoAnulado"]');
                                        getTraslados();
                                        //bloquear boton pdf
                                        $('#Anular').prop("disabled", true);
                                        $('#btnGuardar').prop("disabled", true);
                                    }
                                    else
                                        cargarAlert('@Lb["TrasladoConEstadoAnulado"]');
                                },
                                error: function (err, scnd) {
                                    cargarAlert('@Lb["errorGeneral"]');
                                    console.log(err.statusText);
                                }
                            });
                    }else if (result == false){
                            //console.log("entro y NO anulO ");
                    }
                }
            });
    }



    function crearPdfTrasladoEspecifico() {
            console.log(" A crear el pdf ");
            open("Crear-PDF-Traslado/@Model.IdTraslado");
    }



    function recuperarUsuario() {
        var idUsu = $('#IdUsuario').val();
        var nombre = "";
        for (var i = 0; i < Usuarios.length; i++) {
            if (Usuarios[i].id == idUsu) {
                nombre = Usuarios[i].nombre;
            }
        }
        $("#IdUsuario2").val(nombre);
    }



    function focus() {

        id = "filtroBuscar";
        console.log("Evento>" + id);
            document.getElementById(id).focus();
            document.getElementById(id).select();
    }



</script>