@model AltivaWebApp.ViewModels.PrecioCatalogoViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-md-3"><h3>@SharedLocalizer["PrecioCatalogo"]</h3></div>
</div>

<div class="table-responsive">
    <table class="table table-bordered" id="tblCatalogo" style="width:100%">
        <thead>
            <tr>
                <th hidden>
                    <span>Id</span>
                </th>
                <th style="width:5%">
                    <span>@SharedLocalizer["Eligir"] </span>
                </th>
                <th style="width:15%">
                    <span>@SharedLocalizer["Producto"]</span>
                </th>
                <th style="width:5%">
                    <span>@SharedLocalizer["Present"]</span>
                </th>
                <th style="width:15%">
                    <span>@SharedLocalizer["CostoPromedio"]</span>
                </th>
                <th style="width:15%">
                    <span>@SharedLocalizer["Utilidad deseada"]</span>
                </th>
                <th style="width:15%">
                    <span>@SharedLocalizer["Impuesto"]</span>
                </th>
                <th style="width:15%">
                    <span>@SharedLocalizer["Precio sin impuesto"]</span>
                </th>
                <th style="width:15%">
                    <span>@SharedLocalizer["Precio sin impuesto"]</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr class="lineaForm"></tr>
        </tbody>
    </table>
</div>

<button onclick="getItemInventario(6)">prueba</button>
<script>
    var lineas = [];
    var lineaTemp = [];
    var inventario = [];
    var precios = [];
    $(document).ready(function () {
         getPrecioCatalogo();
        getInventario();
        getPrecios();
       
        
        
    });
    ///Ajax///
    function getPrecioCatalogo() {
          $.ajax({
              type: "get",
              dataType: "json",
            url: '@Url.Action("GetPrecioCatalogo")',

              success: function (data) {
                cargarLineas(data);
               },
            error: function (err, scnd) {
               cargarAlert('@SharedLocalizer["errorGeneral"]');
            }
        });
    }
     function getPrecios() {
          $.ajax({
              type: "get",
              dataType: "json",
            url: '@Url.Action("GetPrecios", "Precios")',

              success: function (data) {
                  precios = data;
                
               },
            error: function (err, scnd) {
               cargarAlert('@SharedLocalizer["errorGeneral"]');
            }
        });
    }
      function getInventario() {
          $.ajax({
              type: "get",
               headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
            url: '@Url.Action("GetAllInventario", "Inventario")',

              success: function (data) {
                    inventario = data;
                  console.log(inventario);                
               },
            error: function (err, scnd) {
               cargarAlert('@SharedLocalizer["errorGeneral"]');
            }
        });
        }
    ///helpers///
    function getItemInventario(id) {
        lineaTemp = [];
        for (var i = 0; i < inventario.length; i++) {
            if (inventario[i].idInventario == parseInt(id))
            {
                var model =
                {
                    descripcion : inventario[i].descripcion,
                    impuestoVenta : inventario[i].impuestoVenta,
                    costoPromedioGeneral : inventario[i].costoPromedioGeneral

                }
                lineaTemp.push(model);
            }
                
        }
    }
    function cargarLineas(data) {
          for (var i = 0; i < data.length; i++) {
              var model = {
              
                  idPrecioCatalogo: data[i].idPrecioCatalogo,
                  idInventario: data[i].idInventario,
                  idTipoPrecio: data[i].idTipoPrecio,
                  porcUtilidad: data[i].porcUtilidad,
                  precioSinImpuesto: data[i].precioSinImpuesto,
                  precioFinal : data[i].precioFinal

            };
            lineas.push(model);
        }
        cargarTabla(lineas);
    }


    function cargarTabla(data) {
        $('.filasCargadas').remove();
        
        contadorFila = 0;

        for (var i = 0; i < data.length; i++) {
            contadorFila++;
            getItemInventario(data[i].idInventario);

            var body = '<tr class="filasCargadas" id="fila' + contadorFila + '"><td style="padding-top:2rem;"> <input type="checkbox" id="habilitaFiltroFecha" /></td>'
                + '<td style="padding-top:2rem;"><input style="border:0; background-color : #F7F7F7" value="' +  + '"/></td>'
                + '<td style="padding-top:2rem;"><input style="border:0; background-color : #F7F7F7" value="' + data[i].id + '"/></td>'
                + '<td style="padding-top:2rem;">' + data[i].idInventario + ' </td>'
                + '<td style="padding-top:2rem; width:12rem;"><input  style="border:0; background-color : #F7F7F7" class="currency" value="' + data[i].porcUtilidad + '"/></td>'
                + '<td style="padding-top:2rem; width:12rem;"><input  style="border:0; background-color : #F7F7F7" class="currency" value="' + data[i].idInventario + '"/></td>'
                + '<td style="padding-top:2rem; width:12rem;"><input style="border:0; background-color : #F7F7F7"  value="' + data[i].precioSinImpuesto + '"/></td>'
                + '<td style="padding-top:2rem; "><input style="width:6rem; border:0; background-color : #F7F7F7"  value="' + data[i].precioFinal + '"/></td></tr>';
                
            $('.lineaForm').before(body);
            

        }
    }


</script>

<style>
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }
</style>