@model AltivaWebApp.ViewModels.CamposPersonalizadosViewModelSingle

@{
    ViewData["Title"] = "Crear Campos Personalizados";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-md-6 " id="empty">
        <div hidden><label hidden>Campo de tipo:</label> @Model.Tipo</div>
        <div class="form-group">
            <input type="text" asp-for="@Model.Id" id="id1" hidden />
        </div>
        <div class="form-group">
            <input type="text" asp-for="@Model.Tipo" id="tipo1" hidden />
        </div>
        <div class="form-group">
            <input type="text" asp-for="@Model.Estado" id="Estado1" hidden />
        </div>
        <div class="form-group">
            <label>Nombre del campo</label>
            <input type="text" asp-for="Nombre" id="Nombre1" class="form-control" />
            <div id="alertNombre"></div>
        </div>
        <div class="form-group">

            @if (ViewBag.id == 1)
            {

                <button type="button" id="editarCampo" class="btn btn-success">Guardar <i class="fas fa-save"></i></button>


                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            }
            else if (ViewBag.id ==0)
            {

                <button type="button" id="guardarCampo" class="btn btn-success">Guardar <i class="fas fa-save"></i></button>

                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
            }
        </div>

    </div>
        </div>


<script>
    $('#editarCampo').on('click', function () {
 
            if ($('#Nombre').val() == "") {
                $('#alertNombre').append('<span class="text-danger">El nombre es requerido.</span>');

                return false;
            }

            var domain1 = {
                id: $('#id1').val(),
                nombre: $('#Nombre1').val(),
                tipo: $('#tipo1').val(),
                estado: $('#Estado1').val()
            };

                $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("Editar", "CamposPersonalizados")',

                    data: { model1: domain1 },
                    success: function (data) {
                        $('#ul').empty();
                        $('#myModal1').modal('hide');
                        cargarTable();
  
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
    });
    $('#guardarCampo').on('click', function () {
        if ($('#Nombre').val() == "") {
            $('#alertNombre').append('<span class="text-danger">El nombre es requerido.</span>');

            return false;
        }

        var domain = {
            nombre: $('#Nombre1').val(),
            tipo: $('#tipo1').val(),
            estado: $('#Estado1').val()
        };
            $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("CrearNuevoCamposPersonalizados", "CamposPersonalizados")',

                    data: { domain: domain },
                success: function (data) {
                    $('#crearCampos').remove();
                    $('.panelCrearCampo').append('<div id="crearCampos"></div>');

                    $('#ul').empty();
                        $('#myModal1').modal('hide');
                       
                    
                            cargarTable();
                     
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
    });

    //cargar datos en el div con scrool
   
</script>