@model IList<TbCrCamposPersonalizados>
@inject IStringLocalizer<SharedResources> Lb
@{
    Layout = null;
}

<div class="row">
    <div class="table-responsive col-md-12 col-sm-12 col-xs-12">
        <table id="cpTbl" class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @Lb["Tipo"]
                    </th>
                    <th>@Lb["Nombre"]</th>
                    <th>
                        @Lb["Acción"]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.Tipo
                        </td>
                        <td>
                            @item.Nombre
                        </td>
                        <td >
                            <a onclick="getCrearEditarPartial(@item.Id)" href="#"><span><i class="fas fa-edit"></i></span></a>
                            @if (item.Estado == "Activo")
                            {
                                <a href="#"><span><i class="fas fa-trash"></i></span></a>
                            }
                            else
                            {
                                <a href="#"><span><i class="fas fa-trash-restore"></i></span></a>
                            }

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

