@model AltivaWebApp.ViewModels.CamposPersonalizadosViewModel

@{
    ViewData["Title"] = "Crear Contacto";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<link href="~/css/Code.css" />

<div class="row col-md-12">
    <h3>Campos Personalizados</h3>
    <div class="col-sm-4"> <h4>Seleccione el tipo que desea agregar:</h4></div>

    <div class="col-md-4">

        <select class="form-control" id="CamposPersonalizados">
            <option value="Seleccione" hidden>Seleccione</option>
            <option value="fechaHora">Fecha y hora</option>
            <option value="checkBox">CheckBox</option>
            <option value="textArea">Texto grande</option>
            <option value="text">Texto Pequeño</option>
            <option value="Lista">Lista desplegable</option>
        </select>

    </div>
</div>
<hr>
<div class="row">


    <div class="col-md-8 ">
       
        <div class="panel panel-default pre-scrollable" style="height:100rem;" id="panelCampos">
            <div class="col-md-12">
                <div>
                    <table class="table table-hover">
                        <thead><tr>

    <th>Nombre </th>
    <td>Accion</td>
</tr></thead>
                        <tbody id="ul">
                            


                        </tbody>

                    </table>

                </div>

            </div>
        </div>



        <a  class="btn btn-default btnAtras">Cancelar</a>


    </div>
</div>


<!-- The Modal -->
<div class="modal fade" id="crearLista">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="crearEditarPartial">

                </div>
            </div>

          

        </div>
    </div>
</div>

<div class="modal fade" id="myModal1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body panelCrearCampo">
                <div id="crearCampos">

                </div>
            </div>

           
        </div>
    </div>

</div>

<!-- The Modal -->
<div class="modal fade" id="editarLista">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="crearEditarPartial1">

                </div>
            </div>

            <!-- Modal footer -->


        </div>
    </div>
</div>
<div class="modal fade" id="myModal2">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div id="crearCampos1">

                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">

            </div>

        </div>
    </div>

</div>


<script>
    $(document).ready(function () {
        $('#ul').empty();
        cargarTable();
    });
     function cargarTable() {
            $.ajax({
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                type: "GET",


                url: '@Url.Action("TraerCamposPersonalizados", "CamposPersonalizados")',

                success: function (data) {
               
                    for (var i = 0; data.length; i++) {
                        //  $('#ul').append('<div style=" border-style: outset;" class="col-md-8" id=li' + i + '><label hidden>asd</label>' + data[i].nombre + '</div><div class="col-md-1" id=li' + i + '><label hidden>Eliminar</label><button class="btn btn-link" onclick="eliminar(' + data[i].id + ');"><i class="fas fa-trash"></i></button></div><div class="col-md-1" ><label hidden>Eliminar</label><button class="btn btn-link" onclick="Editar"><i class="fas fa-edit"></i></button></div><div class="col-md-12 text-danger" id=li' + i + ' hidden>El campo fecha y hora es requerido.</div>');
                        if (data[i].tipo == "lista") {
                            $('#ul').append('<tr><th class="col-md-8" id=li' + i + '>' + data[i].nombre + '</th><td><button class="btn btn-link" onclick="eliminar(' + data[i].id + ');"><i class="fas fa-trash dark"></i></button><button class="btn btn-link dark" onclick="EditarLista(' + data[i].id + ')"><i class="fas fa-edit dark"></i></button></td></tr>');
                        } else {
                            $('#ul').append('<tr><th class="col-md-8" id=li' + i + '>' + data[i].nombre + '</th><td><button class="btn btn-link" onclick="eliminar(' + data[i].id + ');"><i class="fas fa-trash dark"></i></button><button class="btn btn-link dark" onclick="Editar(' + data[i].id + ')"><i class="fas fa-edit dark"></i></button></td></tr>');

                        }

                    }
                },

                error: function (err, scnd) {
                    console.log(err.statusText);
                }

            });
        }
    function EditarLista(id) {
     $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",
             

                    url: '@Url.Action("EditCampos", "ListaDesplegable")',
         data: { id: id },
         success: function (data) {

             $('#crearEditarPartial').html(data);
           

              $('#crearLista').modal('show');
           

                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

    });
    }
    function Editar(id) {
         $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",
             data: {id:id},

                    url: '@Url.Action("EditCampos", "CamposPersonalizados")',

             success: function (data) {
               
                 $('#crearCampos').html(data);
               
               $('#myModal1').modal('show');


                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

    });
    }
    function cancelar() {
        var opcion = confirm("Esta seguro que desea cancelar ?");
        if (opcion == true) {
             var urls = '@Url.Action("Index", "CamposPersonalizados")';
                        window.location.href = urls;
        } else {
            return ;
        }
    }
    var i = 0;
    $(document).ready(function () {

        $("#fechaHora").click(function () {
            $('#ul').append('<div class="col-md-8" id=li' + i + '><input hidden asp-for="tipo[]" name="tipo[]" id="fechayHora' + i + '" value="datetime-local"/>Nombre del campo fecha y hora: <input type="text"  required asp-for="nombre[]" name="nombre[]" class="form-control " id="' + i + '" /> </div><div class="col-md-1" id=li' + i + '><label>Eliminar</label><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></div><div class="col-md-12 text-danger" id=li' + i + ' hidden>El campo fecha y hora es requerido.</div>');

            i++;
        });
        $("#CheckBox").click(function () {
            $('#ul').append('<div class="col-md-8" id=li' + i + '><input hidden  asp-for="tipo[]" name="tipo[]"  id="checkbox' + i + '" value="checkbox"/>Nombre del campo CheckBox: <input type="text" required  asp-for="nombre[]" name="nombre[]" class="form-control input-mini" id=' + i + '/></div><div class="col-md-1" id=li' + i + '><label>Eliminar</label><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></div>');

            //$("#ul").append('<li id=li' + i + '><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></li>');
            i++;
        });
        $("#TextArea").click(function () {
            $('#ul').append('<div class="col-md-8" id=li' + i + '><input hidden asp-for="tipo[]" name="tipo[]" id="textArea' + i + '" value="textArea"/>Nombre del Texto Grande: <input required type="text"  asp-for="nombre[]" name="nombre[]" class="form-control input-mini" id=' + i + '/></div><div class="col-md-1" id=li' + i + '><label>Eliminar</label><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></div>');

            //  $("#ul").append('<li id=li' + i + '><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></li>');
            i++;
        });
        $("#Text").click(function () {
            $('#ul').append('<div class="col-md-8" id=li' + i + '><input hidden asp-for="tipo[]" name="tipo[]" id="text' + i + '" value="text"/>Nombre del texto: <input type="text" required asp-for="nombre[]" name="nombre[]" class="form-control input-mini" id=' + i + '/></div><div class="col-md-1" id=li' + i + '><label>Eliminar</label><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></div>');

            // $("#ul").append('<li id=li' + i + '><button class="btn btn-link" onclick="eliminar(' + i + ');"><i class="fas fa-trash"></i></button></li>');
            i++;
        });
    });
    function eliminar(id) {
        var opcion = confirm("Esta seguro que desea eliminar el campo?");
        var mensaje;
        if (opcion == true) {
             $.ajax({
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                type: "POST",


                url: '@Url.Action("Delete", "CamposPersonalizados")',

                 data:{id : id},
                 success: function (data) {
                     $('#ul').empty();
                         cargarTable();
                  
                },

                error: function (err, scnd) {
                    console.log(err.statusText);
                }

            });

        } else {
            return;
        }


    }
    function llamarPartialLista(id) {
        $(document).ready(function () {

         $.ajax({
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                type: "GET",


             url: '@Url.Action("GetLista", "ListaDesplegable")',
             data: {id:id},

                success: function (data) {
                 
                    $('#camposLista').append(data);
                },

                error: function (err, scnd) {
                    console.log(err.statusText);
                }

            });
            });

    }
</script>


<script>
  
    //llamar modal con datas para crear campos personalizados.
   
    $('#CamposPersonalizados').change(function () {

        if ($(this).val() == "Lista") {
            $(document).ready(function () {

            $.ajax({
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                type: "GET",


                url: '@Url.Action("CrearLista", "ListaDesplegable")',


                success: function (data) {
                 
                    $('#crearEditarPartial').html(data);
                 
                    $('#crearLista').modal('show');
                },

                error: function (err, scnd) {
                    console.log(err.statusText);
                }

                });
            });
        } else if ($(this).val() == "fechaHora") {

            llamarModalCampos("datetime-local");
        } else if ($(this).val() == "checkBox") {
            llamarModalCampos("checkbox");
        } else if ($(this).val() == "textArea") {
            llamarModalCampos("textArea");
        } else if ($(this).val() == "text") {
            llamarModalCampos("text");
        }

    });


    function llamarModalCampos(tipo) {
        var domain1 = null;
        var domain1 = {
            id:0,
            nombre: "",
            tipo:tipo,
            estado : "Activo"
        };
         $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


             url: '@Url.Action("CrearCamposPersonalizados", "CamposPersonalizados")',
             data: { domain2: domain1 },

             success: function (data) {
               

                  $('#crearCampos').html(data);
                  $('#myModal1').modal('show');
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
    }


</script>
