@model IEnumerable<AltivaWebApp.Domains.TbCrCamposPersonalizados>

<p>
    <a asp-action="Create" style="font-size:2rem;">Agregar Nuevo<i style="font-size:2rem;" class="fas fa-plus-circle "></i></a>
</p>

<div class="container" style="text-align:center;">
<div class="row col-md-8">
    <table class="table table-bordered" id="table1" style="width:100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th hidden>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
                <th class="col-md-2">Accion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                    <td hidden>
                        @Html.DisplayFor(modelItem => item.Estado)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id"style="font-size:2rem;"><i class="fas fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" style="font-size:2rem;"><i class="fas fa-eye"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" style="font-size:2rem;"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
</div>

<script>
    $(document).ready(function () {



        $("#table1").DataTable({
            dom: 'Bfrtip',

            language: {
                "decimal": "",
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Entradas",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "<a class='btn btn-link '><i class='fas fa-search' style='font-size:2rem;'></i></a>",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            }



        });
    });


</script>