@model AltivaWebApp.ViewModels.BitacoraViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@{

    var module = new List<TbSeUsuario>();

    module = ViewData["usuarios"] as List<TbSeUsuario>;
    var module1 = new List<BitacoraViewModel>();

    module1 = ViewData["bitacora"] as List<BitacoraViewModel>;
}
<link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.dataTables.min.css" rel="stylesheet" />
 <div class="panel-heading"><h4 style="text-align:center;" data-translate="bitacora">Bitacora Centralizada</h4></div>
<div class="container">

    <div class="col-sm-9 col-lg-12">

     
        <div class="panel-body">
            <div class="form-group col-sm-1 ">

                <label data-translate="buscar" class="control-label form-inline">Buscar</label>
            </div>
            <div class="form-group col-md-2 ">
                <select class="form-control col-md-4" id="sel1">
                    <option selected data-translate="selecciones">Seleccione</option>
                    <option data-translate="porUsuario">PorUsuario</option>
                    <option data-translate="porFecha">PorFecha</option>

                </select>
            </div>
            <br />
            <br />
            <div class=" form-group col-md-4" id="buscadorUsuario" hidden>
                <form asp-action="FindById" asp-controller="Bitacora" method="post" enctype="multipart/form-data">
                    <select class="form-control" id="" name="idUsuario">
                        @foreach (var item in module)
                        {
                            <option value="@item.Id"> @item.Nombre</option>
                        }
                    </select>
                    <br />
                    <div style="text-align:center;">
                        <button type="submit" hidden id="btn" class="btn btn-link" style="font-size:2rem;"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
            <div class=" form-group col-md-4 form-in" id="buscadorFecha" hidden>
                <form asp-action="FindByDate" asp-controller="Bitacora" method="post" enctype="multipart/form-data">
                    <div class="form-group col-sm-2 ">
                        <span data-translate="desde">Desde:</span>
                    </div>
                    <div class="form-group col-md-11 ">
                        <input class="form-control " name="Fecha1" type="datetime-local" id="desde" required />
                    </div>

                    <div class="form-group col-md-2 ">
                        <span data-translate="hasta">Hasta:</span>
                    </div>
                    <div class="form-group col-md-11 ">
                        <input class="form-control " name="Fecha2" type="datetime-local" id="hasta" required />
                    </div>
                    <br />
                    <div style="text-align:center;">
                        <button class="btn btn-link" id="btn1" type="submit" hidden style="font-size:2rem;"><i class="fas fa-search"></i></button>
                    </div>
                </form>
            </div>
            <br />
            <br />
            <br />
            <div class="row col-md-10">
                <span class="alert alert-danger" id="mensajeError" hidden></span>
            </div>
            <br />
            <br />
            <div class="row" id="table">
                <table class="table table-bordered" id="tablita" style="width:100%">
                    <thead id="head">
                        <tr>
                            <th hidden>Id</th>
                            <th><span data-translate="descripcion">Descripcion</span></th>
                            <th><span data-translate="fecha">Fecha</span></th>
                            <th><span>Usuario</span></th>
                            <th><span>Referencias</span></th>
                        </tr>


                    </thead>
                    <tbody id="body">
                        @foreach (var j in module1)
                        {
                            <tr>
                                <td hidden>@j.IdUsuario</td>
                                <td>@j.Descripcion</td>
                                <td>@j.Fecha</td>
                                <td>@j.nombreUsuario</td>
                                <td>@j.TipoReferencia</td>
                            </tr>
                        }

                    </tbody>
                </table>

            </div>
        </div>
        </div>


    </div>


<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.flash.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>

<script>
  
    
    $(document).ready(function () {
        $("#btn1").on('click', function () {
            $("#head").children("tr").remove();
            $("#body").children("tr").remove();
            var fecha1 = $("#desde").val();
            var fecha2 = $("#hasta").val();
            if (fecha1 == "" || fecha2 == "") {
                $("#mensajeError").html("Campos requeridos,no puede continuar si deja un campo en blanco");
                $("#mensajeError").show();

                setTimeout(function () {
                    $("#mensajeError").fadeOut(1500);
                }, 2000);

                $("#desde").val("");
                $("#hasta").val("");
               
            } else
                if (fecha2 < fecha1 && fecha1 > fecha2) {
                    $("#desde").val("");
                    $("#hasta").val("");
                    $("#mensajeError").html("Formato incorrecto al ingresar las fechas");
                    $("#mensajeError").show();

                    setTimeout(function () {
                        $("#mensajeError").fadeOut(1500);
                    }, 2000);
                }
        });

        $("#btnBuscar").on('click', function () {
            $("#head").children("tr").remove();
            $("#body").children("tr").remove();
            var fecha1 = $("#desde").val();
            var fecha2 = $("#hasta").val();
            if (fecha1 == "" || fecha2 == "") {
                $("#mensajeError").html("Campos requeridos,no puede continuar si deja un campo en blanco");
                $("#mensajeError").show();

                setTimeout(function () {
                    $("#mensajeError").fadeOut(1500);
                }, 2000);
                $("#desde").val("");
                $("#hasta").val("");
            }else
            if (fecha2 < fecha1 && fecha1 > fecha2) {
            $("#desde").val("");
                $("#hasta").val("");
                $("#mensajeError").html("Formato incorrecto al ingresar las fechas");
                $("#mensajeError").show();

                setTimeout(function () {
                    $("#mensajeError").fadeOut(1500);
                }, 2000);
            } else {

                $.ajax({
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    type: "POST",


                    url: '@Url.Action("FindByDate", "Bitacora")',

                    data: { date1: fecha1, date2: fecha2 },

                    success: function (data) {
                        $("#head").show();
                        $("#body").show();
                        $("#head").append('<tr><th>Nombre</th><th>Descripcion</th><th>Fecha</th></tr>');
                        for (var i = 0; i < data.length; i++) {

                            $("#body").append('<tr><td>' + data[i].nombre + '</td><td>' + data[i].descripcion + '</td><td>' + data[i].fecha + '</td></tr>');
                        }
                        $("#desde").val("");
                        $("#hasta").val("");
                    },

                    error: function (err, scnd) {
                        console.log(err.statusText);
                    }

                });
            }
        });

        $('#sel1').change(function () {
            if ($(this).val() == 'PorUsuario' || $(this).val() == 'ByUser') {
                $("#buscadorUsuario").show();
                $("#buscadorFecha").hide();

                $("#btn").show();
                $("#btn1").hide();

            }
            else if ($(this).val() == 'PorFecha' || $(this).val() == 'ByDate') {
                $("#buscadorFecha").show();
                $("#buscadorUsuario").hide();
                $("#btn").hide();
                $("#btn1").show();

            } else if ($(this).val() == 'Seleccione' || $(this).val() == 'select') {
                $("#buscadorFecha").hide();
                $("#buscadorUsuario").hide();
                $("#btn").hide();
                $("#btn1").hide();
            }
        });

        $('#usuarios').on('change', function () {
            $("#head").hide();

            $("#head").children("tr").remove();
            $("#body").children("tr").remove();
           $.ajax({
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                type: "POST",


                url: '@Url.Action("FindById", "Bitacora")',

               data: { valor: $(this).val()},

               success: function (data) {
                   $("#head").show();
                   $("#body").show();
                   $("#head").append('<tr><th>Nombre</th><th>Descripcion</th><th>Fecha</th></tr>');
                   for (var i = 0; i < data.length; i++) {

                       $("#body").append('<tr><td>' + data[i].nombre + '</td><td>' + data[i].descripcion + '</td><td>' + data[i].fecha + '</td></tr>');
                   }
                },

                error: function (err, scnd) {
                    console.log(err.statusText);
                }

            });
        });


    });


</script>
<script>


    $('#tablita').DataTable({
        dom: 'Bfrtip',
        language: {
            "decimal": "",
            "emptyTable": "No hay información",
            "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
            "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
            "infoFiltered": "(Filtrado de _MAX_ total entradas)",
            "infoPostFix": "",
            "thousands": ",",
            "lengthMenu": "Mostrar _MENU_ Entradas",
            "loadingRecords": "Cargando...",
            "processing": "Procesando...",
            "search": "<a class='btn btn-link '><i class='fas fa-search ' style='font-size:2rem;'></i></a>",
            "zeroRecords": "Sin resultados encontrados",
            "paginate": {
                "first": "Primero",
                "last": "Ultimo",
                "next": "Siguiente",
                "previous": "Anterior"
            }
        },
        buttons: [
            {
                extend: 'copyHtml5',
                text: '<i class="fas fa-copy btn-sm" ></i>',
                titleAttr: 'Copy'
            },
            {
                extend: 'excelHtml5',
                text: '<i class="fas fa-file-excel btn-sm "></i>',
                titleAttr: 'Excel'
            },

            {
                extend: 'pdfHtml5',
                text: '<i class="fas fa-file-pdf btn-sm"></i>',
                titleAttr: 'PDF'
            }
        ]

    });



</script>