@model IEnumerable<AltivaWebApp.Domains.TbCoConfiguracion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FechaCreacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TamanoCuenta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ejemplo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nivel7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaDesde)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaHasta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCreacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TamanoCuenta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel5)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel6)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel8)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ejemplo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nivel7)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaDesde)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHasta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdConfiguracion">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdConfiguracion">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdConfiguracion">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
