@model AltivaWebApp.ViewModels.EmpresaViewModel

@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<div class="row">
    <div class="col-md-12">
        <form id="frm_empresa" asp-action="CrearEmpresa"  method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Nombre" class="control-label"></label>
                <input asp-for="@Model.Nombre" id="txt_nombre" class="form-control" />
                <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Correo" class="control-label"></label>
                <input asp-for="@Model.Correo" class="form-control" />
                <span asp-validation-for="@Model.Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Telefono1" class="control-label"></label>
                <input asp-for="@Model.Telefono1" class="form-control" />
                <span asp-validation-for="@Model.Telefono1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Telefono2" class="control-label"></label>
                <input asp-for="@Model.Telefono2" class="form-control" />
                <span asp-validation-for="@Model.Telefono2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CedJuridica" class="control-label"></label>
                <input asp-for="@Model.CedJuridica" class="form-control" />
                <span asp-validation-for="@Model.CedJuridica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Bd" class="control-label"></label>
                <input readonly asp-for="@Model.Bd" id="txt_bd" class="form-control" />
                <span asp-validation-for="@Model.Bd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="@Model.Estado" /> Activa
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Direccion" class="control-label"></label>
                <input asp-for="@Model.Direccion" class="form-control" />
                <span asp-validation-for="@Model.Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <span class="input-group-text" id="inputGroup-sizing-sm">Subir foto</span>
                <input type="file" accept=".png, .jpg" asp-for="@Model.Foto" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
            </div>
            <div class="form-group" hidden>
                <label asp-for="@Model.Id_GE" class="control-label"></label>
                <input asp-for="@Model.Id_GE" value="1" class="form-control" />
                <span asp-validation-for="@Model.Id_GE" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="crearEmpresa" value="Crear" class="btn btn-default" />
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            </div>
        </form>
    </div>
</div>
<div class="row" id="error">

</div>
<script>

     $(document).ready(function () {

         $('#txt_nombre').keyup(function () {
             //console.log($(this).val());
             $('#txt_bd').val('BE_'+$(this).val());
         });
        
   });

</script>

