@model IEnumerable<AltivaWebApp.GEDomain.TbSeUsuario>
@inject IStringLocalizer<SharedResources> Lb

@{
    ViewData["Title"] = "AutorizacionUsuarios";
}

<h3>@Lb["AutorizacionUsuarios"]</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="row text-center">

    <div class="col-md-12 table-responsive">


        <table id="usuarios" class="table table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>
                        <span>@Lb["Asignado"]</span>
                    </th>
                    <th>
                        <span>@Lb["Código"]</span>
                    </th>
                    <th>
                        <span>Nombre</span>
                    </th>
                    <th>
                        <span>Estado</span>
                    </th>
                    <th>
                        <span>Iniciales</span>
                    </th>
                    <th>
                        <span>Fecha Mod</span>
                    </th>
                    <th>
                        <span>Correo</span>
                    </th>
                    <th>
                        Avatar
                    </th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="modelo">
                        <td>
                            @item.TbSeEmpresaUsuario.Any(e => e.IdEmpresa == (int) Context.Session.GetInt32("idEmpresa"))
                            @*<input type="checkbox" checked="@item.TbSeEmpresaUsuario.Any(e => e.IdEmpresa == int.Parse(Context.Session.GetString("idEmpresa")))" />*@
                        </td>
                        <td style="padding-top: 2rem">
                            <a href="@Url.Action("CuentaUsuario", new { codigo = item.Codigo })">@item.Codigo</a>
                        </td>
                        <td style="padding-top: 2rem">
                            @Html.DisplayFor(modelItem => item.Nombre)
                        </td>
                        <td style="padding-top: 2rem" class="estado">
                            @Html.DisplayFor(modelItem => item.Estado)
                        </td>
                        <td style="padding-top: 2rem">
                            @Html.DisplayFor(modelItem => item.Iniciales)
                        </td>
                        <td style="padding-top: 2rem">
                            @Html.DisplayFor(modelItem => item.FechaMod)
                        </td>
                        <td style="padding-top: 2rem">
                            @Html.DisplayFor(modelItem => item.Correo)
                        </td>
                        <td>
                            <img style="height:4rem; width: 4rem;" src="@item.Avatar" />
                        </td>
                       
                    </tr>
                }
            </tbody>

        </table>
    </div>
</div>
