@model AltivaWebApp.ViewModels.EmpresaViewModel

@{
    Layout = "_HomeLayout";
}

<div class="row">
    <div class="col-md-12">
        <h4>Nueva Empresa</h4>
    </div>

    <br />

    <div class="col-md-10">
       

        <form id="frm_empresa" asp-action="CrearEmpresa" method="post" enctype="multipart/form-data">
            <div class="row">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Nombre" class="control-label"></label>
                        <input asp-for="@Model.Nombre" id="txt_nombre" class="form-control" />
                        <span asp-validation-for="@Model.Nombre" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.Correo" class="control-label"></label>
                        <input asp-for="@Model.Correo" class="form-control" />
                        <span asp-validation-for="@Model.Correo" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Telefono1" class="control-label"></label>
                        <input asp-for="@Model.Telefono1" class="form-control" />
                        <span asp-validation-for="@Model.Telefono1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Telefono2" class="control-label"></label>
                        <input asp-for="@Model.Telefono2" class="form-control" />
                        <span asp-validation-for="@Model.Telefono2" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.CedJuridica" class="control-label"></label>
                        <input asp-for="@Model.CedJuridica" class="form-control" />
                        <span asp-validation-for="@Model.CedJuridica" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Bd" class="control-label"></label>
                        <input readonly asp-for="@Model.Bd" id="txt_bd" class="form-control" />
                        <span asp-validation-for="@Model.Bd" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="@Model.Direccion" class="control-label"></label>
                        <input asp-for="@Model.Direccion" class="form-control" />
                        <span asp-validation-for="@Model.Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group" hidden>
                        <div class="checkbox">
                            <label>
                                <input value="true" asp-for="@Model.Estado" /> Activa
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Subir foto</span>
                        <input type="file" asp-for="@Model.Foto" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                    </div>
                    <div class="form-group" hidden>
                        <label asp-for="@Model.Id_GE" class="control-label"></label>
                        <input asp-for="@Model.Id_GE" value="1" class="form-control" />
                        <span asp-validation-for="@Model.Id_GE" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" id="crearEmpresa" value="Crear" class="btn btn-default" />
                        <a href="@Url.Action("ListarEmpresas")" class="btn btn-secondary" data-dismiss="modal">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>
<div class="row" id="error">

</div>
<script>

    $(document).ready(function () {

        $('#txt_nombre').keyup(function () {
            //console.log($(this).val());
            $('#txt_bd').val('BE_' + $.trim($(this).val()));
        });

    });

</script>