@model AltivaWebApp.GEDomain.TbGeEmpresa
@inject IStringLocalizer<SharedResources> SharedLocalizer


    <h3>@Model.Nombre</h3>

    <hr />

    <div class="row">
        <div class="col-md-4">
            <img src="@Model.Foto" style="width: 90%" />

            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend custom-file">
                        <span class="input-group-text" id="inputGroup-sizing-sm">@SharedLocalizer["cargarFoto"] (6MB)</span>
                    </div>
                    <input id="fileUpload" type="file" accept="image/*" asp-for="Foto" class="form-control custom-file-input">
                    <span hidden id="tamanoArchivo" class="text-danger">@SharedLocalizer["tamanoArchivo"]</span>
                    <span hidden id="tipoArchivo" class="text-danger">@SharedLocalizer["tipoArchivo"]</span>
                </div>
            </div>
            <button id="guardarFoto" onclick="guardarFoto()" class="btn btn-success btn-sm" type="submit">
                <span >@SharedLocalizer["Guardar"]</span><span> <i class="fas fa-save"></i></span>
            </button>
           
        </div>
        <div class="col-md-8">
            <table class="table table-bordered">

                <tbody>
                    <tr>
                        <th  scope="Row">Nombre:</th>
                        <td> @Html.DisplayFor(model => model.Nombre)</td>
                    </tr>
                    <tr>
                        <th scope="row">Correo:</th>
                        <td> @Html.DisplayFor(model => model.Correo)</td>
                    </tr>
                    <tr>
                        <th scope="row">Cédula Jurídica:</th>
                        <td> @Html.DisplayFor(model => model.CedJuridica)</td>
                    </tr>
                    <tr>
                        <th scope="row">Teléfono:</th>
                        <td>@Html.DisplayFor(model => model.Telefono1) - @Html.DisplayFor(model => model.Telefono2)</td>
                    </tr>
                    <tr>
                        <th scope="row">Estado:</th>
                        <td>@Html.DisplayFor(model => model.Estado)</td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha Creación:</th>
                        <td>@Html.DisplayFor(model => model.FechaCreacion)</td>
                    </tr>
                    <tr>
                        <th scope="row">Fecha Modificación:</th>
                        <td>@Html.DisplayFor(model => model.FechaMod)</td>
                    </tr>
                    <tr>
                        <th scope="row">Dirección:</th>
                        <td>@Html.DisplayFor(model => model.Direccion)</td>
                    </tr>
                    <tr>
                        <th data-translate="accion" scope="row">Acción</th>
                        <td><a class="btn btn-link" href="@Url.Action("EditarEmpresa", new { id = Model.Id })"><span data-translate="editar">Editar</span>&nbsp;<span style="font-size: 2rem"><i class="fas fa-edit"></i></span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script>
        $(document).ready(function () {


            $('#guardarFoto').attr('disabled', true);


            localStorage.setItem("fotoEmpresa", "@Model.Foto");
            localStorage.setItem("empresa", "@Model.Nombre");

            $('#fotoEmpresa').attr('src', localStorage.getItem('fotoEmpresa'));

        });


        function guardarFoto() {

            var formData = new FormData();
            var file = $('#fileUpload')[0].files[0];
            formData.append("file", file);

           
             $.ajax({
                type: "post",
                @*headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },*@
                 url: '@Url.Action("CambiarFotoEmpresa", "GrupoEmpresarial", new{ id = Model.Id })',
                 dataType: 'json',
                 contentType: false,
                 processData: false,
                 data: formData,
                 success: function (data) {
                    
                    window.location.href =  window.location.href;

                    },
                 error: function (err) {
                    console.log(err.success);
                }
            });
        }


    $('#fileUpload').bind('change', function () {

        var file = $(this)[0].files[0];

        

        if ($(this).val() != '') {
            $('#guardarFoto').attr('disabled', false);

            var e = 0;
            e = + file.size;

            if (e > 60000) {
                $('#tamanoArchivo').attr('hidden', false);
                $(this).val('');
            }
            else
                $('#tamanoArchivo').attr('hidden', true);

            if (!(/\.(jpg|png|gif)$/i).test(file.name)) {
                $('#tipoArchivo').attr('hidden', false);
                $(this).val('');
            }
            else
                $('#tipoArchivo').attr('hidden', true);

        }
        else
            $('#guardarFoto').attr('disabled', true);

        

    });

    </script>


