@model AltivaWebApp.GEDomain.TbGeEmpresa


<h3>@Model.Nombre</h3>

<a class="btn btn-link btnAtras" data-translate="atras">Atrás</a>

<hr />

<div class="row">
    <div class="col-md-4">
        <img src="@Model.Foto" style="width: 90%" />
        <form asp-controller="GrupoEmpresarial" asp-action="EditarEmpresa" method="post" enctype="multipart/form-data">
            @Html.HiddenFor(x => x.Nombre)
            @Html.HiddenFor(x => x.Id)
            @Html.HiddenFor(x => x.Telefono1)
            @Html.HiddenFor(x => x.Telefono2)
            @Html.HiddenFor(x => x.Bd)
            @Html.HiddenFor(x => x.CedJuridica)
            @Html.HiddenFor(x => x.Correo)
            @Html.HiddenFor(x => x.Direccion)
            @Html.HiddenFor(x => x.Estado)
            @Html.HiddenFor(x => x.FechaCreacion)
            @Html.HiddenFor(x => x.FechaMod)
            @Html.HiddenFor(x => x.IdGrupoEmpresarial)
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend custom-file">
                        <span data-translate="geTxtCambiarLogo" class="input-group-text" id="inputGroup-sizing-sm">Cambiar logo</span>
                    </div>
                    <input type="file" asp-for="Foto" class="form-control custom-file-input" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>


            <button class="btn btn-success btn-sm" type="submit">
                <span  data-translate="geBtnCambiarLogo">Guardar</span>
            </button>
        </form>
    </div>
    <div class="col-md-8">
        <table class="table table-bordered">

            <tbody>
                <tr>
                    <th data-translate="geThNombreE" scope="Row">Nombre</th>
                    <td> @Html.DisplayFor(model => model.Nombre)</td>
                </tr>
                <tr>
                    <th data-translate="geThCorreoE" scope="row">Correo</th>
                    <td> @Html.DisplayFor(model => model.Correo)</td>
                </tr>
                <tr>
                    <th data-translate="geThCedulaE" scope="row">Cédula Jurídica</th>
                    <td> @Html.DisplayFor(model => model.CedJuridica)</td>
                </tr>
                <tr>
                    <th scope="row">Tel</th>
                    <td>@Html.DisplayFor(model => model.Telefono1) - @Html.DisplayFor(model => model.Telefono2)</td>
                </tr>
                <tr>
                    <th data-translate="geThEstadoE" scope="row">Estado</th>
                    <td>@Html.DisplayFor(model => model.Estado)</td>
                </tr>
                <tr>
                    <th data-translate="geThFechaCreacionE" scope="row">Fecha Creación</th>
                    <td>@Html.DisplayFor(model => model.FechaCreacion)</td>
                </tr>
                <tr>
                    <th data-translate="geThFechaModE" scope="row">Fecha Modificación</th>
                    <td>@Html.DisplayFor(model => model.FechaMod)</td>
                </tr>
                <tr>
                    <th data-translate="geThDireccioneE" scope="row">Dirección</th>
                    <td>@Html.DisplayFor(model => model.Direccion)</td>
                </tr>
                <tr>
                    <th data-translate="accion" scope="row">Acción</th>
                    <td><a class="btn btn-link" href="@Url.Action("EditarEmpresa", new { id = Model.Id })"><span data-translate="editar">Editar</span>&nbsp;<span style="font-size: 2rem"><i class="fas fa-edit"></i></span></a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $(document).ready(function(){

        localStorage.setItem("fotoEmpresa", "@Model.Foto");
        localStorage.setItem("empresa", "@Model.Nombre");       

        $('#fotoEmpresa').attr('src', localStorage.getItem('fotoEmpresa'));

    });

</script>


