@model AltivaWebApp.ViewModels.EmpresaViewModel
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    ViewData["Title"] = "EditarEmpresa";
}

<h3>@SharedLocalizer["editarEmpresa"]:</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarEmpresa" method="post">

            <div class="form-group" hidden>
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" id="txtId" readonly class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Nombre" class="control-label">@SharedLocalizer["Nombre"]:</label>
                <input asp-for="@Model.Nombre" id="txt_nombre" class="form-control" />
                <span hidden id="nombreValid" class="text-danger">@SharedLocalizer["nombreRequerido"]</span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Correo" class="control-label">@SharedLocalizer["Correo"]:</label>
                <input asp-for="@Model.Correo" type="email" id="txtCorreo" class="form-control" />
                <span hidden id="correoValid" class="text-danger">@SharedLocalizer["correoRequerido"]</span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Telefono1" class="control-label">@SharedLocalizer["Teléfono"] 1:</label>
                <input asp-for="@Model.Telefono1" id="txtTelefono1" class="form-control" />
                <span hidden id="telefonoValid" class="text-danger">@SharedLocalizer["telefonoRequerido"]</span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Telefono2" class="control-label">@SharedLocalizer["Teléfono"] 2:</label>
                <input asp-for="@Model.Telefono2" id="txtTelefono2" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.CedJuridica" class="control-label">@SharedLocalizer["cedulaJuridica"]:</label>
                <input asp-for="@Model.CedJuridica" id="txtCedJuridica" class="form-control" />
                <span hidden id="cedJuridicaValid" class="text-danger">@SharedLocalizer["cedulaRequerido"]</span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="@Model.Bd" class="control-label"></label>
                <input readonly asp-for="@Model.Bd" id="txt_bd" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Direccion" class="control-label">@SharedLocalizer["Dirección"]:</label>
                <input asp-for="@Model.Direccion" id="txtDireccion" class="form-control" />
                <span hidden id="direccionValid" class="text-danger">@SharedLocalizer["direccionRequerido"]</span>
            </div>
            <div class="form-group" hidden>
                <div class="checkbox">
                    <label>
                        <input readonly value="true" asp-for="@Model.Estado" /> @SharedLocalizer["Activa"]
                    </label>
                </div>
            </div>
            <div class="form-group" hidden>
                <input asp-for="Id_GE" readonly class="form-control" />
            </div>

        </form>

        <div class="form-group">
            <button id="crearEmpresa" class="btn btn-success" onclick="formValid()"><span>@SharedLocalizer["Guardar"]</span> <span><i class="fas fa-save"></i></span></button>
            <a class="btn btn-default" href="@Url.Action("DetallesEmpresa", new { nombre = Model.Nombre })">@SharedLocalizer["Cancelar"]</a>
        </div>

    </div>
</div>

<script>

    $(document).ready(function () {

        $('#txtCedJuridica').mask('0-0000-00000');
        $('#txtTelefono1').mask('0000-0000');
        $('#txtTelefono2').mask('0000-0000');

    });


    function formValid() {

        var flag = true;

        var nombre = $('#txt_nombre').val().replace(/ /g, "");
        var correo = $('#txtCorreo').val().replace(/ /g, "");
        var telefono1 = $('#txtTelefono1').val().replace(/ /g, "");
        var telefono2 = $('#txtTelefono2').val().replace(/ /g, "");
        var direccion = $('#txtDireccion').val().replace(/ /g, "");
        var cedJuridica = $('#txtCedJuridica').val().replace(/ /g, "");

        if (nombre.length < 1) {
            $('#nombreValid').attr('hidden', false);
            flag = false;
        }
        if (correo.length < 1) {
            $('#correoValid').attr('hidden', false);
            flag = false;
        }
        if (telefono1.length < 1) {
            $('#telefonoValid').attr('hidden', false);
            flag = false;
        }
        if (direccion.length < 1) {
            $('#direccionValid').attr('hidden', false);
            flag = false;
        }
        if (cedJuridica.length < 1) {
            $('#cedJuridicaValid').attr('hidden', false);
            flag = false;
        }


        if (flag)
            guardarEmpresa();
    }


    function guardarEmpresa() {

        var model = $('form').serialize();        

        var url = '@Url.Action("EditarEmpresa", "GrupoEmpresarial", new { id = "__id__" })';

        url = url.replace("__id__", $('#txtId').val());

         $.ajax({
                type: "post",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
             },
             url: url,
             data: model,
             success: function (data) {
                 if (data.success === true) {
                     window.location.href = '@Url.Action("DetallesEmpresa", "GrupoEmpresarial", new { nombre = Model.Nombre })';
                 }
                 else
                     alert(data.success);

                },
             error: function (err) {
                 console.log(err.success);
             }
            });

    }

</script>

