@model IEnumerable<AltivaWebApp.GEDomain.TbGeEmpresa>
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    Layout = "_HomeLayout";

    var empresa = new EmpresaViewModel();
    var grupoEmpresa = ViewData["grupoEmpresas"] as AltivaWebApp.GEDomain.TbGeGrupoEmpresarial;

}


<div class="row">
    <h3 data-translate="">Bienvenido al grupo empresarial "@grupoEmpresa.Nombre"</h3>
    <br />
</div>

<br />

<div class="col-md-12" style="background-color: #EDEDED; width: 100%">
    <br />

    <div class="row" style="padding-left: 1rem"><h4>Información del grupo</h4></div>

    <div class="row">

        <div class="col-md-3">
            <img style="width: 20rem; height:12rem; margin-top: 0.5rem" src="@grupoEmpresa.Foto" />
        </div>
        <div class="col-md-6 col-md-offset-3">
            <table class="table table-bordered">
                <tr>
                    <th>
                        <span data-translate="nombre">Nombre</span>
                    </th>
                    <td>
                        <p>@grupoEmpresa.Nombre</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>Tel</span>
                    </th>
                    <td>
                        <p>@grupoEmpresa.Telefono1 - @grupoEmpresa.Telefono2</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span data-translate="geTxtCorreo">Correo</span>
                    </th>
                    <td>
                        <p>@grupoEmpresa.Correo</p>
                    </td>
                </tr>
            </table>
        </div>


    </div>

    <style>

        #empresa {
            position: relative;
            text-align: center;
            color: white;
        }

        #empresaText {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    </style>

    <hr />

    <div class="row" style="padding-left: 1rem"><h4>Empresas Activas</h4></div>


    <div class="row">

        @foreach (var item in Model)
        {
            var estado = "";
            var activa = true;
            var btn = SharedLocalizer["Desactivar"];
            if (!item.Estado)
            {
                estado = "disabled";
                activa = false;
                btn = SharedLocalizer["Activar"];
            }


            <div class="card" style="margin: 1rem; width: 18rem;">
                <img class="card-img-top" style="width:100%; height:10rem" src="@item.Foto" alt="Card image cap">
                <div class="card-body">
                    <h5>@item.Nombre</h5>
                    <p class="card-text"><strong><span data-translate="cedulaJuridica">Cédula juídica: </span></strong>@item.CedJuridica</p>
                    <p class="card-text"><strong><span>Teléfonos: </span></strong> @item.Telefono1 - @item.Telefono2</p>
                    <p class="card-text"><strong><span>Dirección: </span></strong> @item.Direccion</p>
                    <button @estado onclick="setEmpresa('@item.Nombre', '@item.Foto')" class="btn btn-primary">Ingresar</button>
                    <button onclick="cambiarEstadoEmpresa(@item.Id)" class="btn btn-link">@btn</button>
                </div>
            </div>

        }
        <div class="col-md-3" style="margin: 1rem; width: 18rem;">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <a data-translate="geBtnNuevaEmpresa" style="width: 16rem;" href="@Url.Action("CrearEmpresa")" class="btn btn-primary">Nueva Empresa</a>
                </div>
            </div>
        </div>

    </div>

</div>
<script type="text/javascript">


    function setEmpresa(empresa, imgEmpresa) {
        localStorage.setItem('empresa', empresa);
        localStorage.setItem('fotoEmpresa', imgEmpresa);

        var url = '@Url.Action("DetallesEmpresa", "GrupoEmpresarial", new { nombre = "__nombre__" })'
        window.location.href = url.replace("__nombre__", empresa);
    }

    ////script para cargar la configuracion visual del usuario

    $(document).ready(function () {


        var avatar = '@ViewBag.avatar';

        localStorage.setItem('avatar', avatar);

        var uIdioma = '@ViewBag.idioma';

        if (uIdioma != '') {
            localStorage.setItem("idioma", uIdioma);
        }

        var tema = '@ViewBag.tema';


        if (tema != '') {
            localStorage.setItem("tema", tema);
        }



    });


    function cambiarEstadoEmpresa(idEmpresa) {


        bootbox.confirm("@SharedLocalizer["confirmDesactivarEmpresa"]", function (result) {

            var url = '@Url.Action("CambiarEstadoEmpresa", new { id = "__id__" })';
            url = url.replace("__id__", idEmpresa);

             if (result) {
                $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: url,
                    success: function (data) {
                        window.location.href = "@Url.Action("ListarEmpresas")";
                    },
                    error: function (err) {
                        cargarAlert('@SharedLocalizer["errorGeneral"]');
                        console.log(err.success);
                    }
                });

             }
               
        });

       

    }

</script>



