@model TbSeUsuario
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    Layout = "_Empresas";
    ViewData["Title"] = Lb["Empresas"] + " - ALTIVA";
    var empresa = new EmpresaViewModel();
    var grupoEmpresa = ViewData["grupoEmpresas"] as AltivaWebApp.GEDomain.TbGeGrupoEmpresarial;
    ViewData["Bienvenida"] = @Lb["BienvenidoGrupoEmpresarial"] + " " + grupoEmpresa.Nombre;
}

<div class="card bg-white" style="background-color:white; color:#1f1e1e; margin-left:6px; margin-right:6px; margin-bottom:6px;">
    <div class="row" style="padding-left: 1rem">
        <div class="col-md-4 col-sm-6 col-xs-12" style="min-width:25rem">
            <img style="width: 20rem; height:12rem; margin-top: 0rem" src="@grupoEmpresa.Foto" />
            <table style="min-width:400px; margin-top:1rem; margin-bottom:1.5rem">
                <tr>
                    <td>
                        <span><b>@Lb["Nombre"]</b></span>
                    </td>
                    <td>
                        <span>@grupoEmpresa.Nombre</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>@Lb["Teléfono"]</b></span>
                    </td>
                    <td>
                        <span>@grupoEmpresa.Telefono1 - @grupoEmpresa.Telefono2</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <span><b>@Lb["Corrreo"]</b></span>
                    </td>
                    <td>
                        <span>@grupoEmpresa.Correo</span>
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-8 col-sm-6 col-xs-2">           

            <div class="row" style="padding-top:1rem">

                @foreach (var item in Model.TbSeEmpresaUsuario.OrderByDescending(e => e.Estado && e.IdEmpresaNavigation.Estado ? 1 : 0))
                {
                    var estado = "";
                    var estadoUser = "";
                    var activa = true;
                    var btn = Lb["Desactivar"];
                    if (!item.IdEmpresaNavigation.Estado)
                    {
                        estado = "disabled";
                        activa = false;
                        btn = Lb["Activar"];
                    }
                    if (!item.Estado)
                    {
                        estadoUser = "disabled";
                    }
                <div class="col-md-3 col-sm-6 col-xs-12 card border-primary mb-3" style="margin-left: 6px; margin-right:20px; min-width: 15rem;">
                    <div class="text-center">
                        <img class="boton_personalizado" style="width:100%; max-height:10rem; max-width:20rem; margin-top:0.5rem;" src="@item.IdEmpresaNavigation.Foto" alt="@item.IdEmpresaNavigation.Nombre" @estadoUser @estado onclick="setEmpresa('@item.IdEmpresaNavigation.Nombre', '@item.IdEmpresaNavigation.Foto', '@item.IdEmpresaNavigation.Correo', '@item.IdEmpresaNavigation.Telefono1', '@item.IdEmpresaNavigation.Telefono1', '@item.IdEmpresaNavigation.CedJuridica')">
                    </div>
                      
                        <h5 class="card-title">@item.IdEmpresaNavigation.Nombre</h5>
                        <p class="card-text"><strong><span>@Lb["cedulaJuridica"]: </span></strong>@item.IdEmpresaNavigation.CedJuridica</p>
                        <button @estadoUser @estado onclick="setEmpresa('@item.IdEmpresaNavigation.Nombre', '@item.IdEmpresaNavigation.Foto', '@item.IdEmpresaNavigation.Correo', '@item.IdEmpresaNavigation.Telefono1', '@item.IdEmpresaNavigation.Telefono1', '@item.IdEmpresaNavigation.CedJuridica')" class="btn btn-primary">@Lb["Ingresar"]</button>
                        <button @estadoUser onclick="cambiarEstadoEmpresa(@item.IdEmpresaNavigation.Id, '@item.IdEmpresaNavigation.Estado')" class="btn btn-link">@btn</button>
                    </div>
                    }
                </div>
        </div>
    </div>

</div>

<style type="text/css">
    .boton_personalizado {
        text-decoration: none;
        padding: 10px;
        font-weight: 600;
        font-size: 20px;
        color: white;
        background-color: white;
        border-radius: 6px;
        border: 2px thin #1883ba;
    }

        .boton_personalizado:hover {
            color: #171616;
            background-color: #1883ba;
        }
</style>


<script type="text/javascript">




    ////script para cargar la configuracion visual del usuario

    $(document).ready(function () {


    });

    function setEmpresa(empresa, imgEmpresa, correo, tel1, tel2, ced) {
        localStorage.setItem('empresa', empresa);
        localStorage.setItem('fotoEmpresa', imgEmpresa);
        var model = {
            correo: correo,
            tel: tel1 + " - " + tel2,
            ced: ced
        };
        localStorage.setItem('empresaInfo', JSON.stringify(model));

        var url = setIdiomaUrl('@Url.Action("DetallesEmpresa", "GrupoEmpresarial", new { nombre = "__nombre__" })');
        window.location.href = url.replace("__nombre__", empresa);
    }

    function cambiarEstadoEmpresa(idEmpresa, estado) {

        if (estado === "false")
            ajaxEstado(idEmpresa);
        else
            bootbox.confirm("@Lb["confirmDesactivarEmpresa"]", function (result) {
                if (result) {
                    ajaxEstado(idEmpresa);
                }

            });



    }

    function ajaxEstado(idEmpresa) {
        var url = '@Url.Action("CambiarEstadoEmpresa", new { id = "__id__" })';
            url = url.replace("__id__", idEmpresa);


                $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: url,
                    success: function (data) {
                        window.location.href = "@Url.Action("ListarEmpresas")";
                    },
                    error: function (err) {
                        cargarAlert('@Lb["errorGeneral"]');
                        console.log(err.success);
                    }
                });


    }

</script>



