@model TbSeUsuario
@inject IStringLocalizer<SharedResources> Lb
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    Layout = "_HomeLayout";

    var empresa = new EmpresaViewModel();
    var grupoEmpresa = ViewData["grupoEmpresas"] as AltivaWebApp.GEDomain.TbGeGrupoEmpresarial;

}


<div class="row">
    <div class="col-md-12">
        <h3>@Lb["Bienvenido"] "@grupoEmpresa.Nombre"</h3>
    </div>
    <br />
</div>

<br />

<div style="background-color: #EDEDED; width: 100%">
    <br />

    <div class="row" style="padding-left: 1rem">
        <div class="col-md-12">
            <h4>@Lb["informacionGrupo"]</h4>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12" style="min-width:25rem">
            <img style="width: 20rem; height:12rem; margin-top: 0.5rem" src="@grupoEmpresa.Foto" />
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12">
            <table class="table table-bordered" style="min-width:400px">
                <tr>
                    <th >
                        <span>@Lb["Nombre"]</span>
                    </th>
                    <td>
                        <p>@grupoEmpresa.Nombre</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>@Lb["Teléfono"]</span>
                    </th>
                    <td>
                        <p>@grupoEmpresa.Telefono1 - @grupoEmpresa.Telefono2</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>@Lb["Corrreo"]</span>
                    </th>
                    <td>
                        <p>@grupoEmpresa.Correo</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <hr />

    <div class="col-md-12" style="padding-left: 1rem"><h4>@Lb["Empresas"]</h4></div>


    <div class="row" style="padding-top:1rem">
        
        @foreach (var item in Model.TbSeEmpresaUsuario.OrderByDescending(e => e.Estado && e.IdEmpresaNavigation.Estado ? 1 : 0))
        {
            var estado = "";
            var estadoUser = "";
            var activa = true;
            var btn = Lb["Desactivar"];
            if (!item.IdEmpresaNavigation.Estado)
            {
                estado = "disabled";
                activa = false;
                btn = Lb["Activar"];
            }
            if (!item.Estado)
            {
                estadoUser = "disabled";
            }

            <div class="col-md-3 col-sm-6 col-xs-12 card " style="margin-left: 2rem; min-width: 15rem;">
                <img class="card-img-top" style="width:100%; height:10rem" src="@item.IdEmpresaNavigation.Foto" alt="Card image cap">
                <div style="padding:0.5rem">
                    <h5>@item.IdEmpresaNavigation.Nombre</h5>
                    <p class="card-text"><strong><span>@Lb["cedulaJuridica"]: </span></strong>@item.IdEmpresaNavigation.CedJuridica</p>
                    <p class="card-text"><strong><span>@Lb["Teléfono"]: </span></strong> @item.IdEmpresaNavigation.Telefono1 - @item.IdEmpresaNavigation.Telefono2</p>
                    <p class="card-text"><strong><span>@Lb["Dirección"]: </span></strong> @item.IdEmpresaNavigation.Direccion</p>
                    <button @estadoUser @estado onclick="setEmpresa('@item.IdEmpresaNavigation.Nombre', '@item.IdEmpresaNavigation.Foto', '@item.IdEmpresaNavigation.Correo', '@item.IdEmpresaNavigation.Telefono1', '@item.IdEmpresaNavigation.Telefono1', '@item.IdEmpresaNavigation.CedJuridica')" class="btn btn-primary">@Lb["Ingresar"]</button>
                    <button @estadoUser onclick="cambiarEstadoEmpresa(@item.IdEmpresaNavigation.Id, '@item.IdEmpresaNavigation.Estado')" class="btn btn-link">@btn</button>
                </div>
            </div>

        }
            <div hidden class="col-md-3 col-sm-6 col-xs-12 card" style="margin-left: 2rem; width: 18rem;">
                <div class="card-body">
                    <a style="width: 100%;" href="@Url.Action("CrearEmpresa")" class="btn btn-primary">@Lb["Nueva"] @Lb["Empresa"]</a>
                </div>
            </div>

    </div>

</div>
<script type="text/javascript">


    

    ////script para cargar la configuracion visual del usuario

    $(document).ready(function () {


    });

    function setEmpresa(empresa, imgEmpresa, correo, tel1, tel2, ced) {
        localStorage.setItem('empresa', empresa);
        localStorage.setItem('fotoEmpresa', imgEmpresa);
        var model = {
            correo: correo,
            tel: tel1 + " - " + tel2,
            ced: ced
        };
        localStorage.setItem('empresaInfo', JSON.stringify(model));

        var url = setIdiomaUrl('@Url.Action("DetallesEmpresa", "GrupoEmpresarial", new { nombre = "__nombre__" })');
        window.location.href = url.replace("__nombre__", empresa);
    }

    function cambiarEstadoEmpresa(idEmpresa, estado) {

        if (estado === "false")
            ajaxEstado(idEmpresa);
        else
            bootbox.confirm("@Lb["confirmDesactivarEmpresa"]", function (result) {
                if (result) {
                    ajaxEstado(idEmpresa);
                }

            });



    }

    function ajaxEstado(idEmpresa) {
        var url = '@Url.Action("CambiarEstadoEmpresa", new { id = "__id__" })';
            url = url.replace("__id__", idEmpresa);


                $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: url,
                    success: function (data) {
                        window.location.href = "@Url.Action("ListarEmpresas")";
                    },
                    error: function (err) {
                        cargarAlert('@Lb["errorGeneral"]');
                        console.log(err.success);
                    }
                });


    }

</script>



