@model IEnumerable<AltivaWebApp.GEDomain.TbGeEmpresa>
@inject IStringLocalizer<SharedResources> SharedLocalizer
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@{
    Layout = "_HomeLayout";

    var empresa = new EmpresaViewModel();
    var grupoEmpresa = ViewData["grupoEmpresas"] as AltivaWebApp.GEDomain.TbGeGrupoEmpresarial;

}


<div class="row">
    <div class="col-md-12">
        <h3 data-translate="">Bienvenido al grupo empresarial "@grupoEmpresa.Nombre"</h3>
    </div>
    <br />
</div>

<br />

<div style="background-color: #EDEDED; width: 100%">
    <br />

    <div class="row" style="padding-left: 1rem">
        <div class="col-md-12">
            <h4>Información del grupo</h4>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12" style="min-width:25rem">
            <img style="width: 20rem; height:12rem; margin-top: 0.5rem" src="@grupoEmpresa.Foto" />
        </div>
        <div class="col-md-8 col-sm-6 col-xs-12">
            <table class="table table-bordered" style="min-width:400px">
                <tr>
                    <th >
                        <span>@SharedLocalizer["Nombre"]</span>
                    </th>
                    <td>
                        <p>@grupoEmpresa.Nombre</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>@SharedLocalizer["Teléfono"]</span>
                    </th>
                    <td>
                        <p>@grupoEmpresa.Telefono1 - @grupoEmpresa.Telefono2</p>
                    </td>
                </tr>
                <tr>
                    <th>
                        <span>@SharedLocalizer["Corrreo"]</span>
                    </th>
                    <td>
                        <p>@grupoEmpresa.Correo</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>


    <hr />

    <div class="col-md-12" style="padding-left: 1rem"><h4>@SharedLocalizer["Empresas"]</h4></div>


    <div class="row" style="padding-top:1rem">
        
        @foreach (var item in Model)
        {
            var estado = "";
            var activa = true;
            var btn = SharedLocalizer["Desactivar"];
            if (!item.Estado)
            {
                estado = "disabled";
                activa = false;
                btn = SharedLocalizer["Activar"];
            }


            <div class="col-md-3 col-sm-6 col-xs-12 card " style="margin-left: 2rem; min-width: 15rem;">
                <img class="card-img-top" style="width:100%; height:10rem" src="@item.Foto" alt="Card image cap">
                <div style="padding:0.5rem">
                    <h5>@item.Nombre</h5>
                    <p class="card-text"><strong><span>@SharedLocalizer["cedulaJuridica"]: </span></strong>@item.CedJuridica</p>
                    <p class="card-text"><strong><span>@SharedLocalizer["Teléfono"]: </span></strong> @item.Telefono1 - @item.Telefono2</p>
                    <p class="card-text"><strong><span>@SharedLocalizer["Dirección"]: </span></strong> @item.Direccion</p>
                    <button @estado onclick="setEmpresa('@item.Nombre', '@item.Foto', '@item.Correo', '@item.Telefono1', '@item.Telefono1', '@item.CedJuridica')" class="btn btn-primary">@SharedLocalizer["Ingresar"]</button>
                    <button onclick="cambiarEstadoEmpresa(@item.Id, '@item.Estado')" class="btn btn-link">@btn</button>
                </div>
            </div>

        }
            <div class="col-md-3 col-sm-6 col-xs-12 card" style="margin-left: 2rem; width: 18rem;">
                <div class="card-body">
                    <a style="width: 100%;" href="@Url.Action("CrearEmpresa")" class="btn btn-primary">@SharedLocalizer["Nueva"] @SharedLocalizer["Empresa"]</a>
                </div>
            </div>

    </div>

</div>
<script type="text/javascript">


    function setEmpresa(empresa, imgEmpresa, correo, tel1, tel2, ced) {
        localStorage.setItem('empresa', empresa);
        localStorage.setItem('fotoEmpresa', imgEmpresa);
        var model = {
            correo: correo,
            tel: tel1 + " - " + tel2,
            ced: ced
        };
        localStorage.setItem('empresaInfo', JSON.stringify(model));
        var url = '@Url.Action("DetallesEmpresa", "GrupoEmpresarial", new { nombre = "__nombre__" })'
        window.location.href = url.replace("__nombre__", empresa);
    }

    ////script para cargar la configuracion visual del usuario

    $(document).ready(function () {


        var avatar = '@ViewBag.avatar';

        localStorage.setItem('avatar', avatar);

        var uIdioma = '@ViewBag.idioma';

        if (uIdioma != '') {
            localStorage.setItem("idioma", uIdioma);
        }

        var tema = '@ViewBag.tema';


        if (tema != '') {
            localStorage.setItem("tema", tema);
        }



    });


    function cambiarEstadoEmpresa(idEmpresa, estado) {

        if (estado === "false")
            ajaxEstado(idEmpresa);
        else
            bootbox.confirm("@SharedLocalizer["confirmDesactivarEmpresa"]", function (result) {
                if (result) {
                    ajaxEstado(idEmpresa);
                }

            });



    }

    function ajaxEstado(idEmpresa) {
        var url = '@Url.Action("CambiarEstadoEmpresa", new { id = "__id__" })';
            url = url.replace("__id__", idEmpresa);


                $.ajax({
                    type: "get",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    url: url,
                    success: function (data) {
                        window.location.href = "@Url.Action("ListarEmpresas")";
                    },
                    error: function (err) {
                        cargarAlert('@SharedLocalizer["errorGeneral"]');
                        console.log(err.success);
                    }
                });


    }

</script>



