@model AltivaWebApp.ViewModels.CotizacionViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@inject IStringLocalizer<SharedResources> Lb

@{
    ViewData["Title"] = "CrearCotizacion";
    var monedas = ViewData["monedas"] as IList<TbSeMoneda>;
    var estado = "";
    var usuario = ViewData["usuario"] as TbSeUsuario;
}

<h2>@Lb["CrearCotizacion"]</h2>

<form id="CrearCotizacion">
    @Html.HiddenFor(x => x.IdCotizacion)
    @Html.HiddenFor(x => x.FechaCotizacion)
    @Html.HiddenFor(x => x.IdUsuarioCreador)
    @Html.HiddenFor(x => x.Estado)
    <div class="form-group">
        <div class="form-row">
            <div class="col-md-2">
                <fieldset>
                    <div class="form-group">
                        <label for="fecha">@Lb["Fecha"]:</label>
                        <div class='input-group date' id='fechaPicker'>
                            <input type='text' class="form-control" id="fecha" />
                            <span class="input-group-addon">
                                <span class="fas fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="col-md-2">
                <label asp-for="IdCliente">@Lb["Cliente"]:</label>
                <select id="ddClientes" class="form-control search-key">
                    <option selected value="0">@Lb["Seleccione"]</option>

                </select>
            </div>
            <div class="col-md-2">
                <label>@Lb["Moneda"]:</label>
                <select id="ddMoneda" class="form-control search-key">
                    <option selected value="0">@Lb["Seleccione"]</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>@Lb["Usuario"]:</label>
                <label id="lbCreador" class="form-control" disabled></label>
            </div>
            <div class="col-md-2">
                <label>@Lb["Vendedor"]:</label>
                <select id="ddVendedor" class="form-control search-key">
                    <option selected value="0">@Lb["Seleccione"]</option>
                </select>
            </div>
            <div class="col-md-2">
                <fieldset>
                    <div class="form-group">
                        <label for="fechaVencimiento">@Lb["FechaVencimiento"]:</label>
                        <div class='input-group date' id='fechaPickerVencimiento'>
                            <input type='text' class="form-control" id="fechaVencimiento" />
                            <span class="input-group-addon">
                                <span class="fas fa-calendar"></span>
                            </span>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    @if (Model.IdCotizacion != 0)
    {

        <div class="form-group">
            <div class="form-row">
                <div class="col-md-2">
                    <label>@Lb["Estado"]:</label>
                    <select id="ddEstado" class="form-control search-key">
                        <option value="0">@Lb["Borrador"]</option>
                        <option value="1">@Lb["Enviada"]</option>
                        <option value="2">@Lb["Anulada"]</option>
                        <option value="3">@Lb["Aceptada"]</option>
                        <option value="4">@Lb["Rechazada"]</option>
                        <option value="5">@Lb["Facturada"]</option>
                    </select>
                </div>
            </div>
        </div>
    }
    else

    {

    }
</form>
<div class="form-group">
    <div class="form-row">
        <div class="col-md-12 table-responsive">
            <br />
            <table class=" table table-bordered" style="width:100%" id="tblDetalleCotizacion">
                <thead>
                    <tr>

                        <th style="width:10%">
                            <span>@Lb["Item"]</span>
                        </th>
                        <th style="width:6%;">
                            <span>@Lb["Cantidad"]</span>
                        </th>
                        <th style="width:6%;">
                            <span>(%) @Lb["Descuento"]</span>
                        </th>
                        <th style="width:10%;">
                            <span>@Lb["PrecioUnitario"]</span>
                        </th>
                        <th style="width:10%;">
                            <span>@Lb["Total"]</span>
                        </th>
                        <th style="width:6%;">
                            <span>@Lb["accion"]</span>
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="lineaForm">
                        <td class="col-md-3">
                            <div class="col-md-9">
                                <select class="form-control" id="ddInventario">
                                    <option selected value="0">@Lb["Seleccione"]</option>
                                </select>
                            </div>
                            <div class="col-md-1"><label id="lbExistencia"></label></div>
                        </td>

                        <td><input id="lbCantidad" class="form-control cantidad" type="text" min="1" value="1" /></td>
                        <td><input id="lbDescuento" class="form-control numerico" type="text" min="0" value="0" /></td>
                        <td><input id="lbCostoPromedio" class="form-control moneda numerico" type="text" /></td>
                        <td><input type="text" class="form-control moneda" readonly id="lbTotal" /></td>
                        <td>
                            <button class="btn btn-link btnAccion" onclick="guardarCambios()"><i class="fas fa-save"></i></button>
                        </td>
                    </tr>
                </tbody>

            </table>

        </div>

    </div>
</div>
<div class="form-group">
    <div class="form-row">
        <div class="col-md-10">

        </div>
        <div class="col-md-2">
            <label>@Lb["SubTotal"]:</label>
            <input type="text" class="form-control currency" id="txtSubTotal" disabled />
            <label>@Lb["Descuento"]:</label>
            <input type='text' class="form-control currency" id="txtDescuento" disabled />
            <label>@Lb["Impuesto"]:</label>
            <input type='text' class="form-control currency" id="txtImpuesto" disabled />
            <label>@Lb["Total"]:</label>
            <input type='text' class="form-control currency" id="txtTotal" disabled />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <button class="btn btn-success btnAccion" onclick="guardarSalir()">@Lb["Guardar"] <i class="fas fa-save"></i></button>
        <a onclick="cancelar()" class="btn btn-default">@Lb["Cancelar"]</a>
    </div>
</div>


<input readonly hidden id="monedaFormater" />
<div hidden><input hidden id="formater" class="currency" type="text" /></div>

<script>
    var Usuarios = [];
    var bodegas = [];
    var IdUsuarioLogueado = 0;
    var _Inventario = [];
    var arrayItems = [];
    var items = $('#items');
    var _Existencia = 0;
    var contadorFila = 0;
    var lineasAgregadas = [];
    var lineas = [];
    var $precio = $('#lbCostoPromedio');
    var $cantidad = $('#lbCantidad');
    var $unidad = $('#unidad');
    var $porcDescuento = $('#lbDescuento');
    var CambioDolar = 0;
    var CambioEuro = 0;
    var _estado = 0;
    var lineasEliminadas = [];
    var _LineaDetalle=[]

    //operaciones
    var subTotalGravadoBase = 0;
    var subTotalGravadoDolar = 0;
    var subTotalGravadoEuro = 0;
    var subTotalExcentoBase = 0;
    var subTotalExcentoDolar = 0;
    var subTotalExcentoEuro = 0;
    var porcDescuento = 0;
    var totalDescuentoBase = 0;
    var totalDescuentoDolar = 0;
    var totalDescuentoEuro = 0;
    var subTotalGravadoNetoBase = 0;
    var subTotalGravadoNetoDolar = 0;
    var subTotalGravadoNetoEuro = 0;
    var subTotalExcentoNetoBase = 0;
    var subTotalExcentoNetoDolar = 0;
    var subTotalExcentoNetoEuro = 0;
    var montoIvaBase = 0;
    var montoIvaDolar = 0;
    var montoIvaEuro = 0;
    var totalBase = 0;
    var totalDolar = 0;
    var totalEuro = 0;
    var $Clientes = $('#ddClientes');
    var $Creador = $('#lbCreador')
    var $Moneda = $('#ddMoneda');
    var $Vendedor = $('#ddVendedor');
    var $FechaCotizacion = $('#fecha');
    var $FechaVencimiento = $('#fechaVencimiento');
    var $txtSubTotal = $('#txtSubTotal');
    var $txtDescuento = $('#txtDescuento');
    var $txtImpuesto = $('#txtImpuesto');
    var $txtTotal = $('#txtTotal');
    var monedas = [];
    var lineasEliminadas = [];


    $(document).ready(function () {

        getMonedas();
 
   


        $('#fechaPicker').datetimepicker({
            defaultDate: new Date(),
            locale: localStorage.getItem("idioma"),
            format: 'DD-MM-YYYY',


        }).on('keypress paste', function (e) {
            e.preventDefault();
            return false;
        });

        $('#fechaPickerVencimiento').datetimepicker({
            defaultDate: new Date(),
            locale: localStorage.getItem("idioma"),
            format: 'DD-MM-YYYY',


        }).on('keypress paste', function (e) {
            e.preventDefault();
            return false;
            });


        $(".numerico").inputmask({

            'alias': 'decimal',

            rightAlign: true,

        });

        $(".cantidad").inputmask({

            'alias': 'decimal',

         rightAlign:false,

        });

        getInventario();
        getClientes();
        getUsuarios();
        fechasEditar();

    });


/////////////////////////////GETS///////////////////////////////////////////////////////////////////////////////////////////////
            function getCotizacionDetalle() {
        if(@Model.IdCotizacion != 0)
        $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
            url: '@Url.Action("GetCotizacionDetalle")',

            success: function (data) {
                compraDetalleBD = JSON.parse(JSON.stringify(data));
                _LineaDetalle = data;
                cargarLineas(data);
                CalcularTotalesCotizacion(data, $('#ddMoneda').val());

               },
            error: function (err, scnd) {
               cargarAlert('@Lb["errorGeneral"]');
            }
        });
    }

        function getClientes() {
            $.ajax({
                type: "get",
                headers: {
                    "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                },
                dataType: "json",
                url: '@Url.Action("GetAllClientes", "Contacto")',
                success: function (data) {
                    _Clientes = data;
                    cargarddClientes(data);

                },
                error: function (err, scnd) {
                    cargarAlert('@Lb["errorGeneral"]');
                    console.log(err.statusText);
                }
            });
        }

            function getMonedas() {
         $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
              url: '@Url.Action("GetMonedas", "Monedas")',
             success: function (data) {
                 monedas = data;
                 cargarddMoneda(data);

              },
              error: function (err, scnd) {
                  cargarAlert('@Lb["errorGeneral"]');
                  console.log(err.statusText);
              }
          });
    }

                function getUsuarios() {
         $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
              url: '@Url.Action("GetUsuariosPorEmpresa", "ManejoUsuarios")',
             success: function (data) {
                 Usuarios = data;

                 getIdUsuarioLogueado();
                 cargarddUsuarios(data);
              },
              error: function (err, scnd) {
                  cargarAlert('@Lb["errorGeneral"]');
                  console.log(err.statusText);
              }
          });
        }

       function getIdUsuarioLogueado() {
         $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
              url: '@Url.Action("GetInfoLogueado", "CotizacionProducto")',
             success: function (data) {
                 IdUsuarioLogueado = data;
                 GetUsuarioLogueado();
              },
              error: function (err, scnd) {
                  cargarAlert('@Lb["errorGeneral"]');
                  console.log(err.statusText);
              }
          });
    }

    function GetUsuarioLogueado() {

        for (var i = 0; i <Usuarios.length; i++) {
            if (Usuarios[i].id === IdUsuarioLogueado) {
                $("#lbCreador").text(Usuarios[i].nombre);
                    if (@Model.IdCotizacion != 0) {
                        $Creador.val(@Model.IdUsuarioCreador);
                 }
            }
          }
        }

          function getInventario() {
            ///get inventario
            $.ajax({

            type: "get",
            headers: {
                "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            dataType: "json",
            url: '@Url.Action("GetAllInventario", "Inventario")',
                success: function (data) {
               cargarddInventario(data);
                    _Inventario = data;
                inventario = JSON.parse(JSON.stringify(data));
            },
            error: function (err, scnd) {
                console.log(err.statusText);
            }
            });
        }



        function existeItem(id) {
            var flag = false;
            for (var i = 0; i < _Inventario.length; i++) {

                if (parseInt(_Inventario[i].idInventario) === parseInt(id))
                    flag = true;
            }
            return flag;
        }

    function validarLinea() {

        var flag = true;
        var exi = parseFloat($("#lbExistencia").text());
        var cant = parseFloat($("#lbCantidad").text());
        if ( exi < cant ){
                flag = false;
                 cargarAlert('@Lb["cantidaMayorQueExistencias"]');
        }

        return flag;

    }

    function fechasEditar() {
        var date = new Date();
        if (@Model.IdCotizacion!= 0) {
            $FechaCotizacion.val(formatearFechaCotizacion());
            $FechaVencimiento.val(formatearFechaVencimiento());
        }
    }

        function formatearFechaCotizacion() {

        return '@Model.FechaCotizacion.Month' + "-" + '@Model.FechaCotizacion.Day' + "-" + '@Model.FechaCotizacion.Year';

    }

        function formatearFechaVencimiento() {

        return '@Model.FechaVencimiento.Month' + "-" + '@Model.FechaVencimiento.Day' + "-" + '@Model.FechaVencimiento.Year';

    }
///////////////////////////////////AJUSTES/////////////////////////////////////////////////////////////////////
        $("#ddInventario").change(function () {
            var _CostoPromedio = 0;
            for (var i = 0; i < _Inventario.length; i++) {
                if (_Inventario[i].idInventario === parseInt($(this).val())) {
                    _Existencia ="Existencia: "+ _Inventario[i].existenciaGeneral;
                    _CostoPromedio = _Inventario[i].costoPromedioGeneral;
                    $("#lbExistencia").text(_Existencia);
                    $("#lbCostoPromedio").val(_CostoPromedio);
                    setTotalLinea();
                }
            }

    });

    $("#ddMoneda").change(function () {

        cargarTabla(_LineaDetalle, parseInt($(this).val()));
        CalcularTotalesCotizacion(_LineaDetalle, parseInt($(this).val()))
    });

        $("#lbCantidad").on('focusout', function () {
            if ($(this).val() <= 0 || $(this).val() === "")
                $(this).val(1);

            setTotalLinea();
    });


        $("#lbCostoPromedio").on('focusout', function () {
            if ($(this).val() <= 0 || $(this).val() === "")
                $(this).val(1);

            setTotalLinea();
    });

        function setTotalLinea() {

            var precio = parseFloat($("#lbCostoPromedio").val());
            var cantidad = parseFloat($("#lbCantidad").val());
            $("#lbTotal").val(cantidad * precio);

    }




////////////////////////////////////CARGAR DROPDOWNS//////////////////////////////////////////////////////////////

        function cargarddMoneda(moneda) {

            for (var i = 0; i < moneda.length; i++) {
                var o = "<option value=" + moneda[i].codigo + ">" + moneda[i].nombre + "</option>";
                $("#ddMoneda").append(o);

                CambioDolar = moneda[1].valorCompra;
                CambioEuro = moneda[2].valorCompra;
            }
                if (@Model.IdCotizacion != 0) {
                    $Moneda.val(@Model.IdMoneda);

                 }

        }


        function cargarddUsuarios(usuarios) {
            for (var i = 0; i < usuarios.length; i++) {
                var o = "<option value=" + usuarios[i].id + ">" + usuarios[i].nombre + "</option>";
                $("#ddVendedor").append(o);
            }
                if (@Model.IdCotizacion != 0) {
                    $Vendedor.val(@Model.IdVendedor);
                 }
        }

        function cargarddClientes(clientes) {

            for (var i = 0; i < clientes.length; i++) {
                var o = "<option value=" + clientes[i].idContacto + ">" + clientes[i].nombre + "</option>";
                $("#ddClientes").append(o);
            }
                  if (@Model.IdCotizacion != 0) {
                      $Clientes.val(@Model.IdCliente);

                      switch ("@Model.Estado") {
                          case "Borrador":
                              _estado = 0;
                              break;
                          case "Enviada":
                              _estado = 1;
                              break;
                          case "Anulada":
                              _estado = 2;
                              break;
                          case "Aceptada":
                              _estado = 3;
                              break;
                          case "Rechazada":
                              _estado = 4;
                              break;
                          case "Facturada":
                              _estado = 5;
                              break;

                      }
                      $("#ddEstado").val(_estado);

                 }

        }

        function cargarddInventario(inventario) {
            for (var i = 0; i < inventario.length; i++) {
                var o = "<option value=" + inventario[i].idInventario + ">" + inventario[i].descripcion + "</option>";
                $("#ddInventario").append(o);
            }
               if (@Model.IdCotizacion!= 0) {
                   getCotizacionDetalle();

                }
        }

    function NombreItem(IdInventario) {

        for (var i = 0; i < _Inventario.length; i++) {
            if (_Inventario[i].idInventario === parseInt(IdInventario)) {
                return _Inventario[i].descripcion;
            }
        }
    }

    function cargarTabla(data, moneda) {

        console.log(moneda);
        console.log(data);
        $('.filasCargadas').remove();

        contadorFila = 0;
        switch (moneda) {

            case "0":
                for (var i = 0; i < data.length; i++) {
                    contadorFila++;
                    var body = '<tr class="filasCargadas" id="fila' + contadorFila + '">'
                        + '<td style="padding-top:2rem;">' + NombreItem(data[i].idInventario) + '</td> '
                        + '<td style="padding-top:2rem;">' + data[i].cantidad + '</td>'
                        + '<td style="padding-top:2rem;">' + data[i].porcDescuento + '</td>'
                        + '<td style="padding-top:2rem;"><input style="border:0; background-color : #F7F7F7" class="currency" value="' + darFormatoMoneda(data[i].precioBase) + '"/></td>'
                        + '<td style="padding-top:2rem;"><input style="border:0; background-color : #F7F7F7" class="currency" value="' + data[i].totalBase + '"/></td>'
                        + '<td><button  class="btn btn-link" value="' + contadorFila + '" onclick="eliminarCotizacionDetalle(value, ' + data[i].idCotizacionDetalle + ')" ><i class="fas fa-trash"></i></button></td></tr>';
                    $('.lineaForm').before(body);
                }
                break;
            case "1":
                console.log("entro");
                for (var i = 0; i < data.length; i++) {
                    contadorFila++;
                    var body = '<tr class="filasCargadas" id="fila' + contadorFila + '">'
                        + '<td style="padding-top:2rem;">' + NombreItem(data[i].idInventario) + '</td> '
                        + '<td style="padding-top:2rem;">' + data[i].cantidad + '</td>'
                        + '<td style="padding-top:2rem;">' + data[i].porcDescuento + '</td>'
                        + '<td style="padding-top:2rem;"><input style="border:0; background-color : #F7F7F7" class="currency" value="' + darFormatoMoneda(data[i].precioBaseDolar) + '"/></td>'
                        + '<td style="padding-top:2rem;"><input style="border:0; background-color : #F7F7F7" class="currency" value="' + data[i].totalDolar + '"/></td>'
                        + '<td><button  class="btn btn-link" value="' + contadorFila + '" onclick="eliminarCotizacionDetalle(value, ' + data[i].idCotizacionDetalle + ')" ><i class="fas fa-trash"></i></button></td></tr>';
                    $('.lineaForm').before(body);
                }
                break;
            case "2":
                for (var i = 0; i < data.length; i++) {
                    contadorFila++;
                    var body = '<tr class="filasCargadas" id="fila' + contadorFila + '">'
                        + '<td style="padding-top:2rem;">' + NombreItem(data[i].idInventario) + '</td> '
                        + '<td style="padding-top:2rem;">' + data[i].cantidad + '</td>'
                        + '<td style="padding-top:2rem;">' + data[i].porcDescuento + '</td>'
                        + '<td style="padding-top:2rem;"><input style="border:0; background-color : #F7F7F7" class="currency" value="' + darFormatoMoneda(data[i].precioEuro) + '"/></td>'
                        + '<td style="padding-top:2rem;"><input style="border:0; background-color : #F7F7F7" class="currency" value="' + data[i].totalEuro + '"/></td>'
                        + '<td><button  class="btn btn-link" value="' + contadorFila + '" onclick="eliminarCotizacionDetalle(value, ' + data[i].idCotizacionDetalle + ')" ><i class="fas fa-trash"></i></button></td></tr>';
                    $('.lineaForm').before(body);
                }
                break;
        }



        var simbolo = "₡";
        if (parseInt($('.tipoMoneda').val()) === 2)
            simbolo = "$";
        else if (parseInt($('.tipoMoneda').val()) === 3)
            simbolo = "€";

        $(".currency").inputmask('currency', {
            prefix: simbolo,
            rightAlign: true
        });

        inicializaCampos();
    }

    function darFormatoMoneda(value) {

        var clase = "";
        var moneda = $('#ddMoneda').val();

        if (moneda === "1")
            clase = "colon";
        else if (moneda === "2")
            clase = "dolar"
        else if (moneda === "3")
            clase = "euro"

        $('#monedaFormater').removeClass("colon dolar euro");
        $('#monedaFormater').addClass(clase);

        //inicializa formato
        $(".colon").inputmask('currency', {
            prefix: monedas[0].simbolo,
            rightAlign: true
        });
        $(".dolar").inputmask('currency', {
            prefix: monedas[1].simbolo,
            rightAlign: true
        });
        $(".euro").inputmask('currency', {
            prefix: monedas[2].simbolo,
            rightAlign: true
        });

        $('#monedaFormater').val(value);
        return $('#monedaFormater').val();

    }

    ////////////////////////////////////////////////////////////FUNCIONES DE GUARDADO,EDITAR//////////////////////////////////////


    function guardarCambios() {


            guardarLinea();
            guardarCotizacion();

    }

    function inicializaCampos() {
       $("#ddInventario").val(0);
        $("#lbCantidad").val(1);
        $("#lbDescuento").val(0);
        $("#lbExistencia").val(1);
        $("#lbCostoPromedio").val(0);
        $("#lbTotal").val(0);
        setTotalLinea();
    }

    function inicializarTabla() {
        $('#tblDetalleCotizacion').DataTable().destroy();
        tblCotizacion = $('#tblCotizacion').DataTable({
            "info": false,
            dom: 'Bfrtip',
            language: {
                "decimal": "",
                "emptyTable": "@Lb["NoDatos"]",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "@Lb["Mostrar"] _MENU_ @Lb["Entradas"]",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "<i class='fas fa-search'></i>",
                "zeroRecords": "@Lb["sinResultados"]",
                "paginate": {
                    "first": "@Lb["Primero"]",
                    "last": "@Lb["Último"]",
                    "next": "@Lb["Sguiente"]",
                    "previous": "@Lb["Anterior"]"
                }
            },
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fas fa-copy   " ></i>',
                    titleAttr: 'Copy',
                    title: '@Lb["CrarCotizacion"]',
                    exportOptions: {
                        columns: [0, 1, 3]
                    }

                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel  "></i>',
                    titleAttr: 'Excel',
                    title: '@Lb["CrearCotizacion"]',
                    exportOptions: {
                        columns: [0, 1, 3]
                    }

                },

                {
                    extend: 'pdfHtml5',
                    text: '<i class="fas fa-file-pdf   "></i>',
                    titleAttr: 'PDF',
                    title: '@Lb["AjusteManual"]',
                    exportOptions: {
                        columns: [0, 1, 3]
                    }
                }
            ]
        });

        $(".dataTables_searching").hide();
    }

    function crearModelo() {


        var _fechaCotizacion;
        var _fechaVencimiento;
        var _fechaCreacion;
        var _estado;
        var ordenModel;
        if (@Model.IdCotizacion!= 0) {
            _fechaCotizacion = " @Model.FechaCotizacion";
            _fechaVencimiento = "@Model.FechaVencimiento";
            _fechaCreacion = "@Model.FechaCreacion";

            switch ($("#ddEstado option:selected").val()) {
                case "0":
                    _estado = "Borrador";
                    break;
                case "1":
                    _estado = "Enviada";
                    break;
                case "2":
                    _estado = "Anulada";
                    break;
                case "3":
                    _estado = "Aceptada";
                    break;
                case "4":
                    _estado = "Rechazada";
                    break;
                case "5":
                    _estado = "Facturada";
                    break;
            }

          ordenModel = {
                idCotizacion: @Model.IdCotizacion,
                fechaCotizacion: _fechaCotizacion,
                idCliente: $("#ddClientes").val(),
                estado: _estado,
                idMoneda: $("#ddMoneda").val(),
                idVendedor: $("#ddVendedor").val(),
                fechaVencimiento: _fechaVencimiento,
                idUsuarioCreador: IdUsuarioLogueado,
                fechaCreacion: _fechaCreacion,
                subTotalBase: 0,
                subTotalDolar: 0,
                subTotalEuro: 0,
                subTotalGravadoBase:0,
                subTotalGravadoDolar: 0,
                subTotalGravadoEuro: 0,
                subTotalExcentoBase: 0,
                subTotalExcentoDolar: 0,
                subTotalExcentoEuro: 0,
                porcDescuentoBase: 0,
                totalDescuentoBase: 0,
                totalDescuentoDolar: 0,
                totalDescuentoEuro: 0,
                subTotalGravadoNetoBase: 0,
                subTotalGravadoNetoDolar: 0,
                subTotalGravadoNetoEuro: 0,
                subTotalExcentoNetoBase: 0,
                subTotalExcentoNetoDolar: 0,
                subTotalExcentoNetoEuro: 0,
                montoIvaBase: 0,
                montoIvaDolar: 0,
                montoIvaEuro: 0,
                totalBase: 0,
                totalDolar: 0,
                totalEuro: 0,
                tipoCambioDolar: CambioDolar,
                tipoCambioEuro: CambioEuro,
                cotizacionDetalle: crearModeloDetalle(lineasAgregadas)
            };
        }
        else {
            _fechaCotizacion = $FechaCotizacion.val();
            _fechaVencimiento = $FechaVencimiento.val();
            _estado = "Borrador";

              ordenModel = {
                idCotizacion: @Model.IdCotizacion,
                fechaCotizacion: _fechaCotizacion,
                idCliente: $("#ddClientes").val(),
                estado: _estado,
                idMoneda: $("#ddMoneda").val(),
                idVendedor: $("#ddVendedor").val(),
                fechaVencimiento: _fechaVencimiento,
                idUsuarioCreador: IdUsuarioLogueado,
                subTotalBase: 0,
                subTotalDolar: 0,
                subTotalEuro: 0,
                 subTotalGravadoBase: 0,
                subTotalGravadoDolar: 0,
                subTotalGravadoEuro: 0,
                subTotalExcentoBase: 0,
                subTotalExcentoDolar: 0,
                subTotalExcentoEuro: 0,
                porcDescuentoBase: 0,
                totalDescuentoBase: 0,
                totalDescuentoDolar: 0,
                totalDescuentoEuro: 0,
                subTotalGravadoNetoBase: 0,
                subTotalGravadoNetoDolar: 0,
                subTotalGravadoNetoEuro: 0,
                subTotalExcentoNetoBase: 0,
                subTotalExcentoNetoDolar: 0,
                subTotalExcentoNetoEuro: 0,
                montoIvaBase: 0,
                montoIvaDolar: 0,
                montoIvaEuro: 0,
                totalBase: 0,
                totalDolar: 0,
                totalEuro: 0,
                tipoCambioDolar: CambioDolar,
                tipoCambioEuro: CambioEuro,
                cotizacionDetalle: crearModeloDetalle(lineasAgregadas)
            };
        }

        return ordenModel;
    }

    function crearModeloDetalle(model) {

        for (var i = 0; i < model.length; i++) {
            model[i].precioBase = model[i].precioBase.toString().replace(".", ",");
            model[i].precioDolar = model[i].precioDolar.toString().replace(".", ",");
            model[i].precioEuro = model[i].precioEuro.toString().replace(".", ",");
            model[i].subTotalBase = model[i].subTotalBase.toString().replace(".", ",");
            model[i].subTotalDolar = model[i].subTotalDolar.toString().replace(".", ",");
            model[i].subTotalEuro = model[i].subTotalEuro.toString().replace(".", ",");
            model[i].subTotalGravadoBase = model[i].subTotalGravadoBase.toString().replace(".", ",");
            model[i].subTotalGravadoDolar = model[i].subTotalGravadoDolar.toString().replace(".", ",");
            model[i].subTotalGravadoEuro = model[i].subTotalGravadoEuro.toString().replace(".", ",");
            model[i].subTotalExcentoBase = model[i].subTotalExcentoBase.toString().replace(".", ",");
            model[i].subTotalExcentoDolar = model[i].subTotalExcentoDolar.toString().replace(".", ",");
            model[i].subTotalExcentoEuro = model[i].subTotalExcentoEuro.toString().replace(".", ",");
            model[i].porcDescuento = model[i].porcDescuento.toString().replace(".", ",");
            model[i].totalDescuentoBase = model[i].totalDescuentoBase.toString().replace(".", ",");
            model[i].totalDescuentoDolar = model[i].totalDescuentoDolar.toString().replace(".", ",");
            model[i].totalDescuentoEuro = model[i].totalDescuentoEuro.toString().replace(".", ",");
            model[i].subTotalGravadoBase = model[i].subTotalGravadoBase.toString().replace(".", ",");
            model[i].subTotalGravadoDolar = model[i].subTotalGravadoDolar.toString().replace(".", ",");
            model[i].subTotalGravadoEuro = model[i].subTotalGravadoEuro.toString().replace(".", ",");
            model[i].subTotalExcentoBase = model[i].subTotalExcentoBase.toString().replace(".", ",");
            model[i].subTotalExcentoDolar = model[i].subTotalExcentoDolar.toString().replace(".", ",");
            model[i].subTotalExcentoEuro = model[i].subTotalExcentoEuro.toString().replace(".", ",");
            model[i].montoIvaBase = model[i].montoIvaBase.toString().replace(".", ",");
            model[i].montoIvaDolar = model[i].montoIvaDolar.toString().replace(".", ",");
            model[i].montoIvaEuro = model[i].montoIvaEuro.toString().replace(".", ",");
            model[i].totalBase = model[i].totalBase.toString().replace(".", ",");
            model[i].totalDolar = model[i].totalDolar.toString().replace(".", ",");
            model[i].totalEuro = model[i].totalEuro.toString().replace(".", ",");
            model[i].cantidad = model[i].cantidad.toString().replace(".", ",");
            model[i].idCotizacion = model[i].idCotizacion.toString().replace(".", ",");
        }
        return model;
    }

      function cancelar() {
        var msj = "@Lb["confirmCancelar"]";

        bootbox.confirm(msj, function (result) {

            if (result)
                window.location.href = "@Url.Action("ListarCotizacionProducto","CotizacionProducto")";

        });
    }


    function eliminarCotizacionDetalle(_id, idLinea) {
        bootbox.confirm("@Lb["confirmEliminarLinea"]", function (result) {

            if (result) {
                eliminarDetalleDB(_id, idLinea);
            }
        });
    }

    function eliminarDetalleDB(_id, idLinea) {
                if (idLinea != 0) {
                     $.ajax({
                    type: "POST",
                    headers: {
                        "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
                    },
                    dataType: "json",
                    url: '@Url.Action("EliminarCotizacionDetalle")',
                    data: { idCD: idLinea },
                    success: function (data) {
                        eliminarLinea(_id);
                    },
                    error: function (err, scnd) {
                        cargarAlert('@Lb["errorGeneral"]');
                        console.log(err.statusText);
                    }
                    });
                }
                else
            eliminarLinea(_id);

    }

    function eliminarLinea(key) {
        var id = key - 1;
        lineasAgregadas.splice($.inArray(lineas[id], lineasAgregadas), 1);
        lineas.splice(id, 1);

      //  calcularTotales();
        CalcularTotalesCotizacion(lineas, $('#ddMoneda').val());
        cargarTabla(lineas,$('#ddMoneda').val());
    }


    function validarExistencia(idlinea) {

        var salida = "";
        var linea = lineas[idlinea];

        if (linea.movimiento === "true") {


            for (var i = 0; i < lineas.length; i++) {
                if (lineas[i].idInventario === linea.idInventario && lineas[i].movimiento === "false")
                    salida = lineas[i];
            }
            if (salida === "")
                return true;
            else {
                var item = getItem(parseInt(linea.idInventario))[0];

                var existencia = item.existenciaBodega - parseInt(linea.cantidad);

                if (existencia >= parseInt(salida.cantidad))
                    return true;
                else {

                    cargarAlert("@Lb["noPuedeEliminarlinea"]");
                    return false;
                }
            }

        }

        else
            return true;
    }

    function guardarCotizacion() {

        $.ajax({
              type: "POST",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
            url: '@Url.Action("CrearEditarCotizacion", "CotizacionProducto")',
            data: crearModelo(),
            success: function (data) {

                if (data.success) {
                    lineas[lineas.length - 1].idCotizacionDetalle = data.idCD;
                    lineasAgregadas[lineasAgregadas.length - 1].idCotizacionDetalle= data.idCD;

                    cargarTabla(lineas,$('#ddMoneda').val());
                    if (@Model.IdCotizacion === 0) {
                        var url = "@Url.Action("EditarCotizacion", new { id = "__id__" })";
                        window.location.href = url.replace("__id__", data.idCotizacion);
                    }
                }
                else
                    cargarAlert("@Lb["numCompraRepitida"]");


               },
              error: function (err, scnd) {
                  cargarAlert('@Lb["errorGeneral"]');
                  console.log(err.statusText);
              }
        });

    }

    function guardarLinea() {
        console.log("Guardarlinea");
           var model = {
            idCotizacionDetalle: 0,
            idInventario: $("#ddInventario").val(),
            precioBase:parseFloat( $precio.val()),
            precioDolar:0,
            precioEuro:0,
            fechaCreacion:$("#fecha").val(),
            idUsuarioCreador: IdUsuarioLogueado,
            subTotalBase: fnSubTotalBase($("#ddInventario").val()),
            subTotalDolar: 0,
            subTotalEuro: 0,
            subTotalGravadoBase: fnSubTotalGravadoBase($("#ddInventario").val()),
            subTotalGravadoDolar: 0,
            subTotalGravadoEuro: 0,
            subTotalExcentoBase: fnSubTotalExcentoBase($("#ddInventario").val()),
            subTotalExcentoDolar: 0,
            subTotalExcentoEuro: 0,
            porcDescuento:$porcDescuento.val(),
            totalDescuentoBase:fnTotalDescuentoBase(),
            totalDescuentoDolar:0,
            totalDescuentoEuro:0,
            subTotalGravadoNetoBase: fnSubTotalGravadoNetoBase($("#ddInventario").val()),
            subTotalGravadoNetoDolar:0,
            subTotalGravadoNetoEuro: 0,
            subTotalExcentoNetoBase: fnSubTotalExcentoNetoBase($("#ddInventario").val()),
            subTotalExcentoNetoDolar: 0,
            subTotalExcentoNetoEuro: 0,
            montoIvaBase: fnMontoIvaBase($("#ddInventario").val()),
            montoIvaDolar: 0,
            montoIvaEuro:0,
            totalBase: fnTotalBase($("#ddInventario").val()),
            totalDolar:0,
            totalEuro:0,
            idCotizacion:@Model.IdCotizacion,
            cantidad: parseFloat($cantidad.val())

        };

        lineasAgregadas = [];

        lineasAgregadas.push(model);
        lineas.push(model);

        calcularTotales();
        CalcularTotalesCotizacion(lineas,$('#ddMoneda').val());
    }

        function guardarSalir() {

            guardarCotizacion();

            window.location.href = "@Url.Action("ListarCotizacionProducto")";

    }


         function guardarCompraBorrador() {
        if (lineas.length <= 0) {
            cargarAlert('@Lb["compraSinDetalle"]');
        } else
        $.ajax({
              type: "POST",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
            url: '@Url.Action("CambiarEstadoBorradorCompra")',
            data: crearModelo(),
            success: function (data) {

                if (!data.success)
                   cargarAlert("@Lb["numCompraRepitida"]");

               },
              error: function (err, scnd) {
                  cargarAlert('@Lb["errorGeneral"]');
                  console.log(err.statusText);
              }
        });

    }

    function calcularTotales() {


        for (var i = 0; i < lineas.length; i++) {

            subTotalExcentoBase += parseFloat(lineas[i].subTotalExcentoBase);
            subTotalExcentoDolar += parseFloat(lineas[i].subTotalExcentoDolar);
            subTotalExcentoEuro += parseFloat(lineas[i].subTotalExcentoEuro);
            subTotalGravadoBase += parseFloat(lineas[i].subTotalGravadoBase);
            subTotalGravadoDolar += parseFloat(lineas[i].subTotalGravadoDolar);
            subTotalGravadoEuro += parseFloat(lineas[i].subTotalGravadoEuro);
            totalBase += parseFloat(lineas[i].subTotalExcentoBase) + parseFloat(lineas[i].subTotalGravadoBase);
            totalDolar += parseFloat(lineas[i].subTotalExcentoDolar) + parseFloat(lineas[i].subTotalGravadoDolar);
            totalEuro += parseFloat(lineas[i].subTotalExcentoEuro) + parseFloat(lineas[i].subTotalGravadoEuro);
            montoIvaBase += parseFloat(lineas[i].montoIvaBase);
            montoIvaDolar += parseFloat(lineas[i].montoIvaDolar);
            montoIvaEuro += parseFloat(lineas[i].montoIvaEuro);
            totalDescuentoBase += parseFloat(lineas[i].totalBase) - ((parseFloat(lineas[i].porcDescuento) * parseFloat(lineas[i].totalBase)) / 100);
            totalDescuentoDolar += (parseFloat(lineas[i].totalBase) - ((parseFloat(lineas[i].porcDescuento) * parseFloat(lineas[i].totalBase)) / 100))*parseFloat(lineas[i].CambioDolar);
            totalDescuentoEuro += (parseFloat(lineas[i].totalBase) - ((parseFloat(lineas[i].porcDescuento) * parseFloat(lineas[i].totalBase)) / 100))*parseFloat(lineas[i].CambioEuro);
            montoIvaBase += parseFloat(lineas[i].montoIvaBase);
            montoIvaDolar += parseFloat(lineas[i].montoIvaBase)*parseFloat(lineas[i].CambioDolar);
            montoIvaEuro += parseFloat(lineas[i].montoIvaBase) * parseFloat(lineas[i].CambioEuro);
            subTotalGravadoBase += parseFloat(lineas[i].subTotalGravadoBase);
            subTotalGravadoDolar += parseFloat(lineas[i].subTotalGravadoBase)*parseFloat(lineas[i].CambioDolar);
            subTotalGravadoEuro += parseFloat(lineas[i].subTotalGravadoBase) * parseFloat(lineas[i].CambioEuro);

        }

    }


    function cargarLineas(data) {

        for (var i = 0; i < data.length; i++) {
            var model = {
            idCotizacionDetalle:data[i].idCotizacionDetalle,
            idInventario: data[i].idInventario,
            precioBase:data[i].precioBase ,
            precioDolar: data[i].precioDolar,
            precioEuro: data[i].precioEuro,
            fechaCreacion: data[i].fechaCreacion,
            idUsuarioCreador: data[i].idUsuarioCreador,
            subTotalBase: data[i].subTotalBase,
            subTotalDolar:data[i].subTotalDolar,
            subTotalEuro: data[i].subTotalEuro,
            subTotalGravadoBase: data[i].subTotalGravadoBase,
            subTotalGravadoDolar: data[i].subTotalGravadoDolar,
            subTotalGravadoEuro: data[i].subTotalGravadoEuro,
            subTotalExcentoBase: data[i].subTotalExcentoBase,
            subTotalExcentoDolar: data[i].subTotalExcentoDolar,
            subTotalExcentoEuro:data[i].subTotalExcentoEuro,
            porcDescuento:data[i].porcDescuento,
            totalDescuentoBase: data[i].totalDescuentoBase,
            totalDescuentoDolar: data[i].totalDescuentoDolar,
            totalDescuentoEuro:data[i].totalDescuentoEuro,
            subTotalGravadoNetoBase: data[i].subTotalGravadoNetoBase,
            subTotalGravadoNetoDolar: data[i].subTotalGravadoNetoDolar,
            subTotalGravadoNetoEuro: data[i].subTotalGravadoNetoEuro,
            subTotalExcentoNetoBase: data[i].subTotalExcentoNetoBase,
            subTotalExcentoNetoDolar: data[i].subTotalExcentoNetoDolar,
            subTotalExcentoNetoEuro:data[i].subTotalExcentoNetoEuro,
            montoIvaBase: data[i].montoIvaBase,
            montoIvaDolar: data[i].montoIvaDolar,
            montoIvaEuro: data[i].montoIvaEuro,
            totalBase: data[i].totalBase,
            totalDolar: data[i].totalDolar,
            totalEuro: data[i].totalEuro,
            cantidad:data[i].cantidad
            };
            lineas.push(model);
        }

            cargarTabla(lineas,$('#ddMoneda').val());
        console.log("Cargarlinea");
        CalcularTotalesCotizacion(lineas, $('#ddMoneda').val());

    }

    //////calculos de linea/////////////////////////////////////////////////////////////////////

    function fnSubTotalBase() {
        switch ($Moneda.val()) {
            case "1":
                break;
        }
        return parseFloat($cantidad.val() * $precio.val());

    }



    function fnSubTotalGravadoBase(IdInventario) {

        for (var i = 0; i < _Inventario.length; i++)
        {
            if (_Inventario[i].idInventario == parseInt(IdInventario)) {
                var imp = parseFloat(_Inventario[i].impuestoVenta);
                if (imp != 0) {
                    return parseFloat(($cantidad.val() * $precio.val()));
                } else {
                    return 0;
                }
            }
        }
    }



    function fnSubTotalExcentoBase(IdInventario) {

        for (var i = 0; i < _Inventario.length; i++) {
            if (_Inventario[i].idInventario == parseInt(IdInventario)) {
                var imp = parseFloat(_Inventario[i].impuestoVenta);
                if (imp === "0") {
                    return parseFloat($cantidad.val() * $precio.val());
                } else {
                    return 0;
                }
            }
        }
    }

    function fnTotalDescuentoBase() {

        var porc = parseFloat($porcDescuento.val());
        var Descuento = parseFloat((($cantidad.val() * $precio.val()) * porc) / 100);
        if (porc != "0") {
            return parseFloat( Descuento)
        } else {
            return 0;
        }
    }


    function fnSubTotalGravadoNetoBase(IdInventario) {

        for (var i = 0; i < _Inventario.length; i++) {
            if (_Inventario[i].idInventario == parseInt(IdInventario)) {
                var imp = parseFloat(_Inventario[i].impuestoVenta);
                if (imp != "0") {
                    return parseFloat(($cantidad.val() * $precio.val()) -fnTotalDescuentoBase());
                } else {
                    return 0;
                }
            }
        }
    }



    function fnSubTotalExcentoNetoBase(IdInventario) {

        for (var i = 0; i < _Inventario.length; i++) {
            if (_Inventario[i].idInventario == parseInt(IdInventario)) {
                var imp = parseFloat(_Inventario[i].impuestoVenta);
                if (imp === "0") {
                    return parseFloat(($cantidad.val() * $precio.val()) - fnTotalDescuentoBase());
                } else {
                    return 0;
                }
            }
        }
    }


    function fnMontoIvaBase(IdInventario) {
        for (var i = 0; i < _Inventario.length; i++) {
            if (_Inventario[i].idInventario == parseInt(IdInventario)) {
                var imp = parseFloat(_Inventario[i].impuestoVenta);
                if (imp != "0") {
                    return parseFloat((fnSubTotalGravadoNetoBase(IdInventario)*imp)/100);
                } else {
                    return 0;
                }
            }
        }
    }


    function fnTotalBase(IdInventario) {

       return parseFloat( fnSubTotalGravadoNetoBase(IdInventario)+fnSubTotalExcentoBase(IdInventario)+fnMontoIvaBase(IdInventario))
    }

//////////////////////TotalesCotizacion/////////////////////////////////////////////////////////////////////////////////////////////

    function CalcularTotalesCotizacion(_Lineas, _Moneda) {
        console.log(_Lineas);
        var subTotal = 0;
        var descuento = 0;
        var impuesto = 0;
        var total = 0;

        switch (_Moneda) {
            case "0":
                for (var i = 0; i < _Lineas.length; i++) {

                    subTotal += parseFloat(_Lineas[i].subTotalBase);
                    descuento += parseFloat(_Lineas[i].totalDescuentoBase);
                    impuesto += parseFloat(_Lineas[i].montoIvaBase);
                    total += parseFloat(_Lineas[i].totalBase);
                }
                break;
            case "1":
                for (var i = 0; i < _Lineas.length; i++) {

                    subTotal += parseFloat(_Lineas[i].subTotalDolar);
                    descuento += parseFloat(_Lineas[i].totalDescuentoDolar);
                    impuesto += parseFloat(_Lineas[i].montoIvaDolar);
                    total += parseFloat(_Lineas[i].totalDolar);
                }
                break;
            case "2":
                for (var i = 0; i < _Lineas.length; i++) {

                    subTotal += parseFloat(_Lineas[i].subTotalDolar);
                    descuento += parseFloat(_Lineas[i].totalDescuentoDolar);
                    impuesto += parseFloat(_Lineas[i].montoIvaDolar);
                    total += parseFloat(_Lineas[i].totalDolar);
                }
                break;

        }


        $txtSubTotal.val(subTotal);
        $txtDescuento.val(descuento);
        $txtImpuesto.val(impuesto);
        $txtTotal.val(total);


    }


</script>

<script src="~/lib/vendors/jsPDF/AM.js"></script>