@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@inject IStringLocalizer<SharedResources> Lb

@{
    ViewData["Title"] = "ListarCotizacionProducto";
      var date = DateTime.Now;
}


<div class="row">
    <div class="col-md-2">
        <h3>@Lb["Cotizacion"]</h3>
    </div>
    <div class="col-md-4" padding-top:0.7rem">
        <p>
            <a asp-action="CrearCotizacion" class="btn btn-primary"><span>@Lb["Agregar"] </span>&nbsp;<i class="fas fa-plus-circle"></i></a>
        </p>
    </div>
</div>


<h5>
    <a data-toggle="collapse" href="#collapseFiltros" role="button" aria-expanded="false" aria-controls="collapseFiltros">
        <span>@Lb["Filtros"]</span>&nbsp;<i class="fas fa-plus-circle"></i>
    </a>
</h5>

<div class="row collapse" id="collapseFiltros">
    <div class="col-md-2 col-sm-6 col-xs-12" style="margin-top: 0.2rem">
        <label class="numerico">@Lb["BuscarPorId"]:</label>
        <input type="text" id="filtroId" class="form-control" />
    </div>
    <div class="col-md-2 col-sm-6 col-xs-12" style="margin-top: 0.2rem">
        <label>@Lb["BuscarPorCliente"]:</label>
        <input type="text" id="filtroCliente" class="form-control" />
    </div>

    <div class="col-md-2 col-sm-6 col-xs-12">
        <label style="padding-top: 0.2rem">@Lb["BuscarPorVendedor"]:</label>
        <input type="text" id="filtroVendedor" class="form-control" />
    </div>

    <div class="col-md-2 col-sm-6 col-xs-12">
        <label>@Lb["BuscarPorEstado"]:</label>
        <select id="Estados" class="form-control search-key">
            <option selected value="0">@Lb["Todos"]</option>
            <option value="1">@Lb["Borrador"]</option>
            <option value="2">@Lb["Enviada"]</option>
            <option value="3">@Lb["Anulada"]</option>
            <option value="4">@Lb["Aceptada"]</option>
            <option value="5">@Lb["Rechazada"]</option>
            <option value="6">@Lb["Facturada"]</option>
        </select>
    </div>


    <div class="col-md-3 col-sm-6 col-xs-12">

        <label class="control-label">
            <input type="checkbox" id="habilitaFiltroFecha"> @Lb["FiltroFecha"]
        </label>
        <form id="frmFecha" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon"><i class="fas fa-calendar"></i></span>
                            <input type="text" style="width: 200px" name="filtroFecha" id="filtroFecha" class="form-control" value="@date.Date - @date.Date" />
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>
</div>
<br />
<div id="partialCotizaciones">

</div>

<input readonly hidden id="monedaFormater" />

<script>
  
    var hasta;
    var desde;
    $(document).ready(function () {
      $('#filtroFecha').attr('disabled', true);
        getlistarPartial();
         $('#filtroFecha').daterangepicker({
            opens: 'left',

            "locale": {
                format: "@Lb["formatoFecha"]",
                "separator": " - ",
                "applyLabel": "@Lb["Aplicar"]",
                "cancelLabel": "@Lb["Cancelar"]",
                "fromLabel": "@Lb["DE"]",
                "toLabel": "@Lb["Hasta"]",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "@Lb["Dom"]",
                    "@Lb["Lun"]",
                    "@Lb["Mar"]",
                    "@Lb["Mie"]",
                    "@Lb["Jue"]",
                    "@Lb["Vie"]",
                    "@Lb["Sáb"]"
                ],
                "monthNames": [
                    "@Lb["Enero"]",
                    "@Lb["Febrero"]",
                    "@Lb["Marzo"]",
                    "@Lb["Abril"]",
                    "@Lb["Mayo"]",
                    "@Lb["Junio"]",
                    "@Lb["Julio"]",
                    "@Lb["Agosto"]",
                    "@Lb["Septiembre"]",
                    "@Lb["Octubre"]",
                    "@Lb["Noviembre"]",
                    "@Lb["Diciembre"]"
                ],
                "firstDay": 1
            }
        },
        function (start, end, label) {

            desde = start.format('YYYY-MM-DD');
            hasta = end.format('YYYY-MM-DD');
            getlistarPartial();

            });

    });
        $('#habilitaFiltroFecha').change(function () {

        if (!$(this).prop('checked')) {
            $('#filtroFecha').attr('disabled', true);
        }
        else {
            $('#filtroFecha').attr('disabled', false);
        }

        getlistarPartial();
    });
     function getlistarPartial(){
        var url = "@Url.Action("_ListarCotizacion")";           
        $.ajax({
            type: "Post",
            url: url,
            data: { filtro: crearModeloFiltro() },
            success: function (data) {
                $('#partialCotizaciones').html(data);
             
            },
            error: function (err, scnd) {
                console.log(err.statusText);
            }

        });
     }
    function crearModeloFiltro() {
        if ($('#habilitaFiltroFecha').prop('checked')) {
            return { desde: desde, hasta: hasta, filtrando: true }
        }
        else {
            return { desde: desde, hasta: hasta, filtrando: false }
        }
    }

    function editarCotizacion(id) {
        var url = '@Url.Action("EditarCotizacion", "CotizacionProducto", new { id = "__id__" })';
        window.location.href = url.replace("__id__", id);
    }
</script>

<style>
    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }
</style>