@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
@inject IStringLocalizer<SharedResources> SharedLocalizer

@{
    ViewData["Title"] = "ListarCotizacionProducto";
}


<div class="row">
    <div class="col-md-2">
    <h3>@SharedLocalizer["Cotizaciones"]</h3>
    </div>
    <div class="col-md-4" style="margin-left:1rem; padding-top:0.7rem">
        <p>
          <a asp-action="CrearCotizacion" class="btn btn-primary"><span>@SharedLocalizer["Crear"] </span>&nbsp;<i class="fas fa-plus-circle"></i></a>
        </p>
    </div>
</div>

<h5>
    <a data-toggle="collapse" href="#collapseFiltros" role="button" aria-expanded="false" aria-controls="collapseFiltros">
        <span>@SharedLocalizer["Filtros"]</span>&nbsp;<i class="fas fa-plus-circle"></i>
    </a>
</h5>

<div class="row collapse" id="collapseFiltros">
    <div class="col-md-2" style="margin-top: 0.2rem">
        <label>@SharedLocalizer["BuscarPorId"]:</label>
        <input type="text" id="filtroId" class="form-control" />
    </div>
    <div class="col-md-2" style="margin-top: 0.2rem">
        <label>@SharedLocalizer["BuscarPorCliente"]:</label>
        <input type="text" id="filtroCliente" class="form-control" />
    </div>

    <div class="col-md-2">
        <label style="padding-top: 0.2rem">@SharedLocalizer["BuscarPorVendedor"]:</label>
        <input type="text" id="filtroVendedor" class="form-control" />
    </div>

    <div class="col-md-2">
        <label>@SharedLocalizer["BuscarPorEstado"]:</label>
        <select id="Estados" class="form-control search-key">
            <option selected value="0">@SharedLocalizer["Todos"]</option>
            <option value="1">@SharedLocalizer["Borrador"]</option>
            <option value="2">@SharedLocalizer["Enviada"]</option>
            <option value="3">@SharedLocalizer["Anulada"]</option>
            <option value="4">@SharedLocalizer["Aceptada"]</option>
            <option value="5">@SharedLocalizer["Rechazada"]</option>
            <option value="6">@SharedLocalizer["Facturada"]</option>
        </select>
    </div>


    <div class="col-md-3">
        <input type="checkbox" id="habilitaFiltroFecha" />
        <label for="habilitaFiltroFecha">@SharedLocalizer["FiltroFecha"]</label>
        <form id="frmFecha" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend input-group">
                            <span class="add-on input-group-addon"><i class="fas fa-calendar"></i></span>
                            <input type="text" style="width: 200px" name="filtroFecha" id="filtroFecha" class="form-control"  />
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>

    </div>



</div>

<br />

<div class="row">
    <div class="col-md-10  table-responsive">
        <table class=" table table-bordered" style="width:100%" id="tblCotizacion">
            <thead>
                <tr>

                    <th style="display:none;"><span>@SharedLocalizer["IdCoTizacion"]</span></th>
                    <th><span>@SharedLocalizer["FechaDeCotizacion"]</span> </th>
                    <th><span>@SharedLocalizer["Cliente"]</span> </th>
                    <th><span>@SharedLocalizer["Estado"]</span> </th>
                    <th><span>@SharedLocalizer["Moneda"]</span></th>
                    <th><span>@SharedLocalizer["Vendedor"]</span></th>
                    <th><span>@SharedLocalizer["FechaDeCreacion"]</span></th>
                    <th style="display:none;"><span>@SharedLocalizer["IdUsuarioCreador"]</span></th>
                    <th><span>@SharedLocalizer["FechaDeVencimiento"]</span></th>
                    <th><span>@SharedLocalizer["Total"]</span></th>
                    <th><span>@SharedLocalizer["Editar"]</span></th>

                </tr>
            </thead>
            <tbody></tbody>
            
        </table>

    </div>

</div>
<script>
    var Cotizaciones = [];
    var CotizacionFiltro = [];
    var Usuarios = [];
    var Clientes = [];
    var tblCotizacion;
    var hasta;
    var desde;


    $(document).ready(function () {

        getMonedas();
        getUsuarios();

        $('#filtroFecha').attr('disabled', true);

        $('#filtroFecha').daterangepicker({
            opens: 'left',

            "locale": {
                format: "@SharedLocalizer["DD/MM/YYYY"]",
                "separator": " - ",
                "applyLabel": "@SharedLocalizer["Aplicar"]",
                "cancelLabel": "@SharedLocalizer["Cancelar"]",
                "fromLabel": "@SharedLocalizer["DE"]",
                "toLabel": "@SharedLocalizer["Hasta"]",
                "customRangeLabel": "Custom",
                "daysOfWeek": [
                    "@SharedLocalizer["Dom"]",
                    "@SharedLocalizer["Lun"]",
                    "@SharedLocalizer["Mar"]",
                    "@SharedLocalizer["Mie"]",
                    "@SharedLocalizer["Jue"]",
                    "@SharedLocalizer["Vie"]",
                    "@SharedLocalizer["Sáb"]"
                ],
                "monthNames": [
                    "@SharedLocalizer["Enero"]",
                    "@SharedLocalizer["Febrero"]",
                    "@SharedLocalizer["Marzo"]",
                    "@SharedLocalizer["Abril"]",
                    "@SharedLocalizer["Mayo"]",
                    "@SharedLocalizer["Junio"]",
                    "@SharedLocalizer["Julio"]",
                    "@SharedLocalizer["Agosto"]",
                    "@SharedLocalizer["Septiembre"]",
                    "@SharedLocalizer["Octubre"]",
                    "@SharedLocalizer["Noviembre"]",
                    "@SharedLocalizer["Diciembre"]"
                ],
                "firstDay": 1
            }
                },
            function (start, end, label) {

                desde = start.format('YYYY-MM-DD');
                hasta = end.format('YYYY-MM-DD');
                cargarFiltros();
                //filtroFecha(start.format('YYYY-MM-DD'), end.format('YYYY-MM-DD'));

            });


    });


    function getCotizacion() {
            ///get ajustes
        $.ajax({
            type: "get",
            headers: {
                      "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
            },
            dataType: "json",
            url: '@Url.Action("GetCotizacion", "CotizacionProducto")',
            success: function (data) {
                Cotizaciones = JSON.parse(JSON.stringify(data));
                cargarDatos(data);
            },
            error: function (err, scnd) {
                cargarAlert('@SharedLocalizer["errorGeneral"]');
                console.log(err.statusText);
                console.log("error traer cotizacion");

            }
        });
    }

    function getMonedas() {
         $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
              url: '@Url.Action("GetMonedas", "Monedas")',
             success: function (data) {

                 monedas = data;
              },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
          });
    }

        function getUsuarios() {
         $.ajax({
              type: "get",
              headers: {
                  "RequestVerificationToken": '@GetAntiXsrfRequestToken()'
              },
              dataType: "json",
              url: '@Url.Action("GetUsuariosPorEmpresa", "ManejoUsuarios")',
             success: function (data) {
                 Usuarios = data;
                 getCotizacion();
              },
              error: function (err, scnd) {
                  cargarAlert('@SharedLocalizer["errorGeneral"]');
                  console.log(err.statusText);
              }
          });
    }


    function GetUsuarioxId(IdVendedor) {


        for (var i = 0; i < Usuarios.length; i++) {
            if (Usuarios[i].id === IdVendedor) {

                return Usuarios[i].nombre;
            }
        }
    }

    function cargarDatos(data) {

        var contadorFila = 0;
        $("#tblCotizacion > tbody").remove();
        $('#tblCotizacion').append('<tbody></tbody>');



        for (var i = 0; i < data.length; i++) {


            var body = '<tr class="fila' + contadorFila + ' filas">'
                + '<td style="display:none;"><p style="padding-top:1rem;">' + data[i].idCotizacion + '</p></td>'
                + '<td><p style="padding-top:1rem">' + recuperarFecha(data[i].fechaCotizacion) + '</p></td>'
                + '<td><p style="padding-top:1rem">' + data[i].idClienteNavigation.nombre + '</p></td>'
                + '<td><p style="padding-top:1rem">' + data[i].estado + '</p></td>'
                + '<td><p style="padding-top:1rem">' +darFormato( data[i].idMoneda) + '</p></td>'
                + '<td><p style="padding-top:1rem">' +GetUsuarioxId(data[i].idVendedor)+ '</p></td>'
                + '<td><p style="padding-top:1rem">' + recuperarFecha(data[i].fechaCreacion) + '</p></td>'
                + '<td style="display:none;"><p style="padding-top:1rem">' + data[i].idUsuarioCreador + '</p></td>'
                + '<td><p style="padding-top:1rem">' +recuperarFecha( data[i].fechaVencimiento) + '</p></td>'
                + '<td><p style="padding-top:1rem">' + data[i].totalBase + '</p></td>'
                + '<td>  <button value="' + data[i].idCotizacion + '" onclick="editarCotizacion(value)" class="btn btn-link btnEditar"><i class="fas fa-edit"></i></button>';
            $('#tblCotizacion > tbody').append(body);
            contadorFila++;
        }



        inicializarTabla();

    }

    function darFormato(idMoneda) {

        if (idMoneda === 1)
            return monedas[0].nombre;
        else if (idMoneda === 2)
            return monedas[1].nombre;
        else if (idMoneda === 3)
            return monedas[2].nombre;
    }

    function inicializarTabla() {
        $('#tblCotizacion').DataTable().destroy();

        tblCotizacion = $('#tblCotizacion').DataTable({
            "info": false,
            dom: 'Bfrtip',
            language: {
                "decimal": "",
                "emptyTable": "@SharedLocalizer["NoDatos"]",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Entradas",
                "infoEmpty": "Mostrando 0 to 0 of 0 Entradas",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "@SharedLocalizer["Mostrar"] _MENU_ @SharedLocalizer["Entradas"]",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "<i class='fas fa-search'></i>",
                "zeroRecords": "@SharedLocalizer["sinResultados"]",
                "paginate": {
                    "first": "@SharedLocalizer["Primero"]",
                    "last": "@SharedLocalizer["Último"]",
                    "next": "@SharedLocalizer["Sguiente"]",
                    "previous": "@SharedLocalizer["Anterior"]"
                }
            },
            buttons: [
                {
                    extend: 'copyHtml5',
                    text: '<i class="fas fa-copy   " ></i>',
                    titleAttr: 'Copy',
                    title: '@SharedLocalizer["AjusteManual"]',
                    exportOptions: {
                        columns: [0, 1, 3]
                    }

                },
                {
                    extend: 'excelHtml5',
                    text: '<i class="fas fa-file-excel  "></i>',
                    titleAttr: 'Excel',
                    title: '@SharedLocalizer["AjusteManual"]',
                    exportOptions: {
                        columns: [0, 1, 3]
                    }

                },

                {
                    extend: 'pdfHtml5',
                    text: '<i class="fas fa-file-pdf   "></i>',
                    titleAttr: 'PDF',
                    title: '@SharedLocalizer["AjusteManual"]',
                    exportOptions: {
                        columns: [0, 1, 3]
                    }
                }
            ]
        });

        $(".dataTables_searching").hide();
    }

    function editarCotizacion(id) {

        var url = '@Url.Action("EditarCotizacion", "CotizacionProducto", new { id = "__id__" })';

        window.location.href = url.replace("__id__", id);
    }

    function recuperarFecha(_fecha) {


        var fecha = _fecha.substr(0, 10);
        var y = fecha.substr(0, 4);
        var m = fecha.substr(5, 2);
        var d = fecha.substr(8, 3);

        //var date = new Date();
        //console.log(fecha);

        return d + "-" + m + "-" + y + " " + _fecha.substr(-8, 8);///new Date(fecha).toLocaleDateString(); //fecha.replace(/-/g, "/");

    }

    /////////////////////filtros//////////////////


    $('#Estados').on('change', function () {

        switch (this.value) {
            case "1":
                tblCotizacion
                    .columns(3)
                    .search("Borrador")
                    .draw();
                break;
            case "2":
                tblCotizacion
                    .columns(3)
                    .search("Enviada")
                    .draw();
                break;
            case "3":
                tblCotizacion
                    .columns(3)
                    .search("Anulada")
                    .draw();
                break;
            case "4":
                tblCotizacion
                    .columns(3)
                    .search("Aceptada")
                    .draw();
                break;
            case "5":
                tblCotizacion
                    .columns(3)
                    .search("Rechazada")
                    .draw();
                break;
            case "6":
                tblCotizacion
                    .columns(3)
                    .search("Facturada")
                    .draw();
                break;
            case "0":
                inicializarTabla();
        }
            });


    $("#filtroCliente").on("keyup", function () {
        tblCotizacion
            .columns(2)
            .search(this.value)
            .draw();
    });

    $("#filtroVendedor").on("keyup", function () {
        tblCotizacion
            .columns(5)
            .search(this.value)
            .draw();
    });

    $("#filtroId").on("keyup", function () {
        tblCotizacion
            .columns(0)
            .search(this.value)
            .draw();
    });

    $('#habilitaFiltroFecha').change(function () {

        if (!$(this).prop('checked')) {
            cargarFiltros();
            $('#filtroFecha').attr('disabled', true);
        }

        else {
            $('#filtroFecha').attr('disabled',false);
            cargarFiltros();
        }

    });

    function cargarFiltros() {

        ajusteFiltrado = JSON.parse(JSON.stringify(Cotizaciones));
        console.log("CargarFiltro:" + ajusteFiltrado);

        ajusteFiltrado = filtroFecha(ajusteFiltrado, desde, hasta);

        cargarDatos(ajusteFiltrado);

    }

    function filtroFecha(array ,_desde, _hasta) {


        var arrayAjustes = [];

        if ($('#habilitaFiltroFecha').prop('checked')) {
            var desdeLocal = new Date(_desde).getTime();
            var hastaLocal = new Date(_hasta).getTime();

            for (var i = 0; i < array.length; i++) {

                var documento = new Date(array[i].fechaCotizacion).getTime();
                var flag = false;

                if (documento >= desdeLocal && documento <= hastaLocal)
                    arrayAjustes.push(array[i]);
            }
            return arrayAjustes;
        }
        else
            return array;





    }



    function filtroItem(array) {

        var arrayAjustes = [];//JSON.parse(JSON.stringify(ajustes));

        var keyword = $("#filtroItem").val();

        if (keyword.replace(/ /g, "") != "") {
            for (var i = 0; i < array.length; i++) {

                for (var j = 0; j < array[i].tbPrAjusteInventario.length; j++) {
                    if (array[i].tbPrAjusteInventario[j].idInventarioNavigation.codigo.indexOf(keyword) > -1) {
                        arrayAjustes.push(array[i]);
                        break;
                    }
                }
            }

            return arrayAjustes

        }
        else
            return array;



    }
</script>

<style>


    .dataTables_wrapper .dataTables_filter {
        float: right;
        text-align: right;
        visibility: hidden;
    }
</style>
